


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link " aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
  <path fill="#fff" d="M0 0h40v16H0z"></path>
  <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
  <image xlink:href="" src="https://assets.nhs.uk/images/nhs-logo-white.png"></image>
</svg>

        
      </a>
    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-page-content">
            
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="header">Header</h1>
<p>Find out more about the header component and when to use it in the <a href="https://beta.nhs.uk/service-manual/patterns/header/">NHS Digital service manual</a>.</p>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/169">GitHub issue for this component</a>.</p>
<h2 id="dependencies">Dependencies</h2>
<p>For this component to work, you need to make sure you include the required JavaScript. You can either include the
compiled JavaScript for all components <code>nhsuk.min.js</code> or the individual component JavaScript <code>header.js</code>.</p>
<p>The search component autocomplete requires jQuery, please ensure you have jQuery included within you project for this to work. In the future we are looking to remove the jQuery dependency. You must also include the typeahead scripts for the autocomplete <code>typeahead.bundle.min.js</code> and <code>nhs.typeahead.js</code>.</p>
<blockquote>
<p>For performance and security reasons, we do not recommend using a jQuery CDN, instead have the jQuery dependency hosted local to your project.</p>
</blockquote>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="header">Header</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header.html">Preview the header component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;header class=&quot;nhsuk-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__content&quot; id=&quot;content-header&quot;&gt;
      &lt;div class=&quot;nhsuk-header__menu&quot;&gt;
        &lt;button class=&quot;nhsuk-header__menu-toggle&quot; id=&quot;toggle-menu&quot; aria-controls=&quot;header-navigation&quot; aria-label=&quot;Open menu&quot;&gt;Menu&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-header__search&quot;&gt;
        &lt;button class=&quot;nhsuk-header__search-toggle&quot; id=&quot;toggle-search&quot; aria-controls=&quot;search&quot; aria-label=&quot;Open search&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
            &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
        &lt;/button&gt;
        &lt;div class=&quot;nhsuk-header__search-wrap&quot; id=&quot;wrap-search&quot;&gt;
          &lt;form id=&quot;search&quot; class=&quot;nhsuk-header__search-form&quot; action=&quot;/search/&quot; method=&quot;get&quot; role=&quot;search&quot;&gt;
            &lt;label class=&quot;nhsuk-u-visually-hidden&quot; for=&quot;search-field&quot;&gt;Search the NHS website&lt;/label&gt;
            &lt;input class=&quot;nhsuk-search__input&quot; id=&quot;search-field&quot; placeholder=&quot;Search&quot; autocomplete=&quot;off&quot; name=&quot;search-field&quot; type=&quot;search&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;nhsuk-search__submit&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class=&quot;nhsuk-search__close&quot; id=&quot;close-search&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Close search&lt;/span&gt;
            &lt;/button&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;nav class=&quot;nhsuk-header__navigation&quot; id=&quot;header-navigation&quot; role=&quot;navigation&quot; aria-label=&quot;Primary navigation&quot; aria-labelledby=&quot;label-navigation&quot;&gt;
    &lt;p class=&quot;nhsuk-header__navigation-title&quot;&gt;
      &lt;span id=&quot;label-navigation&quot;&gt;Menu&lt;/span&gt;
      &lt;button class=&quot;nhsuk-header__navigation-close&quot; id=&quot;close-menu&quot;&gt;
        &lt;svg class=&quot;nhsuk-icon nhsuk-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
          &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
        &lt;/svg&gt;
        &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Close menu&lt;/span&gt;
      &lt;/button&gt;
    &lt;/p&gt;
    &lt;ul class=&quot;nhsuk-header__navigation-list&quot;&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile&quot;&gt;
        &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Home
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/conditions&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Health A-Z
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/live-well/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Live Well
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/conditions/social-care-and-support/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Care and support
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/news/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Health news
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/service-search&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Services near you
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
    &quot;showNav&quot;: &quot;true&quot;,
    &quot;showSearch&quot;: &quot;true&quot;,
    &quot;primaryLinks&quot;: [
      {
        &quot;url&quot;  : &quot;https://www.nhs.uk/conditions&quot;,
        &quot;label&quot; : &quot;Health A-Z&quot;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/live-well/&#39;,
        &#39;label&#39; : &#39;Live Well&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/conditions/social-care-and-support/&#39;,
        &#39;label&#39; : &#39;Care and support&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/news/&#39;,
        &#39;label&#39; : &#39;Health news&#39;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/service-search&#39;,
        &#39;label&#39; : &#39;Services near you&#39;
      }
    ]
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The header Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the site search input form.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
<tr>
<td><strong>primaryLinks</strong></td>
<td>array</td>
<td>No</td>
<td>Array of navigation links.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].url</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the navigation link.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].label</strong></td>
<td>string</td>
<td>No</td>
<td>The label of the navigation link.</td>
</tr>
</tbody></table>
<h3 id="header-with-navigation">Header with navigation</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-navigation.html">Preview the header with navigation component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;header class=&quot;nhsuk-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__content&quot; id=&quot;content-header&quot;&gt;
      &lt;div class=&quot;nhsuk-header__menu nhsuk-header__menu--only&quot;&gt;
        &lt;button class=&quot;nhsuk-header__menu-toggle&quot; id=&quot;toggle-menu&quot; aria-controls=&quot;header-navigation&quot; aria-label=&quot;Open menu&quot;&gt;Menu&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;nav class=&quot;nhsuk-header__navigation&quot; id=&quot;header-navigation&quot; role=&quot;navigation&quot; aria-label=&quot;Primary navigation&quot; aria-labelledby=&quot;label-navigation&quot;&gt;
    &lt;p class=&quot;nhsuk-header__navigation-title&quot;&gt;
      &lt;span id=&quot;label-navigation&quot;&gt;Menu&lt;/span&gt;
      &lt;button class=&quot;nhsuk-header__navigation-close&quot; id=&quot;close-menu&quot;&gt;
        &lt;svg class=&quot;nhsuk-icon nhsuk-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
          &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
        &lt;/svg&gt;
        &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Close menu&lt;/span&gt;
      &lt;/button&gt;
    &lt;/p&gt;
    &lt;ul class=&quot;nhsuk-header__navigation-list&quot;&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile&quot;&gt;
        &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Home
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/conditions&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Health A-Z
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/live-well/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Live Well
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/conditions/social-care-and-support/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Care and support
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/news/&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Health news
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nhsuk-header__navigation-item&quot;&gt;
        &lt;a href=&quot;https://www.nhs.uk/service-search&quot; class=&quot;nhsuk-header__navigation-link&quot;&gt;
          Services near you
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;/&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
    &quot;showNav&quot;: &quot;true&quot;,
    &quot;showSearch&quot;: &quot;false&quot;,
    &quot;primaryLinks&quot;: [
      {
        &quot;url&quot;  : &quot;https://www.nhs.uk/conditions&quot;,
        &quot;label&quot; : &quot;Health A-Z&quot;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/live-well/&#39;,
        &#39;label&#39; : &#39;Live Well&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/conditions/social-care-and-support/&#39;,
        &#39;label&#39; : &#39;Care and support&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/news/&#39;,
        &#39;label&#39; : &#39;Health news&#39;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/service-search&#39;,
        &#39;label&#39; : &#39;Services near you&#39;
      }
    ]
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The header with navigation Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the site search input form.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
<tr>
<td><strong>primaryLinks</strong></td>
<td>array</td>
<td>No</td>
<td>Array of navigation links.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].url</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the navigation link.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].label</strong></td>
<td>string</td>
<td>No</td>
<td>The label of the navigation link.</td>
</tr>
</tbody></table>
<h3 id="header-with-search">Header with search</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-search.html">Preview the header with search component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;header class=&quot;nhsuk-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__content&quot; id=&quot;content-header&quot;&gt;
      &lt;div class=&quot;nhsuk-header__search&quot;&gt;
        &lt;button class=&quot;nhsuk-header__search-toggle&quot; id=&quot;toggle-search&quot; aria-controls=&quot;search&quot; aria-label=&quot;Open search&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
            &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
        &lt;/button&gt;
        &lt;div class=&quot;nhsuk-header__search-wrap&quot; id=&quot;wrap-search&quot;&gt;
          &lt;form id=&quot;search&quot; class=&quot;nhsuk-header__search-form&quot; action=&quot;/search/&quot; method=&quot;get&quot; role=&quot;search&quot;&gt;
            &lt;label class=&quot;nhsuk-u-visually-hidden&quot; for=&quot;search-field&quot;&gt;Search the NHS website&lt;/label&gt;
            &lt;input class=&quot;nhsuk-search__input&quot; id=&quot;search-field&quot; placeholder=&quot;Search&quot; autocomplete=&quot;off&quot; name=&quot;search-field&quot; type=&quot;search&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;nhsuk-search__submit&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class=&quot;nhsuk-search__close&quot; id=&quot;close-search&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Close search&lt;/span&gt;
            &lt;/button&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
    &quot;showNav&quot;: &quot;false&quot;,
    &quot;showSearch&quot;: &quot;true&quot;,
    &quot;primaryLinks&quot;: [
      {
        &quot;url&quot;  : &quot;https://www.nhs.uk/conditions&quot;,
        &quot;label&quot; : &quot;Health A-Z&quot;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/live-well/&#39;,
        &#39;label&#39; : &#39;Live Well&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/conditions/social-care-and-support/&#39;,
        &#39;label&#39; : &#39;Care and support&#39;
      },
      {
        &#39;url&#39;  : &#39;https://www.nhs.uk/news/&#39;,
        &#39;label&#39; : &#39;Health news&#39;
      },
      {
        &#39;url&#39; : &#39;https://www.nhs.uk/service-search&#39;,
        &#39;label&#39; : &#39;Services near you&#39;
      }
    ]
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The header with search Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the site search input form.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
<tr>
<td><strong>primaryLinks</strong></td>
<td>array</td>
<td>No</td>
<td>Array of navigation links.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].url</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the navigation link.</td>
</tr>
<tr>
<td><strong>primaryLinks.[].label</strong></td>
<td>string</td>
<td>No</td>
<td>The label of the navigation link.</td>
</tr>
</tbody></table>
<h3 id="header-with-logo">Header with logo</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-logo.html">Preview the header with logo component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-HTML">&lt;header class=&quot;nhsuk-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
  &quot;showNav&quot;: &quot;false&quot;,
  &quot;showSearch&quot;: &quot;false&quot;
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The header with logo Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the site search input form.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
</tbody></table>
<h3 id="header-with-logo-transactional-header-">Header with logo (transactional header)</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-transactional.html">Preview the header with logo component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-HTML">&lt;header class=&quot;nhsuk-header nhsuk-header--transactional&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;   
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
  &quot;transactional&quot;: &quot;true&quot;,
  &quot;showNav&quot;: &quot;false&quot;,
  &quot;showSearch&quot;: &quot;false&quot;
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The transactional header with logo macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the site search input form.</td>
</tr>
<tr>
<td><strong>transactional</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the transactional header with logo.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
</tbody></table>
<h3 id="header-transactional-with-service-name">Header transactional with service name</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-transactional-service-name.html">Preview the header with logo component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-HTML">&lt;header class=&quot;nhsuk-header nhsuk-header--transactional&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__transactional-service-name &quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__transactional-service-name--link&quot;&gt;Register with a GP&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
  &quot;transactionalService&quot;: {
      &quot;name&quot;: &quot;Register with a GP&quot;,
      &quot;href&quot;: &quot;https://beta.nhs.uk/book-a-gp-appointment/&quot;
    },
    &quot;showNav&quot;: &quot;false&quot;,
    &quot;showSearch&quot;: &quot;false&quot;
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The transactional header with service name macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the site search input form.</td>
</tr>
<tr>
<td><strong>transactionalService</strong></td>
<td>object</td>
<td>Yes</td>
<td>Object containing the name and link of the transactional service.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>The name of the transactional service.</td>
</tr>
<tr>
<td><strong>href</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the transactional service. Defaults to &quot;/&quot;.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
</tbody></table>
<h3 id="header-transactional-with-a-long-service-name">Header transactional with a long service name</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-transactional-long-service-name.html">Preview the header with logo component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-HTML">&lt;header class=&quot;nhsuk-header nhsuk-header--transactional&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link&quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__transactional-service-name nhsuk-header__transactional-service-name--long&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__transactional-service-name--link&quot;&gt;Find out why your NHS data matters&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
  &quot;transactionalService&quot;: {
      &quot;name&quot;: &quot;Find out why your NHS data matters&quot;,
      &quot;longName&quot;: &quot;true&quot;,
      &quot;href&quot;: &quot;https://www.nhs.uk/your-nhs-data-matters/&quot;
    },
    &quot;showNav&quot;: &quot;false&quot;,
    &quot;showSearch&quot;: &quot;false&quot;
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The transactional header with a long service name macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the site search input form.</td>
</tr>
<tr>
<td><strong>transactionalService</strong></td>
<td>object</td>
<td>Yes</td>
<td>Object containing the name and link of the transactional service.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>The name of the transactional service.</td>
</tr>
<tr>
<td><strong>longName</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; if the transactional name is longer than 22 characters.</td>
</tr>
<tr>
<td><strong>href</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the transactional service. Defaults to &quot;/&quot;.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
</tbody></table>
<h3 id="header-with-a-service-name-and-search">Header with a service name and search</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/header-service-name.html">Preview the header with logo component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-HTML">&lt;header class=&quot;nhsuk-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;nhsuk-width-container nhsuk-header__container&quot;&gt;
    &lt;div class=&quot;nhsuk-header__logo&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;nhsuk-header__link  nhsuk-header__link--service &quot; aria-label=&quot;NHS homepage&quot;&gt;
        &lt;svg class=&quot;nhsuk-logo nhsuk-logo--white&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; role=&quot;presentation&quot; focusable=&quot;false&quot; viewBox=&quot;0 0 40 16&quot;&gt;
          &lt;path fill=&quot;#fff&quot; d=&quot;M0 0h40v16H0z&quot;&gt;&lt;/path&gt;
          &lt;path fill=&quot;#005eb8&quot; d=&quot;M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6&quot;&gt;&lt;/path&gt;
          &lt;image xlink:href=&quot;&quot; src=&quot;https://assets.nhs.uk/images/nhs-logo-white.png&quot;&gt;&lt;/image&gt;
        &lt;/svg&gt;
        &lt;span class=&quot;nhsuk-header__service-name&quot;&gt;
          Digital service manual
        &lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-header__content&quot; id=&quot;content-header&quot;&gt;
      &lt;div class=&quot;nhsuk-header__search&quot;&gt;
        &lt;button class=&quot;nhsuk-header__search-toggle&quot; id=&quot;toggle-search&quot; aria-controls=&quot;search&quot; aria-label=&quot;Open search&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
            &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
        &lt;/button&gt;
        &lt;div class=&quot;nhsuk-header__search-wrap&quot; id=&quot;wrap-search&quot;&gt;
          &lt;form id=&quot;search&quot; class=&quot;nhsuk-header__search-form&quot; action=&quot;/search/&quot; method=&quot;get&quot; role=&quot;search&quot;&gt;
            &lt;label class=&quot;nhsuk-u-visually-hidden&quot; for=&quot;search-field&quot;&gt;Search the NHS website&lt;/label&gt;
            &lt;input class=&quot;nhsuk-search__input&quot; id=&quot;search-field&quot; placeholder=&quot;Search&quot; autocomplete=&quot;off&quot; name=&quot;search-field&quot; type=&quot;search&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;nhsuk-search__submit&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Search&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class=&quot;nhsuk-search__close&quot; id=&quot;close-search&quot;&gt;
              &lt;svg class=&quot;nhsuk-icon nhsuk-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot;&gt;
                &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;nhsuk-u-visually-hidden&quot;&gt;Close search&lt;/span&gt;
            &lt;/button&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/header/macro.njk&#39; import header %}

{{ header({
  &quot;service&quot;: {
    &quot;name&quot;: &quot;Digital service manual&quot;,
    &quot;longName&quot;: &quot;true&quot;
  },
  &quot;showNav&quot;: &quot;false&quot;,
  &quot;showSearch&quot;: &quot;true&quot;
  })
}}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The transactional header with a long service name macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>showNav</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;false&quot; to not show the navigation links in the header.</td>
</tr>
<tr>
<td><strong>showSearch</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; to show the site search input form.</td>
</tr>
<tr>
<td><strong>service</strong></td>
<td>object</td>
<td>Yes</td>
<td>Object containing the name and link of the service.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>The name of the service.</td>
</tr>
<tr>
<td><strong>longName</strong></td>
<td>boolean</td>
<td>Yes</td>
<td>Set to &quot;true&quot; if the service name is longer than 22 characters.</td>
</tr>
<tr>
<td><strong>homeHref</strong></td>
<td>string</td>
<td>No</td>
<td>The href of the home link for the logo and mobile home link in the navigation links. Defaults to &quot;/&quot;.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK Frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</li>
    </div>
  </div>
</footer>



  </body>
</html>
