/* ==========================================================================
   UTILITIES / #GRID-WIDTHS
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

.nhsuk-\!-one-half {
  float: left;
  width: percentage(1 / 2) !important;
}

.nhsuk-\!-one-third {
  float: left;
  width: percentage(1 / 3) !important;
}

.nhsuk-\!-two-thirds {
  float: left;
  width: percentage(2 / 3) !important;
}

.nhsuk-\!-one-quarter {
  float: left;
  width: percentage(1 / 4) !important;
}

.nhsuk-\!-three-quarters {
  float: left;
  width: percentage(3 / 4) !important;
}

.nhsuk-\!-one-half-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 2) !important;
  }
}

.nhsuk-\!-one-third-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 3) !important;
  }
}

.nhsuk-\!-two-thirds-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(2 / 3) !important;
  }
}

.nhsuk-\!-one-quarter-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 4) !important;
  }
}

.nhsuk-\!-three-quarters-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(3 / 4) !important;
  }
}
