// ========================================================================== //
// UTILITIES / #SPACING
// ========================================================================== //

// Directions for spacing
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend

$_spacing-directions: ("top", "right", "bottom", "left") !default;

// Spacing override classes
//
// Generate spacing override classes for the given property (e.g. margin)
// for each point in the spacing scale.
//
// @param {String} $property - Property to add spacing to (e.g. 'margin')
//
// @example scss
//   .nhsuk-u-margin-0 {
//      margin: 0;
//   }
//
//  .nhsuk-u-margin-top-1 {
//     margin-top: [whatever spacing point 1 is...]
//   }
//
// 1. For each point in the spacing scale (defined in settings), create an
//    override that affects all directions...
// 2. ... and then an override for each individual direction

@mixin _nhsuk-generate-spacing-overrides($property) {
  // [1] //
  @each $scale-point, $scale-map in $nhsuk-spacing-responsive-scale {
    .nhsuk-u-#{$property}-#{$scale-point} {
      @include _nhsuk-responsive-spacing($scale-point, $property, "all", true);
    }

    // [2] //
    @each $direction in $_spacing-directions {
      .nhsuk-u-#{$property}-#{$direction}-#{$scale-point} {
        @include _nhsuk-responsive-spacing($scale-point, $property, $direction, true);
      }
    }
  }
}

@include govuk-exports("govuk/overrides/spacing") {
  @include _nhsuk-generate-spacing-overrides("margin");
  @include _nhsuk-generate-spacing-overrides("padding");
}
