@use "../tools/mixins" as *;

////
/// Visually hidden
///
/// Hide elements visually but keep it in the DOM
///
/// @group utilities
///
/// @example html
///   <span class="nhsuk-u-visually-hidden">Error:</span>
////

.nhsuk-u-visually-hidden {
  @include visually-hidden;
}

.nhsuk-u-visually-hidden-focusable {
  @include visually-hidden-focusable;
}
