{% set title = 'Date input' %}
{% from 'components/date-input/macro.njk' import dateInput %}
{% extends '_templates/example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ dateInput({
        "id": "dob",
        "namePrefix": "dob",
        "fieldset": {
          "legend": {
            "text": "When did you start your job?"
          }
        },
        "hint": {
          "text": "For example, 11 2023"
        },
        values: {
          month: "8",
          year: "2024"
        },
        "items": [
          {
            "name": "month",
            "classes": "nhsuk-input--width-2"
          },
          {
            "name": "year",
            "classes": "nhsuk-input--width-4"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
