{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Care card emergency (red and black)' %}
{% from 'components/care-card/macro.njk' import careCard %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main id="maincontent" class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ careCard({
          "type": "emergency",
          "heading": "Call 999 if you have sudden chest pain that:",
          "HTML": "
          <ul>
            <li>spreads to your arms, back, neck or jaw</li>
            <li>makes your chest feel tight or heavy</li>
            <li>also started with shortness of breath, sweating and feeling or being sick</li>
          </ul>
          <p>You could be having a <a href='https://www.nhs.uk\'>heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>
          "
        }) }}
      </div>
    </div>

  </main>
</div>

{% endblock %}
