{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Expander group' %}
{% from 'components/details/macro.njk' import details %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-expander-group">
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How to measure your blood glucose levels",
            "HTML": "
            <p>Testing your blood at home is quick and easy, although it can be uncomfortable. It does get better.</p>
            <p>You would have been given:</p>
            <ul>
              <li>a blood glucose metre</li>
              <li>small needles called lancets</li>
              <li>a plastic pen to hold the lancest</li>
              <li>small test strips</li>
            </ul>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "When to check your blood glucose level",
            "HTML": "
            <p>Try to check your blood:</p>
            <ul>
              <li>before meals</li>
              <li>2 to 3 hours after meals</li>
              <li>before, during (take a break) and after exercise</li>
            </ul>
            <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
            "
          }) }}
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}
