{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Footer no logo' %}
{% from 'components/footer/macro.njk' import footer %}
{% extends 'layout.njk' %}

{% block body %}

  {{ footer({
    "hideLogo": "true",
    "primaryLinks": [
      {
        "URL": "https://www.nhs.uk/about-us/sitemap/",
        "label": "Sitemap"
      },
      {
        "URL": "https://www.nhs.uk/our-policies/",
        "label": "Our policies"
      }
    ]
  })}}

{% endblock %}
