{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Footer' %}
{% from 'components/footer/macro.njk' import footer %}
{% extends 'layout.njk' %}

{% block body %}

  {{ footer({
    "primaryLinks": [
      {
        "URL": "https://www.nhs.uk/Pages/nhs-sites.aspx",
        "label": "NHS sites"
      },
      {
        "URL": "https://www.nhs.uk/about-us",
        "label": "About us"
      },
      {
        "URL": "https://www.nhs.uk/contact-us/",
        "label": "Contact us"
      },
      {
        "URL": "https://www.nhs.uk/Personalisation/Login.aspx",
        "label": "Profile editor login"
      }
    ],
    "secondaryLinks": [
      {
        "URL": "https://www.nhs.uk/about-us/sitemap/",
        "label": "Sitemap"
      },
      {
        'URL': 'https://www.nhs.uk/accessibility/',
        'label': 'Accessibility'
      },
      {
        "URL": "https://www.nhs.uk/our-policies/",
        "label": "Our policies"
      }
    ]
  })}}

{% endblock %}
