{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header transactional with a long service name' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
    "transactionalService": {
        "name": "Find out why your NHS data matters",
        "longName": "true"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}
