{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hero with image' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

{{ hero({
  "imageURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/hero-2.jpg"
}) }}

{% endblock %}
