{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hero' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

  {{ hero({
    "heading": "We’re here for you",
    "text": "Helping you take control of your health and wellbeing."
  }) }}

{% endblock %}
