{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'List panel' %}
{% from 'components/a-z-nav/macro.njk' import azNav %}
{% from 'components/list-panel/macro.njk' import listPanel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-page-content">
            {{ listPanel({
              label: "A",
              id: "A",
              items: [
                {
                  URL: "/index",
                  link: "AAA"
                },
                {
                  URL: "/index",
                  link: "Abdominal aortic aneurysm"
                },
                {
                  URL: "/index",
                  link: "Abscess"
                }
              ]
            }) }}

            {{ listPanel({
              label: "B",
              id: "B",
              disable: "true",
              message: "There are currently no medicines listed"
            }) }}

            {{ listPanel({
              label: "C",
              id: "C",
              items: [
                {
                  URL: "/index",
                  link: "Chest pain"
                },
                {
                  URL: "/index",
                  link: "Cold sore"
                }
              ]
            }) }}

            {{ listPanel({
              label: "D",
              id: "D",
              items: [
                {
                  URL: "/index",
                  link: "Dandruff"
                },
                {
                  URL: "/index",
                  link: "Dementia"
                },
                {
                  URL: "/index",
                  link: "Dental pain"
                }
              ]
            }) }}
          </div>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
