{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'List panel' %}
{% from 'components/nav-a-z/macro.njk' import azNav %}
{% from 'components/list-panel/macro.njk' import listPanel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {{ listPanel({
            label: "A",
            id: "A",
            backToTop: "true",
            backToTopLink: "#nhsuk-nav-a-z",
            items: [
              {
                URL: "/conditions/abdominal-aortic-aneurysm/",
                link: "AAA"
              },
              {
                URL: "/conditions/abdominal-aortic-aneurysm/",
                link: "Abdominal aortic aneurysm"
              },
              {
                URL: "/conditions/abscess/",
                link: "Abscess"
              }
            ]
          }) }}

          {{ listPanel({
            label: "B",
            id: "B",
            disable: "true",
            backToTop: "true",
            backToTopLink: "#nhsuk-nav-a-z",
            message: "There are currently no conditions listed"
          }) }}

          {{ listPanel({
            label: "C",
            id: "C",
            backToTop: "true",
            backToTopLink: "#nhsuk-nav-a-z",
            items: [
              {
                URL: "/conditions/chest-pain/",
                link: "Chest pain"
              },
              {
                URL: "/conditions/cold-sores/",
                link: "Cold sore"
              }
            ]
          }) }}

          {{ listPanel({
            label: "D",
            id: "D",
            backToTop: "true",
            backToTopLink: "#nhsuk-nav-a-z",
            items: [
              {
                URL: "/conditions/dandruff/",
                link: "Dandruff"
              },
              {
                URL: "/conditions/dementia/",
                link: "Dementia"
              },
              {
                URL: "/conditions/toothache/",
                link: "Dental pain"
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
