{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Promo with image' %}
{% from 'components/promo/macro.njk' import promo %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main id="maincontent" class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {{ promo({
          "href": "https://www.nhs.uk",
          "imgURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png",
          "heading": "Save a life: give blood",
          "description": "Please register today. Donating blood is easy, and saves lives."
        }) }}
      </div>
    </div>

  </main>
</div>

{% endblock %}
