{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Review date' %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ reviewDate({
            "lastReview": "12 February 2016",
            "nextReview": "1 February 2019"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
