{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Warning callout' %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ warningCallout({
            "heading": "Important",
            "HTML": "<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
