{% set title = 'Layout' %}
{% set navigation = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Layout</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="nhsuk-list">
        <li><a href="#layout-width">Page width</a></li>
        <li><a href="#layout-breakpoints">Breakpoints</a></li>
        <li><a href="#layout-grid">Grid</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Notes</h2>
    <p>NHS.UK uses <a href="https://govuk-design-system-production.cloudapps.digital/styles/layout/" class="external">GOV.UK grid</a> with some minor alterations to the mobile and tablet breakpoints to support the NHS Frutiger font.

    <h2 id="layout-width">Page width</h2>
    <p>The default maximum page width is 1020px, lines of text should be no longer than 70 to 80 characters.</p>

    <h2 id="layout-breakpoints">Breakpoints</h2>
    <ul>
        <li>mobile:  320px</li>
        <li>tablet:  641px</li>
        <li>desktop: 769px</li>
    </ul>

    <h2 id="layout-grid">Grid</h2>

    <h3>Page wrappers</h3>

    <p>To set up your layout you will need to create 2 wrappers. The first should have the class <span class="example-code-snippet">nhsuk-o-width-container</span>, which sets the maximum width of the content but doesn’t add any vertical margin or padding.</p>
    <p>Within <span class="example-code-snippet">nhsuk-o-width-container</span> you should add the <span class="example-code-snippet">nhsuk-o-width-wrapper</span> class to your <span class="example-code-snippet">&#x3C;main&#x3E;</span> element.</p>
    <p>This adds responsive padding to the top and bottom of the page and will be the container for your main content.</p>


    <div class="example-snippet example-snippet__empty-example">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-1">Copy</button>

<pre class="language-markup" id="clipboard-1"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-width-container<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>main</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-main-wrapper<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>

  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>main</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>Full width</h3>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
            <p>nhsuk-o-grid__item--full</p>
        </div>
      </div>
    </div>

    <div class="example-snippet">
         <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-2">Copy</button>

<pre class="language-markup" id="clipboard-2"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--full<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--full<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>One half</h3>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
              <p>nhsuk-o-grid__item--one-half</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-3">Copy</button>

<pre class="language-markup" id="clipboard-3"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-half<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-half<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <h3>Two thirds</h3>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
              <p>nhsuk-o-grid__item--two-thirds</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-4">Copy</button>

<pre class="language-markup" id="clipboard-4"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--two-thirds<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <h3>One-quarter</h3>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">
              <p>nhsuk-o-grid__item--one-quarter</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-5">Copy</button>

<pre class="language-markup" id="clipboard-5"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-quarter<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <h3>Example combinations</h3>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
            <p>nhsuk-o-grid__item--full</p>
        </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-6">Copy</button>

<pre class="language-markup" id="clipboard-6"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--full<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--full<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
              <p>nhsuk-o-grid__item--one-half</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
              <p>nhsuk-o-grid__item--one-half</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-7">Copy</button>

<pre class="language-markup" id="clipboard-7"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-half<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-half<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-half<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-half<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
              <p>nhsuk-o-grid__item--two-thirds</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
              <p>nhsuk-o-grid__item--one-third</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-8">Copy</button>

<pre class="language-markup" id="clipboard-8"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--two-thirds<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-third<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-third<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
              <p>nhsuk-o-grid__item--one-third</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
              <p>nhsuk-o-grid__item--two-thirds</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-9">Copy</button>

<pre class="language-markup" id="clipboard-9"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-third<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-third<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--two-thirds<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

    <div class="example">
      <div class="nhsuk-o-grid nhsuk-grid-example">
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">
              <p>nhsuk-o-grid__item--one-quarter</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">
              <p>nhsuk-o-grid__item--one-quarter</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">
              <p>nhsuk-o-grid__item--one-quarter</p>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">
              <p>nhsuk-o-grid__item--one-quarter</p>
          </div>
      </div>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-10">Copy</button>

<pre class="language-markup" id="clipboard-10"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-quarter<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-quarter<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-quarter<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>nhsuk-o-grid__item--one-quarter<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>

    </div>

{% endblock %}
