


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="background-color: #f0f4f5;"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - Select with hint text and error message</title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          

<div class="nhsuk-form-group nhsuk-form-group--error">
  <label class="nhsuk-label" for="select-2">
    Label text goes here
  </label>

  
  
  <span id="select-2-hint" class="nhsuk-hint">
    Hint text goes here
  </span>


  
  
  <span id="select-2-error" class="nhsuk-error-message">
    Error message goes here
  </span>

  <select class="nhsuk-select nhsuk-select--error" id="select-2" name="select-2" aria-describedby="select-2-hint select-2-error">
  
    <option value="1">NHS.UK Frontend option 1</option>
  
    <option value="2">NHS.UK Frontend option 2</option>
  
    <option value="3">NHS.UK Frontend option 3</option>
  
  </select>
</div>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
