


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image xlink:href="" src="https://assets.nhs.uk/images/nhs-logo-white.png"></image>
        </svg>
        
      </a>
    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="select">Select</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/225">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="select">Select</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/select/index.html">Preview the select component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;label class=&quot;nhsuk-label&quot; for=&quot;select-1&quot;&gt;
    Label text goes here
  &lt;/label&gt;

  &lt;select class=&quot;nhsuk-select&quot; id=&quot;select-1&quot; name=&quot;select-1&quot;&gt;
    &lt;option value=&quot;1&quot;&gt;NHS.UK Frontend option 1&lt;/option&gt;
    &lt;option value=&quot;2&quot; selected&gt;NHS.UK Frontend option 2&lt;/option&gt;
    &lt;option value=&quot;3&quot; disabled&gt;NHS.UK Frontend option 3&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/select/macro.njk&#39; import select %}

{{ select({
  &quot;id&quot;: &quot;select-1&quot;,
  &quot;name&quot;: &quot;select-1&quot;,
  &quot;label&quot;: {
    &quot;text&quot;: &quot;Label text goes here&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: 1,
      &quot;text&quot;: &quot;NHS.UK Frontend option 1&quot;
    },
    {
      &quot;value&quot;: 2,
      &quot;text&quot;: &quot;NHS.UK Frontend option 2&quot;,
      &quot;selected&quot;: true
    },
    {
      &quot;value&quot;: 3,
      &quot;text&quot;: &quot;NHS.UK Frontend option 3&quot;,
      &quot;disabled&quot;: true
    }
  ]
}) }}</code></pre><h3 id="select-with-hint-text-and-error-message">Select with hint text and error message</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/select/hint-error.html">Preview the select with hint text and error message component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group nhsuk-form-group--error&quot;&gt;
  &lt;label class=&quot;nhsuk-label&quot; for=&quot;select-2&quot;&gt;
    Label text goes here
  &lt;/label&gt;

  &lt;span id=&quot;select-2-hint&quot; class=&quot;nhsuk-hint&quot;&gt;
    Hint text goes here
  &lt;/span&gt;

  &lt;span id=&quot;select-2-error&quot; class=&quot;nhsuk-error-message&quot;&gt;
    Error message goes here
  &lt;/span&gt;

  &lt;select class=&quot;nhsuk-select nhsuk-select--error&quot; id=&quot;select-2&quot; name=&quot;select-2&quot; aria-describedby=&quot;select-2-hint select-2-error&quot;&gt;
    &lt;option value=&quot;1&quot;&gt;NHS.UK Frontend option 1&lt;/option&gt;
    &lt;option value=&quot;2&quot;&gt;NHS.UK Frontend option 2&lt;/option&gt;
    &lt;option value=&quot;3&quot;&gt;NHS.UK Frontend option 3&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/select/macro.njk&#39; import select %}

{{ select({
  &quot;id&quot;: &quot;select-2&quot;,
  &quot;name&quot;: &quot;select-2&quot;,
  &quot;label&quot;: {
    &quot;text&quot;: &quot;Label text goes here&quot;
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;Hint text goes here&quot;
  },
  &quot;errorMessage&quot;: {
    &quot;text&quot;: &quot;Error message goes here&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: 1,
      &quot;text&quot;: &quot;NHS.UK Frontend option 1&quot;
    },
    {
      &quot;value&quot;: 2,
      &quot;text&quot;: &quot;NHS.UK Frontend option 2&quot;
    },
    {
      &quot;value&quot;: 3,
      &quot;text&quot;: &quot;NHS.UK Frontend option 3&quot;
    }
  ]
}) }}</code></pre><h2 id="nunjucks-arguments">Nunjucks arguments</h2>
<p>If you are using Nunjucks, then macros take the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>id</strong></td>
<td>string</td>
<td>Yes</td>
<td>The id for each select box.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>The name of the select, which is submitted with the form data.</td>
</tr>
<tr>
<td><strong>items</strong></td>
<td>array</td>
<td>Yes</td>
<td>Array of option items for the select.</td>
</tr>
<tr>
<td><strong>item.value</strong></td>
<td>string</td>
<td>No</td>
<td>Value for the option item.</td>
</tr>
<tr>
<td><strong>item.text</strong></td>
<td>string</td>
<td>No</td>
<td>Text for the option item.</td>
</tr>
<tr>
<td><strong>item.selected</strong></td>
<td>boolean</td>
<td>No</td>
<td>Sets the option as the selected.</td>
</tr>
<tr>
<td><strong>item.disabled</strong></td>
<td>boolean</td>
<td>No</td>
<td>Sets the option item as disabled.</td>
</tr>
<tr>
<td><strong>item.attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to the select option tag.</td>
</tr>
<tr>
<td><strong>label</strong></td>
<td>object</td>
<td>Yes</td>
<td>Optional label text or HTML by specifying value for either text or html keys. See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/label">label</a> component.</td>
</tr>
<tr>
<td><strong>hint</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the hint component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/hint">hint</a> component.</td>
</tr>
<tr>
<td><strong>errorMessage</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the errorMessage component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/error-message">error message</a> component.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the select component. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the select component.</td>
</tr>
</tbody></table>
<h2 id="thanks-to-the-government-digital-service-gds-">Thanks to the Government Digital Service (GDS)</h2>
<p>This component and documentation has been taken from <a href="https://github.com/alphagov/govuk-frontend/tree/master/package/components/select">GOV.UK Frontend - Select component</a> with a few minor adaptations.</p>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK Frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
