{% set title = 'Allergies' %}
{% set parent = 'Health A-Z' %}
{% from "macros/care-card.html" import carecard %}
{% extends "includes/templates/page-v4.html"%}

{% block breadcrumb %}
	<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
		<div class="nhsuk-o-width-container">
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="https://www.nhs.uk/conditions/">Health A-Z</a></li>
			</ol>
			<p><a href="https://www.nhs.uk/conditions/">Back to Health A-Z</a></p>
		</div>
	</nav>
{% endblock %}

{% block sidebar %}
<h2 class="nhsuk-heading-s">Pages in this section</h2>
    <ul class="nhsuk-list-nav">
        <li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
        <li><strong>Prevention</strong></li>
	</ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
		
		<div class="nhsuk-reading-width">

			<div class="nhsuk-page-heading">
				<h1>Allergies<span class="nhsuk-o-h1-sub">Prevention</span></h1>

				<!--<nav class="nhsuk-c-tab-nav">
					<ul>
						<li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
						<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
						<li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
						<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
						<li><strong>Prevention</strong></li>
					</ul>
				</nav>-->

				<p class="nhsuk-body-l nhsuk-page-intro">The best way to prevent an allergic reaction is to avoid the substance that you're allergic to, although this isn't always easy or practical.</p>
			</div>
					
			<div class="nhsuk-c-page-contents">

				<div class="nhsuk-c-reveal">
					<a href="#" class="nhsuk-c-reveal__header">Open page contents</a>
					<div class="nhsuk-c-reveal__content">
						<ul>
							<li><a href="#house-dust-mites">House dust mites</a></li>
							<li><a href="#pets">Pets</a></li>
							<li><a href="#mould-spores">Mould spores</a></li>
							<li><a href="#food-allergies">Food allergies</a></li>
							<li><a href="#hay-fever">Hay fever</a></li>
							<li><a href="#insect-bites-and-stings">Insect bites and stings</a></li>
							<li><a href="#preventing-severe-allergies-anaphylaxis">Preventing severe allergies (anaphylaxis)</a></li>
						</ul>
					</div>
				</div>

				<script>
					$('.nhsuk-c-reveal__header').click( function() {
						$(this).next("div").toggle();
						var txt = $(".nhsuk-c-reveal__content").is(':visible') ? 'Close page contents' : 'Open page contents';
						$(this).toggleClass("open").text(txt);
						return false;
					});
				</script>

				<p class="nhsuk-nav-bottom-link"><a href="#nav-bottom">View all pages about Allergies</a></p>

			</div>
						
			<p>Below is some practical advice that should help you avoid the most common allergens.</p>

			<h2 id="house-dust-mites">House dust mites</h2>

			<p>One of the biggest causes of allergies are dust mites, which are tiny insects found in household dust. You can limit the number of mites in your home by: </p>

			<ul>
			<li>choosing wood or hard vinyl floor coverings instead of a carpet </li>
			<li>fitting roller blinds that can be easily wiped clean </li>
			<li>choosing leather, plastic or vinyl furniture instead of upholstered furniture </li>
			<li>cleaning cushions, soft toys, curtains and upholstered furniture regularly, either by washing (at a high temperature) or vacuuming </li>
			<li>using tested allergy-proof covers on mattresses, duvets and pillows</li>
			<li>using a vacuum cleaner fitted with a HEPA (high efficiency particulate air) filter, because it can trap more dust mites than ordinary vacuum cleaners </li>
			<li>regularly wiping surfaces with a damp, clean cloth – avoid dry dusting, as this can spread dust into the air </li>
			</ul>

			<p>Concentrate your efforts of controlling dust mites in the areas of your home where you spend the most time, such as the bedroom and living room.</p>

			<p>You can find more information on <a href="http://www.allergyuk.org/allergies-in-the-home/allergies-in-the-home" title="External website">allergies in the home</a> on the Allergy UK website.</p>

			<h2 id="pets">Pets</h2>

			<p>It's not the pet fur that causes an allergic reaction. Instead, it's flakes of their dead skin, saliva and dried urine.</p>

			<p>If you can't permanently remove a pet from the house, you could try: </p>

			<ul>
			<li>keeping pets outside as much as possible, or limiting them to a particular area of the house, preferably an area without carpet </li>
			<li>not allowing pets in bedrooms </li>
			<li>washing pets at least once a week </li>
			<li>regularly grooming pets outside </li>
			<li>regularly washing all bedding and soft furnishings on which a pet has lain </li>
			<li>using an air filter in rooms where you spend most of your time </li>
			<li>increase ventilation with fans, air-conditioning or by opening windows </li>
			</ul>

			<p>If you're visiting a friend or relative with a pet, ask them not to dust or vacuum on the day you're visiting, as this will stir up the allergens into the air. Taking an antihistamine medicine about an hour before entering a pet-inhabited house can also help reduce your symptoms.</p>

			<p>The Allergy UK website has more information about <a href="http://www.allergyuk.org/allergy-to-domestic-pets/allergy-to-domestic-pets" title="External website">domestic pet allergies</a>.</p>

			<h2 id="mould-spores">Mould spores</h2>

			<p>Tiny particles released by moulds can cause an allergic reaction in some people.</p>

			<p>You can help prevent this by:</p>

			<ul>
			<li>keeping your home dry and well-ventilated </li>
			<li>removing any indoor pot plants from your home </li>
			<li>not drying clothes indoors, store clothes in damp cupboards or packing clothes too tightly in wardrobes </li>
			<li>dealing with any damp and condensation in your home </li>
			<li>avoiding damp buildings, damp woods and rotten leaves, cut grass and compost heaps </li>
			</ul>

			<h2 id="food-allergies">Food allergies</h2>

			<p>By law, food manufacturers must clearly label any foods that contain something that's known to cause allergic reactions in some people. By carefully checking the label for the list of ingredients, you should be able to avoid an allergic reaction.</p>

			<p>People with food allergies most often experience an allergic reaction while eating out at a restaurant. You can avoid this by:</p>

			<ul>
			<li>not relying on the menu description alone (remember, many sauces or dressings could contain allergens) </li>
			<li>communicating clearly with the waiting staff and asking for their advice </li>
			<li>avoiding places where there's a chance that different types of food could come into contact with each other, such as buffets or bakeries </li>
			<li>let restaurant staff you know your dietary requirements, including how severe your food allergy or intolerance is </li>
			<li>always check what allergens are in the dish even if you have eaten it before, as recipes and ingredients can change </li>
			</ul>

			<p>Remember, simple dishes are less likely to contain "hidden" ingredients. If you're not sure about a dish, don’t risk it </p>

			<p>Read more about <a href="http://www.nhs.uk/conditions/food-allergy/Pages/living-with.aspx">living with a food allergy</a> and <a href="http://www.food.gov.uk/science/allergy-intolerance/label/#.U5GnVvmwK2Y" title="External website">advice from the Food Standards Agency on food allergen labelling</a>.</p>

			<h2 id="hay-fever">Hay fever</h2>

			<p>Pollen allergies – more commonly known as <a href="http://www.nhs.uk/conditions/Hay-fever/Pages/Introduction.aspx">hay fever</a> – are caused when trees and grasses release pollen into the air. Doctors often call hay fever allergic rhinitis. </p>

			<p>Different plants pollinate at different times of the year, so the months that you get hay fever will depend on what sort of pollen(s) you are allergic to. Typically, people are affected during spring (trees) and summer (grasses).</p>

			<p>To help keep your hay fever under control, you can:</p>

			<ul>
			<li>check weather reports for the pollen count and stay indoors when it's high, if possible </li>
			<li>avoid drying clothes and bedding outside when the pollen count is high </li>
			<li>wear wraparound sunglasses to protect your eyes </li>
			<li>keep doors and windows shut when possible </li>
			<li>shower and change your clothes after being outside </li>
			<li>avoid grassy areas, such as parks and fields – particularly in the early morning, evening or night, when the pollen count is highest </li>
			<li>if you have a lawn, try asking someone else to cut the grass for you  </li>
			</ul>

			<p>Read more about <a href="http://www.nhs.uk/conditions/Hay-fever/Pages/Prevention.aspx">preventing hay fever</a>.</p>

			<h2 id="insect-bites-and-stings">Insect bites and stings</h2>

			<p>If you've ever suffered a bad reaction to an insect bite or sting, it's important to take precautions to minimise your risk.</p>

			<p>When you're outdoors, particularly in the summer, you could:</p>

			<ul>
			<li>cover exposed skin </li>
			<li>wear shoes </li>
			<li>apply insect repellent </li>
			<li>avoid wearing strong perfumes or fragrances, as these can attract insects </li>
			</ul>

			<p>Read more about <a href="http://www.nhs.uk/conditions/Bites-insect/Pages/Prevention.aspx">preventing insect bites and stings</a>.</p>

			<h2 id="preventing-severe-allergies-anaphylaxis">Preventing severe allergies (anaphylaxis)</h2>

			<p>If you're at risk of experiencing a severe allergic reaction (<a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">anaphylaxis</a>), make sure you carry two adrenaline auto-injectors with you everywhere.</p>

			<p>Wearing a MedicAlert or Medi-Tag medallion or bracelet can make others aware of your allergy in an emergency.</p>

			<p>Consider telling your teachers, work colleagues and friends, so they can give you your adrenaline injection in an emergency, while waiting for an ambulance.</p>

			<p>Read more about <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Prevention.aspx">preventing anaphylaxis</a>.</p>

			{{ carecard("grey", "Call 111", "	<p>if you can't speak to your GP and don't know what to do next.</p>") }}

			<div class="nhsuk-c-review-datestamp">
				<p>Page last reviewed: 12/02/2016<br>
				Next review due: 01/02/2019</p>
			</div>
		
		</div>

		<div class="nhsuk-c-page-nav-bottom" id="nav-bottom">
			<h2 class="nhsuk-heading-s">All pages about Allergies</h2>
			<ul>
				<li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
				<li><strong>Prevention</strong></li>
			</ul>
		</div>

    </section>

{% endblock %}
