/* ==========================================================================
   #pagination
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-c-pagination {
  @include clear();
  margin: 56px 0;

  @include mq($until: tablet) {
    margin: 40px 0;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
    width: 49%;

    @include mq($until: 359px) {
      margin-bottom: 16px;
      width: 100%;
    }

    .nhsuk-icon {
      position: absolute;
      top: 0;
    }

    &:visited {
      .nhsuk-icon {
        fill: $nhsuk-link-visited-colour;
      }
    }

  }

  .nhsuk-c-pagination-prev {
    float: left;
    text-align: left;

    .nhsuk-icon {
      left: -6px;
    }

    .nhsuk-c-pagination-link {
      padding-left: 30px;
    }

  }

  .nhsuk-c-pagination-next {
    float: right;
    text-align: right;

    .nhsuk-icon {
      right: -6px;
    }

    .nhsuk-c-pagination-link {
      padding-right: 30px;
    }

  }

  .nhsuk-c-pagination-title {
    display: block;
    font-size: 16px;
    text-decoration: underline;

    @include mq($until: tablet) {
      font-size: 14px;
    }

  }

  .nhsuk-c-pagination-link {
    display: block;
    font-size: 24px;
    line-height: 32px;

    @include mq($media-type: print) {
      &:after {
        content: ' page';
      }
    }

    @include mq($until: tablet) {
      font-size: 19px;
    }

  }

}
