/* ==========================================================================
   COMPONENTS / #PAGINATION
   ========================================================================== */

/**
 * 1. Padding to give the icon spacing.
 * 2. Append the word 'page' after next and
 *    previous on print stylesheets to make it easier
 *    to understand in print context.
 */

.nhsuk-pagination {
  @include clearfix();
  @include nhsuk-responsive-margin(7, 'top');
  @include nhsuk-responsive-margin(7, 'bottom');

  a {
    display: block;
    position: relative;
    text-decoration: none;
    width: 50%;

    @include mq($media-type: print) {
      color: $colour_nhsuk-black;
    }

    .nhsuk-icon {
      position: absolute;
      top: -2px;

      @include mq($media-type: print) {
        color: $colour_nhsuk-black;
        margin-top: 0;
      }

    }

    &:focus {
      box-shadow: 0 0 0 $nhsuk-box-shadow-pagination $nhsuk-link-focus-background-colour;
    }

    &:hover {
      box-shadow: 0 0 0 $nhsuk-box-shadow-pagination $nhsuk-link-hover-background-colour;

      .nhsuk-pagination-title {
        text-decoration: none;
      }

    }

    &:hover,
    &:focus {

      .nhsuk-icon {
        fill: $colour_nhsuk-black;
      }

    }

    &:visited {

      .nhsuk-icon {
        fill: $nhsuk-link-visited-colour;
      }

    }

  }

}

.nhsuk-pagination-prev {
  float: left;
  text-align: left;

  .nhsuk-icon {
    left: -6px;
  }

  .nhsuk-pagination-link {
    padding-left: nhsuk-spacing(5); // [1] //
  }

}

.nhsuk-pagination-next {
  float: right;
  text-align: right;

  .nhsuk-icon {
    right: -6px;
  }

  .nhsuk-pagination-link {
    padding-right: nhsuk-spacing(5); // [1] //
  }

}

.nhsuk-pagination-title {
  @include nhsuk-typography-responsive(16);
  display: block;
  text-decoration: underline;

}

.nhsuk-pagination-link {
  @include nhsuk-typography-responsive(24);
  display: block;

  @include mq($media-type: print) {
    &:after {
      content: ' page'; // [2] //
    }
  }

}
