{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header organisational - White (customisable SVG)' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

{{ header({
    "organisation": "true",
    "organisationName": "Bradford Teaching Hospitals",
    "organisationDescriptor": "NHS Foundation Trust",
    "classes": "nhsuk-header--white nhsuk-header--white-nav",
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "#",
        "label" : "Your hospital visit"
      },
      {
        'url' : '#',
        'label' : 'Wards and departments'
      },
      {
        'url'  : '#',
        'label' : 'Conditions and treatments'
      },
      {
        'url'  : '#',
        'label' : 'Our people'
      },
      {
        'url' : '#',
        'label' : 'Our research'
      }
    ]
  })
}}

{% endblock %}
