{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header transactional with service name' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
      "service": {
        "name": "Invite patients to a consultation"
      },
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Find a patient"
        },
        {
          'url' : '#',
          'label' : 'Consultation schedule'
        },
        {
          'url'  : '#',
          'label' : 'Settings'
        },
        {
          'url'  : '#',
          'label' : 'frankie.roberto@nhs.net',
          classes: 'nhsuk-header__navigation-item--right-aligned'
        },
        {
          'url'  : '#',
          'label' : 'Sign out'
        }
      ]
    })
  }}

{% endblock %}
