{% set title = "Header with account (logged out)" %}
{% from "components/header/macro.njk" import header %}
{% extends 'example.njk' %}

{% block main %}
  {{ header({
    service: {
      text: "Manage patients"
    },
    account: {
      items: [
        {
          href: "#",
          text: "Log in"
        }
      ]
    }
  }) }}
{% endblock %}
