{% set title = 'Header with a service name, search and navigation' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block main %}

  {{ header({
    "service": {
      "name": "Digital service manual"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Standards and technology"
        },
        {
          'url' : '#',
          'label' : 'Design system'
        },
        {
          'url'  : '#',
          'label' : 'Content style guide'
        },
        {
          'url'  : '#',
          'label' : 'Accessibility'
        },
        {
          'url' : '#',
          'label' : 'Community and contribution'
        }
      ]
    })
  }}

{% endblock %}
