{% set title = 'Header with navigation' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'example.njk' %}

{% block main %}

  {{ header({
    primaryLinks: [
      {
        href: "#",
        text: "Health A-Z"
      },
      {
        href: "#",
        text: "Live Well"
      },
      {
        href: "#",
        text: "Mental health"
      },
      {
        href: "#",
        text: "Care and support",
        active: true
      },
      {
        href: "#",
        text: "Pregnancy"
      },
      {
        href: "#",
        text: "NHS services"
      }
    ]
  }) }}
{% endblock %}
