{% set html_style = "background-color: #f0f4f5;" %}
{% set title = "Header with service name as a combined link" %}
{% from "components/header/macro.njk" import header %}
{% extends "layout.njk" %}

{% block body %}
  {{ header({
    service: {
      text: "Prototype kit",
      href: "#"
    }
  }) }}
{% endblock %}
