{% set title = 'Header transactional with service name' %}
{% from 'components/header/macro.njk' import header %}
{% extends '_templates/example.njk' %}

{% block main %}

  {{ header({
      "transactionalService": {
        "name": "Find your NHS number"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}
