{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header transactional with service name' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
    logo: {
      href: "#",
      ariaLabel: "NHS homepage"
    },
    service: {
      text: "Find your NHS number",
      href: "#"
    }
  }) }}

{% endblock %}
