{% set title = "Header with unlinked service name" %}
{% from "components/header/macro.njk" import header %}
{% extends 'example.njk' %}

{% block main %}

  {{ header({
    logo: {
      href: "#",
      ariaLabel: "NHS homepage"
    },
    service: {
      text: "Find your NHS number"
    }
  }) }}

{% endblock %}
