{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header' %}
{% from 'components/header/macro.njk' import header %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

{{ header({
    "organisation": "true",
    "organisationName": "Digital",
    "classes": "nhsuk-header--white nhsuk-header--white-nav",
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "#",
        "label" : "Data and information"
      },
      {
        'url' : '#',
        'label' : 'Systems and services'
      },
      {
        'url'  : '#',
        'label' : 'News and events'
      },
      {
        'url' : '#',
        'label' : 'About NHS Digital'
      }
    ]
  })
}}

{% endblock %}
