{% set html_style = "background-color: #f0f4f5;" %}
{% set title = "Header organisational with white header and account" %}
{% from "components/header/macro.njk" import header %}
{% extends "layout.njk" %}

{% block body %}

{{ header({
    classes: "nhsuk-header--white nhsuk-header--white-nav",
    logo: {
      href: "#"
    },
    organisation: {
      name: "Anytown Anyplace",
      split: "Anywhere",
      descriptor: "NHS Foundation Trust"
    },
    search: {
      visuallyHiddenLabel: "Search the Anytown Anyplace Anywhere website"
    },
    account: {
      items: [
        {
          text: "Florence Nightingale",
          icon: true
        },
        {
          href: "#",
          text: "Log out"
        }
      ]
    },
    primaryLinks: [
      {
        href: "#",
        text: "Your hospital visit"
      },
      {
        href: "#",
        text: "Wards and departments"
      },
      {
        href: "#",
        text: "Conditions and treatments"
      },
      {
        href: "#",
        text: "Our people"
      },
      {
        href: "#",
        text: "Our research"
      }
    ]
  })
}}

{% endblock %}
