{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header with navigation' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "https://www.nhs.uk/conditions",
          "label" : "Health A-Z"
        },
        {
          'url' : 'https://www.nhs.uk/live-well/',
          'label' : 'Live Well'
        },
        {
          'url' : 'https://www.nhs.uk/mental-health/',
          'label' : 'Mental health'
        },
        {
          'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
          'label' : 'Care and support'
        },
        {
          'url'  : 'https://www.nhs.uk/pregnancy/',
          'label' : 'Pregnancy'
        },
        {
          'url' : 'https://www.nhs.uk/nhs-services/',
          'label' : 'NHS services'
        }
      ]
    })
  }}

{% endblock %}
