{% set html_style = "background-color: #f0f4f5;" %}
{% set title = "Header with account (logged in)" %}
{% from "components/header/macro.njk" import header %}
{% extends "layout.njk" %}

{% block body %}
  {{ header({
    account: {
      items: [
        {
          href: "#",
          text: "florence.nightingale@nhs.net",
          icon: true
        },
        {
          href: "#",
          text: "Log out"
        }
      ]
    },
    primaryLinks: [
      {
        url: "#",
        label: "Home"
      },
      {
        url: "#",
        label: "Services"
      },
      {
        url: "#",
        label: "Your health"
      },
      {
        url: "#",
        label: "Messages"
      }, {
        url: "#",
        label: "Help and support"
      }
    ]
  }) }}
{% endblock %}
