{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header organisational with PNG logo' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "classes": "nhsuk-header--white",
    "organisation": {
      "name": "Yorkshire Imaging Collaborative",
      "descriptor": "Regional Radiology Network",
      "logoURL": "https://www.cnwl.nhs.uk/wp-content/themes/CNWL/_lib/img/design/nhs-logo-new.png"
    },
    "primaryLinks": [
      {
        "url"  : "#",
        "label" : "Your hospital visit"
      },
      {
        'url' : '#',
        'label' : 'Wards and departments'
      },
      {
        'url'  : '#',
        'label' : 'Conditions and treatments'
      },
      {
        'url'  : '#',
        'label' : 'Our people'
      },
      {
        'url' : '#',
        'label' : 'Our research'
      }
    ]
  })
}}

{% endblock %}
