{% set html_style = "background-color: #f0f4f5;" %}
{% set title = "Header with logo only" %}
{% from "components/header/macro.njk" import header %}
{% extends "layout.njk" %}

{% block body %}
  {{ header() }}
{% endblock %}
