{% set title = "Header with account, navigation and search" %}
{% from "components/header/macro.njk" import header %}
{% extends 'example.njk' %}

{% block main %}

  {{ header({
    service: {
      text: "Search patient directory",
      href: "#"
    },
    search: {
      visuallyHiddenLabel: "Search patient directory"
    },
    account: {
      items: [
        {
          text: "Florence Nightingale",
          icon: true
        },
        {
          action: "#",
          text: "Log out"
        }
      ]
    },
    navigation: {
      items: [
        {
          href: "#",
          text: "Home"
        },
        {
          href: "#",
          text: "Patient list"
        },
        {
          href: "#",
          text: "Advanced search"
        },
        {
          href: "#",
          text: "Help guides"
        }
      ]
    }
  }) }}

{% endblock %}
