{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

<header class="nhsuk-header app-header--organisation" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
  <div class="nhsuk-header__logo">
    <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
      <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
        <path fill="#005eb8" d="M0 0h40v16H0z"></path>
        <path fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
      </svg>
      <span class="app-org-title">Great Ormond Street <span class="app-org-title--split">Hospital for Children</span></span>
      <span class="app-org-description">NHS Foundation Trust</span>
    </a>
  </div>
  <div class="nhsuk-header__content" id="content-header">
    <div class="nhsuk-header__search">
      <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
        <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
        </svg>
        <span class="nhsuk-u-visually-hidden">Search</span>
      </button>
      <div class="nhsuk-header__search-wrap" id="wrap-search">
        <form class="nhsuk-header__search-form" id="search" action="/search/" method="get" role="search">
          <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
          <div class="autocomplete-container" id="autocomplete-container"></div>
          <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
          <button class="nhsuk-search__submit" type="submit">
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Search</span>
          </button>
          <button class="nhsuk-search__close" id="close-search">
            <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Close search</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>

{% endblock %}
