{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header with a service name, search and navigation' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
    logo: {
      href: "#"
    },
    service: {
      text: "Digital service manual",
      href: "#"
    },
    search: {
      visuallyHiddenLabel: "Search the NHS digital service manual"
    },
    primaryLinks: [
        {
          href: "#",
          text: "Standards and technology"
        },
        {
          href: "#",
          text: "Design system",
          current: true
        },
        {
          href: "#",
          text: "Content style guide"
        },
        {
          href: "#",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Community and contribution"
        }
      ]
    })
  }}

{% endblock %}
