{% set title = 'Header with logo only' %}
{% from 'components/header/macro.njk' import header %}
{% extends '_templates/example.njk' %}

{% block main %}

  {{ header({
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}
