{% set html_style = "background-color: #f0f4f5;" %}
{% set title = "Header with account, navigation and search" %}
{% from "components/header/macro.njk" import header %}
{% extends "layout.njk" %}

{% block body %}
  {{ header({
    account: {
      items: [
        {
          text: "Florence Nightingale",
          icon: true
        },
        {
          href: "#",
          text: "Log out"
        }
      ]
    },
    service: {
      name: "Digital service manual"
    },
    search: true,
    primaryLinks: [
      {
        url: "#",
        label: "NHS service standard"
      },
      {
        url: "#",
        label: "Design system"
      },
      {
        url: "#",
        label: "Design principles"
      },
      {
        url: "#",
        label: "Content guide"
      },
      {
        url: "#",
        label: "Accessibility"
      },
      {
        url: "#",
        label: "Community and contribution"
      }
    ]
  }) }}
{% endblock %}
