{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Header (default)' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'layout.njk' %}

{% block body %}

  {{ header({
    "search": true,
    "primaryLinks": [
      {

        href: "https://www.nhs.uk/conditions",
        text: "Health A-Z"
      },
      {
        href: 'https://www.nhs.uk/live-well/',
        text: 'Live Well'
      },
      {
        href: 'https://www.nhs.uk/mental-health/',
        text: 'Mental health'
      },
      {
        href: 'https://www.nhs.uk/conditions/social-care-and-support/',
        text: 'Care and support'
      },
      {
        href: 'https://www.nhs.uk/pregnancy/',
        text: 'Pregnancy'
      },
      {
        href: 'https://www.nhs.uk/nhs-services/',
        text: 'NHS services'
      }
    ]
  }) }}

{% endblock %}
