{% set title = 'Allergies' %}
{% set parent = 'Health A-Z' %}
{% extends "includes/templates/page-v4.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block sidebar %}
	<h2 class="nhsuk-heading-s">Pages in this section</h2>
    <ul class="nhsuk-list-nav">
        <li><strong>Overview</strong></li>
        <li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
	</ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
		
		<div class="nhsuk-page-heading">
			<h1>Allergies<span class="nhsuk-o-h1-sub">Overview</span></h1>

			<!--<nav class="nhsuk-c-tab-nav">
				<ul>
					<li><strong>Overview</strong></li>
					<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
					<li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
					<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
					<li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
				</ul>
			</nav>-->

			<p class="nhsuk-body-l nhsuk-page-intro">An allergy is a reaction the body has to a particular food or substance.</p>
		</div>

		<div class="nhsuk-c-page-contents">
			<h2 class="nhsuk-heading-s">On this page</h2>
			<ul>
				<li><a href="#common-allergies">Common allergies</a></li>
				<li><a href="#symptoms">Symptoms of an allergic reaction</a></li>
				<li><a href="#getting-help">Getting help for allergies</a></li>
				<li><a href="#management">How to manage an allergy</a></li>
				<li><a href="#causes">What causes allergies?</a></li>
				<li><a href="#types">Is it an allergy, sensitivity or intolerance?</a></li>
			</ul>
			<p class="nhsuk-nav-bottom-link"><a href="#nav-bottom">View all pages about Allergies</a></p>
		</div>
					
		<p>Allergies are very common. They're thought to affect more than one in four people in the UK at some point in their lives. </p>
		
		<p>They are particularly common in children. Some allergies go away as a child gets older, although many are lifelong. Adults can develop allergies to things they weren't previously allergic to.</p>
		
		<p>Having an allergy can be a nuisance and affect your everyday activities, but most allergic reactions are mild and can be largely kept under control. Severe reactions can occasionally occur, but these are uncommon.</p>
		
		<h2 id="common-allergies">Common allergies</h2>
		
		<p>Substances that cause allergic reactions are called allergens. The more common allergens include:</p>
		
		<ul>
		<li>grass and tree pollen – an allergy to these is known as <a href="http://www.nhs.uk/conditions/Hay-fever/Pages/Introduction.aspx">hay fever</a> (allergic rhinitis) </li>
		<li>dust mites </li>
		<li>animal dander (tiny flakes of skin or hair) </li>
		<li><a href="http://www.nhs.uk/conditions/food-allergy/Pages/Intro1.aspx">food</a> – particularly nuts, fruit, shellfish, eggs and cow's milk </li>
		<li><a href="http://www.nhs.uk/conditions/bites-insect/pages/introduction.aspx">insect bites and stings</a></li>
		<li>medication – including <a href="http://www.nhs.uk/conditions/painkillers-ibuprofen/Pages/Introduction.aspx">ibuprofen</a>, aspirin, and certain <a href="http://www.nhs.uk/conditions/Antibiotics-penicillins/Pages/Introduction.aspx">antibiotics</a></li>
		<li>latex – used to make some gloves and <a href="http://www.nhs.uk/conditions/contraception-guide/pages/male-condoms.aspx">condoms</a></li>
		<li>mould – these can release small particles into the air that you can breathe in </li>
		<li>household chemicals – including those in detergents and <a href="http://www.nhs.uk/conditions/hair-dye-allergy/Pages/Introduction.aspx">hair dyes</a></li>
		</ul>
		
		<p>Most of these allergens are generally harmless to people who aren't allergic to them.</p>

		<h2 id="symptoms">Symptoms of an allergic reaction</h2>
		
		<p>Allergic reactions usually happen quickly within a few minutes of exposure to an allergen.</p>
		
		<p>They can cause:</p>
		
		<ul>
		<li>sneezing </li>
		<li>a runny or blocked nose </li>
		<li>red, itchy, watery eyes </li>
		<li>wheezing and coughing </li>
		<li>a red, itchy rash </li>
		<li>worsening of <a href="http://www.nhs.uk/conditions/asthma/Pages/Introduction.aspx">asthma</a> or <a href="http://www.nhs.uk/conditions/eczema-(atopic)/pages/introduction.aspx">eczema</a> symptoms </li>
		</ul>

		<div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab nhsuk-c-panel__warning">
			<h3>Important</h3>
            <p>Most allergic reactions are mild, but occasionally a severe reaction called <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">anaphylaxis</a> or anaphylactic shock can occur. This is a medical emergency and needs urgent treatment.</p>
        </div>
		
		<p>Read more about the <a href="/examples/allergies/test-condition-allergies-symptoms">symptoms of allergies</a>.</p>

		<h2 id="getting-help">Getting help for allergies</h2>
		
		<p>See your GP if you think you or your child might have had an allergic reaction to something.</p>
		
		<p>The symptoms of an allergic reaction can also be caused by other conditions. Your GP can help determine whether it's likely you have an allergy.</p>
		
		<p>If your GP thinks you might have a mild allergy, they can offer advice and treatment to help manage the condition.</p>
		
		<p>If your allergy is particularly severe or it's not clear what you're allergic to, your GP may refer you to an allergy specialist for testing and advice about treatment.</p>
		
		<p>Read more about <a href="http://www.nhs.uk/conditions/allergies/Pages/Diagnosis.aspx">allergy testing</a>.</p>
		
		<h2 id="management">How to manage an allergy</h2>
		
		<p>In many cases, the most effective way of managing an allergy is to avoid the allergen that causes the reaction whenever possible.</p>
		
		<p>For example, if you have a food allergy, you should check a food's ingredients list for allergens before eating it. The Food Standards Agency has more <a href="http://www.food.gov.uk/science/allergy-intolerance/label/#.U5GnVvmwK2Y" title="External website">information about food allergen labelling</a>.</p>
		
		<p>There are also several medications available to help control symptoms of allergic reactions, including:</p>
		
		<ul>
		<li><a href="http://www.nhs.uk/conditions/antihistamines/Pages/Introduction.aspx">antihistamines</a> – these can be taken when you notice the symptoms of a reaction, or before being exposed to an allergen to stop a reaction occurring </li>
		<li><a href="http://www.nhs.uk/conditions/decongestant-drugs/Pages/Introduction.aspx">decongestants</a> – tablets, capsules, nasal sprays or liquids that can be used as a short-term treatment for a blocked nose </li>
		<li>lotions and creams, such as <a href="http://www.nhs.uk/conditions/Emollients/Pages/Introduction.aspx">moisturising creams (emollients)</a> – these can reduce skin redness and itchiness </li>
		<li><a href="http://www.nhs.uk/conditions/Corticosteroid-(drugs)/Pages/Introduction.aspx">steroid medication</a> – sprays, drops, creams, inhalers and tablets that can help reduce redness and swelling caused by an allergic reaction </li>
		</ul>
		
		<p>For some people with very severe allergies, a treatment called immunotherapy may be recommended. </p>
		
		<p>This involves being exposed to the allergen in a controlled way over a number of years, so your body gets used to it and doesn't react to it so severely.</p>
		
		<p>Read more about <a href="http://www.nhs.uk/conditions/allergies/Pages/Treatment.aspx">treating an allergy</a> and <a href="http://www.nhs.uk/conditions/allergies/Pages/Prevention.aspx">avoiding allergic reactions</a>.</p>
		
		<h2 id="causes">What causes allergies?</h2>
		
		<p>Allergies occur when the body's immune system reacts to a particular substance as though it's harmful.</p>
		
		<p>It's not clear why this happens, but most people affected have a family history of allergies or have closely related conditions such as asthma or eczema.</p>
		
		<p>The number of people with allergies is increasing every year. The reasons for this are not understood, but one of the main theories is it's the result of living in a cleaner, germ-free environment, which reduces the number of germs our immune system has to deal with.</p>
		
		<p>It's thought this may cause it to overreact when it comes into contact with harmless substances.</p>
		
		<h2>Is it an allergy, sensitivity or intolerance?</h2>
		
		<p><strong>allergy</strong> – a reaction produced by the body's immune system when exposed to a normally harmless substance</p>
		
		<p><strong>sensitivity</strong> – the exaggeration of the normal effects of a substance; for example, the caffeine in a cup of coffee may cause extreme symptoms, such as palpitations and trembling</p>
		
		<p><strong>intolerance</strong> – where a substance causes unpleasant symptoms, such as diarrhoea, but doesn't involve the immune system; people with an intolerance to certain foods can typically eat a small amount without having any problems</p>
		
		<div class="nhsuk-c-page-nav-bottom" id="nav-bottom">
			<h2 class="nhsuk-heading-s">All pages about Allergies</h2>
			<ul>
				<li><strong>Overview</strong></li>
				<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-diagnosis">Diagnosis</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
			</ul>
		</div>

    </section>

{% endblock %}
