{% set title = 'Allergies' %}
{% set parent = 'Health A-Z' %}
{% extends "includes/templates/page-v4.html"%}

{% block breadcrumb %}
	<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
		<div class="nhsuk-o-width-container">
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="https://www.nhs.uk/conditions/">Health A-Z</a></li>
			</ol>
			<p><a href="https://www.nhs.uk/conditions/">Back to Health A-Z</a></p>
		</div>
	</nav>
{% endblock %}

{% block sidebar %}
<h2 class="nhsuk-heading-s">Pages in this section</h2>
    <ul class="nhsuk-list-nav">
        <li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
        <li><strong>Diagnosis</strong></li>
        <li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
        <li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
	</ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
		
		<div class="nhsuk-reading-width">

			<div class="nhsuk-page-heading">
				<h1>Allergies<span class="nhsuk-o-h1-sub">Diagnosis</span></h1>

				<!--<nav class="nhsuk-c-tab-nav">
					<ul>
						<li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
						<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
						<li><strong>Diagnosis</strong></li>
						<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
						<li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
					</ul>
				</nav>-->

				<p class="nhsuk-body-l nhsuk-page-intro">If you think you have an allergy, tell your GP about the symptoms you're having, when they happen, how often they occur and if anything seems to trigger them.</p>
			</div>

			<div class="nhsuk-c-page-contents">

				<div class="nhsuk-c-reveal">
					<a href="#" class="nhsuk-c-reveal__header">Open page contents</a>
					<div class="nhsuk-c-reveal__content">
						<ul>
							<li><a href="#skin-prick-testing">Skin prick testing</a></li>
							<li><a href="#blood-tests">Blood tests</a></li>
							<li><a href="#patch-tests">Patch tests</a></li>
							<li><a href="#elimination-diet">Elimination diet</a></li>
							<li><a href="#challenge-testing">Challenge testing</a></li>
							<li><a href="#allergy-testing-kits">Allergy testing kits</a></li>
						</ul>
					</div>
				</div>

				<script>
					$('.nhsuk-c-reveal__header').click( function() {
						$(this).next("div").toggle();
						var txt = $(".nhsuk-c-reveal__content").is(':visible') ? 'Close page contents' : 'Open page contents';
						$(this).toggleClass("open").text(txt);
						return false;
					});
				</script>

				<p class="nhsuk-nav-bottom-link"><a href="#nav-bottom">View all pages about Allergies</a></p>
				
			</div>
						
			<p>Your GP can offer advice and treatment for mild allergies with a clear cause.</p>

			<p>If your allergy is more severe or it's not obvious what you're allergic to, you may be referred for allergy testing at a specialist allergy clinic.</p>

			<p><a href="http://www.nhs.uk/Service-Search/Allergies/LocationSearch/220" class="nhsuk-action-link">Find your nearest NHS allergy clinic</a></p>

			<p>The tests that may be carried out are described on this page.</p>

			<h2 id="skin-prick-testing">Skin prick testing</h2>

			<div class="nhsuk-c-image">
				<img
					alt="Picture of a skin prick test"
					src="https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-920x613.jpg"
					sizes="(min-width: 920px) 920px, 100vw"
					srcset="
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-320x213.jpg 320w,
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-919x612.jpg 919w,
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-920x613.jpg 920w,
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-1125x750.jpg 1125w,
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-1838x1225.jpg 1838w,
					
						https://assets.nhs.uk/prod/images/M3200456.2e16d0ba.fill-1840x1226.jpg 1840w,
					
					"
				/>
			</div>

			<p>Skin prick testing is one of the most common allergy tests.</p>

			<p>It involves putting a drop of liquid onto your forearm that contains a substance you may be allergic to. The skin under the drop is then gently pricked with a needle. If you are allergic to the substance, an itchy, red bump will appear within 15 minutes.</p>

			<p>Skin prick testing is painless and very safe.</p>
			
			<div class="nhsuk-c-keypoint-v2">
				<p>Make sure you don't take <a href="http://www.nhs.uk/conditions/antihistamines/Pages/Introduction.aspx">antihistamines</a> before the test, as they can interfere with the results.</p>
			</div>

			<h2 id="blood-tests">Blood tests</h2>

			<p><a href="http://www.nhs.uk/conditions/blood-tests/pages/introduction.aspx">Blood tests</a> may be used instead of, or alongside, skin prick tests to help diagnose common allergies.</p>

			<p>A sample of your blood is removed and analysed for specific antibodies produced by your immune system in response to an allergen.</p>

			<h2 id="patch-tests">Patch tests</h2>

			<p>Patch tests are used to investigate a type of eczema known as <a href="http://www.nhs.uk/conditions/eczema-%28contact-dermatitis%29/Pages/Introduction.aspx">contact dermatitis</a>, which can be caused by your skin being exposed to an allergen.</p>

			<p>A small amount of the suspected allergen is added to special metal discs, which are then taped to your skin for 48 hours and monitored for a reaction.</p>

			<h2 id="elimination-diet">Elimination diet</h2>

			<p>If you have a suspected <a href="http://www.nhs.uk/conditions/food-allergy/Pages/Intro1.aspx">food allergy</a>, you may be advised to avoid eating a particular food to see if your symptoms improve. </p>

			<p>After a few weeks, you may then be asked to eat the food again to check if you have another reaction.</p>

			<p>Don't attempt to do this yourself without discussing it with a qualified healthcare professional.</p>

			<h2 id="challenge-testing">Challenge testing</h2>

			<p>In a few cases, a test called a food challenge may also be used to diagnose a food allergy. </p>

			<p>During the test, you're given the food you think you're allergic to in gradually increasing amounts, to see how you react under close supervision.</p>

			<p>This test is riskier than other forms of testing, as it could cause a severe reaction, but is the most accurate way to diagnose food allergies. And challenge testing is always carried out in a clinic where a severe reaction can be treated if it does develop.</p>			

			<h2 id="allergy-testing-kits">Allergy testing kits</h2>

			<p>The use of commercial allergy-testing kits isn't recommended. These tests are often of a lower standard than those provided by the NHS or accredited private clinics and are generally considered to be unreliable.</p>

			<p>Allergy tests should be interpreted by a qualified professional who has detailed knowledge of your symptoms and medical history.</p>
			
			<div class="care-card grey">
				<div class="care-card-heading">
					<h4 class="nhsuk-heading-m">Call 111</h4>
				</div>
				<div class="care-card-content">
					<p>if you can't speak to your GP and don't know what to do next.</p>
				</div>
			</div>

			<div class="nhsuk-c-review-datestamp">
				<p>Page last reviewed: 12/02/2016<br>
				Next review due: 01/02/2019</p>
			</div>

		</div>

		<div class="nhsuk-c-page-nav-bottom" id="nav-bottom">
			<h2 class="nhsuk-heading-s">All pages about Allergies</h2>
			<ul>
				<li><a href="/examples/allergies/test-condition-allergies-overview">Overview</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-symptoms">Symptoms</a></li>
				<li><strong>Diagnosis</strong></li>
				<li><a href="/examples/allergies/test-condition-allergies-treatment">Treatment</a></li>
				<li><a href="/examples/allergies/test-condition-allergies-prevention">Prevention</a></li>
			</ul>
		</div>

    </section>

{% endblock %}
