@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Contents list component
///
/// 1. Creates a grey line before each list
///    item using a ASCII number for the symbol.
///
/// @group components/contents-list
////

@include nhsuk-exports("nhsuk/components/contents-list") {
  .nhsuk-contents-list {
    @include nhsuk-responsive-margin(7, "bottom");
  }

  .nhsuk-contents-list__list {
    list-style: none;
    padding: 0;
  }

  .nhsuk-contents-list__item {
    padding: 0 0 0 nhsuk-spacing(5);
    position: relative;

    &::before {
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: nhsuk-em(12px, $nhsuk-base-font-size);
      width: nhsuk-spacing(3);
      border-top: 1px solid nhsuk-colour("grey-3");
    }
  }

  .nhsuk-contents-list__link {
    display: inline-block;
  }

  .nhsuk-contents-list__current {
    font-weight: $nhsuk-font-bold;
  }
}
