{% macro pageNavigation(previousURL, previousTitle, nextURL, nextTitle) %}
  <nav class="nhsuk-c-pagination" role="navigation" aria-label="Pagination">
    <a href="{{previousUrl}}" class="nhsuk-c-pagination-prev">
      <span class="nhsuk-c-pagination-link">Previous</span>
      <span class="nhsuk-c-pagination-title">{{previousTitle}}</span>
      {% include 'core/assets/icons/icon-arrow-left.svg' %}
    </a>
    <a href="{{nextUrl}}" class="nhsuk-c-pagination-next">
      <span class="nhsuk-c-pagination-link">Next</span>
      <span class="nhsuk-c-pagination-title">{{nextTitle}}</span>
      {% include 'core/assets/icons/icon-arrow-right.svg' %}
    </a>
  </nav>
{% endmacro %}

{% macro pageNavigationPrevious(previousURL, previousTitle) %}
  <nav class="nhsuk-c-pagination" role="navigation" aria-label="Pagination">
    <a href="{{previousURL}}" class="nhsuk-c-pagination-prev">
      <span class="nhsuk-c-pagination-link">Previous</span>
      <span class="nhsuk-c-pagination-title">{{previousTitle}}</span>
      {% include 'core/assets/icons/icon-arrow-left.svg' %}
    </a>
  </nav>
{% endmacro %}

{% macro pageNavigationNext(nextURL, nextTitle) %}
  <nav class="nhsuk-c-pagination" role="navigation" aria-label="Pagination">
    <a href="{{nextURL}}" class="nhsuk-c-pagination-next">
      <span class="nhsuk-c-pagination-link">Next</span>
      <span class="nhsuk-c-pagination-title">{{nextTitle}}</span>
      {% include 'core/assets/icons/icon-arrow-right.svg' %}
    </a>
  </nav>
{% endmacro %}
