{% from "nhsuk/macros/attributes.njk" import nhsukAttributes -%}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-fieldset" -%}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif -%}

<fieldset
  {{- nhsukAttributes({
    class: classNames,
    id: {
      value: params.id,
      optional: true
    },
    role: {
      value: params.role,
      optional: true
    },
    "aria-describedby": {
      value: params.describedBy,
      optional: true
    }
  }) -}}

  {{- nhsukAttributes(params.attributes) }}>
  {% if params.legend.html or params.legend.text %}
  <legend class="nhsuk-fieldset__legend {%- if params.legend.classes %} {{ params.legend.classes }}{% endif %}">
  {% if params.legend.isPageHeading %}
    <h1 class="nhsuk-fieldset__heading">
      {{ params.legend.html | safe | trim | indent(6) if params.legend.html else params.legend.text }}
    </h1>
  {% else %}
    {{ params.legend.html | safe | trim | indent(4) if params.legend.html else params.legend.text }}
  {% endif %}
  </legend>
  {% endif %}
{% if caller %} {#- if statement allows usage of `call` to be optional -#}
  {{ caller() }}
{% elif params.html %}
  {{ params.html | safe }}
{% endif %}
</fieldset>
