/* ==========================================================================
   COMPONENTS / #PROMO
   ========================================================================== */

/**
 * A promo is a snippet of content which links to a full piece of content
 * elsewhere on the NHS site or app.
 *
 * It can be used with or without an image.
 *
 * 1. Extra margin is added to compensate for the box-shadow.
 * 2. Box shadow size is set within settings/_globals.scss.
 * 3. Makes the <a> fill the height of it's parent container.
 * 4. Is needed for the :active top positioning.
 * 5. Removes default <a> text underline from all elements.
 * 6. Adds text underline to promo heading.
 * 7. Creates the 'pressed down' effect when clicked.
 * 8. Border is used to create a divider between the white content
 *    box and an image.
 */

.nhsuk-c-promo {
  margin-bottom: nhsuk-spacing(5) + $nhsuk-box-shadow-link; /* [1] */
  width: 100%;
}

.nhsuk-c-promo__link-wrapper {
  background-color: $colour_nhsuk-white;
  box-shadow: 0 $nhsuk-box-shadow-link 0 0 $colour_nhsuk-grey-4; /* [2] */
  display: block;
  height: 100%; /* [3] */
  position: relative; /* [4] */
  text-decoration: none; /* [5] */

  &:focus {
    background-color: $colour_nhsuk-white;
    box-shadow: 0 0 0 $nhsuk-box-shadow-link $nhsuk-focus-colour;

    .nhsuk-c-promo__heading {
      text-decoration: underline; /* [6] */
    }

    .nhsuk-c-promo__heading,
    .nhsuk-c-promo__description {
      color: $nhsuk-link-focus-colour;
    }

  }

  &:hover {
    background: $colour_nhsuk-white;
    box-shadow: 0 0 0 $nhsuk-box-shadow-link $nhsuk-focus-colour;
    color: $colour_nhsuk-blue;
  }

  &:active {
    background: $colour_nhsuk-grey-5; /* [7] */
    box-shadow: 0 0 0 $nhsuk-box-shadow-link $nhsuk-link-active-background-colour;
    top: $nhsuk-box-shadow-link; /* [7] */
  }

  &:hover,
  &:active {
    .nhsuk-c-promo__heading {
      text-decoration: none;
    }
  }
}

.nhsuk-c-promo__img {
  border-bottom: 1px solid $colour_nhsuk-grey-5; /* [8] */
  width: 100%;

  @include mq($media-type: print) {
    display: none;
  }
}

.nhsuk-c-promo__heading {
  margin-bottom: nhsuk-spacing(3);
  text-decoration: underline;
}

.nhsuk-c-promo__content {
  @include top-and-bottom();

  @include nhsuk-responsive-padding(5);
}

.nhsuk-c-promo__description {
  color: $nhsuk-secondary-text-colour;
}

/* Promo size variant
   ========================================================================== */

/**
 * Promo small reduces the size of the text heading and description.
 */

.nhsuk-c-promo--small {

  .nhsuk-c-promo__heading {
    @include nhsuk-typography-responsive(19);
  }

  .nhsuk-c-promo__description {
    @include nhsuk-typography-responsive(16);
  }

}

/* Promo group
   ========================================================================== */

/**
 * Promo group allows you to have a row of promos.
 *
 * Flexbox is used to make each promo in a row the same height.
 */

.nhsuk-c-promo-group {
  @include flex();
  margin-bottom: nhsuk-spacing(5) + $nhsuk-box-shadow-link;

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4) + $nhsuk-box-shadow-link;
  }
}

.nhsuk-c-promo-group__item {
  @include flex-item();

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4) + $nhsuk-box-shadow-link;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .nhsuk-c-promo {
    margin-bottom: 0;
  }

}
