{% set title = 'About - NHS.UK frontend' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="nhsuk-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/nhsuk/nhsuk-frontend/blob/master/docs/contributing/README.md">contributing guidelines</a> on how to set up the project locally and contribute changes to NHS.UK frontend.</p>

    <h2>Get in touch</h2>
    <p>NHS.UK frontend is actively maintained by a team at NHS Digital, you can <a href="mailto:service-manual@nhs.net">email us</a> or get in touch on the <a href="https://nhsuk.slack.com/messages/standards">NHS.UK #standards Slack channel</a>.

  </div>

{% endblock %}
