<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/images/favicon.png">

    <title>NHS.UK redesign - {{ title }}</title>

    <link rel="stylesheet" href="/css/nhsuk.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/css/ie-78.css"><![endif]-->

    <script src="/js/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  </head>
  <body class="{{ body_class }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% if navigation == 'transactional' %}
      {% include "includes/header-transactional.html" %}
    {% else %}
      {% include "includes/header.html" %}
      {% include "includes/nav.html" %}
    {% endif %}

    {% block body %}{% endblock %}
    {% include "includes/footer.html" %}

    <script src="/js/main.js"></script>
    <script src="/js/stickyfill.js"></script>
    <script src="/js/prism.min.js"></script>
    <script>
    var clipboard = new ClipboardJS('.nhsuk-btn-copy');
      clipboard.on('success', function(e) {
        e.clearSelection();
        e.trigger.textContent = 'Copied';
        setTimeout(function() {
          e.trigger.textContent = 'Copy';
        }, 2500);
      });
    </script>
    <script>
      var elements = document.querySelectorAll('.nhsuk-sticky');
      Stickyfill.add(elements);
    </script>
  </body>
</html>
