.nhsuk-c-page-contents-v2{
	padding: 0 0 24px 0;
	margin: 0 0 34px 0;
	border-bottom: $nhsuk-grey-3 1px solid;
	.nhsuk-c-page-contents-v2-reveal{
		position: relative;
		padding: 0 0 0 24px;
		display: block;
		font-weight: 600;
		text-decoration: none;

		&:before{
			content: '';
			width: 14px;
			height: 8px;
			position: absolute;
			top: 10px;
			left: 0;
			display: inline-block;
			background:url(../../../../images/icon-chevron-down-blue.svg) left center no-repeat;
			background-size: 14px 8px;
			@media screen and (max-width: 640px) {
				top: 8px;
			}
		}
		&.open:before{
			-webkit-transform: rotate(180deg);
  			transform: rotate(180deg);
		}
	}
	.nhsuk-c-page-contents-v2-content{
		display: none;
		list-style: none;
		padding-left: 24px;
		li{
			&:last-child{
				margin-bottom: 0;
			}
			margin: 0 0 16px 0;
		}
	}
}
