.care-card {
  margin: 40px 0;
  width: 100%;
  @include mq($from: tablet) {
    margin: 56px 0;
  }
  .care-card-heading {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    padding: 16px;
    position: relative;
    @include mq($from: tablet) {
      padding: 16px 24px;
    }
    &:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $nhsuk-blue;
      bottom: -16px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }
  }

  .care-card-content {
    background: $nhsuk-white;
    padding: 32px 16px 24px;
    @include mq($from: tablet) {
      padding: 36px 24px 28px;
    }
    & > *:first-child {
      margin-top: 0;
    }
  }
  &.grey {
    .care-card-heading {
      background: $nhsuk-grey-1;
      &:after {
        border-top: 16px solid $nhsuk-grey-1;
        content: '';
      }
    }
  }
  &.blue {
    .care-card-heading {
      background: $nhsuk-blue;
      &:after {
        border-top: 16px solid $nhsuk-blue;
        content: '';
      }
    }
  }
  &.red {
    .care-card-heading {
      background: $nhsuk-red;
      &:after {
        border-top: 16px solid $nhsuk-red;
        content: '';
      }
    }
  }
  &.black {
    .care-card-heading {
      background: $nhsuk-red;
      &:after {
        border-top: 16px solid $nhsuk-red;
        content: '';
      }
    }
    .care-card-content {
      background: $nhsuk-red;
      color: $nhsuk-white;
    }
  }
}
