.nhsuk-hero {
  background: $nhsuk-blue;
  color: $nhsuk-white;
  .nhsuk-hero-container {
    border-top: 1px solid $nhsuk-white;
    .nhsuk-page-heading {
      margin: 0;
      padding: 40px 0;
      @include mq($from: tablet) {
        padding: 64px 0;
      }
      h1 {
        color: $nhsuk-white;
      }
    }
  }
}

.nhsuk-home-page {
  .nhsuk-o-main-wrapper {
    padding: 0;
  }
}
