.nhsuk-hero {
  background: $nhs-blue-aaa;
  color: $white;
  .nhsuk-hero-container {
    border-top: 1px solid $white-05;
    .nhsuk-page-heading {
      margin: 0;
      padding: 64px 0;
      @media only screen and (max-width: 641px) {
        padding: 40px 0;
      }
      h1 {
        color: $white;
      }
    }
  }
}

.nhsuk-home-page {
  .nhsuk-o-main-wrapper {
    padding: 0;
  }
}
