.nhsuk-global-header {
  background: $nhs-blue-aaa;
  &__inner--logo {
    @include clear();
    padding: 20px 0;
    a {
      display: block;
      float: left;
      height: 32px;
      width: 79px;
      img {
        height: 32px;
        width: 79px;
      }
    }
  }
}
