/* ==========================================================================
   COMPONENTS / #CARE-CARD
   ========================================================================== */

/**
 * Care card default styles.
 *
 * 1. Default care card colour set to blue (non-urgent care card) -
 *    using the @mixin care-card tools/_mixins.scss.
 *    The same mixin is used for each care card, setting the background
 *    colour,text colour and print border width with the variables.
 * 2. By adding ‘clip-path’ we can draw a polygon that matches the original
 *    triangle to ensure the rectangle does not appear.
 * 3. Care card heading triangle.
 * 4. Care card heading triangle positioning.
 * 5. 'Random number' used for spacing to compensate for the triangle.
 * 6. This shows as a solid border in high contrast mode in Windows, so helps
 *    differentiates care cards from the rest of the content.
 */

.nhsuk-care-card {
  @include nhsuk-responsive-margin(7, 'bottom');
  @include nhsuk-responsive-margin(7, 'top');
  @include care-card($color_nhsuk-blue, $color_nhsuk-white, 4px); /* [1] */
  border: 1px solid transparent; /* [6] */
}

.nhsuk-care-card__heading-container {
  padding: nhsuk-spacing(3) nhsuk-spacing(4);
  position: relative;

  &:after {
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0); /* [2] */ // sass-lint:disable-line property-sort-order
    clip-path: polygon(0 0, 50% 100%, 100% 0); /* [2] */ // sass-lint:disable-line property-sort-order
    border-left: $nhsuk-care-card-triangle-border solid transparent; /* [3] */ // sass-lint:disable-line property-sort-order
    border-right: $nhsuk-care-card-triangle-border solid transparent; /* [3] */ // sass-lint:disable-line property-sort-order
    bottom: -$nhsuk-care-card-triangle-border + 1;  /* [4] */ // sass-lint:disable-line property-sort-order
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;

    @include print-hide();
  }

}

.nhsuk-care-card__heading {
  @include nhsuk-font(24, $weight: bold);
  @include print-color($nhsuk-print-text-color);

  margin: 0;
}

.nhsuk-care-card__content {
  @include top-and-bottom();

  background-color: $color_nhsuk-white;
  padding: nhsuk-spacing(5) nhsuk-spacing(4) nhsuk-spacing(4); /* [5] */

  @include mq($from: tablet) {
    padding-bottom: nhsuk-spacing(5);
    padding-top: 36px; /* [5] */
  }

  @include print-color($nhsuk-print-text-color);

}

/**
 * Card card variations style.
 *
 * 1. <a> needs to be white because the background colour is black.
 */

.nhsuk-care-card--red {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 6px);
}

.nhsuk-care-card--black {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 8px);

  .nhsuk-care-card__content {
    background-color: $color_nhsuk-black;
    color: $color_nhsuk-white;

    a {
      color: $color_nhsuk-white; /* [1] */

      &:hover,
      &:focus {
        color: $color_nhsuk-black; /* [1] */
      }

    }

  }

}
