/* ==========================================================================
   COMPONENTS / #CARE-CARD
   ========================================================================== */

/**
 * Care card default styles.
 *
 * 1. Default care card colour set to blue (non-urgent care card) -
 *    using the @mixin care-card tools/_mixins.scss.
 *    The same mixin is used for each care card, setting the background
 *    colour,text colour and print border width with the variables.
 * 2. This shows as a solid border in high contrast mode in Windows, so helps
 *    differentiates care cards from the rest of the content.
 * 3. 'Random number' for the heading triangle.
 * 4. 'Random number' for the heading triangle positioning.
 * 5. 'Random number' used for spacing to compensate for the triangle.
 * 6. Needed to enable the triangle to show correctly in high contrast mode.
 */

.nhsuk-care-card {
  @include nhsuk-responsive-margin(7, 'bottom');
  @include nhsuk-responsive-margin(7, 'top');
  @include care-card($color_nhsuk-blue, $color_nhsuk-white, 4px); /* [1] */
  border: 1px solid transparent; /* [2] */
}

.nhsuk-care-card__heading-container {
  padding: nhsuk-spacing(3) nhsuk-spacing(4);
  position: relative;
}

.nhsuk-care-card__arrow {
  bottom: -10px; /* [3] */
  display: block;
  height: 20px; /* [3] */
  left: 30px; /* [4] */
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  width: 20px; /* [3] */
  @include print-hide();

  &:before,
  &:after {
    border: solid 32px $color_nhsuk-blue; /* [3] */
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg); /* [6] */
    width: 0;
  }

}

.nhsuk-care-card__heading {
  @include nhsuk-font(24, $weight: bold);
  @include print-color($nhsuk-print-text-color);

  margin: 0;
}

.nhsuk-care-card__content {
  @include top-and-bottom();

  background-color: $color_nhsuk-white;
  padding: nhsuk-spacing(5) nhsuk-spacing(4) nhsuk-spacing(4); /* [5] */

  @include mq($from: tablet) {
    padding-bottom: nhsuk-spacing(5);
    padding-top: 36px; /* [5] */
  }

  @include print-color($nhsuk-print-text-color);

}

/**
 * Card card variations style.
 *
 * 1. <a> needs to be white because the background colour is black.
 */

.nhsuk-care-card--urgent {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 6px);

  .nhsuk-care-card__arrow {
    &:before,
    &:after {
      border-color: $color_nhsuk-red;
    }
  }

}

.nhsuk-care-card--immediate {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 8px);

  .nhsuk-care-card__arrow {
    &:before,
    &:after {
      border-color: $color_nhsuk-red;
    }
  }

  .nhsuk-care-card__content {
    background-color: $color_nhsuk-black;
    color: $color_nhsuk-white;

    a {
      color: $color_nhsuk-white; /* [1] */

      &:focus {
        color: $color_nhsuk-black; /* [1] */
      }

    }

  }

  .nhsuk-details,
  .nhsuk-details__summary {
    color: $color_nhsuk-white;
  }

  .nhsuk-details__summary {
    &:hover {
      color: $color_nhsuk-white;
    }
    &:focus {
      color: $color_nhsuk-black;
    }
  }

}
