/* ==========================================================================
   COMPONENTS / #PANEL
   ========================================================================== */

.nhsuk-panel {
  @include panel($colour_nhsuk-white, $nhsuk-text-colour);
}

/* Panel colour variant
   ========================================================================== */

.nhsuk-panel--grey {
  background-color: $colour_nhsuk-grey-5;
}

/* Panel with label
   ========================================================================== */

.nhsuk-panel-with-label {
  @include panel-with-label($colour_nhsuk-white, $nhsuk-text-colour);
}

.nhsuk-panel-with-label__label {
  @include heading-label($colour_nhsuk-blue, $colour_nhsuk-white);
  @include print-colour($nhsuk-print-text-colour);
}

/* Panel group
   ========================================================================== */

/**
 * Panel group allows you to have a row of panels.
 *
 * 1. Flexbox is used to make each panel in a row the same height.
 */

.nhsuk-panel-group {
  @include flex(); // [1] //

  margin-bottom: nhsuk-spacing(5);

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);
  }

}

.nhsuk-panel-group__item {
  @include flex-item(); // [1] //

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);

    > &:last-child {
      margin-bottom: 0;
    }

  }

  .nhsuk-panel {
    margin-bottom: 0;
    margin-top: 0;
  }

}
