/* ==========================================================================
   COMPONENTS / #PANEL
   ========================================================================== */

.nhsuk-panel {
  @include panel($color_nhsuk-white, $nhsuk-text-color);
  width: 100%;
}

/* Panel with label
   ========================================================================== */

.nhsuk-panel-with-label {
  @include panel-with-label($color_nhsuk-white, $nhsuk-text-color);
}

.nhsuk-panel-with-label__label {
  @include heading-label($color_nhsuk-blue, $color_nhsuk-white);
  @include print-color($nhsuk-print-text-color);
}

/* Panel group
   ========================================================================== */

/**
 * Panel group allows you to have a row of panels.
 *
 * 1. Flexbox is used to make each panel in a row the same height.
 */

.nhsuk-panel-group {
  @include flex(); /* [1] */

  margin-bottom: nhsuk-spacing(5);

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);
  }

}

.nhsuk-panel-group__item {
  @include flex-item(); /* [1] */

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }

  }

  .nhsuk-panel {
    margin-bottom: 0;
    margin-top: 0;
  }

}

//  Clickable panel
.nhsuk-panel__link-wrapper {
  background-color: $color_nhsuk-white;
  border: 1px solid transparent;
  box-shadow: 0 $nhsuk-box-shadow-link 0 0 $color_nhsuk-grey-4; /* [2] */
  cursor: pointer;
  display: block;
  height: 100%; /* [3] */
  position: relative; /* [4] */
  text-decoration: none; /* [5] */

  &:focus {
    background-color: $color_nhsuk-white;
    box-shadow: 0 0 0 $nhsuk-box-shadow-link $nhsuk-focus-color;

    .nhsuk-panel__heading {
      text-decoration: underline; /* [6] */
    }

    .nhsuk-panel__heading,
    .nhsuk-panel__description {
      color: $nhsuk-focus-text-color;
    }

  }

  &:hover {
    color: $color_nhsuk-blue;

    p {
      color: $nhsuk-text-color;
    }
  }

  &:active {
    background-color: $color_nhsuk-grey-5; /* [7] */
    box-shadow: 0 0 0 $nhsuk-box-shadow-link $nhsuk-focus-color;
    top: $nhsuk-box-shadow-link; /* [7] */
  }

  &:hover,
  &:active {
    .nhsuk-panel__heading {
      text-decoration: none;
    }
  }

}

.nhsuk-panel__img {
  @include print-hide();

  border-bottom: 1px solid $color_nhsuk-grey-5; /* [8] */
  display: block;
  margin-bottom: 1em;
  width: 100%;

}

.nhsuk-panel__heading {
  @include nhsuk-font(24, $weight: bold);

  margin-bottom: nhsuk-spacing(3);
  text-decoration: underline;
}

.nhsuk-panel__content {
  @include top-and-bottom();
  @include nhsuk-responsive-padding(5);
}

.nhsuk-panel__description {
  color: $nhsuk-text-color;
}

/* Card size variant
   ========================================================================== */

/**
 * Card small reduces the size of the text heading and description.
 */

.nhsuk-panel--small {

  .nhsuk-panel__heading {
    @include nhsuk-typography-responsive(19);
  }

  .nhsuk-panel__description {
    @include nhsuk-typography-responsive(16);
  }

}
