/* ==========================================================================
   COMPONENTS/ #RADIOS
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$nhsuk-radios-size: nhsuk-spacing(6);
$nhsuk-radios-label-padding-left-right: 12px;
// When the default focus width is used on a curved edge it looks visually smaller.
// So for the circular radios we bump the default to make it look visually consistent.
$nhsuk-radios-focus-width: $nhsuk-focus-width + 1px;

.nhsuk-radios__item {
  @include nhsuk-font(19);

  clear: left;
  display: block;
  margin-bottom: nhsuk-spacing(2);
  min-height: $nhsuk-radios-size;
  padding: 0 0 0 $nhsuk-radios-size;
  position: relative;
}

.nhsuk-radios__item:last-child,
.nhsuk-radios__item:last-of-type {
  margin-bottom: 0;
}

.nhsuk-radios__input {
  cursor: pointer;
  height: $nhsuk-radios-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $nhsuk-radios-size;
  z-index: 1;
}

.nhsuk-radios__label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $nhsuk-radios-label-padding-left-right nhsuk-spacing(1);
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 1 */
}

.nhsuk-radios__hint {
  display: block;
  padding-left: $nhsuk-radios-label-padding-left-right;
  padding-right: $nhsuk-radios-label-padding-left-right;
}

.nhsuk-radios__input + .nhsuk-radios__label::before {
  background: $nhsuk-form-element-background-color;
  border: $nhsuk-border-width-form-element solid $nhsuk-form-border-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: $nhsuk-radios-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $nhsuk-radios-size;
}

.nhsuk-radios__input + .nhsuk-radios__label::after {
  background: $nhsuk-form-border-color;
  border: 10px solid $nhsuk-text-color;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 10px;
  width: 0;
}

/**
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.nhsuk-radios__input:focus + .nhsuk-radios__label::before {
  @include nhsuk-focused-radio();
}

/* Selected state */

.nhsuk-radios__input:checked + .nhsuk-radios__label::after {
  opacity: 1;
}

/* Disabled state */

.nhsuk-radios__input:disabled,
.nhsuk-radios__input:disabled + .nhsuk-radios__label {
  cursor: default;
}

.nhsuk-radios__input:disabled + .nhsuk-radios__label {
  opacity: 0.5;
}

/*
 * Inline variant
 *
 * 1. Prevent inline modifier being used with conditional reveals
 */

.nhsuk-radios--inline {
  @include mq($from: tablet) {
    @include clearfix;

    .nhsuk-radios__item {
      clear: none;
      float: left;
      margin-right: nhsuk-spacing(4);
    }
  }

  &.nhsuk-radios--conditional {
    /* 1 */
    .nhsuk-radios__item {
      float: none;
      margin-right: 0;
    }
  }
}

/* Divider variant */

.nhsuk-radios__divider {
  $nhsuk-divider-size: $nhsuk-radios-size !default;
  @include nhsuk-font(19);

  color: $nhsuk-text-color;
  margin-bottom: nhsuk-spacing(2);
  text-align: center;
  width: $nhsuk-divider-size;
}

/* Conditional */

$conditional-border-width: $nhsuk-border-width-mobile;
// Calculate the amount of padding needed to keep the border centered against the radios.
$conditional-border-padding: ($nhsuk-radios-size * 0.5) - ($conditional-border-width * 0.5);
// Move the border centered with the radios
$conditional-margin-left: $conditional-border-padding;
// Move the contents of the conditional inline with the label
$conditional-padding-left: $conditional-border-padding + $nhsuk-radios-label-padding-left-right;

.nhsuk-radios__conditional {
  @include nhsuk-responsive-margin(4, "bottom");
  border-left: $conditional-border-width solid $nhsuk-form-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .nhsuk-radios__conditional--hidden {
  display: none;
}
