<div role="alert" class="nhsuk-c-global-alert-new-page">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert-new-page__content">
                    <h2>You can help us improve this website</h2>
                    <button>Take our short survey</button>
                    <p>
                        <a role="button" style="background-color: #007f3b;font-size: 20px;
                        border: 0;box-shadow: 0 2px 0 #003317;line-height: 32px;cursor: pointer;display: inline-block;letter-spacing: .5px;outline: 1px solid transparent;outline-offset: -1px;padding: 12px 24px;position: relative;text-align: center;text-decoration: none;    border-radius: 0;" class="button" arial-label="Start the online 'manage your choice' service" href="https://your-data-matters.service.nhs.uk/">
                          Start
                        </a>
                        
                      </p>
                </div>
            </div>
        </div>
    </div>
</div>