<div role="alert" class="nhsuk-c-global-alert nhsuk-c-global-alert--notice">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert__content">
                    <h2 class="nhsuk-c-global-alert__header">NEW</h2>
                    <p class="nhsuk-c-global-alert__message">The NHS website is improving. Find out <a href="#" class="nhsuk-c-global-alert__link">what has changed and why</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>