<!--<div class="notification-banner notification-banner--hiviz notification-banner--sticky util-print-hide" style="    bottom: 0;
margin: 0 auto;padding: 8px 0;position: fixed;width: 100%;background-color: #fffbce;font-weight: 400;
line-height: 24px;-webkit-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);
-moz-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);">
    <div class="notification-banner__inner notification-banner--sticky__inner" style="font-size: 14px !important;
    padding: 8px 0 !important;margin: 0 16px;">
        <h2 style="margin-top: 0px;">You can help us improve this website</h2>
            <p><a role="button" style="background-color: #007f3b;font-size: 19px;border: 0;box-shadow: 0 3px 0 #212B32;line-height: 32px;cursor: pointer;display: inline-block;letter-spacing: .5px;outline: 1px solid transparent;outline-offset: -1px;padding: 12px 24px;position: relative;text-align: center;text-decoration: none;    border-radius: 5px;color:#fff;" class="button" arial-label="Start the online 'manage your choice' service" href="https://your-data-matters.service.nhs.uk/">Take our short survey</a></p>

                <p><a href="#">or close this message</a></p>
    </div>
</div>-->




<div class="notification-banner notification-banner--hiviz notification-banner--sticky util-print-hide" style="    bottom: 0;
margin: 0 auto;padding: 8px 0;position: fixed;width: 100%;background-color: #ffed00;font-weight: 400;
line-height: 24px;-webkit-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);
-moz-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);">
    <div class="notification-banner__inner notification-banner--sticky__inner" style="font-size: 14px !important;
    padding: 8px 0 !important;margin: 0 16px;">
        <p style="margin-top: 8px;font-weight:600;font-size:19px;">You can help us improve this website</p>
            <p style="margin-top: 16px;"><a role="button" style="background-color: #007f3b;font-size: 16px;border: 0;box-shadow: 0 3px 0 #212B32;line-height: 32px;cursor: pointer;display: inline-block;letter-spacing: .5px;outline: 1px solid transparent;outline-offset: -1px;padding: 6px 12px;position: relative;text-align: center;text-decoration: none;    border-radius: 5px;color:#fff;" class="button" arial-label="Start the online 'manage your choice' service" href="https://your-data-matters.service.nhs.uk/">Take our short survey</a></p>

                <p style="font-size: 16px;margin-top: 24px;margin-bottom: 8px;">or <a href="#">close this message</a></p>
    </div>
</div>


<!--<div class="notification-banner notification-banner--hiviz notification-banner--sticky util-print-hide" style="    bottom: 0;
margin: 0 auto;
padding: 8px 0;
position: fixed;
width: 100%;background-color: #fffbce;font-weight: 400;
line-height: 24px;
-webkit-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);
-moz-box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);
box-shadow: 0px -4px 37px 4px rgba(0,0,0,0.17);">
    <div class="notification-banner__inner notification-banner--sticky__inner" style="font-size: 14px !important;
    padding: 8px 0 !important;margin: 0 16px;">
    <h2 style="margin-top: 0px;background: #ffb81c;
    color: #212b32;    display: inline-block;
    padding: 4px 8px;
    margin: 0 8px 0 0;font-size: 16px;
    line-height: 24px;">Feedback</h2>
    <p style="font-size: 16px;
    line-height: 24px;">You can help us improve this website</p>

    <p style="font-size: 16px;
    line-height: 24px;">
        <a href="#">
          Take our short survey
        </a></p>

        <p style="font-size: 16px;
        line-height: 24px;"><a href="#">or close this message</a></p>




    </div>
</div>-->