<div role="alert" class="nhsuk-c-global-alert-new-page">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert-new-page__content">
                    <h2 class="nhsuk-c-global-alert-new-page__header">New page style</h2>
                    <p class="nhsuk-c-global-alert-new-page__message">We are testing a new page style. <a href="#" class="nhsuk-c-global-alert-new-page__link">Tell us what works well and what doesn't.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>