<div id="nhsuk-feedback-banner" role="alert" class="nhsuk-feedback-banner">
  <div class="nhsuk-o-width-container">
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
        <div class="nhsuk-feedback-banner__content">
          <a href="javascript:void(0)" class="nhsuk-feedback-banner__close" onclick="hideBanner()">Close<span class="visually-hidden"> survey invite</span></a>
          <h2 class="nhsuk-feedback-banner__header">Leave your feedback</h2>
          <p class="nhsuk-feedback-banner__message">You can help us improve this website. <span class="wrap"><a href="#" class="nhsuk-c-global-alert-new-page__link">Take our short survey.</a></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var banner = document.getElementById("nhsuk-feedback-banner");

  document.addEventListener("DOMContentLoaded", function(){
    setTimeout(function () {
        banner.style.display = "block";
    }, 3000);
  });

  function hideBanner() {
    banner.style.display = "none";
  }
</script>
