<style>

    @media screen and (max-width:480px) {
span.wrap {
white-space:nowrap;
}

}
</style>


{% block customJS %}
   <script>
$(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 800) {
        $('.bottomMenu').fadeIn();
    } else {
        $('.bottomMenu').fadeOut();
    }

});
   </script>

{% endblock %}




<div role="alert" class="nhsuk-c-global-alert-new-page bottomMenu" style="background-color: #ffed00;bottom: 0;margin: 0 auto;padding: 8px 0;position: fixed;width:100%;">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert-new-page__content" style="
                padding-top: 0px;
                padding-bottom: 16px;
            ">

            <div style="margin-top: 16px;">
                <h2 class="nhsuk-heading-s" style="margin-top: 16px;">You can help us improve this website</h2>
                <p><a role="button" style="background-color: #fff;border: 1px solid #212B32;box-shadow: 0 3px 0 #212B32;line-height: 32px;cursor: pointer;display: inline-block;letter-spacing: .5px;outline: 1px solid transparent;outline-offset: -1px;padding: 12px 24px;position: relative;text-align: center;text-decoration: none;    border-radius: 5px;color:#212B32;margin-right:12px;margin-bottom:16px;font-weight:600;" class="button" arial-label="Start the online 'manage your choice' service" href="https://your-data-matters.service.nhs.uk/">Take our short survey</a>
                    
                    <span class="wrap">or <a href="#" class="nhsuk-c-global-alert-new-page__link">close this message.</a></span></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>








