<style>

    @media screen and (max-width:480px) {
span.wrap {
white-space:nowrap;
}

}
</style>


<div role="alert" class="nhsuk-c-global-alert-new-page" style="background-color: #003087">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert-new-page__content" style="
                padding-top: 0px;
                padding-bottom: 16px;
            ">
            <p style="margin-top: 0px;font-size:14px;" class="wrap"><a href="#" style="float:right;color:#fff;display:block;margin-top: 16px;">Close</a></p>

            <div style="float:left;margin-top: 16px;">
                    <p style="color:#fff;margin-top:0px;font-weight:600;font-size:19px;" >You can help us improve this website</span></p>
                    <p style="font-size:16px;margin-top: 10px;"> <a href="#" style="color:#fff;">Take a short survey to give us your feedback.</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
