.nhsuk-cookie-banner {
  font-family: "Frutiger W01", Arial, sans-serif;
  font-size: 17px;
  background-color: #f0f8ff;
  border-bottom: 2px solid #005eb8;
  color: #231f20;
  .nhsuk-reading-width {
    width: 100%;
  }
  @media (min-width: 925px){
    .nhsuk-reading-width {
      width: 75%;
    }
  }
  &__container {
    max-width: 960px;
    margin: 0 16px;
    padding: 12px 0;
  }
  @media (min-width: 925px){
    &__container {
      margin: 0 32px;
    }
  }
  @media (min-width: 1024px){
    &__container {
      margin: 0 auto;
    }
  }
  h2 {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #231f20;
    padding-top: 0;
  }
  h3 {
    margin: 0;
    font-size: 19px;
    line-height: 24px;
    margin-top: 16px;
    color: #231f20;
    padding-top: 0;
  }
  p {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    margin-top: 16px;
    padding-top: 0 !important;
    color: #231f20;
  }
  a {
    color: #004382;
  }
  .nhsuk-cookie-banner-details {
    margin-top: 16px;
    .details__toggle {
      padding-left: 22px;
      position: relative;
      font-weight: 400;
      text-decoration: underline;
      .caret {
        margin-right: 15px;
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        border-top: 10px dashed;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
    .details__content {
      display: none;
    }
    &.open {
      .details__toggle {
        .caret {
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      .details__content {
        display: block;
      }
    }
  }
  .button {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    width: auto;
    padding: 8px 12px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #007f3b;
    border: 0;
    box-shadow: 0 2px 0 #003317;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    margin-top: 16px;
    color: #fff;
  }
  .button:visited {
    background-color: #007f3b;
  }
  .button:focus {
    outline: 3px solid #ffb81c;
  }
  .button:hover, .button:focus {
    background-color: #00662f;
  }
  .button:active {
    box-shadow: 0 0 0 #007f3b;
    top: 2px;
  }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    opacity: .5;
  }
  .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
    background-color: #007f3b;
    cursor: default;
  }
  .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
    box-shadow: 0 2px 0 #003317;
    top: 0;
  }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff;
  }
  .button:before {
    background: transparent;
    content: "";
    display: block;
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .button:active:before {
    height: 120%;
    top: -10%;
  }
  form {
    display: block;
    margin-top: 16px;
    .CybotCookiebotDialogBodyLevelButtonWrapper {
      display: block;
    }
    @media (min-width: 925px){
      .CybotCookiebotDialogBodyLevelButtonWrapper {
        display: inline-block;
      }
    }
    legend {
      font-weight: 600;
      margin-bottom: 2px;
      font-size: 19px;
      line-height: 24px;
      padding-top: 0;
      color: #231f20;
    }
    label {
      margin-top: 16px;
      color: #231f20;
    }
    .multiple-choice--checkbox {
      position: absolute;
      opacity: 0;
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-right: 8px;
        display: block;
        line-height: 24px;
        @media (min-width: 925px){
          display: inline-block;
        }
      }
      & + label:before {
        content: '';
        margin-right: 10px;
        vertical-align: middle;
        width: 28px;
        height: 28px;
        border: 3px solid #005eb8;
        position: relative;
      }
      &:focus + label:before {
        box-shadow: 0 0 0 5px #ffb81c;
      }
      &:checked + label:before {
        background: transparent;
      }
      &:checked + label:after {
        content: "";
        border: solid;
        border-width: 0 0 5px 5px;
        background: transparent;
        width: 16px;
        height: 9px;
        position: absolute;
        top: 7px;
        left: 6px;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        zoom: 1;
        filter: alpha(opacity=0);
      }
    }
    .checkbox-blue + label:before {
      display: inline-block;
    }
  }
  .mt-0 {
    margin-top: 0;
  }
  .sr-only {
    display: none;
  }
}
