/* ==========================================================================
   COMPONENTS/ #LABEL
   ========================================================================== */

.nhsuk-label {
  @include nhsuk-font(19);

  display: block;
  margin-bottom: nhsuk-spacing(1);
}

/* Modifiers that make labels look more like their equivalent headings */
.nhsuk-label--xl,
.nhsuk-label--l,
.nhsuk-label--m {
  font-weight: $nhsuk-font-bold;
  margin-top: 0;
  margin-bottom: nhsuk-spacing(3);
}

.nhsuk-label--xl {
  @include nhsuk-typography-responsive(48);
}

.nhsuk-label--l {
  @include nhsuk-typography-responsive(36);
}

.nhsuk-label--m {
  @include nhsuk-typography-responsive(26);
}

.nhsuk-label--s {
  @include nhsuk-typography-responsive(19);
  font-weight: $nhsuk-font-bold;
  margin-top: 0;
}

// When the label is nested inside a heading, override the heading so that it
// does not have a margin. Effectively we want to be able to treat the heading
// as if it is not there.
//
// This breaks BEM conventions because it exists as a parent of the 'block',
// so we can't really consider an element.
.nhsuk-label-wrapper {
  margin: 0;
}
