{% set title = 'Candesartan' %}
{% set parent = 'Medicines A-Z' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/review-date.html" import reviewdate %} 
{% extends 'includes/site-layout.html' %}

{% block body %}

<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
		<div class="nhsuk-o-width-container">
		  <ol class="nhsuk-c-breadcrumb__list">
			<li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a> {% include 'partials/icons/icon-chevron-right.svg' %}</li>
			<li class="nhsuk-c-breadcrumb__item"><a href="../" class="nhsuk-c-breadcrumb__link">{{parent}}</a></li>
		  </ol>
		  <p class="nhsuk-c-breadcrumb__back">{% include 'partials/icons/icon-chevron-left.svg' %}<a href="../" class="nhsuk-c-breadcrumb__backlink">Back to {{parent}}</a></p>
		</div>
	  </nav>
	  

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

                        <h1>Candesartan</h1>


          


                        <div style="margin-top:56px;">
                            <p style="margin-top: 0px;"><strong>On this page</strong></p>
                            <ol type="1" style="margin-top: 16px;line-height: 22px;" class="nhsuk-body-s">
															<li>About candesartan</li>
															<li>Key facts</li>
															<li>Who can and can't take candesartan</li>
															<li>How and when to take it</li>
															<li>Side effects</li>
															<li>How to cope with side effects</li>
															<li>Pregnancy and breastfeeding</li>
															<li>Cautions with other medicines</li>
															<li>Common questions</li>
														</ol>
                        </div>    


					</div>
				
					<div class="nhsuk-page-content">
										
							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="about-candesartan">1. About candesartan</h2>
									<div class="block-section_text">
										<div class="rich-text">
											<p>Candesartan is a medicine widely used to treat <a href="http://www.nhs.uk/conditions/Blood-pressure-(high)/Pages/Introduction.aspx">high blood pressure</a> and <a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx">heart failure</a>.</p>
											<p>Candesartan helps to prevent future <a href="http://www.nhs.uk/conditions/Stroke/Pages/Introduction.aspx">strokes</a>, <a href="http://www.nhs.uk/conditions/Heart-attack/Pages/Introduction.aspx">heart attacks</a> and kidney problems. It also improves your survival if you're taking it for heart failure.</p>
									<p>This medicine is only available on prescription. It comes as tablets.</p>
						</div></div>
							</section>

							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="key-facts">2. Key facts</h2>
									<div class="block-section_text"><div class="rich-text"><ul>
							<li>Candesartan lowers your blood pressure and makes it easier for your heart to pump blood around your body.</li>
							<li>It’s often used as a second-choice treatment if you had to stop taking your first because it gave you a dry, irritating cough.</li>
							<li>The main side effects of candesartan are dizziness, headache and 
							cold or flu-like symptoms - but they’re usually mild and short-lived.</li>
							<li>Drinking alcohol can increase the blood pressure-lowering effect of candesartan, which can make you feel dizzy or light-headed.</li>
							<li>Candesartan is also called by the brand name Amias.</li></ul></div></div>
							</section>


							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="who-can-and-cant-take-candesartan">3. Who can and can't take candesartan</h2>
									<div class="block-section_text"><div class="rich-text"><p>Candesartan can be taken by adults aged 18 and over.</p>
							<p>It can also be taken by children aged 6 years and over, but only to treat high blood pressure.</p>
							<p>Candesartan is meant for people who have tried taking blood pressure-lowering medicines called ACE inhibitors (such as <a href="https://beta.nhs.uk/medicines/ramipril/">ramipril</a> and <a href="https://beta.nhs.uk/medicines/lisinopril/">lisinopril</a>) in the past, but had to stop taking them because of side effects such as a dry cough.</p>
							<p>Candesartan isn't suitable for some people.</p>
							<p><strong>To make sure candesartan is safe for you, tell your doctor if you have:</strong></p>
							<ul>
							<li>diarrhoea or vomiting (or if you've recently had it)</li>
							<li>been on a low salt diet</li>
							<li>recently had a <a href="http://www.nhs.uk/conditions/Kidney-transplant/Pages/Introduction.aspx">kidney transplant</a></li>
							<li>if you have had an allergic reaction to candesartan or any other medicines in the past</li>
							<li>severe liver disease or a problem with the drainage of the bile from your gall bladder (biliary obstruction)</li>
							<li><a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a></li>
							<li>heart, liver or kidney problems</li>
							<li><a href="http://www.nhs.uk/conditions/Blood-pressure-(low)/Pages/Introduction.aspx">low blood pressure</a></li>
							<li>are trying to get pregnant, are already pregnant or you're breastfeeding</li></ul></div></div>
							</section>


							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="how-and-when-to-take-it">4. How and when to take it</h2>
									<div class="block-section_text"><div class="rich-text"><p>It’s usual to take candesartan tablets once a day. You can take your 
							daily candesartan tablet at any time of day, but try to be consistent 
							and take it at the same time every day.</p>
							<p>You can take candesartan tablets with or without food. Swallow the tablets whole with a drink of water.</p>
							<h3 class="above"><strong>How much will I take?</strong></h3>
							<p>The dose of candesartan you take depends on why you need the medicine. Take it as instructed by your doctor.</p>
							<p>As a general rule in adults, the dose to treat:</p>
							<ul>
							<li>high blood pressure is 8mg to 32mg once a day</li>
							<li>heart failure is 4mg to 32mg once a day</li>
							</ul>
							<p>In people with liver or kidney problems, the dose may be lower.</p>
							<p>As a general rule in children (aged 6 years and over), the dose to treat high blood pressure is:</p>
							<ul>
							<li>for children weighing less than 50kg, the dose is 4mg to 8mg once a day</li>
							<li>for children weighing 50kg and more, the dose is 4mg to 16mg once daily</li>
							</ul>
							<h3 class="above"><strong>Will my dose go up or down?</strong></h3>
							<p>You will start on a low dose of candesartan. After a few weeks your 
							doctor will check your blood pressure and ask you if you’re getting any 
							side effects. You may also have blood tests to check how well your 
							kidneys are working and the amount of potassium in your blood. Your 
							doctor will then decide whether to change your dose of candesartan.</p>
							<p>If candesartan doesn’t get your blood pressure down, your doctor may 
							want to increase the dose. If your blood pressure gets too low or you 
							get side effects, your doctor may want to lower your candesartan dose.</p></div></div>
							
							
							<div class="nhsuk-c-panel nhsuk-c-panel__warning">
								<h3>Important</h3>
								<p>Take candesartan even if you feel well, as you will still be getting the benefits of the medicine.</p>
							  </div>
							
							

							<div class="block-section_text"><div class="rich-text"><h3 class="above">What if I forget to take it?</h3>
							<p>If you miss a dose of candesartan, take it as soon as you remember. Do not take a double dose to make up for a forgotten one.</p>
							<p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways that are suitable for you and your medicines.</p>
							<h3 class="above">What if I take too much?</h3>
							<p>If you take too many candesartan tablets by accident, contact your doctor or nearest hospital straight away. An overdose of candesartan can cause low blood pressure and dizziness.</p>
							<p>The amount of candesartan that can lead to an overdose varies from person to person.</p></div></div>




							  <div class="nhsuk-c-care-card nhsuk-c-care-card--red">
								<div class="nhsuk-c-care-card__heading">
								  <h3>Call your doctor or go to your nearest hospital accident and emergency (A&amp;E) department if:</h3>
								</div>
								<div class="nhsuk-c-care-card__content">
									<p>If you take too much candersartan by accident.</p>

									<a href="https://beta.nhs.uk/find-a-pharmacy/" class="nhsuk-c-action-link">
										<svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
										  <path d="M0 0h24v24H0z" fill="none"></path>
										  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
										  <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/assets/images/icon-arrow-right.png" xlink:href=""></image>
										</svg>
										<span>Find an emergency (A&amp;E) department</span>
									  </a>
								</div>
							  </div>



							<div class="block-section_text"><div class="rich-text"><p>If you need to go to hospital, don't drive yourself - get someone else to drive you or call for an ambulance. Take the candesartan packet or leaflet inside it plus any remaining medicine with you.</p></div></div>
							</section>



							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="side-effects">5. Side effects</h2>
									<div class="block-section_text"><div class="rich-text"><p>Like all medicines, candesartan can cause side effects although not everyone gets them. Side effects often improve as your body gets used to the medicine.</p>
							<h3 class="above"><strong>Common side effects</strong></h3>
							<p>These common side effects happen in more than 1 in 100 people.</p>
							<p>Talk to your doctor or pharmacist if these side effects bother you or don’t go away:</p>
							<ul>
							<li>feeling dizzy or having a spinning sensation (vertigo)</li>
							<li>feeling sick</li>
							<li>headache</li>
							<li>vomiting or diarrhoea</li>
							<li>pain in your joints or muscles</li>
							</ul>
							<h3 class="above"><strong>Serious side effects</strong></h3>
							<p>It happens rarely, but some people have serious side effects after taking candesartan.</p>
							<p>Tell a doctor straight away if you have:</p>
							<ul>
							<li>yellow skin or eyes - this can be a sign of liver problems</li>
							<li>pale skin, feeling tired, faint or dizzy, purple spots, any sign of bleeding, sore throat and fever - these can be signs of blood or bone marrow disorder</li>
							<li>weakness, an irregular heartbeat, pins and needles and muscle cramps - these can be signs of changes in the sodium and potassium levels in your blood</li>
							</ul>
							<h4><strong>Serious allergic reaction</strong></h4>
							<p>In rare cases, candesartan may cause a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a>.</p></div></div>


							<div class="nhsuk-c-care-card nhsuk-c-care-card--red">
								<div class="nhsuk-c-care-card__heading">
								  <h3>Contact a doctor straight away if:</h3>
								</div>
								<div class="nhsuk-c-care-card__content">
									<ul>
										<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
										<li>wheezing</li>
										<li>tightness in the chest or throat</li>
										<li>having trouble breathing or talking</li>
										<li>swelling of the mouth, face, lips, tongue or throat</li>
										</ul>
										<p>These are not all the side effects of candesartan. For a full list see the leaflet inside your medicines packet.</p>

								</div>
							  </div>





							  <div class="nhsuk-c-keypoint">
								<p>You can report any suspected side effect to the <a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</p>
							  </div>



							</section>




							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="how-to-cope-with-side-effects">6. How to cope with side effects</h2>
									<div class="block-section_text"><div class="rich-text"><h3 class="above">What to do about:</h3>
							<ul>
							<li><strong>feeling dizzy</strong> - if candesartan makes you feel dizzy when you stand up, try getting up very slowly or stay sitting down until you feel better. If you begin to feel dizzy, lie down so that you don't faint, then sit until you feel better. Don’t drive or use tools or machines if you feel dizzy, have muscle cramps or muscle pain, or if 
							you just feel a bit shaky.</li>
							<li><strong>feeling sick</strong> - try taking your tablets with or after a meal or snack. It may also help if you don’t eat rich or spicy food.</li>
							<li><strong>headaches</strong> - make sure you rest and drink plenty of fluids. Don’t drink too much alcohol. Ask your pharmacist to recommend a painkiller. Headaches should usually go away after the first week of taking candesartan. Talk to your doctor if they last longer than a week or are severe.</li>
							<li><strong>vomiting or diarrhoea </strong>- drink plenty of water to prevent <a href="http://www.nhs.uk/conditions/Dehydration/Pages/Introduction.aspx">dehydration</a>. If you’re vomiting try small, frequent sips. It may also help to take oral rehydration solutions to prevent dehydration. You can buy these from a pharmacy or supermarket. If you get severe vomiting or diarrhoea from a stomach bug or illness, tell your doctor. You may need to stop taking candesartan for a while until you feel better.</li>
							<li><strong>pain in your joints or muscles</strong> - if you get unusual muscle pain, weakness or tiredness which isn't from exercise or hard work, talk to your doctor. You may need a blood test to check what might be causing it.</li></ul></div></div>
							</section>




							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="pregnancy-and-breastfeeding">7. Pregnancy and breastfeeding</h2>
									<div class="block-section_text"><div class="rich-text"><p>Candesartan is not normally recommended in pregnancy or when breastfeeding. However, your doctor may prescribe it for you if 
							they think the benefits of the medicine outweigh the risks.</p>
							<p>If you're trying to get pregnant or you're already pregnant, talk to your doctor about the benefits and possible harms of taking candesartan. These will depend on how many weeks pregnant you are and the reason you need to take it. There may be other treatments that are safer for you.</p>
							<h3 class="above"><strong>Candesartan and breastfeeding</strong></h3>
							<p>Small amounts of candesartan may get into breast milk. This can cause low blood pressure in the baby. Talk to your doctor, as other medicines might be better while you are breastfeeding.</p></div></div>
							
							
							
							<div class="nhsuk-c-panel nhsuk-c-panel__warning">
								<h3>Important</h3>
								<p>Tell your doctor if you're trying to get pregnant, are already pregnant or if you're breastfeeding.</p>
							  </div>
							
							
							</section>



							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="cautions-with-other-medicines">8. Cautions with other medicines</h2>
									<div class="block-section_text"><div class="rich-text"><p>Some medicines interfere with the way candesartan works.</p>
							<p><strong>Tell your doctor if you're taking</strong>:</p>
							<ul>
							<li>other medicines to help lower your blood pressure, including aliskiren, enalapril, captopril, <a href="https://beta.nhs.uk/medicines/lisinopril/">lisinopril</a> or <a href="https://beta.nhs.uk/medicines/ramipril/">ramipril</a></li>
							<li>painkillers such as <a href="https://beta.nhs.uk/medicines/ibuprofen-for-adults/">ibuprofen</a>, <a href="https://beta.nhs.uk/medicines/naproxen/">naproxen</a>, diclofenac, celecoxib or etoricoxib</li>
							<li>aspirin (if you're taking more than 3g a day)</li>
							<li>potassium supplements or salt substitutes containing potassium</li>
							<li>heparin (a medicine for thinning the blood)</li>
							<li>water tablets (diuretics)</li>
							<li>lithium (a medicine for mental health problems)</li>
							<li>spironolactone (a medicine to treat heart failure)</li>
							</ul>
							<h3 class="above"><strong>Mixing candesartan with herbal remedies or supplements</strong></h3>
							<p>There's very little information about taking herbal remedies and supplements with candesartan.</p>
							<p>For safety, speak to your pharmacist or doctor before taking any herbal or alternative remedies with candesartan.</p></div></div>
							<div class="block-alert_callout">
							
							
							<div class="c-callout__alert">
									<div class="rich-text"><p>Tell your doctor and pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</p></div>
							</div>
							</div>
							</section>




















				<section class="o-list-sections__section o-section">
                    <h2 class="o-section__header above" id="common-questions">9ß. Common questions</h2>
                    


                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">How does candesartan work?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Candesartan is a type of blood pressure-lowering medicine called an angiotensin receptor blocker.</p>

																		<p>Like other angiotensin receptor blockers, candesartan relaxes and widens your blood vessels. This lowers your blood pressure and makes it easier for your heart to pump blood around your body.</p>
                    
                        </div>
                        </div>
										</details>
										


                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">How long does it take to work?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Candesartan starts to work after about 2 hours to reduce high blood pressure but it may take up to 4 weeks for full effect.</p>

																		<p>If you're taking candesartan for heart failure, it may take weeks, even months, before you feel better.</p>
																		
																				<p>If you have high blood pressure, you may not have any symptoms. In this case, you may not feel any different when you take candesartan. This doesn’t mean that the medicine isn’t working and it’s important to keep taking it.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">How long will I take it for?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Usually, treatment with candesartan is long term, even for the rest of your life.</p>
                    
                        </div>
                        </div>
										</details>
										
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Is candesartan safe to take for a long time?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Candesartan is generally safe to take for a long time. In fact, it works best when you take it for a long time.</p>

																		<p>Taking candesartan for a long time can sometimes cause your kidneys to not work as well as they should. Your doctor will check how well your kidneys are working with regular blood tests.</p>
                    
                        </div>
                        </div>
										</details>
										


                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">What will happen if I stop taking it?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Talk to your doctor if you want to stop taking candesartan.</p>
																		<p>Stopping candesartan may cause your blood pressure to rise – and this may increase your risk of heart attack and stroke.</p>
																		
																				<p>If you're bothered by side effects, your doctor may be able to prescribe you a different blood pressure-lowering medicine.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I come off candesartan now my blood pressure is lower?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Even if your blood pressure is successfully lowered by candesartan, it’s best to carry on taking it. If you stop taking candesartan, your blood pressure could rise back up again.</p>
																		
																<p>If you need blood pressure-lowering medicines, you’ll probably need to take them for the rest of your life.</p>
																		
																		<p>Remember, by keeping your blood pressure low, you’re protecting yourself against having a heart attack or stroke in the future.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I drink alcohol with it?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Drinking alcohol can increase the blood pressure-lowering effect of candesartan, which can make you feel dizzy or light-headed.</p>

																		<p>During the first few days of taking candesartan or after a dose increase, it is best to stop drinking alcohol until you see how the medicine affects you.</p>
																		
																				<p>If you find candesartan makes you feel dizzy it’s best to stop drinking alcohol.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Is there any food or drink I need to avoid?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
                                <p>Don't use salt substitutes such as Lo-Salt. This is because they are high in potassium. When mixed with candesartan they may make the level of potassium in your blood too high.
																		
																		Other than alcohol, there's nothing else you need to avoid while taking candesartan. Eating a healthy, balanced diet can help if you have high blood pressure or heart failure.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Are there similar medicines to candesartan?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There are several other angiotensin receptor blocker medicines which work in the same way as candesartan. They include <a href="https://beta.nhs.uk/medicines/irbesartan/">irbesartan</a>, <a href="https://beta.nhs.uk/medicines/losartan/">losartan</a> and <a href="https://beta.nhs.uk/medicines/valsartan/">valsartan</a>.</p>

																<p>There are also other types of blood pressure-lowering medicines such as:</p>

																<ul>
																		<li> ACE inhibitors - for example <a href="https://beta.nhs.uk/medicines/ramipril/">ramipril</a></li>
																		<li> calcium-channel blockers - for example <a href="https://beta.nhs.uk/medicines/amlodipine/">amlodipine</a></li>
																		<li> beta-blockers - for example bisoprolol</li>
																		<li> diuretics (water tablets) - for example bendroflumethiazide</li>
																		</ul>

																		<p>The blood pressure-lowering medicine you’re prescribed depends on your age and ethnicity:</p>

																		<ul>
																				<li> if you're under 55 - you'll usually be offered an ACE inhibitor or an angiotensin receptor blocker</li>
																				<li> if you're 55 or older, or you're any age and of African or Caribbean origin - you'll usually be offered a calcium channel blocker</li>
																				</ul>

																				<p>Many people need to take a combination of different blood pressure-lowering medicines.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">How does candesartan differ from other angiotensin receptor blockers?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>Candesartan works as well as other angiotensin receptor blockers when it's used to lower blood pressure. Its side-effects are also similar.</p>
                    
                        </div>
                        </div>
										</details>
										

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I take candesartan before surgery?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>If you are going to be put to sleep for an operation, tell your doctor that you're taking candesartan.</p>

																		<p>Candesartan can reduce your blood pressure when it's used with general anaesthetics (that put you to sleep).</p>
																		
																				<p>Your doctor will advise you to stop taking candesartan 24 hours before surgery.</p>
                    
                        </div>
                        </div>
										</details>		
										
										
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I take candesartan for migraines?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There's some evidence that candesartan might help prevent migraines.</p>

																		<p>However, candesartan is not officially approved for migraine. Your doctor would probably advise you to try other medicines first..</p>
                    
                        </div>
                        </div>
										</details>		
										
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I take candesartan to protect myself against Alzheimer's disease?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There have been some studies which have looked at whether blood pressure medicines could help protect people against Alzheimer’s. However, at the moment, there is not enough evidence to recommend taking candesartan or other similar medicines for Alzheimer’s. </p>

																<p>There are steps you can take that may <a href="http://www.nhs.uk/Conditions/Alzheimers-disease/Pages/Prevention.aspx">reduce your risk of Alzheimer’s</a>. If you are worried about getting Alzheimer's disease in the future or have a family history of this condition, speak to your doctor.</p>
                    
                        </div>
                        </div>
										</details>	
										
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Is candesartan addictive?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There have been some studies which have looked at whether blood pressure medicines could help protect people against Alzheimer’s. However, at the moment, there is not enough evidence to recommend taking candesartan or other similar medicines for Alzheimer’s. </p>

																<p>There are steps you can take that may <a href="http://www.nhs.uk/Conditions/Alzheimers-disease/Pages/Prevention.aspx">reduce your risk of Alzheimer’s</a>. If you are worried about getting Alzheimer's disease in the future or have a family history of this condition, speak to your doctor.</p>
                    
                        </div>
                        </div>
                    </details>	


                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Will it affect my sex life?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There have been some studies which have looked at whether blood pressure medicines could help protect people against Alzheimer’s. However, at the moment, there is not enough evidence to recommend taking candesartan or other similar medicines for Alzheimer’s. </p>

																<p>There are steps you can take that may <a href="http://www.nhs.uk/Conditions/Alzheimers-disease/Pages/Prevention.aspx">reduce your risk of Alzheimer’s</a>. If you are worried about getting Alzheimer's disease in the future or have a family history of this condition, speak to your doctor.</p>
                    
                        </div>
                        </div>
					</details>	
					


                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Will it affect my fertility?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
																<p>There’s no evidence that candesartan reduces fertility in men or women. However, if you are a woman and you are trying to get pregnant, talk to your doctor first as this medicine is usually not recommended in pregnancy.</p>
                    
                        </div>
                        </div>
					</details>	
					

                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Will it affect my contraception?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
								<p>Candesartan won’t affect any type of contraception.</p>
								<p>However, some types of hormonal methods of contraception, like the <a href="http://www.nhs.uk/Conditions/contraception-guide/Pages/combined-contraceptive-pill.aspx">combined contraceptive pill</a> and <a href="http://www.nhs.uk/Conditions/contraception-guide/Pages/contraceptive-patch.aspx">contraceptive patch</a>, aren't usually recommended for women taking candesartan and other medicines for high blood pressure. This is because some hormonal contraceptives can raise your blood pressure and stop candesartan working properly.</p>
								<p>Talk to your doctor if you're taking combined hormonal contraceptives.</p>
                    
                        </div>
                        </div>
					</details>	
					
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can I drive or ride a bike?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
								<p>Candesartan can make some people feel dizzy - especially when you first start taking it or after taking a bigger dose. If this happens to you, don't drive a car, ride a bike, or use tools or machinery.</p>
                    
                        </div>
                        </div>
					</details>	
					
                    <details role="group" style="padding-top:16px;">
                        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                            <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Can lifestyle changes help?</span>
                        </summary>
                        <div class="details__content" id="details-content-0" aria-hidden="true">
                            <div class="block-markdown">
								<p>You can boost the health of your heart by making some key lifestyle changes. These will also help if you have <a href="http://www.nhs.uk/conditions/Blood-pressure-(high)/Pages/Introduction.aspx">high blood pressure</a> or <a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx">heart failure</a>.</p>

								<ul>
									<li>Stop smoking - smoking increases your heart rate and blood pressure. <a href="http://www.nhs.uk/Livewell/smoking/Pages/Gethelp.aspx">Quitting smoking</a> brings down your blood pressure and relieves heart failure symptoms. Try and avoid secondhand smoke too.</li>
									<li>Cut down on alcohol - <a href="http://www.nhs.uk/Livewell/alcohol/Pages/Alcoholhome.aspx">drinking too much alcohol</a> raises blood pressure over time. It makes heart failure worse too. Men and women shouldn't drink more than 14 units of alcohol a week.</li>
									<li>Be more active - <a href="http://www.nhs.uk/livewell/fitness/Pages/Fitnesshome.aspx">regular exercise</a> lowers blood pressure by keeping your heart and blood vessels in good condition. It doesn’t need to be too energetic - walking every day is enough.</li>
									<li>Eat healthily - aim to eat a diet that includes plenty of fruit and veg, wholegrains, fat-free or low-fat dairy products and lean proteins. It’s a good idea to <a href="http://www.nhs.uk/Livewell/Goodfood/Pages/cut-down-salt.aspx">cut down on salt</a> too. Eating too much salt is the biggest cause of high blood pressure – the more salt you eat, the higher your blood pressure will be. Aim for no more than 6g of salt a day.</li>
									<li>Manage stress - when you're anxious or upset, your heart beats faster, you breathe more heavily and your blood pressure often goes up. This can make heart failure worse too. Find ways to <a href="http://www.nhs.uk/Conditions/stress-anxiety-depression/Pages/understanding-stress.aspx">reduce stress</a> in your life. To give your heart a rest, try napping or putting your feet up when possible. Spend time with friends and family to be social and help keep stress at bay.</li>
									<li>Vaccinations - if you have <a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx">heart failure</a>, it's recommended that you have a <a href="http://www.nhs.uk/Conditions/vaccinations/Pages/flu-influenza-vaccine.aspx">flu jab</a> every year and a <a href="http://www.nhs.uk/Conditions/vaccinations/Pages/pneumococcal-vaccination.aspx">pneumonia vaccination</a> every 5 years. Ask your doctor about these vaccinations. You can have them free on the NHS.</li>
									</ul>
                    
                        </div>
                        </div>
                    </details>	








                    <div class="nhsuk-c-panel">
                        <h3 class="above">Related conditions</h3>
						<ul class="c-links__list">
    
							<li class="c-links__list-item">
					
					
						<a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx" class="c-links__link">High blood pressure</a>
					
					</li>
						
							<li class="c-links__list-item">
					
					
						<a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx" class="c-links__link">Heart failure</a>
					
					</li>
						
						</ul>
                    </div>


                    <div class="nhsuk-c-panel">
                        <h3 class="above">Useful resources</h3>
						<ul class="c-links__list">
    
							<li class="c-links__list-item">
					
					
						<a href="https://healthunlocked.com/search/candesartan" class="c-links__link">Candesartan: forum</a>
					
					</li>
						
							<li class="c-links__list-item">
					
					
						<a href="http://www.bloodpressureuk.org/Home" class="c-links__link">Blood Pressure UK: charity</a>
					
					</li>
						
							<li class="c-links__list-item">
					
					
						<a href="https://www.bhf.org.uk/" class="c-links__link">British Heart Foundation: charity</a>
					
					</li>
						
							<li class="c-links__list-item">
					
					
						<a href="http://www.nhs.uk/Conditions/nhs-health-check/Pages/NHS-Health-Check.aspx" class="c-links__link">NHS Health Check</a>
					
					</li>
						
						</ul>
                    </div>




















														   
	
															</section>


						{{ reviewdate("12/02/2016", "01/02/2019") }}


					</div>

				</div>
			</div>
        </main>
	</div>
	


{% endblock %}
