{% set title = 'Paracetamol for children' %}
{% set parent = 'Medicines A-Z' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}

{% block body %}

<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
		<div class="nhsuk-o-width-container">
		  <ol class="nhsuk-c-breadcrumb__list">
			<li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a> {% include 'partials/icons/icon-chevron-right.svg' %}</li>
			<li class="nhsuk-c-breadcrumb__item"><a href="../" class="nhsuk-c-breadcrumb__link">{{parent}}</a></li>
		  </ol>
		  <p class="nhsuk-c-breadcrumb__back">{% include 'partials/icons/icon-chevron-left.svg' %}<a href="../" class="nhsuk-c-breadcrumb__backlink">Back to {{parent}}</a></p>
		</div>
	  </nav>
	  

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

                        <h1>Paracetamol for children</h1>
                        

					
						<aside role="complementary" style="margin-top:40px;">
							<nav role="navigation" aria-label="Pages in this guide" style="
                            background-color: white;
                            padding: 1em;
                        ">
								<p style="margin-top:0px;"><strong>On this page</strong></p>
								<ol type="1" style="margin-top: 6px;">
									<li style="padding-left: 16px;">About paracetamol for children</li>
									<li style="padding-left: 16px;">Key facts</li>
									<li style="padding-left: 16px;">Who can and can't take paracetamol</li>
									<li style="padding-left: 16px;">How and when to give it</li>
									<li style="padding-left: 16px;">Giving paracetamol with other painkillers</li>
									<li style="padding-left: 16px;">Side effects</li>
									<li style="padding-left: 16px;">Common questions</li>
								</ol>
							</nav>
						</aside>

					</div>
				
					<div class="nhsuk-page-content">
										
							<section class="o-list-sections__section o-section">
									<h2 class="o-section__header above" id="about-paracetamol-for-children">1. About paracetamol for children</h2>
									<div class="block-section_text"><div class="rich-text"><p>Paracetamol is a common painkiller for children. It's used to treat most kinds of childhood ailments, including <a href="https://beta.nhs.uk/symptoms/headache">headache</a>, <a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/pages/introduction.aspx">tummy ache</a>, <a href="http://www.nhs.uk/conditions/earache/Pages/Introduction.aspx">earache</a>, and <a href="http://www.nhs.uk/conditions/Cold-common/Pages/Introduction.aspx">cold symptoms</a>. It can also be used to reduce <a href="http://www.nhs.uk/conditions/feverchildren/Pages/Introduction.aspx">fever</a> (38C or above).</p>
								<p>For older children, paracetamol is available as tablets.</p>
								<p>For young children, paracetamol comes as a syrup.</p>
								<p>Paracetamol is also available as suppositories (a plug of medicine that's inserted into the back passage). Suppositories are useful to relieve pain and fever in children who find it difficult to swallow tablets or syrup, or who are vomiting a lot.</p>
								<p>For children aged 16 and over, read our information on <a href="/medicines/paracetamol-for-adults">paracetamol for adults</a>.</p></div></div>
								</section>


								<section>
										<h2 class="o-section__header above" id="key-facts">2. Key facts</h2>
										<div class="block-section_text">
											<div class="rich-text">
											<ul>
												<li>Your child should start to feel better about 30 minutes after taking paracetamol tablets or syrup. It may take up to an hour for a suppository to work properly.</li>
												<li>Paracetamol comes in a range of different strengths, so always use the measuring device that comes with the medicine. The right dose for your child depends on their age. Always leave 4 to 6 hours between doses. Don't give more than 4 doses in 24 hours.</li>
												<li>Don't give your child paracetamol with other medicines containing paracetamol, such as Lemsip or Night Nurse (only suitable for children over 12 years).</li>
												<li>Paracetamol is an everyday medicine, but it can be dangerous if too much is taken. Be careful to keep it out of the reach of children.</li>
												<li>Paracetamol tablets may be called by brand names such as Disprol, Hedex, Medinol and Panadol. Calpol is one brand of syrup.</li>
											</ul>
								</div></div>
									</section>


                


											<section class="o-list-sections__section o-section">
												<h2 class="o-section__header above" id="who-can-and-cant-take-paracetamol">3. Who can and can't take paracetamol</h2>
												<div class="block-section_text"><div class="rich-text"><p>Children can take paracetamol as:</p>
											<ul>
											<li>a liquid syrup - from the age of 3 months (2 months if they have a fever after a vaccination)</li>
											<li>suppository - from the age of 3 months (2 months if they have a fever after a vaccination)</li>
											<li>tablets - from the age of 6 years (500mg so they may need to be broken)</li>
											<li>soluble tablets - from the age of 12</li>
											<li>calpol Fastmelts (250mg)</li>
											</ul>
											<p>Check with your doctor or pharmacist if your child:</p>
											<ul>
											<li>is small for their age as a lower dose may be better</li>
											<li>has had liver or kidney problems</li>
											<li>takes medicine for <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a></li>
											<li>takes medicine for <a href="http://www.nhs.uk/conditions/Tuberculosis/Pages/Introduction.aspx">tuberculosis (TB)</a></li>
											</ul></div></div>
											</section>
											
											<section class="o-list-sections__section o-section">
													<h2 class="o-section__header above" id="how-and-when-to-give-it">4. How and when to give it</h2>
													<div class="block-section_text"><div class="rich-text"><p>Paracetamol tablets, syrup and suppositories come in a range of strengths. Children need to take a lower dose than adults, depending on their age.</p>
												<p>If you're not sure how much to give, ask your pharmacist or doctor.</p>
												<p>Paracetamol tablets, syrup, and suppositories are available on prescription and to buy from shops and pharmacies.</p>
												</div></div>
												<div class="block-raw_html">
												
														<div class="nhsuk-c-panel">
																<h3 class="above">Paracetamol syrup dosages for children</h3>
																<table class="nhsuk-table2">
												<tbody>
												<tr>
												<th>Age</th>
												<th>Type of syrup</th>
												<th>How much (every 4-6 hours,<br>maximum 4 doses in 24 hours)</th>
												</tr>
												<tr>
												<td>3 to 6 months</td>
												<td>Infant</td>
												<td>2.5ml</td>
												</tr>
												<tr>
												<td>6 to 24 months</td>
												<td>Infant</td>
												<td>5ml</td>
												</tr>
												<tr>
												<td>2 to 4 years</td>
												<td>Infant</td>
												<td>7.5ml</td>
												</tr>
												<tr>
												<td>4 to 6 years</td>
												<td>Infant</td>
												<td>10ml</td>
												</tr>
												<tr>
												<td>6 to 8 years</td>
												<td>Six-plus</td>
												<td>5ml</td>
												</tr>
												<tr>
												<td>8 to 10 years</td>
												<td>Six-plus</td>
												<td>7.5ml</td>
												</tr>
												<tr>
												<td>10 to 12 years</td>
												<td>Six-plus</td>
												<td>10ml</td>
												</tr>
												</tbody>
												</table>
												</div>
												</div>
												<div class="block-section_text"><div class="rich-text"><p>Paracetamol syrup and suppositories can be given to children from 2 months if they have a fever after a vaccination injection.</p>
												<p>Children aged between 2 and 3 months can be given 2 doses maximum if they have pain and fever from other causes. If they still have a fever after 2 doses, contact a doctor or pharmacist before giving any more.</p></div></div>
												<div class="block-raw_html">
												
														<div class="nhsuk-c-panel">
																<h3 class="above">Paracetamol tablet dosages for children</h3>
																<table class="nhsuk-table2">
												<tbody>
												<tr>
												<th>Age</th>
												<th>How much (every 4 to 6 hours,<br>maximum 4 doses in 24 hours)</th>
												</tr>
												<tr>
												<td>6 to 8 years</td>
												<td>250mg</td>
												</tr>
												<tr>
												<td>8 to 10 years</td>
												<td>375mg</td>
												</tr>
												<tr>
												<td>10 to 12 years</td>
												<td>500mg</td>
												</tr>
												<tr>
												<td>12 to16 years</td>
												<td>750mg</td>
												</tr>
												</tbody>
												</table>
												</div>
												</div>
												<div class="block-section_text"><div class="rich-text"><p>The strength of the syrups are:</p>
												<ul>
												<li>infant syrup - 5ml is equal to 120mg</li>
												<li>six-plus - 5ml is equal to 250mg</li>
												</ul>
												<h3>How often to give paracetamol</h3>
												<p>If your child needs help with pain day and night for several days, give a dose of paracetamol every 6 hours. Don't give more than 4 doses in 24 hours. This will help to relieve the pain safely without the risk of giving too much paracetamol.</p>
												<p>If your child has pain that comes and goes, give a dose of paracetamol when they first complain of pain. Wait at least 4 hours before giving another dose.</p><p>Wait at least 4 hours between doses of paracetamol. Don't give your child more than 4 doses of paracetamol in 24 hours.<br></p></div></div>
												<div class="block-section_text"><div class="rich-text"><h3>How to give paracetamol to a child</h3>
												<h4>Tablets</h4>
												<p>Tablets should be swallowed whole with a glass of water, milk, or juice. Tell your child not to chew the tablet.</p>
												<p>Calpol Fastmelts shouldn't be swallowed - ask your child to let them dissolve on their tongue.</p>
												<h4>Syrup</h4>
												<p>Shake the bottle well for at least 10 seconds and measure out the right amount using the plastic syringe or spoon that comes with the medicine. If you don't have a syringe or spoon, ask your pharmacist for one. Don't use a kitchen teaspoon as it will not give the right amount.</p>
												<p>To hide the taste of liquid medicine, you can give the child a drink of milk or fruit juice straight after giving the medicine.</p>
												<h4>Suppositories</h4>
												<p>Paracetamol suppositories are small plugs of medicine that are inserted into the bottom. Follow the instructions on the leaflet inside the packet.</p>
												<h3>What if they take too much?</h3>
												<p>Giving your child too much paracetamol by accident can be dangerous. The effects of an overdose may not be obvious, but they can be serious and need treatment.</p>
												<p>If you think you may have given your child an extra dose of paracetamol by mistake, wait at least 24 hours before giving them any more.</p></div></div>


			<div class="nhsuk-c-panel nhsuk-c-panel__warning">
				<h3>Important</h3>
				<p>Giving more than 1 extra dose of paracetamol can be dangerous and may need treatment. Call 111 for advice straight away.</p>
			</div>

												
												<div class="block-section_text"><div class="rich-text"><p>If you need to take your child to hospital, take the paracetamol packet or leaflet inside it plus any remaining medicine with them.</p></div></div>
												</section>

												<section class="o-list-sections__section o-section">
														<h2 class="o-section__header above" id="giving-paracetamol-with-other-painkillers">5. Giving paracetamol with other painkillers</h2>
														<div class="block-section_text"><div class="rich-text"><p>The only safe painkiller to give children alongside paracetamol is <a href="https://beta.nhs.uk/medicines/ibuprofen-for-children/">ibuprofen</a>.</p>
													<p>Do not give paracetamol and ibuprofen together, though. Instead, if you've given them paracetamol and they're still feverish or in pain when the next dose is due, you could try ibuprofen instead.</p>
													<p>Don't take more than the maximum daily dose of either medicine. See your doctor if you've tried both paracetamol and ibuprofen and they haven't helped. Do not give ibuprofen to your child if they have <a href="http://www.nhs.uk/conditions/asthma/pages/introduction.aspx">asthma</a>, unless your doctor has said it's ok.</p>
													<p>Don't give your child another medicine with paracetamol in it. If they take 2 different medicines that contain paracetamol, there's a risk of overdose. Paracetamol is an ingredient in lots of medicines that you can buy from the supermarket or pharmacy, such as Lemsip, Day and Night Nurse capsules or liquid (only suitable for children over 12 years).</p>
													<p>Never give aspirin to a child under the age of 16 (unless prescribed by a doctor).</p></div></div>
													</section>

													<section class="o-list-sections__section o-section">
															<h2 class="o-section__header above" id="side-effects">6. Side effects</h2>
															<div class="block-section_text"><div class="rich-text"><p>Paracetamol rarely causes side effects if you give it in the right doses.</p>
														<p>If you're worried about a side effect or notice anything unusual, talk to your pharmacist or doctor.</p>
														<h4>Serious allergic reaction</h4>
														<p>In rare cases, it’s possible to have a serious allergic reaction to paracetamol.</p></div></div>

		<div class="nhsuk-c-care-card nhsuk-c-care-card--red">
			<div class="nhsuk-c-care-card__heading">
				<h3>Ask for an urgent GP appointment if:</h3>
			</div>
				<div class="nhsuk-c-care-card__content">
						<ul>
						<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
						<li>wheezing</li>
						<li>tightness in the chest or throat</li>
						<li>having trouble breathing or talking</li>
						<li>swelling of the mouth, face, lips, tongue, or throat</li>
						</ul>
						<p>A serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
																</div>
															  </div>


															  <div class="nhsuk-c-keypoint">
																	<p>You can report any suspected side effect to the <a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</p>
																  </div>



											
														</section>

														<script>
																// <details> polyfill
																// http://caniuse.com/#feat=details
																// FF Support for HTML5's <details> and <summary>
																// https://bugzilla.mozilla.org/show_bug.cgi?id=591737
																// http://www.sitepoint.com/fixing-the-details-element/
																; (function () {
																  'use strict'
																  var NATIVE_DETAILS = typeof document.createElement('details').open === 'boolean'
																  // Add event construct for modern browsers or IE
																  // which fires the callback with a pre-converted target reference
																  function addEvent(node, type, callback) {
																	if (node.addEventListener) {
																	  node.addEventListener(type, function (e) {
																		callback(e, e.target)
																	  }, false)
																	} else if (node.attachEvent) {
																	  node.attachEvent('on' + type, function (e) {
																		callback(e, e.srcElement)
																	  })
																	}
																  }
																  // Handle cross-modal click events
																  function addClickEvent(node, callback) {
																	// Prevent space(32) from scrolling the page
																	addEvent(node, 'keypress', function (e, target) {
																	  if (target.nodeName === 'SUMMARY') {
																		if (e.keyCode === 32) {
																		  if (e.preventDefault) {
																			e.preventDefault()
																		  } else {
																			e.returnValue = false
																		  }
																		}
																	  }
																	})
																	// When the key comes up - check if it is enter(13) or space(32)
																	addEvent(node, 'keyup', function (e, target) {
																	  if (e.keyCode === 13 || e.keyCode === 32) { callback(e, target) }
																	})
																	addEvent(node, 'mouseup', function (e, target) {
																	  callback(e, target)
																	})
																  }
																  // Get the nearest ancestor element of a node that matches a given tag name
																  function getAncestor(node, match) {
																	do {
																	  if (!node || node.nodeName.toLowerCase() === match) {
																		break
																	  }
																	  node = node.parentNode
																	} while (node)
																	return node
																  }
																  // Create a started flag so we can prevent the initialisation
																  // function firing from both DOMContentLoaded and window.onload
																  var started = false
																  // Initialisation function
																  function addDetailsPolyfill(list) {
																	// If this has already happened, just return
																	// else set the flag so it doesn't happen again
																	if (started) {
																	  return
																	}
																	started = true
																	// Get the collection of details elements, but if that's empty
																	// then we don't need to bother with the rest of the scripting
																	if ((list = document.getElementsByTagName('details')).length === 0) {
																	  return
																	}
																	// else iterate through them to apply their initial state
																	var n = list.length
																	var i = 0
																	for (i; i < n; i++) {
																	  var details = list[i]
																	  // Save shortcuts to the inner summary and content elements
																	  details.__summary = details.getElementsByTagName('summary').item(0)
																	  details.__content = details.getElementsByTagName('div').item(0)
																	  // If the content doesn't have an ID, assign it one now
																	  // which we'll need for the summary's aria-controls assignment
																	  if (!details.__content.id) {
																		details.__content.id = 'details-content-' + i
																	  }
																	  // Add ARIA role="group" to details
																	  details.setAttribute('role', 'group')
																	  // Add role=button to summary
																	  details.__summary.setAttribute('role', 'button')
																	  // Add aria-controls
																	  details.__summary.setAttribute('aria-controls', details.__content.id)
																	  // Set tabIndex so the summary is keyboard accessible for non-native elements
																	  // http://www.saliences.com/browserBugs/tabIndex.html
																	  if (!NATIVE_DETAILS) {
																		details.__summary.tabIndex = 0
																	  }
																	  // Detect initial open state
																	  var openAttr = details.getAttribute('open') !== null
																	  if (openAttr === true) {
																		details.__summary.setAttribute('aria-expanded', 'true')
																		details.__content.setAttribute('aria-hidden', 'false')
																	  } else {
																		details.__summary.setAttribute('aria-expanded', 'false')
																		details.__content.setAttribute('aria-hidden', 'true')
																		if (!NATIVE_DETAILS) {
																		  details.__content.style.display = 'none'
																		}
																	  }
																	  // Create a circular reference from the summary back to its
																	  // parent details element, for convenience in the click handler
																	  details.__summary.__details = details
																	  // If this is not a native implementation, create an arrow
																	  // inside the summary
																	  if (!NATIVE_DETAILS) {
																		var twisty = document.createElement('i')
																		if (openAttr === true) {
																		  twisty.className = 'details__arrow is-open'
																		  twisty.appendChild(document.createTextNode('\u25bc'))
																		} else {
																		  twisty.className = 'details__arrow is-closed'
																		  twisty.appendChild(document.createTextNode('\u25ba'))
																		}
																		details.__summary.__twisty = details.__summary.insertBefore(twisty, details.__summary.firstChild)
																		details.__summary.__twisty.setAttribute('aria-hidden', 'true')
																	  }
																	}
																	// Define a statechange function that updates aria-expanded and style.display
																	// Also update the arrow position
																	function statechange(summary) {
																	  var expanded = summary.__details.__summary.getAttribute('aria-expanded') === 'true'
																	  var hidden = summary.__details.__content.getAttribute('aria-hidden') === 'true'
																	  // using a slight delay due to weird bug in Firefox not detecting click on the '+' or '-' correctly
																	  var ariaPause = setTimeout(function () {
																		summary.__details.__summary.setAttribute('aria-expanded', (expanded ? 'false' : 'true'))
																		summary.__details.__content.setAttribute('aria-hidden', (hidden ? 'false' : 'true'))
																	  }, 50);
																	  if (!NATIVE_DETAILS) {
																		summary.__details.__content.style.display = (expanded ? 'none' : '')
																		var hasOpenAttr = summary.__details.getAttribute('open') !== null
																		if (!hasOpenAttr) {
																		  summary.__details.setAttribute('open', 'open')
																		} else {
																		  summary.__details.removeAttribute('open')
																		}
																	  }
																	  if (summary.__twisty) {
																		summary.__twisty.firstChild.nodeValue = (expanded ? '\u25ba' : '\u25bc')
																		summary.__twisty.setAttribute('class', (expanded ? 'details__arrow is-closed' : 'details__arrow is-open'))
																	  }
																	  return true
																	}
																	// Bind a click event to handle summary elements
																	addClickEvent(document, function (e, summary) {
																	  if (!(summary = getAncestor(summary, 'summary'))) {
																		return true
																	  }
																	  return statechange(summary)
																	})
																  }
																  // Bind two load events for modern and older browsers
																  // If the first one fires it will set a flag to block the second one
																  // but if it's not supported then the second one will fire
																  addEvent(document, 'DOMContentLoaded', addDetailsPolyfill)
																  addEvent(window, 'load', addDetailsPolyfill)
																})()
																</script>
																<style>
																.o-list-sections {
																  margin-top: 0;
																}
																.o-section__header:focus {
																  outline: 0;
																}
																.c-common-questions__summary::-webkit-details-marker {
																  display: none;
																}
																.c-common-questions {
																  border: 2px #aeb7bd solid;
																  margin-top: 30px;
																  padding: 8px 0px 0px 0px;
															
																}
																.c-common-questions__summary {
																  display: block;
																}
																.c-common-questions__header {
																  border-top: 1px solid #ccc;
																  background: url(/images/icon-open_v1.svg) left no-repeat;
																  color: #0058ad;
																  cursor: pointer;
																  font-weight: 600;
																  line-height: 1.4em;
																  margin-top: 0;
																  padding: 18px 8px 18px 36px;
																  text-decoration: none;
																  margin-left: 16px;
																  margin-right: 16px;
																  width:28px;
																}
																.c-common-questions__header:hover,
																.c-common-questions__header:focus {
																  text-decoration: underline;
																}
																.c-common-questions__details:first-child .c-common-questions__header {
																  border-top: 0;
																}
																.c-common-questions__summary[aria-expanded="true"] .c-common-questions__header {
																  background: url(/images/icon-minus_v1.svg) left no-repeat;
																}
																.c-common-questions__content {
																  background: #fff;
																  margin-bottom: 0em;
																  padding: 1em;
																}
															
															
																.c-reveal__summary::-webkit-details-marker {
																  display: none;
																}
																.c-reveal {
																  border: 2px #aeb7bd solid;
																  margin-top: 30px;
																  padding: 8px 16px;
																}
																.c-reveal__summary {
																  display: block;
																}
																.c-reveal__header {
																  background: url(/images/icon-open_v1.svg) left no-repeat ;
																  color: #0058ad;
																  cursor: pointer;
																  font-weight: 600;
																  line-height: 1.4em;
																  margin-top: 0;
																  padding: 18px 8px 18px 44px;
																  text-decoration: none;
																}
																.c-reveal__header:hover,
																.c-reveal__header:focus {
																  text-decoration: underline;
																}
																.c-reveal__details:first-child .c-common-questions__header {
																  border-top: 0;
																}
																.c-reveal__summary[aria-expanded="true"] .c-reveal__header {
																  background: url(/images/icon-minus_v1.svg) left no-repeat;
																}
																.c-reveal__content {
																  margin-top:1em;
															margin-bottom:1em;
																}
															
															
															  .c-reveal-muted__summary::-webkit-details-marker {
																  display: none;
																}
																.c-reveal-muted {
																  border: 2px #aeb7bd solid;
																  margin-top: 30px;
																  padding: 8px 16px;
																}
																.c-reveal-muted__summary {
																  display: block;
																}
															
																.c-reveal-muted__header {
																  background: url(/images/icon-open_v1.svg)  left no-repeat ;
																  color: #425462;
																  cursor: pointer;
																  font-weight: 600;
																  line-height: 1.4em;
																  margin-top: 0;
																  padding: 18px 8px 18px 36px;
																  text-decoration: none;
																}
																.c-reveal-muted__header:hover,
																.c-reveal-muted__header:focus {
																  text-decoration: underline;
																}
																.c-reveal-muted__details:first-child .c-common-questions__header {
																  border-top: 0;
																}
																.c-reveal__summary[aria-expanded="true"] .c-reveal-muted__header {
																  background: url(/images/icon-minus_v1.svg) left no-repeat;
																}
															
																	.c-reveal-muted__summary[aria-expanded="true"] .c-reveal-muted__header {
																  background: url(/images/icon-minus_v1.svg) left no-repeat;
																}
															
															
															
															
															
															
															
																.c-common-questions__content p:first-child {
																  margin-top: 0;
																}
																.c-pain__header {
																  border-top: none;
																  color: #0058ad;
																  cursor: pointer;
																  font-size: 19px;
																  font-weight: normal;
																  line-height: 1.4em;
																  margin-top: 0;
																  padding: 18px 8px 18px 48px;
																}
															
																.expand-help__button[aria-expanded="false"]::before {
																  content: '\25b6\00a0';
																  speak: none;
																}
															
																.expand-help__button {
																  font-size: 19px;
																  line-height: 1.3157894737;
																  color: #005ea5;
																  -webkit-appearance: none;
																  background: none;
																  border: none;
																  font-family: "nta", Arial, sans-serif;
																  font-weight: 400;
																  text-transform: none;
																  font-size: 16px;
																  line-height: 1.25;
																  text-decoration: underline;
																  padding: 0;
																  align-items: flex-start;
															text-align: center;
																}
															
															.expand-help__button[aria-expanded="false"]::before{
																  content: '\25b6\00a0';
																speak: none;
															
															}
															
															.expand-help__heading {
															
															  font-weight: bold
															}
															
															.form-group:after {
															  content: "";
															display: block;
															clear: both;
															
															
															}
															
															details summary:focus {
																outline: 3px solid #ffb81c;
															}
															
															ul.painscale  {
																list-style-image:url('/images/icon-information.svg');
																margin-top:0px;
															
															}
															
															summary.pain::-webkit-details-marker {
															  display: none
															}
															summary.pain:after {
															  background: #0058ad;
															  border-radius: 25px;
															  content: "i";
															  color: #fff;
															  float: left;
															line-height:1.4em;
															  font-weight: bold;
															  margin: -1px 20px 10px 0;
															  padding: 0;
															  text-align: center;
															  width: 30px;
															  height: 30px;
															}
															details.pain[open] summary.pain:after {
															  content: "-";
															}
															
															
															
																</style>


				<section class="o-list-sections__section o-section">
					<h2 class="o-section__header above" id="common-questions">7. Common questions</h2>


					<div style="background-color: #fff;padding:1em;margin-top:1em;">

							<details class="c-reveal__details" role="group" >
							  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
								<p class="c-reveal__header">How does paracetamol work?</p>
							  </summary>
							  <div class="c-reveal__content" id="question-2" aria-hidden="true">
								<p>Paracetamol seems to work by blocking chemical messengers in the brain that tell children that they have pain.</p>
								<p>Paracetamol also reduces fever by affecting the chemical messengers in an area of the brain that regulates body temperature.</p>

				
				
							  </div>
							</details>
				
						  </div>

						  <div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
							  <details class="c-reveal__details" role="group" >
								<summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
								  <p class="c-reveal__header">When will they feel better?</p>
								</summary>
								<div class="c-reveal__content" id="question-2" aria-hidden="true" >
									<p>Paracetamol tablets and syrup take about half an hour to work. Suppositories take around an hour to work.</p>
									<p>If your child's pain lasts for more than 3 days, see your doctor.</p>
								</div>
							  </details>
							</div>

							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">What if my child vomits?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>If your child vomits less than 30 minutes after having a dose of paracetamol tablets or syrup, give them the same dose again.</p>
												<p>If your child vomits more than 30 minutes after a dose of tablets or syrup, you <strong>do not</strong> need to give them another dose. Wait until the next normal dose.</p>
												<p>If your child is finding it hard to keep tablets or syrup down, ask your doctor if paracetamol suppositories are an option. If they vomit straight after a suppository, you don't need to give them another dose as the suppository will still work.</p>
									  </div>
									</details>
							</div>

							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">How long will it take to work?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>Your child should start to feel less pain about 30 minutes after taking paracetamol tablets or syrup. It may take up to an hour for a suppository to work properly.</p>
									  </div>
									</details>
							</div>

							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">Is paracetamol or ibuprofen better?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>Paracetamol and <a href="https://beta.nhs.uk/medicines/ibuprofen-for-children/">ibuprofen</a> are similar strengths, but they work in different ways. So paracetamol is better for some types of pain than ibuprofen.</p>
												
											<p>Paracetamol is usually best for most types of pain, including <a href="http://www.nhs.uk/conditions/headache/Pages/Introduction.aspx">headache</a> and <a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/pages/introduction.aspx">stomach ache</a>.</p>
											<p>Ibuprofen is better for reducing inflammation (redness and swelling), including <a href="http://www.nhs.uk/Conditions/pregnancy-and-baby/pages/teething-and-tooth-care.aspx">teething</a> and <a href="https://www.nhs.uk/conditions/toothache/">toothache</a>.</p>
									  </div>
									</details>
							</div>


							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">Can I give paracetamol with prescription medicines?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>In general, paracetamol doesn't interfere with prescription medicines, including antibiotics.</p>
												<p>However, paracetamol isn't suitable for some children. Talk to your doctor if they take:</p>
												<ul>
												<li>medicine to treat <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a></li>
												<li>medicine to treat <a href="http://www.nhs.uk/conditions/Tuberculosis/Pages/Introduction.aspx">tuberculosis (TB)</a></li>
												<li>warfarin (a blood-thinning medicine)</li>
												</ul>
									  </div>
									</details>
							</div>


							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">Can I give paracetamol with herbal remedies?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<div class="nhsuk-c-panel nhsuk-c-panel__warning">
													<h3>Important</h3>
													<p>Check with your doctor or pharmacist before giving any herbal remedies or supplements to your child.</p>
												  </div>
									  </div>
									</details>
							</div>

							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">Is there any food or drink they need to avoid?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>Your child can eat and drink normally while taking paracetamol.</p>
												<p>You can give your child paracetamol (but not <a href="https://beta.nhs.uk/medicines/ibuprofen-for-children/">ibuprofen</a>) on an empty stomach.</p>
									  </div>
									</details>
							</div>

							<div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">
									<details class="c-reveal__details" role="group" >
									  <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
										<p class="c-reveal__header">Do I need to keep paracetamol syrup in the fridge?</p>
									  </summary>
									  <div class="c-reveal__content" id="question-2" aria-hidden="true" >
											<p>No, you don't need to put paracetamol syrup in the fridge. Keep it in a cupboard away from heat and sunlight.</p>
									  </div>
									</details>
							</div>

														   
	
															</section>


						{{ reviewdate("12/02/2016", "01/02/2019") }}


					</div>

				</div>
			</div>
        </main>
	</div>
	


{% endblock %}
