{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Images' %}
{% from 'components/images/macro.njk' import image %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ image({
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "sizes": "(min-width: 1020px) 320px, (min-width: 768px) 50vw, 100vw",
            "srcset": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-640x427.jpg 640w, https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-767x511.jpg 767w",
            "alt": "Picture of allergic conjunctivitis",
            "caption": "Itchy, red, watering eyes"
          }) }}

          {{ image({
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "alt": "Picture of allergic conjunctivitis"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
