.nhsuk-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px 0;
  width: 100%;
  th,
  td {
    border-bottom: 1px solid $nhsuk-border-colour;
    padding: 16px 8px 16px 0;
    text-align: left;
    text-transform: none;
    &.td__status,
    &.th__status {
      width: 175px;
    }
  }
  th {
    font-weight: 600;
  }
}
