<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/nhs.typeahead.js"></script>

{% if cookieBanner == 'active' %}
<script type="text/javascript">
  function hideCookieBanner() {
      var cookiebanner = document.getElementById("cookiebanner");
      var cookiebannerstart = document.getElementById("cookiebanner-info");
      var cookiebannerend = document.getElementById("cookiebanner-close");
      cookiebannerstart.style.display = "none";
      cookiebannerend.style.display = "block";
  }

  function showToggle() {
    var element = document.getElementById("nhsuk-cookie-panel");
    var toggle = document.getElementById("nhsuk-cookie-toggle");
    var content = document.getElementById("nhsuk-cookie-content");
    element.classList.toggle("open");
    if(element.classList.contains("open")) {
      toggle.setAttribute("aria-expanded", "true");
      content.setAttribute("aria-hidden", "false");
    } else {
      toggle.setAttribute("aria-expanded", "false");
      content.setAttribute("aria-hidden", "true");
    }
  }
</script>

<div class="nhsuk-cookie-banner" id="cookiebanner" lang="[#LANGUAGE#]" dir="[#TEXTDIRECTION#]" role="alert" ng-non-bindable>
  <div class="nhsuk-cookie-banner__container" id="cookiebanner-info">
    <div class="nhsuk-reading-width">
      <h2>This website uses cookies</h2>
      <!-- CookieBot <h2>[#TITLE#]</h2> -->
      <p class="mt-0">We use files called 'cookies' across our websites. Some are essential. For others you have a choice.</p>
      <!-- CookieBot <p class="mt-0">[#TEXT#]</p> -->
      <div class="nhsuk-cookie-banner-details" id="nhsuk-cookie-panel">
        <a href="javascript:void(0)" class="details__toggle" onclick="showToggle()" aria-expanded="false" aria-controls="nhsuk-cookie-content" id="nhsuk-cookie-toggle"><span class="caret"></span>Which cookies we use and why</a>
        <div class="details__content" id="nhsuk-cookie-content" aria-hidden="true">
          <p>We use cookies for the following reasons:</p>
          <h3>Site preferences</h3>
          <!-- CookieBot <h3>[#COOKIETYPE_PREFERENCE_RAW#]</h3> -->
          <p>These types of cookies remember the notifications you’ve seen so that we don’t show them to you again.</p>
          <!-- CookieBot<p>[#COOKIETYPEINTRO_PREFERENCE#]</p> -->
          <h3>Website usage</h3>
          <!-- CookieBot <h3>[#COOKIETYPE_STATISTICS_RAW#]</h3> -->
          <p>These types of cookies measure how you use the website, like where you click, so it can be updated and improved based on your needs.</p>
          <!-- CookieBot<p>[#COOKIETYPEINTRO_STATISTICS#]</p> -->
          <h3>Health campaigns</h3>
          <!-- CookieBot <h3>[#COOKIETYPE_ADVERTISING_RAW#]</h3> -->
          <p>We run health awareness campaigns with trusted partners. These cookies see how they perform across the internet and social media. Such as whether you clicked an advert to come to our site.</p>
          <!-- CookieBot<p>[#COOKIETYPEINTRO_ADVERTISING#]</p> -->
          <p>Find out more about cookies and see our detailed list of cookies on our <a href="https://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/cookies-policy.aspx">cookie policy page</a>.</p>
        </div>
      </div>

      <form>
        <legend>Cookies you are happy for us to use:</legend>
        <div id="CybotCookiebotDialogBodyLevelButtonsSelectPane">
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="Mandatory - can not be deselected." style="display: none !important;">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonNecessary" class="multiple-choice--checkbox checkbox-blue CybotCookiebotDialogBodyLevelButtonDisabled" disabled="disabled" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonNecessary">
              Required
              <!-- CookieBot [#COOKIETYPE_NECESSARY_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="These types of cookies remember the notifications you&rsquo;ve seen so that we don&rsquo;t show them to you again.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonPreferences" class="multiple-choice--checkbox checkbox-blue" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonPreferences">
              Site preferences
              <!-- [#COOKIETYPE_PREFERENCE_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="These types of cookies measure how you use the website, like where you click, so it can be updated and improved based on your needs.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonStatistics" class="multiple-choice--checkbox checkbox-blue" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonStatistics">
              Website usage
              <!-- [#COOKIETYPE_STATISTICS_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="We run health awareness campaigns with trusted partners. These cookies see how they perform across the internet and social media. Such as whether you clicked an advert to come to our site.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonMarketing" class="multiple-choice--checkbox checkbox-blue" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonMarketing">
              Health campaigns
              <!-- [#COOKIETYPE_ADVERTISING_RAW#] -->
            </label>
          </div>
        </div>
      </form>

      <a href="javascript:void(0)" onclick="hideCookieBanner()" class="button nhsuk-cookie-banner__button" role="button">
        Agree and continue
        <!-- [#ACCEPT#] -->
      </a>

    </div>
  </div>
  <div class="nhsuk-cookie-banner__container" id="cookiebanner-close" style="display: none;">
    <p class="mt-0">Thank you. Your cookie preferences have been updated.</p>
    <p>You can find out more about cookies on our <a href="https://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/cookies-policy.aspx">cookie policy page</a>.</p>
  </div>
</div>
{% endif %}

<header role="banner">
  <div class="nhsuk-global-header">
    <div class="nhsuk-o-width-container nhsuk-o-width-container--global-header">
      <div class="nhsuk-global-header__logo">
        <a href="/" class="global-header__link">
          {% set logotitle = 'nhsuk-logo-title-header' %}{% include 'partials/logos/nhs-logo.svg' %}
          <span class="visually-hidden">NHS.UK homepage</span>
        </a>
      </div>
      <div class="nhsuk-global-header__menusearch ui-front">
        <div class="nhsuk-global-header__menu"><button class="menu-toggle__button" aria-controls="c-nav-primary" aria-label="Open menu">Menu</button></div>
        <div class="nhsuk-global-header__search">
          <div class="search-toggle">
            <button class="search-toggle__button" aria-controls="search-container" aria-label="Open search">
              {% include 'partials/icons/icon-search.svg' %}
              <span class="visually-hidden">Search</span>
            </button>
          </div>
          <div class="search-container" id="search-container">
            <form class="c-search" action="/search/" method="get" role="search">
              <div class="c-search__container">
                <label class="c-search__label visually-hidden" for="search-field">Search NHS.UK</label>
                <input class="c-search__input" id="search-field" placeholder="Search" autocomplete="off" name="search-field" type="search">
                <button type="submit" class="c-search__submit">
                  {% include 'partials/icons/icon-search.svg' %}
                  <span class="visually-hidden">Search</span>
                </button>
              </div>
            </form>

            <div class="search-close">
              <button class="search-close__link">
                {% include 'partials/icons/icon-close.svg' %}
                <span class="visually-hidden">Close search</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
(function() {

  var searchToggle = {
    searchToggleButton: document.querySelector('.search-toggle__button'),
    searchClose: document.querySelector('.search-close'),
    search: document.querySelector('.search-container'),
    menuSearchContainer: document.querySelector('.nhsuk-global-header__menusearch'),

    doToggle: function(e) {
      e.preventDefault();

      if (this.searchToggleButton.hasAttribute("aria-expanded")) {
        this.searchToggleButton.removeAttribute("aria-expanded")
      } else {
        this.searchToggleButton.setAttribute("aria-expanded", "true")
      }

      function toggleClass(ele, class1) {
        var classes = ele.className;
        var regex = new RegExp('\\b' + ' ' + class1 + '\\b');
        var hasOne = classes.match(regex);
        class1 = class1.replace(/\s+/g, '');
        if (hasOne)
          ele.className = classes.replace(regex, '');
        else
          ele.className = classes + ' ' + class1;
      }

      toggleClass(this.searchToggleButton, 'active');
      toggleClass(this.search, 'js-show');
      toggleClass(this.menuSearchContainer, 'js-show');

    }
  };

  searchToggle.searchToggleButton.addEventListener('click', function(e) { searchToggle.doToggle(e); });
  searchToggle.searchClose.addEventListener('click', function(e) { searchToggle.doToggle(e); });

}());
</script>
