<header role="banner">
  <div class="nhsuk-global-header">
    {% if navigationWidth == 'fluid' %}
    <div class="nhsuk-o-width-container-fluid nhsuk-o-width-container--global-header">
    {% else %}
    <div class="nhsuk-o-width-container nhsuk-o-width-container--global-header">
    {% endif %}
      <div class="nhsuk-global-header__logo">
        <a href="/" class="global-header__link">
          {% include 'partials/logos/nhs-logo.svg' %}
        </a>
      </div>
    </div>
  </div>
</header>
