<nav class="c-nav-primary" id="c-nav-primary" role="navigation" aria-label="Primary navigation" aria-labelledby="mainmenulabel">
  <div class="nhsuk-global-nav">
    <div class="nhsuk-o-width-container">
      <p class="c-nav-primary__title"><span id="mainmenulabel">Menu</span>
        <button class="c-nav-primary__close-link">
          {% include 'partials/icons/icon-close.svg' %}
          <span class="visually-hidden">Close menu</span>
        </button>
      </p>
      <ul class="c-nav-primary__list">
        <li class="c-nav-primary__item c-nav-primary__item--mobile"><a href="/" class="c-nav-primary__link">Home {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
        <li class="c-nav-primary__item"><a href="/examples/health-a-z/health-a-z" class="c-nav-primary__link">Health A-Z {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
        <li class="c-nav-primary__item"><a href="https://www.nhs.uk/livewell/" class="c-nav-primary__link">Live Well {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
        <li class="c-nav-primary__item"><a href="https://www.nhs.uk/conditions/social-care-and-support/" class="c-nav-primary__link">Care and support {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
        <li class="c-nav-primary__item"><a href="https://www.nhs.uk/news/" class="c-nav-primary__link">Health news {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
        <li class="c-nav-primary__item"><a href="https://www.nhs.uk/service-search/" class="c-nav-primary__link">Services near you {% include 'partials/icons/icon-chevron-right.svg' %}</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
(function() {

	var menuToggle = {
		menuToggleButton: document.querySelector('.menu-toggle__button'),
		menuClose: document.querySelector('.c-nav-primary__close-link'),
  	nav: document.querySelector('.c-nav-primary'),

		doToggle: function(e) {
			e.preventDefault();

      if (this.menuToggleButton.hasAttribute("aria-expanded")) {
        this.menuToggleButton.removeAttribute("aria-expanded")
      } else {
        this.menuToggleButton.setAttribute("aria-expanded", "true")
      }

      function toggleClass(ele, class1) {
        var classes = ele.className;
        var regex = new RegExp('\\b' + ' ' + class1 + '\\b');
        var hasOne = classes.match(regex);
        class1 = class1.replace(/\s+/g, '');
        if (hasOne)
          ele.className = classes.replace(regex, '');
        else
          ele.className = classes + ' ' + class1;
      }

      toggleClass(this.menuToggleButton, 'active');
      toggleClass(this.nav, 'js-show');

		}
	};

	menuToggle.menuToggleButton.addEventListener('click', function(e) { menuToggle.doToggle(e); });
	menuToggle.menuClose.addEventListener('click', function(e) { menuToggle.doToggle(e); });

}());
</script>
