@import '../../src/globals/tools/px-to-em';
@import '../../src/globals/settings/variables';
@import 'globals/objects/full-width-container';
@import 'globals/settings/typography';

@import 'components/breadcrumbs/breadcrumbs';
@import 'components/cookie-policy/cookie-policy';
@import 'components/page-contents/page-contents';
@import 'components/page-contents/page-contents-v2';
@import 'components/table/table';
@import 'components/promo/promo';
@import 'components/intro-image/intro-image';
@import 'components/page-nav-right/page-nav-right';
@import 'components/page-nav-left/page-nav-left';
@import 'components/reveals/reveals';
@import 'components/pagination/pagination';
@import 'components/skip-links/skip-links';
@import 'components/video/video';
@import 'components/promo-v2/promo';
@import 'components/sections/sections';
@import 'components/hero/hero';
@import 'components/blockquote/blockquote';

@import 'pages/code';
@import 'pages/grid';
@import 'pages/colours';

@import 'wagtail/wagtail';

// CSS for medicines page - lifted from beta.nhs.uk
// Fixes the extra numbering added to the markup of medicines pages.
// Can remove this eventually.

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

ul ul, ol ul {
    list-style-type: disc;
}

.nhsuk-page-content__section-one > *:first-child {
    margin-top: 0; //added a class of nhsuk-page-content__section-one to remove margin-top from first element within the section
}

// End medicines

// Testing the spacing between the in page nav and body content

.nhsuk-page-nav{
    @include mq($from: tablet) {
        padding-right:32px;
    }
}

// Epilepsy multi-page navigation

.nhsuk-list-nav {
  &__two-column {
    display: block;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
    li {
      margin: 16px 0;
    }
  }
}

.nhsuk-page-content > *:first-child > *:first-child {
    margin-top: 0;
}


// Diabetes example page work

hr.nhsuk-hr {
    border-top: 0;
    border-bottom: 1px solid $nhsuk-border-colour;
    margin: 56px 0;

    @include mq($until: tablet) {
      margin: 40px 0;
    }
}
  
.nhsuk-list-links-heading + .nhsuk-list-links {
margin: 12px 0 0;
}

// helper classes to be filed properly

.nhsuk-hide-on-mobile {
    @include mq($until: tablet) {
        display: none;
    }
}

.nhsuk-hide-on-tablet {
    @include mq($until: desktop) {
        display: none;
    }
}

// Responsive image

.nhsuk-image-responsive {
    width: 100%;
}

// Panel grey <-- Needs looking at properly

.nhsuk-c-panel--grey {
    @include top-and-bottom();
    background: $nhsuk-grey-5;
    padding:32px;
    @include mq($until: tablet) {
        padding:24px;
    }
}

.nhsuk-section {
    .nhsuk-c-panel--grey {
        background: $nhsuk-white;
    }
    &--white {
        .nhsuk-c-panel--grey {
            background: $nhsuk-grey-5;
        }
    }
}
