name: Install
description: Install packages, restoring from cache if possible

runs:
  using: composite

  steps:
    - name: Cache dependencies
      uses: actions/cache@v4
      id: npm-install-cache
      with:
        key: npm-install-${{ hashFiles('package-lock.json') }}
        path: node_modules

    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        package-manager-cache: ${{ steps.npm-install-cache.outputs.cache-hit != 'true' }}
        node-version-file: .nvmrc

    - name: Install dependencies
      if: ${{ steps.npm-install-cache.outputs.cache-hit != 'true' }}
      shell: bash
      run: npm install
