.nhsuk-tabs {
  @include nhsuk-responsive-margin(1, 'top');
  @include nhsuk-responsive-margin(6, 'bottom');
}

.nhsuk-tabs__title {
  @include nhsuk-font($size: 19);
  color: $nhsuk-text-color;
  margin-bottom: nhsuk-spacing(2);
}

.nhsuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include nhsuk-responsive-margin(6, 'bottom');
}

.nhsuk-tabs__list-item {
  @include nhsuk-font($size: 19);
  margin-left: nhsuk-spacing(5);

  &:before {
    color: $nhsuk-text-color;
    content: '\2014 '; // "— "
    margin-left: -nhsuk-spacing(5);
    padding-right: nhsuk-spacing(1);
  }
}

.nhsuk-tabs__tab {
  @include nhsuk-link-style-default;

  display: inline-block;
  margin-bottom: nhsuk-spacing(2);
}

.nhsuk-tabs__panel {
  @include nhsuk-responsive-margin(8, 'bottom');
}

// JavaScript enabled
.js-enabled {
  @include govuk-media-query($from: tablet) {
    .nhsuk-tabs__list {
      @include clearfix;
      margin-bottom: 0;
      border-bottom: 1px solid $nhsuk-border-color;
    }

    .nhsuk-tabs__title {
      display: none;
    }

    .nhsuk-tabs__list-item {
      position: relative;

      margin-right: nhsuk-spacing(1);
      margin-bottom: 0;
      margin-left: 0;
      padding: nhsuk-spacing(2) nhsuk-spacing(4);

      float: left;
      background-color: $color_nhsuk-grey-4;
      text-align: center;

      &:before {
        content: none;
      }
    }

    .nhsuk-tabs__list-item--selected {
      $border-width: 1px;

      position: relative;

      margin-top: -nhsuk-spacing(1);

      // Compensation for border (otherwise we get a shift)
      margin-bottom: -$border-width;
      padding-top: nhsuk-spacing(3) - $border-width;
      padding-right: nhsuk-spacing(4) - $border-width;
      padding-bottom: nhsuk-spacing(3) + $border-width;
      padding-left: nhsuk-spacing(4) - $border-width;

      border: $border-width solid $nhsuk-border-color;
      border-bottom: 0;

      background-color: $color_nhsuk-grey-5;

      .nhsuk-tabs__tab {
        text-decoration: none;
      }
    }

    .nhsuk-tabs__tab {
      //   @include nhsuk-link-style-text;

      margin-bottom: 0;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .nhsuk-tabs__panel {
      @include nhsuk-responsive-margin(0, 'bottom');
      padding: nhsuk-spacing(6) nhsuk-spacing(4);
      border: 1px solid $nhsuk-border-color;
      border-top: 0;

      & > :last-child {
        margin-bottom: 0;
      }
    }

    .nhsuk-tabs__panel--hidden {
      display: none;
    }
  }
}
