{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Action link' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% extends 'layout.njk' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ actionLink({
        "text": "Find a minor injuries unit",
        "href": "#"
      }) }}
    </div>
  </div>

{% endblock %}
