<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/images/favicon.png">
		
    <title>NHS.UK - {{ title }}</title>

    <link rel="stylesheet" href="/css/nhsuk.css">
  </head>
  <body>

    {% include "includes/header.html" %}   

    {% block body %}{% endblock %}

    {% include "includes/footer.html" %}   

    <script src="/js/main.js"></script>
    <script src="/reload/reload.js"></script> 
  </body>
</html>
