.nhsuk-c-care-card {
  margin: 40px 0;

  @include mq($from: tablet) {
    margin: 56px 0;
  }

  .nhsuk-c-care-card__heading {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    padding: 12px 16px;
    position: relative;

    @include mq($from: tablet) {
      padding: 16px 24px;
    }

    &:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $nhsuk-blue;
      bottom: -16px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }

    *:first-of-type {
      margin: 0;
    }

  }

  .nhsuk-c-care-card__content {
    @include top-and-bottom();

    background: $nhsuk-white;
    padding: 32px 16px 24px;

    @include mq($from: tablet) {
      padding: 36px 24px 32px;
    }

    @include mq($from: grid-collapse) {
      @include reading-width();
    }

  }

  &--grey {
    .nhsuk-c-care-card__heading {
      background: $nhsuk-grey-4;
      color: $nhsuk-black;

      &:after {
        border-top: 16px solid $nhsuk-grey-4;
      }

    }
  }

  &--red {
    .nhsuk-c-care-card__heading {
      background: $nhsuk-red;

      &:after {
        border-top: 16px solid $nhsuk-red;
      }

    }
  }

  &--black {
    .nhsuk-c-care-card__heading {
      background: $nhsuk-red;

      &:after {
        border-top: 16px solid $nhsuk-red;
      }

    }

    .nhsuk-c-care-card__content {
      background: $nhsuk-black;
      color: $nhsuk-white;

      a {
        color: $nhsuk-white;

        &:hover {
          color: $nhsuk-black;
        }

      }

    }

  }

}
