<div class="container">
  <div class="row">
    <div class="col-md-12 navigation">
      <ul>
        <li><a href="/">Layout</a></li>
        <li><a href="typography">Typography</a></li>
        <li><a href="colours">Colours</a></li>
      </ul>
      <ul>
        <li><a href="page">Medicines example</a></li>
        <li><a href="page-1">Behind the headlines example</a></li>
        <li><a href="page-2">Conditions example</a></li>
        <li><a href="page-3">Guides example</a></li>
      </ul>
      <ul>
        <li><a href="mobile">Medicines (mobile typography)</a></li>
      </ul>
    </div>
  </div>
</div>
