.nhsuk-user-account {
    background: $nhsuk-white;
    color: $nhsuk-secondary-text-colour;
}

.nhsuk-user-account__content {
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: right;

    @include mq($until: tablet) {
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

.nhsuk-user-account__message {
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    @include mq($until: tablet) {
        font-size: 14px;
    }
}

.nhsuk-user-account__user-name {
    font-weight: 600;
}