{% macro carecard(type, title, content) %}
{% if type == 'grey' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--grey">
{% elseif type == 'red' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--red">
{% elseif type == 'black' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--black">
{% else %}
<div class="nhsuk-c-care-card">
{% endif %}
  <div class="nhsuk-c-care-card__heading">
    <h3>{{title}}</h3>
  </div>
  <div class="nhsuk-c-care-card__content">
    {{content | safe}}
  </div>
</div>
{% endmacro %}
