{% macro hero(heading, content) %}
  <div class="nhsuk-hero">
      <div class="nhsuk-o-width-container">
          <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
              <div class="nhsuk-o-grid">
                  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                      <div class="nhsuk-page-heading">
                          <h1>{{heading}}</h1>
                          {{ content | safe }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endmacro %}
