{% macro image(title, imageURL, caption) %}
  <div class="nhsuk-c-image">
    <img alt="{{ title }}" 
    src="{{ imageURL }}"/>
    <div class="nhsuk-c-image__caption">
      {{ caption | safe }}
    </div>
  </div>
{% endmacro %}
