{% macro promoWithImage(promoClass, promoImage, promoLink, promoTitle, promoDescription) %}
    <div class="nhsuk-c-promo {{promoClass}}">
        <div class="nhsuk-c-promo__image-wrapper">
            <div class="nhsuk-c-promo__image" style="background-image:url({{promoImage}});"></div>
        </div>
        <div class="nhsuk-c-promo__content">
            <h3 class="nhsuk-c-promo__heading"><a href="{{promoLink}}">{{promoTitle}}</a></h3>
            <p class="nhsuk-c-promo__description">{{promoDescription}}</p>
        </div>
    </div>
{% endmacro %}

{% macro promo(promoClass, promoLink, promoTitle, promoDescription) %}
    <div class="nhsuk-c-promo {{promoClass}}">
        <div class="nhsuk-c-promo__content">
            <h3 class="nhsuk-c-promo__heading"><a href="{{promoLink}}">{{promoTitle}}</a></h3>
            <p class="nhsuk-c-promo__description">{{promoDescription}}</p>
        </div>
    </div>
{% endmacro %}