////
/// Button component
///
/// 1. Ensure that any global link styles are overridden.
/// 2. Fix unwanted button padding in Firefox.
/// 3. Use a pseudo element to expand the click target area to include the
///    button's shadow as well, in case users try to click it.
/// 4. Makes the secondary button that has a border the same height as the other
//    buttons that don't have a border.
///
/// @group components
////

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s2) and
// increase the bottom margin to include it (s1).
$button-shadow-size: 4px;
$button-border-width: 2px;
$button-padding-top-bottom-desktop: 12px;
$button-padding-top-bottom-mobile: nhsuk-spacing(2);
$button-padding-left-right: nhsuk-spacing(3);

.nhsuk-button {
  @include nhsuk-font(19);
  @include nhsuk-responsive-margin(5, "bottom", $adjustment: $button-shadow-size); // s1

  -webkit-appearance: none;
  background-color: $nhsuk-button-color;
  border: $nhsuk-border-width-form-element solid transparent;
  border-radius: 4px;
  box-shadow: 0 $button-shadow-size 0 $nhsuk-button-shadow-color; // s0
  box-sizing: border-box;
  color: $nhsuk-button-text-color;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: $button-padding-top-bottom-desktop $button-padding-left-right; // s2
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;

  @include mq($until: tablet) {
    padding: $button-padding-top-bottom-mobile $button-padding-left-right; // s2
  }

  // [1] //
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $nhsuk-button-text-color;
    text-decoration: none;
  }

  // [2] //
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    background-color: $nhsuk-button-hover-color;
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;

    &:visited {
      color: $nhsuk-focus-text-color;

      &:active {
        color: $color_nhsuk-white;
      }
    }
  }

  &:active {
    background: $nhsuk-button-active-color;
    box-shadow: none;
    color: $nhsuk-button-text-color;
    top: $button-shadow-size;
  }

  // [3] //
  &::before {
    background: transparent;
    bottom: -($nhsuk-border-width-form-element + $button-shadow-size);
    content: "";
    display: block;
    left: -$nhsuk-border-width-form-element;
    position: absolute;
    right: -$nhsuk-border-width-form-element;
    top: -$nhsuk-border-width-form-element;
  }

  //
  // When the button is active it is shifted down by $button-shadow-size to
  // denote a 'pressed' state. If the user happened to click at the very top
  // of the button, their mouse is no longer over the button (because it has
  // 'moved beneath them') and so the click event is not fired.
  //
  // This corrects that by shifting the top of the pseudo element so that it
  // continues to cover the area that the user originally clicked, which means
  // the click event is still fired.
  //

  &:active::before {
    top: -($nhsuk-border-width-form-element + $button-shadow-size);
  }
}

/// Button variations

.nhsuk-button--secondary,
.nhsuk-button--secondary-white-background {
  @include nhsuk-responsive-margin(5, "bottom", $adjustment: $button-border-width); // [4] //

  border: $button-border-width solid $nhsuk-secondary-button-border-color;
  box-shadow: 0 calc($button-shadow-size - $button-border-width) 0 $nhsuk-secondary-button-shadow-color; // [4] //
  color: $nhsuk-secondary-button-text-color;
  padding-bottom: $button-padding-top-bottom-desktop + calc($button-border-width / 2); // [4] //
  padding-top: $button-padding-top-bottom-desktop + calc($button-border-width / 2); // [4] //

  @include mq($until: tablet) {
    padding-bottom: $button-padding-top-bottom-mobile + calc($button-border-width / 2); // [4] //
    padding-top: $button-padding-top-bottom-mobile + calc($button-border-width / 2); // [4] //
  }

  // [3] //
  &::before {
    bottom: -$button-shadow-size;
  }

  &:hover {
    background-color: $nhsuk-secondary-button-hover-color;
    color: $nhsuk-secondary-button-text-color;
  }

  &:link,
  &:visited {
    color: $nhsuk-secondary-button-text-color;
  }


  &:focus {
    @include nhsuk-responsive-margin(5, "bottom", $adjustment: $button-shadow-size); // [4] //

    background: $nhsuk-focus-color;
    border-color: $nhsuk-focus-color;
    border-bottom: 0;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;

    &:visited {
      color: $nhsuk-focus-text-color;

      &:active {
        color: $nhsuk-secondary-button-text-color;
      }
    }
  }

  &:active {
    @include nhsuk-responsive-margin(5, "bottom", $adjustment: $button-shadow-size); // [4] //

    background: $nhsuk-secondary-button-active-color;
    border-color: $nhsuk-secondary-button-border-color;
    border-bottom: $button-border-width solid;
    box-shadow: none;
    color: $nhsuk-secondary-button-text-color;
    padding-bottom: $button-padding-top-bottom-desktop; // [4] //
    padding-top: $button-padding-top-bottom-desktop; // [4] //
    top: $button-shadow-size;

    @include mq($until: tablet) {
      padding-bottom: $button-padding-top-bottom-mobile; // [4] //
      padding-top: $button-padding-top-bottom-mobile; // [4] //
    }
  }

  &:active::before {
    bottom: -($nhsuk-border-width-form-element + $button-shadow-size);
  }
}

.nhsuk-button--secondary {
  background-color: $nhsuk-secondary-button-color;
}

.nhsuk-button--secondary-white-background {
  background-color: $color_nhsuk-white;
}

.nhsuk-button--reverse {
  background-color: $nhsuk-reverse-button-color;
  box-shadow: 0 $button-shadow-size 0 $nhsuk-reverse-button-shadow-color;
  color: $nhsuk-reverse-button-text-color;

  &:hover {
    background-color: darken($nhsuk-reverse-button-color, 5%);
    color: $nhsuk-reverse-button-text-color;
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
  }

  &:active {
    background: $nhsuk-reverse-button-active-color;
    box-shadow: none;
    color: $color_nhsuk-white;
    top: $button-shadow-size;
  }

  &:link,
  &:visited {
    color: $nhsuk-reverse-button-text-color;

    &:active {
      color: $color_nhsuk-white;
    }
  }
}

.nhsuk-button--warning {
  background-color: $nhsuk-warning-button-color;
  box-shadow: 0 $button-shadow-size 0 $nhsuk-warning-button-shadow-color;

  &:hover {
    background-color: darken($nhsuk-warning-button-color, 10%);
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
  }

  &:active {
    background: $nhsuk-warning-button-active-color;
    box-shadow: none;
    color: $nhsuk-button-text-color;
    top: $button-shadow-size;
  }
}

/// Button disabled states

.nhsuk-button--disabled,
.nhsuk-button:disabled {
  opacity: (0.5);
  pointer-events: none;
}
