{% set title = 'Epilepsy' %}
{% set parent = 'Conditions' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Epilepsy</h1>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
        <ol class="nhsuk-list-nav nhsuk-list-nav__two-column">
          <li><a href="/examples/epilepsy">Overview</a></li>
          <li><a href="/examples/epilepsy/symptoms">Symptoms</a></li>
          <li><a href="/examples/epilepsy/diagnosis">Diagnosis</a></li>
          <li><a href="/examples/epilepsy/treatment">Treatment</a></li>
          <li><a href="/examples/epilepsy/living-with">Living with</a></li>
        </ol>
      </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
      <li><a href="#overview">Living with</a></li>
      <li><a href="#controlling-your-seizures">Controlling your seizures</a></li>
      <li><a href="#staying-safe">Staying safe</a></li>
      <li><a href="#pregnancy-and-contraception">Pregnancy and contraception</a></li>
      <li><a href="#school-and-education">School and education</a></li>
      <li><a href="#work-money-and-benefits">Work, money and benefits</a></li>
      <li><a href="#support-groups">Support groups</a></li>
      <li><a href="#sudden-unexpected-death-in-epilepsy-sudep">Sudden unexpected death in epilepsy (SUDEP)</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="overview">Living with</h2>
    <p>As epilepsy can affect people in different ways, everyone's experience of living with the condition is different. But there are some general points that can help.</p>

    <h2 id="controlling-your-seizures">Controlling your seizures</h2>

    <p>Seizures can be dangerous, so it's important to try to keep them as well controlled as possible. There are several things you can do to help.</p>

    <h3>Take your medicine</h3>

    <p>Anti-epileptic drugs (AEDs) can be very effective in stopping or reducing the frequency of seizures.</p>

    <p>If you've been prescribed an AED, make sure you take it every day as advised by your doctor.</p>

    <p>Tell your doctor if your medicine is causing unpleasant side effects. Don't skip doses&nbsp;or stop taking it without getting medical advice, as this could cause you to have a seizure.</p>

    <p>You might need to try several AEDs to find one that works for you and doesn't cause troublesome side effects.</p>

    <p>You may eventually be able to stop taking your medicine once your seizures have been under control for some time, but this should be done gradually under medical supervision.</p>

    <h3>Identify and avoid seizure triggers</h3>

    <p>While not the case for everyone with epilepsy, seizures can sometimes have a trigger. Common&nbsp;<a href="/Conditions/Epilepsy/Pages/Symptoms.aspx#triggers">seizure triggers</a> include stress, lack of sleep and alcohol.</p>

    <p>Keeping a seizure&nbsp;diary&nbsp;– detailing when you have seizures and what you were doing beforehand&nbsp;– may&nbsp;help you work out if you have any triggers. </p>

    <p>You can download a&nbsp;<a href="https://www.epilepsy.org.uk/sites/epilepsy/files/files/A4-online-seizure-diary.pdf" title="Opens in a new window">blank seizure diary (PDF,&nbsp;153kb)</a> from the Epilepsy Action website.</p>

    <p>If you identify any triggers, doing what you can to avoid them can help reduce the number of seizures you have. </p>

    <p>For example, it might help to:</p>

    <ul>
    <li><a href="/Conditions/stress-anxiety-depression/pages/reduce-stress.aspx">deal with stress</a></li>
    <li>avoid&nbsp;becoming too tired&nbsp;– read advice about&nbsp;<a href="/Livewell/insomnia/Pages/bedtimeritual.aspx">how to get to sleep</a> and&nbsp;get <a href="/Livewell/insomnia/Pages/insomniatips.aspx">tips to beat insomnia</a></li>
    <li><a href="/Livewell/alcohol/Pages/Tipsoncuttingdown.aspx">cut down on alcohol</a></li>
    </ul>

    <h3>Have&nbsp;regular reviews</h3>

    <p>You'll have regular reviews of your epilepsy and treatment. These are usually carried out&nbsp;by your GP, but sometimes may be done by your&nbsp;epilepsy specialist&nbsp;and their team.</p>

    <p>Reviews should be carried out at least once a year, although you&nbsp;may need them more often if&nbsp;your epilepsy isn't well controlled.</p>

    <p>These appointments are a good opportunity to talk to your doctor about how you feel your treatment is going and any problems you're having, such as side effects from your medicine.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/living-with-epilepsy">living with epilepsy</a></li>
      <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/living-long-term-condition">living with a long-term condition</a></li>
    </ul>

    <h2 id="staying-safe">Staying safe</h2>

    <p>Having seizures can sometimes put you or others at risk of harm&nbsp;– for example, if they happen while you're cooking, driving or swimming.</p>

    <p>If your seizures aren't well controlled,&nbsp;there are things you can do to reduce the danger.</p>

    <h3>At home</h3>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Tips to stay safe at home include:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>use guards on heaters and radiators to stop you falling directly on to them </li>
          <li>install smoke detectors to let you know that food is burning if you sometimes forget what you're doing or have seizures that cause you to lose awareness </li>
          <li>cover any furniture edges or corners that are sharp or stick out </li>
          <li>have a shower instead of a bath </li>
          <li>don't lock the bathroom door </li>
          <li>place saucepans on the back burners and with the handles turned away from the edge of the cooker </li>
        </ul>
      </div>
    </div>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/safety">safety advice for people with epilepsy</a></li>
    <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/safeathome">safety at home</a></li>
    </ul>

    <h3>Sports and leisure</h3>

    <p>Most people with epilepsy can take part in sports and other leisure activities, but there are some precautions you might need to take if your seizures aren't well controlled.</p>

    <p>For example, you may need to:</p>

    <ul>
    <li>avoid swimming or doing water sports on your own </li>
    <li>wear a helmet while cycling or horse riding </li>
    <li>avoid using certain&nbsp;types of gym equipment&nbsp;– ask staff at the gym for advice </li>
    </ul>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/sports-leisure">sports and leisure</a></li>
    </ul>

    <h3>Driving</h3>

    <p>You must stop driving and tell&nbsp;the Driving and Vehicle Licence Authority (DVLA) if you've had a seizure.</p>

    <p>Your&nbsp;licence may be taken away until your seizures are under control.</p>

    <p>When you can reapply for&nbsp;a licence&nbsp;depends on the type of seizure you had&nbsp;– for example, if you've had seizures that caused you to lose consciousness, you won't be able to reapply until you haven't had a seizure for at least a year.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>GOV.UK:&nbsp;<a href="https://www.gov.uk/epilepsy-and-driving">epilepsy and driving</a></li>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/driving" title="External website">driving</a></li>
    <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/driving-regulations-epilepsy" title="External website">driving regulations&nbsp;for epilepsy</a></li>
    </ul>

    <h2 id="pregnancy-and-contraception">Pregnancy and contraception</h2>

    <h3>Getting pregnant</h3>

    <p>Epilepsy doesn't affect your ability to have children and there's no reason why you can't have a healthy pregnancy.</p>

    <p>But if you're thinking of trying for a baby, it's best to discuss&nbsp;your plans with your doctor.</p>

    <p>This is because some AEDs&nbsp;– particularly sodium valproate&nbsp;– can harm an unborn baby. Your doctor may&nbsp;suggest switching to another AED if there's any risk to your baby.</p>

    <p><a href="/conditions/pregnancy-and-baby/epilepsy-pregnant/#risks-from-epilepsy-medicines">Read more about the risks of sodium valproate in pregnancy</a>. </p>

    <p>If you&nbsp;suddenly find out&nbsp;you're pregnant, contact your doctor for advice as soon as possible. Don't stop taking your medicine without speaking to them first.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li><a href="/conditions/pregnancy-and-baby/pages/epilepsy-pregnant.aspx">Epilepsy and pregnancy</a></li>
    </ul>

    <h3>Using contraception</h3>

    <p>If you don't wish to get pregnant, it's important to use a reliable form of contraception.</p>

    <p>Ask your doctor about the best type of contraception to use, as some AEDs can affect how certain contraceptives work, including the <a href="/conditions/contraception-guide/pages/combined-contraceptive-pill.aspx">combined contraceptive pill</a>.</p>

    <p>Methods of contraception that aren't affected by AEDs include the:</p>

    <ul>
      <li><a href="/Conditions/contraception-guide/Pages/iud-coil.aspx">intrauterine device (IUD)</a></li>
      <li><a href="/Conditions/contraception-guide/Pages/ius-intrauterine-system.aspx">intrauterine system (IUS)</a></li>
      <li><a href="/Conditions/contraception-guide/Pages/contraceptive-injection.aspx">progestogen-only injection</a></li>
    </ul>

    <p>It's also a good idea to use a&nbsp;<a href="/Conditions/contraception-guide/Pages/male-condoms.aspx">condom</a> as well.</p>

    <p>Speak to your GP, a pharmacist or a family planning clinic if you need emergency contraception. You may need to have an IUD fitted.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/contraception">contraception and epilepsy</a></li>
      <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/contraception-and-epilepsy">contraception and epilepsy</a></li>
    </ul>

    <h2 id="school-and-education">School and education</h2>

    <p>Children with epilepsy can usually attend a mainstream school and participate fully in school activities.</p>

    <p>Make sure your child's school and teachers are aware of their condition.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Help your child's school and teacher understand:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>what medication your child takes </li>
          <li>how to spot and deal with a seizure </li>
          <li>the impact their epilepsy may have on their attendance and schoolwork&nbsp;– for example,&nbsp;epilepsy can sometimes affect behaviour and concentration </li>
        </ul>
      </div>
    </div>

    <p>Some children with epilepsy&nbsp;need&nbsp;extra support to get the most out of their time at school.</p>

    <p>Speak to the school if your child has special educational needs so you can&nbsp;discuss the support your child needs and what the school can offer.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li><a href="/Livewell/Childrenwithalearningdisability/Pages/Education.aspx">Guide to special educational needs (SEN)</a></li>
      <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/children" title="External website">parents of children with epilepsy</a></li>
      <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/parents" title="External website">for parents</a>&nbsp; </li>
      <li>GOV.UK:&nbsp;<a href="https://www.gov.uk/children-with-special-educational-needs" title="External website">children with special educational needs</a></li>
    </ul>

    <h2 id="work-money-and-benefits">Work, money and benefits</h2>

    <h3>Working with epilepsy</h3>

    <p>If your epilepsy is well controlled, it may not have any effect on your work.</p>

    <p>Speak to your employer if your condition makes it difficult to do your job. They're required to&nbsp;make reasonable adjustments to your work tasks to allow you to keep working.</p>

    <p>This may include things like:</p>

    <ul>
    <li>changing your work hours </li>
    <li>making sure you don't have to drive as part of your job </li>
    <li>giving written rather than spoken instructions </li>
    <li>letting you have extra breaks and time off for medical appointments </li>
    </ul>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/employment">work and epilepsy</a></li>
    <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/work-employment-and-epilepsy">work, employment and epilepsy</a></li>
    </ul>

    <h3>If you have to stop working</h3>

    <p>If you have to stop work or work part-time because of your epilepsy, you may be entitled to one or more of the following types of financial support:</p>

    <ul>
    <li>If you have a job but can't work because of your epilepsy, you're entitled to&nbsp;<a href="https://www.gov.uk/statutory-sick-pay-ssp" title="External website">Statutory Sick Pay</a> from your employer.&nbsp;&nbsp; </li>
    <li>If you don't have a job and can't work because of your epilepsy, you may be entitled to <a href="https://www.gov.uk/employment-support-allowance#overview" title="External website">Employment and Support Allowance</a>.&nbsp;&nbsp; </li>
    <li>If you're aged 64 or under and need help with personal care or have walking difficulties, you may be eligible for <a href="https://www.gov.uk/pip/overview" title="External website">Personal Independence Payment</a>.&nbsp; </li>
    <li>If you're aged 65 or over, you may be able to get <a href="https://www.gov.uk/attendance-allowance" title="External website">Attendance Allowance</a>.&nbsp; </li>
    <li>If you're caring for someone with epilepsy, you may be entitled to <a href="https://www.gov.uk/carers-allowance" title="External website">Carer's Allowance</a>. </li>
    </ul>

    <h3>Free prescriptions</h3>

    <p>If you take AEDs, you're entitled to get all your prescriptions (not just those for AEDs) free of charge.</p>

    <p>Ask your doctor how to get an exemption certificate.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li><a href="/nhsengland/Healthcosts/pages/Prescriptioncosts.aspx">Help with health costs</a></li>
    <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/benefits/england" title="External website">benefits for people with epilepsy in England</a></li>
    <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/what-help-available" title="External website">what help is available?</a></li>
    </ul>

    <h2>Support groups</h2>

      <p>There are two main epilepsy support groups that you might find a useful source of information and advice.</p>

      <h3>Epilepsy Action</h3>

      <p>Support available from Epilepsy Action includes:</p>

      <ul>
      <li>a&nbsp;<a href="https://www.epilepsy.org.uk/involved/branches">directory of local epilepsy support groups</a></li>
      <li>a free helpline on 0808 800 5050 </li>
      <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsy.org.uk">helpline@epilepsy.org.uk</a></li>
      <li>an&nbsp;<a href="https://healthunlocked.com/epilepsyaction?utm_campain=epilepsy&amp;utm_medium=syndicated&amp;utm_source=nhs.uk&amp;utm_term=web_part_id_9">online epilepsy forum</a></li>
      <li><a href="https://www.epilepsy.org.uk/info">general advice and information about epilepsy</a></li>
      </ul>

      <h3>Epilepsy Society</h3>

      <p>Support available from the Epilepsy&nbsp;Society includes:</p>

      <ul>
      <li>a helpline on&nbsp;01494 601 400 </li>
      <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsysociety.org.uk">helpline@epilepsysociety.org.uk</a></li>
      <li>an&nbsp;<a href="https://www.epilepsysociety.org.uk/blog">epilepsy blog</a></li>
      <li><a href="https://www.epilepsysociety.org.uk/epilepsytv">epilepsy TV</a>&nbsp;– a series of videos about living with epilepsy </li>
      <li><a href="https://www.epilepsysociety.org.uk/epilepsy">general advice and information about epilepsy</a></li>
      </ul>      <p>There are two main epilepsy support groups that you might find a useful source of information and advice.</p>

      <h3>Epilepsy Action</h3>

      <p>Support available from Epilepsy Action includes:</p>

      <ul>
      <li>a&nbsp;<a href="https://www.epilepsy.org.uk/involved/branches">directory of local epilepsy support groups</a></li>
      <li>a free helpline on 0808 800 5050 </li>
      <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsy.org.uk">helpline@epilepsy.org.uk</a></li>
      <li>an&nbsp;<a href="https://healthunlocked.com/epilepsyaction?utm_campain=epilepsy&amp;utm_medium=syndicated&amp;utm_source=nhs.uk&amp;utm_term=web_part_id_9">online epilepsy forum</a></li>
      <li><a href="https://www.epilepsy.org.uk/info">general advice and information about epilepsy</a></li>
      </ul>

      <h3>Epilepsy Society</h3>

      <p>Support available from the Epilepsy&nbsp;Society includes:</p>

      <ul>
      <li>a helpline on&nbsp;01494 601 400 </li>
      <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsysociety.org.uk">helpline@epilepsysociety.org.uk</a></li>
      <li>an&nbsp;<a href="https://www.epilepsysociety.org.uk/blog">epilepsy blog</a></li>
      <li><a href="https://www.epilepsysociety.org.uk/epilepsytv">epilepsy TV</a>&nbsp;– a series of videos about living with epilepsy </li>
      <li><a href="https://www.epilepsysociety.org.uk/epilepsy">general advice and information about epilepsy</a></li>
      </ul>

      <h2 id="support-groups">Support groups</h2>

      <p>There are two main epilepsy support groups that you might find a useful source of information and advice.</p>

      <h3>Epilepsy Action</h3>

      <p>Support available from Epilepsy Action includes:</p>

      <ul>
      <li>a&nbsp;<a href="https://www.epilepsy.org.uk/involved/branches">directory of local epilepsy support groups</a></li>
      <li>a free helpline on 0808 800 5050 </li>
      <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsy.org.uk">helpline@epilepsy.org.uk</a></li>
      <li>an&nbsp;<a href="https://healthunlocked.com/epilepsyaction?utm_campain=epilepsy&amp;utm_medium=syndicated&amp;utm_source=nhs.uk&amp;utm_term=web_part_id_9">online epilepsy forum</a></li>
      <li><a href="https://www.epilepsy.org.uk/info">general advice and information about epilepsy</a></li>
      </ul>

      <h3>Epilepsy Society</h3>

      <p>Support available from the Epilepsy&nbsp;Society includes:</p>

      <ul>
        <li>a helpline on&nbsp;01494 601 400 </li>
        <li>an email helpline&nbsp;–&nbsp;<a href="mailto:helpline@epilepsysociety.org.uk">helpline@epilepsysociety.org.uk</a></li>
        <li>an&nbsp;<a href="https://www.epilepsysociety.org.uk/blog">epilepsy blog</a></li>
        <li><a href="https://www.epilepsysociety.org.uk/epilepsytv">epilepsy TV</a>&nbsp;– a series of videos about living with epilepsy </li>
        <li><a href="https://www.epilepsysociety.org.uk/epilepsy">general advice and information about epilepsy</a></li>
      </ul>

      <h2 id="sudden-unexpected-death-in-epilepsy-sudep">Sudden unexpected death in epilepsy (SUDEP)</h2>

      <p>Sometimes a person with epilepsy dies during or&nbsp;after a seizure for no obvious reason. This is known as sudden unexpected death in epilepsy (SUDEP). </p>

      <p>This is rare, but it's important to be aware of the danger because it may sometimes be preventable.</p>

      <p>The main thing you can do to reduce your risk is to&nbsp;make sure your epilepsy is well controlled by taking your medication as recommended and avoiding seizure triggers when possible.</p>

      <p>If you're worried your epilepsy is poorly controlled, contact your epilepsy specialist. It may be possible to refer you to a specialist epilepsy centre for further treatment.</p>

      <p>A&nbsp;charity called&nbsp;<a href="https://sudep.org/" title="External website">SUDEP Action</a>&nbsp;can offer advice and support, as well as a helpline for people who've lost a loved one as a result of epilepsy.</p>

      <p><strong>Want to know more?</strong></p>

      <ul>
      <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/sudep-sudden-unexpected-death-in-epilepsy" title="External website">SUDEP</a></li>
      <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/sudep">SUDEP</a></li>
      </ul>
{% endblock %}
