{% set title = 'Epilepsy' %}
{% set parent = 'Conditions' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Epilepsy</h1>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
        <ol class="nhsuk-list-nav nhsuk-list-nav__two-column">
          <li><a href="/examples/epilepsy">Overview</a></li>
          <li><a href="/examples/epilepsy/symptoms">Symptoms</a></li>
          <li><a href="/examples/epilepsy/diagnosis">Diagnosis</a></li>
          <li><a href="/examples/epilepsy/treatment">Treatment</a></li>
          <li><a href="/examples/epilepsy/living-with">Living with</a></li>
        </ol>
      </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
      <li><a href="#overview">Symptoms</a></li>
      <li><a href="#types-of-seizures">Types of seizures</a></li>
      <li><a href="#seizure-triggers">Seizure triggers</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="overview">Symptoms</h2>

    <p>The main symptom of epilepsy is repeated seizures. These are sudden bursts of electrical activity in the brain that&nbsp;temporarily affect how it works.</p>

    <p>Seizures can affect people in different ways, depending on which part of the brain is involved.</p>

    <p>Some seizures cause the body to jerk and shake (a "fit"), while others cause&nbsp;problems like&nbsp;loss of awareness or unusual sensations. They typically pass in a few seconds or minutes.</p>

    <p>Seizures can occur when you're awake or asleep. Sometimes they can be triggered by something, such as feeling very tired.</p>

    <p>There's a separate page about <a href="/Livewell/Epilepsy/Pages/Ifyouseeaseizure.aspx">what to do if someone has a seizure</a>.</p>

    <h2 id="types-of-seizures">Types of seizures</h2>

    <h3>Simple partial (focal) seizures or 'auras'</h3>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">A simple partial seizure can cause:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>a general strange feeling&nbsp;that's hard to describe </li>
          <li>a "rising" feeling in&nbsp;your&nbsp;tummy&nbsp;–&nbsp;like the sensation in your stomach when on a fairground ride </li>
          <li>a feeling that events have happened before (déjà vu) </li>
          <li>unusual smells or tastes </li>
          <li>tingling&nbsp;in your arms and legs </li>
          <li>an intense feeling of fear or joy </li>
          <li>stiffness or twitching in part of&nbsp;your body, such as an arm or hand </li>
        </ul>

        <p>You&nbsp;remain awake and&nbsp;aware while this happens.</p>
      </div>
    </div>

    <p>These seizures are sometimes known as "warnings" or "auras" because they can be a sign that another type of seizure is&nbsp;about to happen.</p>

    <h3>Complex partial (focal) seizures</h3>

    <p>During a complex partial seizure, you lose your sense of awareness and make random body movements.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">This includes:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>smacking your lips </li>
          <li>rubbing your hands </li>
          <li>making random noises </li>
          <li>moving your arms around </li>
          <li>picking at clothes or fiddling with objects </li>
          <li>chewing or swallowing </li>
        </ul>
      </div>
    </div>

    <p>You won't be able to respond to anyone else during the seizure and you won't have any&nbsp;memory of it.</p>

    <h3>Tonic-clonic&nbsp;seizures</h3>

    <p>A tonic-clonic seizure, previously known as a "grand mal",&nbsp;is what most people think of as a typical epileptic fit.</p>

    <p>They&nbsp;happen in two stages&nbsp;– an initial&nbsp;"tonic" stage,&nbsp;shortly followed by a second "clonic" stage:</p>

    <ol>
    <li><strong>tonic stage</strong>&nbsp;–&nbsp;you lose consciousness, your body goes stiff, and you may fall to the floor </li>
    <li><strong>clonic stage</strong> –&nbsp;your limbs jerk about, you may lose control of your bladder or bowel, you may bite your tongue or the inside of your cheek, and you might have difficulty breathing </li>
    </ol>

    <p>The seizure normally&nbsp;stops after&nbsp;a few minutes, but some last longer. Afterwards, you may have a headache or&nbsp;difficulty remembering what happened and feel tired or confused.</p>

    <h3>Absences</h3>

    <p>An absence seizure, which used to be called a "petit mal", is where you lose awareness of your surroundings for a short time. They mainly affect children, but can happen at any age.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">During an absence seizure, a person might:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>stare blankly into space </li>
          <li>look like they're "daydreaming" </li>
          <li>flutter their eyes </li>
          <li>make slight jerking movements of their body or limbs </li>
        </ul>
      </div>
    </div>

    <p>The seizures usually only last up to 15 seconds and&nbsp;you&nbsp;won't be able to remember them. They can happen several times a day.</p>

    <h3>Myoclonic seizures</h3>

    <p>A myoclonic seizure is where some or all of your body suddenly twitches or jerks, like you've had an electric shock. They often happen soon after waking up.</p>

    <p>Myoclonic seizures&nbsp;usually only last a fraction of a second, but several can sometimes occur in a short space of time. You&nbsp;normally remain awake during them.</p>

    <h3>Clonic seizures</h3>

    <p>Clonic seizures cause the body to shake and jerk like a&nbsp;tonic-clonic seizure, but you don't go stiff at the start.</p>

    <p>They typically last a few minutes and you might lose consciousness.</p>

    <h3>Tonic seizures</h3>

    <p>Tonic seizures cause all your muscles to suddenly become stiff, like the first stage of a&nbsp;tonic-clonic seizure.</p>

    <p>This might mean you lose balance and fall over.</p>

    <h3>Atonic seizures</h3>

    <p>Atonic seizures cause all your muscles to suddenly relax, so you&nbsp;may fall to the ground.</p>

    <p>They tend to be&nbsp;very brief and you'll usually be able to get up again straight away.</p>

    <h3>Status epilepticus</h3>

    <p>Status epilepticus is the name for&nbsp;any seizure that lasts a&nbsp;long time, or a series of seizures where the person doesn't regain consciousness in between.</p>

    <p>It's a medical emergency and&nbsp;needs to be&nbsp;treated as soon as possible.</p>

    <p>You can be trained to treat&nbsp;it if you look after someone with epilepsy.&nbsp;If you haven't had any training,&nbsp;call 999 for an ambulance immediately if someone has&nbsp;a seizure that hasn't stopped after five minutes.</p>

    <h2 id="seizure-triggers">Seizure&nbsp;triggers</h2>

    <p>For many people with epilepsy, seizures seem to happen randomly.</p>

    <p>But sometimes they can have a trigger.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Seizure triggers can be:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>stress </li>
          <li>a lack of sleep </li>
          <li>waking up </li>
          <li>drinking alcohol </li>
          <li>some medications and illegal drugs </li>
          <li>in women, monthly <a href="/conditions/periods/Pages/Introduction.aspx">periods</a></li>
          <li>flashing lights (this is an uncommon trigger) </li>
        </ul>
      </div>
    </div>

    <p>Keeping a diary of when you have seizures and what happened before them can help you identify and avoid some possible triggers.</p>

    <p>Read more advice about&nbsp;<a href="/Conditions/Epilepsy/Pages/living-with.aspx">living with epilepsy</a>.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/triggers">common seizure triggers</a></li>
      <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/seizures-explained">epileptic seizures explained</a></li>
      <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/epileptic-seizures">epileptic seizures</a></li>
    </ul>

{% endblock %}
