{% set title = 'Epilepsy' %}
{% set parent = 'Conditions' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Epilepsy</h1>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
        <ol class="nhsuk-list-nav nhsuk-list-nav__two-column">
          <li><a href="/examples/epilepsy">Overview</a></li>
          <li><a href="/examples/epilepsy/symptoms">Symptoms</a></li>
          <li><a href="/examples/epilepsy/diagnosis">Diagnosis</a></li>
          <li><a href="/examples/epilepsy/treatment">Treatment</a></li>
          <li><a href="/examples/epilepsy/living-with">Living with</a></li>
        </ol>
      </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
      <li><a href="#overview">Treatment</a></li>
      <li><a href="#anti-epileptic-drugs-aeds">Anti-epileptic drugs (AEDs)</a></li>
      <li><a href="#brain-surgery">Brain surgery</a></li>
      <li><a href="#other-procedures">Other procedures</a></li>
      <li><a href="#ketogenic-diet">Ketogenic diet</a></li>
      <li><a href="#complementary-therapies">Complementary therapies</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="overview">Treatment</h2>
    <p>Treatment can help most people with epilepsy have fewer seizures, or stop having seizures completely.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Treatments include:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>medicines called anti-epileptic drugs (AEDs) </li>
          <li>surgery to remove a small part of the brain that's causing the seizures </li>
          <li>a procedure to put a small electrical&nbsp;device inside the body that can help control seizures </li>
          <li>a special diet (ketogenic diet) that can help control seizures </li>
        </ul>
      </div>
    </div>

    <p>Some people need treatment for life. But&nbsp;you might be able to stop if your seizures&nbsp;disappear over time.</p>

    <p>You may not&nbsp;need any&nbsp;treatment if you know your&nbsp;<a href="/Conditions/Epilepsy/Pages/Symptoms.aspx#triggers">seizure triggers</a> and are able to avoid them.</p>

    <p>Talk to your specialist about the treatments available and which might be best for you.</p>

    <h2 id="anti-epileptic-drugs-aeds">Anti-epileptic drugs (AEDs)</h2>

    <p>AEDs are the most commonly used treatment for epilepsy. They help control seizures in about 70% of people.</p>

    <p>AEDs work by changing the levels of chemicals in your brain. They don't cure epilepsy, but can stop seizures happening.</p>

    <h3>Types of AEDs</h3>

    <p>There are many AEDs. </p>

    <p>Common types include:</p>

    <ul>
    <li>sodium valproate </li>
    <li>carbamazepine </li>
    <li>lamotrigine </li>
    <li>levetiracetam </li>
    <li>oxcarbazepine </li>
    <li>ethosuximide </li>
    <li>topiramate </li>
    </ul>

    <p>The best type for you will depend on things like&nbsp;the type of seizures you have, your age and if you're thinking of having a baby. </p>

    <p>Some AEDs can harm an unborn baby&nbsp;– see <a href="/Conditions/Epilepsy/Pages/living-with.aspx">living with epilepsy</a> for more information.</p>

    <p>If your doctor recommends taking an AED, ask them about the different types available and which is likely to be the most suitable for you.</p>

    <h3>Taking AEDs</h3>

    <p>AEDs are available in a number of different forms, including tablets, capsules, liquids and syrups. You usually need to take the medicine every day.</p>

    <p>Your specialist will start you on a low dose and gradually increase it until your seizures stop. If the first medicine you try doesn't work, your doctor may recommend trying another type.</p>

    <p>It's important you follow any advice about when to take AEDs and how much to take. Never suddenly stop taking an AED&nbsp;– doing so could cause a seizure.</p>

    <p>If you haven't had a seizure for a few years, ask your doctor if you might be able to stop treatment. If they think it's safe, your dose will be reduced gradually over time.</p>

    <p>While taking AEDs, don't take any other medicines, including over-the-counter medicines or complementary medicines, without speaking to your GP or specialist. Other medicines could affect how well your AED works.</p>

    <h3>Side effects</h3>

    <p>Side effects are common when starting treatment with AEDs. Some may&nbsp;appear soon after starting treatment and&nbsp;pass in a few days or weeks, while others may not appear for a few weeks.</p>

    <p>The side effects you may get depend on the medicine you're taking. </p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">General common side effects of AEDs include:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>drowsiness </li>
          <li>a lack of energy </li>
          <li>agitation </li>
          <li><a href="/conditions/headache/Pages/Introduction.aspx">headaches</a></li>
          <li>uncontrollable shaking <a href="/conditions/Tremor-(essential)/Pages/Introduction.aspx">(tremor)</a></li>
          <li><a href="/conditions/Hair-loss/Pages/Introduction.aspx">hair loss</a>&nbsp;or unwanted hair growth </li>
          <li>swollen gums </li>
          <li>rashes&nbsp;– contact your GP or specialist if you get a rash, as it might mean you're having a serious reaction to your medicine </li>
        </ul>
        <p>Contact your GP or specialist if you experience&nbsp;symptoms similar to being drunk, such as&nbsp;unsteadiness, poor concentration and vomiting. This&nbsp;could mean&nbsp;your dose is too high.</p>
      </div>
    </div>

    <p>For information&nbsp;about the side effects of your medicine, check the information leaflet that comes with it.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/treatment/anti-epileptic-drug-treatment" title="External website">taking epilepsy medicine</a></li>
    <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/medication-epilepsy" title="External website">medication for epilepsy</a></li>
    </ul>

    <h2 id="brain-surgery">Brain surgery</h2>

    <p>Surgery to remove part of&nbsp;your brain may be an option if:</p>

    <ul>
    <li>AEDs aren't controlling your seizures </li>
    <li>tests show that your seizures are caused by a problem in a small part of your brain that can be removed without causing serious effects </li>
    </ul>

    <p>In these cases,&nbsp;there's a&nbsp;good chance that your seizures&nbsp;could stop completely after surgery.</p>

    <h3>Tests before surgery</h3>

    <p>If your epilepsy is poorly controlled after trying several AEDs, you may be referred to a specialist epilepsy centre to see if surgery might be possible.</p>

    <p>This&nbsp;will usually involve having several tests, such as:</p>

    <ul>
    <li>brain scans </li>
    <li>an <a href="/conditions/EEG/Pages/Introduction.aspx">electroencephalogram (EEG)</a>&nbsp;– a test&nbsp;of your brain's electrical activity </li>
    <li>tests of your memory, learning abilities and mental health </li>
    </ul>

    <p>The results&nbsp;of these tests will help you and your&nbsp;specialist decide if surgery is an option for you, and what the result of surgery might be.</p>

    <h3>What happens during surgery</h3>

    <p>Surgery for epilepsy is usually carried out under&nbsp;<a href="/conditions/Anaesthetic-general/Pages/Definition.aspx">general anaesthetic</a>, where you're asleep.</p>

    <p>The surgeon makes a small cut in your scalp and creates an opening in your skull so they can remove the affected part of the brain.</p>

    <p>The openings in your skull and scalp are closed at the end of the operation<em>.</em></p>

    <h3>Recovery and risks</h3>

    <p>It's likely to take a few weeks or months for you to feel back to normal after surgery.</p>

    <p>Your seizures may not stop straight away, so you might need to keep taking AEDs for a year or two.</p>

    <p>There's a risk of&nbsp;complications&nbsp;from&nbsp;surgery, such as problems with your memory, mood or vision. These problems may improve over time, or they may be permanent.</p>

    <p>Before having surgery, make sure you talk to your surgeon about the possible risks.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/treatment/epilepsy-surgery" title="External website">epilepsy surgery for adults</a></li>
    <li>Epilepsy Society: <a href="http://www.epilepsysociety.org.uk/epilepsy-surgery" title="External website">epilepsy surgery</a></li>
    </ul>

    <h2 id="other-procedures">Other procedures</h2>

    <p>If AEDs aren't controlling your seizures and brain surgery isn't suitable for you, there are other procedures that could help.</p>

    <h3>Vagus nerve stimulation (VNS)</h3>

    <p>Vagus nerve stimulation (VNS) is where a small electrical device similar to a&nbsp;<a href="/conditions/PacemakerImplantation/Pages/Introduction.aspx">pacemaker</a> is placed under the skin of your chest.</p>

    <p>The device is attached to a wire that goes under your skin and connects to&nbsp;a nerve in your neck called the vagus nerve. Bursts of electricity are sent along the wire&nbsp;to the nerve.</p>

    <p>It's thought this can&nbsp;help&nbsp;control seizures by&nbsp;changing the electrical signals in the brain.</p>

    <p>VNS doesn't usually stop seizures completely, but it can help make them less severe and&nbsp;less frequent. You'll probably still need to take AEDs.</p>

    <p>Side effects of VNS include a hoarse voice,&nbsp;a sore throat and a cough when&nbsp;the device is activated. This normally occurs every five minutes and lasts for 30 seconds.</p>

    <p>The battery for the VNS device typically lasts up to 10 years, after which time another procedure will be needed to replace it.</p>

    <h3>Deep brain stimulation (DBS)</h3>

    <p>Deep brain stimulation (DBS) is similar to VNS, but the device placed in the chest is connected to wires that run directly into&nbsp;the brain.</p>

    <p>Bursts of electricity sent along these wires can help prevent seizures by changing the electrical signals in the brain.</p>

    <p>DBS is a fairly new procedure that's not used very often,&nbsp;so it's not yet clear how effective it is for epilepsy. </p>

    <p>There are also some serious risks associated with it,&nbsp;including bleeding on the brain,&nbsp;<a href="/conditions/depression/Pages/Introduction.aspx">depression</a> and memory problems.</p>

    <p>If your doctor suggests DBS as an option, make sure you talk to them about the potential benefits and risks.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/treatment/other-ways-treating-epilepsy/deep-brain-stimulation" title="External website">deep brain stimulation and epilepsy</a></li>
    <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/treatment/vns-vagus-nerve-stimulation" title="External website">vagus nerve stimulation therapy in epilepsy</a></li>
    <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/deep-brain-stimulation" title="External website">deep brain stimulation</a></li>
    <li>Epilepsy Society:&nbsp;<a href="http://www.epilepsysociety.org.uk/vagus-nerve-stimulation" title="External website">vagus nerve stimulation</a></li>
    <li>National Institute for Health and Care Excellence (NICE):&nbsp;<a href="http://www.nice.org.uk/Guidance/ipg416" title="External website">deep brain stimulation&nbsp;for refractory epilepsy</a></li>
    <li>National Institute for Health and Care Excellence (NICE): <a href="http://www.nice.org.uk/Guidance/IPG50">vagus nerve stimulation for refractory epilepsy in children</a></li>
    </ul>

    <h2 id="ketogenic-diet">Ketogenic diet</h2>

    <p>A ketogenic diet is a diet high in fats, and low in carbohydrates and protein. In children, it's thought it may make seizures less likely by changing the levels of&nbsp;chemicals&nbsp;in the brain.</p>

    <p>It was one of the main&nbsp;treatments for epilepsy before AEDs were available, but&nbsp;isn't widely used in adults because a high-fat diet is linked to serious health conditions, such as&nbsp;<a href="/conditions/diabetes/pages/diabetes.aspx">diabetes</a> and <a href="/conditions/cardiovascular-disease/Pages/Introduction.aspx">cardiovascular disease</a>.</p>

    <p>But a ketogenic diet is sometimes advised for children with seizures that aren't controlled by AEDs. This is because it's been shown to reduce the number of seizures in some children. </p>

    <p>It should only be used under the supervision of an epilepsy specialist with the help of a dietitian.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li>Epilepsy Society: <a href="http://www.epilepsysociety.org.uk/ketogenic-diet" title="External website">ketogenic diet</a></li>
    </ul>

    <h2 id="complementary-therapies">Complementary therapies</h2>

    <p>There are several complementary therapies that some people with epilepsy feel&nbsp;work for them.&nbsp;But none has been shown to reduce seizures&nbsp;conclusively&nbsp;in&nbsp;medical studies.</p>

    <p>You should therefore be cautious about&nbsp;advice from&nbsp;anyone other than your GP or specialist&nbsp;to reduce or stop taking your medication and try alternative treatments. Stopping your medicine without medical supervision may&nbsp;cause&nbsp;seizures. </p>

    <p>Herbal remedies should also be used cautiously because some of their ingredients can interact with epilepsy medication.</p>

    <p>St John's Wort, a herbal remedy used for mild depression, isn't recommended for people with epilepsy because it can affect the levels of epilepsy medication in the blood and may stop the medicine working properly.</p>

    <p>For some people with epilepsy, stress can trigger seizures. Stress-relieving and relaxation therapies such as exercise, <a href="/Livewell/fitness/Pages/yoga.aspx">yoga</a> and meditation may help.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
      <li>Epilepsy Action: <a href="https://www.epilepsy.org.uk/info/treatment/effects-of-other-things-on-treatment" title="External website">complementary treatments</a></li>
    </ul>

{% endblock %}
