<!--care card blue-->
<div class="care-card blue" role="alert">
    <div class="care-card-heading">
        <h2 class="h3">See a GP if you or your child are having hearing problems</h2>
    </div>
    <div class="care-card-content">
        <p>Your child may be struggling to hear if they often:</p>
        <ul>
        <li>speak more loudly or quietly than usual</li>
        <li>are difficult to understand</li>
        <li>ask people to repeat what they say</li>
        <li>ask for TV or music to be turned up loud</li>
        <li>struggle to hear people far away</li>
        <li>become easily distracted when people are talking</li>
        <li>seem tired and irritable because it's harder to listen.</li>
        </ul>
    </div>
</div>