<!--care card black-->
<div class="care-card black" role="alert">
    <div class="care-card-heading">
        <h2 class="">Call 999 or go to A&amp;E if...</h2>
    </div>
    <div class="care-card-content">
        <ul>
            <li>you’re feeling unusually tired</li>
            <li>you’re confused and disorientated</li>
            <li>any dizziness when you stand up doesn’t go away</li>
            <li>you haven’t peed for 8 hours</li>
            <li>your pulse is weak or rapid</li>
            <li>you have fits (seizures)</li>
            <li>These can be signs of serious dehydration which need urgent treatment.</li>
        </ul>
    </div>
</div>