lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
coverage

# API keys
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# BackstopJS
tests/backstop/bitmaps_test/*
tests/backstop/html_report/*

# Compiled files
dist/

## Duplicated the above for .npmignore
dist/nhsuk.css
dist/nhsuk.js
dist/nhsuk-*.min.css
dist/nhsuk-*.min.js
