/* ==========================================================================
   Elements / #BODY
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

body {
  background-color: $nhsuk-grey-5;
  font-size: $nhsuk-base-font-size-mobile;
  line-height: $nhsuk-base-line-height-mobile;
  margin: 0;

  @include mq($from: tablet) {
    font-size: $nhsuk-base-font-size;
    line-height: $nhsuk-base-line-height;
  }

}
