/* ==========================================================================
   ELEMENTS / #LINKS
   ========================================================================== */

a {
  @include nhsuk-link-style-default;

  @include mq($media-type: print) {
    &:after {
      color: $colour_nhsuk-black;
      content: ' (Link: ' attr(href) ')';
      font-size: 14pt;
    }
  }

}
