/* ==========================================================================
   ELEMENTS / #LISTS
   ========================================================================== */

ul,
ol {
  @include font-size($font-size-19);
  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");
  padding-left: 0;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

ol {
  padding-left: 20px;
  list-style-type: decimal;
}
