/* ==========================================================================
   ELEMENTS / #PAGE
   ========================================================================== */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $nhsuk-text-colour;
  font-family: $nhsuk-font, $nhsuk-font-fallback;
  min-height: 100%;
}

body {
  background-color: $colour_nhsuk-grey-5;
  font-size: $nhsuk-base-font-size;
  line-height: $nhsuk-base-line-height;
  margin: 0;
}
