/* ==========================================================================
   ELEMENTS / #TABLE
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

table {
  background-color: $nhsuk-white;
  border: 1em solid $nhsuk-white;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 40px 0;
  position: relative;
  vertical-align: top;
  width: 100%;
}
th,
td {
  font-size: inherit;
  padding: 1em;
  text-align: left;
  text-transform: none;
  vertical-align: top;
}

td {
  border-bottom: 1px solid $nhsuk-grey-2;

  &:hover {
    background-color: $nhsuk-pale-yellow;
  }

}

th {
  border-bottom: 2px solid $nhsuk-grey-2;
  font-weight: 600;

  &:hover {
    background-color: $nhsuk-pale-yellow;
  }

}

caption {
  background: $nhsuk-blue;
  color: $nhsuk-white;
  font-size: govuk-em(20px, $nhsuk-base-font-size-mobile);
  font-weight: 600;
  left: 0;
  line-height: 28px;
  margin: 0;
  padding: .3em 1em;
  position: absolute;
  text-align: left;
  top: -1em;

  @include mq($from: tablet) {
    font-size: govuk-em(24px, $nhsuk-base-font-size);
    line-height: 32px;
    margin: 32px 0;
  }

}
