/* ==========================================================================
   ELEMENTS / #TYPOGRAPHY
   ========================================================================== */

h1 {
    @include font-size($font-size-48);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(7, "bottom");

    font-weight: $nhsuk-font-bold;
  }

h2{
    @include font-size($font-size-32);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(4, "bottom");

    font-weight: $nhsuk-font-bold;
  }

h3 {
    @include font-size($font-size-24);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(4, "bottom");

    font-weight: $nhsuk-font-bold;
  }

h4 {
    @include font-size($font-size-22);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(4, "bottom");

    font-weight: $nhsuk-font-bold;
  }

h5 {
    @include font-size($font-size-19);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(4, "bottom");

    font-weight: $nhsuk-font-bold;
  }

h6 {
    @include font-size($font-size-16);

    display: block;

    margin-top: 0;
    @include nhsuk-responsive-margin(4, "bottom");

    font-weight: $nhsuk-font-bold;
  }

p {
  @include font-size($font-size-19);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");
}

strong, b {
  font-weight: $nhsuk-font-bold;
}
