.nhsuk-page-nav-right{
	.nhsuk-list-nav{
		margin-top:0;
		list-style: none;
		li{
			&:last-child{
				margin-bottom: 0;
			}
			margin: 0 0 16px 0;
		}
		.nhsuk-heading-m{
			font-weight: 600;
			margin: 0;
		}
	}
	@media screen and (max-width: 640px) {
		padding: 24px;
		margin:48px 0 24px 0;
		background: $nhsuk-white;
		ul{
			padding:0;
		}
	}
}

.nhsuk-c-page-nav-related{
	padding: 24px 16px;
	background: $nhsuk-white;

	@media screen and (max-width: 989px) {
		margin: 40px -16px -15px -16px;

		&.medicine{
			display: none;
		}
	}

	.nhsuk-heading-s{
		font-weight: 400;
		margin-top: 0;
	}

	ul{
		padding-left: 0;
		li{
			list-style: none;
			margin-top: 16px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	ol{
		li{
			margin-top: 16px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}