.nhsuk-c-promo-v1{
    margin-bottom: 48px;
    .nhsuk-heading-s{
        margin-top:0;
    }
    p{
        margin-top: 16px;
    }
    img{
        width: 100%;
        margin-top:16px;
        display: block;
    }
}

.nhsuk-c-promo-v2{
    margin-bottom: 48px;
    border: $nhsuk-white 10px solid;
    border-bottom-width: 20px;
    background:$nhsuk-white;
    display: inline-block;
    text-decoration: none;
    &:hover{
        background: $nhsuk-white;
    }
    .nhsuk-heading-s{
        margin-top:0;
    }
    p{
        margin-top: 16px;
    }
    img{
        width: 100%;
        margin-bottom:16px;
        display: block;
    }
}

.nhsuk-c-promo-white{
    padding: 16px 24px;
    margin-bottom: 48px;
    background: $nhsuk-white;
    border-bottom: $nhsuk-grey-4 4px solid;
    display: block;
    .nhsuk-c-promo-white-inner{
        background: url(../../../../images/icon-chevron-right-grey.svg) right center no-repeat;
        background-size:15px 22px;
    }
    h2{
        height: 75px;
        margin-top:0;
        padding-right: 20px;
        display: table-cell;
        vertical-align: middle;
    }
    @media screen and (max-width: 989px) {
        h2{
            font-size: 0.9em;
            line-height: 24px;
        }
    }
    @media screen and (max-width: 640px) {
        margin-bottom: 32px;
        h2{
            font-size: 1.125em;
        }
    }
}
