@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-45Light.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-45Light.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-45Light.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-45Light.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-45Light.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-45Light.svg") format("svg");
      font-style: normal;
      font-weight: 300;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-46LightItalic.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-46LightItalic.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-46LightItalic.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-46LightItalic.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-46LightItalic.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-46LightItalic.svg") format("svg");
      font-style: italic;
      font-weight: 300;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-55Roman.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-55Roman.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-55Roman.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-55Roman.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-55Roman.svg") format("svg");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-56Italic.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-56Italic.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-56Italic.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-56Italic.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-56Italic.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-56Italic.svg") format("svg");
      font-style: italic;
      font-weight: 500;
}
@font-face {
font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-65Bold.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-65Bold.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-65Bold.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-65Bold.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-65Bold.svg") format("svg");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-66BoldItalic.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-66BoldItalic.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-66BoldItalic.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-66BoldItalic.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-66BoldItalic.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-66BoldItalic.svg") format("svg");
      font-style: italic;
      font-weight: 600;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-75Black.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-75Black.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-75Black.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-75Black.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-75Black.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-75Black.svg#1c437efb-925e-4bc5-96d0-c706bb400696") format("svg");
      font-style: normal;
      font-weight: 700;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-76BlackItalic.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-76BlackItalic.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-76BlackItalic.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-76BlackItalic.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-76BlackItalic.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-76BlackItalic.svg") format("svg");
      font-style: italic;
      font-weight: 700;
}
@font-face {
  font-family:"Frutiger W01";
  src:url("core/assets/fonts/FrutigerLTW01-95UltraBlack.eot?#iefix");
  src:url("core/assets/fonts/FrutigerLTW01-95UltraBlack.eot?#iefix") format("eot"),
      url("core/assets/fonts/FrutigerLTW01-95UltraBlack.woff2") format("woff2"),
      url("core/assets/fonts/FrutigerLTW01-95UltraBlack.woff") format("woff"),
      url("core/assets/fonts/FrutigerLTW01-95UltraBlack.ttf") format("truetype"),
      url("core/assets/fonts/FrutigerLTW01-95UltraBlack.svg") format("svg");
      font-style: normal;
      font-weight: 900;
}

$nhsuk-font-stack: 'Frutiger W01';
$nhsuk-font-bold: 600;
$nhsuk-font-normal: 400;
