h1, h2, h3, h4, h5, // sass-lint:disable-line single-line-per-selector
.h1, .h2, .h3, .h4, .h5 { // sass-lint:disable-line single-line-per-selector
  color: inherit;
  font-weight: $nhsuk-font-bold;
  margin-bottom: 0;
}

h1,
.nhsuk-heading-xl {
  font-size: govuk-em(32px, $nhsuk-base-font-size-mobile);
  line-height: 36px;
  margin: 56px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(48px, $nhsuk-base-font-size);
    line-height: 56px;
    margin: 64px 0 0;
  }
}

h2,
.nhsuk-heading-l {
  font-size: govuk-em(24px, $nhsuk-base-font-size-mobile);
  line-height: 32px;
  margin: 40px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(32px, $nhsuk-base-font-size);
    line-height: 40px;
    margin: 56px 0 0;
  }
}

h3,
.nhsuk-heading-m {
  font-size: govuk-em(20px, $nhsuk-base-font-size-mobile);
  line-height: 28px;
  margin: 32px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(24px, $nhsuk-base-font-size);
    line-height: 32px;
    margin: 40px 0 0;
  }
}

h4,
.nhsuk-heading-s {
  font-size: govuk-em(18px, $nhsuk-base-font-size-mobile);
  line-height: 28px;
  margin: 24px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(22px, $nhsuk-base-font-size);
    line-height: 32px;
    margin: 32px 0 0;
  }
}

h5,
.nhsuk-heading-xs {
  font-size: govuk-em(16px, $nhsuk-base-font-size-mobile);
  line-height: 24px;
  margin: 16px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(19px, $nhsuk-base-font-size);
    line-height: 28px;
    margin: 24px 0 0;
  }
}

p,
.nhsuk-body {
  font-weight: $nhsuk-font-normal;
  margin: 16px 0 0;
  @include mq($from: tablet) {
    margin: 24px 0 0;
  }
}

.nhsuk-body-l {
  font-size: govuk-em(20px, $nhsuk-base-font-size-mobile);
  line-height: 28px;
  margin: 24px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(24px, $nhsuk-base-font-size);
    line-height: 32px;
    margin: 32px 0 0;
  }
}

.nhsuk-body-s {
  font-size: govuk-em(14px, $nhsuk-base-font-size-mobile);
  line-height: 24px;
  margin: 16px 0 0;
  @include mq($from: tablet) {
    font-size: govuk-em(16px, $nhsuk-base-font-size);
    line-height: 28px;
    margin: 24px 0 0;
  }
}

a {
  color: $nhsuk-link-colour;
  cursor: pointer;
  &:focus {
    background: $nhsuk-link-focus-background-colour;
    box-shadow: 0 0 0 4px $nhsuk-link-focus-background-colour;
    color: $nhsuk-link-focus-colour;
    outline: 0;
  }
  &:hover {
    background: $nhsuk-link-hover-background-colour;
    box-shadow: 0 0 0 4px $nhsuk-link-hover-background-colour;
    color: $nhsuk-link-hover-colour;
    text-decoration: none;
  }
  &:active {
    background: $nhsuk-link-active-background-colour !important;
    box-shadow: 0 0 0 4px $nhsuk-link-active-background-colour;
    color: $nhsuk-link-active-colour;
  }
  &:visited {
    color: $nhsuk-link-visited-colour;
  }
}

ul,
ol {
  font-weight: $nhsuk-font-normal;
  margin: 16px 0 0;
  padding-left: 20px;
  @include mq($from: tablet) {
    margin: 24px 0 0;
  }
  li {
    margin: 8px 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.nhsuk-list--check,
.nhsuk-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px;
  position: relative;

  .nhsuk-icon__tick {
    left: -4px;
    margin-top: -5px;
    position: absolute;
  }

  .nhsuk-icon__cross {
    left: -4px;
    margin-top: -5px;
    position: absolute;
  }

}

tr,
th {
  font-weight: $nhsuk-font-normal;
}

strong,
b {
  font-weight: $nhsuk-font-bold;
}

.nhsuk-page-heading {
  padding: 25px 0 40px;
  @include mq($from: grid-collapse) {
    padding: 34px 0 56px;
  }
  h1 {
    margin: 0;
  }
}

.nhsuk-page-nav {
  & > *:first-child {
    margin-top: 0;
  }
  @include mq($until: grid-collapse) {
    margin-bottom: 44px;
  }
  h2,
  h3 {
    & + ol,
    & + ul {
      margin-top: 8px;
    }
  }
}

.nhsuk-sticky {
  @include mq($from: grid-collapse) {
    position: sticky;
    top: 40px;
  }
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.nhsuk-page-content {
  & > *:first-child {
    margin-top: 0;
    & > *:first-child {
      margin-top: 0;
    }
  }
}

@mixin nhsuk-list() {
  font-weight: $nhsuk-font-normal;
  margin: 16px 0 0;
  padding-left: 20px;
  @include mq($from: tablet) {
    margin: 24px 0 0;
  }
  li {
    line-height: 28px;
    margin: 8px 0 0;
    @include mq($from: tablet) {
      line-height: 32px;
    }
  }
}

hr {
  &.nhsuk-h-line {
    border: 0;
    border-top: 1px solid $nhsuk-border-colour;
    margin: 40px 0 0;
    @include mq($from: tablet) {
      margin: 72px 0 0;
    }
  }
}
