{% set title = 'Pagination' %}
{% from 'components/pagination/macro.njk' import pagination %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ pagination({
        previous: {
          href: "/section/treatments",
          labelText: "Treatments"
        },
        next: {
          href: "/section/symptoms",
          labelText: "Symptoms"
        }
      }) }}
    </div>
  </div>
{% endblock %}
