{% set title = 'Pagination - numbered pages' %}
{% from 'components/pagination/macro.njk' import pagination %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ pagination({
        nextUrl: "#",
        previousUrl: "#",
        items: [
          {
            number: 1,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 6,
            href: "#"
          },
          {
            number: 7,
            href: "#",
            current: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 10,
            href: "#"
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
