.nhsuk-page-header {
  h2 {
    margin-top: 0;
    font-weight: 300;
  }
}

.nhsuk-page-sidebar {
  .divider {
    background-color: $nhs-blue;
    height: 3px;
    width: 50%;
    margin: 35px 0;
  }
  a {
    &.active {
      color: $black;
    }
  }
}

.nhsuk-page-content {
  .nhsuk-page__callout {
    background-color: $white;
    margin: 62px 0 32px 0;
    h3 {
      background-color: #333;
      color: $white;
      padding: 10px 20px;
    }
  }
}

.sr-only,
.hidden {
  display: none;
}