{% set title = 'Footer (columns)' %}
{% from 'components/footer/macro.njk' import footer %}
{% extends 'layout.njk' %}

{% block main %}

  {{ footer({
    "copyright": "© Crown copyright",
    "links": [
      {
        "URL": "#",
        "label": "Home"
      },
      {
        "URL": "#",
        "label": "Health A to Z"
      },
      {
        "URL": "#",
        "label": "Live Well"
      },
      {
        "URL": "#",
        "label": "Mental health"
      },
      {
        "URL": "#",
        "label": "Care and support"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Pregnancy"
      },
      {
        "URL": "#",
        "label": "NHS services"
      },
      {
        "URL": "#",
        "label": "Coronavirus (COVID-19)"
      }
    ],
    "linksColumn2": [
      {
        "URL": "#",
        "label": "NHS App"
      },
      {
        "URL": "#",
        "label": "Find my NHS number"
      },
      {
        "URL": "#",
        "label": "Your health records"
      },
      {
        "URL": "#",
        "label": "About the NHS"
      },
      {
        "URL": "#",
        "label": "Healthcare abroad"
      }
    ],
    "linksColumn3": [
      {
        "URL": "#",
        "label": "Other NHS websites"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      }
    ],
    "metaLinks": [
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Give us feedback"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })}}

{% endblock %}
