@mixin govuk-grid {
  @include clear;
  margin-left: - ($govuk-gutter-half);
  margin-right: - ($govuk-gutter-half);
}

@mixin govuk-grid-item {
  -webkit-box-sizing: border-box; // sass-lint:disable-line no-vendor-prefixes
  box-sizing: border-box;
  padding: 0 $govuk-gutter-half;

  @include mq($from: tablet) {
    float: left;
  }
}

@include govuk-exports('grid') {

  .nhsuk-o-grid {
    @include govuk-grid;
  }

  .nhsuk-o-grid__item {
    @include govuk-grid-item;
  }

  .nhsuk-o-grid__item--full {
    width: 100%;
  }

  .nhsuk-o-grid__item--one-half {
    @include mq($from: tablet) {
      width: percentage(1 / 2);
    }
  }

  .nhsuk-o-grid__item--one-third {
    @include mq($from: tablet) {
      width: percentage(1 / 3);
    }
  }

  .nhsuk-o-grid__item--two-thirds {
    @include mq($from: tablet) {
      width: percentage(2 / 3);
    }
  }

  .nhsuk-o-grid__item--one-quarter {
    @include mq($from: tablet) {
      width: percentage(1 / 4);
    }
  }

  .nhsuk-o-grid__item--three-quarters {
    @include mq($from: tablet) {
      width: percentage(3 / 4);
    }
  }
}

.nhsuk-reading-width {
  @include reading-width();
}
