//do and don't list * needs re-engineering *

.nhsuk-c-panel {
  @include nhsuk-component-center();
  @include top-and-bottom();
  background: white;
  //border-top: 8px solid $nhsuk-blue;
  color: $nhsuk-secondary-text-colour;
  margin: 56px 0;
  padding: 36px 24px 32px 24px;
  position:relative;
  @include mq($until: tablet) {
    margin: 40px 0;
      padding: 32px 24px 24px;
  }
}

.nhsuk-c-panel__with-header {
  h3 {
      @include nhsuk-tab();
      background: $nhsuk-blue;
      color: white;
      padding: 8px 24px;
      top: -8px;
      @include mq($until: tablet) {
          padding: 4px 16px;
          top: -4px;
      }
      &.green{
        background: $nhsuk-green;
      }
      &.red{
        background: $nhsuk-red;
      }
  }
}

.list--check,
.list--cross {
  list-style: none;
  padding-left: 32px;
}

.list--check li::before, .list--check li::after, .list--cross li::before, .list--cross li::after {
  content: "";
  position: absolute;
}

.list--check,
.list--cross{
  li{
      margin-top: 16px;
      position:relative;
  }
}
.list--check li {
  &:before {
    content:url('data:image/svg+xml; utf8, <svg class="nhsuk-icon nhsuk-icon__tick" style="fill: none; stroke: #007F3B;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"/></svg>');
    width: 34px;
    height: 34px;
    left: -43px;
    top: -4px;
    color: $nhsuk-green;
  }
}

.list--cross li {
  &:before {
    content:url('data:image/svg+xml; utf8, <svg class="nhsuk-icon nhsuk-icon__cross" style="fill: #AD1F19;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"/><path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/></svg>');
    width: 40px;
    height: 40px;
    left: -43px;
    top: -6px;
 }
}

.list--cross li::after {
  transform: rotate(-45deg);
}
