.nhsuk-a-z-list {
    ul {
        margin: -8px 0 0 !important;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            margin: 0;
            a {
                display: block;
                min-width: 30px;
                padding: 8px 0;
                text-align: center;
                @include mq($until: tablet) {
                    min-width: 24px;
                }
            }
        }
    }
}

.nhsuk-a-z-list--results-items {
    @include mq($until: tablet) {
        margin: 0 -16px;
    }
    h2 {
        background: $nhsuk-blue;
        color: $nhsuk-white;
        display: inline-block;
        padding: 8px 16px;
    }
    ul {
        background: $nhsuk-white;
        border-top: 2px solid $nhsuk-blue;
        margin: -28px 0 0;
        padding: 28px 0 0;
        @include mq($until: tablet) {
            margin: -24px 0 0;
            padding: 24px 0 0;
        }
        li {
            background: $nhsuk-white;
            list-style: none;
            margin: 0;
            a {
                border-bottom: 1px solid $nhsuk-grey-4;
                display: block;
                padding: 12px 16px;
                text-decoration: none;
                &:hover,
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
                @include mq($until: tablet) {
                    padding: 8px 16px;
                }
            }
        }
    }

    .nhsuk-back-to-top-link {
        display: inline-block;
        margin-top: 16px;
        padding-left: 12px;
        position: relative;
        &:visited {
            color: $nhsuk-blue;
        }
        @include mq($until: tablet) {
            margin: 16px 16px 0;
        }
        .nhsuk-icon {
            transform: rotate(270deg);
            height: 19px;
            left: -8px;
            position: absolute;
            top: 4px;
            width: 19px;
            @include mq($until: tablet) {
                top: 3px;
            }
        }
    }
}