{% set title = 'Panel' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        titleText: "Booking complete",
        text: "We have sent you a confirmation email"
      }) }}
    </div>
  </div>
{% endblock %}
