{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ panel({
            titleText: "Booking complete",
            text: "We have sent you a confirmation email"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
