{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel as link' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ panel({
            "heading": "Save a life: give blood",
            "clickablePanel": true,
            "href": "https://www.nhs.uk",
            "HTML": "<p>Please register today. Donating blood is easy, and saves lives.</p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
