{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel with label' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ panel({
            "label": "Live well",
            "HTML": "<p>Advice, tips and tools to help you make the best choices about your health and wellbeing</p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
