{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel group' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-grid-row nhsuk-panel-group">
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "heading": "Live well",
                "description": "Advice, tips and tools to help you make the best choices about your health and wellbeing"
              }) }}
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "label": "Live well",
                "description": "Advice, tips and tools to help you make the best choices about your health and wellbeing"
              }) }}
            </div>
          </div>
          <div class="nhsuk-grid-row nhsuk-panel-group">
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "heading": "Save a life: Give blood",
                "clickablePanel": true,
                "href": "https://www.nhs.uk/",
                "description": "Please register today. Donating blood is easy, and saves lives."
              }) }}
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "heading": "Live well",
                "description": "Advice, tips and tools to help you make the best choices about your health and wellbeing"
              }) }}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
