{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel group' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-grid-row nhsuk-panel-group">
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "HTML": "<h3>Eat well</h3> <p>All you need to know about the major food groups and a healthy, balanced diet</p>"
              }) }}
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "HTML": "<h3>Healthy weight</h3> <p>Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>"
              }) }}
            </div>
          </div>
          <div class="nhsuk-grid-row nhsuk-panel-group">
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "HTML": "<h3>Excercise</h3> <p>Programmes, workouts and tips to get you moving and improve your fitness and wellbeing</p>"
              }) }}
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
              {{ panel({
                "HTML": "<h3>Sleep and tiredness</h3> <p>Find out how to sleep well and the common lifestyle factors that are making you tired</p>"
              }) }}
            </div>
          </div>

        </div>
      </div>

    </main>
  </div>

{% endblock %}
