/* ==========================================================================
   COMPONENTS/ #BACK-LINK
   ========================================================================== */

/**
 * 1. Allow space for the arrow.
 * 2. Align the icon with the start of the back link.
 * 3. Align the icon with the middle of the text.
 */

.nhsuk-back-link {
  margin-bottom: nhsuk-spacing(3);
}

.nhsuk-back-link__link {
  @include nhsuk-typography-responsive(16);

  display: inline-block;
  padding-left: 16px; /* 1 */
  position: relative;
  text-decoration: none;

  .nhsuk-icon__chevron-left {
    height: 24px;
    left: -8px; /* 2 */
    position: absolute;
    top: -1px; /* 3 */
    width: 24px;
  }

  &:visited {
    color: $nhsuk-link-color;
  }

  &:hover {
    border-bottom: 2px solid $nhsuk-link-color;
    color: $nhsuk-link-color;
  }

  &:focus {
    border-bottom: 0;
    color: $nhsuk-focus-text-color;
  }

}
