.nhsuk-c-intro-image{
    padding: 0 320px 0 34px;
    margin-top:34px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 284px 160px;
    background-color: #f1f4f5;
    .nhsuk-c-intro-image-inner{
        height: 160px;
        display: table-cell;
        vertical-align: middle;
    }
    p{
        margin-top: 0;
    }
    @media screen and (max-width: 989px) {
        background: none !important;
        padding: 0;
        .nhsuk-c-intro-image-inner{
            height: auto;
            display: inline;
        }
    }
}