@use "../settings" as *;

////
/// Icons
///
/// @group styles
////

/// Default icon styles

.nhsuk-icon {
  fill: currentcolor;
  height: $nhsuk-icon-size;
  width: $nhsuk-icon-size;
}

/// Default icon colours

.nhsuk-icon__chevron-left,
.nhsuk-icon__chevron-right,
.nhsuk-icon__minus,
.nhsuk-icon__plus {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__emdash {
  path {
    fill: $color_nhsuk-grey-3;
  }
}

/// Icon size adjustments

.nhsuk-icon--size-25 {
  height: $nhsuk-icon-size * 1.25;
  width: $nhsuk-icon-size * 1.25;
}

.nhsuk-icon--size-50 {
  height: $nhsuk-icon-size * 1.5;
  width: $nhsuk-icon-size * 1.5;
}

.nhsuk-icon--size-75 {
  height: $nhsuk-icon-size * 1.75;
  width: $nhsuk-icon-size * 1.75;
}

.nhsuk-icon--size-100 {
  height: $nhsuk-icon-size * 2;
  width: $nhsuk-icon-size * 2;
}
