@use "../settings" as *;

////
/// Icons
///
/// @group styles
////

/// Default icon styles

.nhsuk-icon {
  fill: currentcolor;
}

/// Icon size adjustments

.nhsuk-icon--size-25 {
  height: $nhsuk-icon-size * 1.25;
  width: $nhsuk-icon-size * 1.25;
}

.nhsuk-icon--size-50 {
  height: $nhsuk-icon-size * 1.5;
  width: $nhsuk-icon-size * 1.5;
}

.nhsuk-icon--size-75 {
  height: $nhsuk-icon-size * 1.75;
  width: $nhsuk-icon-size * 1.75;
}

.nhsuk-icon--size-100 {
  height: $nhsuk-icon-size * 2;
  width: $nhsuk-icon-size * 2;
}
