{% set title = 'Contents list' %}
{% from 'components/contents-list/macro.njk' import contentsList %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ contentsList({
        items: [
          {
            href: "#",
            text: "What is AMD?",
            current: "true"
          },
          {
            href: "#",
            text: "Symptoms"
          },
          {
            href: "#",
            text: "Getting diagnosed"
          }
          ,
          {
            href: "#",
            text: "Treatments"
          }
          ,
          {
            href: "#",
            text: "Living with AMD"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
