{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Action link' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ actionLink({
            "text": "Find a minor injuries unit",
            "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
