{% set title = 'Components - New typography and spacing' %}
{% set parent = 'Library' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/card/macro.njk' import card %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/images/macro.njk' import image %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/pagination/macro.njk' import pagination %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/tables/macro.njk' import table %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <p>The single-direction margin declarations have been changed to the bottom. All text elements use margin-bottom (24px desktop, 16px mobile).</p>
          <p>Top padding is added to headings after paragraphs.</p>

          <h2>H2 using no class</h2>
          <h3>H3 using no class</h3>
          <h4>H4 using no class</h4>
          <h5>H5 using no class</h5>
          <h6>H6 using no class</h6>

          <h2 class="nhsuk-u-margin-top-9">H2 using override nhsuk-u-margin-top-9</h2>

          <p>This is a paragraph using no class. Nam quis posuere nisl, <a href="#">this is what a link looks like</a> eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <ul>
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>
          <ol>
            <li>Ordered list item using no class</li>
            <li>Ordered list item using no class</li>
          </ol>

          <h2>H2 using no class</h2>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <h3>H3 using no class</h3>
          <p class="nhsuk-u-margin-bottom-7">This is a paragraph <strong>using override nhsuk-u-margin-bottom-7</strong>. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
          <h2>H2 using no class</h2>
          <h3>H3 using no class</h3>
          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <hr>

          <address>
          Address styling <br>
          7 Test Road <br>
          Village <br>
          LS16 2JE
          </address>

          <hr>

          <h1 class="nhsuk-heading-l">H1 using nhsuk-heading-l</h1>
          <h2 class="nhsuk-heading-xl">H2 using nhsuk-heading-xl</h2>
          <h3 class="nhsuk-heading-l">H3 using nhsuk-heading-l</h3>
          <h4 class="nhsuk-heading-m">H4 using nhsuk-heading-m</h4>
          <h5 class="nhsuk-heading-s">H5 using nhsuk-heading-s</h5>
          <h6 class="nhsuk-heading-xs">H6 using nhsuk-heading-xs</h6>

          <hr>

          <p class="nhsuk-body-l">P using nhsuk-body-l</p>
          <p class="nhsuk-body-m">P using nhsuk-body</p>
          <p class="nhsuk-body-s">P using nhsuk-body-s</p>

          <hr>

          <span class="nhsuk-caption-xl">Heading caption</span>
          <h1>Page heading</h1>

          <span class="nhsuk-caption-l">Heading caption</span>
          <h1>Page heading</h1>

          <span class="nhsuk-caption-m">Heading caption</span>
          <h1>Page heading</h1>

          <h1><span class="nhsuk-caption-xl">Heading caption</span> Page heading</h1>

          <h1><span class="nhsuk-caption-l">Heading caption</span> Page heading</h1>

          <h1><span class="nhsuk-caption-m">Heading caption</span> Page heading</h1>

          <h1>Page heading <span class="nhsuk-caption-xl nhsuk-caption--bottom">Heading caption</span></h1>

          <h1>Page heading <span class="nhsuk-caption-l nhsuk-caption--bottom">Heading caption</span></h1>

          <h1>Page heading <span class="nhsuk-caption-m nhsuk-caption--bottom">Heading caption</span></h1>

          <hr>

          <span class="nhsuk-heading-l">Span using nhsuk-heading-l</span>
          <span class="nhsuk-heading-m">Span using nhsuk-heading-m</span>
          <span class="nhsuk-heading-s">Span using nhsuk-heading-s</span>
          <span class="nhsuk-heading-xs">Span using nhsuk-heading-xs</span>
          <span class="nhsuk-heading-xxs">Span using nhsuk-heading-xxs</span>

          <span class="nhsuk-body-l">Span using nhsuk-body-l</span>
          <span class="nhsuk-body-m">Span using nhsuk-body</span>
          <span class="nhsuk-body-s">Span using nhsuk-body-s</span>

          <h2>Typography with components</h2>

          <p class="nhsuk-u-font-weight-bold">This is a paragraph using nhsuk-u-font-weight-bold. Nam quis posuere nisl, eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h3>List (Unordered list)</h3>

          <ul class="nhsuk-list">
            <li><a href="#">Unordered list item using nhsuk-list</a></li>
            <li><a href="#">Unordered list item using nhsuk-list</a></li>
          </ul>

          <h3>List (Ordered list)</h3>

          <ol class="nhsuk-list">
            <li><a href="#">Ordered list item using nhsuk-list</a></li>
            <li><a href="#">Ordered list item using nhsuk-list</a></li>
          </ol>

          <h3>Bulleted list</h3>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>

          <h3>Numbered list</h3>

          <ol class="nhsuk-list nhsuk-list--number">
            <li>Ordered list item using no class</li>
            <li>Ordered list item using no class</li>
          </ol>

          <hr>

          <h2>Typography with images</h2>

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          <h3>H3 heading</h3>

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <hr>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ insetText({
            "HTML": "<p>If you drive you must tell the <a href=\"https://www.gov.uk/contact-the-dvla\" title=\"External website\">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ card({
            "type": "non-urgent",
            "heading": "Speak to a GP if:",
            "headingLevel": 3,
            "descriptionHtml": "
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href=\"https://www.nhs.uk/conditions/dehydration\">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            "
          }) }}

          {{ insetText({
            "HTML": "<p>If you drive you must tell the <a href=\"https://www.gov.uk/contact-the-dvla\" title=\"External website\">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
          }) }}

          <hr>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ card({
            "type": "non-urgent",
            "heading": "Speak to a GP if:",
            "headingLevel": 3,
            "descriptionHtml": "
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href=\"https://www.nhs.uk/conditions/dehydration\">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            "
          }) }}

          <ul class="nhsuk-list">
            <li><a href="#">Unordered list item using nhsuk-list</a></li>
            <li><a href="#">Unordered list item using nhsuk-list</a></li>
          </ul>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="#">Unordered list item using nhsuk-list--bullet</a></li>
            <li><a href="#">Unordered list item using nhsuk-list--bullet</a></li>
          </ul>

          {{ card({
            "type": "urgent",
            "heading": "Ask for an urgent GP appointment if:",
            "headingLevel": 3,
            "descriptionHtml": "
            <ul>
              <li>you're an adult and have chickenpox</li>
              <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
              <li>you have a weakened immune system and you've been near someone with chickenpox</li>
              <li>you think your newborn baby has chickenpox</li>
            </ul>
            <p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
            "
          }) }}

          {{ card({
            "type": "emergency",
            "heading": "Call 999 if you have sudden chest pain that:",
            "headingLevel": 3,
            "descriptionHtml": "
            <ul>
              <li>spreads to your arms, back, neck or jaw</li>
              <li>makes your chest feel tight or heavy</li>
              <li>also started with shortness of breath, sweating and feeling or being sick</li>
            </ul>
            <p>You could be having a heart attack. Call 999 immediately as you need immediate treatment in hospital.</p>
            "
          }) }}

          <h2>H2 heading</h2>

          {{ card({
            "type": "non-urgent",
            "heading": "Speak to a GP if:",
            "headingLevel": 3,
            "descriptionHtml": "
            <ul>
              <li>you're not sure it's chickenpox</li>
              <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
              <li>your child is <a href=\"https://www.nhs.uk/conditions/dehydration\">dehydrated</a></li>
              <li>you're concerned about your child or they get worse</li>
            </ul>
            <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
            "
          }) }}

          <h3>H3 heading</h3>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ list({
            "title": "Do",
            "type": "tick",
            "items": [
              {
                "item": "cover blisters that are likely to burst with a soft plaster or dressing"
              },
              {
                "item": "wash your hands before touching a burst blister"
              },
              {
                "item": "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
              }
            ]
          }) }}

          {{ list({
            "title": "Don't",
            "type": "cross",
            "items": [
              {
                "item": "burst a blister yourself"
              },
              {
                "item": "peel the skin off a burst blister"
              },
              {
                "item": "pick at the edges of the remaining skin"
              },
              {
                "item": "wear the shoes or use the equipment that caused your blister until it heals"
              }
            ]
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ details({
            "text": "Where can I find my NHS number?",
            "HTML": "
            <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
            <p>You can find your NHS number on any document sent to you by the NHS. This may include:</p>
            <ul>
              <li>prescriptions</li>
              <li>test results</li>
              <li>hospital referral letters</li>
              <li>appointment letters</li>
              <li>your NHS medical card</li>
            </ul>
            <p>Ask your GP practice for help if you can't find your NHS number.</p>
            "
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ warningCallout({
            "heading": "Important",
            "HTML": "<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>"
          }) }}

          <h2>H2 heading</h2>

          {{ warningCallout({
            "heading": "Important",
            "HTML": "<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>"
          }) }}

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ table({
            panel: true,
            heading: "Skin symptoms and possible causes",
            caption: "Skin symptoms and possible causes",
            firstCellIsHeader: false,
            head: [
              {
                text: "Skin symptoms"
              },
              {
                text: "Possible cause"
              }
            ],
            rows: [
              [
                {
                  text: "Blisters on lips or around the mouth"
                },
                {
                  text: "cold sores"
                }
              ],
              [
                {
                  text: "Itchy, dry, cracked, sore"
                },
                {
                  text: "eczema"
                }
              ],
              [
                {
                  text: "Itchy blisters"
                },
                {
                  text: "shingles, chickenpox"
                }
              ]
            ]
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          <h2>H2 heading</h2>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ actionLink({
            "text": "Find a minor injuries unit",
            "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
          }) }}

          <ul>
            <li>Unordered list item using no class</li>
            <li>Unordered list item using no class</li>
          </ul>

          <h2>Content with images</h2>

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          <h3>H3 heading</h3>

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          {{ image({
            "alt": "Picture of allergic conjunctivitis",
            "src": "https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg",
            "caption": "Itchy, red, watering eyes"
          }) }}

          <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

          {{ actionLink({
            "URL": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551",
            "text": "Find a minor injuries unit"
          }) }}

          <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

          <h2>Section spacing</h2>
          <p>nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible</p>
          <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">
          <p>nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible</p>
          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
          <p>nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible</p>
          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
          <p>nhsuk-section-break nhsuk-section-break--visible</p>
          <hr class="nhsuk-section-break nhsuk-section-break--visible">

        </div>
      </div>

    </main>
  </div>

{% endblock %}
