/* ==========================================================================
   #cookie-banner
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-cookie-banner {
  background-color: #f0f8ff;
  font-size: 16px;
  padding: 16px 0;

  @include mq($media-type: print) {
    display: none;
  }

  h2,
  p {
    &:first-of-type {
      margin: 0;
    }
  }

  &__button {
    background-color: $colour_nhsuk-green;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 0 #003317;
    color: $colour_nhsuk-white;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 1.25;
    margin: 16px 0 0;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;

    @include mq($until: tablet) {
      margin: 16px 0 8px;
    }

    &:before {
      background: transparent;
      content: '';
      display: block;
      height: 110%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:focus {
      background-color: #00662f;
      outline: 3px solid $colour_nhsuk-warm-yellow;
    }

    &:hover {
      background-color: #00662f;
    }

    &:active {
      box-shadow: 0 0 0 $colour_nhsuk-green;
      color: $colour_nhsuk-black !important;

      &:before {
        height: 120%;
        top: -10%;
      }
    }

  }

  .nhsuk-form {
    display: block;
    margin-top: 0;

    &__wrapper {
      display: block;

      @media (min-width: 925px) {
        display: inline-block;
      }

    }

    legend {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: -8px;
      padding-top: 0;
    }

    label {
      margin-top: 16px;

      @include mq($until: tablet) {
        margin-top: 12px;
      }

    }

    .multiple-choice--checkbox {
      opacity: 0;
      position: absolute;

      & + label {
        cursor: pointer;
        display: block;
        line-height: 20px;
        margin-right: 16px;
        padding: 0;
        position: relative;

        @media (min-width: 925px) {
          display: inline-block;
        }

        &:before {
          border: 3px solid $colour_nhsuk-blue;
          content: '';
          height: 20px;
          margin-right: 4px;
          position: relative;
          vertical-align: middle;
          width: 20px;
        }

      }

      &:focus + label {

        &:before {
          box-shadow: 0 0 0 5px $colour_nhsuk-warm-yellow;
        }

      }

      &:checked + label {

        &:after {
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          background: transparent;
          border: solid;
          border-width: 0 0 4px 4px;
          content: '';
          filter: alpha(opacity=0);
          height: 6px;
          left: 5px;
          position: absolute;
          top: 6px;
          transform: rotate(-45deg);
          width: 12px;
          zoom: 1;
        }

        &:before {
          background: transparent;
        }

      }

    }

    .checkbox-blue + label {

      &:before {
        display: inline-block;
      }

    }

  }

}
