


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link" aria-label="NHS homepage">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false">
          <g fill="none">
            <path fill="#fff" d="M0 39.842h98.203V0H0z"></path>
            <path fill="#0058ad" d="M9.548 3.817H20.16l6.52 22.08h.09l4.465-22.08h8.021l-6.74 31.84H21.939l-6.65-22.032h-.09l-4.424 22.031H2.754l6.794-31.84m32.852.001h8.518l-2.502 12.18h10.069l2.508-12.18h8.519l-6.61 31.84h-8.518l2.826-13.638H47.135L44.31 35.656h-8.518L42.4 3.816m49.53 7.209c-1.64-.773-3.873-1.457-7.016-1.457-3.37 0-6.106.498-6.106 3.056 0 4.512 12.35 2.828 12.35 12.499 0 8.802-8.16 11.085-15.54 11.085-3.281 0-7.065-.78-9.842-1.648l2.006-6.477c1.682 1.096 5.058 1.827 7.835 1.827 2.646 0 6.789-.503 6.789-3.786 0-5.111-12.35-3.194-12.35-12.176 0-8.214 7.202-10.676 14.176-10.676 3.92 0 7.608.413 9.75 1.413l-2.052 6.34"></path>
          </g>
          <image xlink:href="" src="/assets/logos/fallback/logo-nhs.png"></image>
        </svg>
      </a>
    </div>
  

  

  

  

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-page-content">
            
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="list-panel">List panel</h1>
<p>Find out more about the list panel component and when to use it in the <a href="https://beta.nhs.uk/service-manual/patterns/">NHS Digital service manual</a>.</p>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/173">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="list-panel">List panel</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/list-panel.html">Preview the list panel component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-list-panel&quot;&gt;
  &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;A&quot; &gt;A&lt;/h2&gt;
  &lt;ul class=&quot;nhsuk-list-panel__list  nhsuk-list-panel__list--with-label &quot;&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/abdominal-aortic-aneurysm/&quot;&gt;AAA&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/abdominal-aortic-aneurysm/&quot;&gt;Abdominal aortic aneurysm&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/abscess/&quot;&gt;Abscess&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
    &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
      &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
      &lt;/svg&gt;
      Back to top
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;nhsuk-list-panel&quot;&gt;
  &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;B&quot;&gt;B&lt;/h2&gt;
  &lt;div class=&quot;nhsuk-list-panel__box  nhsuk-list-panel__box--with-label &quot;&gt;
    &lt;p class=&quot;nhsuk-list-panel--results-items__no-results&quot;&gt;There are currently no conditions listed&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
    &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
      &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
      &lt;/svg&gt;
      Back to top
    &lt;/a&gt;
  &lt;/div&gt;

&lt;/div&gt;

&lt;div class=&quot;nhsuk-list-panel&quot;&gt;
  &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;C&quot;&gt;C&lt;/h2&gt;
  &lt;ul class=&quot;nhsuk-list-panel__list  nhsuk-list-panel__list--with-label &quot;&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/chest-pain/&quot;&gt;Chest pain&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/cold-sores/&quot;&gt;Cold sore&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
    &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
      &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
      &lt;/svg&gt;
      Back to top
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;nhsuk-list-panel&quot;&gt;
  &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;D&quot;&gt;D&lt;/h2&gt;
  &lt;ul class=&quot;nhsuk-list-panel__list  nhsuk-list-panel__list--with-label &quot;&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/dandruff/&quot;&gt;Dandruff&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/dementia/&quot;&gt;Dementia&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-list-panel__list-item&quot;&gt;
      &lt;a class=&quot;nhsuk-list-panel__list-item-link&quot; href=&quot;/conditions/toothache/&quot;&gt;Dental pain&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
    &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
      &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
        &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
      &lt;/svg&gt;
      Back to top
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code>{% from &#39;components/list-panel/macro.njk&#39; import listPanel %}

{{ listPanel({
  label: &quot;A&quot;,
  id: &quot;A&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/abdominal-aortic-aneurysm/&quot;,
      link: &quot;AAA&quot;
    },
    {
      URL: &quot;/conditions/abdominal-aortic-aneurysm/&quot;,
      link: &quot;Abdominal aortic aneurysm&quot;
    },
    {
      URL: &quot;/conditions/abscess/&quot;,
      link: &quot;Abscess&quot;
    }
  ]
}) }}

{{ listPanel({
  label: &quot;B&quot;,
  id: &quot;B&quot;,
  disable: &quot;true&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  message: &quot;There are currently no conditions listed&quot;
}) }}

{{ listPanel({
  label: &quot;C&quot;,
  id: &quot;C&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/chest-pain/&quot;,
      link: &quot;Chest pain&quot;
    },
    {
      URL: &quot;/conditions/cold-sores/&quot;,
      link: &quot;Cold sore&quot;
    }
  ]
}) }}

{{ listPanel({
  label: &quot;D&quot;,
  id: &quot;D&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/dandruff/&quot;,
      link: &quot;Dandruff&quot;
    },
    {
      URL: &quot;/conditions/dementia/&quot;,
      link: &quot;Dementia&quot;
    },
    {
      URL: &quot;/conditions/toothache/&quot;,
      link: &quot;Dental pain&quot;
    }
  ]
}) }}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The list panel Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>label</strong></td>
<td>string</td>
<td>No</td>
<td>The text label of the list panel.</td>
</tr>
<tr>
<td><strong>id</strong></td>
<td>string</td>
<td>No</td>
<td>The ID of the label heading.</td>
</tr>
<tr>
<td><strong>headingLevel</strong></td>
<td>integer</td>
<td>No</td>
<td>Optional heading level for the label heading. Default: 2</td>
</tr>
<tr>
<td><strong>backToTop</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, a back to top link will be displayed.</td>
</tr>
<tr>
<td><strong>backToTopLink</strong></td>
<td>string</td>
<td>No</td>
<td>The href value of the back to top link.</td>
</tr>
<tr>
<td><strong>disable</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, this indicates there are no items in the list panel.</td>
</tr>
<tr>
<td><strong>message</strong></td>
<td>string</td>
<td>No</td>
<td>The text value to display if there are no items in the list panel (and disable has been set to true).</td>
</tr>
<tr>
<td><strong>items</strong></td>
<td>array</td>
<td>No</td>
<td>Array of list panel items.</td>
</tr>
<tr>
<td><strong>items[].URL</strong></td>
<td>string</td>
<td>No</td>
<td>The href value of an item in the list panel.</td>
</tr>
<tr>
<td><strong>items[].link</strong></td>
<td>string</td>
<td>No</td>
<td>The text value of an item in the list panel.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the list panel. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the list panel.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
