


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - </title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/favicon.png" rel="icon">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="https://www.nhs.uk" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
        
      </a>
    </div>

    

      

    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="list-panel">List panel</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/173">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="list-panel">List panel</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/list-panel/index.html">Preview the list panel component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;ol class=&quot;nhsuk-list&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;nhsuk-list-panel&quot;&gt;
      &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;A&quot;&gt;A&lt;/h2&gt;
      &lt;ul class=&quot;nhsuk-list-panel__list nhsuk-list-panel__list--with-label&quot;&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/abdominal-aortic-aneurysm/&quot;&gt;AAA&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/abdominal-aortic-aneurysm/&quot;&gt;Abdominal aortic aneurysm&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/abscess/&quot;&gt;Abscess&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
        &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          Back to top
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;nhsuk-list-panel&quot;&gt;
      &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;B&quot;&gt;B&lt;/h2&gt;
      &lt;div class=&quot;nhsuk-list-panel__box nhsuk-list-panel__box--with-label&quot;&gt;
        &lt;p class=&quot;nhsuk-list-panel--results-items__no-results&quot;&gt;There are currently no conditions listed&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
        &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          Back to top
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;nhsuk-list-panel&quot;&gt;
      &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;C&quot;&gt;C&lt;/h2&gt;
      &lt;ul class=&quot;nhsuk-list-panel__list nhsuk-list-panel__list--with-label&quot;&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/chest-pain/&quot;&gt;Chest pain&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/cold-sores/&quot;&gt;Cold sore&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
        &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          Back to top
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;div class=&quot;nhsuk-list-panel&quot;&gt;
      &lt;h2 class=&quot;nhsuk-list-panel__label&quot; id=&quot;D&quot;&gt;D&lt;/h2&gt;
      &lt;ul class=&quot;nhsuk-list-panel__list nhsuk-list-panel__list--with-label&quot;&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/dandruff/&quot;&gt;Dandruff&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/dementia/&quot;&gt;Dementia&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nhsuk-list-panel__item&quot;&gt;
          &lt;a class=&quot;nhsuk-list-panel__link&quot; href=&quot;/conditions/toothache/&quot;&gt;Dental pain&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;div class=&quot;nhsuk-back-to-top&quot;&gt;
        &lt;a class=&quot;nhsuk-back-to-top__link&quot; href=&quot;#nhsuk-nav-a-z&quot;&gt;
          &lt;svg class=&quot;nhsuk-icon nhsuk-icon__arrow-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;path d=&quot;M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          Back to top
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ol&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/list-panel/macro.njk&#39; import listPanel %}

{{ listPanel({
  label: &quot;A&quot;,
  id: &quot;A&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/abdominal-aortic-aneurysm/&quot;,
      link: &quot;AAA&quot;
    },
    {
      URL: &quot;/conditions/abdominal-aortic-aneurysm/&quot;,
      link: &quot;Abdominal aortic aneurysm&quot;
    },
    {
      URL: &quot;/conditions/abscess/&quot;,
      link: &quot;Abscess&quot;
    }
  ]
}) }}

{{ listPanel({
  label: &quot;B&quot;,
  id: &quot;B&quot;,
  disable: &quot;true&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  message: &quot;There are currently no conditions listed&quot;
}) }}

{{ listPanel({
  label: &quot;C&quot;,
  id: &quot;C&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/chest-pain/&quot;,
      link: &quot;Chest pain&quot;
    },
    {
      URL: &quot;/conditions/cold-sores/&quot;,
      link: &quot;Cold sore&quot;
    }
  ]
}) }}

{{ listPanel({
  label: &quot;D&quot;,
  id: &quot;D&quot;,
  backToTop: &quot;true&quot;,
  backToTopLink: &quot;#nhsuk-nav-a-z&quot;,
  items: [
    {
      URL: &quot;/conditions/dandruff/&quot;,
      link: &quot;Dandruff&quot;
    },
    {
      URL: &quot;/conditions/dementia/&quot;,
      link: &quot;Dementia&quot;
    },
    {
      URL: &quot;/conditions/toothache/&quot;,
      link: &quot;Dental pain&quot;
    }
  ]
}) }}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The list panel Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>label</strong></td>
<td>string</td>
<td>No</td>
<td>The text label of the list panel.</td>
</tr>
<tr>
<td><strong>id</strong></td>
<td>string</td>
<td>No</td>
<td>The ID of the label heading.</td>
</tr>
<tr>
<td><strong>headingLevel</strong></td>
<td>integer</td>
<td>No</td>
<td>Optional heading level for the label heading. Default: 2</td>
</tr>
<tr>
<td><strong>backToTop</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, a back to top link will be displayed.</td>
</tr>
<tr>
<td><strong>backToTopLink</strong></td>
<td>string</td>
<td>No</td>
<td>The href value of the back to top link.</td>
</tr>
<tr>
<td><strong>disable</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, this indicates there are no items in the list panel.</td>
</tr>
<tr>
<td><strong>message</strong></td>
<td>string</td>
<td>No</td>
<td>The text value to display if there are no items in the list panel (and disable has been set to true).</td>
</tr>
<tr>
<td><strong>items</strong></td>
<td>array</td>
<td>No</td>
<td>Array of list panel items.</td>
</tr>
<tr>
<td><strong>items[].URL</strong></td>
<td>string</td>
<td>No</td>
<td>The href value of an item in the list panel.</td>
</tr>
<tr>
<td><strong>items[].link</strong></td>
<td>string</td>
<td>No</td>
<td>The text value of an item in the list panel.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the list panel. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the list panel.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
