/* ==========================================================================
   COMPONENTS/ #TEXTAREA
   ========================================================================== */

.nhsuk-textarea {
  @include nhsuk-font(19);
  @include nhsuk-focusable;

  -webkit-appearance: none;
  border: $nhsuk-border-width-form-element solid $nhsuk-form-border-color;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  min-height: 40px;
  @include nhsuk-responsive-margin(6, 'bottom');
  padding: nhsuk-spacing(1);
  resize: vertical;
  width: 100%;
}

.nhsuk-textarea--error {
  border: $nhsuk-border-width-form-element-error solid $nhsuk-error-color;
}
