{% from "nhsuk/components/caption/macro.njk" import caption %}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

{#- Set classes for this component #}
{%- set className = params.className | default("nhsuk-heading") -%}
{%- set classPrefix = params.classPrefix | default(className ~ "-") -%}
{%- set classNames = className -%}

{#- Allow permitted sizes only #}
{%- set size = null -%}
{%- set sizes = params.sizes | default(["xxs", "xs", "s", "m", "l", "xl"]) -%}

{%- if params.size and
  params.size in sizes and (
    not params.classes or (
      not classPrefix ~ "xxs" in params.classes and
      not classPrefix ~ "xs" in params.classes and
      not classPrefix ~ "s" in params.classes and
      not classPrefix ~ "m" in params.classes and
      not classPrefix ~ "l" in params.classes and
      not classPrefix ~ "xl" in params.classes
    )
  )
%}
  {% set size = params.size %}
  {% if classPrefix | replace(className, "") == "-" %}
    {% set classNames = classPrefix ~ size %}
  {% else %}
    {% set classNames = classNames ~ " " ~ classPrefix ~ size %}
  {% endif %}
{% endif %}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif %}

{%- set headingLevel = params.level if params.level else 1 -%}
{%- set headingCaption = params.caption if params.caption is mapping and params.caption is not escaped else {
  text: params.caption if params.caption is string else undefined,
  html: params.caption if params.caption is escaped else undefined
} -%}

{%- set hasCaption = headingCaption.text or headingCaption.html -%}

{%- if caller or params.html or params.text %}
{%- set innerHtml %}
  {%- if params.html %}
    {{- params.html | safe -}}
  {% elif params.text %}
    {{- params.text -}}
  {% endif -%}
{% endset %}

{%- set captionHtml = caption({
  id: headingCaption.id,
  element: headingCaption.element,
  text: headingCaption.text,
  html: headingCaption.html,
  placement: headingCaption.placement,
  size: headingCaption.size | default(size),
  classes: headingCaption.classes,
  attributes: headingCaption.attributes
}) if hasCaption %}

{% if headingCaption.placement == "before" %}
{{ captionHtml | safe | trim }}
{% endif -%}

{#- Determine type of element to use, if not explicitly set #}
{%- set element = (params.element | default("h" ~ headingLevel)) | lower -%}

<{{ element }} class="{{ classNames }}"
  {%- if params.id %} id="{{ params.id }}"{% endif %}
  {{- nhsukAttributes(params.attributes) }}>
{% if headingCaption.placement == "start" or (hasCaption and not headingCaption.placement) %}
  {{ captionHtml | safe | trim | indent(2) }}
{% endif %}
{% if params.visuallyHiddenText %}
  {% if caller %}
    {{- caller() }}
  {% else %}
    {{- innerHtml | safe | trim | indent(2, true) -}}
  {% endif -%}
  <span class="nhsuk-u-visually-hidden"> {{ params.visuallyHiddenText }}</span>
{% else %}
  {% if caller %}
    {{- caller() }}
  {% else %}
    {{- innerHtml | safe | trim | indent(2, true) }}
  {% endif %}
{% endif %}
{% if headingCaption.placement == "end" %}
  {{ captionHtml | safe | trim | indent(2) }}
{% endif %}
</{{ element }}>
{% if headingCaption.placement == "after" %}
{{ captionHtml | safe | trim }}
{% endif %}
{% endif %}
