@mixin govuk-main-wrapper {
  padding: 15px 0 40px;

  @include mq($from: grid-collapse) {
    padding: 30px 0 56px;
  }
}

@include govuk-exports('main-wrapper') {
  .nhsuk-o-main-wrapper {
    @include govuk-main-wrapper;

    &:focus {
      outline: 0;
    }
  }
}
