* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $nhsuk-text-colour;
  font-family: $nhsuk-font-stack, Arial, sans-serif;
  min-height: 100%;
}

body {
  background-color: $nhsuk-grey-5;
  font-size: $nhsuk-base-font-size-mobile;
  line-height: $nhsuk-base-line-height-mobile;
  margin: 0;

  @include mq($from: tablet) {
    font-size: $nhsuk-base-font-size;
    line-height: $nhsuk-base-line-height;
  }

}

main {
  display: block;
}

input,
textarea,
select,
button {
  font-family: $nhsuk-font-stack, Arial, sans-serif;
}
