{% extends 'includes/site-layout.html' %}

{% block body %}
  <div class="container square-container" id="squares">
    <div class="row">
      <div class="col-md-12">
        <h1>Colours</h1>
        <p>NHS.UK re-design</p>

        <p><a href="#">The quick brown fox jumps over the lazy dog</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p>The quick brown fox jumps over the lazy dog <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p>The quick brown fox jumps over the lazy dog <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p>The quick brown fox jumps over the lazy dog <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p>The quick brown fox jumps over the lazy dog <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p>The quick brown fox jumps over the lazy dog <br>
          #0072ce</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p>The quick brown fox jumps over the lazy dog <br>
          #41B6E6</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p>The quick brown fox jumps over the lazy dog <br>
          #00A9CE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p>The quick brown fox jumps over the lazy dog <br>
          #425563</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container square-container square-container__white">
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p>The quick brown fox jumps over the lazy dog <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p>The quick brown fox jumps over the lazy dog <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p>The quick brown fox jumps over the lazy dog <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p>The quick brown fox jumps over the lazy dog <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p>The quick brown fox jumps over the lazy dog <br>
          #0072ce</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p>The quick brown fox jumps over the lazy dog <br>
          #41B6E6</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p>The quick brown fox jumps over the lazy dog <br>
          #00A9CE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p>The quick brown fox jumps over the lazy dog <br>
          #425563</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Colour palette</h2>
        <div class="colour-palette">
          <div class="colour-palette_item">
              <div class="colour-palette_variant colour-palette_variant--base nhs-blue-aaa">
                  $nhs-blue-aaa
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-10">
                  $nhs-blue-aaa-lighten-10
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-20">
                  $nhs-blue-aaa-lighten-20
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-30">
                $nhs-blue-aaa-lighten-30
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-40 font-colour-black">
                  $nhs-blue-aaa-lighten-40
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-50 font-colour-black">
                  $nhs-blue-aaa-lighten-50
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-60 font-colour-black">
                  $nhs-blue-aaa-lighten-60
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-70 font-colour-black">
                $nhs-blue-aaa-lighten-70
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-80 font-colour-black">
                $nhs-blue-aaa-lighten-80
              </div>
              <div class="colour-palette_variant nhs-blue-aaa-lighten-90 font-colour-black">
                $nhs-blue-aaa-lighten-90
              </div>
          </div>
          <div class="colour-palette_item">
            <div class="colour-palette_variant colour-palette_variant--base nhs-red-aaa">
                $nhs-red-aaa
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-10">
                $nhs-red-aaa-lighten-10
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-20">
                $nhs-red-aaa-lighten-20
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-30">
              $nhs-red-aaa-lighten-30
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-40">
                $nhs-red-aaa-lighten-40
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-50">
                $nhs-red-aaa-lighten-50
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-60">
                $nhs-red-aaa-lighten-60
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-70">
              $nhs-red-aaa-lighten-70
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-80">
              $nhs-red-aaa-lighten-80
            </div>
            <div class="colour-palette_variant nhs-red-aaa-lighten-90">
              $nhs-red-aaa-lighten-90
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
