{% extends 'includes/site-layout.html' %}

{% block body %}
  <div class="container square-container" id="squares">
    <div class="row">
      <div class="col-md-12">
        <h1>Colours</h1>
        <p>NHS.UK re-design</p>

        <p><a href="#">The quick brown fox jumps over the lazy dog</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p><a href="#">The quick brown fox jumps over the lazy dog</a> <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p>The quick brown fox jumps over the lazy dog <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p>The quick brown fox jumps over the lazy dog <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p>The quick brown fox jumps over the lazy dog <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p>The quick brown fox jumps over the lazy dog <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p>The quick brown fox jumps over the lazy dog <br>
          #0072ce</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p>The quick brown fox jumps over the lazy dog <br>
          #41B6E6</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p>The quick brown fox jumps over the lazy dog <br>
          #00A9CE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p>The quick brown fox jumps over the lazy dog <br>
          #425563</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container square-container square-container__white">
    <div class="row">
      <div class="col-md-3">
        <div class="square square-1">
          <p>The quick brown fox jumps over the lazy dog <br>
          #005eb8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-2">
          <p>The quick brown fox jumps over the lazy dog <br>
          #76adda</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-3">
          <p>The quick brown fox jumps over the lazy dog <br>
          #e6eff8</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-4">
          <p>The quick brown fox jumps over the lazy dog <br>
          #003087</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="square square-5">
          <p>The quick brown fox jumps over the lazy dog <br>
          #0072ce</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-6">
          <p>The quick brown fox jumps over the lazy dog <br>
          #41B6E6</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-7">
          <p>The quick brown fox jumps over the lazy dog <br>
          #00A9CE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square square-8">
          <p>The quick brown fox jumps over the lazy dog <br>
          #425563</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
