{% extends 'includes/site-layout.html' %}

{% block body %}
  <div class="govuk-o-width-container">
      <main class="govuk-o-main-wrapper">
      <a href="/" class="nhsuk-logo"><img src="https://beta.nhs.uk/medicines/assets/images/logotype-nhs-colour__reverse.png"></a>

          <div class="govuk-o-grid">
              <div class="govuk-o-grid__item govuk-o-grid__item--full">
                <h2>Colour palette</h2>
                <p>NHS.UK re-design</p>
              </div>
          </div>

          <div class="govuk-o-grid">
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-blue-aaa">
                          $nhs-blue-aaa
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-10">
                          $nhs-blue-aaa-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-20">
                          $nhs-blue-aaa-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-30">
                        $nhs-blue-aaa-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-40 font-colour-black">
                          $nhs-blue-aaa-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-50 font-colour-black">
                          $nhs-blue-aaa-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-60 font-colour-black">
                          $nhs-blue-aaa-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-70 font-colour-black">
                        $nhs-blue-aaa-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-80 font-colour-black">
                        $nhs-blue-aaa-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-blue-aaa-lighten-90 font-colour-black">
                        $nhs-blue-aaa-lighten-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                    <div class="colour-palette_variant colour-palette_variant--base nhs-blue-aaa">
                        $nhs-blue-aaa
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-10">
                        $nhs-blue-aaa-darken-10
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-20">
                        $nhs-blue-aaa-darken-20
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-30">
                      $nhs-blue-aaa-darken-30
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-40">
                        $nhs-blue-aaa-darken-40
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-50">
                        $nhs-blue-aaa-darken-50
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-60">
                        $nhs-blue-aaa-darken-60
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-70">
                      $nhs-blue-aaa-darken-70
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-80">
                      $nhs-blue-aaa-darken-80
                    </div>
                    <div class="colour-palette_variant nhs-blue-aaa-darken-90">
                      $nhs-blue-aaa-darken-90
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-red-aaa">
                          $nhs-red-aaa
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-10">
                          $nhs-red-aaa-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-20">
                          $nhs-red-aaa-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-30">
                        $nhs-red-aaa-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-40 font-colour-black">
                          $nhs-red-aaa-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-50 font-colour-black">
                          $nhs-red-aaa-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-60 font-colour-black">
                          $nhs-red-aaa-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-70 font-colour-black">
                        $nhs-red-aaa-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-80 font-colour-black">
                        $nhs-red-aaa-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-lighten-90 font-colour-black">
                        $nhs-red-aaa-lighten-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-red-aaa">
                          $nhs-red-aaa
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-10">
                          $nhs-red-aaa-darken-10
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-20">
                          $nhs-red-aaa-darken-20
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-30">
                        $nhs-red-aaa-darken-30
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-40">
                          $nhs-red-aaa-darken-40
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-50">
                          $nhs-red-aaa-darken-50
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-60">
                          $nhs-red-aaa-darken-60
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-70">
                        $nhs-red-aaa-darken-70
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-80">
                        $nhs-red-aaa-darken-80
                      </div>
                      <div class="colour-palette_variant nhs-red-aaa-darken-90">
                        $nhs-red-aaa-darken-90
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="govuk-o-grid">
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-black">
                          $nhs-black
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-10">
                          $nhs-black-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-20">
                          $nhs-black-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-30">
                        $nhs-black-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-40 font-colour-black">
                          $nhs-black-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-50 font-colour-black">
                          $nhs-black-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-60 font-colour-black">
                          $nhs-black-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-70 font-colour-black">
                        $nhs-black-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-80 font-colour-black">
                        $nhs-black-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-black-lighten-90 font-colour-black">
                        $nhs-black-lighten-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                    <div class="colour-palette_variant colour-palette_variant--base nhs-black">
                        $nhs-black
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-10">
                        $nhs-black-darken-10
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-20">
                        $nhs-black-darken-20
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-30">
                      $nhs-black-darken-30
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-40">
                        $nhs-black-darken-40
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-50">
                        $nhs-black-darken-50
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-60">
                        $nhs-black-darken-60
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-70">
                      $nhs-black-darken-70
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-80">
                      $nhs-black-darken-80
                    </div>
                    <div class="colour-palette_variant nhs-black-darken-90">
                      $nhs-black-darken-90
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-grey">
                          $nhs-grey
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-10">
                          $nhs-grey-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-20">
                          $nhs-grey-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-30">
                        $nhs-grey-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-40 font-colour-black">
                          $nhs-grey-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-50 font-colour-black">
                          $nhs-grey-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-60 font-colour-black">
                          $nhs-grey-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-70 font-colour-black">
                        $nhs-grey-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-80 font-colour-black">
                        $nhs-grey-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-grey-lighten-90 font-colour-black">
                        $nhs-grey-lighten-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-grey">
                          $nhs-grey
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-10">
                          $nhs-grey-darken-10
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-20">
                          $nhs-grey-darken-20
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-30">
                        $nhs-grey-darken-30
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-40">
                          $nhs-grey-darken-40
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-50">
                          $nhs-grey-darken-50
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-60">
                          $nhs-grey-darken-60
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-70">
                        $nhs-grey-darken-70
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-80">
                        $nhs-grey-darken-80
                      </div>
                      <div class="colour-palette_variant nhs-grey-darken-90">
                        $nhs-grey-darken-90
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="govuk-o-grid">
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                    <div class="colour-palette_variant colour-palette_variant--base nhs-yellow-aaa font-colour-black">
                        $nhs-yellow-aaa
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-10 font-colour-black">
                        $nhs-yellow-aaa-lighten-10
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-20 font-colour-black">
                        $nhs-yellow-aaa-lighten-20
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-30 font-colour-black">
                      $nhs-yellow-aaa-lighten-30
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-40 font-colour-black">
                        $nhs-yellow-aaa-lighten-40
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-50 font-colour-black">
                        $nhs-yellow-aaa-lighten-50
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-60 font-colour-black">
                        $nhs-yellow-aaa-lighten-60
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-70 font-colour-black">
                      $nhs-yellow-aaa-lighten-70
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-80 font-colour-black">
                      $nhs-yellow-aaa-lighten-80
                    </div>
                    <div class="colour-palette_variant nhs-yellow-aaa-lighten-90 font-colour-black">
                      $nhs-yellow-aaa-lighten-90
                    </div>
                </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-yellow-aaa font-colour-black">
                          $nhs-yellow-aaa
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-10 font-colour-black">
                          $nhs-yellow-aaa-darken-10
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-20 font-colour-black">
                          $nhs-yellow-aaa-darken-20
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-30 font-colour-black">
                        $nhs-yellow-aaa-darken-30
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-40 font-colour-black">
                          $nhs-yellow-aaa-darken-40
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-50">
                          $nhs-yellow-aaa-darken-50
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-60">
                          $nhs-yellow-aaa-darken-60
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-70">
                        $nhs-yellow-aaa-darken-70
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-80">
                        $nhs-yellow-aaa-darken-80
                      </div>
                      <div class="colour-palette_variant nhs-yellow-aaa-darken-90">
                        $nhs-yellow-aaa-darken-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-green-aaa">
                          $nhs-green-aaa
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-10">
                          $nhs-green-aaa-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-20 font-colour-black">
                          $nhs-green-aaa-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-30 font-colour-black">
                        $nhs-green-aaa-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-40 font-colour-black">
                          $nhs-green-aaa-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-50 font-colour-black">
                          $nhs-green-aaa-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-60 font-colour-black">
                          $nhs-green-aaa-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-70 font-colour-black">
                        $nhs-green-aaa-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-80 font-colour-black">
                        $nhs-green-aaa-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-lighten-90 font-colour-black">
                        $nhs-green-aaa-lighten-90
                      </div>
                  </div>
                </div>
              </div>
              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-green-aaa">
                          $nhs-green-aaa
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-10">
                          $nhs-green-aaa-darken-10
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-20">
                          $nhs-green-aaa-darken-20
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-30">
                        $nhs-green-aaa-darken-30
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-40">
                          $nhs-green-aaa-darken-40
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-50">
                          $nhs-green-aaa-darken-50
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-60">
                          $nhs-green-aaa-darken-60
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-70">
                        $nhs-green-aaa-darken-70
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-80">
                        $nhs-green-aaa-darken-80
                      </div>
                      <div class="colour-palette_variant nhs-green-aaa-darken-90">
                        $nhs-green-aaa-darken-90
                      </div>
                  </div>
                </div>
              </div>

              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-purple">
                          $nhs-purple
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-10">
                          $nhs-purple-lighten-10
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-20">
                          $nhs-purple-lighten-20
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-30">
                        $nhs-purple-lighten-30
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-40 font-colour-black">
                          $nhs-purple-lighten-40
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-50 font-colour-black">
                          $nhs-purple-lighten-50
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-60 font-colour-black">
                          $nhs-purple-lighten-60
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-70 font-colour-black">
                        $nhs-purple-lighten-70
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-80 font-colour-black">
                        $nhs-purple-lighten-80
                      </div>
                      <div class="colour-palette_variant nhs-purple-lighten-90 font-colour-black">
                        $nhs-purple-lighten-90
                      </div>
                  </div>
                </div>
              </div>

              <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                <div class="colour-palette">
                  <div class="colour-palette_item">
                      <div class="colour-palette_variant colour-palette_variant--base nhs-purple">
                          $nhs-purple
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-10">
                          $nhs-purple-darken-10
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-20">
                          $nhs-purple-darken-20
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-30">
                        $nhs-purple-darken-30
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-40">
                          $nhs-purple-darken-40
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-50">
                          $nhs-purple-darken-50
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-60">
                          $nhs-purple-darken-60
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-70">
                        $nhs-purple-darken-70
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-80">
                        $nhs-purple-darken-80
                      </div>
                      <div class="colour-palette_variant nhs-purple-darken-90">
                        $nhs-purple-darken-90
                      </div>
                  </div>
                </div>
              </div>

          </div>
      </main>
  </div>

{% endblock %}
