{% set title = 'Design decisions and findings' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Design decisions and findings</h1>
    <p class="nhs-body-s">Last updated: <strong>Monday 9 April 2018</strong></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhs-heading-xs">Page contents:</h2>
    <ul>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#typography">Typography</a></li>
        <li><a href="#colours">Colours</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2 id="grid">Grid</h2>
    <h3>The problem</h3>
    <p>The current NHS.UK grid is a stripped back version of the first GOV.UK grid, therefore had some limitations. These limitations included lack of nesting and offsets, inconsistence break points with widths and gutter spacing inappropriate for the NHS.UK font and sizing.</p>
    <h3>Our thinking</h3>
    <p>We wanted a grid system that would give us more flexibility and would support earlier versions of Internet Explorer (IE). We had a look at the first version of the GOV.UK grid, then had a look at various CSS grids until we came to Bootstrap. Bootstrap is a popular, tried and tested front-end framework, our first iteration of the NHS.UK grid system used the Bootstrap 3 grid due to its support for earlier versions of IE and the familiarity that a lot of developers and designers will have with it (despite their level of front-end development).</p>
    <p>After further thinking about the grid, we discovered that GOV.UK are currently in BETA with their new front-end design system which included a new grid system. This grid system solved a lot of the problems we were trying to solve aswell as;</p>
    <ul>
        <li>Adhering to GDS design guidelines as much as we can,</li>
        <li>Widths, spacing and breakpoints being closer to what we require,</li>
        <li>The grid will be maintained by GDS and we can work collaboratively across Government organisations to improve it,</li>
        <li>It's not Bootstrap.</li>
    </ul>
    <p>Some of the HTML markup for the grid system and its columns will take a bit of practice but it follows a sensible naming convention and pattern.</p>
    <p>We are currently thinking about changing some of the breakpoints for tablet and mobile, due to GDS mobile breakpoints being quite small and due to the increase of larger phones.</p>
    <h3>Findings</h3>
    <p>The grid is currently in testing.</p>

    <h2 id="typography">Typography</h2>
    <h3>The problems</h3>
    <ul>
        <li>no clear defined sections of content due to equal spacing between all elements on the page - <a href="https://www.nhs.uk/Conditions/pregnancy-and-baby/">example on NHS.UK <span class="visually-hidden">of page elements spacing</span></a></li>
        <li>body copy on mobile devices is rather large (same size as on desktop)</li>
        <li>longer page headings are escaping the container on mobile devices - <a href="https://www.nhs.uk/conditions/overactive-thyroid-hyperthyroidism/">example on NHS.UK <span class="visually-hidden">of a large header</span></a></li>
    </ul>
    <h3>Our thinking</h3>
    <ul>
        <li>implementing single-direction margin declarations will create clear defined sections of content, resulting in the page being easier to scan through</li>
        <li>by scaling down the font size on mobile devices, we will make reading it more comfortable</li>
    </ul>
    <h3>Findings</h3>
    <p>User research plan TBC</p>

    <h2 id="colours">Colours</h2>
    <h3>The problems</h3>
    <p>The current NHS colour palette does not conform to <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">AAA WCAG guidelines 2.0</a> (including NHS blue).</p>
    <h3>Our thinking</h3>
    <p>Tweaking the colour palette will provide enough contrast between text and its background so that it can be read by people with moderately low vision.</p>
    <h3>Findings</h3>
    <p>User research plan TBC</p>
{% endblock %}
