{% extends 'includes/site-layout.html' %}

{% block body %}   
    <div class="govuk-o-width-container nhs-scale mobile">
        <main class="govuk-o-main-wrapper">

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <div class="nhs-page-heading">
                        <h1>Design decisions and findings</h1>
                        <p>NHS.UK re-design</p>
                    </div>
                </div>
            </div>
            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <div class="nhs-page-nav">
                        <h2 class="nhs-heading-xs">Page contents:</h2>
                        <ul>
                            <li><a href="#grid">Grid</a></li>
                            <li><a href="">Typography</a></li>
                            <li><a href="">Colours</a></li>
                            <li><a href="">Other</a></li>
                        </ul>
                    </div>                
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
                    <div class="nhs-page-content">
                        <h2>Grid</h2>
                        <h3>The problem</h3>
                        <h3>Our thinking</h3>
                        <h3>Findings</h3>

                        <h2>Typography</h2>
                        <h3>The problem</h3>
                        <h3>Our thinking</h3>
                        <h3>Findings</h3>
                        
                        <h2>Colours</h2>
                        <h3>The problem</h3>
                        <h3>Our thinking</h3>
                        <h3>Findings</h3>

                        <h2>Other</h2>
                        <h3>The problem</h3>
                        <h3>Our thinking</h3>
                        <h3>Findings</h3>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
