{% extends 'includes/site-layout.html' %}

{% block body %}
    <div class="govuk-o-width-container mobile">
        <main class="govuk-o-main-wrapper">

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <h1>NHS.UK elements</h1>
                    <p class="lead">This is a guide to NHS.UK website components.</p>
                </div>
            </div>

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2>Layout</h2>
                    <p>Page width, grid and spacing.</p>
                    <p><a href="/layout">View</a></p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2>Typography</h2>
                    <p>Headings, body text, links, lists.</p>
                    <p><a href="/typography">View</a></p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2>Colour</h2>
                    <p>Colour contrast, colour palettes.</p>
                    <p><a href="/colours">View</a></p>
                </div>
            </div>

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
                    <h2>Page examples</h2>
                    <ul>
                        <li><a href="page">Medicines example</a></li>
                        <li><a href="page-1">Behind the headlines example</a></li>
                        <li><a href="page-2">Conditions example</a></li>
                        <li><a href="page-3">Guides example</a></li>
                        <li><a href="page-7">Chlamydia re-design example</a></li>
                    </ul>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
                    <h2>Design decisions and findings</h2>
                    <p>Find out about our decisions and findings on things we have created <a href="decisions">here</a>.</p>
                    <p>We also have a Trello board collaborating on decisions with designers and developers across NHS.UK <a href="https://trello.com/b/uMdaerUp/standards-hitlist">here</a>.</p>
                    <p>All our code is on a public GitHub repository <a href="https://github.com/AdamChrimes/nhsuk-redesign.git">here</a>.</p>
                </div>
            </div>           
        </main>
    </div>
{% endblock %}
