{% set title = 'Home' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main class="nhs-home-page">
    <div class="nhs-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhs-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhs-page-heading">
                            <h1>NHS.UK redesign project</h1>
                            <p>Our latest progress and examples, including problems, decisions, findings and plans. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">

            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
                    <h2><a href="/styles/layout">Layout</a></h2>
                    <p>Page layout, grid, breakpoints and spacing.</p>
                    </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
                    <h2><a href="/styles/typography">Typography</a></h2>
                    <p>Headings, text, lists and links.</p>
                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
                    <h2><a href="/styles/colours">Colours</a></h2>
                    <p>Colour palette.</p>
                </div>
            </div>

            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <hr class="nhs-h-line">
                        <h2>Design &amp; development progress</h2>

                        <table class="progress-table">
                          <thead>
                            <tr>
                              <th>Component</th>
                              <th class="th__status">Status</th>
                              <th>Description</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td><a href="/styles/layout">Layout</a></td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                              <td>Page layout, grid, breakpoints and spacing.</td>
                            </tr>
                            <tr>
                              <td><a href="/styles/typography">Typography</a></td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                              <td>Headings, text, lists and links.</td>
                            </tr>
                            <tr>
                              <td><a href="/styles/colours">Colours</a></td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                              <td>Colour palettes.</td>
                            </tr>
                            <tr>
                              <td>Icons</td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                              <td>Iconography.</td>
                            </tr>
                            <tr>
                              <td>Header</td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                              <td>Header, navigation and search.</td>
                            </tr>
                            <tr>
                              <td>Footer</td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                              <td>Footer information and links.</td>
                            </tr>
                            <tr>
                              <td>Form elements</td>
                              <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                              <td>Inputs, buttons and feedback messages.</td>
                            </tr>
                            </tbody>
                          </table>

                    <div class="reading-width">
                        <p>You can also visit:</p>
                        <ul>
                            <li>our <a href="decisions">problems, decisions and findings</a> so far</li>
                            <li>our <a href="https://trello.com/b/uMdaerUp/standards-hitlist">Trello board</a>, for collaborating with NHS.UK designers and developers</li>
                            <li>the <a href="https://github.com/nhsuk/frontend.git">public GitHub repository</a> of our design code.</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
