{% set title = 'Home' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main class="nhs-home-page">
    <div class="nhs-hero">
        <div class="govuk-o-width-container">        
            <div class="govuk-o-main-wrapper nhs-hero-container">
                <div class="govuk-o-grid">
                    <div class="govuk-o-grid__item govuk-o-grid__item--full">
                        <div class="nhs-page-heading">
                            <h1>NHS.UK redesign project</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-o-width-container">
        <div class="govuk-o-main-wrapper">

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2><a href="/styles/layout">Layout</a></h2>
                    <p>Page width, grid and spacing.</p>
                    </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2><a href="/styles/typography">Typography</a></h2>
                    <p>Headings, body text, links and lists.</p>                    
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <h2><a href="/styles/colours">Colours</a></h2>
                    <p>Contrast and palettes.</p>                    
                </div>
            </div>

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <hr class="nhs-h-line">
                    <div class="reading-width">
                        <h2>Design progress</h2>
                        <p>You can visit:</p>
                        <ul>
                            <li>our <a href="decisions">problems, decisions and findings</a> so far</li>
                            <li>our <a href="https://trello.com/b/uMdaerUp/standards-hitlist">Trello board</a>, for collaborating with NHS.UK designers and developers</li>
                            <li>the <a href="https://github.com/nhsuk/frontend.git">public GitHub repository</a> of our design code.</p></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <hr class="nhs-h-line">
                    <h2 id="test-pages">Page examples</h2>
                    <ul>
                        
                        <li><a href="examples/page-1">Behind the headlines</a>: 'No evidence the 5:2 diet prevents heart disease'</li>
                        <li><a href="examples/page-4">Chlamydia</a>: multi-page condition</li>
                        <li><a href="examples/page-2">Conditions</a>: 'Overactive thyroid (hyperthyroidism)'</li>
                        <li><a href="examples/page-3">Guides</a>: 'Your pregnancy and baby guide'</li>
                        </li>
                        <li><a href="examples/page">Medicines</a>: 'Buscopan (hyoscine butylbromide)'</li>
                    </ul>
                </div>
            </div>           
        </div>
    </div>
</main>
{% endblock %}
