{% extends 'includes/site-layout.html' %}

{% block body %}
    <div class="govuk-o-width-container">
        <main class="govuk-o-main-wrapper">
        <a href="/" class="nhsuk-logo"><img src="https://beta.nhs.uk/medicines/assets/images/logotype-nhs-colour__reverse.png"></a>

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <h1>Layout</h1>
                    <p>NHS.UK re-design</p>
                    
                    <h3>Page width</h3>
                    <p>The default maximum page width is 1020px, lines of text should be no longer than 70 to 80 characters.</p>
                </div>
            </div>

            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <h3>Grid</h3>
                    <p>NHS.UK uses GOV.UK grid.</p>
                    <p>Breakpoints:</p>
                    <ul>
                      <li>mobile:  320px</li>
                      <li>tablet:  641px</li>
                      <li>desktop: 769px</li>
                    </ul>
                    <p><a href="https://govuk-design-system-production.cloudapps.digital/styles/layout/">GOV.UK grid documentation.</a></p>
                </div>
            </div>            

            <div class="govuk-o-grid nhsuk-grid-example">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <p>govuk-o-grid__item--full</p>
                </div>
            </div>

            <div class="govuk-o-grid nhsuk-grid-example">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
                    <p>govuk-o-grid__item--one-half</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
                    <p>govuk-o-grid__item--one-half</p>
                </div>
            </div>

            <div class="govuk-o-grid nhsuk-grid-example">
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
                    <p>govuk-o-grid__item--two-thirds</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <p>govuk-o-grid__item--one-third</p>
                </div>
            </div>

            <div class="govuk-o-grid nhsuk-grid-example">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <p>govuk-o-grid__item--one-third</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
                    <p>govuk-o-grid__item--two-thirds</p>
                </div>
            </div>

            <div class="govuk-o-grid nhsuk-grid-example">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                    <p>govuk-o-grid__item--one-quarter</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                    <p>govuk-o-grid__item--one-quarter</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                    <p>govuk-o-grid__item--one-quarter</p>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
                    <p>govuk-o-grid__item--one-quarter</p>
                </div>
            </div>

        </main>
    </div>
{% endblock %}