{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Typography</h1>
        <p>NHS.UK re-design</p>

        <h1>h1. The quick brown fox jumps over the lazy dog</h1>
        <h2>h2. The quick brown fox jumps over the lazy dog</h2>
        <h3>h3. The quick brown fox jumps over the lazy dog</h3>
        <h4>h4. The quick brown fox jumps over the lazy dog</h4>
        <h5>h5. The quick brown fox jumps over the lazy dog</h5>
        <p>p. The quick brown fox jumps over the lazy dog</p>
        <ul>
          <li>ul li. The quick brown fox jumps over the lazy dog</li>
          <li>ul li. The quick brown fox jumps over the lazy dog</li>
          <li>ul li. The quick brown fox jumps over the lazy dog</li>
        </ul>
        <ol>
          <li>ol li. The quick brown fox jumps over the lazy dog</li>
          <li>ol li. The quick brown fox jumps over the lazy dog</li>
          <li>ol li. The quick brown fox jumps over the lazy dog</li>
        </ol>
        <p><a href="#squares">a. The quick brown fox jumps over the lazy dog</a></p>
        <p><a href="http://www.bbc.co.uk/sport" target="_blank" class="external">a.external The quick brown fox jumps over the lazy dog (external)</a></p>
      </div>
    </div>
  </div>
{% endblock %}
