{% extends 'includes/site-layout.html' %}

{% block body %}
    <div class="govuk-o-width-container mobile">        
        <main class="govuk-o-main-wrapper">
            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">

                    <div class="nhs-page-heading">
                        <h1><span class="nhs-caption-xl">NHS.UK re-design</span>Typography</h1>
                    </div>

                    <h2 class"nhs-m-t-0">Headings</h2>
                    <div class="example">
                        <h1 class="nhs-heading-xl">nhs-heading-xl</h1>
                        <h2 class="nhs-heading-l">nhs-heading-l</h2>
                        <h3 class="nhs-heading-m">nhs-heading-m</h3>
                        <h4 class="nhs-heading-s">nhs-heading-s</h4>
                        <h5 class="nhs-heading-xs">nhs-heading-xs</h5>
                    </div>

                    <h2>Paragraphs</h2>
                    <h3>Body paragraph</h3>
                    <div class="example">
                        <p class="nhs-body">Body copy</p>
                    </div>
                    <h3>Lead paragraph</h3>
                    <div class="example">
                        <p class="nhs-body-l">Lead paragraph</p>
                    </div>
                    <h3>Body small</h3>
                    <div class="example">
                        <p class="nhs-body-s">Body small</p>
                    </div>

                    <h2>Lists</h2>
                    
                    <h3>Bulleted list</h3>
                    <div class="example">
                        <ul class="nhs-list nhs-list-bullet">
                            <li>national</li>
                            <li>health</li>
                            <li>service</li>
                        </ul>
                    </div>
                    <h3>Numbered list</h3>
                    <div class="example">
                        <ol class="nhs-list nhs-list-number">
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ol>
                    </div>

                    <h2>Links</h2>
                    <div class="example">
                        <p><a href="#squares">The quick brown fox jumps over the lazy dog</a></p>
                        <p><a href="https://www.gov.uk/" target="_blank" class="external">The quick brown fox jumps over the lazy dog (external)</a></p>
                    </div>

                </div>
            </div>
        </main>
    </div>
{% endblock %}
