


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image xlink:href="" src="https://assets.nhs.uk/images/nhs-logo-white.png"></image>
        </svg>
        
      </a>
    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="button">Button</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/203">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="button">Button</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/index.html">Preview the button component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; class=&quot;nhsuk-button&quot;&gt;
  Save and continue
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Save and continue&quot;
}) }}</code></pre><h3 id="button-disabled">Button disabled</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/disabled.html">Preview the button disabled component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; disabled=&quot;disabled&quot; aria-disabled=&quot;true&quot; class=&quot;nhsuk-button nhsuk-button--disabled&quot;&gt;
  Disabled button
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Disabled button&quot;,
  &quot;disabled&quot;: true
}) }}</code></pre><h3 id="button-secondary">Button secondary</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/secondary.html">Preview the button secondary component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; class=&quot;nhsuk-button nhsuk-button--secondary&quot;&gt;
  Save and continue
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Find my location&quot;,
  &quot;classes&quot;: &quot;nhsuk-button--secondary&quot;
}) }}</code></pre><h3 id="button-secondary-disabled">Button secondary disabled</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/secondary-disabled.html">Preview the button secondary disabled component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; class=&quot;nhsuk-button nhsuk-button--secondary nhsuk-button--disabled&quot;&gt;
  Find my location
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Find my location&quot;,
  &quot;classes&quot;: &quot;nhsuk-button--secondary&quot;,
  &quot;disabled&quot;: true
}) }}</code></pre><h3 id="button-reverse">Button reverse</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/reverse.html">Preview the button reverse component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; class=&quot;nhsuk-button nhsuk-button--reverse&quot;&gt;
  Save and continue
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Save and continue&quot;,
  &quot;classes&quot;: &quot;nhsuk-button--reverse&quot;
}) }}</code></pre><h3 id="button-reverse-disabled">Button reverse disabled</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/button/reverse-disabled.html">Preview the button reverse disabled component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;button type=&quot;submit&quot; class=&quot;nhsuk-button nhsuk-button--reverse nhsuk-button--disabled&quot;&gt;
  Save and continue
&lt;/button&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/button/macro.njk&#39; import button %}

{{ button({
  &quot;text&quot;: &quot;Save and continue&quot;,
  &quot;classes&quot;: &quot;nhsuk-button--reverse&quot;,
  &quot;disabled&quot;: true
}) }}</code></pre><h2 id="nunjucks-arguments">Nunjucks arguments</h2>
<p>If you are using Nunjucks, then macros take the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>element</strong></td>
<td>string</td>
<td>No</td>
<td>Whether to use an <code>input</code>, <code>button</code> or <code>a</code> element to create the button. In most cases you will not need to set this as it will be configured automatically if you use <code>href</code> or <code>html</code>.</td>
</tr>
<tr>
<td><strong>text (or) html</strong></td>
<td>string</td>
<td>Yes</td>
<td>Text or HTML for the button or link. If <code>html</code> is provided, the <code>text</code> argument will be ignored and <code>element</code> will be automatically set to <code>button</code> unless <code>href</code> is also set, or it has already been defined. This argument has no effect if <code>element</code> is set to <code>input</code>.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>Name for the <code>input</code> or <code>button</code>. This has no effect on <code>a</code> elements.</td>
</tr>
<tr>
<td><strong>type</strong></td>
<td>string</td>
<td>Yes</td>
<td>Type of <code>input</code> or <code>button</code> – <code>button</code>, <code>submit</code> or <code>reset</code>. Defaults to <code>submit</code>. This has no effect on <code>a</code> elements.</td>
</tr>
<tr>
<td><strong>value</strong></td>
<td>string</td>
<td>Yes</td>
<td>Value for the <code>button</code> tag. This has no effect on <code>a</code> or <code>input</code> elements.</td>
</tr>
<tr>
<td><strong>disabled</strong></td>
<td>boolean</td>
<td>No</td>
<td>Whether the button should be disabled. For button and input elements, <code>disabled</code> and <code>aria-disabled</code> attributes will be set automatically.</td>
</tr>
<tr>
<td><strong>href</strong></td>
<td>string</td>
<td>No</td>
<td>The URL that the button should link to. If this is set, <code>element</code> will be automatically set to <code>a</code> if it has not already been defined.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the button element. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the textarea tag.</td>
</tr>
</tbody></table>
<h2 id="thanks-to-the-government-digital-service-gds-">Thanks to the Government Digital Service (GDS)</h2>
<p>This component and documentation has been taken from <a href="https://github.com/alphagov/govuk-frontend/tree/master/package/components/button">GOV.UK Frontend - Button component</a> with a few minor adaptations.</p>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK Frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
