@import url("https://assets.nhs.uk/fonts/nhsuk-fonts-1.3.0.css");
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: inherit;
  font-weight: 600;
  margin-bottom: 0; }

h1,
.nhsuk-heading-xl {
  font-size: 2em;
  line-height: 36px;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    h1,
    .nhsuk-heading-xl {
      font-size: 2.52632em;
      line-height: 56px;
      margin: 64px 0 0; } }

h2,
.nhsuk-heading-l {
  font-size: 1.5em;
  line-height: 32px;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    h2,
    .nhsuk-heading-l {
      font-size: 1.68421em;
      line-height: 40px;
      margin: 72px 0 0; } }

h3,
.nhsuk-heading-m {
  font-size: 1.25em;
  line-height: 28px;
  margin: 36px 0 0; }
  @media (min-width: 40.0625em) {
    h3,
    .nhsuk-heading-m {
      font-size: 1.26316em;
      line-height: 32px;
      margin: 44px 0 0; } }

h4,
.nhsuk-heading-s {
  font-size: 1.125em;
  line-height: 28px;
  margin: 32px 0 0; }
  @media (min-width: 40.0625em) {
    h4,
    .nhsuk-heading-s {
      font-size: 1.15789em;
      line-height: 32px;
      margin: 36px 0 0; } }

h5,
.nhsuk-heading-xs {
  font-size: 1em;
  line-height: 28px;
  margin: 28px 0 0; }
  @media (min-width: 40.0625em) {
    h5,
    .nhsuk-heading-xs {
      font-size: 1em;
      line-height: 28px;
      margin: 32px 0 0; } }

p,
.nhsuk-body {
  font-weight: 400;
  margin: 24px 0 0; }
  @media (min-width: 40.0625em) {
    p,
    .nhsuk-body {
      margin: 28px 0 0; } }

.nhsuk-body-l {
  font-size: 1.25em;
  line-height: 28px;
  margin: 24px 0 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-body-l {
      font-size: 1.26316em;
      line-height: 32px;
      margin: 32px 0 0; } }

.nhsuk-body-s {
  font-size: 0.875em;
  line-height: 24px;
  margin: 16px 0 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-body-s {
      font-size: 0.84211em;
      line-height: 28px;
      margin: 20px 0 0; } }

a {
  color: #0058AD;
  cursor: pointer; }
  a:focus {
    background: #FFB81C;
    box-shadow: 0 0 0 4px #FFB81C;
    color: #212B32;
    outline: 0; }
  a:hover {
    background: #FFCD60;
    box-shadow: 0 0 0 4px #FFCD60;
    color: #212B32;
    text-decoration: none; }
  a:active {
    background: #FFBF33;
    box-shadow: 0 0 0 4px #FFBF33;
    color: #374047; }
  a:visited {
    color: #330072; }

ul,
ol {
  font-weight: 400;
  margin: 24px 0 0;
  padding-left: 20px; }
  @media (min-width: 40.0625em) {
    ul,
    ol {
      margin: 28px 0 0; } }
  ul li,
  ol li {
    margin: 8px 0 0; }
    @media (min-width: 40.0625em) {
      ul li,
      ol li {
        margin: 12px 0 0; } }
    ul li:first-child,
    ol li:first-child {
      margin-top: 0; }

tr,
th {
  font-weight: 400; }

strong {
  font-weight: 600; }

.nhsuk-page-heading {
  padding: 25px 0 40px; }
  @media (min-width: 40.0625em) {
    .nhsuk-page-heading {
      padding: 34px 0 64px; } }
  .nhsuk-page-heading h1 {
    margin: 0; }

.nhsuk-page-nav > *:first-child {
  margin-top: 0; }

@media (max-width: 40.0525em) {
  .nhsuk-page-nav {
    margin-bottom: 44px; } }

.nhsuk-page-nav h2 + ol,
.nhsuk-page-nav h2 + ul,
.nhsuk-page-nav h3 + ol,
.nhsuk-page-nav h3 + ul {
  margin-top: 8px; }
  @media (min-width: 40.0625em) {
    .nhsuk-page-nav h2 + ol,
    .nhsuk-page-nav h2 + ul,
    .nhsuk-page-nav h3 + ol,
    .nhsuk-page-nav h3 + ul {
      margin-top: 12px; } }

@media (max-width: 40.0525em) {
  .nhsuk-sticky {
    position: sticky;
    top: 40px; } }

.nhsuk-page-content > *:first-child {
  margin-top: 0; }

hr.nhsuk-h-line {
  border: 0;
  border-top: 1px solid #CED4D6;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    hr.nhsuk-h-line {
      margin: 72px 0 0; } }

.reading-width {
  max-width: 37em; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: inherit;
  font-weight: 600;
  margin-bottom: 0; }

h1,
.nhsuk-heading-xl {
  font-size: 2em;
  line-height: 36px;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    h1,
    .nhsuk-heading-xl {
      font-size: 2.52632em;
      line-height: 56px;
      margin: 64px 0 0; } }

h2,
.nhsuk-heading-l {
  font-size: 1.5em;
  line-height: 32px;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    h2,
    .nhsuk-heading-l {
      font-size: 1.68421em;
      line-height: 40px;
      margin: 72px 0 0; } }

h3,
.nhsuk-heading-m {
  font-size: 1.25em;
  line-height: 28px;
  margin: 36px 0 0; }
  @media (min-width: 40.0625em) {
    h3,
    .nhsuk-heading-m {
      font-size: 1.26316em;
      line-height: 32px;
      margin: 44px 0 0; } }

h4,
.nhsuk-heading-s {
  font-size: 1.125em;
  line-height: 28px;
  margin: 32px 0 0; }
  @media (min-width: 40.0625em) {
    h4,
    .nhsuk-heading-s {
      font-size: 1.15789em;
      line-height: 32px;
      margin: 36px 0 0; } }

h5,
.nhsuk-heading-xs {
  font-size: 1em;
  line-height: 28px;
  margin: 28px 0 0; }
  @media (min-width: 40.0625em) {
    h5,
    .nhsuk-heading-xs {
      font-size: 1em;
      line-height: 28px;
      margin: 32px 0 0; } }

p,
.nhsuk-body {
  font-weight: 400;
  margin: 24px 0 0; }
  @media (min-width: 40.0625em) {
    p,
    .nhsuk-body {
      margin: 28px 0 0; } }

.nhsuk-body-l {
  font-size: 1.25em;
  line-height: 28px;
  margin: 24px 0 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-body-l {
      font-size: 1.26316em;
      line-height: 32px;
      margin: 32px 0 0; } }

.nhsuk-body-s {
  font-size: 0.875em;
  line-height: 24px;
  margin: 16px 0 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-body-s {
      font-size: 0.84211em;
      line-height: 28px;
      margin: 20px 0 0; } }

a {
  color: #0058AD;
  cursor: pointer; }
  a:focus {
    background: #FFB81C;
    box-shadow: 0 0 0 4px #FFB81C;
    color: #212B32;
    outline: 0; }
  a:hover {
    background: #FFCD60;
    box-shadow: 0 0 0 4px #FFCD60;
    color: #212B32;
    text-decoration: none; }
  a:active {
    background: #FFBF33;
    box-shadow: 0 0 0 4px #FFBF33;
    color: #374047; }
  a:visited {
    color: #330072; }

ul,
ol {
  font-weight: 400;
  margin: 24px 0 0;
  padding-left: 20px; }
  @media (min-width: 40.0625em) {
    ul,
    ol {
      margin: 28px 0 0; } }
  ul li,
  ol li {
    margin: 8px 0 0; }
    @media (min-width: 40.0625em) {
      ul li,
      ol li {
        margin: 12px 0 0; } }
    ul li:first-child,
    ol li:first-child {
      margin-top: 0; }

tr,
th {
  font-weight: 400; }

strong {
  font-weight: 600; }

.nhsuk-page-heading {
  padding: 25px 0 40px; }
  @media (min-width: 40.0625em) {
    .nhsuk-page-heading {
      padding: 34px 0 64px; } }
  .nhsuk-page-heading h1 {
    margin: 0; }

.nhsuk-page-nav > *:first-child {
  margin-top: 0; }

@media (max-width: 40.0525em) {
  .nhsuk-page-nav {
    margin-bottom: 44px; } }

.nhsuk-page-nav h2 + ol,
.nhsuk-page-nav h2 + ul,
.nhsuk-page-nav h3 + ol,
.nhsuk-page-nav h3 + ul {
  margin-top: 8px; }
  @media (min-width: 40.0625em) {
    .nhsuk-page-nav h2 + ol,
    .nhsuk-page-nav h2 + ul,
    .nhsuk-page-nav h3 + ol,
    .nhsuk-page-nav h3 + ul {
      margin-top: 12px; } }

@media (max-width: 40.0525em) {
  .nhsuk-sticky {
    position: sticky;
    top: 40px; } }

.nhsuk-page-content > *:first-child {
  margin-top: 0; }

hr.nhsuk-h-line {
  border: 0;
  border-top: 1px solid #CED4D6;
  margin: 48px 0 0; }
  @media (min-width: 40.0625em) {
    hr.nhsuk-h-line {
      margin: 72px 0 0; } }

.reading-width {
  max-width: 37em; }

* {
  box-sizing: border-box; }

html,
html * {
  font-family: "Frutiger W01"; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #E8EDEE;
  color: #212B32; }

body {
  background-color: #E8EDEE;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 80px; }
  @media (min-width: 40.0625em) {
    body {
      font-size: 19px;
      line-height: 28px; } }

.nhsuk-o-grid {
  margin-left: -15px;
  margin-right: -15px; }
  .nhsuk-o-grid:after {
    clear: both;
    content: '';
    display: block; }

.nhsuk-o-grid__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .nhsuk-o-grid__item {
      float: left; } }

.nhsuk-o-grid__item--full {
  width: 100%; }

@media (min-width: 40.0625em) {
  .nhsuk-o-grid__item--one-half {
    width: 50%; } }

@media (min-width: 40.0625em) {
  .nhsuk-o-grid__item--one-third {
    width: 33.33333%; } }

@media (min-width: 40.0625em) {
  .nhsuk-o-grid__item--two-thirds {
    width: 66.66667%; } }

@media (min-width: 40.0625em) {
  .nhsuk-o-grid__item--one-quarter {
    width: 25%; } }

.nhsuk-o-main-wrapper {
  padding: 15px 0; }
  @media (min-width: 40.0625em) {
    .nhsuk-o-main-wrapper {
      padding: 30px 0; } }

.nhsuk-o-width-container {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 40.0625em) {
    .nhsuk-o-width-container {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    .nhsuk-o-width-container {
      margin: 0 auto; } }

.govuk-\!-width-three-quarters {
  width: 100% !important; }
  @media (min-width: 40.0625em) {
    .govuk-\!-width-three-quarters {
      width: 75% !important; } }

.govuk-\!-width-two-thirds {
  width: 100% !important; }
  @media (min-width: 40.0625em) {
    .govuk-\!-width-two-thirds {
      width: 66.66% !important; } }

.govuk-\!-width-one-half {
  width: 100% !important; }
  @media (min-width: 40.0625em) {
    .govuk-\!-width-one-half {
      width: 50% !important; } }

.govuk-\!-width-one-third {
  width: 100% !important; }
  @media (min-width: 40.0625em) {
    .govuk-\!-width-one-third {
      width: 33.33% !important; } }

.govuk-\!-width-one-quarter {
  width: 100% !important; }
  @media (min-width: 40.0625em) {
    .govuk-\!-width-one-quarter {
      width: 25% !important; } }

.nhsuk-global-header {
  background: #0058AD; }
  .nhsuk-global-header:after {
    clear: both;
    content: '';
    display: block; }
  .nhsuk-global-header__logo {
    float: left;
    padding: 20px 0; }
    .nhsuk-global-header__logo a {
      display: block;
      height: 40px;
      width: 99px; }
      .nhsuk-global-header__logo a img {
        height: 40px;
        width: 99px; }
  .nhsuk-global-header__menusearch {
    float: right; }
  .nhsuk-global-header__menu {
    float: left;
    margin: 20px; }
    @media (min-width: 61.875em) {
      .nhsuk-global-header__menu {
        display: none; } }
    .nhsuk-global-header__menu .menu-toggle {
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      color: #FFFFFF;
      display: block;
      font-size: 19px;
      line-height: 28px;
      padding: 5px 15px;
      text-decoration: none; }
      .nhsuk-global-header__menu .menu-toggle:hover, .nhsuk-global-header__menu .menu-toggle:focus {
        background: #203E78;
        box-shadow: none; }
  @media (min-width: 40.0625em) {
    .nhsuk-global-header .search-toggle,
    .nhsuk-global-header .search-close {
      display: none; }
    .nhsuk-global-header__search {
      background: #FFFFFF;
      border: 1px solid #0058AD;
      border-radius: 4px;
      float: left;
      margin: 19px 0; }
      .nhsuk-global-header__search .c-search__input {
        -webkit-appearance: none;
        border: 1px solid #FFFFFF;
        font-size: inherit;
        margin-left: 2px;
        min-height: 38px;
        padding: 0 15px 0 13px; }
      .nhsuk-global-header__search .c-search__submit {
        background: url(/images/icon-search-small-blue.svg) center no-repeat;
        border: 0;
        border-left: 2px solid #0058AD;
        font-size: inherit;
        line-height: inherit;
        min-height: 40px;
        padding: 0 20px;
        text-indent: -9999px; }
        .nhsuk-global-header__search .c-search__submit:hover, .nhsuk-global-header__search .c-search__submit:focus {
          background: #203E78 url(/images/icon-search-small-white.svg) center no-repeat; } }
  @media (max-width: 40.0525em) {
    .nhsuk-global-header .search-container {
      display: none;
      width: 100%; }
      .nhsuk-global-header .search-container.js-show {
        display: flex; }
    .nhsuk-global-header .c-search {
      flex-grow: 2;
      padding: 15px 0 15px 15px;
      text-align: left; }
      .nhsuk-global-header .c-search__container {
        border: 1px solid #CED4D6;
        border-radius: 4px; }
      .nhsuk-global-header .c-search__input {
        -webkit-appearance: none;
        border: 0;
        flex-grow: 2;
        font-size: inherit;
        margin: 1px;
        padding: 10px;
        width: 75%; }
      .nhsuk-global-header .c-search__submit {
        background: #007F3B url(/images/icon-search-large.svg) center no-repeat;
        border: 0;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        cursor: pointer;
        float: right;
        font-size: inherit;
        line-height: inherit;
        min-height: 42px;
        padding: 0 24px;
        text-indent: -9999px; }
        .nhsuk-global-header .c-search__submit:hover, .nhsuk-global-header .c-search__submit:focus {
          background: #203E78 url(/images/icon-search-small-white.svg) center no-repeat; }
    .nhsuk-global-header .nhsuk-global-header__menu {
      display: inline-block;
      float: none; }
      .nhsuk-global-header .nhsuk-global-header__menu:after {
        clear: both;
        content: '';
        display: block; }
    .nhsuk-global-header .nhsuk-global-header__search {
      background: #FFFFFF;
      display: flex;
      margin-left: -15px;
      margin-right: -15px; }
      .nhsuk-global-header .nhsuk-global-header__search:after {
        clear: both;
        content: '';
        display: block; }
    .nhsuk-global-header .nhsuk-global-header__menusearch {
      float: none;
      text-align: right; }
      .nhsuk-global-header .nhsuk-global-header__menusearch:after {
        clear: both;
        content: '';
        display: block; }
    .nhsuk-global-header .search-toggle__button {
      background: url(/images/icon-search-small-white.svg) center no-repeat;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      margin: 20px 0;
      min-height: 40px;
      padding: 5px 22px;
      position: absolute;
      right: 15px;
      text-align: left;
      text-indent: -9999px;
      top: 0; }
      .nhsuk-global-header .search-toggle__button:hover, .nhsuk-global-header .search-toggle__button:focus {
        background-color: #203E78;
        box-shadow: none; }
    .nhsuk-global-header .menu-toggle {
      margin-right: 40px; }
    .nhsuk-global-header .search-close-link {
      background: url(/images/icon-close.svg) center no-repeat;
      cursor: pointer;
      display: block;
      float: right;
      height: 26px;
      margin-left: 15px;
      margin-right: 23px;
      margin-top: 25px;
      text-align: left;
      text-indent: -9999px;
      width: 26px; } }

@media (max-width: 61.865em) {
  .c-nav-primary {
    background: #FFFFFF;
    display: none; }
    .c-nav-primary.js-show {
      display: block; }
    .c-nav-primary .nhsuk-o-width-container {
      margin: 0; }
    .c-nav-primary__title {
      font-weight: 600;
      margin: 0;
      padding: 12px 38px 12px 30px; } }
    @media (max-width: 61.865em) and (max-width: 40.0525em) {
      .c-nav-primary__title {
        margin: 0 24px 0 0;
        padding: 12px 0 12px 15px; } }

@media (max-width: 61.865em) {
      .c-nav-primary__title .js-menu-close {
        background: url(/images/icon-close.svg) center no-repeat;
        float: right;
        height: 26px;
        text-indent: -9999px;
        width: 26px; }
    .c-nav-primary__list {
      list-style: none;
      margin: 0;
      padding: 0; }
    .c-nav-primary__item {
      border-top: 1px solid #E8EDEE;
      margin: 0; }
    .c-nav-primary__link {
      background: url(/images/icon-arrow-right.svg) right no-repeat;
      color: #0058AD;
      display: block;
      margin-right: 30px;
      padding: 12px 30px;
      text-decoration: none; } }
    @media (max-width: 61.865em) and (max-width: 40.0525em) {
      .c-nav-primary__link {
        margin-right: 15px;
        padding: 12px 15px; } }

@media (max-width: 61.865em) {
      .c-nav-primary__link:visited {
        color: #0058AD; }
      .c-nav-primary__link:hover {
        background: url(/images/icon-arrow-right.svg) right no-repeat;
        box-shadow: none;
        text-decoration: underline; }
      .c-nav-primary__link:focus {
        box-shadow: none;
        color: #212B32;
        text-decoration: underline; } }

@media (min-width: 61.875em) {
  .c-nav-primary {
    background: #0058AD; }
    .c-nav-primary:after {
      clear: both;
      content: '';
      display: block; }
    .c-nav-primary__title {
      display: none; }
    .c-nav-primary__list {
      border-top: 1px solid #5A80C0;
      display: table;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%; }
    .c-nav-primary__item {
      display: table-cell;
      text-align: center; }
    .c-nav-primary__link {
      color: #FFFFFF;
      display: block;
      padding: 15px;
      text-decoration: none; }
      .c-nav-primary__link:visited {
        color: #FFFFFF; }
      .c-nav-primary__link:hover, .c-nav-primary__link:focus {
        background: #FFFFFF;
        box-shadow: none;
        color: #0058AD; } }

.nhsuk-hero {
  background-color: #0058AD;
  color: #FFFFFF; }
  .nhsuk-hero .nhsuk-hero-container {
    border-top: 1px solid #FFFFFF; }
    .nhsuk-hero .nhsuk-hero-container.nhsuk-o-main-wrapper {
      padding: 0; }
    .nhsuk-hero .nhsuk-hero-container .nhsuk-page-heading {
      margin: 0;
      padding: 40px 0; }
      @media (min-width: 40.0625em) {
        .nhsuk-hero .nhsuk-hero-container .nhsuk-page-heading {
          padding: 60px 0; } }

.care-card {
  margin: 40px 0;
  width: 100%; }
  @media (min-width: 40.0625em) {
    .care-card {
      margin: 56px 0; } }
  .care-card .care-card-heading {
    background: #0058AD;
    color: #FFFFFF;
    padding: 16px;
    position: relative; }
    @media (min-width: 40.0625em) {
      .care-card .care-card-heading {
        padding: 16px 24px; } }
    .care-card .care-card-heading:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #0058AD;
      bottom: -16px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0; }
    .care-card .care-card-heading h2,
    .care-card .care-card-heading h3,
    .care-card .care-card-heading h4,
    .care-card .care-card-heading h5 {
      margin: 0; }
  .care-card .care-card-content {
    background: #FFFFFF;
    padding: 32px 16px 24px; }
    @media (min-width: 40.0625em) {
      .care-card .care-card-content {
        padding: 36px 24px 28px; } }
    .care-card .care-card-content > *:first-child {
      margin-top: 0; }
  .care-card.grey .care-card-heading {
    background: #425462; }
    .care-card.grey .care-card-heading:after {
      border-top: 16px solid #425462;
      content: ''; }
  .care-card.blue .care-card-heading {
    background: #0058AD; }
    .care-card.blue .care-card-heading:after {
      border-top: 16px solid #0058AD;
      content: ''; }
  .care-card.red .care-card-heading {
    background: #AD1F19; }
    .care-card.red .care-card-heading:after {
      border-top: 16px solid #AD1F19;
      content: ''; }
  .care-card.black .care-card-heading {
    background: #AD1F19; }
    .care-card.black .care-card-heading:after {
      border-top: 16px solid #AD1F19;
      content: ''; }
  .care-card.black .care-card-content {
    background: #AD1F19;
    color: #FFFFFF; }
