{% set title = 'Expander' %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/tables/macro.njk' import table %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% call details({
        "summaryText": "Opening times",
        "classes": "nhsuk-expander"
      }) %}
        {{ table({
          firstCellIsHeader: true,
          head: [
            {
              text: "Day of the week"
            },
            {
              text: "Opening hours"
            }
          ],
          rows: [
            [
              {
                text: "Monday"
              },
              {
                text: "9am to 6pm"
              }
            ],
            [
              {
                text: "Tuesday"
              },
              {
                text: "9am to 6pm"
              }
            ],
            [
              {
                text: "Wednesday"
              },
              {
                text: "9am to 6pm"
              }
            ],
            [
              {
                text: "Thursday"
              },
              {
                text: "9am to 6pm"
              }
            ],
            [
              {
                text: "Friday"
              },
              {
                text: "9am to 6pm"
              }
            ],
            [
              {
                text: "Saturday"
              },
              {
                text: "9am to 1pm"
              }
            ],
            [
              {
                text: "Sunday"
              },
              {
                text: "Closed"
              }
            ]
          ]
        }) }}
      {% endcall %}
    </div>
  </div>
{% endblock %}
