{% set title = 'Details' %}
{% from 'components/details/macro.njk' import details %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% call details({
        "summaryText": "Where can I find my NHS number?"
      }) %}
        <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
        <p>You can find your NHS number on any document sent to you by the NHS. This may include:</p>
        <ul>
          <li>prescriptions</li>
          <li>test results</li>
          <li>hospital referral letters</li>
          <li>appointment letters</li>
          <li>your NHS medical card</li>
        </ul>
        <p>Ask your GP practice for help if you can't find your NHS number.</p>
      {% endcall %}

    </div>
  </div>
{% endblock %}
