{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hero with image' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

{{ hero({
  "imageURL": "https://assets.nhs.uk/prod/images/S_0818_homepage_hero_1_F0147446.width-1000.jpg"
}) }}

{% endblock %}
