{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hero with image and content' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

  {{ hero({
    "heading": "We’re here for you",
    "text": "Helping you take control of your health and wellbeing.",
    "imageURL": "https://assets.nhs.uk/prod/images/S_0818_homepage_hero_1_F0147446.width-1000.jpg"
  }) }}

{% endblock %}
