


<!DOCTYPE html>
<html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Date input - NHS.UK frontend</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://nhsuk.github.io/nhsuk-frontend/">
    <meta property="og:title" content="NHS.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for NHS websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/nhsuk-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="NHS">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          




  
<div class="nhsuk-form-group">
<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
  <legend class="nhsuk-fieldset__legend">
    What is your date of birth?
  </legend>
<div class="nhsuk-hint" id="dob-hint">
    For example, 31 3 1980
  </div>


  <div class="nhsuk-date-input" id="dob">
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
          Day
        </label>
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
          Month
        </label>
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
          Year
        </label>
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div></div></fieldset>


</div>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
