


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - </title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/favicon.png" rel="icon">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="https://www.nhs.uk" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
        
      </a>
    </div>

    

      

    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="date-input">Date input</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/217">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="date-input">Date input</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/date-input/index.html">Preview the date input component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;dob-hint&quot; role=&quot;group&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      What is your date of birth?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;dob-hint&quot;&gt;
    For example, 31 3 1980
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-date-input&quot; id=&quot;dob&quot;&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-day&quot;&gt;
          Day
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2&quot; id=&quot;dob-day&quot; name=&quot;dob-day&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-month&quot;&gt;
          Month
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2&quot; id=&quot;dob-month&quot; name=&quot;dob-month&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-year&quot;&gt;
          Year
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-4&quot; id=&quot;dob-year&quot; name=&quot;dob-year&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/date-input/macro.njk&#39; import dateInput %}

{{ dateInput({
  &quot;id&quot;: &quot;dob&quot;,
  &quot;namePrefix&quot;: &quot;dob&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;What is your date of birth?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;For example, 31 3 1980&quot;
  },
  &quot;items&quot;: [
    {
      &quot;name&quot;: &quot;day&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2&quot;
    },
    {
      &quot;name&quot;: &quot;month&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2&quot;
    },
    {
      &quot;name&quot;: &quot;year&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-4&quot;
    }
  ]
}) }}</code></pre><h3 id="date-input-with-errors">Date input with errors</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/date-input/multiple-errors.html">Preview the date input with errors component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group nhsuk-form-group--error&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;dob-errors-hint dob-errors-error&quot; role=&quot;group&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      What is your date of birth?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;dob-errors-hint&quot;&gt;
    For example, 31 3 1980
    &lt;/span&gt;
    &lt;span id=&quot;dob-errors-error&quot; class=&quot;nhsuk-error-message&quot;&gt;
    Error message goes here
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-date-input&quot; id=&quot;dob-errors&quot;&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-errors-day&quot;&gt;
          Day
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error&quot; id=&quot;dob-errors-day&quot; name=&quot;day&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-errors-month&quot;&gt;
          Month
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error&quot; id=&quot;dob-errors-month&quot; name=&quot;month&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-errors-year&quot;&gt;
          Year
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 nhsuk-input--error&quot; id=&quot;dob-errors-year&quot; name=&quot;year&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/date-input/macro.njk&#39; import dateInput %}

{{ dateInput({
  &quot;id&quot;: &quot;dob-errors&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;What is your date of birth?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;For example, 31 3 1980&quot;
  },
  &quot;errorMessage&quot;: {
    &quot;text&quot;: &quot;Error message goes here&quot;
  },
  &quot;items&quot;: [
    {
      &quot;name&quot;: &quot;day&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2 nhsuk-input--error&quot;
    },
    {
      &quot;name&quot;: &quot;month&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2 nhsuk-input--error&quot;
    },
    {
      &quot;name&quot;: &quot;year&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-4 nhsuk-input--error&quot;
    }
  ]
}) }}</code></pre><h3 id="date-input-with-error-on-single-input">Date input with error on single input</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/date-input/error.html">Preview the date input with error on single input component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group nhsuk-form-group--error&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;dob-day-error-hint dob-day-error-error&quot; role=&quot;group&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      What is your date of birth?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;dob-day-error-hint&quot;&gt;
    For example, 31 3 1980
    &lt;/span&gt;
    &lt;span id=&quot;dob-day-error-error&quot; class=&quot;nhsuk-error-message&quot;&gt;
    Error message goes here
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-date-input&quot; id=&quot;dob-day-error&quot;&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-day-error-day&quot;&gt;
          Day
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 nhsuk-input--error&quot; id=&quot;dob-day-error-day&quot; name=&quot;dob-day-error-day&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-day-error-month&quot;&gt;
          Month
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-2&quot; id=&quot;dob-day-error-month&quot; name=&quot;dob-day-error-month&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-date-input__item&quot;&gt;
        &lt;div class=&quot;nhsuk-form-group&quot;&gt;
          &lt;label class=&quot;nhsuk-label nhsuk-date-input__label&quot; for=&quot;dob-day-error-year&quot;&gt;
          Year
          &lt;/label&gt;
          &lt;input class=&quot;nhsuk-input nhsuk-date-input__input nhsuk-input--width-4&quot; id=&quot;dob-day-error-year&quot; name=&quot;dob-day-error-year&quot; type=&quot;number&quot; pattern=&quot;[0-9]*&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/date-input/macro.njk&#39; import dateInput %}

{{ dateInput({
  &quot;id&quot;: &quot;dob-day-error&quot;,
  &quot;namePrefix&quot;: &quot;dob-day-error&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;What is your date of birth?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;For example, 31 3 1980&quot;
  },
  &quot;errorMessage&quot;: {
    &quot;text&quot;: &quot;Error message goes here&quot;
  },
  &quot;items&quot;: [
    {
      &quot;name&quot;: &quot;day&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2 nhsuk-input--error&quot;
    },
    {
      &quot;name&quot;: &quot;month&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-2&quot;
    },
    {
      &quot;name&quot;: &quot;year&quot;,
      &quot;classes&quot;: &quot;nhsuk-input--width-4&quot;
    }
  ]
}) }}</code></pre><h2 id="nunjucks-arguments">Nunjucks arguments</h2>
<p>If you are using Nunjucks, then macros take the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>id</strong></td>
<td>string</td>
<td>No</td>
<td>Optional id. This is used for the main component and to compose id attribute for each item.</td>
</tr>
<tr>
<td><strong>namePrefix</strong></td>
<td>string</td>
<td>No</td>
<td>Optional prefix. This is used to prefix each <code>item.name</code> using <code>-</code>.</td>
</tr>
<tr>
<td><strong>items</strong></td>
<td>array</td>
<td>Yes</td>
<td>An array of input objects with name, value and optional classes.</td>
</tr>
<tr>
<td><strong>items.{}.id</strong></td>
<td>array</td>
<td>No</td>
<td>Optional item-specific id. If provided, it will be used instead of the generated id.</td>
</tr>
<tr>
<td><strong>items.{}.name</strong></td>
<td>array</td>
<td>Yes</td>
<td>Item-specific name attribute.</td>
</tr>
<tr>
<td><strong>items.{}.value</strong></td>
<td>string</td>
<td>No</td>
<td>Optional item-specific value attribute. If provided, it will be used as the initial value of the input.</td>
</tr>
<tr>
<td><strong>items.{}.label</strong></td>
<td>string</td>
<td>No</td>
<td>Optional item-specific label text. If provided, this will be used instead of the items.{}.name.</td>
</tr>
<tr>
<td><strong>hint</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the hint component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/hint">hint</a> component.</td>
</tr>
<tr>
<td><strong>errorMessage</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the error message component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/error-message">error message</a> component.</td>
</tr>
<tr>
<td><strong>fieldset</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the fieldset component (e.g. legend). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/fieldset">fieldset</a> component.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the date-input container. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the date-input container.</td>
</tr>
</tbody></table>
<h2 id="thanks-to-the-government-digital-service-gds-">Thanks to the Government Digital Service (GDS)</h2>
<p>This component and documentation has been taken from <a href="https://github.com/alphagov/govuk-frontend/tree/master/package/components/date-input">GOV.UK Frontend - Date input component</a> with a few minor adaptations.</p>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
