@use "../settings" as *;

////
/// Focused
///
/// @group tools
////

/// Focused text
///
/// Provides an outline to clearly indicate when the target element is focused.
/// Used for interactive text-based elements.

@mixin nhsuk-focused-text {
  background-color: $nhsuk-focus-colour;
  box-shadow:
    0 -2px $nhsuk-focus-colour,
    0 $nhsuk-focus-width $nhsuk-focus-text-colour;

  // When colours are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible colour.
  outline: $nhsuk-focus-width solid transparent;

  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;

  &,
  .nhsuk-icon {
    color: $nhsuk-focus-text-colour;
    fill: $nhsuk-focus-text-colour;
  }
}

/// Focused input (form elements)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used for interactive input-based elements such
/// as text inputs.

@mixin nhsuk-focused-input {
  border: 2px solid $nhsuk-focus-text-colour;
  box-shadow: inset 0 0 0 2px;
  outline: $nhsuk-focus-width solid $nhsuk-focus-colour; // [1]
  outline-offset: 0;
}

/// Focused radio input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by radios.

@mixin nhsuk-focused-radio {
  border: $nhsuk-focus-width solid $nhsuk-focus-text-colour;
  box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-colour;
}

/// Focused checkbox input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by checkbox.

@mixin nhsuk-focused-checkbox {
  border: $nhsuk-focus-width solid $nhsuk-focus-text-colour;
  box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-colour;
}

/// Focused button
///
/// Provides an additional outline and background to clearly indicate when
/// the target element has focus. Used for buttons.

@mixin nhsuk-focused-button {
  background-color: $nhsuk-focus-colour;
  box-shadow: 0 $nhsuk-focus-width 0 0 $nhsuk-focus-text-colour;
  color: $nhsuk-focus-text-colour;
  outline: $nhsuk-focus-width solid transparent; // [1]
  outline-offset: $nhsuk-focus-width;

  &,
  .nhsuk-icon {
    color: $nhsuk-focus-text-colour;
    fill: $nhsuk-focus-text-colour;
  }
}

/// Focused box
///
/// Provides an outline to clearly indicate when the target element is focused.
/// Unlike nhsuk-focused-text, which only draws an underline below the element,
/// nhsuk-focused-box draws an outline around all sides of the element.
/// Best used for non-text content contained within links.

@mixin nhsuk-focused-box {
  outline: $nhsuk-focus-width solid transparent;
  box-shadow:
    0 0 0 4px $nhsuk-focus-colour,
    0 0 0 8px $nhsuk-focus-text-colour;
}
