{% set title = 'Age-related macular degeneration (AMD)' %}
{% set parent = 'Health A-Z' %}


{% extends 'includes/site-layout.html' %}

{% block body %}

	{% include 'partials/breadcrumb/breadcrumb.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>Age-related macular degeneration (AMD)<span class="nhsuk-o-h1-sub">Symptoms</span></h1>
						
						<div class="nhsuk-c-page-contents v3">
							<ul>
								<li><a href="/examples/test-minihub">What is AMD?</a></li>
								<li><strong>Symptoms</strong></li>
								<li><a href="/examples/test-minihub-amd/getting-diagnosed">Getting diagnosed</a></li>
								<li><a href="/examples/test-minihub-amd/treatments">Treatments</a></li>
								<li><a href="/examples/test-minihub-amd/living-with-amd">Living with AMD</a></li>
							</ul>
						</div>

					</div>
				
					<div class="nhsuk-page-content">
										
						<p>AMD affects the middle part of your vision, not the edges (peripheral vision).</p>

						<p>You can get it in one eye or both.</p>

						<div class="nhsuk-c-image">
							<img
							alt="Blurred book showing what vision is like for a person with early AMD"
							src="https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-320x213.jpg"
							sizes="(min-width: 1020px) 320px, (min-width: 768px) 50vw, 100vw"
							srcset="
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-320x213.jpg 320w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-510x340.jpg 510w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-640x427.jpg 640w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-767x511.jpg 767w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-1019x679.jpg 1019w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-1125x750.jpg 1125w,
								
								https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-1534x1023.jpg 1534w,
								
							"
							/>
							<div class="nhsuk-c-image-caption">
								<p>The first symptom is often a blurred or distorted area in your vision</p>
							</div>
						</div>

						<div class="nhsuk-c-image">
							<img
							alt="A dark patch in the vision of someone with AMD"
							src="https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-320x213.jpg"
							sizes="(min-width: 1020px) 320px, (min-width: 768px) 50vw, 100vw"
							srcset="
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-320x213.jpg 320w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-510x340.jpg 510w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-640x427.jpg 640w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-767x511.jpg 767w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-1019x679.jpg 1019w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-1125x750.jpg 1125w,
								
								https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-1534x1022.jpg 1534w,
								
							"
							/>
							<div class="nhsuk-c-image-caption">
								<p>If it gets worse, you might struggle to see anything in the middle of your vision</p>
							</div>
						</div>

						<p>AMD can make things like reading, watching TV, driving or recognising faces difficult.</p>

						<p>Other symptoms include:</p>
						
						<ul>
						<li>seeing straight lines as wavy or crooked</li>
						<li>objects looking smaller than normal</li>
						<li>colours seeming less bright than they used to</li>
						<li>seeing things that aren't there (hallucinations)</li>
						</ul>
						
						<p>AMD isn't painful and doesn't affect the appearance of your eyes.</p>

						<div class="nhsuk-c-keypoint">
							<p>Sometimes AMD may be found during a routine eye test before you have symptoms.</p>
						</div>

						<div class="care-card blue">
							<div class="care-card-heading">
								<h4 class="nhsuk-heading-m">See an optician if you're worried about your vision</h4>
							</div>
							<div class="care-card-content">
								<p>If you have a problem with your eyes, early diagnosis and treatment may help stop your vision getting worse.</p>
								<p><a href="/service-search/Opticians/LocationSearch/9" class="nhsuk-action-link">Find an opticians</a></p>
							</div>
						</div>
						
						<div class="care-card red">
							<div class="care-card-heading">
								<h4 class="nhsuk-heading-m">Get an urgent opticians appointment if:</h4>
							</div>
							<div class="care-card-content">
								<ul>
								<li>your vision gets suddenly worse </li>
								<li>you have a dark "curtain" or shadow moving across your vision</li>
								<li>your eye is red and painful</li>
								</ul>
								<p>These aren't symptoms of AMD but can be signs of other eye problems that need to be treated immediately.</p>
								<p><strong>Go to A&amp;E or call 111 straight away if you can't get an urgent appointment.</strong></p>
								<p><a href="/service-search/accident-and-emergency-services/locationsearch/428" class="nhsuk-action-link">Find an A&amp;E department</a></p>
							</div>
						</div>

						<div class="nhsuk-c-pagination">
							<a href="/examples/test-minihub-amd/getting-diagnosed" class="nhsuk-c-pagination-next">
								<span class="nhsuk-c-pagination-link">Next page</span>
								<span class="nhsuk-c-pagination-title">Getting diagnosed</span>
							</a>
							<a href="/examples/test-minihub-amd" class="nhsuk-c-pagination-prev">
								<span class="nhsuk-c-pagination-link">Previous page</span>
								<span class="nhsuk-c-pagination-title">What is AMD?</span>
							</a>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>
        </main>
	</div>
	
	<div class="nhsuk-c-review-datestamp-v2">
		<div class="nhsuk-o-width-container">
			<p>Page last reviewed: 12/02/2016<br>
			Next review due: 01/02/2019</p>
		</div>
	</div>

{% endblock %}
