@use "../../core/tools" as *;

////
/// Date input component
///
/// 1. font-size: 0 removes whitespace caused by inline-block
///
/// @group components
////

.nhsuk-date-input {
  font-size: 0; // [1]

  @include nhsuk-clearfix;
}

.nhsuk-date-input__item {
  display: inline-block;
  margin-bottom: 0;
  margin-right: nhsuk-spacing(4);
}

.nhsuk-date-input__label {
  display: block;
}

.nhsuk-date-input__input {
  margin-bottom: 0;
}
