@use "../tools" as *;

////
/// Link nowrap
///
/// Prevent text from wrapping on to a new line and preserve
/// empty spaces, for example: to keep the formatting of
/// an NHS number. Applies from mobile because tiny devices
/// are likely to need wrapping on everything.
///
/// @group utilities
///
/// @example html
///   <a href="#" class="nhsuk-u-nowrap"></a>
////

.nhsuk-u-nowrap {
  @include nhsuk-media-query($from: mobile) {
    white-space: nowrap;
  }
}

.nhsuk-u-nowrap-from-tablet {
  @include nhsuk-media-query($from: tablet) {
    white-space: nowrap;
  }
}

.nhsuk-u-nowrap-from-desktop {
  @include nhsuk-media-query($from: desktop) {
    white-space: nowrap;
  }
}

/// Link wrap
/// Reset text wrapping at specific breakpoints.

.nhsuk-u-wrap-from-tablet {
  @include nhsuk-media-query($from: tablet) {
    white-space: wrap;
  }
}

.nhsuk-u-wrap-from-desktop {
  @include nhsuk-media-query($from: desktop) {
    white-space: wrap;
  }
}
