// sass-lint:disable no-color-hex

// Primary colours

$nhsuk-blue: #005EB8;
$nhsuk-light-blue: #41B6E6;
$nhsuk-aqua-blue: #00A9CE;
$nhsuk-white: #FFFFFF;
$nhsuk-black: #212B32;
$nhsuk-green: #007F3B;
$nhsuk-red: #AD1F19;
$nhsuk-yellow: #FAE200;
$nhsuk-warm-yellow: #FFB81C;
$nhsuk-purple: #330072;

// Greyscale

$nhsuk-grey-1: #425462;
$nhsuk-grey-2: #768692;
$nhsuk-grey-3: #AEB7BD;
$nhsuk-grey-4: #D8DDE0;
$nhsuk-grey-5: #E8EDEE;

// Colour functions for tint and shade

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// nhsuk-black variations

$nhsuk-black-tint-10: tint($nhsuk-black, 10%); // used for link :active states
$nhsuk-black-tint-15: tint($nhsuk-black, 15%); // used for link :active states

// nhsuk-blue variations

$nhsuk-blue-shade-20: shade($nhsuk-blue, 20%); // used for .active state on main nav
$nhsuk-blue-shade-35: shade($nhsuk-blue, 35%); // used for :hover states on main nav
$nhsuk-blue-shade-50: shade($nhsuk-blue, 50%); // used for :active states on main nav

$nhsuk-blue-tint-80: tint($nhsuk-blue, 80%); // used callout backgrounds
$nhsuk-blue-tint-90: tint($nhsuk-blue, 90%); // used callout backgrounds

// nhsuk-green variations

$nhsuk-green-shade-35: shade($nhsuk-green, 35%); // used for primary button :hover states
$nhsuk-green-shade-50: shade($nhsuk-green, 50%); // used for primary button :active states

// nhsuk-yellow variations

$nhsuk-yellow-tint-60: tint($nhsuk-yellow, 60%); // used for warning callout background

// nhsuk-warm-yellow variations

$nhsuk-warm-yellow-tint-90: tint($nhsuk-warm-yellow, 90%); // used for link :hover states
$nhsuk-warm-yellow-tint-30: tint($nhsuk-warm-yellow, 30%); // used for link :hover states
$nhsuk-warm-yellow-tint-10: tint($nhsuk-warm-yellow, 10%); // used for link :active states

// nhsuk-red variations

$nhsuk-red-tint-80: tint($nhsuk-red, 80%); // used callout backgrounds
$nhsuk-red-tint-90: tint($nhsuk-red, 90%); // used callout backgrounds

// nhsuk-grey-4 variations

$nhsuk-grey-4-tint-50: tint($nhsuk-grey-4, 50%); // used callout backgrounds on white background

// Text colours

$nhsuk-text-colour: $nhsuk-black;
$nhsuk-secondary-text-colour: $nhsuk-black-tint-15; //used for secondary text colour

// Link colours

$nhsuk-link-colour: $nhsuk-blue;
$nhsuk-link-hover-colour: $nhsuk-black;
$nhsuk-link-focus-colour: $nhsuk-black;
$nhsuk-link-active-colour: $nhsuk-black-tint-10;
$nhsuk-link-visited-colour: $nhsuk-purple;
$nhsuk-link-hover-background-colour: $nhsuk-warm-yellow-tint-30;
$nhsuk-link-focus-background-colour: $nhsuk-warm-yellow;
$nhsuk-link-active-background-colour: $nhsuk-warm-yellow-tint-10;

// Border colours

$nhsuk-border-colour: $nhsuk-grey-4;
$nhsuk-secondary-border-colour: rgba(255,255,255,0.25); // used for header and footer dividing line

// Button colours

$nhsuk-button-background-colour: $nhsuk-green;
$nhsuk-button-hover-colour: $nhsuk-green-shade-35;
$nhsuk-button-active-colour: $nhsuk-green-shade-50;
$nhsuk-secondary-button-hover-colour: $nhsuk-blue-shade-35;

// Focus colours

$nhsuk-focus-colour: $nhsuk-warm-yellow;
