.nhsuk-icon {
  &__search {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__warning {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__information {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__chevron-right {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__chevron-down {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__close {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__close-outline {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__close-solid {
    fill: $nhsuk-blue;
    height: 40px;
    width: 40px;
  }
  &__cross {
    fill: $nhsuk-red;
    height: 40px;
    width: 40px;
    &--fallback {
      width: 34px;
      height: 34px;
    }
  }
  &__tick {
    fill: none;
    height: 40px;
    stroke: $nhsuk-green;
    width: 40px;
    &--fallback {
      padding-top: 5px;
    }
  }
}


