.nhsuk-icon {
  &__search {
    fill: $nhsuk-blue;
    height: 34px;
    width: 34px;
  }
  &__chevron-right {
    fill: $nhsuk-blue;
    height: 34px;
    width: 34px;
  }
  &__close {
    fill: $nhsuk-blue;
    height: 34px;
    width: 34px;
  }
  &__cross {
    fill: $nhsuk-red;
    height: 34px;
    width: 34px;
  }
  &__tick {
    fill: none;
    height: 34px;
    stroke: $nhsuk-green;
    width: 34px;
    &--fallback {
      padding-top: 5px;
    }
  }
  &__arrow-right {
    fill: $nhsuk-green;
    height: 34px;
    width: 34px;
  }
  &__chevron-down {
    fill: $nhsuk-blue;
    height: 34px;
    width: 34px;
    path {
      fill: $nhsuk-white;
    }
  }
  &__chevron-up {
    fill: $nhsuk-blue;
    height: 34px;
    width: 34px;
    path {
      fill: $nhsuk-white;
    }
  }
}


