.nhsuk-icon {
  height: $nhsuk-icon-size;
  width: $nhsuk-icon-size;

  &__search {
    fill: $nhsuk-blue;
  }
  &__chevron-right {
    fill: $nhsuk-blue;
  }
  &__close {
    fill: $nhsuk-blue;
  }
  &__cross {
    fill: $nhsuk-red;
  }
  &__tick {
    fill: none;
    stroke: $nhsuk-green;
    &--fallback {
      padding-top: 5px;
    }
  }
  &__arrow-right {
    fill: $nhsuk-green;
  }
  &__chevron-down {
    -moz-transform: rotate(180deg); // sass-lint:disable-line no-vendor-prefixes
    -ms-transform: rotate(180deg); // sass-lint:disable-line no-vendor-prefixes
    -o-transform: rotate(180deg); // sass-lint:disable-line no-vendor-prefixes
    -webkit-transform: rotate(180deg); // sass-lint:disable-line no-vendor-prefixes
    transform: rotate(180deg); // sass-lint:disable-line property-sort-order
    fill: $nhsuk-blue; // sass-lint:disable-line property-sort-order
    path {
      fill: $nhsuk-white;
    }
  }
  &__chevron-up {
    fill: $nhsuk-blue;
    path {
      fill: $nhsuk-white;
    }
  }

  &--size-25 {
    height: $nhsuk-icon-size * 1.25;
    width: $nhsuk-icon-size * 1.25;
  }
  &--size-50 {
    height: $nhsuk-icon-size * 1.5;
    width: $nhsuk-icon-size * 1.5;
  }
  &--size-75 {
    height: $nhsuk-icon-size * 1.75;
    width: $nhsuk-icon-size * 1.75;
  }
  &--size-100 {
    height: $nhsuk-icon-size * 2;
    width: $nhsuk-icon-size * 2;
  }

}
