$base-font-size: 19px !default;
$base-line-height: 28px !default;
$base-font-size-mobile: 16px !default;
$base-line-height-mobile: 24px !default;
$footer-height: 180px;
$footer-height-mobile: 372px;

$base-margin: 8px;
