//callouts
$nhsuk-light-yellow: #FFF7E8;

@mixin nhsuk-c-callout($callout-background,$callout-border) {
  @include nhsuk-component-center();
  @include reading-width-content();
  @include top-and-bottom();
  background: $callout-background;
  color: $nhsuk-black;
  margin: 56px 0;
  padding: 32px 24px 32px 68px;
  position:relative;
  @include mq($until: tablet) {
      margin: 40px 0;
      padding: 24px 24px 24px 52px;
  }
  &:before {
      @include nhsuk-tab();
      content: '';
      background-image: url(../images/callout-danger.svg);
      background-size: 100% 100%;
      display: block;
      height: 56px;
      width: 56px;
      @include mq($until: tablet) {
          height: 40px;
          width: 40px;
      }
  }
}

.nhsuk-c-callout__warning {
  @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
  border-top: 8px solid $nhsuk-yellow;
  color: $nhsuk-black;
  &:before {
      background-image: url(../images/callout-warning.svg);
      left: -8px;
      top: -16px;
      @include mq($until: tablet) {
          left: -4px;
          top: -12px;
      }
  }
}

.nhsuk-c-callout__warning-v5 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    background: #FAE200;
    color: $nhsuk-black;
    margin: 56px 0;
    @include mq($until: tablet) {
        margin: 40px 0;
    }
    &:before {
        background-image: url(../images/callout-warning-black.svg);
        left: -8px;
        top: -8px;
        @include mq($until: tablet) {
            left: -4px;
            top: -4px;
        }
    }
  }

  .nhsuk-c-callout__warning-v6 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    background: lighten(#FAE200,35%);
    border-top: 8px solid #FAE200;
    color: $nhsuk-black;
    margin: 56px 0;
    @include mq($until: tablet) {
        margin: 40px 0;
    }
    &:before {
        background-image: url(../images/callout-warning-icon-yellow.svg);
        left: -8px;
        top: -16px;
        @include mq($until: tablet) {
            left: -4px;
            top: -12px;
        }
    }
  }

  .nhsuk-c-callout__warning-v7 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    background: white;
    border-top: 8px solid $nhsuk-red;
    color: $nhsuk-black;
    margin: 56px 0;
    @include mq($until: tablet) {
        margin: 40px 0;
    }
    &:before {
        background-image: url(../images/callout-danger.svg);
        left: -8px;
        top: -16px;
        @include mq($until: tablet) {
            left: -4px;
            top: -12px;
        }
    }
  }

  .nhsuk-c-callout__warning-v8 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    background: transparent;
    color: $nhsuk-black;
    margin: 56px 0;
    padding: 0 0 0 64px;
    @include mq($until: tablet) {
        margin: 40px 0;
        padding: 0 0 0 56px;
    }
    &:before {
        background-image: url(../images/callout-warning-v2.svg);
        height: 48px;
        left: 0;
        margin-top: -24px;
        top: 50%;
        width: 48px;
        @include mq($until: tablet) {
            height: 40px;
            left: 0;
            margin-top: -20px;
            top: 50%;
            width: 40px;
        }
    }
    p {
        font-weight: 600;
    }
  }

  .nhsuk-c-callout__warning-v9 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    background: white;
    color: $nhsuk-black;
    margin: 56px 0;
    padding: 32px 32px 32px 104px;
    @include mq($until: tablet) {
        margin: 40px 0;
        padding: 24px 24px 24px 72px;
    }
    &:before {
        background-image: url(../images/callout-warning-v2.svg);
        height: 48px;
        left: 32px;
        margin-top: -24px;
        top: 50%;
        width: 48px;
        @include mq($until: tablet) {
            height: 32px;
            left: 24px;
            margin-top: -20px;
            top: 50%;
            width: 32px;
        }
    }
    p {
        font-weight: 600;
    }
  }

  .nhsuk-c-callout__warning-v10 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    border-top: 8px solid $nhsuk-yellow;
    color: $nhsuk-black;
    &:before {
        background-image: url(../images/callout-warning.svg);
        left: -8px;
        top: -16px;
        @include mq($until: tablet) {
            left: -4px;
            top: -12px;
        }
    }
    p {
        font-weight: 600;
    }
  }

  .nhsuk-c-callout__warning-v11 {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    border-top: 8px solid #FAE200;
    color: $nhsuk-black;
    &:before {
        background-image: url(../images/callout-warning-icon-yellow.svg);
        left: -8px;
        top: -16px;
        @include mq($until: tablet) {
            left: -4px;
            top: -12px;
        }
    }
    p {
        font-weight: 600;
    }
  }

  .nhsuk-c-callout__warning-v12 {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    background: #fff;
    margin: 56px 0;
    padding: 32px 24px;
    position: relative;
    /*border-top: 8px solid #FAE200;*/
    color: $nhsuk-black;

    @include mq($until: tablet) {
        padding:36px 24px 24px 24px
    }

    &:before {
        content:'Important';
        background: #FAE200;
        font-size: 1.26316em;
        font-weight: 600;
        left: -8px;
        line-height: 32px;
        position: absolute;
        padding: 8px 30px;
        top: -8px;

        @include mq($until: tablet) {
            font-size: 1.25em;
            left:-4px;
            line-height: 28px;
            padding: 4px 28px;
            top: -4px;
        }
    }
  }

.nhsuk-c-callout__info {
  @include nhsuk-c-callout(white,$nhsuk-blue);
  &:before {
      background-image: url(../images/callout-info.svg);
      top: -8px;
    @include mq($until: tablet) {
        top: -4px;
    }
  }
}

.nhsuk-c-callout__emergency {
  @include nhsuk-c-callout(white,$nhsuk-red);
  border: 4px solid $nhsuk-red;

  &:before {
      background-image: url(../images/callout-danger.svg);
      left: -12px;
      @include mq($until: tablet) {
          left: -8px;
      }
  }
}

.warning-title{
  font-weight: 700;
}

//callouts v2

@mixin nhsuk-c-callout-v2($callout-background,$callout-border) {
  @include nhsuk-component-center();
  @include reading-width-content();
  @include top-and-bottom();
  background: $callout-background;
  color: $nhsuk-black;
  margin: 56px 0;
  padding: 36px 24px 36px 96px;
  position:relative;
  @include mq($until: tablet) {
      margin: 40px 0;
      padding: 60px 16px 16px;
  }
  &:before {
      content: '';
      background-image: url(../images/callout-danger.svg);
      background-size: 100% 100%;
      display: block;
      height: 50px;
      left: 24px;
      position: absolute;
      top: 24px;
      width: 50px;
      @include mq($until: tablet) {
          height: 32px;
          left: 16px;
          top: 16px;
          width: 32px;
      }
  }
}

.nhsuk-c-callout__info-v2 {
  @include nhsuk-c-callout-v2(white,$nhsuk-blue);
  border-top: 4px solid $nhsuk-blue;
  color: $nhsuk-secondary-text-colour;
  &:before {
      background-image: url(../images/callout-info-v2.svg);
  }
}

.nhsuk-c-callout__warning-v2 {
  @include nhsuk-c-callout-v2(#FFFFFF,$nhsuk-yellow);
  border: 4px solid $nhsuk-yellow;
  color: $nhsuk-black;
  &:before {
      background-image: url(../images/callout-warning-v2.svg);
  }
}

.nhsuk-c-callout__warning-v3 {
  @include nhsuk-c-callout-v2(#FAE200,#FAE200);
  border: 4px solid #FAE200;
  color: $nhsuk-black;
  &:before {
      background-image: url(../images/callout-warning-v2-black.svg);
  }
}

.nhsuk-c-callout__warning-v4 {
    @include reading-width-content();
    @include top-and-bottom();
    padding: 32px;
    margin: 56px 0;
    background: lighten($nhsuk-yellow,35%);
    border-left: 16px solid $nhsuk-yellow;
    color: $nhsuk-black;
    @include mq($until: tablet) {
        padding: 24px;
        margin: 40px 0;
    }
    p {
        margin-top: 12px;
    }
}

//keypoint

.nhsuk-c-keypoint {
  @include reading-width-content();
  @include top-and-bottom();
  background: white;
  border-left: 16px solid #00A499;
  margin: 48px 0;
  padding: 32px;
  @include mq($until: tablet) {
      margin: 32px 0;
      padding: 24px;
  }
  h2,
  h3,
  h4 {
      + p,
      + ul {
          margin-top: 16px;
      }
  }
}

.nhsuk-c-keypoint-v1 {
    @include reading-width-content();
    @include top-and-bottom();
    background: white;
    border-left: 16px solid $nhsuk-blue;
    margin: 48px 0;
    padding: 32px;
    @include mq($until: tablet) {
        margin: 32px 0;
        padding: 24px;
    }
    h2,
    h3,
    h4 {
        + p,
        + ul {
            margin-top: 16px;
        }
    }
  }

.nhsuk-c-keypoint-v2 {
    @include reading-width-content();
    @include top-and-bottom();
    border-left: 8px solid #41B6E6;
    margin: 40px 0;
    padding: 8px 24px;
    @include mq($until: tablet) {
        margin: 40px 0;
        padding: 4px 16px;
    }
    h2,
    h3,
    h4 {
        + p,
        + ul {
            margin-top: 16px;
        }
    }
  }
