@use "sass:math";
@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Details component
///
/// 1. Style the summary to look like a link...
/// 2. Make the focus outline shrink-wrap the text content of the summary
/// 3. Absolutely position the marker against this element
/// 3. Allow for absolutely positioned marker and align with disclosed text
/// 4. Only underline the text, not the arrow
/// 5. Remove the default details marker so we can style our own consistently
///    and ensure it displays in Firefox
/// 6. Custom padding to left align the details text with the summary
///
/// @group components
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
////

.nhsuk-details {
  display: block;
  @include nhsuk-text-color;
  @include nhsuk-font-size(19);
  @include nhsuk-responsive-margin(4, "bottom");
}

.nhsuk-details__summary {
  display: block;
}

.nhsuk-details__text {
  @include nhsuk-top-and-bottom;
}

// Hack to support Internet Explorer 11
@media screen\0 {
  .nhsuk-details {
    border-left: nhsuk-spacing(1) solid nhsuk-colour("grey-4");
    margin-top: nhsuk-spacing(2);
    padding: nhsuk-spacing(3) 0;
    padding-left: 20px; // [6]
  }

  .nhsuk-details__summary-text {
    display: block;
    font-weight: $nhsuk-font-bold;
    @include nhsuk-responsive-margin(4, "bottom");
  }
}

// We wrap styles for newer browsers in a feature query, which is ignored by
// older browsers, which always expand the details element.
//
// Additionally, -ms-ime-align is only supported by Edge 12 - 18
//
// This ensures we don't use these styles in browsers which:
//   - support ES6 modules but not the <details> element (Edge 16 - 18)
//   - do not support ES6 modules or the <details> element (eg, IE8+)
@supports not (-ms-ime-align: auto) {
  .nhsuk-details__summary {
    color: $nhsuk-link-color; // [1]
    cursor: pointer;
    padding-left: nhsuk-spacing(4);
    position: relative; // [3]
    width: fit-content; // [2]

    &:hover {
      color: $nhsuk-link-hover-color;
    }

    &:focus {
      @include nhsuk-focused-text;
    }

    &:hover,
    &:focus {
      .nhsuk-details__summary-text {
        text-decoration: none;
      }
    }

    &::-webkit-details-marker {
      display: none; // [5]
    }

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;

      @include nhsuk-shape-arrow($direction: right, $base: 14px);

      .nhsuk-details[open] > & {
        @include nhsuk-shape-arrow($direction: down, $base: 14px);
      }
    }
  }

  .nhsuk-details__summary-text {
    text-decoration: underline; // [4]
  }

  .nhsuk-details__text {
    border-left: nhsuk-spacing(1) solid nhsuk-colour("grey-4");
    margin-top: nhsuk-spacing(2);
    padding: nhsuk-spacing(3) 0;
    padding-left: 20px; // [6]
    padding-right: 0;
  }
}

/// Expander variant

$expander-border-width: 1px;
$expander-border-bottom-width: nhsuk-spacing(1);
$expander-border-color: nhsuk-colour("grey-4");
$expander-border-hover-color: nhsuk-colour("grey-3");
$expander-icon-size: 27px; // 19px font size + 4px summary text padding

.nhsuk-expander {
  background-color: nhsuk-colour("white");
  border: $expander-border-width solid $expander-border-color;

  .nhsuk-details__summary {
    background-color: nhsuk-colour("white");
    border-top: $nhsuk-focus-width solid transparent;
    display: block;
    padding: nhsuk-spacing(4) - $nhsuk-focus-width nhsuk-spacing(4) 0;
    width: auto;

    @include nhsuk-media-query($from: tablet) {
      padding: nhsuk-spacing(5) - $nhsuk-focus-width nhsuk-spacing(5) 0;
    }
  }

  .nhsuk-details__text {
    border-left: 0;
    margin-left: 0;
    margin-top: 0;

    @include nhsuk-responsive-padding(5, "bottom");
    @include nhsuk-responsive-padding(5, "left");
    @include nhsuk-responsive-padding(5, "right");
    @include nhsuk-responsive-padding(0, "top");
  }

  // Hack to support Internet Explorer 11
  @media screen\0 {
    margin-top: 0;
    padding: 0;

    .nhsuk-details__summary-text {
      display: block;
      font-weight: $nhsuk-font-bold;
      @include nhsuk-font-size(26);
      @include nhsuk-responsive-margin(4, "bottom");
    }
  }

  @supports not (-ms-ime-align: auto) {
    border-bottom-width: $expander-border-bottom-width;

    &:hover {
      border-color: $expander-border-hover-color;
    }

    .nhsuk-details__summary {
      padding-bottom: nhsuk-spacing(4);
    }

    @include nhsuk-media-query($from: tablet) {
      .nhsuk-details__summary {
        padding-bottom: nhsuk-spacing(5);
      }
    }

    .nhsuk-details__summary::before {
      display: none;
    }

    .nhsuk-details__summary:focus {
      box-shadow: none;
    }

    .nhsuk-details__summary-text {
      color: nhsuk-colour("blue");
      cursor: pointer;
      display: inline-block;
      padding: nhsuk-spacing(1);
      padding-left: #{$expander-icon-size + nhsuk-spacing(2)};
      position: relative;
    }

    .nhsuk-details__summary:hover .nhsuk-details__summary-text {
      color: $nhsuk-link-hover-color;
    }

    .nhsuk-details__summary:focus .nhsuk-details__summary-text {
      @include nhsuk-focused-text;
    }

    // Internet Explorer 11 doesn’t support clip-path, but we don’t show the
    // ::before pseudo element to users of that browser
    .nhsuk-details__summary-text::before {
      background-color: currentcolor;
      clip-path: path(
        "M13.5 1a12.5 12.5 0 1 1 0 25 12.5 12.5 0 0 1 0-25Zm0 6c-.8 0-1.5.7-1.5 1.5V12H8.5c-.8 0-1.4.6-1.5 1.4v.1c0 .8.7 1.5 1.5 1.5H12v3.5c0 .8.6 1.4 1.4 1.5h.1c.8 0 1.5-.7 1.5-1.5V15h3.5c.8 0 1.4-.6 1.5-1.4v-.1c0-.8-.7-1.5-1.5-1.5H15V8.5c0-.8-.6-1.4-1.4-1.5Z"
      ); // Plus icon
      content: "";
      height: $expander-icon-size;
      left: 0;
      position: absolute;
      top: calc(50% - math.div($expander-icon-size, 2));
      width: $expander-icon-size;
    }

    &[open] {
      border-bottom-width: $expander-border-width;
    }

    &[open] .nhsuk-details__summary-text::before {
      clip-path: path(
        "M13.5 1a12.5 12.5 0 1 1 0 25 12.5 12.5 0 0 1 0-25Zm5 11h-10a1.5 1.5 0 0 0 0 3h10a1.5 1.5 0 0 0 0-3Z"
      ); // Minus icon
    }
  }
}

// Reduce margin between a group of expanders so they sit together
.nhsuk-expander-group {
  @include nhsuk-responsive-margin(4, "bottom");

  > .nhsuk-details {
    @include nhsuk-responsive-margin(2, "bottom");
  }
}

.nhsuk-details + h2,
.nhsuk-details + .nhsuk-heading-l {
  @include nhsuk-responsive-padding(4, "top");
}
