<!DOCTYPE html>
  <html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <title>Error summary - NHS.UK Frontend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

      <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
      <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
      <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
      <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
      <meta name="msapplication-TileColor" content="#005eb8">
      <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
      <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
      <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" rel="preload" as="font" crossorigin>
  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" rel="preload" as="font" crossorigin>
  <link href="/nhsuk-frontend/stylesheets/nhsuk-9.3.0.min.css" rel="stylesheet">
  <script src="/nhsuk-frontend/javascripts/nhsuk-9.3.0.min.js" defer></script>
  </head>

  <body >
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>



        <div class="nhsuk-width-container">
          <main class="nhsuk-main-wrapper" id="maincontent">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">    <p>
      Optional description of the errors and how to correct them.<br>Note that the error summary should receive focus on page load using the JavaScript that comes with this component.
    </p>
<ul class="nhsuk-list nhsuk-error-summary__list" role="list">      <li>        <a href="#example-1">Link to radio error with explanation (Note how it links to the first radio)</a>
</li>    </ul>
  </div>
</div>


      <br><br><br><br><br><br>↕ Intentionally long page to demonstrate error summary link scrolling behaviour ↕<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      
<div class="nhsuk-form-group nhsuk-form-group--error">

<fieldset class="nhsuk-fieldset" aria-describedby="example-hint example-error">  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">    Have you changed your name?
</legend>  <div class="nhsuk-hint" id="example-hint">
    Clicking an error summary link should scroll the top of this radio fieldset into view.
  </div>
  <span class="nhsuk-error-message" id="example-error">
  <span class="nhsuk-u-visually-hidden">Error:</span> Please select an option
  </span>
  <div class="nhsuk-radios">    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-1" name="radios-example" type="radio" value="yes">
      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
        Yes
      </label>    </div>
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-2" name="radios-example" type="radio" value="no">
      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
        No
      </label>    </div>
  </div>
</fieldset>
</div>


      <br><br><br><br><br><br>↕ Intentionally long page to demonstrate error summary link scrolling behaviour ↕<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
  </div>
          </main>
        </div>


  </body>
</html>
