{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Tables' %}
{% from 'components/responsive-table/macro.njk' import responsiveTable %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ responsiveTable({
            panel: false,
            caption: "Medications table",
            firstCellIsHeader: false,
            head: [
              {
                text: "Type"
              },
              {
                text: "Date"
              },
              {
                text: "Medication item"
              },
              {
                text: "Dosage instructions"
              },
              {
                text: "Quantity"
              }
            ],
            rows: [
              [
                {
                  header: "Type",
                  text: "Acute medication"
                },
                {
                  header: "Date",
                  text: "1 January 2017"
                },
                {
                  header: "Medication item",
                  text: "Diclofenac 75mg tablets"
                },
                {
                  header: "Dosage instructions",
                  text: "take three daily"
                },
                {
                  header: "Quantity",
                  text: "28 tablets"
                }
              ],
              [
                {
                  header: "Type",
                  text: "Acute medication"
                },
                {
                  header: "Date",
                  text: "1 January 2017"
                },
                {
                  header: "Medication item",
                  text: "Diclofenac 75mg tablets"
                },
                {
                  header: "Dosage instructions",
                  text: "take three daily"
                },
                {
                  header: "Quantity",
                  text: "28 tablets"
                }
              ],
              [
                {
                  header: "Type",
                  text: "Acute medication"
                },
                {
                  header: "Date",
                  text: "1 January 2017"
                },
                {
                  header: "Medication item",
                  text: "Diclofenac 75mg tablets"
                },
                {
                  header: "Dosage instructions",
                  text: "take three daily"
                },
                {
                  header: "Quantity",
                  text: "28 tablets"
                }
              ],
              [
                {
                  header: "Type",
                  text: "Acute medication"
                },
                {
                  header: "Date",
                  text: "1 January 2017"
                },
                {
                  header: "Medication item",
                  text: "Diclofenac 75mg tablets"
                },
                {
                  header: "Dosage instructions",
                  text: "take three daily"
                },
                {
                  header: "Quantity",
                  text: "28 tablets"
                }
              ],
              [
                {
                  header: "Type",
                  text: "Acute medication"
                },
                {
                  header: "Date",
                  text: "1 January 2017"
                },
                {
                  header: "Medication item",
                  text: "Diclofenac 75mg tablets"
                },
                {
                  header: "Dosage instructions",
                  text: "take three daily"
                },
                {
                  header: "Quantity",
                  text: "28 tablets"
                }
              ]
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
