@forward "../../core/nhsuk-frontend-properties";
@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Tabs component
///
/// @group components/tabs
////

@include nhsuk-exports("nhsuk/components/tabs") {
  $border-width: 1px;

  .nhsuk-tabs {
    @include nhsuk-responsive-margin(1, "top");
    @include nhsuk-responsive-margin(6, "bottom");
    @include nhsuk-font($size: 19);
  }

  .nhsuk-tabs__title {
    margin-bottom: nhsuk-spacing(2);

    // Set the size and weight again because this element is a heading and the
    // user agent font size overrides the inherited font size
    @include nhsuk-text-colour;
    @include nhsuk-font($size: 19);
  }

  .nhsuk-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include nhsuk-responsive-margin(6, "bottom");
  }

  .nhsuk-tabs__list-item {
    @include nhsuk-shape-dash;
  }

  .nhsuk-tabs__tab {
    display: inline-block;
  }

  .nhsuk-tabs__panel {
    @include nhsuk-responsive-margin(8, "bottom");
  }

  // NHS.UK frontend JavaScript enabled
  .nhsuk-frontend-supported {
    @include nhsuk-media-query($from: tablet) {
      .nhsuk-tabs__list {
        margin-bottom: 0;
        border-bottom: 1px solid $nhsuk-border-colour;
        @include nhsuk-clearfix;
      }

      .nhsuk-tabs__title {
        display: none;
      }

      .nhsuk-tabs__list-item {
        position: relative;

        margin-right: nhsuk-spacing(1);
        margin-bottom: 0;
        margin-left: 0;
        padding-top: nhsuk-spacing(2);
        padding-right: nhsuk-spacing(4) - $border-width;
        padding-bottom: nhsuk-spacing(2);

        // Compensation for border (otherwise we get a shift)
        padding-left: nhsuk-spacing(4) - $border-width;

        float: left;

        border: $border-width solid $nhsuk-border-colour;

        background-color: nhsuk-colour("white");

        text-align: center;

        &::before {
          content: none;
        }
      }

      // The selected tab has no border on the bottom, and moves
      // down to close the gap, so that it appears visually joined
      // to the main content.
      .nhsuk-tabs__list-item--selected {
        margin-top: nhsuk-spacing(-1);

        margin-bottom: -$border-width;
        padding-top: (nhsuk-spacing(2) * 1.5);
        padding-bottom: (nhsuk-spacing(2) * 1.5) + $border-width;
        border-bottom: 0;

        // The link on the selected tab uses text colour (black)
        // and no underline to make it clear that the tab is active,
        // and because clicking it won’t change the content.
        .nhsuk-tabs__tab {
          @include nhsuk-link-style-no-underline;
          @include nhsuk-link-style-text;
        }
      }

      .nhsuk-tabs__tab {
        margin-bottom: 0;

        @include nhsuk-link-style;
        @include nhsuk-link-style-no-visited-state;

        &::after {
          content: "";

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .nhsuk-tabs__panel {
        padding: nhsuk-spacing(6) nhsuk-spacing(4);
        border: 1px solid $nhsuk-border-colour;
        border-top: 0;
        background-color: $nhsuk-card-background-colour;
        @include nhsuk-responsive-margin(0, "bottom");

        & > :last-child {
          margin-bottom: 0;
        }
      }

      .nhsuk-tabs__panel--hidden {
        display: none;
      }
    }
  }
}
