$govuk-checkboxes-size: nhsuk-spacing(6);
$govuk-checkboxes-label-padding-left-right: nhsuk-spacing(3);

.nhsuk-checkboxes__item {
  @include nhsuk-font(19);

  display: block;
  position: relative;

  min-height: $govuk-checkboxes-size;

  margin-bottom: nhsuk-spacing(2);
  padding: 0 0 0 $govuk-checkboxes-size;

  clear: left;
}

.nhsuk-checkboxes__item:last-child,
.nhsuk-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.nhsuk-checkboxes__input {
  position: absolute;

  z-index: 1;
  top: 0;
  left: 0;

  width: $govuk-checkboxes-size;
  height: $govuk-checkboxes-size;

  cursor: pointer;

  margin: 0;
  opacity: 0;
}

.nhsuk-checkboxes__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $govuk-checkboxes-label-padding-left-right nhsuk-spacing(1);
  cursor: pointer;
  // remove 300ms pause on mobile
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.nhsuk-checkboxes__hint {
  display: block;
  padding-right: $govuk-checkboxes-label-padding-left-right;
  padding-left: $govuk-checkboxes-label-padding-left-right;
}

.nhsuk-checkboxes__input + .nhsuk-checkboxes__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $govuk-checkboxes-size;
  height: $govuk-checkboxes-size;
  border: $govuk-border-width-form-element solid $color_nhsuk-black;
  background: transparent;
}

.nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 10px;
  width: 22px;
  height: 10px;

  -webkit-transform: rotate(-45deg);

      -ms-transform: rotate(-45deg);

          transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 $govuk-border-width $govuk-border-width;
  // Fix bug in IE11 caused by transform rotate (-45deg).
  // See: alphagov/govuk_elements/issues/518
  border-top-color: transparent;

  opacity: 0;

  background: transparent;
}

// Focused state
.nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label::before {
  // Since box-shadows are removed when users customise their colours
  // We set a transparent outline that is shown instead.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: $govuk-focus-width solid transparent;
  outline-offset: $govuk-focus-width;
  box-shadow: 0 0 0 $govuk-focus-width $nhsuk-focus-color;
}

// Selected state
.nhsuk-checkboxes__input:checked + .nhsuk-checkboxes__label::after {
  opacity: 1;
}

// Disabled state
.nhsuk-checkboxes__input:disabled,
.nhsuk-checkboxes__input:disabled + .nhsuk-checkboxes__label {
  cursor: default;
}

.nhsuk-checkboxes__input:disabled + .nhsuk-checkboxes__label {
  opacity: .5;
}

$conditional-border-width: $govuk-border-width-mobile;
// Calculate the amount of padding needed to keep the border centered against the checkbox.
$conditional-border-padding: ($govuk-checkboxes-size / 2) - ($conditional-border-width / 2);
// Move the border centered with the checkbox
$conditional-margin-left: $conditional-border-padding;
// Move the contents of the conditional inline with the label
$conditional-padding-left: $conditional-border-padding + $govuk-checkboxes-label-padding-left-right;

.nhsuk-checkboxes__conditional {
  @include nhsuk-responsive-margin(4, "bottom");
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;
  border-left: $conditional-border-width solid $color_nhsuk-black;

  .js-enabled &--hidden {
    display: none;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
