@use "../settings" as *;
@use "../helpers" as *;
@use "functions" as *;
@use "spacing" as *;

////
/// Dash mixin
///
/// @group tools
////

@mixin nhsuk-shape-dash() {
  position: relative;
  padding: 0;
  @include nhsuk-responsive-padding(5, "left", $unit: "rem");

  &::before {
    content: "";

    display: block;

    position: absolute;
    top: nhsuk-em(12, 16);
    left: 0;

    width: nhsuk-em(12, 16);

    border-top: 1px solid nhsuk-colour("grey-2");
  }
}
