@use "../../core/settings" as *;
@forward "../card";

////
/// Warning callout component (deprecated)
///
/// @group components/warning-callout
/// @deprecated To be removed in v12.0, replaced by components/card
////

@include nhsuk-warning(
  "import-using-warning-callout",
  "Importing using 'components/warning-callout' is deprecated. Update your import statement to import 'components/card'.",
  $silence-further-warnings: false
);
