h1, h2, h3, h4, h5, // sass-lint:disable-line single-line-per-selector
.h1, .h2, .h3, .h4, .h5 { // sass-lint:disable-line single-line-per-selector
  color: inherit;
  font-weight: $nhs-font-bold;
  margin-bottom: 0;
}

h1,
.nhsuk-heading-xl {
  font-size: 48px;
  line-height: 56px;
  margin: 64px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 32px;
    line-height: 36px;
    margin: 48px 0 0;
  }
}

h2,
.nhsuk-heading-l {
  font-size: 32px;
  line-height: 40px;
  margin: 72px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 24px;
    line-height: 32px;
    margin: 48px 0 0;
  }
}

h3,
.nhsuk-heading-m {
  font-size: 24px;
  line-height: 32px;
  margin: 44px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 20px;
    line-height: 28px;
    margin: 36px 0 0;
  }
}

h4,
.nhsuk-heading-s {
  font-size: 22px;
  line-height: 32px;
  margin: 36px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 18px;
    line-height: 28px;
    margin: 32px 0 0;
  }
}

h5,
.nhsuk-heading-xs {
  font-size: 19px;
  line-height: 28px;
  margin: 32px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 16px;
    line-height: 28px;
    margin: 28px 0 0;
  }
}

p,
.nhsuk-body {
  font-weight: $nhs-font-normal;
  margin: 28px 0 0;
  @media only screen and (max-width: 481px) {
    margin: 24px 0 0;
  }
}

.nhsuk-body-l {
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0 0;
  }
}

.nhsuk-body-s {
  font-size: 16px;
  line-height: 28px;
  margin: 20px 0 0;
  @media only screen and (max-width: 481px) {
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0 0;
  }
}

a {
  color: $link-colour;
  cursor: pointer;
  &:focus {
    background: $yellow;
    box-shadow: 0 0 0 4px $yellow;
    color: $nhs-black;
    outline: 0;
  }
  &:hover {
    background: $nhs-yellow-aaa-lighten-30;
    box-shadow: 0 0 0 4px $nhs-yellow-aaa-lighten-30;
    color: $nhs-black;
    text-decoration: none;
  }
  &:active {
    background: $nhs-yellow-aaa-lighten-30;
    box-shadow: 0 0 0 4px $nhs-yellow-aaa-lighten-10;
    color: $nhs-black-lighten-10;
  }
}

ul,
ol {
  font-weight: $nhs-font-normal;
  margin: 28px 0 0;
  padding-left: 20px;
  @media only screen and (max-width: 481px) {
    margin: 24px 0 0;
  }
  li {
    margin: 12px 0 0;
    @media only screen and (max-width: 481px) {
      margin: 8px 0 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

tr,
th {
  font-weight: $nhs-font-normal;
}

strong {
  font-weight: $nhs-font-bold;
}

.nhsuk-page-heading {
  padding: 34px 0 64px;
  @media only screen and (max-width: 641px) {
    padding: 25px 0 40px;
  }
  h1 {
    margin: 0;
  }
}

.nhsuk-page-nav {
  & > *:first-child {
    margin-top: 0;
  }
  @media only screen and (max-width: 641px) {
    margin-bottom: 44px;
  }
  h2,
  h3 {
    & + ol,
    & + ul {
      margin-top: 12px;
      @media only screen and (max-width: 641px) {
        margin-top: 8px;
      }
    }
  }
}

.nhsuk-sticky {
  @media only screen and (min-width: 767px) {
    position: sticky;
    top: 40px;
  }
}

.nhsuk-page-content {
  & > *:first-child {
    margin-top: 0;
  }
}

@mixin caption() {
  color: $secondary-text-colour;
  display: block;
  font-weight: 400;
}

.nhsuk-caption-xl {
  @include caption;
  font-size: 24px;
  line-height: 32px;
  @media only screen and (max-width: 481px) {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin nhsuk-list() {
  font-weight: $nhs-font-normal;
  margin: 20px 0 0;
  padding-left: 20px;
  @media only screen and (max-width: 481px) {
    margin: 16px 0 0;
  }
  li {
    line-height: 32px;
    margin: 8px 0 0;
    @media only screen and (max-width: 481px) {
      line-height: 28px;
    }
  }
}

.nhsuk-list--dashed {
  @include nhsuk-list();
  list-style: none;
  list-style-position: inside;
  padding: 0;
  li {
    margin-left: 25px;
    &:before {
      color: darken($nhs-border-colour, 15%);
      content: '- ';
      margin-left: -25px;
      padding-right: 5px;
    }
  }
}

.reading-width {
  @include reading-width();
}

hr {
  &.nhsuk-h-line {
    border: 0;
    border-top: 1px solid $nhs-border-colour;
    margin: 72px 0 0;
    @media only screen and (max-width: 481px) {
      margin: 48px 0 0;
    }
  }
}
