//callouts
$nhsuk-light-yellow: #FFF7E8;

@mixin nhsuk-c-callout($callout-background,$callout-border) {
  @include nhsuk-component-center();
  @include reading-width-content();
  @include top-and-bottom();
  background: $callout-background;
  color: $nhsuk-black;
  margin: 56px 0;
  padding: 32px 24px 32px 68px;
  position:relative;
  @include mq($until: tablet) {
      margin: 40px 0;
      padding: 24px 24px 24px 52px;
  }
  &:before {
      @include nhsuk-tab();
      content: '';
      background-image: url(../../../../images/callout-danger.svg);
      background-size: 100% 100%;
      display: block;
      height: 56px;
      width: 56px;
      @include mq($until: tablet) {
          height: 40px;
          width: 40px;
      }
  }
}
.nhsuk-c-callout__info {
  @include nhsuk-c-callout(white,$nhsuk-blue);
  &:before {
      background-image: url(../../../../images/callout-info.svg);
      top: -8px;
    @include mq($until: tablet) {
        top: -4px;
    }
  }
}

.nhsuk-c-callout__emergency {
  @include nhsuk-c-callout(white,$nhsuk-red);
  border: 4px solid $nhsuk-red;

  &:before {
      background-image: url(../../../../images/callout-danger.svg);
      left: -12px;
      @include mq($until: tablet) {
          left: -8px;
      }
  }
}

.warning-title{
  font-weight: 700;
}

//callouts v2

//keypoint

.nhsuk-c-keypoint {
  @include reading-width-content();
  @include top-and-bottom();
  background: white;
  border-left: 16px solid #00A499;
  margin: 48px 0;
  padding: 32px;
  @include mq($until: tablet) {
      margin: 32px 0;
      padding: 24px;
  }
  h2,
  h3,
  h4 {
      + p,
      + ul {
          margin-top: 16px;
      }
  }
}

.nhsuk-c-keypoint-v1 {
    @include reading-width-content();
    @include top-and-bottom();
    background: white;
    border-left: 16px solid $nhsuk-blue;
    margin: 48px 0;
    padding: 32px;
    @include mq($until: tablet) {
        margin: 32px 0;
        padding: 24px;
    }
    h2,
    h3,
    h4 {
        + p,
        + ul {
            margin-top: 16px;
        }
    }
  }

.nhsuk-c-keypoint-v2 {
    @include reading-width-content();
    @include top-and-bottom();
    border-left: 8px solid $nhsuk-blue;
    margin: 40px 0;
    padding: 8px 24px;
    @include mq($until: tablet) {
        margin: 40px 0;
        padding: 4px 16px;
    }
    h2,
    h3,
    h4 {
        + p,
        + ul {
            margin-top: 16px;
        }
    }
  }
