//A promo is a snippet of content which links to a full piece of content elsewhere on the NHS site or app.
@import '../../src/globals/helpers/top-and-bottom';

.nhsuk-c-promo {
  @include top-and-bottom();
  background: $nhsuk-white;
  border-bottom: 4px solid $nhsuk-grey-4;
  margin: 56px 0 0;
  padding: 32px;
  width: 100%; //default width is 100%
  @include mq($until: tablet) {
      margin: 40px 0 0;
      padding: 24px;
  }
  .nhsuk-c-promo__title {

  }
  .nhsuk-c-promo__description {
      color: $nhsuk-secondary-text-colour;
  }
}

//A group of promos
.nhsuk-c-promo__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0 0 -16px;
  @include mq($until: desktop) {
      margin: 24px 0 0;
  }
  .nhsuk-c-promo {
      margin: 16px 0 0 16px !important;
      width: calc(100% * (1/3) - 16px); //default width is 1/3 of it's container
      @include mq($until: desktop) {
          margin: 16px 0 0 !important;
          width: 100%;
      }
  }

  //helper classes for promo sizing

  &.nhsuk-c-promo__group--two-items {
      .nhsuk-c-promo {
          width: calc(100% * (1/2) - 16px);
          @include mq($until: desktop) {
              width: 100%;
          }
      }
  }
}
