//A promo is a snippet of content which links to a full piece of content elsewhere on the NHS site or app.
@import '../../src/globals/helpers/top-and-bottom';

.nhsuk-c-promo {
  margin: 56px 0 0;
  width: 100%; //default width is 100%
  @include mq($until: tablet) {
      margin: 40px 0 0;
  }

  a {
    background: $nhsuk-white;
    box-shadow: 0 4px 0 0 $nhsuk-grey-4;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    &:focus {
        box-shadow: 0 0 0 4px $nhsuk-focus-colour;
        .nhsuk-c-promo__heading {
            text-decoration: underline;
        }
    }
    &:hover {
        background: $nhsuk-white;
        box-shadow: 0 0 0 4px $nhsuk-focus-colour;
        color: $nhsuk-blue;
    }
    &:active {
        background: darken($nhsuk-grey-5,2%) !important;
        box-shadow: 0 0 0 4px $nhsuk-link-active-background-colour !important;
    }
    &:hover,
    &:active {
        .nhsuk-c-promo__heading {
            text-decoration: none;
        }
    }
    &:hover,
    &:focus,
    &:active {
        .nhsuk-c-promo__image {
            border-color: transparent;
        }
    }
    .nhsuk-c-promo__heading {
        display: inline-block;
        text-decoration: underline;
    }
  }

  .nhsuk-c-promo__image-wrapper {
    display: block;
    float: none;
    margin: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%
  }

  .nhsuk-c-promo__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $nhsuk-grey-5;
    bottom: 0;
    display: block;
    left: 0;
    padding-bottom: 56.25%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nhsuk-c-promo__content {
    @include top-and-bottom();
    padding: 32px;
    @include mq($until: tablet) {
        padding: 24px;
    }
  }

  .nhsuk-c-promo__description {
    color: $nhsuk-secondary-text-colour;
    margin-top: 12px;
    text-decoration: none !important;
  }

  &--small {
    .nhsuk-c-promo__heading {
        font-size: 19px;
        line-height: 28px;
        @include mq($until: tablet) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .nhsuk-c-promo__description {
        font-size: 16px;
        line-height: 24px;
        @include mq($until: tablet) {
            font-size: 14px;
        }
      }
  }
}

//A group of promos

.nhsuk-c-promo__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -32px 0 0 -32px !important;
  @include mq($until: desktop) {
      margin: -16px 0 0 !important;
  }
  .nhsuk-c-promo {
      margin: 32px 0 0 32px !important;
      @include mq($until: desktop) {
          margin: 16px 0 0 !important;
          width: 100%;
      }
  }
}

// Promo sizing

.nhsuk-c-promo {
    &--two {
        width: calc(100% * (1/2) - 32px);
        @include mq($until: desktop) {
            width: 100%;
        }
    }
    &--three {
        width: calc(100% * (1/3) - 32px);
        @include mq($until: desktop) {
            width: 100%;
        }
    }
}


// Alternative colour for white background

.nhsuk-section--white {
    .nhsuk-c-promo {
        a {
            background: $nhsuk-grey-5;
        }
    }
}
