


<!DOCTYPE html>
<html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Care card urgent (red) - NHS.UK frontend</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://nhsuk.github.io/nhsuk-frontend/">
    <meta property="og:title" content="NHS.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for NHS websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/nhsuk-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="NHS">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        
<div class="nhsuk-care-card nhsuk-care-card--urgent">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Ask for an urgent GP appointment if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
  
          <ul>
            <li>you're an adult and have chickenpox</li>
            <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
            <li>you have a weakened immune system and you've been near someone with chickenpox</li>
            <li>you think your newborn baby has chickenpox</li>
          </ul>
          <p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
          
  </div>
</div>

      </div>
    </div>

  </main>
</div>



      
  </body>
</html>
