@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Action link component
///
/// 1. Display inline-block so top and bottom margins are respected.
/// 2. Add sufficient space between icon and text.
/// 3. Position is relative so the arrow icon can display absolute.
/// 4. Text decoration none used to override default <a> styling.
///
/// @group components
////

$_small-icon-size: 24px;

.nhsuk-action-link {
  @include nhsuk-responsive-margin(6, "bottom");
}

.nhsuk-action-link__link {
  display: inline-block; // [1]
  padding-left: nhsuk-px-to-rem($nhsuk-icon-size + 2px); // [2]
  position: relative; // [3]
  text-decoration: none; // [4]

  @include nhsuk-font(22, $weight: bold, $line-height: $nhsuk-icon-size);
  @include nhsuk-print-colour($nhsuk-print-text-colour);

  @include nhsuk-media-query($until: tablet) {
    line-height: $_small-icon-size;
    padding-left: nhsuk-px-to-rem($_small-icon-size + 2px); // [2]
  }

  .nhsuk-icon {
    // stylelint-disable-next-line declaration-no-important
    fill: nhsuk-colour("green") !important;
    left: nhsuk-px-to-rem(-2px);
    position: absolute;

    @include nhsuk-media-query($until: tablet) {
      height: nhsuk-px-to-rem($_small-icon-size);
      width: nhsuk-px-to-rem($_small-icon-size);
    }
  }

  &:focus .nhsuk-icon {
    // stylelint-disable-next-line declaration-no-important
    fill: $nhsuk-focus-text-colour !important;
  }
}
