.nhsuk-c-panel {
  @include nhsuk-responsive-margin(8, "top");
  @include nhsuk-responsive-margin(6, "bottom");

  background: $nhsuk-white;
  padding: 24px;
  padding-top: 0;
  position: relative;

  @include mq($until: tablet) {
    margin: 40px 0;
  }

  @include mq($media-type: print) {
    border: 1px solid $nhsuk-black;
    page-break-inside: avoid;
  }

  h3 {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    display: inline-block;
    margin: 0 -24px 8px;
    padding: 8px 24px;
    position: relative;
    top: -16px;

    @include mq($until: tablet) {
      top: -8px;
    }

    @include mq($media-type: print) {
      color: $nhsuk-black;
      left: .5px;
      top: 5px;
    }

    & + p {
      margin-top: 0;
    }

  }

  &__warning {
    background: $nhsuk-pale-yellow;
    color: $nhsuk-text-colour;

    h3 {
      background: $nhsuk-yellow;
      color: $nhsuk-text-colour;
    }

  }

  @include top-and-bottom();

}
