@import '../../src/globals/settings/colours';

.example-code-snippet {
  background-color: $nhsuk-white;
  color: $nhsuk-blue;
  padding: 0 5px;
}

.nhsuk-page-intro {
  color: $nhsuk-secondary-text-colour;
  margin-top: 24px;
}
