@import '../../src/globals/settings/colours';

.example-code-snippet {
  background-color: $nhsuk-white;
  color: $nhsuk-blue;
  padding: 0 5px;
}

.nhsuk-page-intro {
  color: $nhsuk-secondary-text-colour;
  margin-top: 24px;
}

//remove top margin from the top section first element
.nhsuk-page-content section:first-child > :first-child {
  margin-top: 0;
}
