/* ==========================================================================
   COMPONENTS/ #ACTION-LINK
   ========================================================================== */

/**
 * A link to start an important or transactional journey.
 *
 * 1. Display is inline-block so the top and bottom margins/paddings are
 *    respected.
 * 2. 'Random number' is used to properly have sufficient space between icon
 *    and text.
 * 3. Position is relative so the arrow icon can display absolute.
 * 4. Text decoration none used to override default <a> styling.
 * 5. Box shadow 8px used instead of the default 4px.
 * 6. Text decoration underline used to override default <a> styling.
 */

.nhsuk-c-action-link {
  @include nhsuk-typography-responsive(22);

  @include nhsuk-responsive-margin(6, 'bottom');

  display: inline-block; /* [1] */
  font-weight: $nhsuk-font-bold;
  padding-left: 42px; /* [2] */
  position: relative; /* [3] */
  text-decoration: none; /* [4] */

  @include mq($until: tablet) {
    padding-left: 36px; /* [2] */
  }

  &:focus {
    box-shadow: 0 0 0 8px $nhsuk-link-focus-background-colour; /* [5] */
  }

  &:hover {
    box-shadow: 0 0 0 8px $nhsuk-link-hover-background-colour; /* [5] */

    span {
      text-decoration: underline; /* [6] */
    }
  }

  .nhsuk-icon__arrow-right-circle {
    fill: $colour_nhsuk-green;
    height: 40px;
    left: -3px;
    position: absolute;
    top: -4px;
    width: 40px;

    @include mq($until: tablet) {
      height: 34px;
      margin-bottom: -9px;
      top: -3px;
      width: 34px;
    }
  }

}
