.nhsuk-c-action-link {
  display: inline-block;
  font-size: 21px;
  font-weight: 600;
  margin: 32px 16px 32px 0;
  padding-left: 42px;
  position: relative;
  text-decoration: none;

  @include mq($until: tablet) {
    font-size: 19px;
    padding-left: 36px;
  }

  .nhsuk-icon__arrow-right-circle {
    fill: $nhsuk-green;
    height: 40px;
    left: -3px;
    position: absolute;
    top: -6px;
    width: 40px;

    @include mq($until: tablet) {
      height: 34px;
      margin-bottom: -9px;
      top: -5px;
      width: 34px;
    }
  }

  &:hover,
  &:focus {
    .nhsuk-icon__arrow-right-circle {
      fill: $nhsuk-green-shade-35;
    }
  }

  &:focus {
    box-shadow: 0 0 0 8px $nhsuk-link-focus-background-colour;
  }

  &:hover {
    box-shadow: 0 0 0 8px $nhsuk-link-hover-background-colour;
    span {
      text-decoration: underline;
    }
  }

  &:active {
    box-shadow: 0 0 0 8px $nhsuk-link-hover-background-colour;
    background: $nhsuk-link-hover-background-colour !important;
    color: $nhsuk-link-active-colour !important;
    .nhsuk-icon__arrow-right-circle {
      fill: $nhsuk-green-shade-50;
    }
  }

}

.nhsuk-c-action-link--small {
  font-size: 19px;
  margin: 32px 16px 32px 0;
  padding-left: 32px;

  @include mq($until: tablet) {
    font-size: 16px;
    padding-left: 28px;
  }

  .nhsuk-icon__arrow-right-circle {
    height: 28px;
    left: -3px;
    top: 0;
    width: 28px;

    @include mq($until: tablet) {
      height: 24px;
      top: 0;
      width: 24px;
    }
  }
}

.nhsuk-c-action-link--alternative {

  .nhsuk-icon__arrow-right-circle {
    fill: $nhsuk-aqua-green;

    &:hover,
    &:focus {
      .nhsuk-icon__arrow-right-circle {
        fill: $nhsuk-aqua-green-shade-35;
      }
    }

    &:active {
      .nhsuk-icon__arrow-right-circle {
        fill: $nhsuk-aqua-green-shade-50;
      }
    }
  }
}
