@mixin color-palette-variant-single($main-color){
      background:$main-color;
      &.colour-label {
        background: transparent;
        border: 0;
      }
      &.colour-hex {
        background: transparent;
        border: 0;
        &:after{
          content:"#{$main-color}";
        }
      }
  }

.colour-palette {
  
  td, th {
    padding: 15px;
  }
  .colour-swatch {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    &__nhsuk-text-colour {
      @include color-palette-variant-single($nhsuk-text-colour);
    }
    &__nhsuk-secondary-text-colour {
      @include color-palette-variant-single($nhsuk-secondary-text-colour);
    }
    &__nhsuk-link-colour {
      @include color-palette-variant-single($nhsuk-link-colour);
    }
    &__nhsuk-link-hover-colour {
      @include color-palette-variant-single($nhsuk-link-hover-colour);
    }
    &__nhsuk-link-hover-background-colour {
      @include color-palette-variant-single($nhsuk-link-hover-background-colour);
    }
    &__nhsuk-link-focus-colour {
      @include color-palette-variant-single($nhsuk-link-focus-colour);
    }
    &__nhsuk-link-focus-background-colour {
      @include color-palette-variant-single($nhsuk-link-focus-background-colour);
    }
    &__nhsuk-link-active-colour {
      @include color-palette-variant-single($nhsuk-link-active-colour);
    }
    &__nhsuk-link-active-background-colour {
      @include color-palette-variant-single($nhsuk-link-active-background-colour);
    }
    &__nhsuk-link-visited-colour {
      @include color-palette-variant-single($nhsuk-link-visited-colour);
    }
    &__nhsuk-border-colour {
      @include color-palette-variant-single($nhsuk-border-colour);
    }
    &__nhsuk-button-background-colour {
      @include color-palette-variant-single($nhsuk-button-background-colour);
    }
    &__nhsuk-button-hover-colour {
      @include color-palette-variant-single($nhsuk-button-hover-colour);
    }
    &__nhsuk-focus-colour {
      @include color-palette-variant-single($nhsuk-focus-colour);
    }
    &__nhsuk-black {
      @include color-palette-variant-single($nhsuk-black);
    }
    &__nhsuk-grey-1 {
      @include color-palette-variant-single($nhsuk-grey-1);
    }
    &__nhsuk-grey-2 {
      @include color-palette-variant-single($nhsuk-grey-2);
    }
    &__nhsuk-grey-3 {
      @include color-palette-variant-single($nhsuk-grey-3);
    }
    &__nhsuk-grey-4 {
      @include color-palette-variant-single($nhsuk-grey-4);
    }
    &__nhsuk-grey-5 {
      @include color-palette-variant-single($nhsuk-grey-5);
      border: 2px solid $nhsuk-border-colour;
    }
    &__nhsuk-blue {
      @include color-palette-variant-single($nhsuk-blue);
    }
    &__nhsuk-light-blue {
      @include color-palette-variant-single($nhsuk-light-blue);
    }
    &__nhsuk-aqua-blue {
      @include color-palette-variant-single($nhsuk-aqua-blue);
    }
    &__nhsuk-white {
      @include color-palette-variant-single($nhsuk-white);
    }
    &__nhsuk-green {
      @include color-palette-variant-single($nhsuk-green);
    }
    &__nhsuk-red {
      @include color-palette-variant-single($nhsuk-red);
    }
    &__nhsuk-yellow {
      @include color-palette-variant-single($nhsuk-yellow);
    }
    &__nhsuk-pale-yellow {
      @include color-palette-variant-single($nhsuk-pale-yellow);
    }
    &__nhsuk-warm-yellow {
      @include color-palette-variant-single($nhsuk-warm-yellow);
    }
    &__nhsuk-purple {
      @include color-palette-variant-single($nhsuk-purple);
    }
  }
  span {
    &.colour-label,
    &.colour-hex {
      display: block;
    }
  }
}

// New colours page

.nhsuk-colour-wrapper {
  margin: 40px -16px 0;

  @include mq($until: desktop) {
    margin: 40px -16px 24px;
  }

  @include mq($until: tablet) {
    margin: 24px -16px;
  }

  & + h3,
  & + h4 {
    margin-top: 16px;
  }
}

.nhsuk-colour {
  @include top-and-bottom();
  background: $nhsuk-blue;
  color: $nhsuk-white;
  margin-bottom: 32px;
  padding: 24px;
  width: 100%;

  @include mq($until: desktop) {
    margin-bottom: 16px;
  }

  p {
    margin-top: 8px;
  }

  &--blue {
    background: $nhsuk-blue;
  }

  &--green {
    background: $nhsuk-green;
  }

  &--white {
    background: $nhsuk-white;
  }

  &--red {
    background: $nhsuk-red;
  }

  &--yellow {
    background: $nhsuk-yellow;
  }

  &--warm-yellow {
    background: $nhsuk-warm-yellow;
  }

  &--purple {
    background: $nhsuk-purple;
  }

  &--black {
    background: $nhsuk-black;
  }

  &--grey-1 {
    background: $nhsuk-grey-1;
  }

  &--grey-2 {
    background: $nhsuk-grey-2;
  }

  &--grey-3 {
    background: $nhsuk-grey-3;
  }

  &--grey-4 {
    background: $nhsuk-grey-4;
  }

  &--grey-5 {
    background: $nhsuk-grey-5;
    border: 1px solid $nhsuk-grey-4;
  }

  &--text-white {
    color: $nhsuk-white;
    a {
      color: $nhsuk-white;

      &:hover {
        color: $nhsuk-link-hover-colour;
      }
    }
  }

  &--text-black {
    color: $nhsuk-black;

    a {
      color: $nhsuk-black;
    }
  }
}