


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link " aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image xlink:href="" src="https://assets.nhs.uk/images/nhs-logo-white.png"></image>
        </svg>
        
      </a>
    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-page-content">
            
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="table">Table</h1>
<p>Find out more about the table component and when to use it in the <a href="https://beta.nhs.uk/service-manual/patterns/">NHS digital service manual</a>.</p>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/179">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="simple-table">Simple table</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/tables.html">Preview the table component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-table-responsive&quot;&gt;
  &lt;table class=&quot;nhsuk-table&quot;&gt;
    &lt;caption class=&quot;nhsuk-table__caption&quot;&gt;Skin symptoms and possible causes&lt;/caption&gt;
    &lt;thead class=&quot;nhsuk-table__head&quot;&gt;
      &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
        &lt;th class=&quot;nhsuk-table__header&quot; scope=&quot;col&quot;&gt;Skin symptoms&lt;/th&gt;
        &lt;th class=&quot;nhsuk-table__header&quot; scope=&quot;col&quot;&gt;Possible cause&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody class=&quot;nhsuk-table__body&quot;&gt;
      &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
        &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Blisters on lips or around the mouth&lt;/td&gt;
        &lt;td class=&quot;nhsuk-table__cell &quot;&gt;cold sores&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
        &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Itchy, dry, cracked, sore&lt;/td&gt;
        &lt;td class=&quot;nhsuk-table__cell &quot;&gt;eczema&lt;/td&gt;
      &lt;/tr&gt;  
      &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
        &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Itchy blisters&lt;/td&gt;
        &lt;td class=&quot;nhsuk-table__cell &quot;&gt;shingles, chickenpox&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code class="language-html">{% from &#39;components/tables/macro.njk&#39; import table %}

{{ table({
  panel: false,
  caption: &quot;Skin symptoms and possible causes&quot;,
  firstCellIsHeader: false,
  head: [
    {
      text: &quot;Skin symptoms&quot;
    },
    {
      text: &quot;Possible cause&quot;
    }
  ],
  rows: [
    [
      {
        text: &quot;Blisters on lips or around the mouth&quot;
      },
      {
        text: &quot;cold sores&quot;
      }
    ],
    [
      {
        text: &quot;Itchy, dry, cracked, sore&quot;
      },
      {
        text: &quot;eczema&quot;
      }
    ],
    [
      {
        text: &quot;Itchy blisters&quot;
      },
      {
        text: &quot;shingles, chickenpox&quot;
      }
    ]
  ]
}) }}</code></pre>
<h3 id="table-panel">Table panel</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/tables-panel.html">Preview the table panel component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-table__panel-with-heading-tab&quot;&gt;
  &lt;h3 class=&quot;nhsuk-table__heading-tab&quot;&gt;Skin symptoms and possible causes&lt;/h3&gt;
  &lt;div class=&quot;nhsuk-table-responsive&quot;&gt;
    &lt;table class=&quot;nhsuk-table&quot;&gt;  
      &lt;caption class=&quot;nhsuk-table__caption&quot;&gt;Skin symptoms and possible causes&lt;/caption&gt;
      &lt;thead class=&quot;nhsuk-table__head&quot;&gt;
        &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
          &lt;th class=&quot;nhsuk-table__header&quot; scope=&quot;col&quot;&gt;Skin symptoms&lt;/th&gt;
          &lt;th class=&quot;nhsuk-table__header&quot; scope=&quot;col&quot;&gt;Possible cause&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody class=&quot;nhsuk-table__body&quot;&gt;
        &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
          &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Blisters on lips or around the mouth&lt;/td&gt;
          &lt;td class=&quot;nhsuk-table__cell &quot;&gt;cold sores&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
          &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Itchy, dry, cracked, sore&lt;/td&gt;
          &lt;td class=&quot;nhsuk-table__cell &quot;&gt;eczema&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;nhsuk-table__row&quot;&gt;
          &lt;td class=&quot;nhsuk-table__cell&quot;&gt;Itchy blisters&lt;/td&gt;
          &lt;td class=&quot;nhsuk-table__cell &quot;&gt;shingles, chickenpox&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<p>If you’re using Nunjucks macros in production be aware that using <code>html</code> arguments, or ones ending with <code>html</code> can be a <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">security risk</a>. More about it in the <a href="https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning">Nunjucks documentation</a>.</p>
<pre><code class="language-html">{% from &#39;components/tables/macro.njk&#39; import table %}

{{ table({
  panel: true,
  heading: &quot;Skin symptoms and possible causes&quot;,
  caption: &quot;Skin symptoms and possible causes&quot;,
  firstCellIsHeader: false,
  head: [
    {
      text: &quot;Skin symptoms&quot;
    },
    {
      text: &quot;Possible cause&quot;
    }
  ],
  rows: [
    [
      {
        text: &quot;Blisters on lips or around the mouth&quot;
      },
      {
        text: &quot;cold sores&quot;
      }
    ],
    [
      {
        text: &quot;Itchy, dry, cracked, sore&quot;
      },
      {
        text: &quot;eczema&quot;
      }
    ],
    [
      {
        text: &quot;Itchy blisters&quot;
      },
      {
        text: &quot;shingles, chickenpox&quot;
      }
    ]
  ]
}) }}</code></pre>
<h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The table Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>rows</strong></td>
<td>array</td>
<td>Yes</td>
<td>Array of table rows and cells.</td>
</tr>
<tr>
<td><strong>rows.[].text (or) rows.[].html</strong></td>
<td>string</td>
<td>Yes</td>
<td>Text or HTML for cells in table rows. If <code>html</code> is specified, the <code>text</code> argument will be ignored.</td>
</tr>
<tr>
<td><strong>rows.[].format</strong></td>
<td>string</td>
<td>No</td>
<td>Specify format of a cell. Currently we only use &quot;numeric&quot;.</td>
</tr>
<tr>
<td><strong>rows.[].colspan</strong></td>
<td>number</td>
<td>No</td>
<td>Specify how many columns a cell extends.</td>
</tr>
<tr>
<td><strong>rows.[].rowspan</strong></td>
<td>number</td>
<td>No</td>
<td>Specify how many rows a cell extends.</td>
</tr>
<tr>
<td><strong>panel</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, the table is rendered inside a <a href="https://nhsuk.github.io/nhsuk-frontend/components/panel-with-label.html">panel with a label</a>.</td>
</tr>
<tr>
<td><strong>panelClasses</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the panel containing the table. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>heading</strong></td>
<td>string</td>
<td>No</td>
<td>Heading/label of the panel if the panel argument is set to true.</td>
</tr>
<tr>
<td><strong>headingLevel</strong></td>
<td>integer</td>
<td>No</td>
<td>Optional heading level for the heading. Default: 3.</td>
</tr>
<tr>
<td><strong>tableClasses</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the table. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the table.</td>
</tr>
<tr>
<td><strong>caption</strong></td>
<td>string</td>
<td>No</td>
<td>Optional caption for the table.</td>
</tr>
<tr>
<td><strong>captionClasses</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the table caption. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>head</strong></td>
<td>array</td>
<td>No</td>
<td>Optional array of table head cells.</td>
</tr>
<tr>
<td><strong>head.[].text or head.[].html</strong></td>
<td>array</td>
<td>No</td>
<td>Optional array of table head cells. If <code>html</code> is specified, the <code>text</code> argument will be ignored.</td>
</tr>
<tr>
<td><strong>head.[].colspan</strong></td>
<td>number</td>
<td>No</td>
<td>Specify how many columns a cell extends.</td>
</tr>
<tr>
<td><strong>head.[].rowspan</strong></td>
<td>number</td>
<td>No</td>
<td>Specify how many rows a cell extends.</td>
</tr>
<tr>
<td><strong>head.[].format</strong></td>
<td>string</td>
<td>No</td>
<td>Specify format of a cell. Currently we only use &quot;numeric&quot;.</td>
</tr>
<tr>
<td><strong>firstCellIsHeader</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, first cell in table row will be a TH instead of a TD.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK Frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</li>
    </div>
  </div>
</footer>



  </body>
</html>
