


<!DOCTYPE html>
<html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Tables - NHS.UK frontend</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://nhsuk.github.io/nhsuk-frontend/">
    <meta property="og:title" content="NHS.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for NHS websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/nhsuk-frontend/assets/logos/open-graph.png">
    <meta property="og:image:alt" content="NHS">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Ibuprofen syrup dosages for children</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
          Age
        </th>
        <th role="columnheader" class="" scope="col">
          How much?
        </th>
        <th role="columnheader" class="" scope="col">
          How often?
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>3 to 5 months (weighing more than 5kg)
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>2.5ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>6 to 11 months
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>2.5l
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 to 4 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>1 to 3 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>5ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>4 to 6 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>7.5ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>7 to 9 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>10ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>10 to 11 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>15ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 times in 24 hours
            </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" >
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Age </span>12 to 17 years
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How much? </span>15ml to 20ml
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">How often? </span>Max 3 to 4 times in 24 hours
            </td>
      </tr>
    </tbody>
  </table>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
