@import 'globals/helpers/mixins';
@import 'globals/objects/grid';
@import 'globals/objects/width-container';
@import 'globals/settings/typography';

@import 'components/care-card/care-card';
@import 'components/hero/hero';
@import 'components/breadcrumbs/breadcrumbs';
@import 'components/callout/callout';
@import 'components/panel/panel';
@import 'components/cookie-policy/cookie-policy';
@import 'components/page-contents/page-contents';
@import 'components/action-link/action-link';

@import 'pages/code';
@import 'pages/page';
@import 'pages/grid';
@import 'pages/colours';


// CSS for medicines page - lifted from beta.nhs.uk
// Fixes the extra numbering added to the markup of medicines pages.
// Can remove this eventually.

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

ul ul, ol ul {
    list-style-type: disc;
}

.nhsuk-page-content__section-one > *:first-child {
    margin-top: 0; //added a class of nhsuk-page-content__section-one to remove margin-top from first element within the section
}

// End medicines

// Testing the spacing between the in page nav and body content

.nhsuk-page-nav{
    @include mq($from: tablet) {
        padding-right:32px;
    }
}

section:focus {
    outline: 0;
}