@import 'globals/helpers/mixins';
@import 'globals/objects/width-container';
@import 'globals/settings/typography';

@import 'components/care-card/care-card';
@import 'components/hero/hero';
@import 'components/breadcrumbs/breadcrumbs';
@import 'components/callout/callout';
@import 'components/panel/panel';
@import 'components/cookie-policy/cookie-policy';
@import 'components/page-contents/page-contents';
@import 'components/page-contents/page-contents-v2';
@import 'components/action-link/action-link';
@import 'components/table/table';
@import 'components/promo/promo';
@import 'components/intro-image/intro-image';
@import 'components/page-nav-right/page-nav-right';
@import 'components/page-nav-left/page-nav-left';
@import 'components/images/images';
@import 'components/reveals/reveals';
@import 'components/review-datestamp/review-datestamp';
@import 'components/pagination/pagination';

@import 'pages/code';
@import 'pages/grid';
@import 'pages/colours';


// CSS for medicines page - lifted from beta.nhs.uk
// Fixes the extra numbering added to the markup of medicines pages.
// Can remove this eventually.

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

ul ul, ol ul {
    list-style-type: disc;
}

.nhsuk-page-content__section-one > *:first-child {
    margin-top: 0; //added a class of nhsuk-page-content__section-one to remove margin-top from first element within the section
}

// End medicines

// Testing the spacing between the in page nav and body content

.nhsuk-page-nav{
    @include mq($from: tablet) {
        padding-right:32px;
    }
}

// Epilepsy multi-page navigation

.nhsuk-list-nav {
  &__two-column {
    display: block;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
    li {
      margin: 16px 0;
    }
  }
}

// white page background fallbacks

.white-page-background {
    background-color: white;

    //care cards
    .care-card {
      &.grey {
        .care-card-content {
          background: $nhsuk-grey-4-tint-50;
        }
      }
      &.blue {
        .care-card-content {
          background: $nhsuk-blue-tint-90;
        }
      }
      &.red {
        .care-card-content {
          background: $nhsuk-red-tint-90;
        }
      }
    }

    //callouts
    .nhsuk-c-callout__warning {
        background: $nhsuk-warm-yellow-tint-90;
    }

    //panels
    .nhsuk-c-panel {
        background: tint($nhsuk-grey-5,50%);
    }

    //breadcrumb
    .nhsuk-breadcrumb {
        border-bottom: 1px solid $nhsuk-grey-5;
    }

    //intro text
    .nhsuk-page-intro {
        color: $nhsuk-grey-1;
    }
  }

  .list--check--inline,
  .list--cross--inline {
    position: relative;
    list-style: none;
    padding-left: 45px;
    .nhsuk-icon__tick,
    .nhsuk-icon__cross {
      position: absolute;
      left: -3px;
      margin-top: -7px;
    }
  }


  .list--check-css,
  .list--cross-css{
    list-style: none;
    padding-left: 0;
    li{
        margin-top: 16px;
        position:relative;
    }
  }
  .list--check-css li {
    &:before {
      content: url('data:image/svg+xml;utf8,<svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path class="st0" d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path><path class="st0" d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path></svg>'); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
    }
  }



.nhsuk-page-content > *:first-child > *:first-child {
    margin-top: 0;
}

.nhsuk-icon {
  &__tick {
    // Icon styling
    &--fallback {
      // Fall back styling
      width: 34px;
      height: 34px;
    }
  }
}
