@import 'globals/helpers/mixins';
@import 'globals/objects/grid';
@import 'globals/objects/width-container';
@import 'globals/settings/typography';

@import 'components/care-card/care-card';
@import 'components/hero/hero';
@import 'components/breadcrumbs/breadcrumbs';
@import 'components/footer/footer';

@import 'pages/code';
@import 'pages/page';
@import 'pages/grid';
@import 'pages/colours';

//mixins

@mixin top-and-bottom(){
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}

@mixin nhsuk-tab() {
    left: -8px;
    position: absolute;
    top: -16px;
    @include mq($until: tablet) {
        left: -4px;
        top: -12px;
    }
}

@mixin nhsuk-component-center(){
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    @include mq($until: tablet) {
        width: 100%;
    }
}

@mixin reading-width-content() {
    p,
    li {
        max-width: 37em;
    }

}

//css for medicines page - lifted from beta.nhs.uk

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

//custom style for meds page

ul ul, ol ul {
    list-style-type: disc;
}

//callouts

@mixin nhsuk-c-callout($callout-background,$callout-border) {
    @include nhsuk-component-center();
    @include reading-width-content();
    @include top-and-bottom();
    background: $callout-background;
    color: $nhsuk-black;
    margin: 48px 0 40px;
    padding: 32px 24px 32px 68px;
    position:relative;
    @include mq($until: tablet) {
        margin: 40px 0 32px;
        padding: 24px 24px 24px 44px;
    }
    &:before {
        @include nhsuk-tab();
        content: '';
        background-image: url(../images/callout-danger.svg);
        background-size: 100% 100%;
        display: block;
        height: 56px;
        width: 56px;
        @include mq($until: tablet) {
            height: 40px;
            width: 40px;
        }
    }
}

.nhsuk-c-callout__warning {
    @include nhsuk-c-callout(#FFFFFF,$nhsuk-yellow);
    border-top: 8px solid $nhsuk-yellow;
    color: $nhsuk-black;
    &:before {
        background-image: url(../images/callout-warning.svg);
        left: -8px;
        top: -16px;
        @include mq($until: tablet) {
            left: -4px;
            top: -16px;
        }
    }
}

.nhsuk-c-callout__info {
    @include nhsuk-c-callout(white,$nhsuk-blue);
    &:before {
        background-image: url(../images/callout-info.svg);
    }
}

.nhsuk-c-callout__emergency {
    @include nhsuk-c-callout(white,$nhsuk-red);
    border: 4px solid $nhsuk-red;
    
    &:before {
        background-image: url(../images/callout-danger.svg);
        left: -12px;
        @include mq($until: tablet) {
            left: -8px;
        }
    }
}

.warning-title{
    font-weight: 700;
}

//callouts v2

@mixin nhsuk-c-callout-v2($callout-background,$callout-border) {
    @include nhsuk-component-center();
    @include reading-width-content();
    @include top-and-bottom();
    background: $callout-background;
    color: $nhsuk-black;
    margin: 48px 0;
    padding: 36px 24px 36px 96px;
    position:relative;
    @include mq($until: tablet) {
        margin: 32px 0;
        padding: 60px 16px 16px;
    }
    &:before {
        content: '';
        background-image: url(../images/callout-danger.svg);
        background-size: 100% 100%;
        display: block;
        height: 50px;
        left: 24px;
        position: absolute;
        top: 24px;
        width: 50px;
        @include mq($until: tablet) {
            height: 32px;
            left: 16px;
            top: 16px;
            width: 32px;
        }
    }
}

.nhsuk-c-callout__info-v2 {
    @include nhsuk-c-callout-v2(white,$nhsuk-blue);
    border-top: 4px solid $nhsuk-blue;
    color: $nhsuk-secondary-text-colour;
    &:before {
        background-image: url(../images/callout-info-v2.svg);
    }
}

.nhsuk-c-callout__warning-v2 {
    @include nhsuk-c-callout-v2(#FFFFFF,$nhsuk-yellow);
    border: 4px solid $nhsuk-yellow;
    color: $nhsuk-black;
    &:before {
        background-image: url(../images/callout-warning-v2.svg);
    }
}

.nhsuk-c-callout__warning-v3 {
    @include nhsuk-c-callout-v2(#FAE200,#FAE200);
    border: 4px solid #FAE200;
    color: $nhsuk-black;
    &:before {
        background-image: url(../images/callout-warning-v2-black.svg);
    }
}

//keypoint

.nhsuk-c-keypoint {
    @include reading-width-content();
    @include top-and-bottom();
    //background: rgba(white, 0.5);
    border-left: 16px solid $nhsuk-grey-2;
    margin: 40px 0;
    padding: 16px 24px 16px 24px;
    @include mq($until: tablet) {
        margin: 32px 0;
        padding: 16px;
    }
    h2,
    h3,
    h4 {
        + p,
        + ul {
            margin-top: 16px;
        }
    }
}

//do and don't list * needs re-engineering *

.nhsuk-c-panel {
    @include nhsuk-component-center();
    @include top-and-bottom();
    background: white;
    border-top: 8px solid $nhsuk-blue;
    color: $nhsuk-secondary-text-colour;
    margin: 40px 0;
    padding: 32px 24px;
    position:relative;
    @include mq($until: tablet) {
        margin: 32px 0;
        padding: 24px;
    }
}

.nhsuk-c-panel__with-header {
    h3 {
        @include nhsuk-tab();
        background: $nhsuk-blue;
        color: white;
        padding: 8px 24px;
        @include mq($until: tablet) {
            padding: 4px 16px;
        }
    }
}

.list--check,
.list--cross {
    list-style: none;
    padding-left: 32px;
}

.list--check li::before, .list--check li::after, .list--cross li::before, .list--cross li::after {
    content: "";
    left: -32px;
    position: absolute;
    zoom: 1;
}

.list--check,
.list--cross{
    li{
        margin-top: 16px;
        padding-left: 8px;
        position:relative;
    }
}
.list--check li{
    &:before {
        background: transparent;
        border: solid;
        border-color: $nhsuk-green;
        border-width: 0 0 5px 5px;
        height: 8px;
        top: 5px;
        transform: rotate(-45deg);
        width: 16px;
    }
}

.list--cross li::before,
.list--cross li::after {
    background: #da291c;
    height: 5px;
    top: 10px;
    transform: rotate(45deg);
    width: 24px;
    @include mq($until: tablet) {
        top: 9px;
    }
}

.list--cross li::after {
    transform: rotate(-45deg);
}

//inset text

.nhsuk-inset-text {
    @include top-and-bottom;
    border-left: 8px solid darken($nhsuk-grey-4,20%);
    margin: 32px 0;
    padding: 16px 0 16px 24px;
    @include mq($from: tablet) {
        margin: 40px 0;
    }
}

//added a class of nhsuk-page-content__section-one to remove margin-top from first element within the section

.nhsuk-page-content__section-one > *:first-child {
    margin-top: 0;
}

//in page nav

.nhsuk-page-nav{
    @include mq($from: tablet) {
        padding-right:32px;
    }
}

//intro paragraph

.nhsuk-page-intro {
    color: $nhsuk-secondary-text-colour;
    margin-top: 24px;
}

//remove body bottom margin

body {
    margin: 0;
}

//page background

html {
    background: $nhsuk-blue;
}

//main

main {
    padding-bottom: 40px !important;
    @include mq($from: tablet) {
        padding-bottom: 64px !important;
    }
}

//h2 margin adjustment

@media (min-width: 40.0625em) {
    h2, .nhsuk-heading-l {
        margin: 64px 0 0;
    }
}

//care card - include mixin for reading width

.care-card {
    //@include nhsuk-component-center();
}

.care-card-content{
    @include reading-width-content();
}
