@import '../settings/colours';
@import '../settings/typography';

* {
  box-sizing: border-box;
}

html,
html * {
  font-family: $nhsuk-font-stack;
}

html {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  background-color: $nhsuk-grey-4;
  color: $nhsuk-text-colour;
}

body {
  background-color: $nhsuk-grey-4;
  font-size: $base-font-size-mobile;
  line-height: $base-line-height-mobile;
  margin: 0 0 $footer-height;
  @include mq($from: tablet) {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}
