h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: $nhs-font-bold;
  margin-bottom: 0;
  color: inherit;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.263em;
  margin-top: 48px;
}

h2, .h2 {
  font-size: 1.8em;
  line-height: 1.333em;
  margin-top: 48px;
}

h3, .h3 {
  font-size: 1.6em;
  line-height: 1.379em;
  margin-top: 40px;
}

h4, .h4 {
  font-size: 1.4em;
  line-height: 1.44em;
  margin-top: 24px;
}

h5, .h5 {
  font-size: 1.2em;
  line-height: 1.454em;
  margin-top: 24px;
}

p {
  font-size: 1em;
  font-weight: $nhs-font-normal;
  margin-top: 24px;
  margin-bottom: 0;
  line-height: 1.684em;
}

a {
  color: $blue;
  &:hover {
    color: $link-hover-colour;
  }
  &:active {

  }
  &:visited {
    
  }
}

ul, ol {
  font-size: 1em;
  font-weight: $nhs-font-normal;
  margin-top: 24px;
  margin-bottom: 0;
  padding-left: 20px;
  li {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

tr, th {
  font-weight: $nhs-font-normal;
  font-size: 1em;
}

strong {
  font-weight: $nhs-font-bold;
}

//NHS redesign test CSS

//Pentatonic Musical Scale
.pentatonic{
  h1,
  .h1{
      font-size:2em;
      line-height:1.263;
      margin:1.473em 0 0;
  }

  h2,
  .h2{
      font-size:1.7411em;
      line-height:1.333;
      margin:1.697em 0 0;
  }

  h3,
  .h3{
      font-size:1.5157em;
      line-height:1.379;
      margin:1.379em 0 0;
  }

  h4,
  .h4{
      font-size:1.3195em;
      line-height:1.44;
      margin:1.280em 0 0;
  }

  h5,
  .h5{
      font-size:1.1487em;
      line-height:1.454;
      margin:1.455em 0 0;
  }

  h6,
  .h6{
      font-size:1em;
      line-height:1.684;
      margin:0.842em 0 0;
  }

  ul,
  ol{
      margin:1.053em 0 0;
  }

  ol li, ul li{
      margin:0.421em 0 0;
  }

  p{
      font-size:1em;
      line-height:1.684;
      margin:1.053em 0 0;
  }
}

//Golden Ditonic Scale
.golden{
  h1,
  .h1{
      font-size:2.6179em;
      line-height:1.2;
      margin:1.473em 0 0;
  }

  h2,
  .h2{
      font-size:2.0581em;
      line-height:1.333;
      margin:1.697em 0 0;
  }

  h3,
  .h3{
      font-size:1.618em;
      line-height:1.419;
      margin:1.379em 0 0;
  }

  h4,
  .h4{
      font-size:1.272em;
      line-height:1.5;
      margin:1.280em 0 0;
  }

  h5,
  .h5{
      font-size:1em;
      line-height:1.684;
      margin:1.455em 0 0;
  }

  ul,
  ol{
      margin:0.842em 0 0;
  }

  ol li, ul li{
      margin:0.421em 0 0;
  }

  p{
      font-size:1em;
      line-height:1.684;
      margin:0.842em 0 0;
  }

  .lead{
      font-size:1.272em;
      line-height:1.5;
      margin:1.280em 0 0;
  }
}
