/* ==========================================================================
   #inset-text
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-c-inset-text {
  @include top-and-bottom();
  @include reading-width();

  border-left: 12px solid $colour_nhsuk-blue;
  margin: 40px 0;
  padding: 16px;

  .visually-hidden:first-of-type + * {
    margin-top: 0;
  }
}
