/* ==========================================================================
   COMPONENTS / #EMERGENCY-ALERT
   ========================================================================== */

/**
 * 1. Use inverted link colours due to the yellow
 *    ($color_nhsuk-yellow) background.
 */

.nhsuk-global-alert {
  @include print-hide();

  background-color: $color_nhsuk-yellow;
  padding-bottom: nhsuk-spacing(4);
  padding-top: nhsuk-spacing(4);

  a {
    @include nhsuk-link-style-inverted; /* [1] */
  }

}

.nhsuk-global-alert__heading {
  @include nhsuk-typography-responsive(24);

  margin: 0;
}

.nhsuk-global-alert__content {
  @include top-and-bottom;

  position: relative;
}

.nhsuk-global-alert__message {
  @include nhsuk-responsive-margin(2, 'top');

  margin-bottom: 0;
}

.nhsuk-global-alert__updated {
  @include nhsuk-responsive-margin(2, 'top');
  @include nhsuk-typography-responsive(14);
}
