/* ==========================================================================
   #emergency-alert
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-c-global-alert {
  background: $colour_nhsuk-yellow;
  padding: 24px 0;

  @include mq($until: tablet) {
    padding: 16px 0;
  }

  @include mq($media-type: print) {
    display: none;
  }

  &__content {
    @include top-and-bottom;
    position: relative;
  }

  &__header {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding-right: 56px;

    @include mq($until: tablet) {
      font-size: 20px;
      line-height: 28px;
    }

  }

  &__message {
    margin-top: 8px;
  }

  &__updated {
    font-size: 14px;
    margin-top: 8px;

    @include mq($until: tablet) {
      font-size: 12px;
    }

  }

  a {

    @media screen and (max-width: 480px) {
      white-space: nowrap;
    }

    &:focus {
      background: $colour_shade_nhsuk-blue-35;
      box-shadow: 0 0 0 4px $colour_shade_nhsuk-blue-35;
      color: $colour_nhsuk-white;
    }

    &:hover {
      background: $colour_nhsuk-blue;
      box-shadow: 0 0 0 4px $colour_nhsuk-blue;
      color: $colour_nhsuk-white;
    }

    &:active {
      background: $colour_shade_nhsuk-blue-50 !important;
      box-shadow: 0 0 0 4px $colour_shade_nhsuk-blue-35;
      color: $colour_nhsuk-white;
    }

  }

}
