@import 'globals/helpers/mixins';
@import 'globals/objects/grid';
@import 'globals/objects/width-container';
@import 'globals/settings/typography';

@import 'pages/code';
@import 'pages/page';
@import 'pages/grid';
@import 'pages/colours';

//mixin for removing first and last element margin
@mixin top-and-bottom(){
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}

//css for medicines page - lifted from beta.nhs.uk


.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}






//custom style for meds page
ul ul, ol ul {
    list-style-type: disc;
}
.o-list-sections__item--first {
    margin-top: 0px !important;
    .o-section{
        margin-top: 0;
    }
}


//test css
.nhsuk-page-nav {
    h2,
    h3,
    h4{
        &.test {
            font-size: 16px;
            @media(max-width: 641px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
.nhsuk-list-nav.test {
    li {
        font-size: 16px;
        line-height: 24px;
        @media(max-width: 641px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.white{
    background: white;
}

@mixin nhsuk-tab() {
    left: -8px;
    position: absolute;
    top: -12px;
    @media(max-width: 641px) {
        left: -4px;
        top: -8px;
    }
}

//callouts
@mixin nhsuk-c-callout($callout-background,$callout-border) {
    @include top-and-bottom;
    background: $callout-background;
    color: $nhsuk-black;
    margin: 56px 0 48px;
    padding: 32px 24px 32px 76px;
    position:relative;
    @media(max-width: 641px) {
        margin: 40px 0 32px;
        padding: 24px 24px 24px 44px;
    }
    &:before {
        @include nhsuk-tab();
        content: '';
        background-image: url(../images/callout-danger.svg);
        background-size: 100% 100%;
        display: block;
        height: 64px;
        width: 64px;
        @media(max-width: 641px) {
            height: 40px;
            width: 40px;  
        }
    }
}

.nhsuk-c-callout__info {
    @include nhsuk-c-callout(white,$nhsuk-blue);
    border-top: 4px solid $nhsuk-blue;
    &:before {
        background-image: url(../images/callout-info.svg);
    }
}

.nhsuk-c-callout__warning {
    @include nhsuk-c-callout(white,$nhsuk-yellow);
    border: 4px solid $nhsuk-yellow;
    &:before {
        background-image: url(../images/callout-warning.svg);
        left: -12px; 
        @media(max-width: 641px) {
            left: -8px; 
        }
    }
}

.nhsuk-c-callout__emergency {
    @include nhsuk-c-callout(white,$nhsuk-red);
    border: 4px solid $nhsuk-red;
    &:before {
        background-image: url(../images/callout-danger.svg);
        left: -12px; 
        @media(max-width: 641px) {
            left: -8px; 
        }
    }
}

//do and don't list
.nhsuk-c-panel {
    @include top-and-bottom;
    background: white;
    border-top: 4px solid $nhsuk-blue;
    color: $nhsuk-black;
    margin: 48px 0;
    padding: 32px 24px;
    position:relative;
    @media(max-width: 641px) {
        margin: 32px 0;
        padding: 24px;
    }
    &.nhsuk-c-panel__do-and-dont {
        position: relative;
        h3 {
            @include nhsuk-tab();
            background: $nhsuk-blue;
            color: white;
            padding: 8px 24px;
            @media(max-width: 641px) {
                padding: 4px 16px;
            }
        }
    }
}

.list--check, 
.list--cross {
    list-style: none;
    padding-left: 32px;
}

.list--check li::before, .list--check li::after, .list--cross li::before, .list--cross li::after {
    content: "";
    left: -32px;
    position: absolute;
    zoom: 1;
}

.list--check,
.list--cross{
    li{
        margin-top: 16px;
        padding-left: 8px;
        position:relative;
    }
} 
.list--check li{
    &:before {
        background: transparent;
        border: solid;
        border-color: $nhsuk-green;
        border-width: 0 0 5px 5px;
        height: 8px;
        top: 5px;
        transform: rotate(-45deg);
        width: 16px;
    }
}

.list--cross li::before, 
.list--cross li::after {
    background: #da291c;
    height: 5px;
    top: 10px;
    transform: rotate(45deg);
    width: 24px;
    @media(max-width: 641px) {
        top: 9px;
    }
}

.list--cross li::after {
    transform: rotate(-45deg);
}

//inset text
.nhsuk-inset-text {
    @include top-and-bottom;
    border-left: 8px solid darken($nhsuk-grey-4,10%);
    margin: 32px 0;
    padding: 16px 0 16px 24px;
    @include mq($from: tablet) {
        margin: 40px 0;
    }
}

//h2 test
h2,
.nhsuk-heading-l {
  font-size: 24px;
  line-height: 32px;
  margin: 48px 0 0;
  @include mq($from: tablet) {
    font-size: 36px;
    line-height: 44px;
    margin: 72px 0 0;
  }
}

//added a class of nhsuk-page-content__section-one to remove margin-top from first element within the section
.nhsuk-page-content__section-one > *:first-child {
    margin-top: 0;
}