@import 'globals/helpers/mixins';
@import 'globals/objects/grid';
@import 'globals/objects/width-container';
@import 'globals/settings/typography';

@import 'pages/code';
@import 'pages/page';
@import 'pages/grid';
@import 'pages/colours';

//mixin for removing first and last element margin
@mixin top-and-bottom(){
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}

//css for medicines page - lifted from beta.nhs.uk
.o-section {
    @include top-and-bottom;
    margin-top: 48px;
}

.o-section--intro {
    margin-top: 0;
    margin-bottom: 80px;
}

.o-section--intro--separate {
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.o-section--intro--separate:after {
    background-color: #ddd;
    content: "";
    display: block;
    height: 4px;
    left: 16px;
    position: absolute;
    bottom: 0;
    width: 130px;
}

@media(min-width: 925px) {
    .o-section--intro--separate {
        margin-bottom:60px;
        padding-bottom: 0;
    }

    .o-section--intro--separate:after {
        bottom: 12px;
    }
}

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

.o-list-sections__item {
    font-weight: bold;
    margin-top: 48px !important;
}

@media(min-width: 925px) {
    .o-list-sections__item {
        margin-top: 80px !important;
    }
}

.o-list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.o-list-inline__item {
    display: inline-block;
}

.c-page-contents__title {
    display: none;
    font-size: 20px;
    line-height: 32px;
}

@media(min-width: 925px) {
    .c-page-contents__title {
        display:block;
    }
}

.c-page-contents__list {
    margin-bottom: 32px;
    margin-top: 16px;
    padding-bottom: 32px;
}

@media(min-width: 641px) {
    .c-page-contents__link {
        text-decoration:none;
    }

    .c-page-contents__link:hover {
        text-decoration: underline;
    }

    .c-page-contents__link:active {
        text-decoration: underline;
    }
}

//custom style for meds page
ul ul, ol ul {
    list-style-type: disc;
}
.o-list-sections__item--first {
    margin-top: 0px !important;
    .o-section{
        margin-top: 0;
    }
}


//test css
.nhsuk-page-nav {
    h2,
    h3,
    h4{
        &.test {
            font-size: 16px;
            @media(max-width: 641px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
.nhsuk-list-nav.test {
    li {
        font-size: 16px;
        line-height: 24px;
        @media(max-width: 641px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.white{
    background: white;
}

//callouts
@mixin nhsuk-c-callout($callout-background,$callout-border) {
    @include top-and-bottom;
    background: $callout-background;
    border-top: 4px solid $callout-border;
    color: $nhsuk-black;
    margin: 90px 0 44px;
    padding: 24px;
    position:relative;
    @media(max-width: 641px) {
        margin: 68px 0 32px;
    }
    &:before {
        content: '';
        background-image: url(../images/callout-danger.svg);
        background-size: cover;
        display: block;
        height: 50px;
        left: 0;
        position: absolute;
        top: -50px;
        width: 50px;
        @media(max-width: 641px) {
            height: 40px;
            top: -40px;
            width: 40px;
        }
    }
}

.nhsuk-c-callout__info {
    @include nhsuk-c-callout(white,#0058AD);
    &:before {
        background-image: url(../images/callout-info.svg);
    }
}

.nhsuk-c-callout__warning {
    @include nhsuk-c-callout(white,#FFB81C);
    border: 4px solid #FFB81C;
    &:before {
        background-image: url(../images/callout-warning.svg);
        left: -4px;
    }
}

.nhsuk-c-callout__emergency {
    @include nhsuk-c-callout(white,#AD1F19);
    border: 4px solid #AD1F19;
    &:before {
        background-image: url(../images/callout-danger.svg);
        left: -4px;
    }
}

//panels
.nhsuk-panel {
    @include top-and-bottom;
    background: white;
    margin: 40px 0;
    padding: 24px;
}

//inset text
.nhsuk-inset-text {
    @include top-and-bottom;
    border-left: 8px solid rgba($nhsuk-blue,1);
    margin: 40px 0;
    padding: 16px 0 16px 24px;
}

//h2 test
h2,
.nhsuk-heading-l {
  font-size: 24px;
  line-height: 32px;
  margin: 48px 0 0;
  @include mq($from: tablet) {
    font-size: 36px;
    line-height: 44px;
    margin: 72px 0 0;
  }
}
