// stylelint-disable declaration-no-important

@use "vendor/nhsuk-frontend/base" as *;

// Custom buttons without shadows, specifically for the buttons page to test
// button icon vertical alignment

.app-button--no-shadow {
  border-color: transparent !important;
  box-shadow: none !important;
  line-height: 1;

  // Prevent height change when pressed
  &:active,
  &:active:focus {
    top: 0;
  }

  &::before {
    border: none !important;
  }
}
