// stylelint-disable declaration-no-important

@use "vendor/nhsuk-frontend/base" as *;

// Custom buttons without shadows, specifically for the buttons page to test
// button icon vertical alignment

.app-button--no-shadow {
  border-color: transparent !important;
  box-shadow: none !important;
  line-height: 1;

  // Prevent height change when pressed
  &:active,
  &:active:focus {
    top: 0;
  }

  &::before {
    border: none !important;
  }
}

// Temporary: mirrors the compact button override.
.nhsuk-button:not(.nhsuk-button--small):not(.nhsuk-search-input__button):not(
    .nhsuk-input-wrapper--large .nhsuk-button
  ) {
  @media #{nhsuk-from-breakpoint(tablet)} {
    min-height: nhsuk-px-to-rem(46px);
    padding: nhsuk-px-to-rem(10px) nhsuk-px-to-rem(14px);
  }
}
