@use "vendor/nhsuk-frontend/base" as *;

.app-deployment {
  color: $nhsuk-reverse-text-colour;
  background-color: nhsuk-colour("black");

  // Override (blue) reverse code background
  .nhsuk-code--reverse {
    background-color: nhsuk-shade(nhsuk-colour("black"), 25%);
  }

  a:focus .nhsuk-code--reverse {
    color: currentcolor;
    background-color: transparent;
  }
}
