{% set title = 'Test page - Amoxicillin v3' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">Medicines</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Amoxicillin</h1>
    <div class="reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Amoxicillin is an antibiotic. It's used to treat bacterial infections, such as chest infections (including pneumonia), dental abscesses and&nbsp;urinary tract infections (UTIs).</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#about">About amoxicillin</a></li>
        <li><a href="#key-facts">Key facts</a></li>
        <li><a href="#who-can-take">Who can and can't take amoxicillin</a></li>
        <li><a href="#how-when">How and when to take it</a></li>
        <li><a href="#side-effects">Side effects</a></li>
        <li><a href="#how-to-cope">How to cope with side effects</a></li>
        <li><a href="#pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
        <li><a href="#cautions">Cautions with other medicines</a></li>
    </ol>
{% endblock %}

{% block content %}
<ol class="o-list-sections">


    <li class="o-list-sections__item o-list-sections__item--first">
      <section class="o-list-sections__section o-section nhsuk-page-content__section-one">
            <h2 class="o-section__header" id="about">1. About amoxicillin</h2>

       
<p>It's used in children, often to treat <a href="https://beta.nhs.uk/conditions/ear-infections">ear infections</a> and chest infections.</p>
<p>The medicine is only available on prescription. It comes as capsules or as a liquid that you drink. It's also given by injection, but this is usually only done in hospital.</p>
      </section>
    </li>


    <li class="o-list-sections__item ">
      <section class="o-list-sections__section o-section">
            <h2 class="o-section__header" id="key-facts">2. Key facts</h2>

        <ul>
<li>For most infections, you'll start to feel better in a few days.</li>
<li>The most common side effects of amoxicillin are feeling sick and diarrhoea.</li>
<li>Liquid amoxicillin can stain your teeth. This doesn't last and is removed by brushing.</li>
<li>You can drink alcohol while taking amoxicillin.</li>
<li>Amoxicillin is also called by the brand name Amoxil.</li>
</ul>
      </section>
    </li>







<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="who-can-take">3. Who can and can't take amoxicillin</h2>
<p>Amoxicillin can be taken by adults, including pregnant and breastfeeding women.</p>
<p>Amoxicillin can be taken by children.</p>
<div class="nhsuk-inset-text">
<h3 class="nhsuk-heading-xs">Recommended reading</h3>
<p style="margin-top: 16px;"><a href="https://www.medicinesforchildren.org.uk/amoxicillin-bacterial-infections-0">Giving amoxicillin to children: information on Medicines for Children website</a></p>
</div>
<p><strong>Amoxicillin isn't suitable for some people. To make sure amoxicillin is safe for you, tell your doctor if you</strong>:</p>
<ul>
<li>have had an allergic reaction to amoxicillin or penicillin or any other medicines&nbsp;in the past</li>
<li>have liver or kidney problems</li>
<li>have recently had, or are about to have, any vaccinations</li>
</ul>
</section>
</li>

<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="how-when">4. How and when to take it</h2>
<p>The usual dose of amoxicillin is 250mg to 500mg taken 3 times a day. The dose may be lower for children.</p>
<p>Try to space the doses evenly throughout the day. If you take it 3 times a day, this could be first thing in the morning, mid-afternoon, and at bedtime.</p>
<p>You can take amoxicillin before or after food.</p>
<div class="nhsuk-c-callout__warning-v3" role="alert"><p>Carry on taking this medicine until you've completed the course, even if you feel better. If you stop your treatment early, the infection could come back.</p></div>
<h3>How to take it</h3>
<p>Swallow amoxicillin capsules whole with a drink of water. Don't chew or break them.</p>
<p>Amoxicillin is available as a liquid for children and people who find it difficult to swallow tablets.</p>
<p>If you or your child are taking amoxicillin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a plastic syringe or spoon to help you measure out&nbsp;the right dose. If you don't have one, ask your pharmacist for one.</p>
<h3><strong>What if I forget to take it?</strong></h3>
<p>If you forget to take a dose, take it as soon as you remember, unless it's nearly time for your next dose. In this case, just leave out the missed dose and take your next dose as normal.</p>
<p>Never take 2 doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
<p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways to remember your medicines.</p>
<h3>What if I take too much?</h3>
<p>Accidentally taking an extra dose of amoxicillin is unlikely to harm you or your child.</p>
<p>Speak to your pharmacist or doctor if you're worried or you take more than&nbsp;1 extra dose.</p>
</section>
</li>

<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="side-effects">5. Side effects</h2>
<p>Like all medicines, amoxicillin can cause side effects, although not everyone gets them.</p>
<h3>Common side effects</h3>
<p>These common side effects happen in around 1 in 10 people. Keep taking the medicine, but t<span>alk to your doctor or pharmacist if these side effects bother you or don’t go away</span>:</p>
<ul>
<li>feeling sick</li>
<li>diarrhoea</li>
</ul>
<h3>Serious side effects</h3>
<p>Serious side effects are rare and happen in less than 1 in 1,000 people.</p>
<p>Tell a doctor straight away if you get:</p>
<ul>
<li>severe, bloody diarrhoea</li>
<li>yellowing of the whites of the eyes and skin (warning signs of liver or gallbladder problems)</li>
<li>a bad skin rash that may include flushing, fever, blisters or ulcers, or skin that looks like it's been burnt</li>
<li>bruising or skin discolouration</li>
<li>joint or muscle pain that comes on after 2 days of taking the medicine</li>
<li>a skin rash with circular red patches</li>
<li>dark&nbsp;pee</li>
</ul>
<p>Some of these serious side effects can happen up to 2 months after finishing the amoxicillin.</p>
<h4><strong>Serious allergic reaction</strong></h4>
<p>Around 1 in 15 people have an allergic reaction to amoxicillin.</p>
<p>In most cases, the allergic reaction is mild and can take the form of:</p>
<ul>
<li>a raised, itchy skin rash</li>
<li>coughing</li>
<li>wheezing</li>
</ul>
<p>Mild allergic reactions can usually be successfully treated by taking antihistamines.</p>
<p>In rare cases, amoxicillin can cause a serious allergic reaction.</p>

<!--care card red-->
<div class="care-card red" role="alert">
    <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">A serious allergic reaction is an emergency</h4>
    </div>
    <div class="care-card-content">
        <p>Contact a doctor straight away if you think you, or someone around you, is having a serious allergic reaction.</p>

        <p>The warning signs are:</p>
            <ul>
                <li>a skin rash, where skin is itchy, red, swollen, blistered or peeling</li>
                <li>wheezing</li>
                <li>tightness in the chest or throat</li>
                <li>trouble breathing or talking</li>
                <li>swelling of the mouth, face, lips, tongue, or throat.</li>
            </ul>
    </div>
</div>

<!--
<div class="nhsuk-c-callout__emergency" role="alert">
    <p>A serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
</div>
<p>The warning signs of a&nbsp;<a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a>&nbsp;are:</p>
<ul>
<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
<li>wheezing</li>
<li>tightness in the chest or throat</li>
<li>having trouble breathing or talking</li>
<li>swelling of the mouth, face, lips, tongue, or throat</li>
</ul>
-->
<p>These are not all the side effects of amoxicillin. For a full list see the leaflet inside your medicines packet.</p>
<div class="nhsuk-c-callout__info-v2"  role="alert"><p>You can report any suspected side effect to the&nbsp;<a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</p></div>

</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="how-to-cope">6. How to cope with side effects</h2>
<h3>What to do about:</h3>
<ul>
<li><strong>feeling sick</strong>&nbsp;- stick to simple meals and don't eat rich or spicy food. It might help to take your amoxicillin after a meal or snack.</li>
<li><strong>diarrhoea</strong>&nbsp;- drink plenty of water or other fluids if you have diarrhoea. It may also help to take oral rehydration solutions, which you can buy from a pharmacy, to prevent <a href="https://beta.nhs.uk/conditions/dehydration?WT.mc_id=organic_split">dehydration</a>. Don't take any other medicines to treat diarrhoea without speaking to a pharmacist or doctor.</li>
</ul>
</section>
</li>

<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="pregnancy-breastfeeding">7. Pregnancy and breastfeeding</h2>
<p>It's usually safe to take amoxicillin during pregnancy and while breastfeeding.</p>
<div class="nhsuk-c-callout__warning-v3" role="alert"><p>For safety, tell your doctor if you're trying to get pregnant, are already pregnant or if you're breastfeeding.</p></div>
</section>
</li>

<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="cautions">8. Cautions with other medicines</h2>
<p>There are some medicines that don't mix well with amoxicillin.</p>
<p><strong>Tell your doctor if you're taking these medicines before you start taking amoxicillin</strong>:</p>
<ul>
<li>methotrexate</li>
<li>a blood thinner called warfarin</li>
<li>gout medicines called probenecid and allopurinol</li>
<li>other antibiotics</li>
</ul>
<h3>Mixing amoxicillin with herbal remedies and supplements</h3>
<p>There are no known problems with taking herbal remedies and supplements alongside amoxicillin.</p>
<div class="nhsuk-c-callout__warning-v3" role="alert"><p>However, for safety, tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</p></div>
</section>
</li>









</ol>
{% endblock %}

