{% extends "includes/templates/page.html"%}

{% block header %}
    <h1>Amoxicillin</h1>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs test">Heading contents</h2>
    <ol class="nhsuk-list-nav test">
        <li><a href="#about">About amoxicillin</a></li>
        <li><a href="#key-facts">Key facts</a></li>
        <li><a href="#who-can-take">Who can and can't take amoxicillin</a></li>
        <li><a href="#how-when">How and when to take it</a></li>
        <li><a href="#side-effects">Side effects</a></li>
        <li><a href="#how-to-cope">How to cope with side effects</a></li>
        <li><a href="#pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
        <li><a href="#cautions">Cautions with other medicines</a></li>
        <li><a href="#common-questions">Common questions</a></li>
    </ol>
{% endblock %}

{% block content %}
<ol class="o-list-sections">


    <li class="o-list-sections__item o-list-sections__item--first">
      <section class="o-list-sections__section o-section">
            <h2 class="o-section__header" id="about">1. About amoxicillin</h2>

        <p>Amoxicillin is an antibiotic.</p>
<p>It's used to treat bacterial infections, such as <a href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">chest infections</a> (including <a href="http://www.nhs.uk/conditions/Pneumonia/Pages/Introduction.aspx">pneumonia</a>), <a href="http://www.nhs.uk/conditions/Dental-abscess/Pages/Introduction.aspx">dental abscesses</a> and&nbsp;<a href="https://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">urinary tract infections</a> (UTIs).</p>
<p>It's used in children, often to treat <a href="https://beta.nhs.uk/conditions/ear-infections">ear infections</a> and chest infections.</p>
<p>The medicine is only available on prescription. It comes as capsules or as a liquid that you drink. It's also given by injection, but this is usually only done in hospital.</p>
      </section>
    </li>



    <li class="o-list-sections__item ">
      <section class="o-list-sections__section o-section">
            <h2 class="o-section__header" id="key-facts">2. Key facts</h2>

        <ul>
<li>For most infections, you'll start to feel better in a few days.</li>
<li>The most common side effects of amoxicillin are feeling sick and diarrhoea.</li>
<li>Liquid amoxicillin can stain your teeth. This doesn't last and is removed by brushing.</li>
<li>You can drink alcohol while taking amoxicillin.</li>
<li>Amoxicillin is also called by the brand name Amoxil.</li>
</ul>
      </section>
    </li>








<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="who-can-take">3. Who can and can't take amoxicillin</h2>
<p>Amoxicillin can be taken by adults, including pregnant and breastfeeding women.</p>
<p>Amoxicillin can be taken by children.</p>
<div class="nhsuk-inset-text">
<h3 class="nhsuk-heading-xs">Recommended reading</h3>
<p style="margin-top: 16px;"><a href="https://www.medicinesforchildren.org.uk/amoxicillin-bacterial-infections-0">Giving amoxicillin to children: information on Medicines for Children website</a></p>
</div>
<p><strong>Amoxicillin isn't suitable for some people. To make sure amoxicillin is safe for you, tell your doctor if you</strong>:</p>
<ul>
<li>have had an allergic reaction to amoxicillin or penicillin or any other medicines&nbsp;in the past</li>
<li>have liver or kidney problems</li>
<li>have recently had, or are about to have, any vaccinations</li>
</ul>
</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="how-when">4. How and when to take it</h2>
<p>The usual dose of amoxicillin is 250mg to 500mg taken 3 times a day. The dose may be lower for children.</p>
<p>Try to space the doses evenly throughout the day. If you take it 3 times a day, this could be first thing in the morning, mid-afternoon, and at bedtime.</p>
<p>You can take amoxicillin before or after food.</p>
<div class="nhsuk-c-callout__warning"><p>Carry on taking this medicine until you've completed the course, even if you feel better. If you stop your treatment early, the infection could come back.</p></div>
<h3>How to take it</h3>
<p>Swallow amoxicillin capsules whole with a drink of water. Don't chew or break them.</p>
<p>Amoxicillin is available as a liquid for children and people who find it difficult to swallow tablets.</p>
<p>If you or your child are taking amoxicillin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a plastic syringe or spoon to help you measure out&nbsp;the right dose. If you don't have one, ask your pharmacist for one.</p>
<h3><strong>What if I forget to take it?</strong></h3>
<p>If you forget to take a dose, take it as soon as you remember, unless it's nearly time for your next dose. In this case, just leave out the missed dose and take your next dose as normal.</p>
<p>Never take 2 doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
<p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways to remember your medicines.</p>
<h3>What if I take too much?</h3>
<p>Accidentally taking an extra dose of amoxicillin is unlikely to harm you or your child.</p>
<p>Speak to your pharmacist or doctor if you're worried or you take more than&nbsp;1 extra dose.</p>
</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="side-effects">5. Side effects</h2>
<p>Like all medicines, amoxicillin can cause side effects, although not everyone gets them.</p>
<h3>Common side effects</h3>
<p>These common side effects happen in around 1 in 10 people. Keep taking the medicine, but t<span>alk to your doctor or pharmacist if these side effects bother you or don’t go away</span>:</p>
<ul>
<li>feeling sick</li>
<li>diarrhoea</li>
</ul>
<h3>Serious side effects</h3>
<p>Serious side effects are rare and happen in less than 1 in 1,000 people.</p>
<p>Tell a doctor straight away if you get:</p>
<ul>
<li>severe, bloody diarrhoea</li>
<li>yellowing of the whites of the eyes and skin (warning signs of liver or gallbladder problems)</li>
<li>a bad skin rash that may include flushing, fever, blisters or ulcers, or skin that looks like it's been burnt</li>
<li>bruising or skin discolouration</li>
<li>joint or muscle pain that comes on after 2 days of taking the medicine</li>
<li>a skin rash with circular red patches</li>
<li>dark&nbsp;pee</li>
</ul>
<p>Some of these serious side effects can happen up to 2 months after finishing the amoxicillin.</p>
<h4><strong>Serious allergic reaction</strong></h4>
<p>Around 1 in 15 people have an allergic reaction to amoxicillin.</p>
<p>In most cases, the allergic reaction is mild and can take the form of:</p>
<ul>
<li>a raised, itchy skin rash</li>
<li>coughing</li>
<li>wheezing</li>
</ul>
<p>Mild allergic reactions can usually be successfully treated by taking antihistamines.</p>
<p>In rare cases, amoxicillin can cause a serious allergic reaction.</p>
<div class="nhsuk-c-callout__emergency">
    <p>A serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
</div>
<p>The warning signs of a&nbsp;<a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a>&nbsp;are:</p>
<ul>
<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
<li>wheezing</li>
<li>tightness in the chest or throat</li>
<li>having trouble breathing or talking</li>
<li>swelling of the mouth, face, lips, tongue, or throat</li>
</ul>
<p>These are not all the side effects of amoxicillin. For a full list see the leaflet inside your medicines packet.</p>
<div class="nhsuk-c-callout__info"><p>You can report any suspected side effect to the&nbsp;<a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</p></div>
</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="how-to-cope">6. How to cope with side effects</h2>
<h3>What to do about:</h3>
<ul>
<li><strong>feeling sick</strong>&nbsp;- stick to simple meals and don't eat rich or spicy food. It might help to take your amoxicillin after a meal or snack.</li>
<li><strong>diarrhoea</strong>&nbsp;- drink plenty of water or other fluids if you have diarrhoea. It may also help to take oral rehydration solutions, which you can buy from a pharmacy, to prevent <a href="https://beta.nhs.uk/conditions/dehydration?WT.mc_id=organic_split">dehydration</a>. Don't take any other medicines to treat diarrhoea without speaking to a pharmacist or doctor.</li>
</ul>
</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="pregnancy-breastfeeding">7. Pregnancy and breastfeeding</h2>
<p>It's usually safe to take amoxicillin during pregnancy and while breastfeeding.</p>
<p><span class="c-callout__alert">For safety, tell your doctor if you're trying to get pregnant, are already pregnant or if you're breastfeeding.</span></p>
</section>
</li>


<li class="o-list-sections__item">
<section class="o-list-sections__section o-section">
  <h2 class="o-section__header" id="cautions">8. Cautions with other medicines</h2>
<p>There are some medicines that don't mix well with amoxicillin.</p>
<p><strong>Tell your doctor if you're taking these medicines before you start taking amoxicillin</strong>:</p>
<ul>
<li>methotrexate</li>
<li>a blood thinner called warfarin</li>
<li>gout medicines called probenecid and allopurinol</li>
<li>other antibiotics</li>
</ul>
<h3>Mixing amoxicillin with herbal remedies and supplements</h3>
<p>There are no known problems with taking herbal remedies and supplements alongside amoxicillin.</p>
<p><span class="c-callout__alert"><strong>However, for safety, tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</strong></span></p>
</section>
</li>






    <li class="o-list-sections__item">
      <section class="o-list-sections__section o-section">
        <h2 class="o-section__header" id="common-questions">9. Common questions</h2>
        <div class="js-opencloseall"><a href="#" aria-hidden="true" class="js-open-all" onclick="Webtrends.multiTrack({ element: this, argsa: ['DCSext.Anchor', 'CQ-OpenAll', 'WT.dl', '121'] });" onkeypress="this.onclick()">Open all</a> <a href="#" aria-hidden="true" class="js-close-all js-openclose-disable" onclick="Webtrends.multiTrack({ element: this, argsa: ['DCSext.Anchor', 'CQ-CloseAll', 'WT.dl', '121'] });" onkeypress="this.onclick()">Close all</a></div><div class="c-common-questions">




<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-75b7c6a4-832d-1109-1292-53fc033bc2db" role="button">
    <h3 class="c-common-questions__header">How does amoxicillin work?</h3>
</summary>
<div class="c-common-questions__content" id="details-75b7c6a4-832d-1109-1292-53fc033bc2db" aria-hidden="true">
<p>Amoxicillin is a similar antibiotic to penicillin. It works by killing the bacteria that cause the infection.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-6612d27d-2795-0858-df35-437345c30c2d" role="button">
    <h3 class="c-common-questions__header">When will I feel better?</h3>
</summary>
<div class="c-common-questions__content" id="details-6612d27d-2795-0858-df35-437345c30c2d" aria-hidden="true">
<p>For most infections, you should feel better within a few days.</p>
<p>It's very important that you keep taking amoxicillin until your course is finished. Do this even if you feel better. It will help stop the infection coming back.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-1a38c8df-adad-b74e-a925-7144f4b32862" role="button">
    <h3 class="c-common-questions__header">What if I don't get better?</h3>
</summary>
<div class="c-common-questions__content" id="details-1a38c8df-adad-b74e-a925-7144f4b32862" aria-hidden="true">
<p><span>Tell your doctor if you don't start feeling better after taking amoxicillin for 3 days. Also tell them if, at any time, you start to feel worse.</span></p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-7afb593f-5b48-de45-e8d8-bb0b626a43a7" role="button">
    <h3 class="c-common-questions__header">Will it affect my contraception?</h3>
</summary>
<div class="c-common-questions__content" id="details-7afb593f-5b48-de45-e8d8-bb0b626a43a7" aria-hidden="true">
<p>Amoxicillin&nbsp;doesn't stop <a href="http://www.nhs.uk/Conditions/contraception-guide/Pages/combined-contraceptive-pill.aspx">contraceptive pills</a> working.</p>
<p>However, if&nbsp;amoxicillin makes you vomit or have severe diarrhoea (6 to 8 watery poos in 24 hours)&nbsp;for more than 24 hours, your contraceptive pills may not protect you from pregnancy. Look on the pill packet to&nbsp;find out&nbsp;what to do.</p>
<p>Read more about <a href="http://www.nhs.uk/Conditions/contraception-guide/Pages/pill-sick-vomit-diarrhoea.aspx">what to do if you're on the pill and&nbsp;you're vomiting&nbsp;or have&nbsp;diarrhoea</a>.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-e28a0e29-0f63-4fb8-991f-2bc5c11af6fe" role="button">
    <h3 class="c-common-questions__header">Will it give me thrush?</h3>
</summary>
<div class="c-common-questions__content" id="details-e28a0e29-0f63-4fb8-991f-2bc5c11af6fe" aria-hidden="true">
<p>Some people get a fungal infection called <a href="https://beta.nhs.uk/conditions/thrush-in-men-and-women/" target="_top">thrush</a> after taking a course of antibiotics like amoxicillin. It happens because antibiotics kill the normal harmless bacteria that help to protect you against thrush.</p>
<p>Ask&nbsp;your doctor or pharmacist for advice if this happens to you.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-6ab84244-2ca5-09e3-4484-5e5c853780d3" role="button">
    <h3 class="c-common-questions__header">Will it affect my fertility?</h3>
</summary>
<div class="c-common-questions__content" id="details-6ab84244-2ca5-09e3-4484-5e5c853780d3" aria-hidden="true">
<p>Amoxicillin won't affect your fertility. However, speak to a pharmacist or your doctor before taking it if you're trying to get pregnant.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-f479f97e-30bc-9f88-b5c5-a75aaf728c8b" role="button">
    <h3 class="c-common-questions__header">Does it stain teeth?</h3>
</summary>
<div class="c-common-questions__content" id="details-f479f97e-30bc-9f88-b5c5-a75aaf728c8b" aria-hidden="true">
<p>If you or your child take amoxicillin as a liquid medicine, it can stain your teeth. This doesn't last and should go after brushing your teeth well.</p>
<p>Amoxicillin capsules don't stain teeth.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-5de7203f-df18-f6e7-8eed-f356d6886772" role="button">
    <h3 class="c-common-questions__header">Can I drive or ride a bike?</h3>
</summary>
<div class="c-common-questions__content" id="details-5de7203f-df18-f6e7-8eed-f356d6886772" aria-hidden="true">
<p><span>Yes, amoxicillin shouldn't affect you being able to drive or cycle.</span></p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-486851b4-754c-25ea-6494-cd0526262823" role="button">
    <h3 class="c-common-questions__header">Is there any food or drink I need to avoid?</h3>
</summary>
<div class="c-common-questions__content" id="details-486851b4-754c-25ea-6494-cd0526262823" aria-hidden="true">
<p><span>You can eat and drink normally while taking amoxicillin.</span></p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-098d390a-4ec6-6e4c-1b69-35f261c99601" role="button">
    <h3 class="c-common-questions__header">Can I drink alcohol with it?</h3>
</summary>
<div class="c-common-questions__content" id="details-098d390a-4ec6-6e4c-1b69-35f261c99601" aria-hidden="true">
<p>Yes, you can drink alcohol with amoxicillin.</p>
</div>

</details>







<details class="c-common-questions__details" role="group">
<summary class="c-common-questions__summary" aria-expanded="false" tabindex="0" aria-controls="details-2f74af80-cf66-751d-64a0-58bb2ee02c55" role="button">
    <h3 class="c-common-questions__header">Can lifestyle changes help water infections?</h3>
</summary>
<div class="c-common-questions__content" id="details-2f74af80-cf66-751d-64a0-58bb2ee02c55" aria-hidden="true">
<div id="details-6bf3b46d-df06-48be-395c-1e25cffa1eb1">
<p>It's possible that a straightforward water infection may clear up on its own without any treatment. However, it's usually best to treat a water infection with an antibiotic, or it could spread to the kidneys and lead to more serious problems.</p>
<p>Once treated, there are steps you can take to stop water infections coming back:</p>
<ul>
<li>don't use perfumed bubble bath, soap or talcum powder around your genitals -&nbsp;use plain, unperfumed products, and have a shower rather than a bath</li>
<li>go to the toilet as soon as you need to pee and always empty your bladder fully</li>
<li>stay well hydrated -&nbsp;aim to drink 6 to 8 glasses of fluid a day (water, lower-fat milk and sugar-free drinks, including tea and coffee, all count)</li>
<li>wipe your bottom from front to back when you go to the toilet</li>
<li>empty your bladder as soon as possible after having sex</li>
<li>don't use a contraceptive diaphragm or condoms with spermicidal lubricant on them – use another type of contraception instead</li>
<li>wear underwear made from cotton, rather than synthetic material like nylon, and avoid tight jeans and trousers</li>
</ul>
<p>Although they won't do any harm, there's little evidence to show drinking cranberry juice or taking cranberry supplements helps treat or prevent water infections.</p>
</div>
</div>

</details>









        </div>
      </section>
    </li>


</ol>
{% endblock %}
