@import '../../src/globals/settings/colours';

.example {
  background: $nhsuk-white;
  border: 1px solid $nhsuk-border-colour;
  margin: 24px 0 0;
  overflow: hidden;
  padding: 64px 16px 16px;
  position: relative;
  @include mq($from: tablet) {
    padding: 64px 32px 32px;
  }
  &:before {
    background: $nhsuk-grey-1;
    color: $nhsuk-white;
    content: 'EXAMPLE';
    font-size: 12px;
    font-weight: 600;
    left: -1px;
    padding: 12px 16px;
    position: absolute;
    top: -1px;
    @include mq($from: tablet) {
      font-size: 14px;
    }
  }
	&.grey-background{
		background: $nhsuk-grey-4;
	}
}

.example-snippet {
  position: relative;
  &__empty-example {
    margin-top: 24px;
  }
  .nhsuk-btn-copy {
    background-color: $nhsuk-green;
    border: 0;
    color: $nhsuk-white;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
  }
}

.nhsuk-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px 0;
  width: 100%;
  th,
  td {
    border-bottom: 1px solid $nhsuk-border-colour;
    padding: 16px 8px 16px 0;
    text-align: left;
    text-transform: none;
    &.td__status,
    &.th__status {
      width: 150px;
    }
  }
  th {
    font-weight: 600;
  }
}

.nhsuk-tag {
  color: $nhsuk-white;
  font-size: 14px;
  overflow-x: auto;
  padding: 5px 10px;
  text-align: center;
  @include mq($from: tablet) {
    font-size: 16px;
  }
  &__backlog {
    background-color: $nhsuk-grey-1;
  }
  &__design {
    background-color: $nhsuk-blue;
  }
  &__development {
    background-color: $nhsuk-purple;
  }
  &__testing {
    background-color: $nhsuk-red;
  }
  &__ready {
    background-color: $nhsuk-green;
  }
}

code[class*=language-], pre[class*=language-] {
  color: #000;
  background: none;
  text-shadow: 0 1px #fff;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*=language-] {
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

pre[class*=language-] {
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

code[class*=language-] {
  &::selection, ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }
}

pre[class*=language-] {
  &::selection, ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

@media print {
  code[class*=language-], pre[class*=language-] {
    text-shadow: none;
  }
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background: #fff;
  border: 1px solid #ced4d6;
}

:not(pre) > code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token {
  &.cdata, &.comment, &.doctype, &.prolog {
    color: #708090;
  }
  &.punctuation {
    color: #999;
  }
}

.namespace {
  opacity: .7;
}

.token {
  &.boolean, &.constant, &.deleted, &.number, &.property, &.symbol, &.tag {
    color: #905;
  }
  &.attr-name, &.builtin, &.char, &.inserted, &.selector, &.string {
    color: #690;
  }
}

.language-css .token.string, .style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.token {
  &.entity, &.operator, &.url {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, 0.5);
  }
  &.atrule, &.attr-value, &.keyword {
    color: #005eb8;
  }
  &.class-name, &.function {
    color: #dd4a68;
  }
  &.important, &.regex, &.variable {
    color: #e90;
  }
  &.bold, &.important {
    font-weight: 700;
  }
  &.italic {
    font-style: italic;
  }
  &.entity {
    cursor: help;
  }
}
