.colour-palette {
  td, th {
    padding: 15px;
  }
  .colour-swatch {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    &__nhsuk-text-colour {
      background-color: $nhsuk-text-colour;
    }
    &__nhsuk-secondary-text-colour {
      background-color: $nhsuk-secondary-text-colour;
    }
    &__nhsuk-link-colour {
      background-color: $nhsuk-link-colour;
    }
    &__nhsuk-link-hover-colour {
      background-color: $nhsuk-link-hover-colour;
    }
    &__nhsuk-link-hover-background-colour {
      background-color: $nhsuk-link-hover-background-colour;
    }
    &__nhsuk-link-focus-colour {
      background-color: $nhsuk-link-focus-colour;
    }
    &__nhsuk-link-focus-background-colour {
      background-color: $nhsuk-link-focus-background-colour;
    }
    &__nhsuk-link-active-colour {
      background-color: $nhsuk-link-active-colour;
    }
    &__nhsuk-link-active-background-colour {
      background-color: $nhsuk-link-active-background-colour;
    }
    &__nhsuk-link-visited-colour {
      background-color: $nhsuk-link-visited-colour;
    }
    &__nhsuk-border-colour {
      background-color: $nhsuk-border-colour;
    }
    &__nhsuk-button-background-colour {
      background-color: $nhsuk-button-background-colour;
    }
    &__nhsuk-button-hover-colour {
      background-color: $nhsuk-button-hover-colour;
    }
    &__nhsuk-focus-colour {
      background-color: $nhsuk-focus-colour;
    }
    &__nhsuk-black {
      background-color: $nhsuk-black;
    }
    &__nhsuk-grey-1 {
      background-color: $nhsuk-grey-1;
    }
    &__nhsuk-grey-2 {
      background-color: $nhsuk-grey-2;
    }
    &__nhsuk-grey-3 {
      background-color: $nhsuk-grey-3;
    }
    &__nhsuk-grey-4 {
      background-color: $nhsuk-grey-4;
    }
    &__nhsuk-grey-5 {
      background-color: $nhsuk-grey-5;
      border: 2px solid $nhsuk-border-colour;
    }
    &__nhsuk-blue {
      background-color: $nhsuk-blue;
    }
    &__nhsuk-light-blue {
      background-color: $nhsuk-light-blue;
    }
    &__nhsuk-aqua-blue {
      background-color: $nhsuk-aqua-blue;
    }
    &__nhsuk-white {
      background-color: $nhsuk-white;
    }
    &__nhsuk-green {
      background-color: $nhsuk-green;
    }
    &__nhsuk-red {
      background-color: $nhsuk-red;
    }
    &__nhsuk-yellow {
      background-color: $nhsuk-yellow;
    }
    &__nhsuk-pale-yellow {
      background-color: $nhsuk-pale-yellow;
    }
    &__nhsuk-warm-yellow {
      background-color: $nhsuk-warm-yellow;
    }
    &__nhsuk-purple {
      background-color: $nhsuk-purple;
    }
  }
  span {
    &.colour-label,
    &.colour-hex {
      display: block;
    }
  }
}

