.nhsuk-global-header__inner--logo {
  padding: 20px 0;

  a {
    display: block;
    height: 40px;
    width: 99px;

    img {
      height: 40px;
      width: 99px;
    }
  }
}


.nhsuk-page-header {
  h2 {
    font-weight: 300;
    margin-top: 0;
  }
}

.nhsuk-page-sidebar {
  .divider {
    background-color: $nhsuk-blue;
    height: 3px;
    margin: 35px 0;
    width: 50%;
  }
  a {
    &.active {
      color: $nhsuk-link-active-colour;
    }
  }
}

.sr-only,
.hidden {
  display: none;
}
