@use "../settings" as *;

////
/// Font face
///
/// NHS uses the Frutiger font. To use the font you must have a licence.
/// NHS England has a licence for the Frutiger webfont which all NHS organisations in England can use.
/// NHS organisations can register here: https://service-manual.nhs.uk/design-system/styles/use-frutiger-font/
///
/// @group generic
////

@function nhsuk-font-url($filename) {
  @return url($nhsuk-fonts-path + $filename);
}

@mixin nhsuk-font-face-frutiger {
  @at-root {
    @font-face {
      font-family: "Frutiger W01";
      font-style: normal;
      font-weight: $nhsuk-font-weight-normal;
      font-display: fallback;
      src:
        nhsuk-font-url("FrutigerLTW01-55Roman.woff2") format("woff2"),
        nhsuk-font-url("FrutigerLTW01-55Roman.woff") format("woff");
    }

    @font-face {
      font-family: "Frutiger W01";
      font-style: normal;
      font-weight: $nhsuk-font-weight-bold;
      font-display: fallback;
      src:
        nhsuk-font-url("FrutigerLTW01-65Bold.woff2") format("woff2"),
        nhsuk-font-url("FrutigerLTW01-65Bold.woff") format("woff");
    }
  }
}
