{% set title = 'Examples' %}
{% extends 'includes/header-v1/site-layout.html' %}

{% block body %}
<main class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                          <h1>NHS.UK example pages</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <ul>
                        <li><a href="/examples/page-1">Behind the headlines</a>: 'No evidence the 5:2 diet prevents heart disease'</li>
                        <li><a href="/examples/page-4">Chlamydia</a>: multi-page condition</li>
                        <li><a href="/examples/chickenpox">Conditions</a>: 'Chickenpox'</li>
                        <li><a href="/examples/test-gout">Conditions</a>: 'Gout'</li>
                        <li><a href="/examples/page-2">Conditions</a>: 'Overactive thyroid (hyperthyroidism)'</li>
                        <li><a href="/examples/test-conditions-sciatica">Conditions</a>: 'Sciatica'</li>
                        <li><a href="/examples/page-3">Guides</a>: 'Your pregnancy and baby guide'</li>
                        <li><a href="/examples/test-medicine-amoxicillin">Medicines</a>: 'Amoxicillin'</li>
                        <li><a href="/examples/page">Medicines</a>: 'Buscopan (hyoscine butylbromide)'</li>
                        <li><a href="/examples/chickenpox">Conditions</a>: 'Chickenpox'</li>
                        <li><a href="/examples/header-cookie">Header</a>: with GDPR compliant cookie and online consent</li>
						<li><a href="/examples/test-depression">Conditions</a>: 'Clinical Depression'</li>
                        <li><a href="/examples/test-conditions-chestpain">Conditions</a>: 'Chest pain'</li>
                        <li><a href="/examples/test-conditions-kneepain">Conditions</a>: 'Knee pain'</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
