{% set title = 'Live Well' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="#">Home</a></li>
        </ol>
        <p><a href="#">Back to Home</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <h1>Live Well</h1>
    <p>Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Eat well</a></h2>
            <p>All you need to know about the major food groups and a healthy, balanced diet</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Healthy weight</a></h2>
            <p>Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Exercise</a></h2>
            <p>Programmes, workouts and tips to get you moving and improve your fitness and wellbeing</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Sleep and tiredness</a></h2>
            <p>Find out how to sleep well and the common lifestyle factors that are making you tired</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Sexual health</a></h2>
            <p>Everything you need to know about sexual health, including contraception, STIs and good sex</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Alcohol support</a></h2>
            <p>Find out the health benefits of reducing your alcohol intake and get tips on cutting down</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Quit smoking</a></h2>
            <p>Learn about the benefits of quitting smoking, including better health and increased fertility</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Healthy body</a></h2>
            <p>Get some practical information and advice for keeping your body in tip-top health</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo">
            <h2 class="nhsuk-heading-s"><a href="#">Moodzone</a></h2>
            <p>Practical advice, tools and audio guides to help you feel mentally and emotionally better</p>
        </div>
    </div>

</div>

{% endblock %}
