{% set title = 'Test page - Knee Pain' %}
{% extends "includes/templates/page-v2.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">Health A-Z</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Knee pain</h1>
    <div class="reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro-v2">Knee pain can often be treated at home – you should start to feel better in a few days. See a GP if the pain is very bad or lasts a long time.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">On this page</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#things-you-can-try" class="">Things you can try</a></li>
        <li><a href="#when-to-get-medical-help" class="">When to get medical help</a></li>
        <li><a href="#causes" class="">Causes</a></li>
    </ol>
{% endblock %}

{% block content %}

        <section id="things-you-can-try" class="nhsuk-page-content__section-one">

        <h2>How to ease knee pain and swelling</h2>
        
        <p>Try these things at first:</p>
        
        <ul class="nhsuk-list-bullet">
        <li>put as little weight as possible on the knee – for example, avoid standing for a long time</li>
        <li>use an ice pack (or bag of frozen peas wrapped in a teatowel) on your knee for up to 20 minutes every 2 to 3 hours</li>
        <li>take paracetamol</li>
        </ul>
        
        
        
        
            
          
          <div class="clearfix"></div>
        </section>
        
                            
                              
        
        <section id="when-to-get-medical-help">
          
            <div class="care-card blue" role="alert">
                <div class="care-card-heading">
                    <h2 class="nhsuk-heading-m">See a GP if:</h2>
                </div>
                <div class="care-card-content">
                    <ul class="nhsuk-list-bullet">
                        <li>it doesn't improve within a few weeks</li>
                        <li>you can't move your knee or put any weight on it</li>
                        <li>your knee locks, painfully clicks or gives way – painless clicking is normal</li>
                    </ul>              
                </div>
            </div>  

            <div class="care-card red" role="alert">
                <div class="care-card-heading">
                    <h2 class="nhsuk-heading-m">Go to to a minor injuries unit or A&amp;E if:</h2>
                </div>
                <div class="care-card-content">
                    <ul class="nhsuk-list-bullet">
                        <li>your knee is very painful</li>
                        <li>your knee is badly swollen or has changed shape</li>
                        <li>you have a very high temperature, feel hot and shivery, and have redness or heat around the knee – this can be a sign of infection</li>
                    </ul>
                    
                    <p><a href="/service-search/minor-injuries-unit/locationsearch/551">Find a minor injuries unit</a></p>             
                </div>
            </div> 

          <div class="clearfix"></div>
        </section>
        
                            
                              
        
        <section id="causes">
          
            
              
        
        
        
        <h2>Common causes of knee pain</h2>
        
        <p>Knee pain can be a symptom of many different conditions. A doctor will suggest treatment based on the condition causing your pain. They might:</p>
        
        <ul class="nhsuk-list-bullet">
        <li>refer you to hospital for a scan or specialist treatment, for example surgery</li>
        <li>prescribe medication or physiotherapy</li>
        </ul>
        
        <p>Use these links to get an idea of what can be done about knee pain. But don't self-diagnose – see a GP if you're worried.</p>
        
        <h3>Knee pain after an injury</h3>
        
        <table class="nhsuk-table">
        <thead>
        <tr>
          <th>Knee symptoms</th>
          <th>Possible cause</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Pain after overstretching, overusing or twisting, often during exercise</td>
          <td><a href="/conditions/sprains-and-strains">sprains and strains</a></td>
        </tr>
        <tr>
          <td>Pain between your kneecap and shin, often caused by repetitive running or jumping</td>
          <td><a href="/conditions/tendonitis">tendonitis</a></td>
        </tr>
        <tr>
          <td>Unstable, gives way when you try to stand, unable to straighten, may hear a popping sound during injury</td>
          <td>torn ligament, tendon or meniscus, <a href="/conditions/cartilage-damage/">cartilage damage</a></td>
        </tr>
        <tr>
          <td>Teenagers and young adults with pain and swelling below kneecap</td>
          <td>Osgood-Schlatter's disease</td>
        </tr>
        <tr>
          <td>Kneecap changes shape after a collision or sudden change in direction</td>
          <td><a href="/conditions/dislocated-kneecap/">dislocated kneecap</a></td>
        </tr>
        </tbody>
        </table>
        
        <h3>Knee pain with no obvious injury</h3>
        
        <table class="nhsuk-table">
        <thead>
        <tr>
          <th>Knee symptoms</th>
          <th>Possible cause</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Pain and stiffness in both knees, mild swelling, more common in older people</td>
          <td><a href="/conditions/osteoarthritis/">osteoarthritis</a></td>
        </tr>
        <tr>
          <td>Warm and red, kneeling or bending makes pain and swelling worse</td>
          <td><a href="/conditions/bursitis/">bursitis</a></td>
        </tr>
        <tr>
          <td>Swelling, warmth, bruising, more likely while taking anticoagulants</td>
          <td>bleeding in the joint</td>
        </tr>
        <tr>
          <td>Hot and red, sudden attacks of very bad pain</td>
          <td><a href="/conditions/gout/">gout</a> or <a href="/conditions/septic-arthritis/">septic arthritis</a></td>
        </tr>
        </tbody>
        </table>

          <div class="clearfix"></div>
        </section>
                               
        <div class="clearfix"></div>

        {% include "partials/care-cards/care-card-111.html" %}

        <div class="review-dates">
            <p>
                Page last reviewed: 12/12/2017
                <br>
                Next review due: 12/12/2020
            </p>
        </div>

{% endblock %}

