{% set title = 'Buscopan' %}
{% set parent = 'Medicines' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Buscopan <span>(hyoscine butylbromide)</span></h1>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Buscopan contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#about">About Buscopan</a></li>
        <li><a href="#key-facts">Key facts</a></li>
        <li><a href="#who-can-take">Who can and can't take Buscopan</a></li>
        <li><a href="#how-when">How and when to take it</a></li>
        <li><a href="#side-effects">Side effects</a></li>
        <li><a href="#how-to-cope">How to cope with side effects</a></li>
        <li><a href="#pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
        <li><a href="#cautions">Cautions with other medicines</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="about">1. About Buscopan</h2>
    <p>Buscopan relieves painful <a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/Pages/Introduction.aspx">stomach cramps</a>, including those linked with <a href="http://www.nhs.uk/conditions/Irritable-bowel-syndrome/Pages/Introduction.aspx">irritable bowel syndrome (IBS)</a>. It can also help bladder cramps.</p>
    <p>Buscopan contains the active ingredient hyoscine butylbromide.<span> </span>It's not the same as hyoscine hydrobromide, which is a different medicine taken to prevent <a href="http://www.nhs.uk/conditions/Motion-sickness/Pages/Introduction.aspx">travel sickness</a>.</p>
    <p>Buscopan comes as tablets available on prescription. You can also buy it from pharmacies.</p>
    <p>It can also be given by injection, but this is usually only done in hospital.</p>

    <h2 id="key-facts">2. Key facts</h2>
    <ul>
      <li>Buscopan relieves the pain of tummy cramps by helping your gut to relax.</li>
      <li>The medicine works very quickly -&nbsp;painful cramps should ease within 15 minutes.</li>
      <li>It's unusual to have any side effects -&nbsp;but some people get a dry mouth, constipation and blurred vision.</li>
      <li>Buscopan comes on prescription and as 2 different products -&nbsp;Buscopan IBS Relief and Buscopan Cramps -&nbsp;that you can buy from a pharmacy or shop.</li>
      <li>If you're self-treating with Buscopan, don't take it for longer than 2 weeks without checking with a doctor.</li>
    </ul>

    <h2 id="who-can-take">3. Who can and can't take Buscopan</h2>
    <p>Buscopan can be taken by adults and children over the age of 6 years.</p>
    <p>Do not give Buscopan Cramp tablets to children under the age of 6 years.</p>
    <p>Do not give Buscopan IBS Relief tablets to children under the age of 12 years.</p>
    <p>Buscopan isn't suitable for some people.</p>
    <h3>Do not take Buscopan if you have:</h3>
    <ul>
      <li>had an allergic reaction to Buscopan or any other medicines&nbsp;in the past</li>
      <li>a rare type of <a href="http://www.nhs.uk/Conditions/Glaucoma/Pages/Introduction.aspx">glaucoma</a> called angle-closure glaucoma. (Buscopan can increase the pressure in the eye and make your glaucoma worse.)</li>
      <li>a very enlarged bowel</li>
      <li><a href="http://www.nhs.uk/conditions/Myasthenia-gravis/Pages/Introduction.aspx">myasthenia gravis</a> (an illness where the muscles become weak and tire easily)</li>
    </ul>

    <h3>Check with your doctor or pharmacist before taking Buscopan if you:</h3>
    <ul>
      <li>are trying for a baby, are pregnant or you are breastfeeding</li>
      <li>cannot digest some sugars (as Buscopan tablets contain sugars)</li>
      <li>have a very fast heart rate or any other heart problems (Buscopan tablets may make the heart beat speed up even more)</li>
      <li>have difficulty peeing, for example men with prostate problems</li>
      <li>have a gut blockage</li>
      <li>have an <a href="http://www.nhs.uk/conditions/Thyroid-over-active/Pages/Introduction.aspx">overactive thyroid</a></li>
      <li>have a temperature above 38C</li>
      <li>have digestive problems such as <a href="http://www.nhs.uk/conditions/Gastroesophageal-reflux-disease/Pages/Introduction.aspx">reflux</a> disease, severe <a href="https://beta.nhs.uk/conditions/constipation">constipation</a> or <a href="http://www.nhs.uk/conditions/ulcerative-colitis/Pages/Introduction.aspx">ulcerative colitis</a></li>
    </ul>
    <p>There are some extra safety checks to think about if you have bought Buscopan Cramps and Buscopan IBS relief from a pharmacy without a prescription.</p>
    <h3>For safety, talk to your pharmacist or doctor before taking Buscopan Cramps and Buscopan IBS if you:</h3>
    <ul>
      <li>are 40 years or over</li>
      <li>have recently passed blood in your poo</li>
      <li>are feeling sick or vomiting</li>
      <li>have lost your appetite or lost weight</li>
      <li>are looking pale and feeling tired</li>
      <li>have unusual vaginal bleeding or <a href="https://beta.nhs.uk/conditions/vaginal-discharge">vaginal discharge</a></li>
      <li>have recently travelled abroad (in case you have picked up a stomach bug)</li>
    </ul>
    <p>Only take Buscopan IBS relief tablets if your doctor has said that you have irritable bowel syndrome.</p>

    <h2 id="how-when">4. How and when to take it</h2>
    <p>Each Buscopan tablet contains 10mg of hyoscine butylbromide.</p>
    <p>Buscopan tablets are available on prescription as a pack of 56 tablets.</p>
    <p>Buscopan also comes as 2 different products that you can buy from a pharmacy or shop:</p>
    <ul>
      <li>Buscopan Cramps -&nbsp;as a box of 20 tablets</li>
      <li>Buscopan IBS Relief -&nbsp;as boxes of 20 or 40 tablets</li>
    </ul>
    <p>Buscopan tablets are all the same strength (10mg) whether you get them on prescription or whether you buy them as Buscopan Cramps or Buscopan IBS Relief.</p>
    <h3>When to take</h3>
    <p>Take Buscopan tablets as and when you have painful <a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/Pages/Introduction.aspx">stomach cramps</a>. Buscopan doesn't usually upset your tummy so you can take it&nbsp;with or without food.</p>
    <p>Only take Buscopan IBS Relief if a doctor has confirmed that you have IBS.</p>
    <h3>How much to take</h3>
    <p>The usual dose of Buscopan for stomach cramps in adults and children aged 12 years and over is 2 tablets taken 4 times a day. For children aged 6 to 11 years, the usual dose is 1 tablet taken 3 times a day.</p>
    <p>The usual dose of Buscopan for symptoms of IBS diagnosed by a doctor in adults and children aged 12 years and over is 1 tablet taken 3 times a day. You can increase this to 2 tablets taken 4 times a day if needed. Buscopan is not recommended to treat IBS in children under 12 years.</p>
    <h3>What if I forget to take it?</h3>
    <p>If you forget to take a dose, take it as soon as you remember. If you don't remember until it is time for the next dose, skip the missed dose.</p>
    <p>Never take 2 doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
    <p><span>If you often forget doses, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways that are suitable for you and your medicines.</span></p>
    <h3>What if I take too much?</h3>
    <p>If you take an extra dose of Buscopan by accident, it's unlikely to harm you.</p>
    <p>Speak to your pharmacist or doctor if you're worried, or take more than&nbsp;1 extra dose.</p>

    <h2 id="side-effects">5. Side effects</h2>
    <p>Like all medicines, Buscopan can cause side effects in some people but most people have no side effects or only minor ones.</p>
    <h3>Common side effects</h3>
    <p>These side effects happen in more than 1 in 100 people.</p>
    <p>Talk to your doctor or pharmacist if these side effects bother you or don’t go away:</p>
    <ul>
      <li>dry mouth</li>
      <li>constipation</li>
      <li>blurred vision</li>
      <li>fast heart rate</li>
    </ul>
    <h3>Serious side effects</h3>
    <p>It happens rarely, but some people may have a serious side effect when taking Buscopan.</p>
    <p>Stop taking Buscopan and tell a doctor straight away if you:</p>
    <ul>
      <li>get a painful red eye with loss of vision (this could be caused by an increase in pressure in your eye)</li>
      <li>find it hard to pee</li>
    </ul>

    <h4><strong>Serious allergic reaction</strong></h4>
    <p>In rare cases, it’s possible to have a serious allergic reaction to Buscopan.</p>
    <p><span><strong>A serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</strong></span></p>
    <p>The warning signs of a&nbsp;<a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a>&nbsp;are:</p>
    <ul>
      <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
      <li>wheezing</li>
      <li>tightness in the chest or throat</li>
      <li>having trouble breathing or talking</li>
      <li>swelling of the mouth, face, lips, tongue, or throat</li>
    </ul>
    <p>These are not all the side effects of Buscopan. For a full list see the leaflet inside your medicines packet.</p>
    <p><span>You can report any suspected side effect to the&nbsp;<a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</span></p>

    <h2 id="how-to-cope">6. How to cope with side effects</h2>
    <h3>What to do about:</h3>
    <ul>
      <li><strong>dry mouth</strong>&nbsp;- chew sugar-free gum or suck sugar-free sweets</li>
      <li><strong>constipation</strong>&nbsp;- eat more high-fibre foods such as fresh fruit and vegetables and cereals, and drink plenty of water. Try to exercise more regularly, for example, by going for a daily walk or run. If this doesn't help, talk to your pharmacist or doctor.</li>
      <li><strong>blurred vision</strong>&nbsp;- don't drive for a week.</li>
    </ul>

    <h2 id="pregnancy-breastfeeding">7. Pregnancy and breastfeeding</h2>
    <p>Buscopan isn't usually recommended during pregnancy and while breastfeeding.</p>
    <p>Tiny amounts of Buscopan may get into breast milk, but it's not known if it harms the baby. There's a small risk that Buscopan may reduce&nbsp;your milk production.</p>
    <p><span>Tell your pharmacist or doctor if you're trying to get pregnant, are already pregnant or if you're breastfeeding.</span></p>

    <h2 id="cautions">8. Cautions with other medicines</h2>
    <p>Some medicines and Buscopan can interfere with each other and increase the chances of you having side effects.</p>
    <p>Do not take Buscopan at the same time as some <a href="http://www.nhs.uk/conditions/Motion-sickness/Pages/Introduction.aspx">travel sickness</a> medicines, such as domperidone and metoclopramide. This is because they can cancel each other out and stop each other from working. Metoclopramide and domperidone increase the movement of the gut, whereas Buscopan reduces it.</p>
    <p>Some medicines increase the risk of side effects if you&nbsp;take them&nbsp;at the same time as Buscopan, including:</p>
    <ul>
      <li>codeine</li>
      <li>medicines for allergies such as antihistamines</li>
      <li>some medicines for depression such as amitriptyline</li>
      <li>some medicines for mental health problems like <a href="http://www.nhs.uk/conditions/Schizophrenia/Pages/Introduction.aspx">schizophrenia</a> or <a href="http://www.nhs.uk/conditions/Bipolar-disorder/Pages/Introduction.aspx">bipolar disorder</a> such as clozapine or chlorpromazine</li>
      <li>amantadine (taken for <a href="http://www.nhs.uk/conditions/Parkinsons-disease/Pages/Introduction.aspx">Parkinson's disease</a>)</li>
      <li>quinidine or disopyramide (heart medicines)</li>
      <li>some inhaled <a href="http://www.nhs.uk/conditions/Asthma/Pages/Introduction.aspx">asthma</a> medicines including <a href="http://beta.nhs.uk/medicines/salbutamol-inhaler/">salbutamol</a>, iptratropium, tiotropium</li>
    </ul>
    <h3>Mixing Buscopan with herbal remedies and supplements</h3>
    <p>There are no known problems with taking herbal remedies and supplements at the same time as Buscopan.</p>
    <p><span><strong>However, for safety, tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</strong></span></p>
{% endblock %}
