{% set title = 'Test page - Sciatica' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">Health A-Z</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Sciatica</h1>
    <div class="reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Sciatica is when the sciatic nerve, which runs from your hips to your feet, is irritated. It usually gets better in 4 to 6 weeks but can last longer.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#symptoms">Symptoms</a></li>
            <li><a href="#things-you-can-try">Things you can try</a></li>
            <li><a href="#when-to-get-medical-help">When to get medical help</a></li>
            <li><a href="#treatments-from-a-gp">Treatments from a GP</a></li>
            <li><a href="#prevention">Prevention</a></li>
            <li><a href="#causes">Causes</a></li>
    </ol>
{% endblock %}

{% block content %}
<section id="symptoms" class="nhsuk-page-content__section-one">
      
        
          
    
    
    
    <h2>Check if you have sciatica</h2>
    
    <p>If you have sciatica, your:</p>
    
    <ul>
    <li>bottom</li>
    <li>backs of your legs</li>
    <li>feet and toes</li>
    </ul>
    
    <p>may feel:</p>
    
    <ul>
    <li>painful – the pain may be stabbing, burning or shooting</li>
    <li>tingling – like <a href="/conditions/pins-and-needles/">pins and needles</a></li>
    <li>numb</li>
    <li>weak</li>
    </ul>
    
    <p>Your symptoms may be worse when moving, sneezing or coughing.</p>
    
    <p>You may also have back pain, but this isn't usually as bad as the pain in your bottom, legs or feet.</p>
    
    
    
    
        
      
        
          
    
    
    
    <div class="nhsuk-c-keypoint">
        <p>You probably don't have sciatica if you only have <a href="/conditions/back-pain/">back pain</a>.</p>
    </div>
    
    
    
        
      
      <div class="clearfix"></div>
    </section>
    
                        
                          
    
    <section id="things-you-can-try">
      
        
          
    
    
    
    <h2>How you can ease the pain yourself</h2>
    
    <p>Sciatica usually gets better in 4 to 6 weeks but can sometimes last longer.</p>
    
    <p>To help relieve your pain and speed up your recovery:</p>
    
    <div class="nhsuk-c-panel nhsuk-c-panel__with-header">
        <h3 id="do" class="">Do</h3>
        <ul class="list--check">
            <li>carry on with your normal activities as much as possible</li>
            <li>regular <a href="/livewell/backpain/pages/sciatica-exercises.aspx">back stretches</a></li>
            <li>start gentle exercise as soon as you can – anything that gets you moving can help</li>
            <li>hold heat packs to the painful areas – you can buy these from pharmacies</li>
            <li>ask your pharmacist about painkillers that can help</li>
        </ul>
    </div>
    <div class="nhsuk-c-panel nhsuk-c-panel__with-header">
        <h3 id="dont" class="">Don't</h3>
        <ul class="list--cross">
            <li>sit or lie down for long periods – even if moving hurts, it's not harmful and can help you get better faster</li>
            <li>take <a href="https://beta.nhs.uk/medicines/paracetamol-for-adults/">paracetamol</a> on its own – this doesn't help with back pain or sciatica</li>
            <li>use hot water bottles to ease the pain – you could scald yourself if your skin is numb</li>
        </ul>
    </div>
    
    
        
      
      <div class="clearfix"></div>
    </section>
    
                        
                          
    
    <section id="when-to-get-medical-help">


    <div class="care-card blue" role="alert">
        <div class="care-card-heading">
            <h2 class="nhsuk-heading-m">See a GP if the pain:</h2>
        </div>
        <div class="care-card-content">
            <ul>
                <li>hasn't improved after trying home treatments for a few weeks</li>
                <li>is getting worse</li>
                <li>is stopping you doing your normal activities</li>
            </ul>
        </div>
    </div>

    <div class="care-card red" role="alert">
        <div class="care-card-heading">
            <h2 class="nhsuk-heading-m">Go to A&amp;E or call 999 if you:</h2>
        </div>
        <div class="care-card-content">
            <ul>
                <li>have sudden weakness in both legs</li>
                <li>have numbness or tingling around and under your genitals or inner thighs</li>
                <li>suddenly can't pee, or can't control when you pee or poo</li>
                </ul>
                
                <p>These could be symptoms of a serious back problem that needs to be treated in hospital as soon as possible.</p>
        </div>
    </div>
    

      <div class="clearfix"></div>
    </section>
    
                        
                          
    
    <section id="treatments-from-a-gp">
      
        
          
    
    
    
    <h2>Treatments from a GP</h2>
    
    <p>Your GP may:</p>
    
    <ul>
    <li>suggest exercises and stretches</li>
    <li>prescribe painkillers that help with nerve pain like sciatica</li>
    </ul>
    
    <p>They might also refer you for:</p>
    
    <ul>
    <li>physiotherapy – including exercise advice and techniques like massage (manual therapy)</li>
    <li>psychological support – to help you cope with the pain</li>
    </ul>
    
    <p>Physiotherapy from the NHS may not be available everywhere and waiting times can be long. You can also get it privately.</p>
    
    
    
    
        
      
        
          
    
    
    
    <section class="callout callout--find-a-service">
        <div class="reading-width">
            <p><a href="http://www.csp.org.uk/your-health/find-physio/physio2u" title="External website">Find a physiotherapist</a></p>
    
        </div>
    </section>
    
    
    
        
      
        
          
    
    
    
    <details role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="details__summary">Injections and surgery for sciatica</span>
        </summary>
        <div class="details__content" id="details-content-0" aria-hidden="true">
            <div class="block-markdown">
    
    
    
    <p>If other treatments haven't helped or your pain is very bad, your GP may refer you to a hospital specialist for:</p>
    
    <ul>
    <li>painkilling injections</li>
    <li>surgery – an operation called <a href="/conditions/lumbar-decompression-surgery/">decompression surgery</a> can sometimes help relieve sciatica</li>
    </ul>
    
    
    
    </div>
        </div>
    </details>
    
    
    
        
      
      <div class="clearfix"></div>
    </section>
    
                        
                          
    
    <section id="prevention">
      
        
          
    
    
    
    <h2>How to stop sciatica coming back</h2>
    
    <p>To reduce the chances of getting sciatica again:</p>
    

    <div class="nhsuk-c-panel nhsuk-c-panel__with-header">
        <h3 id="do" class="">Do</h3>
        <ul class="list--check">
            <li>stay active – take regular exercise</li>
            <li>use a <a href="/livewell/workplacehealth/pages/safe-lifting-tips.aspx">safe technique when lifting</a> heavy objects</li>
            <li>make sure you have a <a href="/livewell/backpain/pages/back-pain-and-common-posture-mistakes.aspx">good posture when sitting and standing</a></li>
            <li><a href="/livewell/workplacehealth/pages/howtositcorrectly.aspx">sit correctly</a> when using a computer</li>
            <li>lose weight if you're overweight</li>
        </ul>
    </div>
    <div class="nhsuk-c-panel nhsuk-c-panel__with-header">
        <h3 id="dont" class="">Don't</h3>
        <ul class="list--cross">
            <li>sit or lie down for long periods – even if moving hurts, it's not harmful and can help you get better faster</li>
            <li>take <a href="https://beta.nhs.uk/medicines/paracetamol-for-adults/">paracetamol</a> on its own – this doesn't help with back pain or sciatica</li>
            <li>use hot water bottles to ease the pain – you could scald yourself if your skin is numb</li>
        </ul>
    </div>
    
        
      
      <div class="clearfix"></div>
    </section>
    
                        
                          
    
    <section id="causes">
      
        
          
    
    
    
    <h2>Causes of sciatica</h2>
    
    <p>Sciatica is due to something pressing or rubbing on the sciatic nerve.</p>
    
    <p>Causes include:</p>
    
    <ul>
    <li>a <a href="/conditions/slipped-disc/">slipped disc</a> (the most common cause) – when a soft cushion of tissue between the bones in your spine pushes out</li>
    <li><a href="http://www.spinesurgeons.ac.uk/patients/patient-information/spinal-stenosis" title="External website">spinal stenosis</a> – narrowing of the part of your spine where nerves pass through </li>
    <li><a href="/conditions/spondylolisthesis/">spondylolisthesis</a> – when one of the bones in your spine slips out of position </li>
    <li>a back injury</li>
    </ul>
    
    
    
    
        
      
      <div class="clearfix"></div>
    </section>
    
                        
    <div class="clearfix"></div>

    {% include "partials/care-cards/care-card-111.html" %}
{% endblock %}

