{% set title = 'Test page - Clinical Depression' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="#">Conditions</a></li>
				<li>Clinical Depression</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <ul class="nhsuk-list-nav">
        <li><a href="#" class="">Overview</a></li>
        <li><a href="#" class="">Symptoms</a></li>
        <li><a href="#" class="">Causes</a></li>
        <li><a href="#" class="">Diagnosis</a></li>
        <li><a href="#" class="">Treatment</a></li>
        <li><a href="#" class="">Living with</a></li>
        <li><a href="#" class="">Psychotic depression</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">
		
		<h1>Clinical Depression</h1>
		
		<p class="nhsuk-body-l nhsuk-page-intro">There's no single cause of depression. It can occur for a variety of reasons and it has many different triggers.</p>
		
		<div class="page-contents">
			<h2 class="nhsuk-heading-s">On this page</h2>
			<ol>
				<li><a href="#stressful-events">Stressful events</a></li>
				<li><a href="#personality">Personality</a></li>
				<li><a href="#family-history">Family history</a></li>
				<li><a href="#giving-birth">Giving birth</a></li>
				<li><a href="#loneliness">Loneliness</a></li>
				<li><a href="#alcohol-and-drugs">Alcohol and drugs</a></li>
				<li><a href="#illness">Illness</a></li>
			</ol>
		</div>
		
        <p>For some people, an upsetting or stressful life event, such as bereavement, divorce, illness, redundancy and job or money worries, can be the cause.</p>

		<p>Different causes can often combine to trigger depression. For example, you may feel low after being ill and then experience a traumatic event, such as a bereavement, which brings on depression.</p>

		<p>People often talk about a "downward spiral" of events that leads to depression. For example, if your relationship with your partner breaks down, you're likely to feel low, you may stop seeing friends and family and you may start drinking more. All of this can make you feel worse and trigger depression.</p>

		<p>Some studies have also suggested that you're more likely to get depression as you get older, and that it's more common in people who live in difficult social and economic circumstances.</p>

		<p>Some of the potential triggers of depression are discussed below.</p>
		
		
		<h2 id="stressful-events">Stressful events</h2>

		<p>Most people take time to come to terms with stressful events, such as bereavement or a relationship breakdown. When these stressful events occur, your risk of becoming depressed is increased if you stop seeing your friends and family and try to deal with your problems on your own.</p>

		<h2 id="personality">Personality</h2>

		<p>You may be more vulnerable to depression if you have certain personality traits, such as low self-esteem or being overly self-critical. This may be because of the genes you've inherited from your parents, your early life experiences, or both.</p>

		<h2 id="family-history">Family history</h2>

		<p>If someone in your family has had depression in the past, such as a parent or sister or brother, it's more likely that you'll also develop it.</p>

		<h2 id="giving-birth">Giving birth</h2>

		<p>Some women are particularly vulnerable to depression after pregnancy. The hormonal and physical changes, as well as the added responsibility of a new life, can lead to postnatal depression.</p>

		<h2 id="loneliness">Loneliness</h2>

		<p>Becoming cut off from your family and friends can increase your risk of depression.</p>

		<h2 id="alcohol-and-drugs">Alcohol and drugs</h2>

		<p>When life is getting them down, some people try to cope by drinking too much alcohol or taking drugs. This can result in a spiral of depression. </p>

		<p>Cannabis can help you relax, but there's evidence that it can also bring on depression, particularly in teenagers.</p>

		<p>"Drowning your sorrows" with a drink is also not recommended. Alcohol is categorised as a "strong depressant", which actually makes depression worse. </p>

		<h2 id="illness">Illness</h2>

		<p>You may have a higher risk of depression if you have a longstanding or life-threatening illness, such as coronary heart disease or cancer.</p>

		<p>Head injuries are also an often under-recognised cause of depression. A severe head injury can trigger mood swings and emotional problems.</p>

		<p>Some people may have an underactive thyroid (hypothyroidism) resulting from problems with their immune system. In rarer cases, a minor head injury can damage the pituitary gland, which is a pea-sized gland at the base of your brain that produces thyroid-stimulating hormones.</p>

		<p>This can cause a number of symptoms, such as extreme tiredness and a lack of interest in sex (loss of libido), which can in turn lead to depression.</p>
		
    </section>

{% endblock %}
