{% set title = 'Chlamydia' %}
{% set parent = 'Health A-Z' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Chlamydia</h1>
    <p>Multi-page condition</p>
{% endblock %}

{% block sidebar %}
    <ol>
        <li><a href="about" class="active">About</a></li>
        <li><a href="">Check symptoms and who should get tested</a></li>
        <li><a href="">Treatment</a></li>
        <li><a href="">Telling your partner</a></li>
        <li><a href="">Protect yourself</a></li>
        <li><a href="">Causes</a></li>
        <li><a href="">If it's not treated</a></li>
        <li><a href="">Get tested</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="about">About chlamydia</h2>
    <p>Chlamydia is the most common sexually transmitted infection (STI). Anyone who has oral, vaginal or anal sex can get chlamydia or pass it on.</p>
    <p>You could have chlamydia even if you have no symptoms, or your symptoms go away.</p>
    <p>Chlamydia is easy to treat with medical help.</p>
    <p>If you don't treat it, chlamydia can lead to serious health problems such as pelvic inflammatory disease, lower fertility or infertility.</p>
    <p>The only way to know if you have chlamydia is to get tested.</p>
{% endblock %}
