{% set title = 'Test page - Chest Pain' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">Health A-Z</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Chest pain</h1>
    <div class="reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Most chest pain isn't a sign of anything serious but you should get medical advice just in case. Get immediate medical help if you think you're having a heart attack.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#when-to-get-medical-help">When to get medical help</a></li>
        <li><a href="#common-causes">Common causes</a></li>
        <li><a href="#chest-pain-and-heart-problems">Chest pain and heart problems</a></li>
    </ol>
{% endblock %}

{% block content %}

        <section id="when-to-get-medical-help" class="nhsuk-page-content__section-one">
        
        <div class="care-card black" role="alert">
            <div class="care-card-heading">
                <h2 class="nhsuk-heading-m">Call 999 if you have sudden chest pain that:</h2>
            </div>
            <div class="care-card-content">
                <ul>
                    <li>spreads to your arms, back, neck or jaw</li>
                    <li>makes your chest feel tight or heavy</li>
                    <li>also started with shortness of breath, sweating and feeling or being sick</li>
                </ul>
                <p>You could be having a <a href="/conditions/heart-attack/">heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>                
            </div>
        </div>

        <div class="care-card blue" role="alert">
            <div class="care-card-heading">
                <h2 class="nhsuk-heading-m">See a GP or go to your local walk-in centre if:</h2>
            </div>
            <div class="care-card-content">
                <ul>
                    <li>you have chest pain that comes and goes</li>
                    <li>you have chest pain that goes away quickly but you're still worried</li>
                </ul>
                
                <p>It's important to get medical advice to make sure it's nothing serious.</p>
                
                <p><a href="/service-search/walk-in%20centre/locationsearch/663">Find a walk-in centre</a></p>
            </div>
        </div>
          
          <div class="clearfix"></div>
        </section>
        
                            
                              
        
        <section id="common-causes">
          
            
              
        
        
        
        <h2>Common causes of chest pain</h2>
        
        <p>Chest pain has many different causes – only the most common are listed below. In most cases, chest pain is not caused by a heart problem. </p>
        
        <p>Your symptoms might give you an idea of the cause. Don't self-diagnose – see your GP if you're worried.</p>
        
        <table class="nhsuk-table">
        <thead>
        <tr>
          <th>Chest pain symptoms</th>
          <th>Possible cause</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Starts after eating, bringing up food or bitter tasting fluids, feeling full and bloated</td>
          <td><a href="/conditions/heartburn-and-acid-reflux/">heartburn</a> or <a href="/conditions/indigestion/">indigestion</a></td>
        </tr>
        <tr>
          <td>Starts after chest injury or chest exercise, feels better when resting the muscle</td>
          <td><a href="/conditions/sprains-and-strains">chest sprain or strain</a></td>
        </tr>
        <tr>
          <td>Triggered by worries or a stressful situation, heartbeat gets faster, sweating, dizziness</td>
          <td><a href="/conditions/generalised-anxiety-disorder/">anxiety</a> or <a href="/conditions/stress-anxiety-depression/understanding-panic-attacks/">panic attack</a></td>
        </tr>
        <tr>
          <td>Gets worse when you breathe in and out, coughing up yellow or green mucus, high temperature</td>
          <td><a href="/conditions/chest-infection/">chest infection</a> or <a href="/conditions/pneumonia/">pneumonia</a></td>
        </tr>
        <tr>
          <td>Tingling feeling on skin, skin rash appears that turns into blisters</td>
          <td><a href="/conditions/shingles">shingles</a></td>
        </tr>
        </tbody>
        </table>
        
        
        
        
            
          
          <div class="clearfix"></div>
        </section>
        
                            
                              
        
        <section id="chest-pain-and-heart-problems">
          
            
              
        
        
        
        <h2>Chest pain and heart problems</h2>
        
        <p>The most common heart problems that cause chest pain include:</p>
        
        <ul>
        <li><a href="/conditions/pericarditis/">pericarditis</a> – which usually causes a sudden, sharp, stabbing pain that gets worse when you breathe deeply or lie down</li>
        <li><a href="/conditions/angina/">angina</a> or a <a href="/conditions/heart-attack/">heart attack</a> – which have similar symptoms but a heart attack is life-threatening</li>
        </ul>
        
        <p>You're more likely to have heart problems if you're older or know you're at risk of <a href="/conditions/coronary-heart-disease/">coronary heart disease</a>. </p>
        
        <p>For example, if you:</p>
        
        <ul>
        <li>smoke</li>
        <li>are <a href="/conditions/obesity/">very overweight (obese)</a></li>
        <li>have <a href="/conditions/high-blood-pressure-hypertension/">high blood pressure</a>, <a href="/conditions/type-2-diabetes/">diabetes</a> or <a href="/conditions/high-cholesterol/">high cholesterol</a></li>
        <li>have a history of heart attacks or angina in family members under 60 years old</li>
        </ul>
        
        
        
        
            
          
          <div class="clearfix"></div>
        </section>
        
                            
        <div class="clearfix"></div>

        {% include "partials/care-cards/care-card-111.html" %}

{% endblock %}

