{% set title = 'Slipped disc' %}
{% set parent = 'Health A-Z' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Slipped disc</h1>
    <div class="nhsuk-reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">A slipped disc is when a soft cushion of tissue between the bones in your spine pushes out. It's painful if it presses on nerves. It usually gets better slowly with rest, gentle exercise and painkillers.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol>
        <li><a href="#symptoms">Symptoms</a></li>
        <li><a href="#things-you-can-try">Things you can try</a></li>
        <li><a href="#how-a-pharmacist-can-help">How a pharmacist can help</a></li>
        <li><a href="#when-to-get-medical-help">When to get medical help</a></li>
        <li><a href="#treatment-from-a-gp">Treatment from a GP</a></li>
        <li><a href="#surgery">Surgery</a></li>
        <li><a href="#alternative-treatments">Alternative treatments</a></li>
        <li><a href="#causes">Causes</a></li>
        <li><a href="#prevention">Prevention</a></li>
    </ol>
{% endblock %}

{% block content %}

<h2 id="symptoms">Check if it's a slipped disc</h2>

<p>A slipped disc (also called a prolapsed or herniated disc) can cause:</p>
<ul>
	<li>lower back pain</li>
	<li>numbness or tingling in your shoulders, back, arms, hands, legs or feet</li>
	<li>neck pain</li>
	<li>problems bending or straightening your back</li>
	<li>muscle weakness</li>
	<li>pain in the buttocks, hips or legs if the disc is <a href="/conditions/sciatica/">pressing on the sciatic nerve (sciatica)</a></li>
</ul>
<p>Not all slipped discs cause symptoms. Many people will never know they have slipped a disc.</p>


<h3>Other causes of back pain</h3>

<p>Sometimes the pain may be a result of an injury such as a <a href="/conditions/sprains-and-strains">sprain or strain</a> but often there's no obvious reason.</p>
<p><a href="/conditions/back-pain/">Back pain</a> is rarely caused by anything serious.</p>

<h2 id="things-you-can-try">How you can ease the pain yourself</h2>

<h3>Keep active</h3>

<p>If the pain is very bad, you may need to rest at first. But start gentle exercise as soon as you can – it will help you get better faster.</p>
<p>The type of exercise isn't important, just gradually increase your activity level.</p>


<h3>Take painkillers</h3>

<p>Alternate painkillers such as ibuprofen and paracetamol. Paracetamol on its own isn't recommended for back pain.</p>
<p>Take them regularly (up to the recommended daily amount) rather than just when the pain is particularly bad. This will help you to keep moving.</p>


<h2 id="how-a-pharmacist-can-help">A pharmacist can help with a slipped disc</h2>

<p><a href="/conditions/nsaids">Non-steroidal anti-inflammatory drugs (NSAIDs)</a> like ibuprofen aren't suitable for everyone. Speak to a pharmacist if you're not sure.</p>
<p>Stronger painkillers containing codeine may help for pain that has just started. But these types of painkillers can cause addiction and should only be used for a few days.</p>

<a href="https://beta.nhs.uk/finders/find-help" class="nhsuk-action-link-v2">Find a pharmacy</a>

<div class="care-card blue" id="when-to-get-medical-help">
	<div class="care-card-heading">
		<h4 class="nhsuk-heading-m">See a GP if you:</h4>
	</div>
	<div class="care-card-content">
		<ul>
		<li>your painkillers aren't helping</li>
		<li>the pain is no better after a month</li>
		</ul>
	</div>
</div>

<div class="care-card red" id="when-to-get-medical-help">
	<div class="care-card-heading">
		<h4 class="nhsuk-heading-m">See a GP urgently or go to A&amp;E if you have back pain and you:</h4>
	</div>
	<div class="care-card-content">
		<ul>
			<li>have numbness around your bottom or genitals</li>
			<li>can't pee</li>
			<li>lose feeling in one or both legs</li>
			<li>can't control when you pee or poo</li>
			<li>have a very high temperature or you feel hot and shivery</li>
			<li>have unexplained weight loss</li>
			<li>have a swelling in your back</li>
			<li>notice the pain is worse at night</li>
			<li>got it after a serious accident, such as a car accident</li>
		</ul>
	</div>
</div>


<h3>What happens at your appointment</h3>

<p>Your GP will usually be able to tell if you have a slipped disc from your symptoms.</p>
<p>You may also have a physical examination. Your GP might ask you to raise your arms or do simple leg exercises to find out where the slipped disc is.</p>


<h2 id="treatment-from-a-gp">Treatment from a GP</h2>

<p>Your GP might prescribe a stronger painkiller, a steroid injection or a muscle relaxant to use in the short term.</p>
<p>If your symptoms don't get better your GP might recommend further tests, like an MRI scan.</p>
<p>They might also refer you to a physiotherapist. Physiotherapy from the NHS might not be available everywhere and waiting times can be long. You can also get it privately.</p>

<a href="http://www.csp.org.uk/your-health/find-physio/physio2u" class="nhsuk-action-link-v2" title="External website">Find a physiotherapist</a>

<h2 id="surgery">Surgery for a slipped disc</h2>

<p>Surgery isn't usually needed but your GP might refer to you a specialist to discuss surgery if your symptoms:</p>

<ul>
<li>haven't improved using other treatments</li>
<li>include worsening muscle weakness, or numbness</li>
</ul>

<h2 id="alternative-treatments">Alternative treatments for slipped disc</h2>

<p>There's some evidence that <a href="/conditions/physiotherapy/how-it-works/#manual-therapy">manual therapies</a> like osteopathy can help ease lower back pain.</p>

<p>You'll usually have to pay for this treatment privately.</p>

<h2 id="causes">What causes slipped disc</h2>

<p>They can happen because of:</p>

<ul>
<li>ageing</li>
<li>exercising too hard</li>
<li>lifting heavy objects the wrong way</li>
<li>vibration – from driving or operating machinery</li>
<li>being inactive or overweight</li>
</ul>

<h2 id="prevention">To help prevent slipped discs</h2>

<div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab">
	<h3 id="do">Do</h3>
	<ul class="list--check">
		<li>keep active – take regular exercise</li>
		<li>use a <a href="/livewell/workplacehealth/pages/safe-lifting-tips.aspx">safe technique when lifting</a> heavy objects</li>
	</ul>
</div>
<div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab">
	<h3 id="dont">Don't</h3>
	<ul class="list--cross">
		<li>smoke – nicotine weakens the disc tissue</li>
	</ul>
</div>

<div class="care-card grey care-card__extra-spacing">
	<div class="care-card-heading">
		<h2 class="nhsuk-heading-m">Call 111:</h2>
	</div>
	<div class="care-card-content">
		<p>if you can’t speak to your GP or don’t know what to do next.</p>
	</div>
</div>

{% endblock %}

