////
/// Skip link component
///
/// 1. Hide until the skip link gains focus from keyboard tabbing.
///
/// @group components
////

.nhsuk-skip-link {
  position: absolute;
  left: nhsuk-spacing(3);
  top: nhsuk-spacing(3);
  padding: nhsuk-spacing(2);
  @include visually-hidden-focusable; // [1]
}
