{% set title = 'Button disabled' %}
{% from 'components/button/macro.njk' import button %}
{% extends '_templates/example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Disabled button",
        "disabled": true
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Disabled secondary button",
        "classes": "nhsuk-button--secondary",
        "disabled": true
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Disabled reversed button",
        "classes": "nhsuk-button--reverse",
        "disabled": true
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Disabled warning button",
        "classes": "nhsuk-button--warning",
        "disabled": true
      }) }}
    </div>
  </div>
{% endblock %}
