{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Button' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ button({
            "text": "Save and continue"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
