{% set title = 'Button as a link' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'example.njk' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Link button",
        "href": baseUrl
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Link secondary button",
        "href": baseUrl,
        "classes": "nhsuk-button--secondary"
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Link secondary button",
        "href": baseUrl,
        "classes": "nhsuk-button--secondary-white-background"
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Link reversed button",
        "href": baseUrl,
        "classes": "nhsuk-button--reverse"
      }) }}
    </div>
    <div class="nhsuk-grid-column-full">
      {{ button({
        "text": "Link warning button",
        "href": baseUrl,
        "classes": "nhsuk-button--warning"
      }) }}
    </div>
  </div>

{% endblock %}