{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Button reverse' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.njk' %}

{% block body %}

  <style>body { background-color: #005eb8; }</style>

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ button({
            "text": "Save and continue",
            "classes": "nhsuk-button--reverse",
            "disabled": true
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
