{% set title = 'Button reverse as a link' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'example.njk' %}

{% block main %}

<section style="background-color: #005eb8;">
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ button({
            "text": "Log out",
            "classes": "nhsuk-button--reverse",
            "href": "#"
          }) }}
        </div>
      </div>
    </main>
  </div>
</section>

{% endblock %}
