{% extends 'includes/site-layout.html' %}

{% block body %}   
    <div class="govuk-o-width-container">
        <main class="govuk-o-main-wrapper">
            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--full">
                    <div class="nhs-page-heading">
                          {% block header %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="govuk-o-grid">
                <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <div class="nhs-page-nav">
                          {% block sidebar %}{% endblock %}    
                    </div>
                </div>
                <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
                    <div class="nhs-page-content">     
                          {% block content %}{% endblock %}    
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
