{% extends "nhsuk-frontend/layouts/prototype-page.njk" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "/templates/start-page",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Check your answers before sending your application
      </h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: "485 777 3456"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Kevin Francis"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "15 March 1984"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Home address"
            },
            value: {
              html: '8 Bridgewater Place<br>Leeds<br>LS11 5BZ'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">
        Medical details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Allergies"
            },
            value: {
              text: "No allergies"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "allergies"
                }
              ]
            }
          },
          {
            key: {
              text: "Conditions"
            },
            value: {
              html: "Asthma <br> Disabilities, including physical and learning disabilities"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <p>
        Your details with be sent to Rose Medical Practice to begin your registration.
      </p>

      <a href="/templates/confirmation-page" class="nhsuk-button">
        Accept and send registration
      </a>

    </div>
  </div>
{% endblock %}
