{% extends "nhsuk-frontend/layouts/prototype-page.njk" %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-card__content">

          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Application complete
          </h1>

          <p class="nhsuk-u-font-size-24">
            Your reference number
            <br>
            <strong class="nhsuk-u-font-size-32">HDJ2123F</strong>
          </p>

        </div>

      </div>

      <p>We have sent you a confirmation email.</p>

      <h2>What happens next</h2>

      <p>Tell the user what happens next.</p>

      <p>Go back to <a href="/page-templates">page templates<a>.</p>

    </div>
  </div>
{% endblock %}
