{% set title = 'Epilepsy' %}
{% set parent = 'Conditions' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Epilepsy</h1>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
        <ol class="nhsuk-list-nav nhsuk-list-nav__two-column">
          <li><a href="/examples/epilepsy">Overview</a></li>
          <li><a href="/examples/epilepsy/symptoms">Symptoms</a></li>
          <li><a href="/examples/epilepsy/diagnosis">Diagnosis</a></li>
          <li><a href="/examples/epilepsy/treatment">Treatment</a></li>
          <li><a href="/examples/epilepsy/living-with">Living with</a></li>
        </ol>
      </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
      <li><a href="#overview">Diagnosis</a></li>
      <li><a href="#waiting-to-see-a-specialist">Waiting to see a specialist</a></li>
      <li><a href="#finding-out-about-your-seizures">Finding out about your seizures</a></li>
      <li><a href="#tests-for-epilepsy">Tests for epilepsy</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="overview">Diagnosis</h2>
    <p>If you have a seizure, your GP may refer you to a specialist to find out what caused it.</p>

    <p>You'll usually see a doctor called a neurologist. This is someone who's an expert in conditions that affect the brain and nerves.</p>

    <p>They'll want to find out more about your seizure and may suggest having some tests.</p>

    <h2 id="waiting-to-see-a-specialist">Waiting to see a specialist</h2>

    <p>You should see a specialist within two weeks of being referred.</p>

    <p>There's a&nbsp;chance you could have another seizure while waiting for your appointment, so during this time&nbsp;it's best to avoid&nbsp;activities that could put you or others in danger if you were to have a seizure.</p>

    <p>For example, you should avoid driving and swimming until you've&nbsp;seen a specialist.</p>

    <p>Contact your GP for advice if you have another seizure while waiting for your appointment.</p>

    <h2 id="finding-out-about-your-seizures">Finding out about&nbsp;your seizures</h2>

    <p>It can be hard to diagnose epilepsy quickly because other conditions, such as <a href="/conditions/Fainting/Pages/Introduction.aspx">fainting</a>, <a href="/conditions/Migraine/Pages/Introduction.aspx">migraines</a> and <a href="/conditions/panic-disorder/pages/introduction.aspx">panic attacks</a>, can cause similar symptoms.&nbsp;It often can't be confirmed until you've had more than one seizure.</p>

    <p>It'll&nbsp;help your specialist if&nbsp;you can&nbsp;describe what you remember about your seizure in as much detail as possible, including things like:</p>

    <ul>
    <li>when you had&nbsp;the seizure </li>
    <li>what you were doing when it happened </li>
    <li>how you felt before, during&nbsp;and&nbsp;afterwards </li>
    </ul>

    <p>It may help to write some notes before your appointment and bring them with you.</p>

    <p>It can also be very useful to bring&nbsp;along&nbsp;someone who's seen you have a seizure, or to bring a video recording of you having seizure if possible.</p>

    <h2 id="tests-for-epilepsy">Tests for epilepsy</h2>

    <p>Your specialist may suggest having a test to check your brain activity called an&nbsp;electroencephalogram&nbsp;(EEG) or a brain scan to&nbsp;look for any problem&nbsp;in your brain.</p>

    <p>But if these tests don't show anything, it's still possible you have epilepsy, and you may be diagnosed just&nbsp;based on your symptoms.</p>

    <h3>Checking&nbsp;your brain activity (EEG)</h3>

    <p>An&nbsp;electroencephalogram (EEG)&nbsp;is used to check for unusual electrical activity in the brain that can&nbsp;happen in people&nbsp;with epilepsy.</p>

    <p>During the test, small sensors are attached to&nbsp;your scalp to pick up the electrical signals produced when brain cells send messages to each other.</p>

    <p>These signals are recorded by a machine and are looked at to see if they're unusual.</p>

    <p>Read more about&nbsp;<a href="/conditions/eeg/pages/introduction.aspx">EEGs</a>.</p>

    <h3>Brain scan</h3>

    <p>A brain scan can help spot problems&nbsp;in your brain that can sometimes cause epilepsy.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Brain scans can spot:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>an unusual growth <a href="/Conditions/brain-tumours/Pages/Introduction.aspx">(brain tumour)</a></li>
          <li>damage to the brain, such as damage caused by a&nbsp;<a href="/Conditions/Stroke/Pages/Introduction.aspx">stroke</a></li>
          <li>scarring in the brain </li>
        </ul>
      </div>
    </div>

    <p>The main scan used is a&nbsp;magnetic resonance imaging (MRI) scan. This uses magnetic fields&nbsp;and radio waves to create an image of your brain.</p>

    <p>The scanner is a large tube that you lie inside.</p>

    <p>Read more about&nbsp;<a href="/conditions/mri-scan/pages/introduction.aspx">MRI scans</a>.</p>

    <p><strong>Want to know more?</strong></p>

    <ul>
    <li>Epilepsy Action:&nbsp;<a href="https://www.epilepsy.org.uk/info/diagnosis" title="External website">diagnosis</a></li>
    <li>Epilepsy Society:&nbsp;<a href="https://www.epilepsysociety.org.uk/diagnosing-epilepsy" title="External website">diagnosing epilepsy</a>&nbsp; </li>
    </ul>
{% endblock %}
