{% set title = 'Epilepsy' %}
{% set parent = 'Conditions' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Epilepsy</h1>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
        <ol class="nhsuk-list-nav nhsuk-list-nav__two-column">
          <li><a href="/examples/epilepsy">Overview</a></li>
          <li><a href="/examples/epilepsy/symptoms">Symptoms</a></li>
          <li><a href="/examples/epilepsy/diagnosis">Diagnosis</a></li>
          <li><a href="/examples/epilepsy/treatment">Treatment</a></li>
          <li><a href="/examples/epilepsy/living-with">Living with</a></li>
        </ol>
      </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
      <li><a href="#overview">Overview</a></li>
      <li><a href="#symptoms-of-epilepsy">Symptoms of epilepsy</a></li>
      <li><a href="#when-to-get-medical-help">When to get medical help</a></li>
      <li><a href="#treatments-for-epilepsy">Treatments for epilepsy</a></li>
      <li><a href="#living-with-epilepsy">Living with epilepsy</a></li>
      <li><a href="#causes-of-epilepsy">Causes of epilepsy</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2 id="overview">Overview</h2>
    <p>The main symptom of epilepsy is repeated seizures. These are sudden bursts of electrical activity in the brain that&nbsp;temporarily affect how it works.</p>

    <p>Seizures can affect people in different ways, depending on which part of the brain is involved.</p>

    <p>Some seizures cause the body to jerk and shake (a "fit"), while others cause&nbsp;problems like&nbsp;loss of awareness or unusual sensations. They typically pass in a few seconds or minutes.</p>

    <p>Seizures can occur when you're awake or asleep. Sometimes they can be triggered by something, such as feeling very tired.</p>

    <p>There's a separate page about <a href="/Livewell/Epilepsy/Pages/Ifyouseeaseizure.aspx">what to do if someone has a seizure</a>.</p>

    <h2 id="symptoms-of-epilepsy">Symptoms of epilepsy</h2>
    <p>Seizures can affect people in different ways, depending on which part of the brain is involved.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Possible symptoms include:</h4>
      </div>
      <div class="care-card-content">
          <ul>
          <li>uncontrollable jerking and shaking&nbsp;– called a "fit" </li>
          <li>losing awareness and&nbsp;staring blankly into space </li>
          <li>becoming stiff </li>
          <li>strange sensations&nbsp;– such as&nbsp;a "rising" feeling in the tummy, unusual smells or tastes, and a tingling feeling in your arms or legs </li>
          <li>collapsing </li>
        </ul>
      </div>
    </div>

    <p>Sometimes you might pass out and not remember what happened.</p>

    <p>Read more about the <a href="/Conditions/Epilepsy/Pages/Symptoms.aspx">symptoms of epilepsy</a>.</p>

    <h2 id="when-to-get-medical-help">When&nbsp;to get medical help</h2>

    <p>See your GP if you think you might have had a seizure for the first time. </p>

    <p>This doesn't mean&nbsp;you have epilepsy, as a seizure can have several causes and sometimes they're just a one-off, but&nbsp;you should see a doctor to find out why it happened.</p>

    <p>Read about the <a href="/Conditions/Epilepsy/Pages/Diagnosis.aspx">tests for epilepsy</a>&nbsp;you might have.</p>


    <div class="care-card red">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Call 999 for an ambulance&nbsp;if someone:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>is having a seizure for the first time </li>
          <li>has a seizure that lasts more than five minutes </li>
          <li>has lots of seizures in a row </li>
          <li>has breathing problems or&nbsp;has&nbsp;seriously injured themselves </li>
        </ul>
       <p>Read about <a href="/Livewell/Epilepsy/Pages/Ifyouseeaseizure.aspx">what to do if someone has a seizure</a>.</p>
      </div>
    </div>

    <h2 id="treatments-for-epilepsy">Treatments&nbsp;for epilepsy</h2>

    <p>Treatment can help most people with epilepsy have fewer seizures or stop having seizures completely.</p>

    <div class="care-card blue">
      <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Treatments include:</h4>
      </div>
      <div class="care-card-content">
        <ul>
          <li>medicines called anti-epileptic drugs&nbsp;– these are the main treatment </li>
          <li>surgery to remove a small part of the brain that's causing the seizures </li>
          <li>a procedure to put a small electrical device inside the body that can help control seizures </li>
          <li>a special diet (ketogenic diet) that can help control seizures </li>
        </ul>

        <p>Some people need treatment for life. But you might be able to stop treatment if your seizures disappear over time.</p>

        <p>Read more about <a href="/Conditions/Epilepsy/Pages/Treatment.aspx">treatments for epilepsy</a>.</p>
      </div>
    </div>

    <h2 id="living-with-epilepsy">Living&nbsp;with epilepsy</h2>

    <p>Epilepsy is usually a lifelong condition, but most people with it are able to have normal lives if their seizures are well controlled.</p>

    <p>Most&nbsp;children with epilepsy&nbsp;are able to go to a mainstream school, take part in most activities and sports, and get a job when they're older.</p>

    <p>But&nbsp;you may have to think about your epilepsy before you do things such as driving, certain jobs, swimming, using contraception and planning a pregnancy.</p>

    <p>Advice is available from your GP or support groups to help you adjust to life with epilepsy.</p>

    <p>Read more about <a href="/Conditions/Epilepsy/Pages/living-with.aspx">living with epilepsy</a>.</p>

    <h2 id="causes-of-epilepsy">Causes&nbsp;of epilepsy</h2>

    <p>In epilepsy, the electrical signals in the brain become scrambled and there&nbsp;are&nbsp;sometimes sudden bursts of electrical activity. This is what causes seizures.</p>

    <p>In most cases, it's not clear why this happens. It's possible it could be partly caused by your genes affecting how your brain works,&nbsp;as around&nbsp;one in&nbsp;three people with epilepsy have a family member with it.</p>

    <p>Occasionally,&nbsp;epilepsy can be&nbsp;caused by damage to the brain, such as damage from:</p>

    <ul>
      <li>a&nbsp;<a href="/conditions/Stroke/Pages/Introduction.aspx">stroke</a></li>
      <li>a&nbsp;<a href="/Conditions/brain-tumours/Pages/Introduction.aspx">brain tumour</a></li>
      <li>a&nbsp;<a href="/conditions/Head-injury-severe-/Pages/Introduction.aspx">severe head injury</a></li>
      <li><a href="/livewell/drugs/pages/drugshome.aspx">drug abuse</a>&nbsp;or&nbsp;<a href="/conditions/alcohol-misuse/pages/introduction.aspx">alcohol misuse</a></li>
      <li>a brain infection </li>
      <li>a lack of oxygen during birth</li>
    </ul>

{% endblock %}
