{% set title = 'About' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "NHS.UK frontend"
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="nhsuk-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/nhsuk/nhsuk-frontend/blob/master/CONTRIBUTING.md">contributing guidelines</a> on how to set up the project locally and contribute changes to NHS.UK frontend.</p>

    <h2>Get in touch</h2>
    <p>NHS.UK frontend is actively maintained by a team at NHS Digital, you can <a href="mailto:service-manual@nhs.net">email us</a> or get in touch on the <a href="https://join.slack.com/t/nhs-service-manual/shared_invite/enQtNTIyOTEyNjU3NDkyLTk4NDQ3YzkwYzk1Njk5YjAxYTI5YTVkZmUxMGQ0ZjA3NjMyM2ZkNjBlMWMxODVjZjYzNzg1ZmU4MWY1NmE2YzE">NHS digital service manual Slack workspace</a>.

  </div>

{% endblock %}
