{% set title = 'About' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "../",
        text: "NHS.UK frontend TEL"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="nhsuk-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/TechnologyEnhancedLearning/nhsuk-frontend-tel/blob/master/CONTRIBUTING.md">contributing guidelines</a> on how to set up the project locally and contribute changes to NHS.UK frontend TEL.</p>

    <h2>Get in touch</h2>
    <p>NHS.UK frontend TEL is actively maintained by a team at NHS England, you can <a href="mailto:support@learninghub.nhs.uk">email us</a>.</p>

  </div>

{% endblock %}
