{% set title = 'Examples' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "NHS.UK frontend"
  }) }}
{% endblock %}

{% block content %}

  <h1>Examples</h1>

  <h2>Components</h2>
  <ul class="nhsuk-list">
    <li><a href="../components/action-link/index.html">Action link</a></li>
    <li><a href="../components/back-link/index.html">Back link</a></li>
    <li><a href="../components/breadcrumb/index.html">Breadcrumb</a></li>
    <li><a href="../components/button/index.html">Button</a></li>
    <li><a href="../components/button/link.html">Button as a link</a></li>
    <li><a href="../components/button/disabled.html">Button disabled</a></li>
    <li><a href="../components/button/secondary.html">Button secondary</a></li>
    <li><a href="../components/button/reverse.html">Button reverse</a></li>
    <li><a href="../components/card/basic-card.html">Card - Basic card</a></li>
    <li><a href="../components/card/clickable-card.html">Card - Clickable card</a></li>
    <li><a href="../components/card/card-with-image.html">Card - Card with an image</a></li>
    <li><a href="../components/card/card-group.html">Card - Card group</a></li>
    <li><a href="../components/card/feature-card.html">Card - Feature card</a></li>
    <li><a href="../components/card/care-card-non-urgent.html">Card - Care card non-urgent (blue)</a></li>
    <li><a href="../components/card/care-card-urgent.html">Card - Care card urgent (red)</a></li>
    <li><a href="../components/card/care-card-emergency.html">Card - Care card emergency (red and black)</a></li>
    <li><a href="../components/checkboxes/index.html">Checkboxes</a></li>
    <li><a href="../components/checkboxes/hint.html">Checkboxes with hint text</a></li>
    <li><a href="../components/checkboxes/disabled.html">Checkboxes with disabled item</a></li>
    <li><a href="../components/checkboxes/page-heading.html">Checkboxes with legend as page heading</a></li>
    <li><a href="../components/checkboxes/error.html">Checkboxes with error message</a></li>
    <li><a href="../components/checkboxes/conditional.html">Checkboxes with conditional content</a></li>
    <li><a href="../components/checkboxes/none-of-the-above.html">Checkboxes with "none of the above" option</a></li>
    <li><a href="../components/contents-list/index.html">Contents list</a></li>
    <li><a href="../components/date-input/index.html">Date input</a></li>
    <li><a href="../components/date-input/autocomplete.html">Date input with autocomplete attribute</a></li>
    <li><a href="../components/date-input/error.html">Date input with error</a></li>
    <li><a href="../components/date-input/multiple-errors.html">Date input with multiple errors</a></li>
    <li><a href="../components/details/index.html">Details</a></li>
    <li><a href="../components/do-dont-list/index.html">Do and Don't list</a></li>
    <li><a href="../components/error-message/index.html">Error message</a></li>
    <li><a href="../components/error-summary/index.html">Error summary</a></li>
    <li><a href="../components/error-summary/linking-to-input.html">Error summary with link to an input field</a></li>
    <li><a href="../components/error-summary/linking-to-radios.html">Error summary with link to a radio field</a></li>
    <li><a href="../components/details/expander.html">Expander</a></li>
    <li><a href="../components/details/expander-group.html">Expander group</a></li>
    <li><a href="../components/fieldset/index.html">Fieldset</a></li>
    <li><a href="../components/fieldset/page-heading.html">Fieldset as page heading</a></li>
    <li><a href="../components/fieldset/with-inputs.html">Fieldset with inputs</a></li>
    <li><a href="../components/footer/index.html">Footer</a></li>
    <li><a href="../components/header/index.html">Header</a></li>
    <li><a href="../components/header/header-navigation.html">Header with navigation</a></li>
    <li><a href="../components/header/header-search.html">Header with search</a></li>
    <li><a href="../components/header/header-logo.html">Header with logo only</a></li>
    <li><a href="../components/header/header-service-name.html">Header with a service name</a></li>
    <li><a href="../components/header/header-service-name-with-nav.html">Header with a service name, search and navigation</a></li>
    <li><a href="../components/header/header-transactional.html">Header transactional</a></li>
    <li><a href="../components/header/header-transactional-service-name.html">Header transactional with service name</a></li>
    <li><a href="../components/header/header-org.html">Header organisational</a></li>
    <li><a href="../components/header/header-org-white.html">Header organisational with white header</a></li>
    <li><a href="../components/header/header-org-white-nav.html">Header organisational with white header and navigation</a></li>
    <li><a href="../components/hero/index.html">Hero</a></li>
    <li><a href="../components/hero/hero-image.html">Hero with image</a></li>
    <li><a href="../components/hero/hero-image-content.html">Hero with image with content</a></li>
    <li><a href="../components/hint/index.html">Hint</a></li>
    <li><a href="../components/images/index.html">Images</a></li>
    <li><a href="../components/input/index.html">Input</a></li>
    <li><a href="../components/input/autocomplete.html">Input with autocomplete attribute</a></li>
    <li><a href="../components/input/hint.html">Input with hint text</a></li>
    <li><a href="../components/input/error.html">Input with error message</a></li>
    <li><a href="../components/input/custom-width.html">Input with width modifier</a></li>
    <li><a href="../components/inset-text/index.html">Inset text</a></li>
    <li><a href="../components/label/index.html">Label</a></li>
    <li><a href="../components/label/bold.html">Label with bold text</a></li>
    <li><a href="../components/label/page-heading.html">Label as page heading</a></li>
    <li><a href="../components/pagination/index.html">Pagination</a></li>
    <li><a href="../components/radios/index.html">Radios</a></li>
    <li><a href="../components/radios/inline.html">Radios inline</a></li>
    <li><a href="../components/radios/disabled.html">Radios disabled</a></li>
    <li><a href="../components/radios/divider.html">Radios with a divider</a></li>
    <li><a href="../components/radios/hint.html">Radios with hint text</a></li>
    <li><a href="../components/radios/without-fieldset.html">Radios without fieldset</a></li>
    <li><a href="../components/radios/hint-error.html">Radios with hint text and error message</a></li>
    <li><a href="../components/radios/conditional.html">Radios with conditional content</a></li>
    <li><a href="../components/radios/nested-conditionals.html">Radios with nested conditional radios</a></li>
    <li><a href="../components/select/index.html">Select</a></li>
    <li><a href="../components/select/hint-error.html">Select with hint text and error message</a></li>
    <li><a href="../components/skip-link/index.html">Skip link</a></li>
    <li><a href="../components/summary-list/index.html">Summary list</a></li>
    <li><a href="../components/summary-list/without-actions.html">Summary list without actions</a></li>
    <li><a href="../components/summary-list/without-border.html">Summary list without border</a></li>
    <li><a href="../components/tables/index.html">Table</a></li>
    <li><a href="../components/tables/responsive-table.html">Responsive table</a></li>
    <li><a href="../components/tables/tables-panel.html">Table as a panel</a></li>
    <li><a href="../components/tag/index.html">Tag</a></li>
    <li><a href="../components/textarea/index.html">Textarea</a></li>
    <li><a href="../components/textarea/autocomplete.html">Textarea with autocomplete attribute</a></li>
    <li><a href="../components/textarea/error.html">Textarea with error message</a></li>
    <li><a href="../components/warning-callout/index.html">Warning callout</a></li>
    <li><a href="../components/warning-callout/custom-heading.html">Warning callout with custom heading</a></li>
  </ul>
{% endblock %}
