{% set title = 'Install' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "NHS.UK frontend"
  }) }}
{% endblock %}

{% block content %}

  <h1>Install</h1>

  <div class="nhsuk-u-reading-width">

    <p>There are 2 ways you can start using NHS.UK frontend in your websites and services.</p>

    <h2>1. Install with package managers (recommended)</h2>
    <p>We recommend installing NHS.UK frontend via package managers; node package manager (npm), yarn, or the Python Package Index (PyPi).</p>

    <ul>
      <li><a href="https://github.com/nhsuk/nhsuk-frontend/blob/master/docs/installation/installing-with-npm.md">Installing using npm</a></li>
    </ul>

    <h2>2. Install by using compiled files</h2>
    <p>If you are not using one of the above package managers, you can install by using our compiled files.</p>

    <ul>
      <li><a href="https://github.com/nhsuk/nhsuk-frontend/blob/master/docs/installation/installing-compiled.md">Installing using compiled files</a></li>
    </ul>

  </div>

{% endblock %}
