


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="background-color: #f0f4f5;"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - Care card non-urgent (blue)</title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

<div class="nhsuk-width-container">
  <main id="maincontent" class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        
<div class="nhsuk-care-card nhsuk-care-card--non-urgent" >
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
  
          <ul>
            <li>you're not sure it's chickenpox</li>
            <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
            <li>your child is <a href="https://www.nhs.uk/">dehydrated</a></li>
            <li>you're concerned about your child or they get worse</li>
          </ul>
          <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
          
  </div>
</div>

      </div>
    </div>

  </main>
</div>



      
  </body>
</html>
