


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - Form elements</title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <!-- Header -->
  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a href="/" class="nhsuk-header__link " aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image xlink:href="" src="https://assets.nhs.uk/images/nhs-logo-white.png"></image>
        </svg>
        
      </a>
    </div>

    

      

    </div>

    

    

    

    

</header>


  <!-- Skip link -->
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>



      
  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper ">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  <!-- Back link -->
  <div class="nhsuk-back-link">
  <a href="#" class="nhsuk-back-link__link">
  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  </svg>
  Back</a>
</div>


  <!-- Checkboxes -->
  





  

  

  
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="nationality-hint">
  
  <legend class="nhsuk-fieldset__legend">
    What is your nationality?
  </legend>
  

  <span id="nationality-hint" class="nhsuk-hint">
    If you have dual nationality, select all options that are relevant to you.
  </span>


  <div class="nhsuk-checkboxes">
    
    
    
    
    
    
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
        British
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-2">
        Irish
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-3">
        Citizen of another country
      </label>
    </div>
    
    
  </div>
  </fieldset>


</div>


  <!-- Date input -->
  




  


<div class="nhsuk-form-group">
<fieldset class="nhsuk-fieldset" aria-describedby="dob-hint" role="group">
  
  <legend class="nhsuk-fieldset__legend">
    What is your date of birth?
  </legend>
  

  <span id="dob-hint" class="nhsuk-hint">
    For example, 31 3 1980
  </span>


  <div class="nhsuk-date-input" id="dob">
    
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
          Day
        </label>
      
      
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
      </div>
    </div>
  
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
          Month
        </label>
      
      
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
      </div>
    </div>
  
    <div class="nhsuk-date-input__item">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
          Year
        </label>
      
      
        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
      </div>
    </div>
  
  </div>
  </fieldset>


</div>


  <!-- Error message -->
  <span class="nhsuk-error-message">
  Error message about full name goes here
</span>


  <!-- Error summary -->
  <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    Message to alert the user to a problem goes here
  </h2>
  <div class="nhsuk-error-summary__body">
    
    <p>
      Optional description of the errors and how to correct them
    </p>
    
    <ul class="nhsuk-list nhsuk-error-summary__list">
    
      <li>
      
        <a href="#example-error-1">Descriptive link to the question with an error</a>
      
      </li>
    
      <li>
      
        <a href="#example-error-1">Descriptive link to the question with an error</a>
      
      </li>
    
    </ul>
  </div>
</div>


  <!-- Fieldset -->
  <fieldset class="nhsuk-fieldset">
  
  <legend class="nhsuk-fieldset__legend">
    What is your address?
  </legend>
  
</fieldset>


  <!-- Label -->
  




<label class="nhsuk-label">
  National Insurance number
</label>





  <!-- Hint -->
  <span class="nhsuk-hint">
  It’s on your National Insurance card, benefit letter, payslip or P60.
For example, ‘QQ 12 34 56 C’.

</span>


  <!-- Input -->
  

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="input-example">
    National Insurance number
  </label>


  <input class="nhsuk-input" id="input-example" name="test-name" type="text">
</div>


  <!-- Button -->
  

<button type="submit" class="nhsuk-button">
  Continue
</button>


  <!-- Radios -->
  





  

  
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
  
  <legend class="nhsuk-fieldset__legend">
    Have you changed your name?
  </legend>
  

  <span id="example-hint" class="nhsuk-hint">
    This includes changing your last name or spelling your name differently.
  </span>


  <div class="nhsuk-radios">
    
    
    
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
      <label class="nhsuk-label nhsuk-radios__label" for="example-1">
        Yes
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no" checked>
      <label class="nhsuk-label nhsuk-radios__label" for="example-2">
        No
      </label>
    </div>
    
    
    
  </div>
  </fieldset>


</div>


  <!-- Select -->
  

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Label text goes here
  </label>


  <select class="nhsuk-select" id="select-1" name="select-1">
  
    <option value="1">NHS.UK Frontend option 1</option>
  
    <option value="2" selected>NHS.UK Frontend option 2</option>
  
    <option value="3" disabled>NHS.UK Frontend option 3</option>
  
  </select>
</div>


  <!-- Textarea -->
  

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="more-detail">
    Can you provide more detail?
  </label>

  
  
  <span id="more-detail-hint" class="nhsuk-hint">
    Don&#39;t include personal or financial information, eg your National Insurance number or credit card details.
  </span>


  <textarea class="nhsuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/about-us/sitemap/">Sitemap</a></li>
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/our-policies/">Our policies</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</li>
    </div>
  </div>
</footer>



  </body>
</html>
