


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="background-color: #f0f4f5;"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK Frontend - List panel</title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
<div class="nhsuk-list-panel">
  
  <h2 class="nhsuk-list-panel__label" id="A">A</h2>
  
  
  <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label ">
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/abdominal-aortic-aneurysm/">AAA</a>
    </li>
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/abdominal-aortic-aneurysm/">Abdominal aortic aneurysm</a>
    </li>
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/abscess/">Abscess</a>
    </li>
    
  </ul>
  
  
  <div class="nhsuk-back-to-top">
    <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
      </svg>
      Back to top
    </a>
  </div>
  
</div>


          
<div class="nhsuk-list-panel">
  
  <h2 class="nhsuk-list-panel__label" id="B">B</h2>
  
  
  <div class="nhsuk-list-panel__box nhsuk-list-panel__box--with-label ">
    <p class="nhsuk-list-panel--results-items__no-results">There are currently no conditions listed</p>
  </div>
  
  
  <div class="nhsuk-back-to-top">
    <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
      </svg>
      Back to top
    </a>
  </div>
  
</div>


          
<div class="nhsuk-list-panel">
  
  <h2 class="nhsuk-list-panel__label" id="C">C</h2>
  
  
  <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label ">
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/chest-pain/">Chest pain</a>
    </li>
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/cold-sores/">Cold sore</a>
    </li>
    
  </ul>
  
  
  <div class="nhsuk-back-to-top">
    <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
      </svg>
      Back to top
    </a>
  </div>
  
</div>


          
<div class="nhsuk-list-panel">
  
  <h2 class="nhsuk-list-panel__label" id="D">D</h2>
  
  
  <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label ">
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/dandruff/">Dandruff</a>
    </li>
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/dementia/">Dementia</a>
    </li>
    
    <li class="nhsuk-list-panel__item">
      <a class="nhsuk-list-panel__link" href="/conditions/toothache/">Dental pain</a>
    </li>
    
  </ul>
  
  
  <div class="nhsuk-back-to-top">
    <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
      </svg>
      Back to top
    </a>
  </div>
  
</div>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
