{% from "nhsuk/components/error-message/macro.njk" import errorMessage -%}
{% from "nhsuk/components/fieldset/macro.njk" import fieldset %}
{% from "nhsuk/components/hint/macro.njk" import hint %}
{% from "nhsuk/components/input/macro.njk" import input %}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-date-input" -%}
{%- set classNamesFormGroup = "nhsuk-form-group" -%}

{%- if params.errorMessage %}
  {% set classNamesFormGroup = classNamesFormGroup ~ " nhsuk-form-group--error" %}
{% endif %}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif %}

{%- if params.formGroup.classes %}
  {% set classNamesFormGroup = classNamesFormGroup ~ " " ~ params.formGroup.classes %}
{% endif %}

{#- a record of other elements that we need to associate with the input using
  aria-describedby – for example hints or error messages -#}
{% set describedBy = params.fieldset.describedBy if params.fieldset.describedBy else "" %}

{#- fieldset is false by default -#}
{% set hasFieldset = true if params.fieldset else false %}

{%- set dateInputDay = params.day | default({
  name: "day",
  value: params.values.day,
  width: 2
}) -%}

{%- set dateInputMonth = params.month | default({
  name: "month",
  value: params.values.month,
  width: 2
}) -%}

{%- set dateInputYear = params.year | default({
  name: "year",
  value: params.values.year,
  width: 4
}) -%}

{%- if params.items | length %}
  {% set dateInputItems = params.items %}
{% else %}
  {% set dateInputItems = [
    dateInputDay,
    dateInputMonth,
    dateInputYear
  ] %}
{% endif %}

{%- macro _dateInputItem(params, item) %}
{% set itemName = item.name %}
{% set itemValue = item.value %}
{% set itemWidth = item.width | default(2) %}
{% set itemLabel = item.label if item.label is mapping and item.label is not escaped else {
  text: item.label if item.label is string else undefined,
  html: item.label if item.label is escaped else undefined
} %}

{%- if item is sameas(dateInputDay) or (item.name and item.name in ["day", dateInputDay.name]) %}
  {% set itemName = item.name | default("day") %}
  {% set itemValue = item.value | default(dateInputDay.value) %}
{% elif item is sameas(dateInputMonth) or (item.name and item.name in ["month", dateInputMonth.name]) %}
  {% set itemName = item.name | default("month") %}
  {% set itemValue = item.value | default(dateInputMonth.value) %}
{% elif item is sameas(dateInputYear) or (item.name and item.name in ["year", dateInputYear.name]) %}
  {% set itemName = item.name | default("year") %}
  {% set itemValue = item.value | default(dateInputYear.value) %}
  {% set itemWidth = item.width | default(4) %}
{% endif -%}

<div class="nhsuk-date-input__item">
  {{ input({
    label: {
      html: itemLabel.html,
      text: itemLabel.text | default(itemName | capitalize),
      id: itemLabel.id,
      classes: "nhsuk-date-input__label" ~ (" " ~ itemLabel.classes if itemLabel.classes),
      attributes: itemLabel.attributes,
      for: itemLabel.for
    },
    id: item.id if item.id else (params.id ~ "-" ~ itemName),
    classes: ("nhsuk-input--error " if item.error) ~ "nhsuk-date-input__input" ~ (" " ~ item.classes if item.classes),
    name: (params.namePrefix ~ "[" ~ itemName ~ "]") if params.namePrefix else itemName,
    value: itemValue | default(params.values[itemName]),
    width: itemWidth,
    type: "text",
    inputmode: item.inputmode if item.inputmode else "numeric",
    autocomplete: item.autocomplete,
    pattern: item.pattern,
    attributes: item.attributes
  }) | trim | indent(2) }}
</div>
{%- endmacro -%}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
{% if params.hint %}
  {% set hintId = params.id ~ "-hint" %}
  {% set describedBy = (describedBy ~ " " ~ hintId) | trim %}
  {{ hint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | trim | indent(2) }}
{% endif %}
{% if params.errorMessage %}
  {% set errorId = params.id ~ "-error" %}
  {% set describedBy = (describedBy ~ " " ~ errorId) | trim %}
  {{ errorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | trim | indent(2) }}
{% endif %}
  <div class="{{ classNames }}" {%- if params.id %} id="{{ params.id }}"{% endif %} {{- nhsukAttributes(params.attributes) -}}>
    {% if params.formGroup.beforeInputs %}
    {{ params.formGroup.beforeInputs.html | safe | trim | indent(4) if params.formGroup.beforeInputs.html else params.formGroup.beforeInputs.text }}
    {% endif %}
    {% for item in dateInputItems %}
      {% if item %}
        {{- _dateInputItem(params, item) | trim | indent(4, true) }}
      {% endif %}
    {% endfor %}
    {% if params.formGroup.afterInputs %}
    {{ params.formGroup.afterInputs.html | safe | trim | indent(4) if params.formGroup.afterInputs.html else params.formGroup.afterInputs.text }}
    {% endif %}
  </div>
{% endset -%}

<div class="{{ classNamesFormGroup }}" {{- nhsukAttributes(params.formGroup.attributes) }}>
{% if hasFieldset %}
  {# We override the fieldset's role to 'group' because otherwise JAWS does not
    announce the description for a fieldset comprised of text inputs, but
    adding the role to the fieldset always makes the output overly verbose for
    radio buttons or checkboxes. -#}
  {{ fieldset({
    describedBy: describedBy,
    classes: params.fieldset.classes,
    role: "group",
    attributes: params.fieldset.attributes,
    legend: params.fieldset.legend,
    html: innerHtml | trim
  }) | trim | indent(2) }}
{% else %}
  {{ innerHtml | safe | trim }}
{% endif %}
</div>
