@use "sass:math";
@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Pagination component
///
/// 1. Padding to give the icon spacing.
/// 2. Append the word 'page' after next and
///    previous on print stylesheets to make it easier
///    to understand in print context.
///
/// @group components
////

$_icon-size: nhsuk-em($nhsuk-icon-size, 26px);

.nhsuk-pagination {
  @include nhsuk-responsive-margin(7, "top");
  @include nhsuk-responsive-margin(7, "bottom");
}

.nhsuk-pagination__list {
  @include nhsuk-clearfix;
}

.nhsuk-pagination-item--previous {
  float: left;
  text-align: left;
  width: 50%;

  .nhsuk-icon {
    left: nhsuk-px-to-rem(-6px);
  }

  .nhsuk-pagination__title {
    padding-left: $_icon-size; // [1]
  }
}

.nhsuk-pagination-item--next {
  float: right;
  text-align: right;
  width: 50%;

  .nhsuk-icon {
    right: nhsuk-px-to-rem(-6px);
  }

  .nhsuk-pagination__title {
    padding-right: $_icon-size; // [1]
  }
}

.nhsuk-pagination__link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  @include nhsuk-font-size(26);
  @include nhsuk-print-colour($nhsuk-print-text-colour);

  .nhsuk-icon {
    position: absolute;
    top: 0;
    height: $_icon-size;
    width: $_icon-size;
  }
}

.nhsuk-pagination__title {
  display: block;

  @include nhsuk-media-query($media-type: print) {
    &::after {
      content: " page"; // [2]
    }
  }
}

.nhsuk-pagination__page {
  display: block;
  text-decoration: underline;

  @include nhsuk-font-size(16);

  .nhsuk-pagination__link:hover &,
  .nhsuk-pagination__link:focus & {
    text-decoration: none;
  }
}
