@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;
@forward "../../core/styles/icons";

////
/// Pagination component
///
/// @group components/pagination
////

@include nhsuk-exports("nhsuk/components/pagination") {
  $_icon-margin: nhsuk-px-to-rem(nhsuk-spacing(2));
  $_icon-size: nhsuk-px-to-rem($nhsuk-icon-size);

  // Flexbox enhancement for small screen visual design
  // Falls back to a float: left layout on non-flex browsers
  .nhsuk-pagination {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @include nhsuk-responsive-margin(6, "bottom");

    @include nhsuk-media-query($from: tablet) {
      flex-direction: row;
      align-items: flex-start;
    }

    .nhsuk-icon {
      width: $_icon-size;
      height: $_icon-size;
      color: $nhsuk-secondary-text-colour;
      fill: currentcolor;
      forced-color-adjust: auto;
    }

    .nhsuk-icon--arrow-left {
      margin-right: $_icon-margin;
    }

    .nhsuk-icon--arrow-right {
      margin-left: $_icon-margin;
    }
  }

  .nhsuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nhsuk-pagination__item,
  .nhsuk-pagination__next,
  .nhsuk-pagination__prev {
    box-sizing: border-box;

    position: relative;

    min-width: nhsuk-px-to-rem(45px);
    min-height: nhsuk-px-to-rem(45px);
    padding: nhsuk-spacing(2);

    float: left; // Float is ignored if flex is active for prev/next links

    @include nhsuk-font(19);

    &:hover {
      background-color: nhsuk-colour("grey-4");
    }
  }

  .nhsuk-pagination__item {
    // Hide items on small screens except the prev/next items,
    // non-link items and the first and last items
    display: none;

    // Center align pagination links in their parent list item so that they
    // visually sit in the middle of their touch area
    text-align: center;

    @include nhsuk-media-query($from: tablet) {
      display: block;
    }
  }

  .nhsuk-pagination__prev,
  .nhsuk-pagination__next {
    @include nhsuk-typography-weight-bold;

    // Use flex to avoid extra space being introduced when whitespace exists
    // between the arrow svg and the link text
    .nhsuk-pagination__link {
      display: flex;
      align-items: center;
    }
  }

  .nhsuk-pagination__prev {
    padding-left: 0;
  }

  .nhsuk-pagination__next {
    padding-right: 0;
  }

  // Only show first, last and non-link items on mobile
  .nhsuk-pagination__item--current,
  .nhsuk-pagination__item--ellipsis,
  .nhsuk-pagination__item:first-child,
  .nhsuk-pagination__item:last-child {
    display: block;
  }

  .nhsuk-pagination__item--current {
    outline: 1px solid transparent;
    background-color: $nhsuk-link-colour;

    @include nhsuk-typography-weight-bold;

    &:hover {
      background-color: $nhsuk-link-colour;
    }

    .nhsuk-pagination__link {
      @include nhsuk-link-style-reverse;
    }
  }

  .nhsuk-pagination__item--ellipsis {
    color: $nhsuk-secondary-text-colour;

    @include nhsuk-typography-weight-bold;

    // Remove hover state for ellipsis items as they don't contain links
    &:hover {
      background-color: transparent;
    }
  }

  .nhsuk-pagination__link {
    display: block;
    min-width: nhsuk-spacing(3);

    // Increase the touch area for the link to the parent element.
    @media screen {
      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    // Add link hover decoration to prev/next text if no label present on
    // prev/next only mode, so that we have a hover state in all cases
    &:hover,
    &:active {
      .nhsuk-pagination__link-title--decorated {
        @include nhsuk-link-decoration;
      }

      .nhsuk-pagination__link-label,
      .nhsuk-pagination__link-title--decorated {
        @include nhsuk-link-hover-decoration;
      }
    }

    &:focus {
      .nhsuk-icon {
        color: $nhsuk-focus-text-colour;
      }

      .nhsuk-pagination__link-label {
        text-decoration: none;
      }

      .nhsuk-pagination__link-title--decorated {
        text-decoration: none;
      }
    }
  }

  .nhsuk-pagination__link-title {
    text-decoration-thickness: inherit;
  }

  .nhsuk-pagination__link-label {
    display: inline-block;

    @include nhsuk-typography-weight-normal;
    @include nhsuk-link-decoration;
  }

  // Block mode - position previous and next links above and below numbers
  .nhsuk-pagination--block {
    display: block;

    .nhsuk-pagination__next,
    .nhsuk-pagination__prev {
      padding-left: 0;
      float: none;

      .nhsuk-pagination__link {
        display: inline-block;
      }
    }

    .nhsuk-pagination__next {
      padding-right: nhsuk-spacing(3);
    }

    // Only apply a border between prev and next if both are present
    .nhsuk-pagination__prev + .nhsuk-pagination__next {
      border-top: 1px solid $nhsuk-border-colour;
    }

    // Set the after pseudo element to a block which makes the title visually
    // display as block level whilst programmatically being inline. We do this
    // to get around an NVDA quirk where adjacent block level elements are
    // always read out separately
    .nhsuk-pagination__link-title::after {
      content: "";
      display: block;
    }

    .nhsuk-pagination__link {
      padding-left: calc($_icon-size + $_icon-margin);
      text-align: left;

      &:not(:focus) {
        text-decoration: none;
      }
    }

    .nhsuk-icon {
      // This magic number is brought to you by the following equation:
      // ((lineHeight − arrowHeight) ÷ 2) ÷ fontSize
      // ((28 − 24) ÷ 2) ÷ 19 = 0.1053em
      //
      // This could have been done programmatically but we don't have functions
      // for grabbing the line-height of specific typography sizes just yet.
      margin-top: 0.1053em;
      margin-left: #{($_icon-size + $_icon-margin) * -1};
      float: left;
    }
  }
}
