{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "nhsuk/macros/i18n.njk" import nhsukI18nAttributes %}
{% from "nhsuk/components/card/macro.njk" import card %}
{% from "nhsuk/macros/icon.njk" import nhsukIcon %}

{#- Set variant for this component #}
{%- set variant = params.variant -%}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-table" -%}
{%- set classNamesCaption = "nhsuk-table__caption" -%}

{%- if variant == "reverse" and (
  not params.classes or (
    not "nhsuk-table--reverse" in params.classes and
    not "nhsuk-table-responsive--reverse" in params.classes
  )
) %}
  {% set classNames = classNames ~ " nhsuk-table--" ~ variant %}
{% endif %}

{%- if params.compact and (not params.classes or not "nhsuk-table--compact" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--compact" %}
{% endif %}

{%- if params.responsive and (not params.classes or not "nhsuk-table--responsive" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--responsive" %}
{% endif %}

{%- set head = params.head | select("mapping") if params.head | length else [] %}
{%- set rows = params.rows | select("iterable") if params.rows | length else [] %}

{%- set isSortable = false %}

{#- Determine if the table is sortable #}
{% for item in head %}
  {% set isSortable = true if item.sortable else isSortable %}
{% endfor -%}

{%- if isSortable and (not params.classes or not "nhsuk-table--sortable" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--sortable" %}
{% endif %}

{%- if params.captionSize and
  params.captionSize in ["s", "m", "l", "xl"] and (
    not params.captionClasses or (
      not "nhsuk-table__caption--s" in params.captionClasses and
      not "nhsuk-table__caption--m" in params.captionClasses and
      not "nhsuk-table__caption--l" in params.captionClasses and
      not "nhsuk-table__caption--xl" in params.captionClasses
    )
  )
%}
  {% set classNamesCaption = classNamesCaption ~ " nhsuk-table__caption--" ~ params.captionSize %}
{% endif %}

{%- if params.classes or params.tableClasses %}
  {% set classNames = classNames ~ " " ~ (params.classes or params.tableClasses) %}
{% endif %}

{%- if params.captionClasses %}
  {% set classNamesCaption = classNamesCaption ~ " " ~ params.captionClasses %}
{% endif %}

{%- set captionDescriptionText = params.captionDescriptionText | default("Column headers are sortable") %}

{%- set attributesHtml %}
  {{- nhsukAttributes({
    class: classNames,
    id: {
      value: params.id,
      optional: true
    },
    "data-module": {
      value: "nhsuk-table" if "nhsuk-table--sortable" in classNames else false,
      optional: true
    }
  }) -}}

  {{- nhsukI18nAttributes({
    key: "sort-announcement",
    message: params.sortAnnouncementText
  }) -}}

  {{- nhsukI18nAttributes({
    key: "ascending",
    message: params.ascendingText
  }) -}}

  {{- nhsukI18nAttributes({
    key: "descending",
    message: params.descendingText
  }) -}}

  {{- nhsukAttributes({
    role: {
      value: "table" if params.responsive else false,
      optional: true
    }
  }) -}}

  {{- nhsukAttributes(params.attributes) -}}
{% endset %}

{%- macro _tableCell(item, parent) %}
{% set itemElement = item.element | lower if item.element else "td" -%}
{% set itemClassName = "nhsuk-table__header" if itemElement == "th" else "nhsuk-table__cell" -%}

<{{ itemElement }}
  {{- nhsukAttributes({
    class: itemClassName ~
      (" " ~ itemClassName ~ "--" ~ item.format if item.format) ~
      (" " ~ item.classes if item.classes),
    scope: {
      value: item.scope,
      optional: true
    },
    role: {
      value: item.role,
      optional: true
    },
    colspan: {
      value: item.colspan,
      optional: true
    },
    rowspan: {
      value: item.rowspan,
      optional: true
    }
  }) -}}

  {{- nhsukAttributes(item.attributes) }}>
{% set innerHtml %}
  {% if caller %}
    {{- caller() }}
  {% elif item.html %}
    {{- item.html | safe -}}
  {% elif item.text %}
    {{- item.text -}}
  {% endif %}
{% endset %}
{% if item.href %}
  <a href="{{ item.href }}">
    {{- innerHtml | safe | trim | indent(2) -}}
  </a>
{% else %}
  {{ innerHtml | safe | trim | indent(2) }}
{% endif %}
</{{ itemElement }}>
{% endmacro -%}

{%- set tableHtml -%}
<table {{- attributesHtml | safe }}>
{% if params.caption %}
  <caption class="{{ classNamesCaption }}">
  {% if "nhsuk-table--sortable" in classNames %}
    {{ params.caption }}<span class="nhsuk-u-visually-hidden"> ({{ captionDescriptionText }})</span>
  {% else %}
    {{ params.caption }}
  {% endif %}
  </caption>
{% endif %}
{% if head | length %}
  <thead class="nhsuk-table__head" {%- if params.responsive %} role="rowgroup"{% endif %}>
    <tr class="nhsuk-table__row" {%- if params.responsive %} role="row"{% endif %}>
    {% for item in head %}
      {{ _tableCell({
        text: item.text,
        html: item.html,
        href: item.href,
        format: item.format,
        scope: "col",
        role: "columnheader" if params.responsive else undefined,
        colspan: item.colspan,
        rowspan: item.rowspan,
        classes: item.classes,
        attributes: nhsukAttributes({
          "data-sort-next": {
            value: item.sortNext if item.sortable and item.sortNext else false,
            optional: true
          },
          "aria-sort": {
            value: item.sortNext if item.sortable and item.sortNext else
              ("none" if item.sortable else false),
            optional: true
          }
        }) ~ nhsukAttributes(item.attributes),
        element: "th"
      }, params) | trim | indent(6) }}
    {% endfor %}
    </tr>
  </thead>
{% endif %}
  <tbody class="nhsuk-table__body">
  {% for row in rows %}
    <tr class="nhsuk-table__row" {%- if params.responsive %} role="row"{% endif %}>
    {% for item in row | select("mapping") if row | length else [] %}
      {%- set innerHtml %}
        {%- if params.responsive and item.header -%}
          <span class="nhsuk-table-responsive__heading" aria-hidden="true">{{ item.header }} </span>
        {%- endif %}
        {% if params.responsive and item.html -%}
          <span>{{ item.html | safe | trim }}</span>
        {%- elif item.html %}
          {{- item.html | safe | trim -}}
        {% elif item.text %}
          {{- item.text | trim -}}
        {% endif %}
      {% endset %}

      {{- _tableCell({
        html: innerHtml,
        header: item.header,
        format: item.format,
        scope: "row" if loop.first and params.firstCellIsHeader else undefined,
        role: ("rowheader" if loop.first and params.firstCellIsHeader else "cell") if params.responsive else undefined,
        colspan: item.colspan,
        rowspan: item.rowspan,
        classes: item.classes,
        attributes: nhsukAttributes({
          "data-sort-value": {
            value: item.sortValue if item.sortValue else false,
            optional: true
          }
        }) ~ nhsukAttributes(item.attributes),
        element: "th" if loop.first and params.firstCellIsHeader else "td"
      }, params) | trim | indent(6, true) }}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- endset %}

{%- if params.card or params.panel -%}
  {% call card(params.card or {
    heading: params.heading,
    headingLevel: params.headingLevel | default(3),
    classes: params.panelClasses,
    variant: "feature"
  }) -%}
    {{ tableHtml | safe | trim | indent(4) }}
  {%- endcall %}
{%- else -%}
  {{ tableHtml | safe | trim }}
{% endif %}
