{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "nhsuk/macros/i18n.njk" import nhsukI18nAttributes %}
{% from "nhsuk/components/card/macro.njk" import card %}
{% from "nhsuk/components/heading/macro.njk" import heading %}
{% from "nhsuk/macros/icon.njk" import nhsukIcon %}

{#- Set variant for this component #}
{%- set variant = params.variant -%}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-table" -%}
{%- set classNamesCaption = "nhsuk-table__caption" -%}

{%- if variant == "reverse" and (
  not params.classes or (
    not "nhsuk-table--reverse" in params.classes and
    not "nhsuk-table-responsive--reverse" in params.classes
  )
) %}
  {% set classNames = classNames ~ " nhsuk-table--" ~ variant %}
{% endif %}

{%- if params.compact and (not params.classes or not "nhsuk-table--compact" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--compact" %}
{% endif %}

{%- if params.responsive and (not params.classes or not "nhsuk-table--responsive" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--responsive" %}
{% endif %}

{%- if params.border === false and not (params.classes and "nhsuk-table--no-border" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--no-border" %}
{% elif params.lastRowBorder === false and not (params.classes and "nhsuk-table--no-last-row-border" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--no-last-row-border" %}
{% endif %}

{%- set head = params.head | select("mapping") if params.head | length else [] %}
{%- set rows = params.rows | select("iterable") if params.rows | length else [] %}

{%- set isSortable = false %}
{%- set isSortableOnServer = false %}

{#- Determine if the table is sortable #}
{% for item in head %}
  {% set isSortable = true if item.sort else isSortable %}
  {% set isSortableOnServer = true if isSortable and item.href else isSortableOnServer %}
{% endfor -%}

{%- if isSortable and (not params.classes or not "nhsuk-table--sortable" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--sortable" %}
{% endif %}

{%- if params.striped and (not params.classes or not "nhsuk-table--striped" in params.classes) %}
  {% set classNames = classNames ~ " nhsuk-table--striped" %}
{% endif %}

{%- if params.classes or params.tableClasses %}
  {% set classNames = classNames ~ " " ~ (params.classes or params.tableClasses) %}
{% endif %}

{%- set captionId = params.captionId | default(params.id ~ "-caption" if params.scroll and params.id else undefined) | default(("table-" ~ params.caption | replace(" ", "-") | lower | truncate(40, true, "") ~ "-caption") if params.scroll and params.caption else undefined) -%}
{%- set captionDescriptionText = params.captionDescriptionText | default("Column headers are sortable" if "nhsuk-table--sortable" in classNames else undefined) %}

{%- set attributesHtml %}
  {{- nhsukAttributes({
    class: classNames,
    id: {
      value: params.id,
      optional: true
    },
    "data-module": {
      value: "nhsuk-table" if "nhsuk-table--sortable" in classNames and not isSortableOnServer else false,
      optional: true
    }
  }) -}}

  {{- nhsukI18nAttributes({
    key: "sort-announcement",
    message: params.sortAnnouncementText
  }) -}}

  {{- nhsukI18nAttributes({
    key: "ascending",
    message: params.ascendingText
  }) -}}

  {{- nhsukI18nAttributes({
    key: "descending",
    message: params.descendingText
  }) -}}

  {{- nhsukAttributes({
    role: {
      value: "table" if params.responsive else false,
      optional: true
    }
  }) -}}

  {{- nhsukAttributes(params.attributes) -}}
{% endset %}

{%- macro _tableValue(item) %}
  {%- set visuallyHiddenText = item.visuallyHiddenText -%}

  {%- if item.html or item.text %}
    {%- if visuallyHiddenText %}
      {% set visuallyHiddenText = " " ~ visuallyHiddenText %}
    {% endif %}

    {%- if item.html %}
      {{- item.html | safe -}}
    {% elif item.text %}
      {{- item.text -}}
    {% endif -%}
  {% endif %}

  {%- if visuallyHiddenText -%}
    <span class="nhsuk-u-visually-hidden">{{ visuallyHiddenText }}</span>
  {%- endif %}
{% endmacro -%}

{%- macro _tableCell(item, parent) %}
{%- set element = item.element | lower if item.element else "td" -%}
{%- set classNameCell = "nhsuk-table__header" if element == "th" else "nhsuk-table__cell" -%}
{%- set classNamesCell = classNameCell -%}

{%- if item.format == "numeric" and (not item.classes or not classNameCell ~ "--" ~ item.format in item.classes) %}
  {% set classNamesCell = classNamesCell ~ " " ~ classNameCell ~ "--" ~ item.format %}
{% endif %}

{%- if item.align and
  item.align in ["left", "centre", "right"] and (
    not item.classes or (
      not "nhsuk-u-text-align-left" in item.classes and
      not "nhsuk-u-text-align-centre" in item.classes and
      not "nhsuk-u-text-align-right" in item.classes
    )
  )
%}
  {% set classNamesCell = classNamesCell ~ " nhsuk-u-text-align-" ~ item.align %}
{% endif %}

{%- if item.width and (not item.classes or not "nhsuk-u-width-" ~ item.width in item.classes) %}
  {% set classNamesCell = classNamesCell ~ " nhsuk-u-width-" ~ item.width %}
{% endif %}

{%- if item.classes %}
  {% set classNamesCell = classNamesCell ~ " " ~ item.classes %}
{% endif -%}

<{{ element }}
  {{- nhsukAttributes({
    class: classNamesCell,
    scope: {
      value: item.scope,
      optional: true
    },
    role: {
      value: item.role,
      optional: true
    },
    colspan: {
      value: item.colspan,
      optional: true
    },
    rowspan: {
      value: item.rowspan,
      optional: true
    }
  }) -}}

  {{- nhsukAttributes(item.attributes) }}>
{% set header = head[parent.loop.index0] -%}

{% set isHeader = parent.items is sameas(head) -%}
{% set isResponsive = true if parent.params.responsive else false -%}

{% set innerHtml %}
  {% if item.href %}
    <a class="nhsuk-link" href="{{ item.href }}">
      {{- _tableValue(item) | safe | trim -}}
    </a>
  {% else %}
    {{- _tableValue(item) | safe | trim -}}
  {% endif %}
{% endset -%}

{% if isResponsive and not isHeader and (header or item.header) %}
  <span class="nhsuk-table__heading" aria-hidden="true">
    {{- _tableValue({
      text: header.text | default(item.header),
      html: header.html,
      visuallyHiddenText: header.visuallyHiddenText
    }) | safe | trim | indent(2) }} </span>

  {%- if item.html -%}
    <span>{{ innerHtml | safe | trim | indent(2) }}</span>
  {% else %}
    {{- innerHtml | safe | trim | indent(2) }}
  {% endif %}
{% else %}
  {{ innerHtml | safe | trim | indent(2) }}
{% endif %}
</{{ element }}>
{% endmacro -%}

{%- set tableHtml -%}
<table {{- attributesHtml | safe }}>
{% if params.caption %}
  {{ heading({
    text: params.caption,
    visuallyHiddenText: "(" ~ captionDescriptionText ~ ")" if captionDescriptionText else undefined,
    id: captionId,
    size: params.captionSize,
    sizes: ["s", "m", "l", "xl"],
    className: classNamesCaption,
    classPrefix: classNamesCaption ~ "--",
    classes: params.captionClasses,
    element: "caption"
  }) | trim | indent(2) }}
{% endif %}
{% if head | length %}
  <thead class="nhsuk-table__head" {%- if params.responsive %} role="rowgroup"{% endif %}>
    <tr class="nhsuk-table__row" {%- if params.responsive %} role="row"{% endif %}>
    {% for item in head %}
      {%- set sort = item.sort if item.sort is string else
        ("none" if item.sort == true else undefined) %}

      {%- set sortNext = item.sortNext if item.sortNext is string else undefined %}

      {{- _tableCell({
        text: item.text,
        html: item.html,
        visuallyHiddenText: item.visuallyHiddenText,
        format: item.format,
        href: item.href,
        scope: "col",
        role: "columnheader" if params.responsive else undefined,
        colspan: item.colspan if not params.responsive else undefined,
        rowspan: item.rowspan,
        align: item.align,
        width: item.width,
        classes: item.classes,
        attributes: nhsukAttributes({
          "data-sort": {
            value: true if sort and isSortable else false,
            optional: true
          },
          "data-sort-next": {
            value: sortNext if sortNext and isSortable and not isSortableOnServer else false,
            optional: true
          },
          "aria-sort": {
            value: sort if sort and sort != "none" and isSortable else false,
            optional: true
          }
        }) ~ nhsukAttributes(item.attributes),
        element: "th"
      }, {
        params: params,
        loop: loop,
        row: head
      }) | trim | indent(6, true) }}
    {% endfor %}
    </tr>
  </thead>
{% endif %}
  <tbody class="nhsuk-table__body">
  {% for row in rows %}
    <tr class="nhsuk-table__row" {%- if params.responsive %} role="row"{% endif %}>
    {% set items = row | select("mapping") if row | length else [] %}
    {% for item in items %}
      {%- set header = head[loop.index0] -%}

      {{- _tableCell({
        text: item.text,
        html: item.html,
        visuallyHiddenText: item.visuallyHiddenText,
        format: item.format | default(header.format),
        href: item.href,
        scope: "row" if loop.first and params.firstCellIsHeader else undefined,
        role: ("rowheader" if loop.first and params.firstCellIsHeader else "cell") if params.responsive else undefined,
        colspan: item.colspan if not params.responsive else undefined,
        rowspan: item.rowspan,
        align: item.align | default("right" if item.format == "string" and header.format == "numeric" else header.align),
        width: item.width,
        classes: item.classes,
        attributes: nhsukAttributes({
          "data-sort-value": {
            value: item.sortValue if item.sortValue else false,
            optional: true
          }
        }) ~ nhsukAttributes(item.attributes),
        element: "th" if loop.first and params.firstCellIsHeader else "td"
      }, {
        params: params,
        loop: loop,
        row: items
      }) | trim | indent(6, true) }}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- endset %}

{%- if params.card or params.panel %}
  {%- call card(params.card or {
    heading: params.heading,
    headingLevel: params.headingLevel | default(3),
    classes: params.panelClasses,
    variant: "feature"
  }) %}
    {{ tableHtml | safe | trim | indent(4) }}
  {%- endcall %}
{% elif params.scroll %}
<div class="nhsuk-table-wrapper">
  <div class="nhsuk-table-wrapper__container" role="region" {%- if captionId %} aria-labelledby="{{ captionId }}"{% endif %} tabindex="0">
    {{ tableHtml | safe | trim | indent(4) }}
  </div>
</div>
{% else %}
  {{- tableHtml | safe | trim }}
{% endif %}
