{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'A-Z List' %}
{% from 'components/a-z-list/macro.njk' import azList %}
{% extends 'includes/layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
      <main id="maincontent" class="nhsuk-main-wrapper">
          <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-page-content">
                        {{ azList() }}
                  </div>
              </div>
          </div>
      </main>
  </div>

{% endblock %}
