{% set title = 'Components - Banners' %}
{% set parent = 'Library' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/footer/macro.njk' import footer %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
  {{ cookieBanner() }}

  {{ emergencyAlert({
    "title": "National flu outbreak",
    "content": "There has been a national flu outbreak.",
    "emergencyURL": "#",
    "emergencyLabel": "How does it affect me",
    "lastUpdated": "Updated 23 mins ago"
  }) }}
{% endblock %}

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}

  {{ breadcrumb('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block heading %}
  <h1>Components - Banners</h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{ feedbackBanner({
    "title": "Help us make the NHS website better",
    "content": "Your feedback helps us improve the NHS website.",
    "feedbackURL": "#",
    "feedbackLabel": "Take our short survey"
  }) }}
{% endblock %}
