{% set title = 'Components - Banners' %}
{% set parent = 'Library' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/footer/macro.njk' import footer %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
  {{ emergencyAlert('National flu outbreak', 'There has been a national flu outbreak.', '#', 'How does it affect me', 'Updated 23 mins ago') }}
{% endblock %}

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}

  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block heading %}
  <h1>Components - Banners</h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}
