{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Details' %}
{% from 'components/details/macro.njk' import details %}
{% extends 'includes/layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ details({
          'heading': 'When to check your blood glucose level',
          'HTML': '<p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>'
        }) }}

        {{ details({
          'class': 'nhsuk-c-expander',
          'heading': 'Opening times',
          'HTML': '
          <table class="openingTimes">
            <tbody>
            <tr>
              <th><strong>Day of the week</strong></th>
              <th><strong>Opening hours</strong></th>
            </tr>
            <tr>
                  <th rowspan="1" align="left">Monday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Tuesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Wednesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Thursday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Friday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Saturday</th>
                  <td>9am to 1pm</td>
                </tr>
                <tr>
                <th align="left">Sunday</th>
                <td align="left">Closed</td>
              </tr>
            </tbody>
          </table>'
        }) }}

        <div class="nhsuk-c-expander-group">
                {{ details({
          'class': 'nhsuk-c-expander',
          'heading': 'Opening times',
          'HTML': '
          <table class="openingTimes">
            <tbody>
            <tr>
              <th><strong>Day of the week</strong></th>
              <th><strong>Opening hours</strong></th>
            </tr>
            <tr>
                  <th rowspan="1" align="left">Monday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Tuesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Wednesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Thursday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Friday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Saturday</th>
                  <td>9am to 1pm</td>
                </tr>
                <tr>
                <th align="left">Sunday</th>
                <td align="left">Closed</td>
              </tr>
            </tbody>
          </table>'
        }) }}
                {{ details({
          'class': 'nhsuk-c-expander',
          'heading': 'Opening times',
          'HTML': '
          <table class="openingTimes">
            <tbody>
            <tr>
              <th><strong>Day of the week</strong></th>
              <th><strong>Opening hours</strong></th>
            </tr>
            <tr>
                  <th rowspan="1" align="left">Monday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Tuesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Wednesday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Thursday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Friday</th>
                  <td>9am to 6pm</td>
                </tr>
                <tr>
                  <th rowspan="1" align="left">Saturday</th>
                  <td>9am to 1pm</td>
                </tr>
                <tr>
                <th align="left">Sunday</th>
                <td align="left">Closed</td>
              </tr>
            </tbody>
          </table>'
        }) }}
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}
