{% set title = 'Components' %}
{% set parent = 'Library' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/a-z-list/macro.njk' import azList %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/images/macro.njk' import image %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/pagination/macro.njk' import pagination %}
{% from 'components/panel/macro.njk' import panel %}
{% from 'components/promo/macro.njk' import promo, promoWithImage, promoNoDescription %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/tables/macro.njk' import table %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        URL: "https://www.nhs.uk/",
        label: "Home"
      },
      {
        URL: "https://www.nhs.uk/conditions",
        label: "Health A-Z"
      }
    ],
    parentURL: "https://www.nhs.uk/conditions/abscess/",
    parentLabel: "Abscess"
  }) }}
{% endblock %}

{% block heading %}
  <h1>Components</h1>
{% endblock %}

{% block content %}
  {{ actionLink({
    "URL": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551",
    "heading": "Find a minor injuries unit"
  }) }}

  {{ warningCallout({
    "label": "Important",
    "HTML": "<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>"
  }) }}

  {{ insetText({
    "HTML": "<p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
  }) }}

  {{ careCard({
    "class": "grey",
    "heading": "Call 111",
    "HTML": "<p>If you can't speak to your GP and don't know what to do next.</p>"
  }) }}

  {{ careCard({
    "class": "blue",
    "heading": "Speak to a GP if:",
    "HTML": "
    <ul>
      <li>you're not sure it's chickenpox</li>
      <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
      <li>your child is <a href='https://www.nhs.uk/'>dehydrated</a></li>
      <li>you're concerned about your child or they get worse</li>
    </ul>
    <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
    "
  }) }}

  {{ careCard({
    "class": "red",
    "heading": "Ask for an urgent GP appointment if:",
    "HTML": "
    <ul>
      <li>you're an adult and have chickenpox</li>
      <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
      <li>you have a weakened immune system and you've been near someone with chickenpox</li>
      <li>you think your newborn baby has chickenpox</li>
    </ul>
    "
  }) }}

  {{ careCard({
    "class": "black",
    "heading": "Call 999 if you have sudden chest pain that:",
    "HTML": "
    <ul>
      <li>spreads to your arms, back, neck or jaw</li>
      <li>makes your chest feel tight or heavy</li>
      <li>also started with shortness of breath, sweating and feeling or being sick</li>
    </ul>
    <p>You could be having a <a href='https://www.nhs.uk\'>heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>
    "
  }) }}

  {{ reviewDate({
    "lastReview": "12 February 2016",
    "nextReview": "1 February 2019"
  }) }}

  {{ image('Picture of allergic conjunctivitis', 'https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg', 'Itchy, red, watering eyes') }}

  {{ panel({
    "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
  }) }}

  {{ panel({
    "colour": "grey",
    "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
  }) }}

  {{ panel({
    "label": "Panel heading",
    "HTML": "<p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
  }) }}

  <div class="nhsuk-grid-row nhsuk-c-panel-group">
    <div class="nhsuk-grid-column-one-half nhsuk-c-panel-group__item">
      {{ panel({
        "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-c-panel-group__item">
      {{ panel({
        "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
      }) }}
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-c-panel-group">
    <div class="nhsuk-grid-column-one-half nhsuk-c-panel-group__item">
      {{ panel({
        "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-c-panel-group__item">
      {{ panel({
        "HTML": "<h3>Panel title</h3> <p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
      }) }}
    </div>
  </div>

  {{ pagination({
    "previousUrl": "/section/treatments",
    "previousTitle": "Treatments",
    "nextUrl": "/section/symptoms",
    "nextTitle": "Symptoms"
  }) }}

  {{ promo('nhsuk-c-promo--small', '/news/article', 'Prescription changes', 'The NHS is reducing prescriptions for medicines you can buy in a pharmacy. Find out what this means for you.') }}

  {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/nhsengland/aboutnhsservices/doctors/pages/gp-online-services.aspx", "Access your GP record", "") }}

  {{ promoWithImage("", "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png", "http://www.blood.co.uk/?utm_source=nhsc_hp_blood&utm_medium=referral&utm_content=web&utm_campaign=partner", "Save a life: give blood", "Please register today. Donating blood is easy, and saves lives.") }}

  {% set doItems = [
      {
        "item"  : "cover blisters that are likely to burst with a soft plaster or dressing"
      },
      {
        "item"  : "wash your hands before touching a burst blister"
      },
      {
        "item"  : "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
      }
    ]
  %}

  {{ list("Do", "tick", doItems) }}

  {% set dontItems = [
      {
        "item"  : "burst a blister yourself"
      },
      {
        "item"  : "peel the skin off a burst blister"
      },
      {
        "item"  : "pick at the edges of the remaining skin"
      },
      {
        "item"  : "wear the shoes or use the equipment that caused your blister until it heals"
      }
    ]
  %}

  {{ list("Don't", "cross", dontItems) }}

  {{ table({
    "rows": [
      [
        {
          "text": "Skin symptoms"
        },
        {
          "text": "Possible cause"
        }
      ],
      [
        {
          "text": "Blisters on lips or around the mouth"
        },
        {
          "text": "cold sores"
        }
      ],
      [
        {
          "text": "Itchy, dry, cracked, sore"
        },
        {
          "text": "eczema"
        }
      ],
      [
        {
          "text": "Itchy blisters"
        },
        {
          "text": "shingles, chickenpox"
        }
      ]
    ]
  }) }}

  {{ details('When to check your blood glucose level', '
  <p>Try to check your blood:</p>

  <ul>
      <li>before meals</li>
      <li>2 to 3 hours after meals</li>
      <li>before, during (take a break) and after exercise</li>
  </ul>

  <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
  ') }}

  {{ azList() }}
{% endblock %}
