{% set title = 'Components' %}
{% set parent = 'Library' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/a-z-list/macro.njk' import azList %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/callout/macro.njk' import callout %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/images/macro.njk' import image %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/pagination/macro.njk' import pagination, paginationNext, paginationPrevious %}
{% from 'components/promo/macro.njk' import promo, promoWithImage, promoNoDescription %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/tables/macro.njk' import table %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block heading %}
  <h1>Components</h1>
{% endblock %}

{% block content %}
  {{ actionLink('/service-search/minor-injuries-unit/locationsearch/551', 'Find a minor injuries unit') }}

  {{ callout('Important', '<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>') }}

  {{ insetText('Information:', '<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>') }}

  {{ careCard('grey', 'Call 111', '') }}

  {{ careCard('blue', 'Speak to a GP if:', '') }}

  {{ careCard('red', 'Ask for an urgent GP appointment if:', '') }}

  {{ careCard('black', 'Call 999 if you have sudden chest pain that:', '') }}

  {{ reviewDate('12/02/2016', '01/02/2019') }}

  {{ image('Picture of allergic conjunctivitis', 'https://assets.nhs.uk/prod/images/S_1017_allergic-conjunctivitis_M15.2e16d0ba.fill-320x213.jpg', 'Itchy, red, watering eyes') }}

  {{ pagination('/section/treatments', 'Treatments', '/section/symptoms', 'Symptoms') }}

  {{ paginationNext('/section/symptoms', 'Symptoms') }}

  {{ paginationPrevious('/section/treatments', 'Treatments') }}

  {{ promo('nhsuk-c-promo--small', '/news/article', 'Prescription changes', 'The NHS is reducing prescriptions for medicines you can buy in a pharmacy. Find out what this means for you.') }}

  {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/nhsengland/aboutnhsservices/doctors/pages/gp-online-services.aspx", "Access your GP record", "") }}

  {{ promoWithImage("", "https://www.nhs.uk/static/nhsuk_shared/img/homepage/give-blood.png", "http://www.blood.co.uk/?utm_source=nhsc_hp_blood&utm_medium=referral&utm_content=web&utm_campaign=partner", "Save a life: give blood", "Please register today. Donating blood is easy, and saves lives.") }}

  {% set doItems = [
      {
        "item"  : "cover blisters that are likely to burst with a soft plaster or dressing"
      },
      {
        "item"  : "wash your hands before touching a burst blister"
      },
      {
        "item"  : "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
      }
    ]
  %}

  {{ list("Do", "tick", doItems) }}

  {% set dontItems = [
      {
        "item"  : "burst a blister yourself"
      },
      {
        "item"  : "peel the skin off a burst blister"
      },
      {
        "item"  : "pick at the edges of the remaining skin"
      },
      {
        "item"  : "wear the shoes or use the equipment that caused your blister until it heals"
      }
    ]
  %}

  {{ list("Don't", "cross", dontItems) }}

  {{ table({
    "rows": [
      [
        {
          "text": "Skin symptoms"
        },
        {
          "text": "Possible cause"
        }
      ],
      [
        {
          "text": "Blisters on lips or around the mouth"
        },
        {
          "text": "cold sores"
        }
      ],
      [
        {
          "text": "Itchy, dry, cracked, sore"
        },
        {
          "text": "eczema"
        }
      ],
      [
        {
          "text": "Itchy blisters"
        },
        {
          "text": "shingles, chickenpox"
        }
      ]
    ]
  }) }}

  {{ details('When to check your blood glucose level', '
  <p>Try to check your blood:</p>

  <ul>
      <li>before meals</li>
      <li>2 to 3 hours after meals</li>
      <li>before, during (take a break) and after exercise</li>
  </ul>

  <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
  ') }}

  {{ azList() }}
{% endblock %}
