{% set title = 'Components - New typography and spacing' %}
{% set parent = 'Library' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/a-z-list/macro.njk' import azList %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/callout/macro.njk' import callout %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/images/macro.njk' import image %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/pagination/macro.njk' import pagination, paginationNext, paginationPrevious %}
{% from 'components/promo/macro.njk' import promo, promoWithImage, promoNoDescription %}
{% from 'components/review-date/macro.njk' import reviewDate %}
{% from 'components/reveals/macro.njk' import reveal %}
{% from 'components/tables/macro.njk' import table %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block heading %}
  <h1>New typography and spacing</h1>
{% endblock %}

{% block content %}
  <h2>H2 using no class</h2>
  <h3>H3 using no class</h1>
  <h4>H4 using no class</h1>
  <h5>H5 using no class</h1>
  <h6>H6 using no class</h1>
  <p>This is a paragraph using no class. Nam quis posuere nisl, <a href="#">this is what a link looks like</a> eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
  <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
  <ul>
    <li>Unordered list item using no class</li>
    <li>Unordered list item using no class</li>
  </ul>
  <ol>
    <li>Ordered list item using no class</li>
    <li>Ordered list item using no class</li>
  </ol>
  <h1 class="nhsuk-c-font-xxl">H1 using nhsuk-c-font-xxl</h1>
  <h2 class="nhsuk-c-font-xl">H2 using nhsuk-c-font-xl</h2>
  <h3 class="nhsuk-c-font-l">H3 using nhsuk-c-font-l</h1>
  <h4 class="nhsuk-c-font-m">H4 using nhsuk-c-font-m</h1>
  <h5 class="nhsuk-c-font-s">H5 using nhsuk-c-font-s</h1>
  <h6 class="nhsuk-c-font-xs">H6 using nhsuk-c-font-xs</h1>
  <p class="nhsuk-c-font-xxl govuk-!-margin-top-7">P using nhsuk-c-font-xxl and govuk-!-margin-top-7</p>
  <p class="nhsuk-c-font-xl govuk-!-margin-top-6">P using nhsuk-c-font-xl and govuk-!-margin-top-6</p>
  <p class="nhsuk-c-font-l">P using nhsuk-c-font-l</p>
  <p class="nhsuk-c-font-m">P using nhsuk-c-font-m</p>
  <p class="nhsuk-c-font-s">P using nhsuk-c-font-s</p>
  <p class="nhsuk-c-font-xs">P using nhsuk-c-font-xs</p>
  <p class="nhsuk-c-font-xxs">P using nhsuk-c-font-xxs</p>

  <h2>Typography with components</h2>
  <p>This is a paragraph using no class. Nam quis posuere nisl, eget vulputate eros. Duis non mollis mi. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>
  <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

  {{ insetText('Information:', '<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>') }}
  
  <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

  {{ careCard('blue', 'Speak to a GP if:', '<p>Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>') }}

  {{ insetText('Information:', '<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>') }}

  <h2>H2 heading</h2>

  <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

  {{ careCard('blue', 'Speak to a GP if:', '<p>Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>') }}

  {{ careCard('blue', 'Speak to a GP if:', '<p>Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>') }}

  <h3>H3 heading</h3>

  <p>This is a paragraph using no class. Aliquam pulvinar posuere elementum. Fusce tincidunt interdum mauris non pretium.</p>

  {% set doItems = [
      {
        "item"  : "cover blisters that are likely to burst with a soft plaster or dressing"
      },
      {
        "item"  : "wash your hands before touching a burst blister"
      },
      {
        "item"  : "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
      }
    ]
  %}

  {{ list("Do", "tick", doItems) }}

  {% set dontItems = [
      {
        "item"  : "burst a blister yourself"
      },
      {
        "item"  : "peel the skin off a burst blister"
      },
      {
        "item"  : "pick at the edges of the remaining skin"
      },
      {
        "item"  : "wear the shoes or use the equipment that caused your blister until it heals"
      }
    ]
  %}

  {{ list("Don't", "cross", dontItems) }}

  {{ reviewDate('12/02/2016', '01/02/2019') }}
  
{% endblock %}

{% block footer %}

{% endblock %}
