{% set title = 'Components - New typography and spacing' %}
{% set parent = 'Library' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends 'includes/templates/page.njk' %}

{% block outerHeader %}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block heading %}
  <h1>New typography and spacing</h1>
{% endblock %}

{% block content %}
  <h2>H2 using no class</h2>
  <h3>H3 using no class</h1>
  <h4>H4 using no class</h1>
  <h5>H5 using no class</h1>
  <h6>H6 using no class</h1>
  <p>Paragraph using no class</p>
  <ul>
    <li>Unordered ist item using no class</li>
    <li>Unordered ist item using no class</li>
  </ul>
  <ol>
    <li>Ordered ist item using no class</li>
    <li>Ordered ist item using no class</li>
  </ol>
  <h2 class="nhsuk-c-font-xl">H2 using nhsuk-c-font-xl</h2>
  <h3 class="nhsuk-c-font-l">H3 using nhsuk-c-font-l</h1>
  <h4 class="nhsuk-c-font-m">H4 using nhsuk-c-font-m</h1>
  <h5 class="nhsuk-c-font-s">H5 using nhsuk-c-font-s</h1>
  <h6 class="nhsuk-c-font-xs">H6 using nhsuk-c-font-xs</h1>
  <p class="nhsuk-c-font-xl govuk-!-margin-top-7">P using nhsuk-c-font-xl and govuk-!-margin-top-7</p>
  <p class="nhsuk-c-font-l">P using nhsuk-c-font-l</p >
  <p class="nhsuk-c-font-m">P using nhsuk-c-font-m</p >
  <p class="nhsuk-c-font-s">P using nhsuk-c-font-s</p >
  <p class="nhsuk-c-font-xs">P using nhsuk-c-font-xs</p >
  <p class="nhsuk-c-font-xxs">P using nhsuk-c-font-xxs</p >
{% endblock %}

{% block footer %}

{% endblock %}
