.care-card {
  margin: 32px 0;
  @include mq($from: tablet) {
    margin: 40px 0;
  }
  //to be used on the 111 care card at the bottom of the pages
  &.care-card__extra-spacing {
    margin: 64px 0;
    @include mq($from: tablet) {
      margin: 80px 0;
    }
  }
  .care-card-heading {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    padding: 16px;
    position: relative;
    @include mq($from: tablet) {
      padding: 24px;
    }
    &:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $nhsuk-blue;
      bottom: -16px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }
  }

  .care-card-content {
    background: $nhsuk-white;
    padding: 32px 16px 24px;
    @include reading-width-content();
    @include mq($from: tablet) {
      padding: 36px 24px 32px;
    }
    & > *:first-child {
      margin-top: 0;
    }
  }
  &.grey {
    .care-card-heading {
      background: $nhsuk-grey-2;
      color: $nhsuk-black;
      &:after {
        border-top: 16px solid $nhsuk-grey-2;
        content: '';
      }
    }
  }
  &.blue {
    .care-card-heading {
      background: $nhsuk-blue;
      &:after {
        border-top: 16px solid $nhsuk-blue;
        content: '';
      }
    }
  }
  &.red {
    //border-bottom: 8px solid $nhsuk-red;
    .care-card-heading {
      background: $nhsuk-red;
      &:after {
        border-top: 16px solid $nhsuk-red;
        content: '';
      }
    }
  }
  &.black {
    .care-card-heading {
      background: $nhsuk-red;
      &:after {
        border-top: 16px solid $nhsuk-red;
        content: '';
      }
    }
    .care-card-content {
      background: $nhsuk-black;
      color: $nhsuk-white;
		a{
			color: $nhsuk-white;
			&:hover{
				color:$nhsuk-black;
			}
		}
    }
  }
}

//care card - include mixin for reading width

.care-card {
  //@include nhsuk-component-center();
}

.care-card-content{
  @include reading-width-content();
}
