/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/**
 * Header for NHS websites.
 *
 * There are 4 possible versions of the header:
 *
 * - Header with navigation links and search form
 * - Header with navigation links
 * - Header with search form
 * - Header with logo only
 *
 *
 * The behaviour with regards to responsiveness is as follow:
 *
 * - Mobile to tablet view
 *   Menu toggle button visible and navigation links hidden, search toggle
     button visible and search form hidden
 *
 * - Tablet to desktop view
 *   Menu toggle button visible and navigation links hidden, search toggle
 *   button hidden and search form visible
 *
 * - Desktop+ view
 *   Menu toggle button hidden and navigation links visible, search toggle
 *   button hidden and search form visible
 *
 *
 *
 * 1. Custom height and width of the logo
 * 2. Custom height and width of form items
 * 3. Custom height and width of svg icons
 * 4. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 * 5. Proprietary extension so form field looks the same in Safari
 * 6. Needs !important because typeahead js adds inline styling so need to
 *    override
 * 7. Custom spacing to position the search icon
 * 8. Drop shadow on search suggestions dopdown box, custom spread and blur
 * 9. No current spacing at 12px so using this value
 * 10. Z-index to bring the dropdown to the front
 * 11. Custom margin to move menu toggle past the search toggle button
 * 12. Custom border value between expanded search and expanded menu if both open at the same time
 */


.nhsuk-header {
  @include clearfix();
  background: $colour_nhsuk-blue;
}

  .nhsuk-header__logo {
    float: left;
    padding: nhsuk-spacing(3);

    @include mq($from: tablet) {
      padding-left: 0;
    }

  }

    .nhsuk-header__link {
      display: block;
      height: 40px; /* [1] */
      width: 99px; /* [1] */

      &:hover {
        box-shadow: 0 0 0 $nhsuk-box-shadow-spread $colour_shade_nhsuk-blue-35;
      }
    }

    .nhsuk-logo {
      border: 0;
      height: 40px; /* [1] */
      width: 99px; /* [1] */
    }

    .nhsuk-header__content {
      @include clearfix();

      &.js-show {
        border-bottom: 4px solid $colour_nhsuk-grey-5; /* [12] */
      }

      @include mq($from: tablet) {
        float: right;
        position: relative;
      }

    }

    .nhsuk-header__search {
      @include clearfix();
      position: relative;
      text-align: right;

      @include mq($from: tablet) {
        float: left;
        margin-top: nhsuk-spacing(3);
      }

    }

    .nhsuk-header__search-toggle {
      background-color: transparent;
      border: 1px solid $colour_nhsuk-white;
      border-radius: $nhsuk-border-radius;
      color: $colour_nhsuk-white;
      cursor: pointer;
      min-height: 40px; /* [2] */
      padding: nhsuk-spacing(1) nhsuk-spacing(2) 0;
      position: absolute;
      right: nhsuk-spacing(3);
      top: nhsuk-spacing(3);

      .nhsuk-icon__search {
        fill: $colour_nhsuk-white;
        height: 21px; /* [3] */
        width: 21px; /* [3] */
      }

      &::-moz-focus-inner {
        border: 0; /* [4] */
      }

      &:hover {
        background-color: $colour_shade_nhsuk-blue-35;
        border-color: $colour_nhsuk-grey-5;
        box-shadow: none;
      }

      &:focus {
        background-color: transparent;
        border-color: $nhsuk-focus-colour;
        box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
        outline: 0;
      }

      &:active,
      &.active {
        background-color: $colour_shade_nhsuk-blue-50;
        border-color: $colour_nhsuk-grey-5;
        box-shadow: none;
        color: $colour_nhsuk-grey-5;
      }

      &.active {
        &:focus {
          box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
        }
      }
    }


    @include mq($until: tablet) {

      .nhsuk-header__container {
        margin: 0;
      }

        .nhsuk-header__logo {
          padding-left: nhsuk-spacing(3);
          padding-right: nhsuk-spacing(3);
        }

      .nhsuk-header__search-wrap {
        display: none;
      }

      .nhsuk-header__search-wrap {
        &.js-show {
          clear: both;
          display: flex;
          text-align: left;
        }
      }

        .nhsuk-header__search-form {
          background-color: $colour_nhsuk-white;
          display: flex;
          padding: nhsuk-spacing(3);
          width: 100%;
        }

          .nhsuk-search__input {
            -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
            background-color: $colour_nhsuk-white !important; // sass-lint:disable-line no-important /* [6] */
            border-bottom: 1px solid $colour_nhsuk-grey-3;
            border-bottom-left-radius: $nhsuk-border-radius;
            border-bottom-right-radius: 0;
            border-left: 1px solid $colour_nhsuk-grey-3;
            border-right: 0;
            border-top: 1px solid $colour_nhsuk-grey-3;
            border-top-left-radius: $nhsuk-border-radius;
            border-top-right-radius: 0;
            flex-grow: 2;
            font-size: inherit;
            height: 52px; /* [2] */
            margin: 0;
            outline: none;
            padding: 0 nhsuk-spacing(2);
            width: 100%; /* [2] */

            &:focus {
              box-shadow: inset 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
            }
          }

          .nhsuk-search__submit {
            background-color: $colour_nhsuk-green;
            border: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: $nhsuk-border-radius;
            border-top-left-radius: 0;
            border-top-right-radius: $nhsuk-border-radius;
            float: right;
            font-size: inherit;
            height: 52px; /* [2] */
            line-height: inherit;
            margin: 0;
            outline: none;
            padding: nhsuk-spacing(2) nhsuk-spacing(2) 0;

            .nhsuk-icon__search {
              fill: $colour_nhsuk-white;
              height: 38px; /* [3] */
              width: 38px; /* [3] */
            }

            &::-moz-focus-inner {
              border: 0; /* [4] */
            }

            &:hover {
              background-color: $nhsuk-button-hover-colour;
              cursor: pointer;
            }

            &:focus {
              box-shadow: inset 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
            }

            &:active {
              background-color: $nhsuk-button-active-colour;
            }

          }

          .nhsuk-search__close {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            height: 40px; /* [2] */
            margin-left: nhsuk-spacing(3);
            margin-top: nhsuk-spacing(2);
            padding: 0;
            width: 40px; /* [2] */

            .nhsuk-icon__close {
              fill: $colour_nhsuk-blue;
              height: 40px; /* [3] */
              width: 40px; /* [3] */
            }

            &::-moz-focus-inner {
              border: 0; /* [4] */
            }

            &:hover {
              .nhsuk-icon__close {
                fill: $nhsuk-secondary-button-hover-colour;
              }
            }

            &:focus {
              border-radius: $nhsuk-border-radius;
              box-shadow: 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
              outline: 0;
            }

          }

    }


    @include mq($from: tablet) {

      .nhsuk-header__search-wrap {
        display: block;
      }

      .nhsuk-header__search-toggle {
        display: none;
      }

      .nhsuk-search__input {
        -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
        background-color: $colour_nhsuk-white !important; // sass-lint:disable-line no-important /* [6] */
        border: 1px solid $colour_nhsuk-white;
        border-bottom-left-radius: $nhsuk-border-radius;
        border-bottom-right-radius: 0;
        border-top-left-radius: $nhsuk-border-radius;
        border-top-right-radius: 0;
        display: block;
        float: left;
        font-size: $nhsuk-base-font-size;
        height: 40px; /* [2] */
        padding: 0 12px; /* [9] */
        width: 235px; /* [2] */

        &:focus {
          border: 1px solid $nhsuk-focus-colour;
          box-shadow: inset 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
          outline: none;
        }

        &::placeholder {
          color: $colour_nhsuk-grey-2;
          font-size: $nhsuk-base-font-size;
        }
      }

      .nhsuk-search__submit {
        background-color: $colour_nhsuk-grey-5;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $nhsuk-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: $nhsuk-border-radius;
        display: block;
        float: right;
        font-size: inherit;
        height: 40px; /* [2] */
        line-height: inherit;
        outline: none;
        padding-left: 9px; /* [7] */
        padding-top: 7px; /* [7] */
        width: 44px; /* [2] */

        .nhsuk-icon__search {
          height: 27px; /* [3] */
          width: 27px; /* [3] */
        }

        &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
          border: 0; /* [4] */
        }

        &:focus {
          box-shadow: inset 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
        }

        &:hover {
          background-color: $colour_shade_nhsuk-blue-35;
          cursor: pointer;

          .nhsuk-icon__search {
            fill: $colour_nhsuk-white;
          }
        }

        &:active {
          background-color: $colour_shade_nhsuk-blue-50;
        }

      }

      .nhsuk-search__close {
        display: none;
      }

    }

    .nhsuk-search__input--withdropdown {
      border-bottom-left-radius: 0;
    }

    .nhsuk-search__submit--withdropdown {
      border-bottom-right-radius: 0;
    }


.twitter-typeahead {
  display: inline !important; // sass-lint:disable-line no-important /* [6] */
  //position: static !important; // sass-lint:disable-line no-important
  width: 100%;
}

.suggestions-list {
  -moz-box-shadow: 0 3px 5px 0 rgba($nhsuk-box-shadow-colour, $alpha-transparency-50); // sass-lint:disable-line no-vendor-prefixes, no-color-literals /* [8] */
  -webkit-box-shadow: 0 3px 5px 0 rgba($nhsuk-box-shadow-colour, $alpha-transparency-50); // sass-lint:disable-line no-vendor-prefixes, no-color-literals /* [8] */
  background: $colour_nhsuk-white;
  border-bottom: 1px solid $colour_nhsuk-grey-4;
  border-bottom-left-radius: $nhsuk-border-radius;
  border-bottom-right-radius: $nhsuk-border-radius;
  border-left: 1px solid $colour_nhsuk-grey-4;
  border-right: 1px solid $colour_nhsuk-grey-4;
  border-top: 2px solid $colour_nhsuk-blue;
  box-shadow: 0 0 ($nhsuk-box-shadow-spread - 1) 0 rgba($nhsuk-box-shadow-colour, $alpha-transparency-50); // sass-lint:disable-line no-color-literals /* [8] */
  height: auto;
  list-style: none;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: nhsuk-spacing(2) nhsuk-spacing(3) nhsuk-spacing(3);
  position: absolute;
  z-index: 1; /* [10] */
}

@include mq($until: tablet) {

  .suggestions-menu {
    position: relative !important; // sass-lint:disable-line no-important /* [6] */
    top: 0 !important; // sass-lint:disable-line no-important /* [6] */
  }

  .suggestions-list {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    left: auto !important; // sass-lint:disable-line no-important /* [6] */
    margin: 0;
    padding-bottom: nhsuk-spacing(3);
    position: relative !important; // sass-lint:disable-line no-important /* [6] */
    top: auto !important; // sass-lint:disable-line no-important /* [6] */
    width: 100% !important; // sass-lint:disable-line no-important /* [6] */
  }
}

.suggestions-item {
  border-bottom: 1px solid $colour_nhsuk-grey-5;
  color: $colour_nhsuk-blue;
  cursor: pointer;
  font-size: $nhsuk-base-font-size;
  font-weight: $nhsuk-font-light;
  padding-bottom: 12px; /* [9] */
  text-align: left;
  text-decoration: underline;

  .nhsuk-icon__search {
    fill: $colour_nhsuk-grey-3;
    float: left;
    height: 22px; /* [2] */
    margin: 5px 4px 0 0; /* [7] */
    width: 22px; /* [2] */
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    div {
      background: $colour_nhsuk-warm-yellow;
      box-shadow: 0 0 0 $nhsuk-box-shadow-spread $colour_nhsuk-warm-yellow;
      color: $colour_nhsuk-black;
      display: inline;
    }
  }
}

.suggestions-item--selected {
  a {
    background-color: $colour_nhsuk-warm-yellow;
    box-shadow: 0 0 0 $nhsuk-box-shadow-spread $colour_nhsuk-warm-yellow;
    color: $colour_nhsuk-black;
    display: inline;
    text-decoration: none;
  }
}

.suggestions-title {
  border-bottom: 1px solid $colour_nhsuk-grey-4;
  color: $nhsuk-text-colour;
  font-size: $nhsuk-base-font-size;
  font-weight: $nhsuk-font-bold;
  padding-bottom: 12px; /* [9] */
  text-align: left;
}

.suggestions-none  {
  font-size: $nhsuk-base-font-size;
  line-height: $nhsuk-base-line-height;
  margin: 0;
  text-align: left;
}



/* Main navigation
 *
 * Appears below the header strip
   ====================================================================== */

.nhsuk-header__menu {
  float: right;
  margin: nhsuk-spacing(3);

  @include mq($from: tablet) {
    float: left;
    margin-right: nhsuk-spacing(3);
  }
}

.nhsuk-header__menu-toggle {
  background-color: transparent;
  border: 1px solid $colour_nhsuk-white;
  border-radius: 4px;
  color: $colour_nhsuk-white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: $nhsuk-base-line-height;
  margin-right: 56px; /* [11] */
  padding: 7px nhsuk-spacing(3);
  position: relative;
  text-decoration: none;
  z-index: 1;

  @include mq($from: tablet) {
    margin-right: 0;
  }

  &::-moz-focus-inner {
    border: 0; /* [4] */
  }

  &:hover {
    background-color: $colour_shade_nhsuk-blue-35;
    border-color: $colour_nhsuk-grey-5;
    box-shadow: none;
  }

  &:focus {
    background-color: transparent;
    border-color: $nhsuk-focus-colour;
    box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
    outline: 0;
  }

  &:active,
  &.active {
    background-color: $colour_shade_nhsuk-blue-50;
    border-color: $colour_nhsuk-grey-5;
    box-shadow: none;
    color: $colour_nhsuk-grey-5;
  }

  &.active {
    &:focus {
      box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
    }
  }

}

/* 'only' modifier for when there is only the menu in the header, no search
   ====================================================================== */
.nhsuk-header__menu--only {

  @include mq($from: tablet) {
    margin-right: 0;
  }

  .nhsuk-header__menu-toggle {
    margin-right: 0;
  }
}


.nhsuk-header__navigation {
  background-color: $colour_nhsuk-white;
  clear: both;
  display: none;
  overflow: hidden;

  &.js-show {
    display: block;
  }

}

.nhsuk-header__navigation-title {
  font-weight: $nhsuk-font-bold;
  margin-bottom: 0;
  padding: nhsuk-spacing(3);
  position: relative;
}


.nhsuk-header__navigation-close {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 40px; /* [2] */
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: nhsuk-spacing(3);
  top: nhsuk-spacing(2);
  white-space: nowrap;
  width: 40px; /* [2] */

  .nhsuk-icon__close {
    height: 40px; /* [3] */
    width: 40px; /* [3] */
  }

  &::-moz-focus-inner {
    border: 0; /* [4] */
  }

  &:hover {
    .nhsuk-icon__close {
      fill: $nhsuk-secondary-button-hover-colour;
    }
  }

  &:focus {
    border-radius: $nhsuk-border-radius;
    box-shadow: 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
    outline: 0;
  }

}

.nhsuk-header__navigation-list {
  list-style: none;
  padding-left: 0;
}

.nhsuk-header__navigation-item {
  border-top: 1px solid $colour_nhsuk-grey-5;
  margin-bottom: 0;
  position: relative;
}

.nhsuk-header__navigation-link {
  color: $colour_nhsuk-blue;
  display: block;
  padding: nhsuk-spacing(3);
  text-decoration: none;

  .nhsuk-icon__chevron-right {
    fill: $colour_nhsuk-grey-3;
    position: absolute;
    right: nhsuk-spacing(1);
    top: 11px;
  }

  &:hover {
    background-color: $colour_nhsuk-blue;
    box-shadow: none;
    color: $colour_nhsuk-white;
    text-decoration: underline;

    .nhsuk-icon__chevron-right {
      fill: $colour_nhsuk-white;
    }

  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
    color: $colour_nhsuk-blue;
  }

  &:active {
    background-color: $colour_shade_nhsuk-blue-35;
    box-shadow: none;
    color: $colour_nhsuk-white;

    .nhsuk-icon__chevron-right {
      fill: $colour_nhsuk-white;
    }

  }

}


@include mq($from: large-desktop) {

  .nhsuk-header__menu-toggle {
    display: none;
  }

  .nhsuk-header__navigation-title {
    display: none;
  }

  .nhsuk-header__navigation-item--for-mobile {
    display: none;
  }

  .nhsuk-header__navigation {
    background-color: $colour_nhsuk-blue;
    display: block;
    margin: 0 auto;
    max-width: $nhsuk-page-width;
  }

  .nhsuk-header__navigation-list {
    border-top: 1px solid $nhsuk-secondary-border-colour;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .nhsuk-header__navigation-item {
    border-top: 0;
    margin: 0;
    text-align: center;

    .nhsuk-icon__chevron-right {
      display: none;
    }
  }

  .nhsuk-header__navigation-link {
    color: $colour_nhsuk-white;
    font-size: 17px;
    line-height: normal;

    &:visited {
      color: $colour_nhsuk-white;
    }

    &:hover {
      background: $colour_shade_nhsuk-blue-35;
      box-shadow: none;
      color: $colour_nhsuk-white;
      text-decoration: underline;
    }

    &:focus {
      color: $colour_nhsuk-white;
    }

    &:active {
      background: $colour_shade_nhsuk-blue-50;
      box-shadow: none;
      color: $colour_nhsuk-grey-5;
    }

    &.active {
      background: $colour_shade_nhsuk-blue-20;
    }

  }

}
/*






// Skip links

.nhsuk-c-skiplink__link {
  left: -9999px;
  padding: 8px;
  position: absolute;

  &:active,
  &:focus {
    left: 16px;
    top: 16px;
    z-index: z-index(2);
  }

  &:visited {
    color: $colour_nhsuk-black;
  }

}

// Navigation

.c-nav-primary {

  @include mq($until: large-desktop) {
    background: $colour_nhsuk-white;
    display: none;

    &.js-show {
      display: block;
    }

    .nhsuk-width-container {
      margin: 0;
      max-width: 990px;
    }

    &__title {
      font-weight: $nhsuk-font-bold;
      margin: 0;
      padding: 12px 38px 12px 30px;
      position: relative;

      @include mq($until: tablet) {
        margin: 0 24px 0 0;
        padding: 16px;
      }

      .c-nav-primary__close-link {
        background: transparent;
        border: 0;
        height: 40px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 24px;
        top: 8px;
        white-space: nowrap;
        width: 40px;

        .nhsuk-icon__close {
          fill: $colour_nhsuk-blue;
          height: 40px;
          width: 40px;
        }

        @include mq($until: tablet) {
          right: -8px;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &:hover {
          .nhsuk-icon__close {
            fill: $nhsuk-secondary-button-hover-colour;
          }
        }

        &:focus {
          border-radius: 4px;
          box-shadow: 0 0 0 4px $nhsuk-focus-colour;
          outline: 0;
        }

      }

    }

    &__list {
      border-bottom: 4px solid $colour_nhsuk-grey-5;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      border-top: 1px solid $colour_nhsuk-grey-5;
      margin: 0;
      position: relative;

      .nhsuk-icon__chevron-right {
        fill: $colour_nhsuk-grey-3;
        position: absolute;

        @include mq($until: tablet) {
          right: 4px;
          top: 11px;
        }

        @include mq($from: tablet) {
          right: 16px;
          top: 9px;
        }
      }
    }

    &__link {
      color: $colour_nhsuk-blue;
      display: block;

      @include mq($from: tablet) {
        padding: 12px 30px;
      }

      @include mq($until: tablet) {
        padding: 16px;
      }

      text-decoration: none;

      &:visited {
        color: $colour_nhsuk-blue;
      }

      &:hover {
        background-color: $colour_nhsuk-blue;
        box-shadow: none;
        color: $colour_nhsuk-white;
        text-decoration: underline;

        .nhsuk-icon__chevron-right {
          fill: $colour_nhsuk-white;
        }
      }

      &:focus {
        background-color: transparent;
        box-shadow: inset 0 0 0 4px $nhsuk-focus-colour;
        color: $colour_nhsuk-blue;
      }

      &:active {
        background-color: $colour_shade_nhsuk-blue-35;
        box-shadow: none;
        color: $colour_nhsuk-white;

        .nhsuk-icon__chevron-right {
          fill: $colour_nhsuk-white;
        }

      }

    }

  }

  @include mq($from: large-desktop) {

    @include clearfix();
    background: $colour_nhsuk-blue;

    &__title {
      display: none;
    }

    &__list {
      border-top: 1px solid $nhsuk-secondary-border-colour;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &__item {
      margin: 0;
      padding: 0;
      text-align: center;

      .nhsuk-icon__chevron-right {
        display: none;
      }
    }

    &__item--mobile {
      display: none;
    }

    &__link {
      color: $colour_nhsuk-white;
      display: block;
      font-size: 17px;
      line-height: 20px;
      padding: 16px;
      text-decoration: none;

      &:visited {
        color: $colour_nhsuk-white;
      }

      &:hover {
        background: $colour_shade_nhsuk-blue-35;
        box-shadow: none;
        color: $colour_nhsuk-white;
        text-decoration: underline;
      }

      &:focus {
        background: $colour_nhsuk-blue;
        box-shadow: inset 0 0 0 4px $nhsuk-focus-colour;
        color: $colour_nhsuk-white;
      }

      &:active {
        background: $colour_shade_nhsuk-blue-50;
        box-shadow: none;
        color: $colour_nhsuk-grey-5;
      }

      &.active {
        background: $colour_shade_nhsuk-blue-20;
      }

    }
  }
}

.ie9 {

  .nhsuk-global-header__logo {
    a {
      img {
        border: 0;
      }
    }
  }

  .c-search-menu {
    display: none !important; // sass-lint:disable-line no-important
  }

  .c-nav-primary {
    &__list {
      display: table;
    }
    &__item {
      display: table-cell;
    }
  }

  @include mq($until: large-desktop) {
    .c-nav-primary {
      &__list,
      &__item {
        display: block;
      }
    }
  }

  @include mq($until: tablet) {

    .nhsuk-global-header {

      .search-container {
        &.js-show {
          display: block;
        }
      }

      .c-search {
        float: left;
        width: 85%;
      }

      .search-close {
        float: left;
        width: 15%;
      }

      .c-search__input {
        float: left;
        margin-bottom: 15px;
        width: 78%;
      }

      .c-search__submit {
        float: left;
        height: 52px;
      }

    }

  }

}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .nhsuk-global-header {

    .nhsuk-global-header__search,
    .c-search__container {
      display: -ms-flexbox;
    }

    .search-container {
      &.js-show {
        display: -ms-flexbox;
      }
    }

    @include mq($from: tablet) {

      .twitter-typeahead {
        width: auto;
      }

    }

    @include mq($until: tablet) {

      .c-search {
        -ms-flex-positive: 2;
      }

      .c-search__input {
        -ms-flex-positive: 2;
      }

    }

  }

  @include mq($from: large-desktop) {

    .c-nav-primary__list {
      -ms-flex-pack: justify;
      display: -ms-flexbox;
    }

    .c-nav-primary__item {
      text-align: left;
    }

  }

}

@include mq($media-type: print) {
  .nhsuk-global-header__menusearch,
  .c-nav-primary {
    display: none;
  }
}

*/
