/// Organisation header variant

.nhsuk-header--organisation {
  .nhsuk-header__service-logo {
    display: block;

    &:focus {
      .nhsuk-header__organisation-name,
      .nhsuk-header__organisation-name-descriptor {
        color: $nhsuk-focus-text-color;
      }
    }
  }

  .nhsuk-header__logo {
    height: 24px;
    width: 60px;

    @include mq($from: tablet) {
      height: 32px;
      width: 80px;
    }
  }
}

.nhsuk-header__organisation-name {
  color: $color_nhsuk-white;
  display: block;
  @include nhsuk-font(22, $weight: bold, $line-height: 1.1);

  @include mq($media-type: print) {
    color: $nhsuk-print-text-color;
  }
}

.nhsuk-header__organisation-name-split {
  display: block;
}

.nhsuk-header__organisation-name-descriptor {
  color: $color_nhsuk-white;
  display: block;
  @include nhsuk-font(14, $weight: bold);

  @include mq($media-type: print) {
    color: $color_nhsuk-blue;
  }
}

.nhsuk-header__organisation-logo {
  border: 0;
  max-height: 100px;
  max-width: 280px;

  @media (max-width: 450px) {
    max-width: 150px;
  }

  &[src$=".svg"] {
    height: auto;
    max-width: 220px;
    width: 100%;
  }
}
