/**
    * These are the styles for the transactional header variants.
*/

.nhsuk-header__transactional .nhsuk-header__container {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 20px 0;

  .nhsuk-header__link {
    @include nhsuk-logo-size-small;
    display: block;
  }

  .nhsuk-logo {
    @include nhsuk-logo-size-small;
  }

}

.nhsuk-header__transactional-service-name {
  display: flex;
  align-items: center;
  // padding-left: 12px;
  padding-top: 0;
  width: 100%;

  @include mq($from: tablet) {
    display: block;
    padding-top: 4px;
    // padding-left: nhsuk-spacing(3);
  }
}

.nhsuk-header__transactional-service-name--link {
  @include nhsuk-link-style-white;
  @include nhsuk-font(19);
  line-height: 1.375;
  text-decoration: none;
  margin-top: -5px;
  margin-bottom: -5px;

  @include mq($from: tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.nhsuk-header__transactional--logo {
  max-width: 100%;

  @include mq($from: tablet) {
    .nhsuk-header__link--service {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto;
    }

    .nhsuk-header__service-name {
      padding-left: nhsuk-spacing(3);
    }
  }
}
