/// White header variant

.nhsuk-header--white {
  background-color: $color_nhsuk-white;

  .nhsuk-header__container {
    color: $color_nhsuk-blue;
  }

  .nhsuk-header__service-logo:hover {
    color: $nhsuk-text-color;

    .nhsuk-header__organisation-name-descriptor {
      color: $nhsuk-text-color;
    }
  }

  .nhsuk-header__account,
  .nhsuk-header__account-item {
    background-color: $color_nhsuk-grey-5;
    outline-color: $color_nhsuk-grey-4;
  }

  .nhsuk-header__account-link {
    @include nhsuk-link-style-no-visited-state;
  }

  .nhsuk-search__input {
    border-color: $color_nhsuk-grey-3;

    &:focus {
      border-color: $nhsuk-focus-text-color;
    }
  }

  .nhsuk-search__submit {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;

    &:hover {
      background-color: $color_shade_nhsuk-blue-20;
      border-color: $color_shade_nhsuk-blue-20;
      box-shadow: none;
    }

    &:focus {
      background-color: $nhsuk-focus-color;
      color: $nhsuk-focus-text-color;
    }
  }

  .nhsuk-header__organisation-name,
  .nhsuk-header__service-name {
    color: $color_nhsuk-black;
  }

  .nhsuk-header__organisation-name-descriptor {
    color: $color_nhsuk-blue;
  }

  .nhsuk-header__navigation {
    background-color: $color_nhsuk-blue;

    @include mq($until: tablet) {
      margin-top: 0;
    }
  }

  .nhsuk-header__navigation-container {
    border-top-width: 0;
  }
}

.nhsuk-header--white-nav {
  .nhsuk-header__navigation {
    background-color: $color_nhsuk-white;
    color: $color_nhsuk-blue;

    @include mq($until: tablet) {
      margin-top: -(nhsuk-spacing(3));
    }
  }

  .nhsuk-header__navigation-container {
    border-top-color: $color_nhsuk-grey-5;
    border-top-width: 1px;
  }

  .nhsuk-header__navigation-link {
    @include nhsuk-link-style-no-visited-state;

    // Visual indicator for current navigation item has blue line on
    // bottom edge instead of grey in the regular Header nav
    &[aria-current="page"],
    &[aria-current="true"] {
      box-shadow: inset 0 ($nhsuk-focus-width * -1) $color_nhsuk-blue;
    }

    &:focus {
      box-shadow: inset 0 ($nhsuk-focus-width * -1) $color_nhsuk-black;
    }
  }

  // Drop down navigation
  .nhsuk-header__drop-down {
    // When in expanded menu, a current item link should revert to having a
    // no box-shadow, with a box-shadow added to containing list item instead.
    .nhsuk-header__navigation-link[aria-current="page"],
    .nhsuk-header__navigation-link[aria-current="true"] {
      box-shadow: none;
    }
  }
}
