/// Organisation header variant

.nhsuk-header--organisation {
  .nhsuk-header__logo-link {
    @include nhsuk-link-style-header;
    display: block;

    &:focus {
      .nhsuk-organisation-name,
      .nhsuk-organisation-descriptor {
        color: $nhsuk-focus-text-color;
      }
    }
  }

  .nhsuk-logo {
    height: 24px;
    width: 60px;

    @include mq($from: tablet) {
      height: 32px;
      width: 80px;
    }
  }
}

.nhsuk-organisation-name {
  @include nhsuk-font(22, $line-height: 1.1);
  color: $color_nhsuk-white;
  display: block;
  font-weight: bold;

  @include mq($media-type: print) {
    color: $nhsuk-print-text-color;
  }
}

.nhsuk-organisation-name-split {
  display: block;
}

.nhsuk-organisation-descriptor {
  @include nhsuk-font(14);
  color: $color_nhsuk-white;
  display: block;
  font-weight: bold;

  @include mq($media-type: print) {
    color: $color_nhsuk-blue;
  }
}

.nhsuk-organisation-logo {
  border: 0;
  max-height: 100px;
  max-width: 280px;

  @media (max-width: 450px) {
    max-width: 150px;
  }

  &[src$=".svg"] {
    height: auto;
    max-width: 220px;
    width: 100%;
  }
}
