/**
 * White header variant
 */

.nhsuk-header--white {
  background-color: $color_nhsuk-white;

  .nhsuk-header__container {
    color: $color_nhsuk-blue;
  }

  .nhsuk-header__link:hover {
    color: $nhsuk-text-color;

    .nhsuk-organisation-descriptor {
      color: $nhsuk-text-color;
    }
  }

  .nhsuk-search__input {
    border-color: $color_nhsuk-grey-3;

    &:focus {
      border-color: $nhsuk-focus-text-color;
    }
  }

  .nhsuk-search__submit {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;

    &:hover {
      background-color: $color_shade_nhsuk-blue-20;
      border-color: $color_shade_nhsuk-blue-20;
      box-shadow: none;
    }

    &:focus {
      background-color: $nhsuk-focus-color;
      color: $nhsuk-focus-text-color;
    }
  }

  .nhsuk-organisation-name,
  .nhsuk-header__service-name,
  .nhsuk-header__transactional-service-name--link {
    color: $color_nhsuk-black;
  }

  .nhsuk-organisation-descriptor {
    color: $color_nhsuk-blue;
  }

  .nhsuk-navigation-container {
    background-color: $color_nhsuk-blue;

    @include mq($until: tablet) {
      margin-top: 0;
    }
  }

  .nhsuk-header__navigation-list {
    border-top-width: 0;
  }
}

.nhsuk-header--white-nav {
  .nhsuk-navigation-container {
    background-color: $color_nhsuk-white;
    color: $color_nhsuk-blue;

    @include mq($until: tablet) {
      margin-top: -(nhsuk-spacing(3));
    }
  }

  .nhsuk-header__navigation-list {
    border-top-color: $color_nhsuk-grey-5;
    border-top-width: 1px;
  }

  .nhsuk-header__navigation-link {
    @include nhsuk-link-style-no-visited-state;
  }
}
