////
/// Header component
///
/// The behaviour with regards to responsiveness is as follow:
///
/// - Mobile to tablet view
///   Menu toggle button visible and navigation links hidden, search toggle
///   button visible and search form hidden
///
/// - Tablet to desktop view
///   Menu toggle button visible and navigation links hidden, search toggle
///   button hidden and search form visible
///
/// - Desktop+ view
///   Menu toggle button hidden and navigation links visible, search toggle
///   button hidden and search form visible
///
/// @group components
////

@use "sass:math";

.nhsuk-header {
  background-color: $color_nhsuk-blue;
  color: $color_nhsuk-white;

  @include mq($media-type: print) {
    color: $color_nhsuk-black;
  }
}

.nhsuk-header__container {
  @include govuk-width-container;
  display: flex;
  flex-flow: column wrap;
  gap: nhsuk-spacing(3);
  padding: nhsuk-spacing(3) 0;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

/// Service logo (and optional name)

.nhsuk-header__service,
.nhsuk-header__service-logo {
  align-items: center;
  display: flex;
  flex-grow: 999;
  flex-wrap: wrap;
  gap: nhsuk-spacing(2) nhsuk-spacing(3);
  margin-right: auto;
}

.nhsuk-header__service-logo {
  flex-grow: 0;
}

.nhsuk-header__service-name {
  @include nhsuk-font(19, $line-height: 1.1);
  flex-grow: 999;
  text-wrap: balance;
}

.nhsuk-header__service-logo,
.nhsuk-header__service-name[href] {
  @include nhsuk-link-style-header;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include mq($media-type: print) {
    &::after {
      content: "";
    }
  }
}

/// Account

.nhsuk-header__account {
  background: shade($color_nhsuk-blue, 20%);
  border-radius: $nhsuk-border-radius;
  flex-grow: 1;
  outline: 1px solid shade($color_nhsuk-blue, 20%);
  margin-bottom: 1px;

  @include mq($from: tablet) {
    align-self: start;
  }

  .nhsuk-icon__user {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
  }
}

.nhsuk-header__account-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nhsuk-header__account-item {
  @include nhsuk-font(16);
  background-color: shade($color_nhsuk-blue, 20%);
  display: flex;
  flex-grow: 1;
  gap: nhsuk-spacing(2);
  margin: 0;
  outline: 1px solid $color_nhsuk-blue;
  overflow-wrap: anywhere;
  padding: nhsuk-spacing(2) 12px;

  &:nth-last-child(2) {
    margin-right: auto;
  }

  &:last-child {
    flex-grow: 0;
  }
}

.nhsuk-header__account-button,
.nhsuk-header__account-link {
  @include nhsuk-link-style-header;
  display: flex;
  gap: nhsuk-spacing(2);
  overflow-wrap: anywhere;
}

.nhsuk-header__account-button {
  @include nhsuk-font(16);
  background: none;
  border: 0;
  padding: 0;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

/// Search

.nhsuk-header__search {
  @include print-hide;
  flex-grow: 1;
  position: relative;
  z-index: 13;

  .nhsuk-icon__search {
    height: 28px;
    width: 28px;
  }
}

.nhsuk-header__search-form {
  display: flex;
  height: 100%;
  overflow: visible;

  @include mq($until: tablet) {
    position: relative;
  }
}

.nhsuk-header__search-input {
  border: 1px solid $color_nhsuk-white;
  border-radius: $nhsuk-border-radius 0 0 $nhsuk-border-radius;
  font-size: $nhsuk-base-font-size;
  height: 40px;
  padding: 0 12px;
  width: 100%;

  &:focus {
    border: nhsuk-spacing(1) solid $nhsuk-focus-text-color;
    box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
    padding: 0 9px;
  }

  &::placeholder {
    color: $color_nhsuk-grey-1;
    opacity: 1; // Fixes low contrast of placeholder text in firefox
  }

  @include mq($until: tablet) {
    border-radius: $nhsuk-border-radius;
  }
}

.nhsuk-header__search-submit {
  background-color: $color_nhsuk-grey-5;
  border: 0;
  border-radius: 0 $nhsuk-border-radius $nhsuk-border-radius 0;
  color: $color_nhsuk-blue;
  height: nhsuk-spacing(6);
  line-height: 1;
  outline: none;
  margin: 0;
  width: 44px;

  @include mq($until: tablet) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }

  &:hover {
    background-color: $color_shade_nhsuk-blue-35;
    box-shadow: inset 0 0 0 1px $color_nhsuk-white;
    color: $color_nhsuk-white;
    cursor: pointer;
  }

  &:active {
    background-color: $color_shade_nhsuk-blue-50;
  }

  &:focus {
    @include nhsuk-focused-button;
    background-color: $nhsuk-focus-color;
    box-shadow: inset 0 -4px 0 0 $nhsuk-focus-text-color;
  }
}

/// Navigation

.nhsuk-header__navigation {
  @include print-hide;
  position: relative;

  @include mq($until: tablet) {
    margin-top: math.div($nhsuk-gutter, 2) * -1;
  }
}

.nhsuk-header__navigation-container {
  @include govuk-width-container;

  @include mq($until: tablet) {
    position: relative;
    z-index: 10;
  }

  @include mq($from: tablet) {
    border-top: 1px solid $color_transparent_nhsuk-white-20;
  }
}

.nhsuk-header__navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 math.div($nhsuk-gutter-half, 2) * -1;
  padding: 0;
  width: calc(100% + $nhsuk-gutter-half);

  @include mq($from: tablet) {
    width: calc(100% + $nhsuk-gutter);
    margin: 0 math.div($nhsuk-gutter, 2) * -1;
  }

  .js-enabled & {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.nhsuk-header__navigation-list--justified {
  @include mq($from: desktop) {
    justify-content: space-between;
  }
}

.nhsuk-header__navigation-item {
  margin-bottom: 0;
  padding: 0 math.div($nhsuk-gutter-half, 2);

  @include mq($from: tablet) {
    padding: 0 $nhsuk-gutter-half;
  }
}

// This is a <strong> element used as a fallback mechanism for visually
// indicating current page in scenarios where CSS isn’t available.
// We don’t actually want it to be bold normally, so inherit parent font-weight.
.nhsuk-header__navigation-item-current-fallback {
  font-weight: inherit;
}

.nhsuk-header__navigation-link {
  @include nhsuk-font(16);
  @include nhsuk-link-style-header;
  display: block;
  font-size: inherit;
  padding: nhsuk-spacing(3) 2px;
  white-space: nowrap;

  // Visual indicator for current navigation item has grey line on bottom edge,
  // and no underline on the link.
  &[aria-current="page"],
  &[aria-current="true"] {
    text-decoration: none;
    box-shadow: inset 0 ($nhsuk-focus-width * -1) $nhsuk-border-color;
  }

  &:focus {
    box-shadow: inset 0 ($nhsuk-focus-width * -1) $nhsuk-focus-text-color;
  }
}

/// Menu (shown when screen can’t fit all navigation items)

.nhsuk-header__menu {
  align-self: center;
  display: none;
  padding: 0 math.div($nhsuk-gutter-half, 2);

  @include mq($from: tablet) {
    padding: 0 $nhsuk-gutter-half;
  }
}

.nhsuk-header__menu--visible {
  display: block;
}

.nhsuk-header__menu-toggle {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  position: relative;
  right: 0;
  text-align: center;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  z-index: 1;

  &[aria-expanded="true"] .nhsuk-icon__chevron-down {
    transform: rotate(270deg);
  }
}

.nhsuk-header__menu-toggle--visible {
  visibility: visible;
  display: flex;
}

.nhsuk-header__menu-list {
  @include print-hide;
  background-color: $color_nhsuk-white;
  border-bottom: nhsuk-spacing(1) solid $color_nhsuk-grey-4;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  left: 0;

  @include mq($until: tablet) {
    margin: 0 $nhsuk-gutter-half * -1;
  }

  .nhsuk-header__navigation-link {
    @include govuk-width-container;
    @include nhsuk-link-style-no-visited-state;

    // When in expanded menu, a current item link should revert to having a
    // no box-shadow, with a box-shadow added to containing list item instead.
    &[aria-current="page"],
    &[aria-current="true"] {
      box-shadow: none;
    }

    // But when focused the black line at the bottom should return,
    // again using box-shadow.
    &:focus {
      box-shadow: inset 0 ($nhsuk-focus-width * -1) $nhsuk-focus-text-color;
    }
  }

  .nhsuk-header__navigation-item {
    border-top: 1px solid $color_nhsuk-grey-5;
    padding: 0;
  }

  // Current item within expended mobile menu gets blue line on left edge.
  //
  // The blue line uses an inset box-shadow instead of a border, as there’s
  // already a grey border on the top, and using 2 different colour borders
  // creates an awkward diagonal line where they meet.
  .nhsuk-header__navigation-item--current {
    box-shadow: inset 6px 0 $color_nhsuk-blue;
  }
}

.nhsuk-header__menu-list--hidden {
  display: none;
}
