/* ==========================================================================
   COMPONENTS / #TABLE
   ========================================================================== */

/**
 * Table container is used to ensure the table does not break the container.
 *
 * 1. Margin is removed so there isn't double spacing.
 * 2. XS size not added because it matches the table header, so it'd be bad for hierarchy
 */

.nhsuk-table-container {
  @include nhsuk-responsive-margin(7, "bottom");

  display: block;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  width: 100%;

  .nhsuk-table {
    margin: 0; /* [1] */
  }
}

.nhsuk-table__caption--xl {
  @include nhsuk-typography-responsive(48);
}

.nhsuk-table__caption--l {
  @include nhsuk-typography-responsive(36);
}

.nhsuk-table__caption--m {
  @include nhsuk-typography-responsive(26);
}

.nhsuk-table__caption--s {
  @include nhsuk-typography-responsive(22);
}

/* [2] */

/* Table row hover
========================================================================== */

/**
 * Table row hover is used to aid readability for users.
 */

.nhsuk-table__row {
  &:hover {
    background-color: $color_nhsuk-grey-5;
  }
}

/* Table panel with tab heading
========================================================================== */

/**
 * 1. Margin is removed so there isn't double spacing.
 */

.nhsuk-table__panel-with-heading-tab {
  @include panel-with-label($color_nhsuk-white, $nhsuk-text-color, $color_nhsuk-grey-4);

  .nhsuk-table-container,
  .nhsuk-table {
    margin: 0; /* [1] */
  }
}

.nhsuk-table__heading-tab {
  @include heading-label($color_nhsuk-blue, $color_nhsuk-white);
}

/* Responsive table
========================================================================== */

/**
 * 1. Hiding the thead on mobile
 * 2. Displaying the thead on desktop
 * 3. Removing default screen reader behaviour
 * 4. Assigning role of table-row on desktop to give default screen reader behaviour
 * 5. Using justify content to space out elements in the row on mobile
 * 6. Assigning a minimum width in case of black cell
 * 7. Aligning content to the right on mobile
 * 8. Aligning mobile header to left to split it from the data
 * 9. Hiding mobile specific header from desktop view
 * 10. Adding a display block value due to IE 11 not having full flex support
 */

.nhsuk-table-responsive {
  margin-bottom: 0;
  width: 100%;

  thead {
    @include visually-hidden; /* [1] */

    @include mq($from: desktop) {
      @include visually-shown(table-header-group); /* [2] */
    }
  }

  .nhsuk-table__body {
    .nhsuk-table-responsive__heading {
      font-weight: $nhsuk-font-bold;
      padding-right: nhsuk-spacing(3);
      text-align: left; /* [8] */

      @include mq($from: desktop) {
        display: none; /* [9] */
      }
    }

    .nhsuk-table__row {
      display: block; /* [3] */
      margin-bottom: nhsuk-spacing(4);

      &:last-child {
        margin-bottom: 0;
      }

      @include mq($from: desktop) {
        display: table-row; /* [4] */
      }

      th {
        text-align: right;
        @include mq($from: desktop) {
          text-align: left;
        }
      }

      td {
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between; /* [5] */
        min-width: 1px; /* [6] */
        @media all and (-ms-high-contrast: none) {
          /* [10] */
          display: block;
        }

        @include mq($from: desktop) {
          display: table-cell;
        }

        @include mq($until: desktop) {
          padding-right: 0;
          text-align: right; /* [7] */
          &:last-child {
            border-bottom: 3px solid $color_nhsuk-grey-4;
          }
        }
      }
    }
  }
}

/* Numeric tables
========================================================================== */

/**
 * Right aligns table cells for numeric tables.
 */

.nhsuk-table__header--numeric,
.nhsuk-table__cell--numeric {
  text-align: right;
}
