
/* ==========================================================================
   COMPONENTS / #TABLE
   ========================================================================== */

/* Table row hover
========================================================================== */

/**
 * Table row hover is used to aid readability for users.
 */

.nhsuk-table__row {
  &:hover {
    background-color: $color_nhsuk-grey-5;
  }
}

/* Table panel with tab heading
========================================================================== */

/**
 * 1. Margin is removed so there isn't double spacing.
 */

.nhsuk-table__panel-with-heading-tab {
  @include panel-with-label($color_nhsuk-white, $nhsuk-text-color);

  .nhsuk-table-responsive,
  .nhsuk-table {
    margin: 0; /* [1] */
  }
}

.nhsuk-table__heading-tab {
  @include heading-label($color_nhsuk-blue, $color_nhsuk-white);
}

/* Responsive table
========================================================================== */

/**
 * Responsive table is used to ensure the table does not break the container.
 *
 * 1. Margin is removed so there isn't double spacing.
 */

.nhsuk-table-responsive {
  @include nhsuk-responsive-margin(7, 'bottom');

  display: block; // sass-lint:disable-line property-sort-order
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line property-sort-order
  -ms-overflow-style: -ms-autohiding-scrollbar; // sass-lint:disable-line property-sort-order
  overflow-x: auto; // sass-lint:disable-line property-sort-order
  width: 100%;

  .nhsuk-table {
    margin: 0; /* [1] */
  }

}

/* Numeric tables
========================================================================== */

/**
 * Right aligns table cells for numeric tables.
 */

.nhsuk-table__header--numeric,
.nhsuk-table__cell--numeric {
  text-align: right;
}
