{% set title = 'Ankle pain - NHS.UK frontend' %}

{% extends 'page.njk' %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false",
      "homeHref": "/test-pages/nhsuk-homepage.html"
    })
  }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/test-pages/nhsuk-homepage.html",
        text: "Home"
      }
    ],
    href: "/test-pages/health-a-to-z.html",
    text: "Health A to Z"
  }) }}
{% endblock %}

{% block content %}

<h1>Ankle pain</h1>
<p class="nhsuk-lede-text">There are lots of causes of ankle pain. You can usually ease the pain yourself. But see a GP if the pain does not improve.</p>

<h2>How you can ease ankle pain yourself</h2>

<p>If you see a GP, they'll usually suggest you try these things:</p>

{{ list({
  "title": "Do",
  "type": "tick",
  "items": [
    {
      "item": "cover blisters that are likely to burst with a soft plaster or dressing"
    },
    {
      "item": "wash your hands before touching a burst blister"
    },
    {
      "item": "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
    }
  ]
}) }}

{{ list({
  "title": "Don't",
  "type": "cross",
  "items": [
    {
      "item": "burst a blister yourself"
    },
    {
      "item": "peel the skin off a burst blister"
    },
    {
      "item": "pick at the edges of the remaining skin"
    },
    {
      "item": "wear the shoes or use the equipment that caused your blister until it heals"
    }
  ]
}) }}

<h3>You can ask a pharmacist about:</h3>
<ul>
  <li>the best painkiller to take</li>
  <li>insoles and pads for your shoes</li>
  <li>treatments for common skin problems</li>
  <li>if you need to see a GP</li>
</ul>

{{ actionLink({
  "text": "Find a pharmacy",
  "href": "#"
}) }}

{{ careCard({
  "type": "non-urgent",
  "heading": "Speak to a GP if:",
  "HTML": "
  <ul>
    <li>you're not sure it's chickenpox</li>
    <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
    <li>your child is <a href=\'#'>dehydrated</a></li>
    <li>you're concerned about your child or they get worse</li>
  </ul>
  <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
  "
}) }}

{{ careCard({
  "type": "urgent",
  "heading": "Ask for an urgent GP appointment if:",
  "HTML": "
  <ul>
    <li>you're an adult and have chickenpox</li>
    <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
    <li>you have a weakened immune system and you've been near someone with chickenpox</li>
    <li>you think your newborn baby has chickenpox</li>
  </ul>
   <p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
  "
}) }}

<h2>Common causes of ankle pain</h2>
<p>Ankle pain is often caused by exercising too much or wearing shoes that are too tight.</p>
<p>Your symptoms might also give you an idea of what's causing your ankle pain.</p>

{{ table({
  panel: false,
  caption: "Foot pain symptoms and possible causes",
  firstCellIsHeader: false,
  head: [
    {
      text: "Foot pain symptoms"
    },
    {
      text: "Possible cause"
    }
  ],
  rows: [
    [
      {
        text: "Pain, swelling, bruising, started after intense or repetitive exercise"
      },
      {
        html: "<a href='#'>sprained ankle</a>"
      }
    ],
    [
      {
        text: "Pain in ankle and heel, pain in calf when standing on tiptoes"
      },
      {
        html: "<a href='#'>Achilles tendonitis"
      }
    ],
    [
      {
        text: "Redness and swelling, dull aching pain"
      },
      {
        html: "<a href='#'>bursitis</a>"
      }
    ],
    [
      {
        text: "Sudden sharp pain, swelling, a popping or snapping sound during the injury, difficulty walking, ankle at odd angle"
      },
      {
        html: "<a href='#'>broken ankle</a>"
      }
    ]
  ]
}) }}

{{ insetText({
  "HTML": "<p>Do not worry if you're not sure what the problem is. </p>
           <p>Follow the advice on this page and see a GP if the pain does not get better in 2 weeks.</p>
           <p>You can also read about <a href='#'>pain in other areas of your foot</a>.</p>"
}) }}

{{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}

{% endblock %}
