{% set title = 'Health A to Z | Test page' %}

{% extends 'page.njk' %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false",
      "homeHref": "/test-pages/nhsuk-homepage.html"
    })
  }}
{% endblock %}

{% block body %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "/test-pages/nhsuk-homepage.html",
    text: "Home"
  }) }}
{% endblock %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1>Health A to Z</h1>

        {{ azNav({
          "items": [
            {
              "label": "A"
            },
            {
              "label": "B"
            },
            {
              "label": "C"
            },
            {
              "label": "D"
            },
            {
              "label": "E"
            },
            {
              "label": "F"
            },
            {
              "label": "G"
            },
            {
              "label": "H"
            },
            {
              "label": "I"
            },
            {
              "label": "J"
            },
            {
              "label": "K"
            },
            {
              "label": "L"
            },
            {
              "label": "M"
            },
            {
              "label": "N"
            },
            {
              "label": "O"
            },
            {
              "label": "P"
            },
            {
              "label": "Q"
            },
            {
              "label": "R"
            },
            {
              "label": "S"
            },
            {
              "label": "T"
            },
            {
              "label": "U"
            },
            {
              "label": "V"
            },
            {
              "disable": "true",
              "label": "W"
            },
            {
              "disable": "true",
              "label": "X"
            },
            {
              "disable": "true",
              "label": "Y"
            },
            {
              "disable": "true",
              "label": "Z"
            }
          ]
        }) }}

        <ol class="nhsuk-list">
          <li>
          {{ listPanel({
            "label": "A",
            "id": "A",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "AAA"
              },
              {
                "URL": "#",
                "link": "Abdominal aortic aneurysm"
              },
              {
                "URL": "#",
                "link": "Abscess"
              },
              {
                "URL": "/test-pages/ankle-pain.html",
                "link": "Ankle pain"
              },
              {
                "URL": "/test-pages/amd/",
                "link": "Age-related macular degeneration (AMD)"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "B",
            "id": "B",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Back pain"
              },
              {
                "URL": "#",
                "link": "Barium enema"
              },
              {
                "URL": "#",
                "link": "Benign prostate enlargement"
              },
              {
                "URL": "#",
                "link": "Biopsy"
              },
              {
                "URL": "#",
                "link": "Black eye"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "C",
            "id": "C",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "/test-pages/chickenpox.html",
                "link": "Chickenpox"
              },
              {
                "URL": "#",
                "link": "Cold sore"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "D",
            "id": "D",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Dandruff"
              },
              {
                "URL": "#",
                "link": "Dementia"
              },
              {
                "URL": "#",
                "link": "Dental pain"
              }
            ]
          }) }}
          <li>
          {{ listPanel({
            "label": "E",
            "id": "E",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Ear infections"
              },
              {
                "URL": "#",
                "link": "Earache"
              },
              {
                "URL": "#",
                "link": "Eardrum (burst)"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "F",
            "id": "F",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Fabricated or induced illness"
              },
              {
                "URL": "#",
                "link": "Face blindness"
              },
              {
                "URL": "#",
                "link": "Fainting"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "G",
            "id": "G",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Gallbladder cancer"
              },
              {
                "URL": "#",
                "link": "Gastroparesis"
              },
              {
                "URL": "#",
                "link": "Gastroscopy"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "H",
            "id": "H",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Haemochromatosis"
              },
              {
                "URL": "#",
                "link": "Haemophilia"
              },
              {
                "URL": "#",
                "link": "Haemophilus influenzae type b (Hib)"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "I",
            "id": "I",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "IBS"
              },
              {
                "URL": "#",
                "link": "Ibuprofen"
              },
              {
                "URL": "#",
                "link": "Ichthyosis"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "J",
            "id": "J",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Japanese encephalitis"
              },
              {
                "URL": "#",
                "link": "Jaundice"
              },
              {
                "URL": "#",
                "link": "Jaundice in newborns"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "K",
            "id": "K",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Kaposi's sarcoma"
              },
              {
                "URL": "#",
                "link": "Kawasaki disease"
              },
              {
                "URL": "#",
                "link": "Kidney transplant"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "L",
            "id": "L",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Labial fusion"
              },
              {
                "URL": "#",
                "link": "Laparoscopy (keyhole surgery)"
              },
              {
                "URL": "#",
                "link": "Laxatives"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "M",
            "id": "M",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Malaria"
              },
              {
                "URL": "#",
                "link": "Mastitis"
              },
              {
                "URL": "#",
                "link": "Meningitis"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "N",
            "id": "N",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Nail fungal infection"
              },
              {
                "URL": "#",
                "link": "Nasal and sinus cancer"
              },
              {
                "URL": "#",
                "link": "Nausea"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "O",
            "id": "O",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Obesity"
              },
              {
                "URL": "#",
                "link": "Oesophageal cancer"
              },
              {
                "URL": "#",
                "link": "Osteoarthritis"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "P",
            "id": "P",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Pacemaker implantation"
              },
              {
                "URL": "#",
                "link": "Panic disorder"
              },
              {
                "URL": "#",
                "link": "Parkinson's disease"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "Q",
            "id": "Q",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Q fever"
              },
              {
                "URL": "#",
                "link": "Quinsy"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "R",
            "id": "R",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Rabies"
              },
              {
                "URL": "#",
                "link": "Red eye"
              },
              {
                "URL": "#",
                "link": "Reye's syndrome"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "S",
            "id": "S",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Salivary gland stones"
              },
              {
                "URL": "#",
                "link": "Scarlet fever"
              },
              {
                "URL": "#",
                "link": "Selective mutism"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "T",
            "id": "T",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Tapeworms"
              },
              {
                "URL": "#",
                "link": "Tendonitis"
              },
              {
                "URL": "#",
                "link": "Tetanus"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "U",
            "id": "U",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Ulcerative colitis"
              },
              {
                "URL": "#",
                "link": "Unintentional weight loss"
              },
              {
                "URL": "#",
                "link": "Uveitis"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "V",
            "id": "V",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "items": [
              {
                "URL": "#",
                "link": "Vaccinations"
              },
              {
                "URL": "#",
                "link": "Varicose eczema"
              },
              {
                "URL": "#",
                "link": "Vitiligo"
              }
            ]
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "W",
            "id": "W",
            "disable": "true",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "message": "There are currently no conditions listed"
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "X",
            "id": "X",
            "disable": "true",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "message": "There are currently no conditions listed"
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "Y",
            "id": "Y",
            "disable": "true",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "message": "There are currently no conditions listed"
          }) }}
          </li>
          <li>
          {{ listPanel({
            "label": "Z",
            "id": "Z",
            "disable": "true",
            "backToTop": "true",
            "backToTopLink": "#nhsuk-nav-a-z",
            "message": "There are currently no conditions listed"
          }) }}
          </li>
        </ol>

      </div>
    </div>
  </main>
</div>

{% endblock %}
