{% set title = 'Install - NHS.UK frontend' %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

<h1>Success</h1>

<p class="nhsuk-lede-text">You have successfully signed up to the Dementia newsletter.</p>

{{ backLink({
  "href": "/pages/examples.html",
  "text": "Back to Test pages"
}) }}

{% endblock %}

