{% set title = 'Newsletter signup - NHS.UK frontend' %}

{% extends 'page.njk' %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false",
      "homeHref": "/test-pages/nhsuk-homepage.html"
    })
  }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/nhsuk-frontend/",
        text: "NHS.UK frontend"
      }
    ],
    href: "/pages/examples.html",
    text: "Test pages"
  }) }}
{% endblock %}

{% block content %}

<h1>Dementia newsletter signup</h1>

<form name="signup" id="ds_signup" action="/test-pages/newsletter-success.html" >

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">Contact details</legend>
    <div class="nhsuk-form-group" id="ds_firstnameGroup">
      <label for="ds_firstname" class="nhsuk-label">First name</label>
      <input type="text" id="ds_firstname" class="nhsuk-input nhsuk-input--width-20" name="cd_FIRSTNAME">
    </div>
    <div class="nhsuk-form-group" id="ds_lastnameGroup">
      <label for="ds_lastname" class="nhsuk-label">Last name</label>
      <input type="text" id="ds_lastname" class="nhsuk-input nhsuk-input--width-20" name="cd_LASTNAME">
    </div>
    <div class="nhsuk-form-group" id="ds_emailGroup">
      <label for="ds_email" class="nhsuk-label">Email address</label>
      <span class="nhsuk-hint">For example you@example.com</span>
      <input id="ds_email" class="nhsuk-input nhsuk-input--width-20" name="Email">
    </div>
  </fieldset>

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend">Pick one of the following:</legend>
      <div class="nhsuk-radios">
        <div class="nhsuk-radios__item">
          <input type="radio" class="nhsuk-radios__input" name="cd_DEMENTIAINFO" id="ds_status_1" value="I have been diagnosed with dementia">
          <label for="ds_status_1" class="nhsuk-label nhsuk-radios__label">I have been diagnosed with dementia</label>
        </div>
        <div class="nhsuk-radios__item">
            <input type="radio" class="nhsuk-radios__input" name="cd_DEMENTIAINFO" id="ds_status_2" value="I am a carer">
            <label for="ds_status_2" class="nhsuk-label nhsuk-radios__label">I am a carer</label>
        </div>
        <div class="nhsuk-radios__item">
            <input type="radio" class="nhsuk-radios__input" name="cd_DEMENTIAINFO" id="ds_status_3" value="Other">
            <label for="ds_status_3" class="nhsuk-label nhsuk-radios__label">Other</label>
        </div>
      </div>
    </fieldset>
    <fieldset class="nhsuk-fieldset">
      <div id="ds_statusDetailGroup" style="display:none" class="nhsuk-form-group nhsuk-u-margin-top-4">
        <label for="ds_status_detail" class="nhsuk-label">Please give more detail</label>
        <input type="text" id="ds_status_detail" class="nhsuk-input" name="status_detail">
      </div>
    </fieldset>
  </div>

  <p>We will send you a weekly email for 6 weeks, and will occasionally send you other relevant health information via email (for example surveys about your use of the service)</p>

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">Agree personalised emails</legend>
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" type="checkbox" name="agree_terms" id="ds_agree_1" value="1">
              <label for="ds_agree_1" class="nhsuk-label nhsuk-checkboxes__label">I agree to the data I have provided being used to personalise the emails I receive from the NHS website</label>
          </div>
        </div>
    </fieldset>
  </div>

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">Agree use of data to improve services</legend>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" type="checkbox" name="agree_terms_2" id="ds_agree_2" value="1">
          <label for="ds_agree_2" class="nhsuk-label nhsuk-checkboxes__label">I agree to usage data being collected automatically in order for the NHS website to evaluate and improve the services we provide</label>
        </div>
      </div>
    </fieldset>
  </div>

  <p>View our full <a href="#">Terms &amp; Conditions</a> and <a href="https://www.nhs.uk/our-policies/privacy-policy/" target="_blank">Privacy Policy</a></p>

  <button type="submit" class="nhsuk-button">Submit</button>

</form>

{% endblock %}
