{% set title = 'Install - NHS.UK frontend' %}

{% extends 'page.njk' %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false",
      "homeHref": "/test-pages/nhsuk-homepage.html"
    })
  }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "NHS.UK frontend"
      }
    ],
    href: "/pages/examples.html",
    text: "Test pages"
  }) }}
{% endblock %}

{% block content %}

<h1>Success</h1>

<p class="nhsuk-lede-text">You have successfully signed up to the Dementia newsletter.</p>

{{ backLink({
  "href": "/pages/examples.html",
  "text": "Back to Test pages"
}) }}

{% endblock %}

