@use "sass:map";
@use "../settings" as *;
@use "../tools" as *;

////
/// Grid
///
/// @group objects/layout
////

@include nhsuk-exports("nhsuk/core/objects/grid") {
  .nhsuk-grid-row {
    margin-right: -($nhsuk-gutter-half);
    margin-left: -($nhsuk-gutter-half);
    @include nhsuk-clearfix;
  }

  @each $width in map.keys($nhsuk-grid-widths) {
    .nhsuk-grid-column-#{$width}-from-mobile {
      @include nhsuk-grid-column($width, $at: mobile);
    }
  }

  @each $width in map.keys($nhsuk-grid-widths) {
    .nhsuk-grid-column-#{$width} {
      @include nhsuk-grid-column($width);
    }
  }

  // These *must* be defined in a separate loop as they have the same
  // specificity as the non-breakpoint specific classes, so need to appear after
  // them in the outputted CSS
  @each $width in map.keys($nhsuk-grid-widths) {
    .nhsuk-grid-column-#{$width}-from-desktop {
      @include nhsuk-grid-column($width, $at: desktop);
    }
  }
}
