{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Back link as a button' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% extends 'page.njk' %}

{% block beforeContent %}
  {{ backLink({
    text: "Go back",
    element: "button"
  }) }}
{% endblock %}

{% block heading %}
  <h1 class="govuk-heading-l">Page title</h1>
{% endblock %}
