{% set title = 'Back link as a button' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "text": "Go back",
        "element": "button"
      }) }}
    </div>
  </div>
{% endblock %}
