{% set title = 'Getting diagnosed - Age-related macular degeneration (AMD)' %}
{% set parent = 'Age-related macular degeneration (AMD)' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/callout.html" import callout %}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}

{% block body %}

	{% include 'partials/breadcrumb/breadcrumb-amd.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>Getting diagnosed <small>Age-related macular degeneration (AMD)</small></h1>
						
						<aside class="nhsuk-c-page-contents v3 v4" role="complementary">
							<nav role="navigation" aria-label="Pages in this guide">
								<h2 class="visually-hidden">Contents</h2>
								<ol>
									<li><a href="/examples/test-minihub-amd-v2">What is AMD?</a></li>
									<li><a href="/examples/test-minihub-amd-v2/symptoms">Symptoms</a></li>
									<li class="active" aria-current="true">Getting diagnosed</li>
									<li><a href="/examples/test-minihub-amd-v2/treatments">Treatments</a></li>
									<li><a href="/examples/test-minihub-amd-v2/living-with-amd">Living with AMD</a></li>
								</ol>
							</nav>
						</aside>

					</div>
				
					<div class="nhsuk-page-content">
										
						<h2>What happens at your opticians appointment</h2>

						<p>You'll be seen by a specialist called an optometrist.</p>
						
						<p>They'll use a magnifying glass with a light to look at the back of your eyes and check your vision.</p>
						
						<p>They may put drops in your eyes to make it easier for them to spot any problems. These can make your vision blurry for a few hours.</p>

						{{ callout("Important", "<p>Don't drive until your vision goes back to normal. This may take 4 to 6 hours.</p>") }}

						<h2>Referral to a specialist</h2>
						
						<p>Sometimes you may be referred to an eye doctor (ophthalmologist) or specialist AMD service. This is usually only necessary if there's a possibility you'll need to start treatment quickly. You should be referred within a day.</p>
						
						<p>You may have more tests, such as a scan of the back of your eyes.</p>

						<h2>What happens if you're diagnosed with AMD</h2>
						
						<p>If you're diagnosed with AMD, the specialist will talk to you about what it is, what type you have and what the treatment options are.</p>

						<div class="nhsuk-c-reveal-group">
							<div class="nhsuk-c-reveal white">
								<a class="nhsuk-c-reveal__header">Types of AMD</a>
								<div class="nhsuk-c-reveal__content">
									<table class="nhsuk-table">
									<thead>
									<tr>
										<th>Dry AMD</th>
										<th>Wet AMD</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Caused by a build-up of a fatty substance called drusen at the back of the eyes</td>
										<td>Caused by the growth of abnormal blood vessels at the back of the eyes</td>
									</tr>
									<tr>
										<td>Common</td>
										<td>Less common</td>
									</tr>
									<tr>
										<td>Gets worse gradually – usually over several years</td>
										<td>Can get worse quickly – sometimes in days or weeks</td>
									</tr>
									<tr>
										<td>No treatment – unless it develops into wet AMD</td>
										<td>Treatment can help stop vision getting worse</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>

							<script>
								$( ".nhsuk-c-reveal__header" ).click(function() {
									$( ".nhsuk-c-reveal__content" ).toggle();
									$(this).toggleClass("open");
									return false;
								});
							</script>

						</div>

						<p>It might be difficult to take in everything the specialist tells you.</p>
						
						<p>If you're unsure about something later, write down any questions you have and make another appointment to go over them.</p>

						<p>The <a href="https://www.macularsociety.org/" title="External website">Macular Society</a> has information you might find useful. It also has a helpline on 0300 3030 111.</p>
						{{ reviewdate("12/02/2016", "01/02/2019") }}
						{{ miniHubPagination("/examples/test-minihub-amd-v2/symptoms", "Symptoms", "/examples/test-minihub-amd-v2/treatments", "Treatments")}}

					</div>

				</div>
			</div>
        </main>
	</div>
	

{% endblock %}
