{% set title = 'Age-related macular degeneration (AMD)' %}
{% set parent = 'Health A-Z' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}

{% block body %}

	{% include 'partials/global-alert/global-alert-notice.html' %}

	{% include 'partials/breadcrumb/breadcrumb.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>What is AMD? <small>Age-related macular degeneration (AMD)</small></h1>
						
						<aside class="nhsuk-c-page-contents v3 v4" role="complementary">
							<nav role="navigation" aria-label="Pages in this guide">
								<h2 class="visually-hidden">Contents</h2>
								<ol>
									<li class="active" aria-current="true">What is AMD?</li>
									<li><a href="/examples/test-minihub-amd-v2/symptoms">Symptoms</a></li>
									<li><a href="/examples/test-minihub-amd-v2/getting-diagnosed">Getting diagnosed</a></li>
									<li><a href="/examples/test-minihub-amd-v2/treatments">Treatments</a></li>
									<li><a href="/examples/test-minihub-amd-v2/living-with-amd">Living with AMD</a></li>
								</ol>
							</nav>
						</aside>

					</div>
				
					<div class="nhsuk-page-content">
										
						<ul>
						<li><strong>Age-related macular degeneration (AMD) is a common condition that affects the middle part of your vision.</strong> It usually first affects people in their 50s and 60s.</li>
						<li><strong>It doesn't cause total blindness.</strong> But it can make everyday activities like reading and recognising faces difficult.</li>
						<li><strong>Without treatment, your vision may get worse.</strong> This can happen gradually over several years ("dry AMD"), or quickly over a few weeks or months ("wet AMD").</li>
						<li><strong>The exact cause is unknown.</strong> It's been linked to smoking, high blood pressure, being overweight and having a family history of AMD.</li>
						</ul>

						{{ reviewdate("12/02/2016", "01/02/2019") }}

						{{ miniHubPaginationNext("/examples/test-minihub-amd-v2/symptoms", "Symptoms")}}

					</div>

				</div>
			</div>
        </main>
	</div>
	


{% endblock %}
