{% set title = 'Symptoms - Age-related macular degeneration (AMD)' %}
{% set parent = 'Age-related macular degeneration (AMD)' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/action-link.html" import actionLink %}
{% from "macros/care-card.html" import carecard %}
{% from "macros/keypoint.html" import keypoint %}
{% from "macros/image.html" import image %}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}

{% block body %}

	{% include 'partials/breadcrumb/breadcrumb-amd.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>Symptoms <small>Age-related macular degeneration (AMD)</small></h1>
						
						<aside class="nhsuk-c-page-contents v3 v4" role="complementary">
							<nav role="navigation" aria-label="Pages in this guide">
								<h2 class="visually-hidden">Contents</h2>
								<ol>
									<li><a href="/examples/test-minihub-amd-v2">What is AMD?</a></li>
									<li class="active" aria-current="true">Symptoms</li>
									<li><a href="/examples/test-minihub-amd-v2/getting-diagnosed">Getting diagnosed</a></li>
									<li><a href="/examples/test-minihub-amd-v2/treatments">Treatments</a></li>
									<li><a href="/examples/test-minihub-amd-v2/living-with-amd">Living with AMD</a></li>
								</ul>
							</nav>
						</aside>

					</div>
				
					<div class="nhsuk-page-content">
										
						<p>AMD affects the middle part of your vision, not the edges (peripheral vision).</p>

						<p>You can get it in one eye or both.</p>

						<div class="nhsuk-o-grid">
							<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
									{{ image("Blurred book showing what vision is like for a person with early AMD", "https://assets.nhs.uk/prod/images/NHSC_0218_AMD_Version2.2e16d0ba.fill-320x213.jpg", "<p>The first symptom is often a blurred or distorted area in your vision</p>") }}
									
									{{ image("A dark patch in the vision of someone with AMD", "https://assets.nhs.uk/prod/images/S_0218_AMD_C0037144.2e16d0ba.fill-320x213.jpg", "<p>If it gets worse, you might struggle to see anything in the middle of your vision</p>") }}
							</div>
						</div>

						<p>AMD can make things like reading, watching TV, driving or recognising faces difficult.</p>

						<p>Other symptoms include:</p>
						
						<ul>
						<li>seeing straight lines as wavy or crooked</li>
						<li>objects looking smaller than normal</li>
						<li>colours seeming less bright than they used to</li>
						<li>seeing things that aren't there (hallucinations)</li>
						</ul>
						
						<p>AMD isn't painful and doesn't affect the appearance of your eyes.</p>

						{{ keypoint("<p>Sometimes AMD may be found during a routine eye test before you have symptoms.</p>") }}

						{{ carecard("blue", "See an optician if you're worried about your vision", "
												<p>If you have a problem with your eyes, early diagnosis and treatment may help stop your vision getting worse.</p>
												<a href='/service-search/Opticians/LocationSearch/9' class='nhsuk-c-action-link'>
        									<svg class='nhsuk-icon nhsuk-icon__arrow-right-circle' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'>
  													<path d='M0 0h24v24H0z' fill='none'></path>
  													<path d='M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z'></path>
  													<image class='nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback' src='images/icon-arrow-right.png' xlink:href=''></image>
													</svg>
													<span>Find an opticians</span>
    										</a>
						") }}
						
						{{ carecard("red", "Get an urgent opticians appointment if:", "
								<ul>
									<li>your vision gets suddenly worse </li>
									<li>you have a dark 'curtain' or shadow moving across your vision</li>
									<li>your eye is red and painful</li>
								</ul>
								<p>These aren't symptoms of AMD but can be signs of other eye problems that need to be treated immediately.</p>
								<p><strong>Go to A&amp;E or call 111 straight away if you can't get an urgent appointment.</strong></p>
								<a href='/service-search/accident-and-emergency-services/locationsearch/428' class='nhsuk-c-action-link'>
									<svg class='nhsuk-icon nhsuk-icon__arrow-right-circle' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'>
										<path d='M0 0h24v24H0z' fill='none'></path>
										<path d='M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z'></path>
										<image class='nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback' src='images/icon-arrow-right.png' xlink:href=''></image>
									</svg>
									<span>Find an A&amp;E department</span>
								</a>
						") }}

						{{ reviewdate("12/02/2016", "01/02/2019") }}

						{{ miniHubPagination("/examples/test-minihub-amd-v2", "What is AMD?", "/examples/test-minihub-amd-v2/getting-diagnosed", "Getting diagnosed")}}


					</div>

				</div>
			</div>
        </main>
	</div>
	


{% endblock %}
