// sass-lint:disable no-duplicate-properties, property-sort-order

@mixin top-and-bottom(){
  & > *:first-child {
      margin-top: 0;
  }
  & > *:last-child {
      margin-bottom: 0;
  }
}

@mixin nhsuk-tab() {
  left: -8px;
  position: absolute;
  top: -16px;
  @include mq($until: grid-collapse) {
      left: -4px;
      top: -12px;
  }
}

@mixin nhsuk-component-center(){
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  @include mq($until: grid-collapse) {
      width: 100%;
  }
}
