{% set title = 'Action link' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}
{% from "macros/action-link.html" import actionLink %}

{% block header %}
    <h1>Action link</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__development">Development</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ul>
		<li><a href="#user-need">User need</a></li>
		<li><a href="#usage">Where it's currently being used</a></li>
		<li><a href="#hypothesis">Hypothesis</a></li>
		<li><a href="#iterations">Iterations</a></li>
        <li><a href="#final-version">Final version</a></li>
		<li><a href="#accessibility">Accessibility</a></li>
		<li><a href="#rules">Rules</a></li>
    </ul>
{% endblock %}

{% block content %}
	<h2 id="user-needs">User need</h2>
    <ul>
		<li>As a user I NEED to know which links on the page can take me to important information or useful tools SO THAT I can continue to find important information relevant to my situation.</li>
	</ul>

	<h2 id="usage">Where it's currently being used</h2>
	<p>...</p>

	<h2 id="hypothesis">Hypothesis</h2>
	<p>...</p>

	<h2 id="iterations">Iterations</h2>
	<div class="example grey-background">
		<h3 class="nhsuk-heading-xs">Version 1</h3>
		<img class="component-image" src="../images/components/action-link-v1.png" width="215">
	</div>

	<h2 id="final-version">Final version</h2>
	
	<div class="example grey-background">
		<h3 class="nhsuk-heading-xs">Version 2</h3>
		{{ actionLink("https://beta.nhs.uk/find-a-pharmacy/", "Find a pharmacy") }}
	</div>
	
	<div class="example-snippet">
		<p>...</p>
	</div>

	<h2 id="accessibility">Accessibility</h2>
	<p>...</p>

	<h2 id="rules">Rules</h2>
	<ul>
		<li>Should only be used for links to start important or transactional journeys e.g. finding a pharmacy (using the tool) on the slipped disc page, or finding a walk-in clinic (using the service search) on the chest pain page.</li>
	</ul>
{% endblock %}
