{% set title = 'Alpha / beta banner' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>'This service is new' banner<br />
    (Alpha / Beta)</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__design">Research &amp; Design</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
    <li><a href="#userneed">User needs</a></li>
    <li><a href="#whatsused">What's currently being used</a></li>
    <li><a href="#hypothesis">Our hypothesis</a></li>
    <li><a href="#Iterations">Iterations</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#example">Examples</a></li>
    <li><a href="#accessibility">Accessibility</a></li>

    </ul>
{% endblock %}

{% block content %}
  <h2 id="userneed">User needs</h2>
    <p>As a user I need to identify the status of the service (information page) so I'm aware that the service is still in development.</p>
    <p>As a user I need to provide feedback about the service (information page) so that my needs are met in the future.</p>

  <h2 id="whatsused">What's currently being used</h2>
  <p><a href="https://111.nhs.uk/">111 online</a></p>
  <img class="component-image " src="../images/components/beta-111online.png" />

  <p><a href="https://apps.beta.nhs.uk/">Apps library</a></p>
  <img class="component-image " src="../images/components/beta-appslibrary.png" />

  <p><a href="https://beta.nhs.uk/conditions/chlamydia/about/?WT.mc_id=ChlamydiaBanner">Chlamydia</a></p>
  <img class="component-image " src="../images/components/beta-findachlamydiatest.png" />

  <p><a href="https://beta.nhs.uk/">Beta homepage</a></p>
  <img class="component-image " src="../images/components/beta-homepage.png" />

  <p><a href="https://beta.nhs.uk/medicines/">Medicines Information</a></p>
  <img class="component-image " src="../images/components/beta-medicines.png" />

  <p><a href="https://your-data-matters.service.nhs.uk/">Your data matters</a></p>
  <img class="component-image " src="../images/components//beta-yourdata.png" />



    <h2 id="hypothesis">Our hypothesis</h2>
    <p>We believe</p> 
    <ul>
        <li>the context of the service is what sets expectations</li>
        <li>users don't understand the word or concept of alpha / beta </li>
         <li>alpha / beta de-values the quality of content in a health setting (where emotions run high)  </li>
         <li>Users may experience banner blindness and not notice an alpha beta message, especially with cookie banners etc.  </li>
         <li>Users need to know upfront (before reading the content) </li>
    </ul>

    <h2 id="Iterations">Iterations</h2>

    <div class="example version-1">
        <h3>Version 1</h3>
        
        {% include 'partials/global-alert/global-alert-new-page.html' %}

<p>Link to test page <a href="https://nhsuk-redesign.azurewebsites.net/examples/test-banner-new-page-v1"> https://nhsuk-redesign.azurewebsites.net/examples/test-banner-new-page-v1 (banner in context)</a></p>

    </div>





  <h2 id="example">Examples</h2>


  <div class="nhsuk-c-panel nhsuk-c-panel__with-border"></div>

  <div class="example-snippet">
    <p>...</p>
  </div>

  <h2 id="accessibility">Accessibility</h2>

  <ul>
    <li>Ensuring the colour contrast and sizing is AA minimum </li>
    <li>Having the message at the top of the page so screen readers are aware that the thing is new and they can feedback on it (before reading)  </li>

  </ul>

  <h2 id="usage">Usage</h2>

  <p>Once we test we will have an understanding of how this is being used</p>


{% endblock %}
