{% set title = 'Colours' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}
{% from "macros/keypoint.html" import keypoint %}

{% block header %}
    <h1>Colours</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="nhsuk-list">
        <li><a href="#contrast">Colour contrast</a></li>
        <li><a href="#main-palette">Main palette</a></li>
        <li><a href="#variables">Sass variables</a></li>
        <li><a href="#context">Colours in context</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">
    <h2 id="contrast" class="nhsuk-heading-l">Colour contrast</h2>
    <p>You must make sure that the contrast ratio of text and elements meets <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">level AA of the Web Content Accessibility Guidelines (WCAG 2.0)</a></p>
    <p>You can check colour contrasts online&nbsp;using:</p>
    <ul>
      <li><a href="http://webaim.org/resources/contrastchecker/">Web Aim's Colour Contrast Checker</a></li>
      <li><a href="http://colororacle.org/">Color Oracle (free colour blindness simulator)</a></li>
    </ul>
    <p>As well as using these tools, test colour contrast with people of all abilities.</p>

    <h2 id="main-palette">Main palette</h2>

    <h3>Brand colours</h3>

    <ul>
      <li>NHS Blue is the dominant colour in the NHS colour palette. See <a href="/styles/header-footer">header</a>, <a href="/styles/typography#typography-links">links</a>, <a href="/styles/care-cards">care cards</a> and <a href="/styles/callouts">key point</a></li>
      <li>White is used to make important information stand out and for alternating backgrounds</li>
    </ul>

    <div class="nhsuk-o-grid nhsuk-colour-wrapper nhsuk-o-flex">
    
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--blue nhsuk-colour--text-white nhsuk-o-flex__item">
          <p>$nhsuk-blue</p>
          <p>#005EB8</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--white nhsuk-colour--text-black nhsuk-o-flex__item">
          <p>$nhsuk-white</p>
          <p>#FFFFFF</p>
        </div>
      </div>

    </div>

    <h3>UI colours</h3>

    <ul>
      <li>Green is used in action buttons and links, see <a href="/styles/action-link">action link</a></li>
      <li>Purple is used for visited links</li>
      <li>Red is used for urgency and negative or destructive actions, see <a href="/styles/care-cards">care cards</a></li>
      <li>Yellow is used in warnings, see <a href="/styles/callouts">callouts</a></li>
      <li>Warm yellow is used for focus states, see <a href="#focus">focus colour</a></li>
    </ul>

    <div class="nhsuk-o-grid nhsuk-colour-wrapper nhsuk-o-flex">

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--green nhsuk-colour--text-white nhsuk-o-flex__item">
          <p>$nhsuk-green</p>
          <p>#007F3B</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--purple nhsuk-colour--text-white nhsuk-o-flex__item">
          <p>$nhsuk-purple</p>
          <p>#330072</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--red nhsuk-colour--text-white nhsuk-o-flex__item">
          <p>$nhsuk-red</p>
          <p>#DA291C</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--yellow nhsuk-colour--text-black nhsuk-o-flex__item">
          <p>$nhsuk-yellow</p>
          <p>#FFED00</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--warm-yellow nhsuk-colour--text-black nhsuk-o-flex__item">
          <p>$nhsuk-warm-yellow</p>
          <p>#FFB81C</p>
        </div>
      </div>

    </div>

    <h3>Greyscale</h3>

    <ul>
      <li>Black is used for headings and the main body copy, see <a href="#text-colours">text colours</a></li>
      <li>Grey 1 is used for secondary text, see <a href="#text-colours">text colours</a></li>
      <li>Grey 2, 3 and 4 are used for borders</li>
      <li>Grey 5 (page tint) is used for page backgrounds</li>
    </ul>

    <div class="nhsuk-o-grid nhsuk-colour-wrapper">

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--black nhsuk-colour--text-white">
          <p>$nhsuk-black</p>
          <p>#212B32</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--grey-1 nhsuk-colour--text-white">
          <p>$nhsuk-grey-1</p>
          <p>#425563</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--grey-2 nhsuk-colour--text-white">
          <p>$nhsuk-grey-2</p>
          <p>#768692</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--grey-3 nhsuk-colour--text-black">
          <p>$nhsuk-grey-3</p>
          <p>#AEB7BD</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--grey-4 nhsuk-colour--text-black">
          <p>$nhsuk-grey-4</p>
          <p>#D8DDE0</p>
        </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-colour nhsuk-colour--grey-5 nhsuk-colour--text-black">
          <p>$nhsuk-grey-5</p>
          <p>#F0F4F5</p>
        </div>
      </div>

    </div>

    <h4>We use a page tint because...</h4>
    <ul>
      <li>It gives us greater editorial flexibility - many pages have multiple callout boxes, and this allows us to pop important info out in white</li>
      <li>It reduces page glare for people in low-light conditions (e.g. Lying in bed looking at the Insomnia page at 3am)</li>
      <li>The British Dyslexia Association's 2018 guide to accessible content recommends dark text on a light (but not white) background</li>
    </ul>

    </div>

    <h2 id="extended" class="nhsuk-heading-l">Extended pallete</h2>

    <h2 id="variables" class="nhsuk-heading-l">Sass variables</h2>
    <p>Use the Sass variables listed below, so you’ll automatically get any updates to the colour palette when you update NHS.UK frontend.</p>

    <h2 id="context" class="nhsuk-heading-l">Colours in context</h2>

    <h3 class="nhsuk-heading-m">Text</h3>

    <table id="text-colours" class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-text-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-text-colour">$nhsuk-text-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-text-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-secondary-text-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-secondary-text-colour">$nhsuk-secondary-text-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-secondary-text-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Links</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-colour">$nhsuk-link-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-hover-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-hover-colour">$nhsuk-link-hover-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-hover-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-hover-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-hover-background-colour">$nhsuk-link-hover-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-hover-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-link-focus-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-focus-colour">$nhsuk-link-focus-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-focus-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-focus-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-focus-background-colour">$nhsuk-link-focus-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-focus-background-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-active-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-active-colour">$nhsuk-link-active-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-active-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-active-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-active-background-colour">$nhsuk-link-active-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-active-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-link-visited-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-visited-colour">$nhsuk-link-visited-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-visited-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Border</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-border-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-border-colour">$nhsuk-border-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-border-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Buttons</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th>Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-button-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-button-background-colour">$nhsuk-button-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-button-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-button-hover-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-button-hover-colour">$nhsuk-button-hover-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-button-hover-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Focus</h3>

    <table id="focus" class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-focus-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-focus-colour">$nhsuk-focus-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-focus-colour"></span></td>
        </tr>
      </tbody>
    </table>

{% endblock %}
