{% set title = 'Reveals' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Reveals</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__design">Research &amp; Design</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
    <li><a href="#userneed">User needs</a></li>
    <li><a href="#whatsused">What's currently being used</a></li>
    <li><a href="#hypothesis">Our hypothesis</a></li>
    <li><a href="#Iterations">Iterations</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#example">Examples</a></li>
    <li><a href="#accessibility">Accessibility</a></li>

    </ul>
{% endblock %}

{% block content %}
  <h2 id="userneed">User needs</h2>
  <p>As a user, I want to learn about a health issue / complete a form at my own pace, so that I can fully understand the issue / process I'm undertaking  </p>

  <p>As a user I want further related information (on a specific point), so that I can quickly identify my health problem / manage my health.</p>

  <h2 id="whatsused">What's currently being used</h2>
<ul>
<li>Medicines Information - common questions <a href="https://beta.nhs.uk/medicines/acrivastine/">https://beta.nhs.uk/medicines/acrivastine/</a></li>
<li>Guides - Secondary nav <a href="https://www.nhs.uk/conditions/social-care-and-support/how-can-i-get-social-care-support/">https://www.nhs.uk/conditions/social-care-and-support/how-can-i-get-social-care-support/</a> </li>
<li>Find a pharmacy - opening times <a href="https://beta.nhs.uk/find-a-pharmacy/results?location=LS1">https://beta.nhs.uk/find-a-pharmacy/results?location=LS1</a> </li>
<li>Getting tested for chlamydia - <a href="https://beta.nhs.uk/find-a-chlamydia-test/recommend?symptoms=yes">https://beta.nhs.uk/find-a-chlamydia-test/recommend?symptoms=yes</a> </li>
<li>Your data matters - <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/">https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/</a> </li>


</ul>

<h2 id="hypothesis">Our hypothesis</h2>
    <p>There is currently no consistency in UI or iconography.</p> 
    <p>We believe that a consistent reveal will</p> 
    <ul>
      <li>help with access needs (consistent labeling)</li>
      <li>help with users mental model (speed up future use)</li>
      <li>using our own suite of icons - help reinforce our branding </li>
    </ul>

    <p>We believe that a successful reveal will</p>
    <ul>
      <li>Follow existing models for reveal interactions (icon left)</li>
      <li>Large enough icon as target </li>
      <li>To open reveal, icon arrow facing down</li>
      <li>To close reveal, icon arrow facing up</li>

    </ul>

    <h2 id="Iterations">Iterations</h2>


	  <div class="example grey-background">
    <h3>Version 1</h3>

      <div  style="background-color: #fff;padding:0.1em 0.5em 0.5em 1em;margin-top:1em;">
<p>Open till midnight</p>
          <details class="c-reveal__details" role="group" >
            <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-1" role="button">
              <p class="c-reveal__header" style="font-weight: 400; text-decoration: underline;">Opening times</p>
            </summary>
            <div class="c-reveal__content" id="question-1" aria-hidden="true">
                <table class="openingTimes">
                    <tbody><tr><th align="left" style="padding-right:2em;"><strong>Day of the week</strong></th><th align="left"><strong>Opening hours</strong></th></tr>
                      <tr>
                            <th rowspan="1" align="left">Monday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Tuesday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Wednesday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Thursday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Friday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Saturday</th>
                            <td>9am to 1pm</td>
                          </tr>
                          <tr>
                          <th align="left">Sunday</th>
                          <td align="left">Closed</td>
                        </tr>
                      </tbody></table>
            </div>
          </details>

        </div>

        <h3>Research findings</h3>    
<p>20th June 2018 - Roundhay Research, Leeds </p>

<p>Most users (4/5) noticed and tapped in the page contents (reveal), understanding its function. </p>

</div>

	<div class="example grey-background">
        <h3>Version 2</h3>

        <p>Our hypothesis:</p>
        <ul>
          <li>Text doesn't need underlining, users know its a clickable link - majority click the icon. We can remove visual noise my removing the underline. </li>
          <li>Make the text bold to ensure its different from body copy</li>
          <li>There are too many arrows - from action links to breadcrumbs, so we're hoping to consider + and - to indicate open and close.</li>
        </ul>

        <div  style="background-color: #fff;padding:0.1em 0.5em 0.5em 1em;margin-top:1em;">
  <p>Open till midnight</p>
            <details class="c-reveal__details" role="group" >
              <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-1" role="button">
                <p class="c-reveal__header">Opening times</p>
              </summary>
              <div class="c-reveal__content" id="question-1" aria-hidden="true">
                  <table class="openingTimes">
                      <tbody><tr><th align="left" style="padding-right:2em;"><strong>Day of the week</strong></th><th align="left"><strong>Opening hours</strong></th></tr>
                        <tr>
                              <th rowspan="1" align="left">Monday</th>
                              <td>9am to 6pm</td>
                            </tr>
                            <tr>
                              <th rowspan="1" align="left">Tuesday</th>
                              <td>9am to 6pm</td>
                            </tr>
                            <tr>
                              <th rowspan="1" align="left">Wednesday</th>
                              <td>9am to 6pm</td>
                            </tr>
                            <tr>
                              <th rowspan="1" align="left">Thursday</th>
                              <td>9am to 6pm</td>
                            </tr>
                            <tr>
                              <th rowspan="1" align="left">Friday</th>
                              <td>9am to 6pm</td>
                            </tr>
                            <tr>
                              <th rowspan="1" align="left">Saturday</th>
                              <td>9am to 1pm</td>
                            </tr>
                            <tr>
                            <th align="left">Sunday</th>
                            <td align="left">Closed</td>
                          </tr>
                        </tbody></table>
              </div>
            </details>
  
          </div>

    </div>


<h2 id="usage">Usage</h2>
  <ul>
    <li>consider the context</li>
    <li>don’t over do it</li>
    <li>don't hide important content from people</li>
    <li>don't force users to interact needlessly with the page</li>
    <li>If a majority of users need that content, <strong>don’t hide it.</strong></li>
  </ul>
  <p>Done well, reveals:</p>
      <ul>
        <li>keep a page focussed and uncluttered</li>
        <li>deliver targeted content to those people who need it</li>
        <li>reduce the cognitive load on your users</li>
      </ul>

      <p>From the Android design principles:</p>

      <p>"Only show what I need when I need it. People get overwhelmed when they see too much at once. Break tasks and information into small, digestible chunks. Hide options that aren't essential at the moment, and teach people as they go." http://developer.android.com/design/get-started/principles.html</p>





  <h2 id="example">Examples</h2>


  <script>
    // <details> polyfill
    // http://caniuse.com/#feat=details
    // FF Support for HTML5's <details> and <summary>
    // https://bugzilla.mozilla.org/show_bug.cgi?id=591737
    // http://www.sitepoint.com/fixing-the-details-element/
    ; (function () {
      'use strict'
      var NATIVE_DETAILS = typeof document.createElement('details').open === 'boolean'
      // Add event construct for modern browsers or IE
      // which fires the callback with a pre-converted target reference
      function addEvent(node, type, callback) {
        if (node.addEventListener) {
          node.addEventListener(type, function (e) {
            callback(e, e.target)
          }, false)
        } else if (node.attachEvent) {
          node.attachEvent('on' + type, function (e) {
            callback(e, e.srcElement)
          })
        }
      }
      // Handle cross-modal click events
      function addClickEvent(node, callback) {
        // Prevent space(32) from scrolling the page
        addEvent(node, 'keypress', function (e, target) {
          if (target.nodeName === 'SUMMARY') {
            if (e.keyCode === 32) {
              if (e.preventDefault) {
                e.preventDefault()
              } else {
                e.returnValue = false
              }
            }
          }
        })
        // When the key comes up - check if it is enter(13) or space(32)
        addEvent(node, 'keyup', function (e, target) {
          if (e.keyCode === 13 || e.keyCode === 32) { callback(e, target) }
        })
        addEvent(node, 'mouseup', function (e, target) {
          callback(e, target)
        })
      }
      // Get the nearest ancestor element of a node that matches a given tag name
      function getAncestor(node, match) {
        do {
          if (!node || node.nodeName.toLowerCase() === match) {
            break
          }
          node = node.parentNode
        } while (node)
        return node
      }
      // Create a started flag so we can prevent the initialisation
      // function firing from both DOMContentLoaded and window.onload
      var started = false
      // Initialisation function
      function addDetailsPolyfill(list) {
        // If this has already happened, just return
        // else set the flag so it doesn't happen again
        if (started) {
          return
        }
        started = true
        // Get the collection of details elements, but if that's empty
        // then we don't need to bother with the rest of the scripting
        if ((list = document.getElementsByTagName('details')).length === 0) {
          return
        }
        // else iterate through them to apply their initial state
        var n = list.length
        var i = 0
        for (i; i < n; i++) {
          var details = list[i]
          // Save shortcuts to the inner summary and content elements
          details.__summary = details.getElementsByTagName('summary').item(0)
          details.__content = details.getElementsByTagName('div').item(0)
          // If the content doesn't have an ID, assign it one now
          // which we'll need for the summary's aria-controls assignment
          if (!details.__content.id) {
            details.__content.id = 'details-content-' + i
          }
          // Add ARIA role="group" to details
          details.setAttribute('role', 'group')
          // Add role=button to summary
          details.__summary.setAttribute('role', 'button')
          // Add aria-controls
          details.__summary.setAttribute('aria-controls', details.__content.id)
          // Set tabIndex so the summary is keyboard accessible for non-native elements
          // http://www.saliences.com/browserBugs/tabIndex.html
          if (!NATIVE_DETAILS) {
            details.__summary.tabIndex = 0
          }
          // Detect initial open state
          var openAttr = details.getAttribute('open') !== null
          if (openAttr === true) {
            details.__summary.setAttribute('aria-expanded', 'true')
            details.__content.setAttribute('aria-hidden', 'false')
          } else {
            details.__summary.setAttribute('aria-expanded', 'false')
            details.__content.setAttribute('aria-hidden', 'true')
            if (!NATIVE_DETAILS) {
              details.__content.style.display = 'none'
            }
          }
          // Create a circular reference from the summary back to its
          // parent details element, for convenience in the click handler
          details.__summary.__details = details
          // If this is not a native implementation, create an arrow
          // inside the summary
          if (!NATIVE_DETAILS) {
            var twisty = document.createElement('i')
            if (openAttr === true) {
              twisty.className = 'details__arrow is-open'
              twisty.appendChild(document.createTextNode('\u25bc'))
            } else {
              twisty.className = 'details__arrow is-closed'
              twisty.appendChild(document.createTextNode('\u25ba'))
            }
            details.__summary.__twisty = details.__summary.insertBefore(twisty, details.__summary.firstChild)
            details.__summary.__twisty.setAttribute('aria-hidden', 'true')
          }
        }
        // Define a statechange function that updates aria-expanded and style.display
        // Also update the arrow position
        function statechange(summary) {
          var expanded = summary.__details.__summary.getAttribute('aria-expanded') === 'true'
          var hidden = summary.__details.__content.getAttribute('aria-hidden') === 'true'
          // using a slight delay due to weird bug in Firefox not detecting click on the '+' or '-' correctly
          var ariaPause = setTimeout(function () {
            summary.__details.__summary.setAttribute('aria-expanded', (expanded ? 'false' : 'true'))
            summary.__details.__content.setAttribute('aria-hidden', (hidden ? 'false' : 'true'))
          }, 50);
          if (!NATIVE_DETAILS) {
            summary.__details.__content.style.display = (expanded ? 'none' : '')
            var hasOpenAttr = summary.__details.getAttribute('open') !== null
            if (!hasOpenAttr) {
              summary.__details.setAttribute('open', 'open')
            } else {
              summary.__details.removeAttribute('open')
            }
          }
          if (summary.__twisty) {
            summary.__twisty.firstChild.nodeValue = (expanded ? '\u25ba' : '\u25bc')
            summary.__twisty.setAttribute('class', (expanded ? 'details__arrow is-closed' : 'details__arrow is-open'))
          }
          return true
        }
        // Bind a click event to handle summary elements
        addClickEvent(document, function (e, summary) {
          if (!(summary = getAncestor(summary, 'summary'))) {
            return true
          }
          return statechange(summary)
        })
      }
      // Bind two load events for modern and older browsers
      // If the first one fires it will set a flag to block the second one
      // but if it's not supported then the second one will fire
      addEvent(document, 'DOMContentLoaded', addDetailsPolyfill)
      addEvent(window, 'load', addDetailsPolyfill)
    })()
    </script>
    <style>
    .o-list-sections {
      margin-top: 0;
    }
    .o-section__header:focus {
      outline: 0;
    }
    .c-common-questions__summary::-webkit-details-marker {
      display: none;
    }
    .c-common-questions {
      border: 2px #aeb7bd solid;
      margin-top: 30px;
      padding: 8px 0px 0px 0px;

    }
    .c-common-questions__summary {
      display: block;
    }
    .c-common-questions__header {
      border-top: 1px solid #ccc;
      background: url(/images/icon-open_v1.svg) left no-repeat;
      color: #0058ad;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.4em;
      margin-top: 0;
      padding: 18px 8px 18px 36px;
      text-decoration: none;
      margin-left: 16px;
      margin-right: 16px;
      width:28px;
    }
    .c-common-questions__header:hover,
    .c-common-questions__header:focus {
      text-decoration: underline;
    }
    .c-common-questions__details:first-child .c-common-questions__header {
      border-top: 0;
    }
    .c-common-questions__summary[aria-expanded="true"] .c-common-questions__header {
      background: url(/images/icon-minus_v1.svg) left no-repeat;
    }
    .c-common-questions__content {
      background: #fff;
      margin-bottom: 0em;
      padding: 1em;
    }


    .c-reveal__summary::-webkit-details-marker {
      display: none;
    }
    .c-reveal {
      border: 2px #aeb7bd solid;
      margin-top: 30px;
      padding: 8px 16px;
    }
    .c-reveal__summary {
      display: block;
    }
    .c-reveal__header {
      background: url(/images/icon-open_v1.svg) left no-repeat ;
      color: #0058ad;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.4em;
      margin-top: 0;
      padding: 18px 8px 18px 38px;
      text-decoration: none;
    }
    .c-reveal__header:hover,
    .c-reveal__header:focus {
      text-decoration: underline;
    }
    .c-reveal__details:first-child .c-common-questions__header {
      border-top: 0;
    }
    .c-reveal__summary[aria-expanded="true"] .c-reveal__header {
      background: url(/images/icon-minus_v1.svg) left no-repeat;
    }
    .c-reveal__content {
      margin-top:1em;
margin-bottom:1em;
    }


  .c-reveal-muted__summary::-webkit-details-marker {
      display: none;
    }
    .c-reveal-muted {
      border: 2px #aeb7bd solid;
      margin-top: 30px;
      padding: 8px 16px;
    }
    .c-reveal-muted__summary {
      display: block;
    }

    .c-reveal-muted__header {
      background: url(/images/icon-open_v1.svg)  left no-repeat ;
      color: #425462;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.4em;
      margin-top: 0;
      padding: 18px 8px 18px 36px;
      text-decoration: none;
    }
    .c-reveal-muted__header:hover,
    .c-reveal-muted__header:focus {
      text-decoration: underline;
    }
    .c-reveal-muted__details:first-child .c-common-questions__header {
      border-top: 0;
    }
    .c-reveal__summary[aria-expanded="true"] .c-reveal-muted__header {
      background: url(/images/icon-minus_v1.svg) left no-repeat;
    }

        .c-reveal-muted__summary[aria-expanded="true"] .c-reveal-muted__header {
      background: url(/images/icon-minus_v1.svg) left no-repeat;
    }







    .c-common-questions__content p:first-child {
      margin-top: 0;
    }
    .c-pain__header {
      border-top: none;
      color: #0058ad;
      cursor: pointer;
      font-size: 19px;
      font-weight: normal;
      line-height: 1.4em;
      margin-top: 0;
      padding: 18px 8px 18px 48px;
    }

    .expand-help__button[aria-expanded="false"]::before {
      content: '\25b6\00a0';
      speak: none;
    }

    .expand-help__button {
      font-size: 19px;
      line-height: 1.3157894737;
      color: #005ea5;
      -webkit-appearance: none;
      background: none;
      border: none;
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      text-decoration: underline;
      padding: 0;
      align-items: flex-start;
text-align: center;
    }

.expand-help__button[aria-expanded="false"]::before{
      content: '\25b6\00a0';
    speak: none;

}

.expand-help__heading {

  font-weight: bold
}

.form-group:after {
  content: "";
display: block;
clear: both;


}

details summary:focus {
    outline: 3px solid #ffb81c;
}

ul.painscale  {
    list-style-image:url('/images/icon-information.svg');
    margin-top:0px;

}

summary.pain::-webkit-details-marker {
  display: none
}
summary.pain:after {
  background: #0058ad;
  border-radius: 25px;
  content: "i";
  color: #fff;
  float: left;
line-height:1.4em;
  font-weight: bold;
  margin: -1px 20px 10px 0;
  padding: 0;
  text-align: center;
  width: 30px;
  height: 30px;
}
details.pain[open] summary.pain:after {
  content: "-";
}



    </style>

  <div class="example grey-background">

      <h3>Single reveal</h3>

      <ul>
        <li>Supporting information</li>
        <li>Sat beneath primary information (e.g. Open until 6pm today)</li>
        <li>In white box to increase prominence</li>
      </ul>

      <div  style="background-color: #fff;padding: 1em;margin-top:1em;">
          <details class="c-reveal__details" role="group" >
            <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-1" role="button">
              <p class="c-reveal__header" >Opening times</p>
            </summary>
            <div class="c-reveal__content" id="question-1" aria-hidden="true">
                <table class="openingTimes">
                    <tbody><tr><th align="left" style="padding-right:2em;"><strong>Day of the week</strong></th><th align="left"><strong>Opening hours</strong></th></tr>
                      <tr>
                            <th rowspan="1" align="left">Monday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Tuesday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Wednesday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Thursday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Friday</th>
                            <td>9am to 6pm</td>
                          </tr>
                          <tr>
                            <th rowspan="1" align="left">Saturday</th>
                            <td>9am to 1pm</td>
                          </tr>
                          <tr>
                          <th align="left">Sunday</th>
                          <td align="left">Closed</td>
                        </tr>
                      </tbody></table>
            </div>
          </details>

        </div>

<hr style="margin-top:2em;" />

        <h3>Multiple reveals</h3>
        <ul>
          <li>Supporting information</li>
          <li>Could be main content</li>
          <li>In white box to increase prominence</li>
        </ul>

        <div style="background-color: #fff;padding:1em;margin-top:1em;">

            <details class="c-reveal__details" role="group" >
              <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
                <p class="c-reveal__header">How to measure your blood glucose levels</p>
              </summary>
              <div class="c-reveal__content" id="question-2" aria-hidden="true">
                  <p>Testing your blood at home is quick and easy, although it can be uncomfortable. It does get better.</p>
                  <p>You would have been given:</p>
                  <ul>
                    <li>a blood glucose metre</li>
                    <li>small needles called lancets</li>
                    <li>a plastic pen to hold the lancest</li>
                    <li>small test strips</li>


                  </ul>


              </div>
            </details>

          </div>
          <div style="background-color: #fff;padding:1em;margin-top:0.2em;  ">

              <details class="c-reveal__details" role="group" >
                <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-2" role="button">
                  <p class="c-reveal__header">When to check your blood glucose level</p>
                </summary>
                <div class="c-reveal__content" id="question-2" aria-hidden="true" >
                    <p>Try to check your blood:</p>
                      <ul>
                          <li>before meals</li>
                          <li>2 to 3 hours after meals</li>
                          <li>before, during (take a break) and after exercise</li>
                      </ul>


                    <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>


                </div>
              </details>

            </div>

    



      <hr style="margin-top:2em;" />

<h3>Single supporting reveal (more details)</h3>
<ul>
    <li>Supporting information</li>
    <li>Not prominent</li>
    <li>Sat beneath main content</li>
    <li>Useful in transactional services</li>

  </ul>



  <div  style="margin-top:1em;">

    <details role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
          <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Where can I find my NHS number?</span>
      </summary>
      <div class="details__content" id="details-content-0" aria-hidden="true">
          <div class="block-markdown">
              <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
              
              <p>You can find your NHS number on any document sent to you by the NHS. This may include:</p>
              
              <ul>
              <li>prescriptions</li>
              <li>test results</li>
              <li>hospital referral letters</li>
              <li>appointment letters</li>
              <li>your NHS medical card</li>
              </ul>
              
              <p>Ask your GP practice for help if you can't find your NHS number.</p>
  
      </div>
      </div>
  </details>

    </div>





















  </div>

  <div class="example-snippet">

  </div>

  <h2 id="accessibility">Accessibility</h2>

<ul>
  <li>W3C - Informational Graphic Contrast (Minimum): Graphics that are very thin are harder to perceive, therefore have a higher contrast requirement of 4.5:1. Graphics that are thicker or are solid shapes have a lower requirement of 3:1. <a href="https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Informational_Graphic_Contrast_(Minimum)">https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Informational_Graphic_Contrast_(Minimum)</a></li>
  <li>Write clear link text</li>


</ul>

  <h2 id="usage">Usage</h2>
  <ul>
    <li>consider the context</li>
    <li>don’t over do it</li>
    <li>don't hide important content from people</li>
    <li>don't force users to interact needlessly with the page</li>
    <li>If a majority of users need that content, <strong>don’t hide it.</strong></li>
  </ul>
  <p>Done well, reveals:</p>
      <ul>
        <li>keep a page focussed and uncluttered</li>
        <li>deliver targeted content to those people who need it</li>
        <li>reduce the cognitive load on your users</li>
      </ul>

      <p>From the Android design principles:</p>

      <p>"Only show what I need when I need it. People get overwhelmed when they see too much at once. Break tasks and information into small, digestible chunks. Hide options that aren't essential at the moment, and teach people as they go." <a href="http://developer.android.com/design/get-started/principles.html">http://developer.android.com/design/get-started/principles.html</a></p>


{% endblock %}
