{% set title = 'Tables' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Tables</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__development">Development</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
    <li><a href="#userneed">User needs</a></li>
    <li><a href="#whatsused">What's currently being used</a></li>
    <li><a href="#hypothesis">Our hypothesis</a></li>
    <li><a href="#Iterations">Iterations</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#example">Examples</a></li>
    <li><a href="#accessibility">Accessibility</a></li>

    </ul>
{% endblock %}

{% block content %}
  <h2 id="userneed">User needs</h2>
  <p>Use the table component to make information easier to compare and scan for users.</p>

  <h2 id="whatsused">What's currently being used</h2>
  <ul>
    <li><a href="https://www.nhs.uk/conditions/cold-sores/">https://www.nhs.uk/conditions/cold-sores/</a></li>
    <li><a href="https://beta.nhs.uk/medicines/paracetamol-for-children/">https://beta.nhs.uk/medicines/paracetamol-for-children/</a></li>

  </ul>

    <h2 id="hypothesis">Our hypothesis</h2>
    <p>We believe</p> 
    <ul>
      <li>tables are hard to scan on the grey background, so we've put them in a white box</li>
      <li>To aid scanning information we've added a hover colour on desktop screens</li>

    </ul>

    <h2 id="Iterations">Iterations</h2>


    <!-- This needs work
    <h3>Version 1</h3>
    <p>With caption:</p>

        <table class="nhsuk-table2">
            <h3>When it's not a cold sore</h3>
        <thead>
        <tr>
          <th scope="col">Skin symptoms</th>
          <th scope="col">Possible cause</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row">
          <td >Blisters on lips or around the mouth</td>
          <td><a href="/conditions/cold-sore/">cold sores</a></td>
        </tr>
        <tr scope="row">
          <td>Itchy, dry, cracked, sore</td>
          <td><a href="/conditions/atopic-eczema/">eczema</a></td>
        </tr>
        <tr scope="row">
          <td>Itchy blisters</td>
          <td><a href="/conditions/shingles">shingles</a>, <a href="/conditions/chickenpox/">chickenpox</a></td>
        </tr>
        </tbody>
        </table>
    </div>

    -->

        <p>Without caption:</p>
        <table class="nhsuk-table2">
        <thead>
        <tr>
          <th>Skin symptoms</th>
          <th>Possible cause</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Blisters on lips or around the mouth</td>
          <td><a href="/conditions/cold-sore/">cold sores</a></td>
        </tr>
        <tr>
          <td>Itchy, dry, cracked, sore</td>
          <td><a href="/conditions/atopic-eczema/">eczema</a></td>
        </tr>
        <tr>
          <td>Itchy blisters</td>
          <td><a href="/conditions/shingles">shingles</a>, <a href="/conditions/chickenpox/">chickenpox</a></td>
        </tr>
        </tbody>
        </table>









    

       






  <h2 id="example">Examples</h2>


  <div class="nhsuk-c-panel nhsuk-c-panel__with-border"></div>

  <div class="example-snippet">
    <p>...</p>
  </div>

  <h2 id="accessibility">Accessibility</h2>

  <p>Following webaim.org's guidance for tables (<a href="https://webaim.org/techniques/tables/data">https://webaim.org/techniques/tables/data</a>) we suggest</p>

<ul>
 <li>Tables should have captions</li>
 <li>Use the scope attribute to associate the data cells with the appropriate headers</li>
 <li>Let the browser window determine the width of the table whenever possible, to reduce the horizontal scrolling required of those with low vision</li>


</ul>

  <h2 id="usage">Usage</h2>

  <p>This is where we'd suggest how to use something</p>


{% endblock %}
