{% set title = 'Images' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Video</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__design">Research &amp; Design</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
		<li><a href="#rules">Rules</a></li>
        <li><a href="#user-needs">User needs</a></li>
        <li><a href="#assumptions">Assumptions to test</a></li>
		<li><a href="#resources">Useful resources</a></li>
    <li><a href="#example">Example</a></li>
    </ul>
{% endblock %}

{% block content %}

  

<h2 id="user-needs">User needs</h2>


<ul>
  <li>As a user I WANT visual context (supporting written information), SO THAT I can help identify my health thing (condition / symptom / medicine).</li>
  <li>As a user I WANT an alternative to text, SO THAT I can seen how to do something.</li>
</ul>

<h2>Whats currently being used</h2>

<ul>

  <li>La Bomba dance exercise <a href="https://www.nhs.uk/conditions/nhs-fitness-studio/dance-la-bomba/">https://www.nhs.uk/conditions/nhs-fitness-studio/dance-la-bomba/</a></li>
  <li>Sore throat <a href="https://www.nhs.uk/conditions/sore-throat/">https://www.nhs.uk/conditions/sore-throat/</a></li>
</ul>  	


<h2>Our hypothesis</h2>
<ul>
  <li>Users want to know how long the video is upfront</li>
  <li>Users don't understand review dates</li>
  <li>Users don't want overlaid text (disapears when you press play)</li>

</ul>





<h2>Iterations</h2>

<div class="example grey-background">


    <h3>Version 1</h3>

    <div class="nhsuk-c-image nhsuk-o-grid__item--two-thirds">

        <img
        alt="Picture of allergic conjunctivitis"
        src="/images/video_player-4.jpg"
        sizes="(min-width: 1020px) 320px, (min-width: 768px) 50vw, 100vw"
        srcset="
        
        /images/video_player-4.jpg 320w,
        
        /images/video_player-4.jpg 510w,
        
        /images/video_player-4.jpg 640w,
        
       /images/video_player-4.jpg 767w,
        
        /images/video_player-4.jpg 1019w,
        
        /images/video_player-4.jpg 1125w,
        
        /images/video_player-4.jpg 1534w,
        
        "
    />
    <div class="nhsuk-c-image-caption">
        <h3 style="padding-bottom:0em;margin-top:.5em;">La Bomba dance exercise workout</h3>
        <p class="nhsuk-body-s" style="padding-bottom:1em;margin-top:.5em;">2 minutes 30 seconds</p>
        <p style="padding-bottom:1em;">Shake it up Latino style as this dance fitness class gives you a fun, upbeat and vigorous workout but be prepared to sweat!</p>


                        <details role="group">
                          <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                              <span class="details__summary nhsuk-body-s" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Media review dates</span>
                          </summary>
                          <div class="details__content" id="details-content-0" aria-hidden="true">
                              <div class="block-markdown">
                                <p class="nhsuk-body-s" style="margin-top:1em;">Media last reviewed: 1 Jun 2016</p>
                                <p class="nhsuk-body-s">Media review due: 10 Mar 2019</p>
                      
                          </div>
                          </div>
                      </details>

    </div>

</div>    

</div>



<h2 id="example">Example</h2>

  <div class="example" style="background-color: #eff2f3;">

  </div>

  <div class="example-snippet">

  </div>

  <h2 id="resources">Accessibility</h2>

  <ul>
      <li>Accessibility Oz: Video factsheet <a href="https://www.accessibilityoz.com/factsheets/video/video-factsheet/">https://www.accessibilityoz.com/factsheets/video/video-factsheet/</a></li>
      <li>Accessibility Oz: Video accessibility <a href="https://www.accessibilityoz.com/services/video-accessibility/">https://www.accessibilityoz.com/services/video-accessibility/</a></li>
      <li>Harvard University: Accessible media player <a href="https://accessibility.huit.harvard.edu/provide-accessible-media-player">https://accessibility.huit.harvard.edu/provide-accessible-media-player</a></li>
      <li>NNGroup: video usability <a href="https://www.nngroup.com/articles/video-usability/">https://www.nngroup.com/articles/video-usability/</a></li>
      
    
</ul>



<h2 id="rules">Usage</h2>
  

  <ul>
    <li>Only use video media where it adds to user understanding</li>
    <li>Don't be overly reliant on video to convey information - from an accessibility perspective, providing content as a video can limit access to the information contained in this format for anyone who cannot see or hear the content. In addition, videos break. In testing we’ve seen many a user run across a video that won’t load, doesn’t appear, can’t be played, or freezes. (<a href="https://www.nngroup.com/articles/video-usability/">https://www.nngroup.com/articles/video-usability/</a>)</li>
    <li>Video sizing - to ensure video flows with content; size 2/3 on larger screens (desktop / tablet) and full width on small screens (mobile)</li>
    <li>Title and description - do not overlay video, must sit within content.</li>
    <li>Clearly display the length of the video</li>
    <li>Be upfront with users if the video contains graphic content</li>



  </ul>


{% endblock %}
