/* ==========================================================================
   #hero
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-hero {
  background-color: $colour_nhsuk-blue;
  color: $colour_nhsuk-white;
  display: block;
  position: relative;

  @include mq($media-type: print) {
    color: $colour_nhsuk-black;
  }

  &__container {
    @include govuk-width-container;
    border-top: 1px solid $nhsuk-secondary-border-colour;

    @include mq($until: large-desktop) {
      border: 0;
    }

    &.nhsuk-o-main-wrapper {
      padding: 0;
    }

    .nhsuk-page-heading {
      margin: 0;
      padding: 40px 0;

      @include mq($from: tablet) {
        padding: 60px 0;
      }

    }

  }

  // Hero image only

  &--image {
    background-image: none;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    @media only screen {
      height: 240px;
    }

    @include mq($from: tablet) {
      height: 320px;
    }

    .nhsuk-hero__overlay {
      background: rgba($colour_shade_nhsuk-blue-50, .1); // sass-lint:disable-line no-color-literals
      height: 100%;
    }

  }

  // Hero image with description

  &--image-description {
    margin-bottom: 100px;

    @include mq($from: tablet) {
      margin-bottom: 72px;
    }

    .nhsuk-hero__container {
      border: 0;
    }

    .nhsuk-hero-content {
      @include top-and-bottom();
      background: $colour_nhsuk-blue;
      bottom: -48px;
      color: $colour_nhsuk-white;
      max-width: 565px;
      padding: 32px 40px 40px;
      position: absolute;
      width: 80%;

      &:after {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid $colour_nhsuk-blue;
        bottom: -15px;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        width: 0;

        @include mq($media-type: print) {
          display: none;
        }

      }

      @include mq($until: desktop) {
        width: 80%;
      }

      @include mq($until: tablet) {
        bottom: -72px;
        left: 16px;
        padding: 24px;
        right: 16px;
      }

      @include mq($until: 375px) {
        bottom: -40px;
      }

      @include mq($media-type: print) {
        color: $colour_nhsuk-black;
        padding: 0;
        position: relative;
      }

      p {
        color: rgba($colour_nhsuk-white, .9); // sass-lint:disable-line no-color-literals
        font-size: 24px;
        line-height: 36px;
        margin-top: 8px;

        @include mq($media-type: print) {
          color: $colour_nhsuk-black;
        }

        @include mq($until: tablet) {
          font-size: 19px;
          line-height: 28px;
        }

        @include mq($until: 375px) {
          font-size: 16px;
          line-height: 24px;
        }

      }

    }

  }

}
