/* ==========================================================================
   COMPONENTS / #HERO
   ========================================================================== */

/**
 *  Hero component shared styles.
 *
 * 1. Position relative to support the description
 *    appearing over the image.
 * 2. Adds a border between the header and hero
 */

.nhsuk-c-hero {
  background-color: $colour_nhsuk-blue;
  color: $colour_nhsuk-white;
  position: relative; // [1] //

  @include mq($media-type: print) {
    color: $colour_nhsuk-black;
  }

  .nhsuk-c-hero--border { // [2] //
    border-top: $nhsuk-hero-border solid $nhsuk-secondary-border-colour;
  }

}

.nhsuk-c-hero__wrapper {
  @include nhsuk-responsive-padding(8, top);
  @include nhsuk-responsive-padding(8, bottom);
}

/**
 *  Hero component image styles
 *
 * 4. Center the background image.
 * 5. Stop the height affecting print stylesheets.
 * 6. Darken the background image with an overlay.
 * 7. Overlay must be 100% height to cover the image.
 */

.nhsuk-c-hero--image {
  background-position: center right; // [4] //
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen { // [5] //
    height: 240px;
  }

  @include mq($from: tablet) {
    height: 320px;
  }

  .nhsuk-c-hero__overlay {
    background: $colour_transparent_nhsuk-blue-50; // [6] //
    height: 100%; // [7] //
  }

}

/**
 *  Hero component title and description styles.
 *
 * 8. Add a margin to support the description box
 *    overlay and caret :after
 * 9. Offset the description box overlay.
 * 10. Give the description box a max width.
 * 11. Relative position to stop description box
 *     overlapping other content on print stylesheets.
 * 12. Fallback for triangle on high contrast.
 */

.nhsuk-c-hero--image-description {
  margin-bottom: 100px; // [8] //

  @include mq($from: tablet) {
    margin-bottom: 72px; // [8] //
  }

  .nhsuk-c-hero-content {
    @include top-and-bottom();
    background: $colour_nhsuk-blue;
    bottom: -48px; // [9] //
    color: $colour_nhsuk-white;
    max-width: 565px; // [10] //
    padding: nhsuk-spacing(5) nhsuk-spacing(6);
    position: absolute;

    @include mq($until: 375px) {
      bottom: -40px;
    }

    @include mq($until: tablet) {
      bottom: -72px;
      left: nhsuk-spacing(3);
      padding: nhsuk-spacing(4);
      right: nhsuk-spacing(3);
    }

    @include mq($media-type: print) {
      color: $colour_nhsuk-black;
      left: 0;
      max-width: 100%;
      padding: 0;
      position: relative; // [11] //
    }

    &:after {
      -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0); // [12] // // sass-lint:disable-line property-sort-order
      clip-path: polygon(0 0, 50% 100%, 100% 0); // [12] // // sass-lint:disable-line property-sort-order
      border-left: $nhsuk-hero-content-triangle-border solid transparent; // sass-lint:disable-line property-sort-order
      border-right: $nhsuk-hero-content-triangle-border solid transparent; // sass-lint:disable-line property-sort-order
      border-top: $nhsuk-hero-content-triangle-border solid $colour_nhsuk-blue; // sass-lint:disable-line property-sort-order
      bottom: -15px; // sass-lint:disable-line property-sort-order
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;

      @include mq($media-type: print) {
        display: none;
      }

    }

  }

}
