/* ==========================================================================
   COMPONENTS / #HERO
   ========================================================================== */

/**
 *  Hero component shared styles.
 *
 * 1. Position relative to support the description
 *    appearing over the image.
 * 2. Adds a border between the header and hero
 *    on smaller devices
 */

.nhsuk-hero {
  background-color: $colour_nhsuk-blue;
  color: $colour_nhsuk-white;
  position: relative; // [1] //

  @include mq($media-type: print) {
    color: $colour_nhsuk-black;
  }

  .nhsuk-hero--border { // [2] //
    border-top: 1px solid $nhsuk-secondary-border-colour;

    @include mq($until: large-desktop) {
      border: 0;
    }

  }

}

/**
 *  Hero component image styles
 *
 * 4. Center the background image.
 * 5. Stop the height affecting print stylesheets.
 * 6. Darken the background image with an overlay.
 * 7. Overlay must be 100% height to cover the image.
 */

.nhsuk-hero--image {
  background-position: center right; // [4] //
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen { // [5] //
    height: 240px;
  }

  @include mq($from: tablet) {
    height: 320px;
  }

  .nhsuk-hero__overlay {
    background: $colour_transparent_nhsuk-blue-50; // [6] //
    height: 100%; // [7] //
  }

}

/**
 *  Hero component title and description styles.
 *
 * 8. Add a margin to support the description box
 *    overlay and caret :after
 * 9. Offset the description box overlay.
 * 10. Give the description box a max width.
 * 11. Relative position to stop description box
 *     overlapping other content on print stylesheets.
 */

.nhsuk-hero--image-description {
  margin-bottom: 100px; // [8] //

  @include mq($from: tablet) {
    margin-bottom: 72px; // [8] //
  }

  .nhsuk-hero-content {
    @include top-and-bottom();
    background: $colour_nhsuk-blue;
    bottom: -48px; // [9] //
    color: $colour_nhsuk-white;
    max-width: 565px; // [10] //
    padding: 32px 40px;
    position: absolute;

    @include mq($until: 375px) {
      bottom: -40px;
    }

    @include mq($until: tablet) {
      bottom: -72px;
      left: 16px;
      padding: 24px;
      right: 16px;
    }

    @include mq($media-type: print) {
      color: $colour_nhsuk-black;
      left: 0;
      max-width: 100%;
      position: relative; // [11] //
      padding: 0 0;
    }

    &:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $colour_nhsuk-blue;
      bottom: -15px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;

      @include mq($media-type: print) {
        display: none;
      }

    }

  }

}
