@import '../settings/colours';
@import '../settings/typography';

* {
  box-sizing: border-box;
}

html,
html * {
  font-family: $nhs-font-stack;
}

html {
  background-color: $nhs-body-background-colour;
  color: $text-color;
}

body {
  background-color: $nhs-body-background-colour;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 $footer-height;
  @media only screen and (max-width: 481px) {
    font-size: $base-font-size-mobile;
    line-height: $base-line-height-mobile;
  }
}
