<section class="nhsuk-hero-home">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-hero-home__content">
                    <h1 class="nhsuk-hero-home__header">Welcome to NHS.UK</h1>
                    <p class="nhsuk-hero-home__description">The best place to find out about health, medicines, NHS services, healthy living tips and more.</p>
                    <a class="nhsuk-hero-home__link" href="#health-a-z">Explore health topics</a>
                </div>
            </div>
        </div>
    </div>
</section>