<section class="nhsuk-hero-image rotate">
    <div class="nhsuk-hero-image__wrapper">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                    <div class="nhsuk-hero__home-content">
                        <h1>We're here for you</h1>
                        <p>Helping you take control of your health and wellbeing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>