<section class="nhsuk-hero-home">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                <div class="nhsuk-hero-home__content">
                    <h1 class="nhsuk-hero-home__header">We're here for you</h1>
                    <p class="nhsuk-hero-home__description">Helping you take control of your health and wellbeing.</p>
                    <a class="nhsuk-hero-home__link" href="#health-a-z">Explore the Health A-Z</a>
                </div>
            </div>
        </div>
    </div>
</section>