/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/*
    A combination of the file in the CMS repo,  https://dev.azure.com/nhsuk/_git/nhsuk.nhsuk-cms?path=/frontend/css/_beta.scss
    and other beta-nhsuk-footer styles.
 */

@include mq($until: tablet) {
  .beta-header__search-form {
    background-color: $color_nhsuk-blue;
    height: 40px;
    padding: 0px 16px;
    position: relative;

    // .js-enabled & {
    //   background-color: $color_nhsuk-white;
    // }
  }

  .beta-header__search-input {
    border: 1px solid $color_nhsuk-white;
    border-bottom-right-radius: $nhsuk-border-radius;
    border-top-right-radius: $nhsuk-border-radius;
    height: 40px;
  }

  .js-enabled {
    .beta-header__search-wrap {
      &::after {
        background: $color_nhsuk-blue;
        content: " ";
        height: 52px;
        left: -16px;
        position: absolute;
        width: calc(100% + 32px);
        z-index: 0;
      }
      margin-bottom: 0;
    }
  }

  .beta-nhsuk-header--white {
    .beta-header__search-wrap {
      &::after {
        background: $color_nhsuk-white;
      }
    }
  }

  .beta-search__submit {
    position: absolute;
    right: 16px;
    top: 0;
    background-color: $color_nhsuk-grey-5;
    border: 0;
    height: 40px;
    z-index: 9;

    .js-enabled & {
      height: 40px;
    }

    .beta-icon__search {
      fill: $color_nhsuk-blue;
      height: 27px;
      width: 27px;
    }

    &:hover {
      background-color: $color_shade_nhsuk-blue-35;
      border: 1px solid $color_nhsuk-white;

      .nhsuk-icon {
        fill: $color_nhsuk-white;
      }
    }
  }
}

.beta-header {
  @include mq($until: tablet) {
    padding-bottom: 0;
  }
}

.beta-header-no-search {
  @include mq($until: tablet) {
    padding: 30px 0;
  }
}

// toggle button
// only shows when screen can't fit all nav items
.beta-nhsuk-header__menu-toggle {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  position: relative;
  right: 0;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  visibility: hidden;
  width: auto;
  z-index: 1;

  &.beta-nhsuk-header__navigation-link {
    padding-right: 30px;
  }

  @include mq($from: desktop) {
    display: none;
  }

  &.js-show {
    display: block;
    visibility: visible;
  }

  &:focus {
    text-decoration: none;

    .beta-nhsuk-icon__chevron-down {
      fill: $color_nhsuk-black;
    }
  }
}

.beta-nhsuk-icon__chevron-down {
  fill: $color_nhsuk-white;
  height: 24px;
  position: absolute;
  right: 4px;
  transform: rotate(90deg);
  width: 24px;

  .beta-nhsuk-header__menu-toggle[aria-expanded="true"] & {
    transform: rotate(270deg);
  }
}

.beta-nhsuk-navigation {
  display: flex;

  @include mq($until: tablet) {
    position: relative;
    z-index: 10;
  }

  @include mq($from: tablet) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

// ul of visible nav
.beta-nhsuk-header__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include mq($from: desktop) {
    display: flex;
    justify-content: space-between;
  }

  .js-enabled & {
    display: flex;
  }
}

.beta-nhsuk-header__navigation-item {
  margin-bottom: 0;
}

// a tag
.beta-nhsuk-header__navigation-link {
  color: $color_nhsuk-white;
  font-size: $nhsuk-base-font-size;
  line-height: 1.5;
  padding: 16px 12px;
  text-decoration: underline;
  white-space: nowrap;

  @include mq($from: tablet) {
    padding: 12px 16px;
  }

  &:hover {
    color: $color_nhsuk-white;
    text-decoration: none;
  }

  &:visited {
    color: $color_nhsuk-white;
  }

  .nhsuk-icon__chevron-right {
    display: none;
  }
}

.beta-nhsuk-header__navigation-close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='nhsuk-icon nhsuk-icon__close' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' height='40' width='40'%3e%3cpath fill='%23005eb8' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;

  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__close' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' height='40' width='40'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.beta-nhsuk-navigation-container {
  position: relative;
}

// ul of hidden nav
.beta-nhsuk-header__drop-down {
  @include print-hide();
  background-color: $color_nhsuk-white;
  border-bottom: 4px solid $color_nhsuk-grey-5;
  clear: both;
  left: -16px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  position: absolute;
  right: -16px;
  top: 100%;

  @include mq($from: tablet) {
    left: 0;
    right: 0;
  }

  &.js-hidden {
    display: none;
  }

  .beta-nhsuk-header__navigation-link {
    color: $color_nhsuk-blue;
    padding: 12px nhsuk-spacing(3);
  }

  .beta-nhsuk-header__navigation-item {
    border-top: 1px solid $color_nhsuk-grey-5;
    margin-bottom: 0;

    @include mq($from: large-desktop) {
      border-top: 0;
      margin: 0;
      text-align: center;
    }
  }
}

.beta-menu-item {
  @include mq($from: large-desktop) {
    display: none;
  }
}

.beta-mobile-menu-container {
  align-self: center;
  display: none;

  &.js-show {
    display: block;
  }
}

.beta-nhsuk-header__navigation-item--home {
  @include mq($from: desktop) {
    display: none;
  }
}

.beta-header__transactional-service-name {
  @include mq($until: tablet) {
    margin-bottom: 16px;
  }
}

// Header (white)

.beta-nhsuk-header--white {
  background-color: $color_nhsuk-white;

  .beta-header__search-wrap {
    margin-bottom: 16px;
  }

  .beta-nhsuk-navigation-container {
    background-color: $color_nhsuk-blue;
  }

  .nhsuk-logo {
    .nhsuk-logo__background {
      fill: $color_nhsuk-blue;
    }

    .nhsuk-logo__text {
      fill: $color_nhsuk-white;
    }
  }

  .nhsuk-header__link {
    &:hover {
      color: $nhsuk-text-color;
      text-decoration: underline;

      .nhsuk-organisation-descriptor {
        color: $nhsuk-text-color;
      }
    }
  }

  .nhsuk-search__submit {
    background-color: $color_nhsuk-blue;

    .nhsuk-icon__search {
      fill: $color_nhsuk-white;
    }

    &:hover {
      background-color: $color_shade_nhsuk-blue-20;
      border-color: $color_shade_nhsuk-blue-20;
    }

    &:focus {
      background-color: $nhsuk-focus-color;

      .nhsuk-icon__search {
        fill: $nhsuk-focus-text-color;
      }
    }
  }

  .nhsuk-search__input {
    border: 1px solid $color_nhsuk-grey-3;

    &:focus {
      border: 2px solid $nhsuk-focus-text-color;

      @include mq($until: tablet) {
        border: $nhsuk-focus-width solid $nhsuk-focus-text-color;
      }
    }
  }

  .nhsuk-header__search-form {
    @include mq($until: tablet) {
      padding-top: 0;
    }
  }

  .nhsuk-organisation-name {
    color: #000; /* [9] */ /* stylelint-disable-line color-no-hex */
  }

  .nhsuk-organisation-descriptor {
    color: $color_nhsuk-blue;
  }

  .nhsuk-header__transactional-service-name--link {
    color: $color_nhsuk-black;
  }

  .nhsuk-header__navigation-list {
    border-top: 0;
  }

  .nhsuk-header__service-name {
    color: $nhsuk-text-color;
  }
}

// Navigation (white)

.beta-nhsuk-header--white-nav {
  .beta-nhsuk-navigation-container {
    background-color: $color_nhsuk-white;
  }
  .beta-nhsuk-navigation {
    background-color: $color_nhsuk-white;

    .beta-nhsuk-header__navigation-list {
      border-top: 1px solid $color_nhsuk-grey-5;
    }

    .beta-nhsuk-header__navigation-link {
      color: $color_nhsuk-blue;

      &:visited {
        color: $color_nhsuk-blue;
      }

      &:focus {
        color: $nhsuk-focus-text-color;

        &:hover {
          background: $nhsuk-focus-color;
        }
      }
    }

    .beta-nhsuk-icon__chevron-down {
      fill: $color_nhsuk-blue;
    }
  }
}
