{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Error summary' %}
{% from 'components/error-summary/macro.njk' import errorSummary %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ errorSummary({
            "titleText": "There is a problem",
            "descriptionText": "Optional description of the errors and how to correct them",
            "errorList": [
              {
                "text": "Link to error with explanation",
                "href": "#example-error-1"
              },
              {
                "text": "Link to error with explanation",
                "href": "#example-error-1"
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
