/* ==========================================================================
   COMPONENT / #A-Z-NAV
   ========================================================================== */

/**
 * 1. Clearfix added to the A-Z nav to clear float: left;
 *    on the .nhsuk-a-z-nav__list-item.
 * 2. Used to wrap the list items.
 * 3. Removes bullets from list item..
 * 4. Gives equal spacing around each list item.
 * 5. 'Random number' gives adequate spacing for touch navigation.
 */

.nhsuk-a-z-nav {
  @include nhsuk-responsive-margin(7, 'top');
  @include nhsuk-responsive-margin(7, 'bottom');
  @include print-hide();
}

.nhsuk-a-z-nav__list {
  @include clearfix(); /* [1] */
  @include nhsuk-responsive-padding(0);
}

.nhsuk-a-z-nav__list-item {
  float: left; /* [2] */
  list-style: none; /* [3] */
  margin: 1px; /* [4] */
}

.nhsuk-a-z-nav__list-item-link,
.nhsuk-a-z-nav__list-item-link--disabled {
  @include nhsuk-typography-responsive(22);

  display: block;
  min-width: 34px; /* [5] */
  padding-bottom: nhsuk-spacing(2);
  padding-top: nhsuk-spacing(2);
  text-align: center;

  @include mq($until: tablet) {
    min-width: 36px; /* [5] */
  }

}

.nhsuk-a-z-nav__list-item-link--disabled {
  color: $nhsuk-secondary-text-colour;
  margin-bottom: 0;
}

.nhsuk-a-z-nav__list-item-link {

  &.active {
    background-color: $colour_nhsuk-blue;
    color: $colour_nhsuk-white;
  }

}
