{% set title = 'Select with hint text' %}
{% from 'components/select/macro.njk' import select %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ select({
        "id": "location",
        "name": "location",
        "label": {
          "text": "Choose location"
        },
        "hint": {
          "text": "This can be different to where you went before"
        },
        "items": [
          {
            "value": "choose",
            "text": "Choose location",
            "selected": true
          },
          {
            "value": "eastmidlands",
            "text": "East Midlands"
          },
          {
            "value": "eastofengland",
            "text": "East of England"
          },
          {
            "value": "london",
            "text": "London"
          },
          {
            "value": "northeast",
            "text": "North East"
          },
          {
            "value": "northwest",
            "text": "North West"
          },
          {
            "value": "southeast",
            "text": "South East"
          },
          {
            "value": "southwest",
            "text": "South West"
          },
          {
            "value": "westmidlands",
            "text": "West Midlands"
          },
          {
            "value": "yorkshire",
            "text": "Yorkshire and the Humber"
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
