{% set title = 'Select' %}
{% from 'components/select/macro.njk' import select %}
{% extends 'example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ select({
        "id": "select-1",
        "name": "select-1",
        "label": {
          "text": "Label text goes here"
        },
        "items": [
          {
            "value": 1,
            "text": "NHS.UK frontend option 1"
          },
          {
            "value": 2,
            "text": "NHS.UK frontend option 2",
            "selected": true
          },
          {
            "value": 3,
            "text": "NHS.UK frontend option 3",
            "disabled": true
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
