{% set title = 'Health A-Z' %}
{% set parent = 'Home' %}
{% from "macros/callout.html" import callout %}
{% extends 'includes/site-layout.html' %}

{% block body %}

	{% include 'partials/breadcrumb/breadcrumb.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

					<div class="nhsuk-page-heading">

						<h1>Health A-Z</h1>

					</div>
				
					<div class="nhsuk-page-content">

                        {% include 'partials/health-a-z/health-a-z-nav.html' %}

                        <div class="a-z-list--results">

                            {% include 'partials/health-a-z/health-a-z-a.html' %}
                            {% include 'partials/health-a-z/health-a-z-b.html' %}
                            {% include 'partials/health-a-z/health-a-z-c.html' %}
                            {% include 'partials/health-a-z/health-a-z-d.html' %}
                            {% include 'partials/health-a-z/health-a-z-e.html' %}
                            {% include 'partials/health-a-z/health-a-z-f.html' %}
                            {% include 'partials/health-a-z/health-a-z-g.html' %}
                            {% include 'partials/health-a-z/health-a-z-h.html' %}
                            {% include 'partials/health-a-z/health-a-z-i.html' %}
                            {% include 'partials/health-a-z/health-a-z-j.html' %}
                            {% include 'partials/health-a-z/health-a-z-k.html' %}
                            {% include 'partials/health-a-z/health-a-z-l.html' %}
                            {% include 'partials/health-a-z/health-a-z-m.html' %}
                            {% include 'partials/health-a-z/health-a-z-n.html' %}
                            {% include 'partials/health-a-z/health-a-z-o.html' %}
                            {% include 'partials/health-a-z/health-a-z-p.html' %}
                            {% include 'partials/health-a-z/health-a-z-q.html' %}
                            {% include 'partials/health-a-z/health-a-z-r.html' %}
                            {% include 'partials/health-a-z/health-a-z-s.html' %}
                            {% include 'partials/health-a-z/health-a-z-t.html' %}
                            {% include 'partials/health-a-z/health-a-z-u.html' %}
                            {% include 'partials/health-a-z/health-a-z-v.html' %}
                            {% include 'partials/health-a-z/health-a-z-w.html' %}
                            {% include 'partials/health-a-z/health-a-z-x.html' %}
                            {% include 'partials/health-a-z/health-a-z-y.html' %}
                            {% include 'partials/health-a-z/health-a-z-z.html' %}

                        </div>		
					</div>

				</div>
			</div>
        </main>
	</div>

{% endblock %}
