@import '../nhsuk-frontend/globals/settings/colours';

.example {
  background: $white;
  border: 1px solid $nhs-border-colour;
  margin: 24px 0 0;
  overflow: hidden;
  padding: 64px 16px 16px;
  position: relative;
  @media (min-width: 641px) {
    padding: 64px 32px 32px;
  }
  &:before {
    background: $nhs-grey;
    color: $white;
    content: 'EXAMPLE';
    font-size: 12px;
    font-weight: 600;
    left: -1px;
    padding: 12px 16px;
    position: absolute;
    top: -1px;
    @media (min-width: 641px) {
      font-size: 14px;
    }
  }
}

.example-snippet {
  position: relative;
  &__empty-example {
    margin-top: 24px;
  }
  .nhsuk-btn-copy {
    background-color: $green;
    border: 0;
    color: $white;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
  }
}

.progress-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px 0;
  width: 100%;
  th,
  td {
    border-bottom: 1px solid $nhs-border-colour;
    padding: 8px;
    text-align: left;
    text-transform: none;
    &.td__status,
    &.th__status {
      width: 150px;
    }
  }
  th {
    font-weight: 600;
  }
}

.nhsuk-tag {
  color: $white;
  display: block;
  font-size: 16px;
  max-width: 90%;
  overflow-x: auto;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  @media only screen and (max-width: 481px) {
    font-size: 14px;
  }
  &__backlog {
    background-color: $nhs-grey;
  }
  &__design {
    background-color: $nhs-blue;
  }
  &__development {
    background-color: $nhs-purple;
  }
  &__testing {
    background-color: $nhs-red-aaa;
  }
  &__ready {
    background-color: $nhs-green-aaa;
  }
}
