.list--check,
.list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px;
}

.list--check li::before, .list--check li::after, .list--cross li::before, .list--cross li::after {
  content: "";
  position: absolute;
}

.list--check,
.list--cross{
  li{
      margin-top: 16px;
      position:relative;
  }
}

.list--check li {
  &:before {
    content:url('../../../../images/Icon-tick-v4.svg');
    width: 34px;
    height: 34px;
    left: -44px;
    top: -4px;
    color: $nhsuk-green;
    @include mq($until: tablet) {
      top: -6px;
    }
  }
}

.list--cross li {
  &:before {
    content:url('../../../../images/Icon-cross_v2.svg');
    width: 40px;
    height: 40px;
    left: -48px;
    top: -6px;
    @include mq($until: tablet) {
      top: -8px;
    }
 }
}


.nhsuk-list--check,
.nhsuk-list--cross {
  position: relative;
  list-style: none;
  padding-left: 40px;
  margin-top: 0;
  .nhsuk-icon__tick {
    position: absolute;
    left: -4px;
    margin-top: -5px;
  }
  .nhsuk-icon__cross {
    position: absolute;
    left: -4px;
    margin-top: -5px;
  }
}
