.lte-ie8 {
  /* breadcrumbs */ }
  .lte-ie8 .nhsuk-global-header__menu,
  .lte-ie8 .search-toggle,
  .lte-ie8 .c-nav-primary__title,
  .lte-ie8 .search-close,
  .lte-ie8 .c-search-menu {
    display: none !important; }
  .lte-ie8 .nhsuk-global-header .nhsuk-o-width-container,
  .lte-ie8 .nhsuk-global-nav .nhsuk-o-width-container,
  .lte-ie8 .nhsuk-global-footer .nhsuk-o-width-container {
    margin: 0 auto; }
  .lte-ie8 .c-search {
    margin-top: 20px; }
  .lte-ie8 .c-search__input {
    background: #FFFFFF !important;
    height: 100%;
    padding: 5px; }
  .lte-ie8 .c-nav-primary .nhsuk-global-nav {
    background: #005EB8; }
  .lte-ie8 .c-nav-primary__list {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: table;
    list-style: none;
    margin: 0;
    padding: 0 0 14px;
    width: 100%; }
  .lte-ie8 .c-nav-primary__item {
    display: inline;
    padding: 10px;
    text-align: center; }
    .lte-ie8 .c-nav-primary__item--mobile {
      display: none; }
  .lte-ie8 .c-nav-primary__link {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    padding: 16px 15px;
    text-decoration: none; }
    .lte-ie8 .c-nav-primary__link .nhsuk-icon,
    .lte-ie8 .c-nav-primary__link img {
      display: none; }
    .lte-ie8 .c-nav-primary__link:visited {
      color: #FFFFFF; }
    .lte-ie8 .c-nav-primary__link:hover {
      background: #003d78;
      box-shadow: none;
      color: #FFFFFF;
      text-decoration: underline; }
    .lte-ie8 .c-nav-primary__link:focus {
      background: #005EB8;
      box-shadow: 0 0 0 4px inset #FFB81C;
      color: #FFFFFF; }
    .lte-ie8 .c-nav-primary__link:active, .lte-ie8 .c-nav-primary__link:focus:active, .lte-ie8 .c-nav-primary__link:focus-within {
      background: #002f5c;
      box-shadow: none;
      color: #f0f4f5; }
    .lte-ie8 .c-nav-primary__link.active {
      background: #004b93; }
  .lte-ie8 .nhsuk-page-nav {
    margin-bottom: 20px; }
  .lte-ie8 .nhsuk-c-breadcrumb {
    padding-top: 0; }
  .lte-ie8 .nhsuk-c-breadcrumb__back {
    display: none; }
  .lte-ie8 .nhsuk-c-breadcrumb__item {
    display: inline; }
  .lte-ie8 .nhsuk-icon__chevron-right--fallback {
    height: 12px;
    margin: 0 5px;
    top: -3px;
    width: 10px; }
  .lte-ie8 .nhsuk-global-footer ul {
    min-height: 0;
    padding: 25px 0; }
    .lte-ie8 .nhsuk-global-footer ul:after {
      clear: both;
      content: '';
      display: block;
      height: 0;
      visibility: hidden; }
    .lte-ie8 .nhsuk-global-footer ul:first-child {
      border-bottom: 1px solid #337ec6; }
    .lte-ie8 .nhsuk-global-footer ul li {
      float: left;
      margin-right: 25px;
      margin-top: 8px; }
      .lte-ie8 .nhsuk-global-footer ul li.nhsuk-global-footer__logo {
        margin-top: 0; }
