{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Basic card' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ card({
          "heading": "Card heading",
          "headingLevel": "3",
          "description": "The card description goes here."
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
