{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Card with an image' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ card({
          "imgURL": "https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg",
          "href": "#",
          "clickable": "true",
          "heading": "Exercise",
          "headingClasses": "nhsuk-heading-m",
          "description": "Programmes, workouts and tips to get you moving and improve your fitness and wellbeing"
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
