{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-grid-row nhsuk-card-group">
            <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              {{ card({
                "heading": "Card",
                "HTML": "<p>This is card, it will be used to combine panel and promo</p>"
              }) }}
            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              {{ card({
                "heading": "Card with label",
                "label": "Card with a label",
                "HTML": "<p>This is card, it will be used to combine panel and promo</p>"
              }) }}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}