{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Card group' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h2>Halves</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Introduction to care and support",
              "headingClasses": "nhsuk-heading-m",
              "description": "A quick guide for people who have care and support needs and their carers"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Help from social services and charities",
              "headingClasses": "nhsuk-heading-m",
              "description": "Includes helplines, needs assessments, advocacy and reporting abuse"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Money, work and benefits",
              "headingClasses": "nhsuk-heading-m",
              "description": "How to pay for care and support, and where you can get help with costs"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Care after a hospital stay",
              "headingClasses": "nhsuk-heading-m",
              "description": "Includes hospital discharge and care and support afterwards"
            }) }}
          </li>
        </ul>

        <h2>Thirds</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "5 steps to mental wellbeing",
              "headingClasses": "nhsuk-heading-m",
              "description": "Practical advice to help you feel mentally and emotionally better"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Healthy weight",
              "headingClasses": "nhsuk-heading-m",
              "description": "Check your BMI using our healthy weight calculator and find out if you're a healthy weight"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            {{ card({
              "href": "#",
              "clickable": "true",
              "heading": "Exercise",
              "headingClasses": "nhsuk-heading-m",
              "description": "Programmes, workouts and tips to get you moving and improve your fitness and wellbeing"
            }) }}
          </li>
        </ul>

        <h2>Quarters</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
              "clickable": "true",
              "headingHtml": "<p class=\"nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1\">91 <span class=\"nhsuk-u-visually-hidden\">Applicants</span></p><a href=\"#\" class=\"nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state\">Applicants</a>"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
              "clickable": "true",
              "headingHtml": "<p class=\"nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1\">23 <span class=\"nhsuk-u-visually-hidden\">Jobs</span></p><a href=\"#\" class=\"nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state\">Jobs</a>"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
              "clickable": "true",
              "headingHtml": "<p class=\"nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1\">8 <span class=\"nhsuk-u-visually-hidden\">Services</span></p><a href=\"#\" class=\"nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state\">Services</a>"
            }) }}
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            {{ card({
              "clickable": "true",
              "headingHtml": "<p class=\"nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1\">33 <span class=\"nhsuk-u-visually-hidden\">Messages</span></p><a href=\"#\" class=\"nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state\">Messages</a>"
            }) }}
          </li>
        </ul>

      </div>
    </div>

  </main>
</div>

{% endblock %}
