{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Care card urgent (red)' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ card({
          "type": "urgent",
          "heading": "Ask for an urgent GP appointment if:",
          "headingLevel": 3,
          "descriptionHtml": "
          <ul>
            <li>you're an adult and have chickenpox</li>
            <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
            <li>you have a weakened immune system and you've been near someone with chickenpox</li>
            <li>you think your newborn baby has chickenpox</li>
          </ul>
          <p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
          "
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
