{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Card - Clickable card' %}
{% from 'components/card/macro.njk' import card %}
{% extends 'layout.njk' %}

{% block body %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ card({
          "href": "#",
          "clickable": "true",
          "heading": "Introduction to care and support",
          "headingClasses": "nhsuk-heading-m",
          "description": "A quick guide for people who have care and support needs and their carers"
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
