////
/// @group settings/layout
////

/// Breakpoint definitions
///
/// @type Map

$nhsuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 769px,
  large-desktop: 990px
) !default;

/// Show active breakpoint in top-right corner.
///
/// Only use this during local development.
///
/// @type List

$nhsuk-show-breakpoints: false !default;
