@use "../helpers/colour" as *;
@use "./colours-palette" as *;

////
/// NHS colour variables
///
/// Colours are prefixed with color_ to make them easier to
/// search for within the code base.
///
/// We also prefix them with nhsuk- to prevent clashing with
/// other colours in existing code bases.
///
/// We use the word color, not colour, for variables.
///
/// @group settings
////

$color_nhsuk-blue: nhsuk-colour("blue");
$color_nhsuk-white: nhsuk-colour("white");
$color_nhsuk-black: nhsuk-colour("black");
$color_nhsuk-green: nhsuk-colour("green");
$color_nhsuk-purple: nhsuk-colour("purple");
$color_nhsuk-dark-pink: nhsuk-colour("dark-pink");
$color_nhsuk-red: nhsuk-colour("red");
$color_nhsuk-yellow: nhsuk-colour("yellow");

/// Secondary colours

$color_nhsuk-dark-blue: nhsuk-colour("dark-blue");
$color_nhsuk-pale-yellow: nhsuk-colour("pale-yellow");
$color_nhsuk-warm-yellow: nhsuk-colour("warm-yellow");
$color_nhsuk-orange: nhsuk-colour("orange");
$color_nhsuk-aqua-green: nhsuk-colour("aqua-green");
$color_nhsuk-pink: nhsuk-colour("pink");

/// Greyscale

$color_nhsuk-grey-1: nhsuk-colour("grey-1");
$color_nhsuk-grey-2: nhsuk-colour("grey-2");
$color_nhsuk-grey-3: nhsuk-colour("grey-3");
$color_nhsuk-grey-4: nhsuk-colour("grey-4");
$color_nhsuk-grey-5: nhsuk-colour("grey-5");

/// Colour aliases

/// Text

$nhsuk-text-color: $color_nhsuk-black;
$nhsuk-reverse-text-color: $color_nhsuk-white;
$nhsuk-secondary-text-color: $color_nhsuk-grey-1;
$nhsuk-print-text-color: $color_nhsuk-black;

/// Links

$nhsuk-link-color: $color_nhsuk-blue;
$nhsuk-link-hover-color: $color_nhsuk-dark-pink;
$nhsuk-link-active-color: nhsuk-shade($nhsuk-link-color, 50%);
$nhsuk-link-visited-color: $color_nhsuk-purple;

/// Focus

$nhsuk-focus-color: $color_nhsuk-yellow;
$nhsuk-focus-text-color: $color_nhsuk-black;

/// Border

$nhsuk-border-color: $color_nhsuk-grey-4;
$nhsuk-secondary-border-color: rgba($color_nhsuk-white, 0.2);

/// Forms

$nhsuk-error-color: $color_nhsuk-red;
$nhsuk-form-border-color: $color_nhsuk-grey-1;
$nhsuk-form-element-background-color: $color_nhsuk-white;

/// Buttons

$nhsuk-button-color: $color_nhsuk-green;
$nhsuk-button-text-color: $color_nhsuk-white;
$nhsuk-button-hover-color: nhsuk-shade($nhsuk-button-color, 20%);
$nhsuk-button-active-color: nhsuk-shade($nhsuk-button-color, 50%);
$nhsuk-button-shadow-color: nhsuk-shade($nhsuk-button-color, 50%);

$nhsuk-secondary-button-color: transparent;
$nhsuk-secondary-button-solid-background-color: $color_nhsuk-white;
$nhsuk-secondary-button-border-color: $color_nhsuk-blue;
$nhsuk-secondary-button-text-color: $color_nhsuk-blue;
$nhsuk-secondary-button-hover-color: nhsuk-tint($nhsuk-secondary-button-border-color, 85%);
$nhsuk-secondary-button-active-color: nhsuk-tint($nhsuk-secondary-button-border-color, 78%);
$nhsuk-secondary-button-shadow-color: $nhsuk-secondary-button-border-color;

$nhsuk-reverse-button-color: $color_nhsuk-white;
$nhsuk-reverse-button-text-color: $color_nhsuk-black;
$nhsuk-reverse-button-hover-color: nhsuk-shade($nhsuk-reverse-button-color, 15%);
$nhsuk-reverse-button-active-color: nhsuk-shade($nhsuk-reverse-button-color, 30%);
$nhsuk-reverse-button-shadow-color: nhsuk-shade($nhsuk-reverse-button-color, 30%);

$nhsuk-warning-button-color: $color_nhsuk-red;
$nhsuk-warning-button-hover-color: nhsuk-shade($nhsuk-warning-button-color, 20%);
$nhsuk-warning-button-active-color: nhsuk-shade($nhsuk-warning-button-color, 50%);
$nhsuk-warning-button-shadow-color: nhsuk-shade($nhsuk-warning-button-color, 50%);

$nhsuk-login-button-color: $color_nhsuk-blue;
$nhsuk-login-button-hover-color: nhsuk-shade($nhsuk-login-button-color, 20%);
$nhsuk-login-button-active-color: nhsuk-shade($nhsuk-login-button-color, 50%);
$nhsuk-login-button-shadow-color: nhsuk-shade($nhsuk-login-button-color, 50%);
