@use "../helpers/colour" as *;

/// RGB and alpha values
///
/// Used to create drop/box shadows e.g. for search suggestions dropdown
///

$color_nhsuk-blue: nhsuk-colour("blue");
$color_nhsuk-white: nhsuk-colour("white");
$color_nhsuk-black: nhsuk-colour("black");
$color_nhsuk-green: nhsuk-colour("green");
$color_nhsuk-purple: nhsuk-colour("purple");
$color_nhsuk-dark-pink: nhsuk-colour("dark-pink");
$color_nhsuk-red: nhsuk-colour("red");
$color_nhsuk-yellow: nhsuk-colour("yellow");

/// Secondary colours

$color_nhsuk-dark-blue: nhsuk-colour("dark-blue");
$color_nhsuk-pale-yellow: nhsuk-colour("pale-yellow");
$color_nhsuk-warm-yellow: nhsuk-colour("warm-yellow");
$color_nhsuk-orange: nhsuk-colour("orange");
$color_nhsuk-aqua-green: nhsuk-colour("aqua-green");
$color_nhsuk-pink: nhsuk-colour("pink");

/// Greyscale

$color_nhsuk-grey-1: nhsuk-colour("grey-1");
$color_nhsuk-grey-2: nhsuk-colour("grey-2");
$color_nhsuk-grey-3: nhsuk-colour("grey-3");
$color_nhsuk-grey-4: nhsuk-colour("grey-4");
$color_nhsuk-grey-5: nhsuk-colour("grey-5");

$color_nhsuk-grey-1-rgb: nhsuk-colour("grey-1-rgb");
$alpha-transparency-50: 0.5;

/// Primary colour variations
///
/// 1. used for link :active states
/// 2. used for .is-active state on main navigation
/// 3. used for :hover states on main navigation
/// 4. used for :active states on main navigation
/// 5. used for primary button and action link icon :hover states
/// 6. used for primary button and action link icon :active states

$color_tint_nhsuk-black-10: nhsuk-colour("tint-black-10"); // [1]

$color_shade_nhsuk-blue-20: nhsuk-colour("shade-blue-20"); // [2]
$color_shade_nhsuk-blue-35: nhsuk-colour("shade-blue-35"); // [3]
$color_shade_nhsuk-blue-50: nhsuk-colour("shade-blue-50"); // [4]

$color_shade_nhsuk-green-35: nhsuk-colour("shade-green-35"); // [5]
$color_shade_nhsuk-green-50: nhsuk-colour("shade-green-50"); // [6]

$color_transparent_nhsuk-white-20: nhsuk-colour("transparent-white-20");
$color_transparent_nhsuk-blue-50: nhsuk-colour("transparent-blue-50");

/// Colour aliases

/// Text

$nhsuk-text-color: nhsuk-colour("black");
$nhsuk-reverse-text-color: nhsuk-colour("white");
$nhsuk-secondary-text-color: nhsuk-colour("grey-1");
$nhsuk-print-text-color: nhsuk-colour("black");
$nhsuk-footer-link-text-color: nhsuk-colour("footer-link-text-color");
$nhsuk-footer-copyright-text-color: nhsuk-colour("footer-copyright-text-color");

/// Links

$nhsuk-link-color: nhsuk-colour("blue");
$nhsuk-link-hover-color: nhsuk-colour("dark-pink");
$nhsuk-link-active-color: nhsuk-colour("link-active-color");
$nhsuk-link-visited-color: nhsuk-colour("purple");

/// Focus

$nhsuk-focus-color: nhsuk-colour("yellow");
$nhsuk-focus-text-color: nhsuk-colour("black");

/// Border

$nhsuk-border-color: nhsuk-colour("grey-4");
$nhsuk-secondary-border-color: nhsuk-colour("transparent-white-20");

/// Box shadow

$nhsuk-box-shadow: nhsuk-colour("box-shadow");
$nhsuk-box-shadow-color: nhsuk-colour("grey-1-rgb");

/// Forms

$nhsuk-error-color: nhsuk-colour("red");
$nhsuk-form-border-color: nhsuk-colour("grey-1");
$nhsuk-form-element-background-color: nhsuk-colour("white");

/// Buttons

$nhsuk-button-color: nhsuk-colour("green");
$nhsuk-button-text-color: nhsuk-colour("white");
$nhsuk-button-hover-color: nhsuk-colour("button-hover-color");
$nhsuk-button-active-color: nhsuk-colour("button-active-color");
$nhsuk-button-shadow-color: nhsuk-colour("button-shadow-color");

$nhsuk-secondary-button-color: transparent;
$nhsuk-secondary-button-solid-background-color: nhsuk-colour("white");
$nhsuk-secondary-button-border-color: nhsuk-colour("blue");
$nhsuk-secondary-button-text-color: nhsuk-colour("blue");
$nhsuk-secondary-button-hover-color: nhsuk-colour("secondary-button-hover-color");
$nhsuk-secondary-button-active-color: nhsuk-colour("secondary-button-active-color");
$nhsuk-secondary-button-shadow-color: nhsuk-colour("blue");

$nhsuk-reverse-button-color: nhsuk-colour("white");
$nhsuk-reverse-button-text-color: nhsuk-colour("black");
$nhsuk-reverse-button-hover-color: nhsuk-colour("reverse-button-hover-color");
$nhsuk-reverse-button-active-color: nhsuk-colour("reverse-button-active-color");
$nhsuk-reverse-button-shadow-color: nhsuk-colour("reverse-button-shadow-color");

$nhsuk-warning-button-color: nhsuk-colour("red");
$nhsuk-warning-button-hover-color: nhsuk-colour("warning-button-hover-color");
$nhsuk-warning-button-active-color: nhsuk-colour("warning-button-active-color");
$nhsuk-warning-button-shadow-color: nhsuk-colour("warning-button-shadow-color");

$nhsuk-login-button-color: nhsuk-colour("blue");
$nhsuk-login-button-hover-color: nhsuk-colour("login-button-hover-color");
$nhsuk-login-button-active-color: nhsuk-colour("login-button-active-color");
$nhsuk-login-button-shadow-color: nhsuk-colour("login-button-shadow-color");
