@use "sass:math";

////
/// Globals
///
/// @group settings
////

/// Fonts
///
/// 1. Fallback fonts if Frutiger fails to load

$nhsuk-font: "Frutiger W01" !default;
$nhsuk-font-fallback: arial, sans-serif !default; // [1]
$nhsuk-font-family-print: sans-serif !default;
$nhsuk-font-bold: 600 !default;
$nhsuk-font-normal: 400 !default;
$nhsuk-fonts-path: "https://assets.nhs.uk/fonts/" !default;
$nhsuk-include-font-face: true !default;

/// Font sizing and spacing

$nhsuk-base-font-size: 16px !default;
$nhsuk-base-line-height: 24px !default;

/// Icon default sizing

$nhsuk-icon-size: 32px !default;

/// Grid spacing

$nhsuk-page-width: 960px !default;
$nhsuk-gutter: 32px;
$nhsuk-gutter-half: math.div($nhsuk-gutter, 2);

/// Map of grid column widths

$nhsuk-grid-widths: (
  one-quarter: math.percentage(math.div(1, 4)),
  one-third: math.percentage(math.div(1, 3)),
  one-half: math.percentage(math.div(1, 2)),
  two-thirds: math.percentage(math.div(2, 3)),
  three-quarters: math.percentage(math.div(3, 4)),
  full: 100%
) !default;

/// Border sizes

$nhsuk-border-width-inset-text: 8px !default;
$nhsuk-chevron-border: 2px !default;
$nhsuk-hero-border: 1px !default;
$nhsuk-border-table-header-width: 2px !default;
$nhsuk-border-table-cell-width: 1px !default;

/// Border radius

$nhsuk-border-radius: 4px !default;

/// Form elements

$nhsuk-border-width-form-element: 2px !default;
$nhsuk-border-width-form-element-error: 2px !default;
$nhsuk-focus-width: 4px !default;
$nhsuk-border-width: 4px !default;
$nhsuk-border-width-mobile: 4px !default;
$nhsuk-border-width-form-group-error: $nhsuk-border-width !default;
