/* ==========================================================================
   #SHAME
   ========================================================================== */

/**
 * All this code needs to be refactored. This file should not exist.
 */

/* Page layout
  ========================================================================== */

.nhsuk-page-nav {
  & > *:first-child {
    margin-top: 0;
  }
  @include mq($until: desktop) {
    margin-bottom: 44px;
  }
  h2,
  h3 {
    & + ol,
    & + ul {
      margin-top: 8px;
    }
  }
}

@include mq($media-type: print) {
  .nhsuk-page-nav {
    display: none;
  }
}

.nhsuk-page-content {
  & > *:first-child {
    margin-top: 0;
    & > *:first-child {
      margin-top: 0;
    }
  }
}

/* NHS Logo
========================================================================== */

.nhsuk-logo {
  border: 0;
  height: 40px;
  max-width: 100%;
  vertical-align: middle;
  width: 99px;
}

.nhsuk-global-header__logo,
.nhsuk-footer__logo {

  a {
    display: block;
    height: 40px;
    width: 99px;

    .visually-hidden {
      top: -9999px; // Moves outline on iOS off screen
    }

    &:hover {
      box-shadow: 0 0 0 4px $colour_shade_nhsuk-blue-35;
    }

  }

}
