<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Do it online</h2>
    <p class="nhsuk-section__description">If you're registered with us, it's simple to book appointments online too.</p>
    <div class="nhsuk-o-flex nhsuk-o-flex--nested">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-o-grid__item" style="margin-bottom:32px">
            {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/nhsengland/aboutnhsservices/doctors/pages/gp-online-services.aspx", "Book a GP appointment", "") }}  
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-o-grid__item" style="margin-bottom:32px;z-index:2;">
            {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/NHSEngland/appointment-booking/Pages/about-the-referral-system.aspx", "Book an e-referral slot", "") }}  
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-o-grid__item" style="z-index:2;">
            {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/NHSEngland/Healthcareabroad/EHIC/Pages/about-the-ehic.aspx", "Apply for your EHIC", "") }}  
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-o-grid__item" style="z-index:2;">
            {{ promoNoDescription("nhsuk-c-promo--small", "https://www.nhs.uk/nhsengland/aboutnhsservices/doctors/pages/gp-online-services.aspx", "Access your GP record", "") }}  
        </div>
    </div>
</div>