<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">NHS Services</h2>
    <p class="nhsuk-section__description">It's easy to find the NHS services you need. If you're registered with us, it's simple to book appointments online too.</p>
    <ul class="nhsuk-list-links">
        <li><a href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Find GP services</a></li>
        <li><a href="https://www.nhs.uk/service-search/UrgentCare/UrgentCareFinder">Find Urgent Care services</a></li>
        <li><a href="https://www.nhs.uk/Service-Search/Dentist/LocationSearch/3">Find Dentists services</a></li>
        <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find A&E services</a></li>
        <li><a href="https://beta.nhs.uk/find-a-pharmacy/">Find a Pharmacy</a></li>
    </ul>
    {{ actionLink("https://www.nhs.uk/service-search", "Search all the NHS services", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    <div class="nhsuk-c-panel--grey">
        <h3>Get non-emergency help now</h2>
        <p>Call 111</p>
    </div>
</div>