<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Apps library</h2>
    <p class="nhsuk-section__description">Find digital tools to help you manage and improve your health.</p>
    {{ actionLink("https://apps.beta.nhs.uk/", "Go to the NHS app library", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    <img class="nhsuk-image-responsive" src="/images/promo-images/apps-library.png" alt="" />
</div>