<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Health A-Z</h2>
    <p class="nhsuk-section__description">Your complete guide to conditions, symptoms and treatments, including what to do and when to get help.</p>
    <ul class="nhsuk-list-signage nhsuk-hide-on-mobile">
        <li><a href="https://www.nhs.uk/conditions/scarlet-fever/">Scarlet fever<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
        <li><a href="https://www.nhs.uk/conditions/flu/">Flu<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
        <li><a href="https://www.nhs.uk/conditions/chickenpox/">Chickenpox<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
    </ul>
    {{ actionLink("/examples/health-a-z/health-a-z", "View full Health A-Z", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>

<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    <h2 class="nhsuk-section__heading">Medicines</h2>
    <p class="nhsuk-section__description">Your guide to medicines: what it is, how you take it, potential side effects and everything else you need to know. </p>
    <ul class="nhsuk-list-signage nhsuk-hide-on-mobile">
        <li><a href="https://beta.nhs.uk/medicines/amoxicillin/">Amoxicillin<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
        <li><a href="https://beta.nhs.uk/medicines/paracetamol-for-children/">Paracetamol for children<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
        <li><a href="https://beta.nhs.uk/medicines/hydrocortisone/">Hydrocortisone<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
    </ul>
    {{ actionLink("https://beta.nhs.uk/medicines/", "Search full list of Medicines", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>