<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <h2 class="nhsuk-section__heading">And finally...</h2>
    <p class="nhsuk-section__description">The stories behind the news.</p>
    <div class="nhsuk-c-promo__group">
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.gov.uk/government/news/phe-statement-on-incident-in-amesbury", "Amesbury latest", "Making small changes can reduce your risk of developing Type 2 diabetes and the risk of serious complications.") }}              
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.nhs70.nhs.uk/", "The NHS turns 70", "Combat future health problems by encouraging you to make small changes to your lifestyle today.") }}
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.nhs.uk/conditions/hay-fever/", "Bleed for the Team", "Be Clear on Cancer campaigns aim to raise awareness of the signs and symptoms of cancer.") }}
    </div>
    {{ actionLink("https://www.nhs.uk/news/", "View all health stories", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>