<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Healthy living</h2>
    <p class="nhsuk-section__description">Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
    <ul class="nhsuk-list-links">
        <li><a href="https://www.nhs.uk/livewell/loseweight/Pages/Loseweighthome.aspx">Lose weight</a></li>
        <li><a href="https://www.nhs.uk/livewell/healthy-eating/Pages/Healthyeating.aspx">Eat well</a></li>
        <li><a href="https://www.nhs.uk/livewell/mentalhealth/Pages/Mentalhealthhome.aspx">Help with stress, anxiety and depression</a></li>
        <li><a href="https://www.nhs.uk/LiveWell/c25k/Pages/couch-to-5k.aspx">Exercise</a></li>
    </ul>
    {{ actionLink("https://www.nhs.uk/live-well/", "Go to healthy living", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    {{ promoWithImage("https://www.nhs.uk/change4life", "/images/promo-images/change-for-life.png", "#", "Change 4 Life", "Fun ideas, recipes, top tips and activities to help your kids stay healthy. Make a change today.") }}
</div>