<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Health apps</h2>
    <p class="nhsuk-section__description">From exercise apps to managing diabetes, find digital tools to help you manage and improve your health.</p>
    <h3 class="nhsuk-tab-heading">Recently added apps</h3>
    <ul class="nhsuk-list-apps nhsuk-list-apps--two-columns">
        <li><a href="https://apps.beta.nhs.uk/baby-and-child-first-aid/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_brc-baby-child.png" alt="" /><span class="nhsuk-list-apps__title">Baby and Child First Aid </span><span class="nhsuk-list-apps__category">Pregnancy and Baby</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/be-mindful/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_be-mindful.jpg" alt="" /><span class="nhsuk-list-apps__title">Be Mindful </span><span class="nhsuk-list-apps__category">Mental Health</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/my-health-fabric/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_health-fabric.jpg" alt="" /><span class="nhsuk-list-apps__title">My Health Fabric </span><span class="nhsuk-list-apps__category">Diabetes, Healthy Living</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/becca-breast-cancer-care-app/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_becca.jpg" alt="" /><span class="nhsuk-list-apps__title">BECCA Breast Cancer Care App </span><span class="nhsuk-list-apps__category">Cancer</span></a></li>
    </ul>
    {{ actionLink("https://apps.beta.nhs.uk/", "Go to the NHS apps library", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>