<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Healthy living</h2>
    <p class="nhsuk-section__description">Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
    <ul class="nhsuk-list-links">
        <li><a href="https://www.nhs.uk/live-well/eat-well/">Eat Well</a></li>
        <li><a href="https://www.nhs.uk/live-well/healthy-weight/">Healthy weight</a></li>
        <li><a href="https://www.nhs.uk/live-well/exercise/">Exercise</a></li>
        <li><a href="https://www.nhs.uk/live-well/quit-smoking/">Quit smoking</a></li>
    </ul>
    {{ actionLink("https://www.nhs.uk/live-well/", "More Healthy living ideas", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    {{ promoWithImage("https://www.nhs.uk/change4life", "/images/promo-images/change-for-life.png", "#", "Change 4 Life", "Fun ideas, recipes, top tips and activities to help your kids stay healthy. Make a change today.") }}
</div>