<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Health A-Z</h2>
    <p class="nhsuk-section__description">Your complete guide to conditions, symptoms and treatments, including what to do and when to get help.</p>
    {{ actionLink("/examples/health-a-z/health-a-z", "Go to the Health A-Z", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>

<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    <h2 class="nhsuk-section__heading">Medicines A-Z</h2>
    <p class="nhsuk-section__description">Find out how your medicine works, how and when to take it, possible side effects and answers to your common questions.</p>
    {{ actionLink("https://beta.nhs.uk/medicines/", "Go to the Medicines A-Z", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>