<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Apps library</h2>
    <p class="nhsuk-section__description">Find digital tools to help you manage and improve your health.</p>
    <ul class="nhsuk-list-apps nhsuk-list-apps--two-columns">
        <li><a href="https://apps.beta.nhs.uk/active-10-walking-tracker/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_active-10.jpg" alt="" /><span class="nhsuk-list-apps__title">Active 10 walking tracker </span><span class="nhsuk-list-apps__category">Healthy Living</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/bmi-calculator/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_nhs-bmi.jpg" alt="" /><span class="nhsuk-list-apps__title">BMI Calculator </span><span class="nhsuk-list-apps__category">Healthy Living</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/becca-breast-cancer-care-app/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_becca.jpg" alt="" /><span class="nhsuk-list-apps__title">BECCA Breast Cancer Care App </span><span class="nhsuk-list-apps__category">Cancer</span></a></li>
        <li><a href="https://apps.beta.nhs.uk/nhs-smokefree/"><img class="nhsuk-list-apps__icon" src="/images/app-icons/app_smoke-free.jpg" alt="" /><span class="nhsuk-list-apps__title">NHS Smokefree </span><span class="nhsuk-list-apps__category">Healthy Living</span></a></li>
    </ul>
    {{ actionLink("https://apps.beta.nhs.uk/", "Explore the NHS apps library", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>