<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Care and support</h2>
    <p class="nhsuk-section__description">Help and advice on getting social care, help with costs, and support.</p>
    <ul class="nhsuk-list-links">
        <li><a href="https://www.nhs.uk/conditions/social-care-and-support/choosing-care-services/">Care services, equipment and care homes</a></li>
        <li><a href="https://www.nhs.uk/conditions/social-care-and-support/funding-care/">Money and benefits</a></li>
        <li><a href="https://www.nhs.uk/conditions/social-care-and-support/hospital-discharge-care/">Arranging care before you leave hospital</a></li>
    </ul>
    {{ actionLink("https://www.nhs.uk/conditions/social-care-and-support/", "More on Care and support", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed  nhsuk-hide-on-tablet">
    <img class="nhsuk-image-responsive" src="/images/promo-images/care-and-support.jpg" alt="" />
</div>