<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <div class="nhsuk-o-flex nhsuk-o-flex--nested">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">
            {{ promoWithImage("", "/images/promo-images/give-blood.jpg", "http://www.blood.co.uk/?utm_source=nhsc_hp_blood&utm_medium=referral&utm_content=web&utm_campaign=partner", "Save a life: give blood","Please register today. Donating blood is easy, and saves lives.") }}              
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">
            {{ promoWithImage("", "/images/promo-images/yes-i-donate-promo.jpg", "https://www.organdonation.nhs.uk/register-to-donate/register-your-details/?campaign=2331&utm_source=nhsc_hp_organ&utm_medium=referral&utm_content=web&utm_campaign=partner", "Become a donor", "Give someone the gift of life: register as an NHS Organ Donor today.") }}
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">
            {{ promoWithImage("", "/images/promo-images/clear-on-cancer-blood-in-pee.jpg", "https://www.nhs.uk/be-clear-on-cancer", "Noticed blood in your pee?", "If you notice blood in your pee, even if it's just the once, tell your doctor.") }}
        </div>
    </div>
</div>