<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
    <h2 class="nhsuk-section__heading">Latest from the NHS</h2>
    <p class="nhsuk-section__description">News, events, information and advice.</p>
    <div class="nhsuk-c-promo__group">
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.nhs.uk/common-health-questions/medicines/why-cant-i-get-prescription-over-counter-medicine/", "Prescription changes", "The NHS is reducing prescriptions for medicines you can buy in a pharmacy. Find out what this means for you.") }}              
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.nhs70.nhs.uk/", "The NHS turns 70", "The National Health Service turns 70 in 2018. Join the celebrations and explore the NHS of the past and future.") }}
        {{ promo("nhsuk-c-promo--three nhsuk-c-promo--small", "https://www.nhs.uk/live-well/healthy-body/heatwave-how-to-cope-in-hot-weather/", "Stay healthy in the heat", "With high temperatures in many parts of the country, find out how to stay safe in very hot weather.") }}
    </div>
    {{ actionLink("https://www.nhs.uk/news/", "View all health stories", "nhsuk-c-action-link--small nhsuk-c-action-link--alternative") }}
</div>