<main id="maincontent">

    <section class="nhsuk-hero-image rotate" style="background-image: url('/static/nhsuk_shared/img/homepage/hero-1.jpg');">
        <div class="nhsuk-hero-image__wrapper">
            <div class="nhsuk-o-width-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                        <div class="nhsuk-hero__home-content">
                            <h1><span class="visually-hidden">Welcome to the NHS website. </span>We're here for you</h1>
                            <p>Helping you take control of your health and wellbeing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="nhsuk-section nhsuk-section--top-section nhsuk-section--white">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">

                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">Health A-Z</h2>
                    <p class="nhsuk-section__description">Your complete guide to conditions, symptoms and treatments, including what to do and when to get help.</p>

                    <a href="/conditions" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','HealthAZ','DCSext.ModuleUrl','/conditions','WT.dl','121')" onkeypress="this.onmousedown()">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href=""></image>
                        </svg>
                        <span>Go to the Health A-Z</span>
                    </a>
                </div>

                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
                    <h2 class="nhsuk-section__heading">Medicines A-Z</h2>
                    <p class="nhsuk-section__description">Find out how your medicine works, how and when to take it, possible side effects and answers to your common questions. </p>

                    <a href="https://beta.nhs.uk/medicines/" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','MedicinesAZ','DCSext.ModuleUrl','https://beta.nhs.uk/medicines/','WT.dl','121')" onkeypress="this.onmousedown()">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href=""></image>
                            </image>
                        </svg>
                        <span>Go to the Medicines A-Z</span>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="nhsuk-section">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">NHS Services</h2>
                    <p class="nhsuk-section__description">Find the service you need and book appointments online.</p>
                    <ul class="nhsuk-list-signage nhsuk-list-signage--two-columns">
                        <li><a href="https://beta.nhs.uk/find-a-pharmacy/" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','https://beta.nhs.uk/find-a-pharmacy/','WT.dl','121')" onkeypress="this.onmousedown()">Find a pharmacy<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
    <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/homepage/nhsuk-icon-chevron-right-grey.png" xlink:href="">
  </image></svg></a></li>

                        <li><a href="/Service-Search/Dentist/LocationSearch/3" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','/service-Search/Dentist/LocationSearch/3','WT.dl','121')" onkeypress="this.onmousedown()">Find a dentist<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
    <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/homepage/nhsuk-icon-chevron-right-grey.png" xlink:href="">
  </image></svg></a></li>
                        <li><a href="/service-search/GP/LocationSearch/4" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','/service-search/GP/LocationSearch/4','WT.dl','121')" onkeypress="this.onmousedown()">Find a GP<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
    <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/homepage/nhsuk-icon-chevron-right-grey.png" xlink:href="">
  </image></svg></a></li>
                        <li><a href="/Service-Search/Accident-and-emergency-services/LocationSearch/428" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','/service-Search/Accident-and-emergency-services/LocationSearch/428','WT.dl','121')" onkeypress="this.onmousedown()">Find your nearest A&amp;E<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
    <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/homepage/nhsuk-icon-chevron-right-grey.png" xlink:href="">
  </image></svg></a></li>
                        <li><a href="/Service-Search/Urgent-Care/LocationSearch/1824" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','/service-Search/Urgent-Care/LocationSearch/1824','WT.dl','121')" onkeypress="this.onmousedown()">Find other urgent care services<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
    <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/homepage/nhsuk-icon-chevron-right-grey.png" xlink:href="">
    </image></svg></a></li>
                    </ul>

                    <p class="nhsuk-h-margin-top-0">
                        <a href="/service-search" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','NHS Services','DCSext.ModuleUrl','/service-search','WT.dl','121')" onkeypress="this.onmousedown()">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href="">
                                </image>
                            </svg>

                            <span>Find other NHS services</span>
                        </a>
                    </p>

                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content nhsuk-section__content--stacked-collapsed">
                    <div class="nhsuk-c-panel--grey">
                        <h3>If you need help now, but it's not an emergency</h3>
                        <p>Go to <a href="https://111.nhs.uk/" onmousedown="dcsMultiTrack(DCSext.ModuleName','111','DCSext.ModuleUrl','https://111.nhs.uk/','WT.dl','121')" onkeypress="this.onmousedown()">111.nhs.uk</a> or call <a href="tel:111" onmousedown="dcsMultiTrack(DCSext.ModuleName','111','DCSext.ModuleUrl','tel:111','WT.dl','121')" onkeypress="this.onmousedown()">111</a>.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="nhsuk-section nhsuk-section--with-image  nhsuk-section--white">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">Focus on...</h2>
                    <ul class="nhsuk-list-signage">
                        <li><a href="/conditions/diabetes/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Focus on','DCSext.ModuleUrl','/conditions/diabetes/','WT.dl','121')" onkeypress="this.onmousedown()">Diabetes<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
                        <li><a href="/conditions/cancer/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Focus on','DCSext.ModuleUrl','/conditions/cancer/','WT.dl','121')" onkeypress="this.onmousedown()">Cancer<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
                        <li><a href="/conditions/social-care-and-support/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Focus on','DCSext.ModuleUrl','/conditions/social-care-and-support/','WT.dl','121')" onkeypress="this.onmousedown()">Care and support<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
                        <li><a href="/conditions/pregnancy-and-baby/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Focus on','DCSext.ModuleUrl','/conditions/pregnancy-and-baby/','WT.dl','121')" onkeypress="this.onmousedown()">Pregnancy<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
                        <li><a href="/news/mental-health/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Focus on','DCSext.ModuleUrl','/news/mental-health/','WT.dl','121')" onkeypress="this.onmousedown()">Mental health<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
<image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="nhsuk-section">
			<div class="nhsuk-o-width-container">
					<div class="nhsuk-o-grid">
							<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
									<h2 class="nhsuk-section__heading">European Health Insurance Card (EHIC)</h2>
									<p class="nhsuk-section__description">An EHIC can help you get free or reduced-cost healthcare while visiting many countries in Europe.</p>

									<div class="nhsuk-c-action-link">
										<a href="/NHSEngland/Healthcareabroad/EHIC/Pages/about-the-ehic.aspx">Apply for or renew your EHIC</a>
									</div>

							</div>
					</div>
			</div>
	</section>

    <section class="nhsuk-section nhsuk-section--white">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">Healthy living</h2>
                    <p class="nhsuk-section__description">Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
                    <ul class="nhsuk-list-links">
                        <li><a href="/live-well/healthy-weight/start-the-nhs-weight-loss-plan/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living','DCSext.ModuleUrl','/live-well/healthy-weight/start-the-nhs-weight-loss-plan/','WT.dl','121')" onkeypress="this.onmousedown()">Lose weight</a></li>
                        <li><a href="/live-well/eat-well/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living','DCSext.ModuleUrl','/live-well/eat-well/','WT.dl','121')" onkeypress="this.onmousedown()">Eat well</a></li>
                        <li><a href="/conditions/stress-anxiety-depression/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living','DCSext.ModuleUrl','/conditions/stress-anxiety-depression/','WT.dl','121')" onkeypress="this.onmousedown()">Help with stress, anxiety and depression</a></li>
                        <li><a href="/live-well/exercise/couch-to-5k-week-by-week/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living','DCSext.ModuleUrl','/live-well/exercise/couch-to-5k-week-by-week/','WT.dl','121')" onkeypress="this.onmousedown()">Exercise</a></li>
                    </ul>

                    <a href="/live-well/" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living','DCSext.ModuleUrl','/live-well/','WT.dl','121')" onkeypress="this.onmousedown()">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href="">
                            </image>
                        </svg>

                        <span>Go to healthy living</span>
                    </a>

                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">

                    <div class="nhsuk-c-promo-homepage">
                        <a href="/change4life" onmousedown="dcsMultiTrack(DCSext.ModuleName','Healthy living campaign','DCSext.ModuleUrl','/change4life','WT.dl','121')" onkeypress="this.onmousedown()">
                            <div class="nhsuk-c-promo-homepage__image-wrapper">
                                <div class="nhsuk-c-promo-homepage__image" style="background-image:url(/static/nhsuk_shared/img/homepage/change4life.jpg);"></div>
                            </div>
                            <div class="nhsuk-c-promo-homepage__content">
                                <h3 class="nhsuk-c-promo-homepage__heading">Change 4 Life</h3>
                                <p class="nhsuk-c-promo-homepage__description">Fun ideas, recipes, top tips and activities to help your kids stay healthy. Make a change today.</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="nhsuk-section">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">Latest from the NHS</h2>
                    <p class="nhsuk-section__description">News, events, information and advice.</p>
                    <div class="nhsuk-o-flex nhsuk-o-flex--nested">
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage nhsuk-c-promo-homepage--small">
                                <a href="/common-health-questions/medicines/why-cant-i-get-prescription-over-counter-medicine/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Latest from the NHS','DCSext.ModuleUrl','/common-health-questions/medicines/why-cant-i-get-prescription-over-counter-medicine/','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">Prescription changes</h3>
                                        <p class="nhsuk-c-promo-homepage__description">The NHS is reducing prescriptions for medicines you can buy in a pharmacy. Find out what this means for you.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage nhsuk-c-promo-homepage--small">
                                <a href="https://www.nhs70.nhs.uk/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Latest from the NHS','DCSext.ModuleUrl','https://www.nhs70.nhs.uk/','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">The NHS turns 70</h3>
                                        <p class="nhsuk-c-promo-homepage__description">The National Health Service turns 70 in 2018. Join the celebrations and explore the NHS of the past and future.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage nhsuk-c-promo-homepage--small">
                                <a href="/live-well/healthy-body/heatwave-how-to-cope-in-hot-weather/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Latest from the NHS','DCSext.ModuleUrl','/live-well/healthy-body/heatwave-how-to-cope-in-hot-weather/','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">Stay healthy in the heat</h3>
                                        <p class="nhsuk-c-promo-homepage__description">With high temperatures in many parts of the country, find out how to stay safe in very hot weather.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <a href="/news" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','Latest from the NHS','DCSext.ModuleUrl','/news','WT.dl','121')" onkeypress="this.onmousedown()">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href="">
                            </image>
                        </svg>

                        <span>View all health stories</span>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section class="nhsuk-section nhsuk-section--white">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
                    <h2 class="nhsuk-section__heading">Health apps</h2>
                    <p class="nhsuk-section__description">From exercise apps to managing diabetes, find digital tools to help you manage and improve your health.</p>
                    <h3 class="nhsuk-tab-heading">Recently added apps</h3>
                    <ul class="nhsuk-list-apps nhsuk-list-apps--two-columns">
                        <li>
                            <a href="https://apps.beta.nhs.uk/baby-and-child-first-aid/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Apps library','DCSext.ModuleUrl','https://apps.beta.nhs.uk/baby-and-child-first-aid/','WT.dl','121')" onkeypress="this.onmousedown()"><img class="nhsuk-list-apps__icon" src="/static/nhsuk_shared/img/homepage/brc-baby-child.png" alt=""><span class="nhsuk-list-apps__title">Baby and Child First Aid </span><span class="nhsuk-list-apps__category">Pregnancy and Baby</span></a>
                        </li>
                        <li>
                            <a href="https://apps.beta.nhs.uk/be-mindful/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Apps library','DCSext.ModuleUrl','https://apps.beta.nhs.uk/be-mindful/','WT.dl','121')" onkeypress="this.onmousedown()"><img class="nhsuk-list-apps__icon" src="/static/nhsuk_shared/img/homepage/be-mindful.jpg" alt=""><span class="nhsuk-list-apps__title">Be Mindful </span><span class="nhsuk-list-apps__category">Mental Health</span></a>
                        </li>
                        <li>
                            <a href="https://apps.beta.nhs.uk/my-health-fabric/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Apps library','DCSext.ModuleUrl','https://apps.beta.nhs.uk/my-health-fabric/','WT.dl','121')" onkeypress="this.onmousedown()"><img class="nhsuk-list-apps__icon" src="/static/nhsuk_shared/img/homepage/health-fabric.jpg" alt=""><span class="nhsuk-list-apps__title">My Health Fabric </span><span class="nhsuk-list-apps__category">Healthy Living</span></a>
                        </li>
                        <li>
                            <a href="https://apps.beta.nhs.uk/becca-breast-cancer-care-app/" onmousedown="dcsMultiTrack(DCSext.ModuleName','Apps library','DCSext.ModuleUrl','https://apps.beta.nhs.uk/becca-breast-cancer-care-app/','WT.dl','121')" onkeypress="this.onmousedown()"><img class="nhsuk-list-apps__icon" src="/static/nhsuk_shared/img/homepage/becca.jpg" alt=""><span class="nhsuk-list-apps__title">BECCA Breast Cancer Care App </span><span class="nhsuk-list-apps__category">Cancer</span></a>
                        </li>
                    </ul>

                    <a href="https://apps.beta.nhs.uk/" class="nhsuk-c-action-link-homepage nhsuk-c-action-link--small nhsuk-c-action-link--alternative" onmousedown="dcsMultiTrack(DCSext.ModuleName','Apps library','DCSext.ModuleUrl','https://apps.beta.nhs.uk/','WT.dl','121')" onkeypress="this.onmousedown()">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/static/nhsuk_shared/img/nhsuk-icon-arrow-right.png" xlink:href="">
                            </image>
                        </svg>

                        <span>Go to the NHS apps library</span>
                    </a>

                </div>
            </div>
        </div>
    </section>


    <section class="nhsuk-section">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
                    <div class="nhsuk-o-flex nhsuk-o-flex--nested">
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage">
                                <a href="http://www.blood.co.uk/?utm_source=nhsc_hp_blood&amp;utm_medium=referral&amp;utm_content=web&amp;utm_campaign=partner" onmousedown="dcsMultiTrack(DCSext.ModuleName','Campaigns','DCSext.ModuleUrl','http://www.blood.co.uk/?utm_source=nhsc_hp_blood&utm_medium=referral&utm_content=web&utm_campaign=partner','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__image-wrapper">
                                        <div class="nhsuk-c-promo-homepage__image" style="background-image:url(/static/nhsuk_shared/img/homepage/give-blood.png);"></div>
                                    </div>
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">Save a life: give blood</h3>
                                        <p class="nhsuk-c-promo-homepage__description">Please register today. Donating blood is easy, and saves lives.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage">
                                <a href="https://www.organdonation.nhs.uk/register-to-donate/register-your-details/?campaign=2331&amp;utm_source=nhsc_hp_organ&amp;utm_medium=referral&amp;utm_content=web&amp;utm_campaign=partner" onmousedown="dcsMultiTrack(DCSext.ModuleName','Campaigns','DCSext.ModuleUrl','https://www.organdonation.nhs.uk/register-to-donate/register-your-details/?campaign=2331&utm_source=nhsc_hp_organ&utm_medium=referral&utm_content=web&utm_campaign=partner','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__image-wrapper">
                                        <div class="nhsuk-c-promo-homepage__image" style="background-image:url(/static/nhsuk_shared/img/homepage/yes-i-donate-promo.png);"></div>
                                    </div>
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">Become a donor</h3>
                                        <p class="nhsuk-c-promo-homepage__description">Give someone the gift of life: register as an NHS Organ Donor today.</p>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-o-grid__item">

                            <div class="nhsuk-c-promo-homepage">
                                <a href="/be-clear-on-cancer" onmousedown="dcsMultiTrack(DCSext.ModuleName','Campaigns','DCSext.ModuleUrl','/be-clear-on-cancer','WT.dl','121')" onkeypress="this.onmousedown()">
                                    <div class="nhsuk-c-promo-homepage__image-wrapper">
                                        <div class="nhsuk-c-promo-homepage__image" style="background-image:url(/static/nhsuk_shared/img/homepage/clear-on-cancer-blood-in-pee.jpg);"></div>
                                    </div>
                                    <div class="nhsuk-c-promo-homepage__content">
                                        <h3 class="nhsuk-c-promo-homepage__heading">Noticed blood in your pee?</h3>
                                        <p class="nhsuk-c-promo-homepage__description">If you notice blood in your pee, even if it's just the once, tell your doctor.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<script>
    function randomImage() {
        var images = [
            '/static/nhsuk_shared/img/homepage/hero-1.jpg',
            '/static/nhsuk_shared/img/homepage/hero-2.jpg',
            '/static/nhsuk_shared/img/homepage/hero-3.jpg'
        ];

        var size = images.length;
        var x = Math.floor(size * Math.random());
        var element = document.getElementsByClassName('nhsuk-hero-image');

        if (element.length > 0) {
            element[0].style["background-image"] = "url(" + images[x] + ")";
        }
    }

    document.addEventListener("DOMContentLoaded", randomImage);
</script>