.nhsuk-c-panel {
  background: $nhsuk-white;
  margin: 72px 0 56px;
  padding: 24px;
  padding-top:0;
  position: relative;

  @include mq($until: tablet) {
    margin: 40px 0;
  }

  h3 {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    display: inline-block;
    margin: 0 -24px 8px -24px;
    padding: 8px 24px;
    position: relative;
    top: -16px;
    @include mq($until: tablet) {
      top: -8px;
    }

    & + p {
      margin-top: 0;
    }
  }

  &__warning {
    background: $nhsuk-pale-yellow;
    color: $nhsuk-text-colour;
    h3 {
      background: $nhsuk-yellow;
      color: $nhsuk-text-colour;
    }
  }

  @include top-and-bottom();

}

.nhsuk-c-keypoint {
  border-left: 8px solid $nhsuk-blue;
  margin: 40px 0;
  padding: 8px 24px;

  @include mq($until: tablet) {
      margin: 40px 0;
      padding: 4px 16px;
  }

  h2,
  h3,
  h4 {
    + p,
    + ul {
        margin-top: 16px;
    }
  }

  @include top-and-bottom();

  @include reading-width();

}
