/* ==========================================================================
   #breadcrumbs
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-c-breadcrumb {
  background: $colour_nhsuk-white;
  padding: 12px 0;

  @include mq($media-type: print) {
    display: none;
  }

  &__list {
    @include mq($until: tablet) {
      display: none;
    }

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    font-size: 16px;
    margin: 0;

    .nhsuk-icon__chevron-right {
      fill: $colour_nhsuk-grey-3;
      height: 18px;
      position: relative;
      top: 5px;
      width: 18px;

      @include mq($from: large-desktop) {
        margin: 0 3px 0 5px;
      }
    }
  }

  &__back {
    font-size: 14px;
    margin: 0;

    .nhsuk-icon__chevron-left {
      fill: $colour_nhsuk-blue;
      float: left;
      height: 24px;
      left: -8px;
      position: relative;
      width: 24px;
    }

    @include mq($from: tablet) {
      display: none;
    }
  }

  &__backlink {
    left: -8px;
    position: relative;
  }
}
