.nhsuk-c-reveal-group {
    margin:32px 0;
}

.nhsuk-c-reveal{
    margin:8px 0 0 0;

    &.white{
        padding: 24px;
        margin:8px 0 0 0;
        background: $nhsuk-white;
    }

    .nhsuk-c-reveal__header{
        display: inline-block;

        &:before{
            content: '';
            width: 28px;
            height: 28px;
            margin: 0 8px -7px 0;
            display: inline-block;
            background: url(../../../../images/icon-chevron-down-circle.svg) left center no-repeat;
            background-size: 28px 28px;
        }

        &.open:before{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .nhsuk-c-reveal__content{
        display: none;
        margin-top:16px;
    }
}
