@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;
@forward "../tables";

////
/// Sortable table component
///
/// @group components/sortable-table
////

@include nhsuk-exports("nhsuk/components/sortable-table") {
  th[aria-sort] {
    position: relative;
  }

  // This expands the button to fill the whole
  // table header element, for a bigger click area
  th[aria-sort] button::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // This adds a blue border at the bottom off
  // the currently-sorted header cell
  th[aria-sort="descending"] button::after,
  th[aria-sort="ascending"] button::after {
    content: "";

    position: absolute;
    bottom: -$nhsuk-border-width-form-element;
    left: 0;

    height: $nhsuk-border-width-form-element;

    background-color: $nhsuk-brand-colour;
    @include nhsuk-responsive-spacing(4, "right");
  }

  th[aria-sort="descending"]:last-child button::after,
  th[aria-sort="ascending"]:last-child button::after {
    right: 0;
    @include nhsuk-responsive-spacing(3, "left");
  }

  th[aria-sort]:hover {
    background-color: nhsuk-colour("grey-4");
  }

  [aria-sort] button {
    display: inline-flex;

    align-items: center;
    column-gap: nhsuk-spacing(2) - $nhsuk-border-width-form-element;

    margin: 0;
    padding: 0;
    padding-left: $nhsuk-border-width-form-element;

    border-width: 0;

    color: $nhsuk-brand-colour;
    background-color: transparent;
    box-shadow: 0 0 0 0;

    font-family: inherit;
    font-size: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;

    cursor: pointer;

    @include nhsuk-link-style-default;

    &:focus {
      @include nhsuk-focused-button;
    }
  }

  [aria-sort].nhsuk-table__header--numeric button {
    justify-content: end;
    padding-right: $nhsuk-border-width-form-element;
    padding-left: 0;
  }

  [aria-sort] button svg {
    flex-shrink: 0;
    width: auto;
    height: 1.25rem;
  }
}
