/* ==========================================================================
   COMPONENTS / #CARD
   ========================================================================== */

/**
 * 1. Is needed for the :active top positioning.
 * 2. Border is used to create a divider between the white content
 *    box and an image.
 * 3. Creates the 'pressed down' effect when clicked.
 * 4. Removes padding-top from headings directly after the card group.
 * 5. Includes the border width to achieve the correct left alignment.
 * 6. Stops the heading from spanning the full width of the card.
 * 7. Removes padding top for the feature heading positioning.
 */

$card-border-width: 1px;
$card-border-bottom-width: nhsuk-spacing(1);
$card-border-color: $color_nhsuk-grey-4;
$card-border-hover-color: $color_nhsuk-grey-3;

.nhsuk-card {
  @include nhsuk-responsive-margin(7, 'bottom');

  background: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative; /* [1] */
  width: 100%;
}

.nhsuk-card__img {
  @include print-hide();

  border-bottom: $card-border-width solid $color_nhsuk-grey-5; /* [2] */
  display: block;
  width: 100%;
}

.nhsuk-card__content {
  @include top-and-bottom();
  @include nhsuk-responsive-padding(5);

  position: relative;
}

.nhsuk-card__heading,
.nhsuk-card__metadata,
.nhsuk-card__description {
  margin-bottom: nhsuk-spacing(3);
}

/* Clickable card
  ========================================================================== */

.nhsuk-card--clickable {
  border-bottom-width: $card-border-bottom-width;

  &:hover,
  &:active {
    cursor: pointer;

    .nhsuk-card__heading a,
    .nhsuk-card__link {
      color: $nhsuk-link-hover-color;
      text-decoration: none;

      &:focus {
        color: $nhsuk-focus-text-color;
      }
    }

  }

  &:hover {
    border-color: $card-border-hover-color;
  }

  &:active {
    border-color: $card-border-hover-color;
    bottom: - $card-border-width; /* [3] */
  }
}

/* Card group
  ========================================================================== */

/**
* Card group allows you to have a row of cards.
*
* Flexbox is used to make each card in a row the same height.
*/

.nhsuk-card-group {
  @include flex();

  margin-bottom: nhsuk-spacing(3);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(6);
  }

  + h2,
  + .nhsuk-heading-l,
  + h3,
  + .nhsuk-heading-m, {
    padding-top: 0; /* [4] */
  }
}

.nhsuk-card-group__item {
  @include flex-item();

  list-style-type: none;
  margin-bottom: 0;

  .nhsuk-card {
    margin-bottom: nhsuk-spacing(5);
  }

  @include mq($until: desktop) {

    .nhsuk-card {
      margin-bottom: nhsuk-spacing(3);
    }

    &:last-child .nhsuk-card {
      margin-bottom: 0;
    }
  }
}

/* Card feature
  ========================================================================== */

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(7, 'top');
}

.nhsuk-card__heading--feature {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  left: - (nhsuk-spacing(4) + $card-border-width); /* [5] */
  margin-bottom: nhsuk-spacing(2);
  margin-right: - nhsuk-spacing(4); /* [6] */
  padding: nhsuk-spacing(2) nhsuk-spacing(4);
  position: relative;
  top: - nhsuk-spacing(2);

  @include mq($from: tablet) {
    left: - (nhsuk-spacing(5) + $card-border-width); /* [5] */
    margin-right: - nhsuk-spacing(5); /* [6] */
    padding: nhsuk-spacing(2) nhsuk-spacing(5);
    top: - nhsuk-spacing(3);
  }
}

.nhsuk-card__content--feature {
  padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */ /* [7] */
}
