/* ==========================================================================
   COMPONENTS / #CARD
   ========================================================================== */

/**
 * 1. Is needed for the :active top positioning, and invisible clickable overlay.
 * 2. Border is used to create a divider between the white content
 *    box and an image.
 * 3. Creates the 'pressed down' effect when clicked.
 * 4. Removes padding-top from headings directly after the card group.
 * 5. Includes the border width to achieve the correct left alignment.
 * 6. Stops the heading from spanning the full width of the card.
 * 7. Removes padding top for the feature heading positioning.
 * 8. Default care card colour set to blue (non-urgent care card) -
 *    using the @mixin care-card tools/_mixins.scss.
 *    The same mixin is used for each care card, setting the background
 *    colour,text colour and print border width with the variables.
 * 9. 'Random number' for the heading triangle.
 * 10. 'Random number' for the heading triangle positioning.
 * 11. 'Random number' used for spacing to compensate for the triangle.
 * 12. Needed to enable the triangle to show correctly in high contrast mode.
 * 13. Prevent additional padding on headings
 * 14. Give the action link icon sufficient contrast when used in the emergency variant
 * 15. Reset the positioning to the default [1] to display heading triangle on a coloured background.
 * 16. Emergency care card <a> needs to be white because the background colour is black.
 * 17. Trick IE10 into rendering the invisible clickable area. Without this it does not.
 */

$card-border-width: 1px;
$card-border-bottom-width: nhsuk-spacing(1);
$card-border-color: $color_nhsuk-grey-4;
$card-border-hover-color: $color_nhsuk-grey-3;

.nhsuk-card {
  @include nhsuk-responsive-margin(7, "bottom");

  background: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative; /* [1] */
  width: 100%;
}

.nhsuk-card__img {
  @include print-hide();

  border-bottom: $card-border-width solid $color_nhsuk-grey-5; /* [2] */
  display: block;
  width: 100%;
}

.nhsuk-card__content {
  @include top-and-bottom();
  @include nhsuk-responsive-padding(5);
}

.nhsuk-card__heading,
.nhsuk-card__metadata,
.nhsuk-card__description {
  margin-bottom: nhsuk-spacing(3);
}

/* Clickable card
  ========================================================================== */

.nhsuk-card--clickable {
  border-bottom-width: $card-border-bottom-width;

  .nhsuk-card__heading a,
  .nhsuk-card__link {
    &::before {
      background-color: rgba(255, 255, 255, 0); /* [17] */
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:active {
    border-color: $card-border-hover-color;
    bottom: -$card-border-width; /* [3] */
  }
}

/* Card group
  ========================================================================== */

/**
* Card group allows you to have a row of cards.
*
* Flexbox is used to make each card in a row the same height.
*/

.nhsuk-card-group {
  @include flex();

  margin-bottom: nhsuk-spacing(3);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(6);
  }

  + h2,
  + .nhsuk-heading-l,
  + h3,
  + .nhsuk-heading-m {
    padding-top: 0; /* [4] */
  }
}

.nhsuk-card-group__item {
  @include flex-item();

  list-style-type: none;
  margin-bottom: 0;

  .nhsuk-card {
    margin-bottom: nhsuk-spacing(5);
  }

  @include mq($until: desktop) {
    .nhsuk-card {
      margin-bottom: nhsuk-spacing(3);
    }

    &:last-child .nhsuk-card {
      margin-bottom: 0;
    }
  }
}

/* Card feature
  ========================================================================== */

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(7, "top");
}

.nhsuk-card__heading--feature {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  left: -(nhsuk-spacing(4) + $card-border-width); /* [5] */
  margin-bottom: nhsuk-spacing(2);
  margin-right: -(nhsuk-spacing(4)); /* [6] */
  padding: nhsuk-spacing(2) nhsuk-spacing(4);
  position: relative;
  top: -(nhsuk-spacing(2));

  @include mq($from: tablet) {
    left: -(nhsuk-spacing(5) + $card-border-width); /* [5] */
    margin-right: -(nhsuk-spacing(5)); /* [6] */
    padding: nhsuk-spacing(2) nhsuk-spacing(5);
    top: -(nhsuk-spacing(3));
  }
}

.nhsuk-card__content--feature {
  padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */ /* [7] */
}

/* Care card
  ========================================================================== */

.nhsuk-card--care {
  @include nhsuk-responsive-margin(7, "top");
  @include care-card($color_nhsuk-blue, $color_nhsuk-white, 4px); /* [8] */
}

.nhsuk-card--care__heading-container {
  @include nhsuk-responsive-padding(5, "left");
  @include nhsuk-responsive-padding(5, "right");

  padding-bottom: nhsuk-spacing(3);
  padding-top: nhsuk-spacing(3);
  position: relative;
}

.nhsuk-card--care__heading {
  @include nhsuk-font(26, $weight: bold);
  @include print-color($nhsuk-print-text-color);

  margin: 0;
  padding-top: 0; /* [13] */
}

.nhsuk-card--care__arrow {
  bottom: -10px; /* [9] */
  display: block;
  height: 20px; /* [9] */
  left: 30px; /* [10] */
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  width: 20px; /* [9] */
  @include print-hide();

  @include mq($from: tablet) {
    left: 38px; /* [10] */
  }

  &:before,
  &:after {
    border: solid 32px $color_nhsuk-blue; /* [9] */
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg); /* [12] */
    width: 0;
  }
}

.nhsuk-card--care--urgent {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 6px);

  .nhsuk-card--care__arrow {
    &:before,
    &:after {
      border-color: $color_nhsuk-red;
    }
  }
}

.nhsuk-card--care--emergency {
  @include care-card($color_nhsuk-red, $color_nhsuk-white, 8px);

  .nhsuk-card--care__arrow {
    &:before,
    &:after {
      border-color: $color_nhsuk-red;
    }
  }

  .nhsuk-card__content {
    background-color: $color_nhsuk-black;
    border: 0;
    color: $color_nhsuk-white;
    position: static; /* [15] */

    a {
      color: $color_nhsuk-white; /* [16] */

      &:focus {
        color: $color_nhsuk-black; /* [16] */
      }
    }
    @include mq($media-type: print) {
      background-color: white;
      color: $nhsuk-print-text-color;
    }
  }

  .nhsuk-details,
  .nhsuk-details__summary {
    color: $color_nhsuk-white;
  }

  .nhsuk-details__summary {
    &:hover {
      color: $color_nhsuk-white;
    }
    &:focus {
      color: $color_nhsuk-black;
    }
  }

  .nhsuk-action-link__link {
    .nhsuk-icon__arrow-right-circle {
      fill: $color_nhsuk-white; /* [14] */
    }
  }
}

/* Card primary
  ========================================================================== */

.nhsuk-card__content--primary {
  padding-right: 75px;

  @include mq($from: desktop) {
    height: 100%;
  }

  .nhsuk-icon {
    display: block;
    fill: $color_nhsuk-blue;
    margin-top: -(nhsuk-spacing(2));
    pointer-events: none;
    position: absolute;
    right: nhsuk-spacing(4);
    top: 50%;
  }
}

/* Card secondary
  ========================================================================== */

.nhsuk-card--secondary {
  background: transparent;
  border-bottom: $card-border-bottom-width solid $card-border-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.nhsuk-card__content--secondary {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
