{% set title = 'Transactional test page - NHS.UK Frontend' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/fieldset/macro.njk' import fieldset %}
{% from 'components/input/macro.njk' import input %}

{% extends 'forms.njk' %}

{% set mainWrapperClass = 'nhsuk-main-wrapper--s' %}

{% block header %}
  <!-- Skip link -->
  {{ skipLink({
    "URL": "#maincontent",
    "heading": "Skip to main content"
  }) }}

  <!-- Header -->
  {{ header({
    "transactionalService": {
        "name": "Find out why your NHS data matters",
        "href": "/pages/transactional-test-pages/ndop-1.html",
        "longName": "true"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}

<form action="/pages/transactional-test-pages/ndop-2.html">

  <div class="nhsuk-form-group nhsuk-form-group--wrapper">

    {{ fieldset({
      "legend": {
        "text": "Enter your name",
        "classes": "nhsuk-fieldset__legend--l",
        "isPageHeading": true
      }
    }) }}

    {{ input({
      "label": {
        "text": "First name"
      },
      "id": "firstName",
      "name": "firstName",
      "classes": "nhsuk-input--width-20"
    }) }}

    {{ input({
      "label": {
        "text": "Last name"
      },
      "id": "lastName",
      "name": "lastName",
      "classes": "nhsuk-input--width-20"
    }) }}

  </div>

  {{ button({
    "text": "Continue"
  }) }}

  {{ backLink({
    "href": "/pages/transactional-test-pages/ndop-1.html",
    "text": "Go back",
    "classes": "nhsuk-!-margin-bottom-0"
  }) }}

</form>

{% endblock %}

