{% set title = 'Transactional test page - NHS.UK frontend' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/fieldset/macro.njk' import fieldset %}
{% from 'components/hint/macro.njk' import hint %}
{% from 'components/radios/macro.njk' import radios %}
{% from 'components/details/macro.njk' import details %}

{% extends 'forms.njk' %}

{% set mainWrapperClass = 'nhsuk-main-wrapper--s' %}

{% block header %}
  <!-- Skip link -->
  {{ skipLink({
    "URL": "#maincontent",
    "heading": "Skip to main content"
  }) }}

  <!-- Header -->
  {{ header({
    "transactionalService": {
        "name": "Find out why your NHS data matters",
        "href": "/pages/transactional-test-pages/ndop-1.html",
        "longName": "true"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}

<form>

  <div class="nhsuk-form-group nhsuk-form-group--wrapper">

    {{ radios({
      "idPrefix": "example",
      "name": "example",
      "fieldset": {
        "legend": {
          "text": "Do you know your NHS number?",
        "classes": "nhsuk-fieldset__legend--l",
        "isPageHeading": true
        }
      },
      "hint": {
        "text": "This is a 10 digit number, like 485 777 3456."
      },
      "hint": {
        "classes": "nhsuk-u-margin-bottom-5",
        "text": "You can find this on any letter sent to you by the NHS, on a prescription or by logging in to a GP practice online service."
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

  </div>

  {{ button({
    "text": "Continue"
  }) }}

  {{ backLink({
    "href": "/pages/transactional-test-pages/ndop-2.html",
    "text": "Go back",
    "classes": "nhsuk-u-margin-bottom-0"
  }) }}

</form>

{% endblock %}

