{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hint' %}
{% from 'components/hint/macro.njk' import hint %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ hint({
            "text": "It’s on your National Insurance card, benefit letter, payslip or P60.\nFor example, ‘QQ 12 34 56 C’.\n"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
