.nhsuk-c-review-datestamp{
    margin: 56px 0;

    &:before{
        content: '';
        display: block;
        width: 20%;
        height: 5px;
        background-color: $nhsuk-blue;
    }

    p{
        font-size: 0.8em;
    }
}

.nhsuk-c-review-datestamp-v2{
    padding:24px 0;
    background: #126bc5;

    p{
        margin-top: 0;
        font-size: 0.8em;
        color: $nhsuk-white;
    }
}

.nhsuk-c-review-datestamp-v3{
<<<<<<< HEAD
<<<<<<< HEAD
    padding:40px 0 0 0 ;
=======
    padding:0.2em 0 0 0 ;
>>>>>>> page review stuff
=======
    padding:40px 0 0 0 ;
>>>>>>> page review stuff part deux

    p{
        margin-top: 0;
        color: $nhsuk-grey-1;
    }
}