@use "../settings" as *;
@use "../tools" as *;

////
/// Icons
///
/// @group styles
////

/// Default icon styles

.nhsuk-icon {
  fill: currentcolor;
  height: nhsuk-px-to-rem($nhsuk-icon-size);
  width: nhsuk-px-to-rem($nhsuk-icon-size);

  @include nhsuk-media-query($from: tablet) {
    height: nhsuk-px-to-rem($nhsuk-icon-size-large);
    width: nhsuk-px-to-rem($nhsuk-icon-size-large);
  }
}

/// Icon size adjustments

.nhsuk-icon--size-25 {
  $ratio: 1.25; // 25% larger

  height: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);
  width: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);

  @include nhsuk-media-query($from: tablet) {
    height: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
    width: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
  }
}

.nhsuk-icon--size-50 {
  $ratio: 1.5; // 50% larger

  height: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);
  width: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);

  @include nhsuk-media-query($from: tablet) {
    height: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
    width: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
  }
}

.nhsuk-icon--size-75 {
  $ratio: 1.75; // 75% larger

  height: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);
  width: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);

  @include nhsuk-media-query($from: tablet) {
    height: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
    width: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
  }
}

.nhsuk-icon--size-100 {
  $ratio: 2; // 100% larger

  height: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);
  width: nhsuk-px-to-rem($nhsuk-icon-size * $ratio);

  @include nhsuk-media-query($from: tablet) {
    height: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
    width: nhsuk-px-to-rem($nhsuk-icon-size-large * $ratio);
  }
}
