{% set title = 'NHS.UK Home page' %}
{% from "macros/action-link.html" import actionLink %}
{% from "macros/promo.html" import promoWithImage, promo %}
{% extends "includes/templates/nhsuk-home-page.html"%}


{% block content %}

{% include 'partials/home-page/home-page-hero-1.html' %}

<section class="nhsuk-section nhsuk-section--top-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-health-a-z.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-services.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--with-image">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-find-help.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-healthy-living.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-social-care.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-promos.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-news.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-apps-library.html' %}
        </div>
    </div>
</section>

{% endblock %}

