////
/// Ifff
///
/// Syntactic sugar around Sass' built-in `if` function that does not require
/// you to pass a value for `$if-false`.
///
/// @group tools
/// @link https://github.com/alphagov/govuk-frontend Original code taken from GDS (Government Digital Service)
///
/// @param {Boolean} $condition - Whether to return the value of `$if-true`
/// @param {Mixed} $if-true - Value to return if `$condition` is truthy
/// @return {Mixed} Value of `$if-true` if `$condition` is truthy, else null
///
/// @deprecated To be removed in v10.0, use `if($condition, $if-true, null);` instead.

@function iff($condition, $if-true) {
  @warn "The `iff` function will be removed in a future release, use `if($condition, $if-true, null);` instead.";
  @return if($condition, $if-true, null);
}
