<section class="nhsuk-user-account">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-user-account__content">
                    <p class="nhsuk-user-account__message">Logged in as <span class="nhsuk-user-account__user-name">Steve Rogers</span> <a href="#" class="nhsuk-user-account__logout">Log out</a></p>
                </div>
            </div>
        </div>
    </div>
</section>