{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Radios with a divider' %}
{% from 'components/radios/macro.njk' import radios %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ radios({
            "idPrefix": "example-divider",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "How do you want to sign in?",
                "classes": "nhsuk-fieldset__legend--l",
                "pageHeading": "true"
              }
            },
            "items": [
              {
                "value": "government-gateway",
                "text": "Use Government Gateway"
              },
              {
                "value": "nhsuk-login",
                "text": "Use NHS.UK login"
              },
              {
                "divider": "or"
              },
              {
                "value": "create-account",
                "text": "Create an account"
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
