{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Radios with hint text' %}
{% from 'components/radios/macro.njk' import radios %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ radios({
            "idPrefix": "gov",
            "name": "gov",
            "fieldset": {
              "legend": {
                "text": "How do you want to sign in?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": "true"
              }
            },
            "items": [
              {
                "value": "gateway",
                "text": "Sign in with Government Gateway",
                "hint": {
                  "text": "You'll have a user ID if you've registered for self assessment or filed a tax return online before."
                }
              },
              {
                "value": "verify",
                "text": "Sign in with NHS.UK login",
                "hint": {
                  "text": "You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity."
                }
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
