{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Radios inline' %}
{% from 'components/radios/macro.njk' import radios %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ radios({
            "idPrefix": "example",
            "classes": "nhsuk-radios--inline",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "Have you changed your name?",
                "classes": "nhsuk-fieldset__legend--m"
              }
            },
            "hint": {
              "text": "This includes changing your last name or spelling your name differently."
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No",
                "checked": true
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
