{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Radios with nested conditonal content' %}
{% from 'components/radios/macro.njk' import radios %}
{% from 'components/input/macro.njk' import input %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% extends 'layout.njk' %}

{% set emailHtml %}
  {{ input({
    id: "email",
    name: "email",
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Email address"
    }
  }) }}
{% endset -%}

{% set phoneHtml %}
  {{ input({
    id: "phone",
    name: "phone",
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Phone number"
    }
  }) }}
{% endset -%}

{% set mobileHtml %}
  {{ input({
    id: "mobile",
    name: "mobile",
    classes: "nhsuk-u-width-two-thirds",
    label: {
      text: "Mobile phone number"
    }
  }) }}
{% endset -%}

{%- set nestedConditional %}
    {{ radios({
      "idPrefix": "inner",
      "name": "inner",
      "fieldset": {
        "legend": {
          "text": "How would you prefer to be contacted?",
          "classes": "nhsuk-fieldset__legend--l"
        }
      },
      "hint": {
          "text": "Select one option."
      },
      "items": [
          {
            "value": "email",
            "text": "Email",
            "conditional": {
              "html": emailHtml
            }
          },
          {
            "value": "phone",
            "text": "Phone",
            "conditional": {
              "html": phoneHtml
            }
          },
          {
            "value": "text",
            "text": "Text message",
            "conditional": {
              "html": mobileHtml
            }
          }
      ]
    }) }}
{% endset -%}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ warningCallout({
            "heading": "Important",
            "HTML": "<p>Please do everything in your power to avoid nested conditionals like this. The example is here to demonstrate that it works - not as a recommendation!</p>"
          }) }}
          <form>
            {{ radios({
              "idPrefix": "outer",
              "name": "outer",
              "fieldset": {
                "legend": {
                  "text": "How would you prefer to be contacted?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Select one option."
              },
              "items": [
                {
                  "value": "no-conditional",
                  "text": "No conditional"
                },
                {
                  "value": "nested",
                  "text": "Nested conditional",
                  "conditional": {
                    "html": nestedConditional
                  }
                }
              ]
            }) }}
          </form>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
