{% set title = 'Radios without fieldset' %}
{% from 'components/radios/macro.njk' import radios %}
{% extends '_templates/example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ radios({
        "name": "colours",
        "items": [
          {
            "value": "red",
            "text": "Red"
          },
          {
            "value": "green",
            "text": "Green"
          },
          {
            "value": "blue",
            "text": "Blue"
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
