// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// NHS colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with nhsuk- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

$color_nhsuk-blue: #005eb8;
$color_nhsuk-white: #ffffff;
$color_nhsuk-black: #212b32;
$color_nhsuk-green: #007f3b;
$color_nhsuk-purple: #330072;
$color_nhsuk-dark-pink: #7c2855;
$color_nhsuk-red: #d5281b;
$color_nhsuk-yellow: #ffeb3b;

//
// Secondary colours
//

$color_nhsuk-pale-yellow: #fff9c4;
$color_nhsuk-warm-yellow: #ffb81c;
$color_nhsuk-orange: #ed8b00;
$color_nhsuk-aqua-green: #00a499;
$color_nhsuk-pink: #ae2573;

//
// Greyscale
//

$color_nhsuk-grey-1: #4c6272;
$color_nhsuk-grey-2: #768692;
$color_nhsuk-grey-3: #aeb7bd;
$color_nhsuk-grey-4: #d8dde0;
$color_nhsuk-grey-5: #f0f4f5;

/* stylelint-enable color-no-hex */
//
// RGB and alpha values
//
// Used to create drop/box shadows e.g. for search suggestions dropdown
//

$color_nhsuk-grey-1-rgb: rgb(66, 84, 98);
$alpha-transparency-50: 0.5;

//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_nhsuk-black, 10%)
//        shade(color, percentage)
//        shade($color_nhsuk-blue, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//
// 1. used for link :active states
// 2. used for .is-active state on main navigation
// 3. used for :hover states on main navigation
// 4. used for :active states on main navigation
// 5. used for primary button and action link icon :hover states
// 6. used for primary button and action link icon :active states
//

$color_tint_nhsuk-black-10: tint($color_nhsuk-black, 10%); // [1] //

$color_shade_nhsuk-blue-20: shade($color_nhsuk-blue, 20%); // [2] //
$color_shade_nhsuk-blue-35: shade($color_nhsuk-blue, 35%); // [3] //
$color_shade_nhsuk-blue-50: shade($color_nhsuk-blue, 50%); // [4] //

$color_shade_nhsuk-green-35: shade($color_nhsuk-green, 35%); // [5] //
$color_shade_nhsuk-green-50: shade($color_nhsuk-green, 50%); // [6] //

$color_transparent_nhsuk-white-20: rgba($color_nhsuk-white, 0.2);
$color_transparent_nhsuk-blue-50: rgba($color_shade_nhsuk-blue-50, 0.1);

//
// Colour aliases
//

// Text
$nhsuk-text-color: $color_nhsuk-black;
$nhsuk-secondary-text-color: $color_nhsuk-grey-1;
$nhsuk-print-text-color: $color_nhsuk-black;
$nhsuk-footer-link-text-color: #003087;
$nhsuk-footer-copyright-text-color: #231f20;

// Links
$nhsuk-link-color: $color_nhsuk-blue;
$nhsuk-link-hover-color: $color_nhsuk-dark-pink;
$nhsuk-link-active-color: shade($nhsuk-link-color, 50%);
$nhsuk-link-visited-color: $color_nhsuk-purple;

// Focus
$nhsuk-focus-color: $color_nhsuk-yellow;
$nhsuk-focus-text-color: $color_nhsuk-black;

// Border
$nhsuk-border-color: $color_nhsuk-grey-4;
$nhsuk-secondary-border-color: $color_transparent_nhsuk-white-20;

// Box shadow
$nhsuk-box-shadow: rgba(33, 43, 50, 0.16);
$nhsuk-box-shadow-color: $color_nhsuk-grey-1-rgb;

//
// Forms
//

$nhsuk-error-color: $color_nhsuk-red;
$nhsuk-form-border-color: $color_nhsuk-grey-1;
$nhsuk-form-element-background-color: $color_nhsuk-white;

//
// Buttons
//

$nhsuk-button-color: $color_nhsuk-green;
$nhsuk-button-hover-color: shade($nhsuk-button-color, 20%);
$nhsuk-button-active-color: shade($nhsuk-button-color, 50%);
$nhsuk-button-shadow-color: shade($nhsuk-button-color, 50%);

$nhsuk-secondary-button-color: $color_nhsuk-grey-1;
$nhsuk-secondary-button-hover-color: shade($nhsuk-secondary-button-color, 20%);
$nhsuk-secondary-button-active-color: shade($nhsuk-secondary-button-color, 50%);
$nhsuk-secondary-button-shadow-color: shade($nhsuk-secondary-button-color, 50%);

$nhsuk-reverse-button-color: $color_nhsuk-white;
$nhsuk-reverse-button-hover-color: shade($nhsuk-reverse-button-color, 20%);
$nhsuk-reverse-button-active-color: $color-nhsuk-black;
$nhsuk-reverse-button-shadow-color: $color-nhsuk-black;

$nhsuk-warning-button-color: $color_nhsuk-red;
$nhsuk-warning-button-hover-color: shade($nhsuk-warning-button-color, 20%);
$nhsuk-warning-button-active-color: shade($nhsuk-warning-button-color, 50%);
$nhsuk-warning-button-shadow-color: shade($nhsuk-warning-button-color, 50%);

$nhsuk-button-text-color: $color_nhsuk-white;
$nhsuk-reverse-button-text-color: $color_nhsuk-black;
