/* ==========================================================================
   SETTINGS / #GLOBALS
   ========================================================================== */

/**
 * Fonts
 *
 * 1. Fallback fonts if Frutiger fails to load
*/

$nhsuk-font: 'Frutiger W01';
$nhsuk-font-fallback: 'Arial, Helvetica, Sans-serif'; /* [1] */
$nhsuk-font-family-print: sans-serif !default;

/**
 * Font sizing and spacing
*/

$nhsuk-base-font-size: 16px !default;
$nhsuk-base-line-height: 24px !default;

/**
 * Icon default sizing
*/

$nhsuk-icon-size: 34px !default;

/**
 * Margins
*/

$nhsuk-base-margin: 8px;

/**
 * Grid spacing
*/

$govuk-page-width: 960px;
$govuk-gutter: 32px;
$govuk-gutter-half: $govuk-gutter / 2;
