/* ==========================================================================
   #icons
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

.nhsuk-icon {
  height: $nhsuk-icon-size;
  width: $nhsuk-icon-size;

  &__search {
    fill: $nhsuk-blue;
  }
  &__chevron-left {
    fill: $nhsuk-blue;
  }
  &__chevron-right {
    fill: $nhsuk-blue;
  }
  &__close {
    fill: $nhsuk-blue;
  }
  &__cross {
    fill: $nhsuk-red;
    &--fallback {
      padding-top: 10px;
    }
  }
  &__tick {
    fill: none;
    stroke: $nhsuk-green;
    &--fallback {
      padding-top: 9px;
    }
  }
  &__arrow-right {
    fill: $nhsuk-blue;
  }
  &__arrow-left {
    fill: $nhsuk-blue;
  }
  &__arrow-right-circle {
    fill: $nhsuk-green;
  }
  &__chevron-down {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); // sass-lint:disable-line property-sort-order
    fill: $nhsuk-blue; // sass-lint:disable-line property-sort-order
    path {
      fill: $nhsuk-white;
    }
  }
  &__chevron-up {
    fill: $nhsuk-blue;
    path {
      fill: $nhsuk-white;
    }
  }

  &--size-25 {
    height: $nhsuk-icon-size * 1.25;
    width: $nhsuk-icon-size * 1.25;
  }
  &--size-50 {
    height: $nhsuk-icon-size * 1.5;
    width: $nhsuk-icon-size * 1.5;
  }
  &--size-75 {
    height: $nhsuk-icon-size * 1.75;
    width: $nhsuk-icon-size * 1.75;
  }
  &--size-100 {
    height: $nhsuk-icon-size * 2;
    width: $nhsuk-icon-size * 2;
  }

}

.nhsuk-logo {
  height: 40px;
  width: 99px;
}
