$govuk-border-width-form-element: 2px !default;
$govuk-border-width-form-element-error: 4px !default;
$govuk-focus-width: 3px !default;
$govuk-border-width: 5px !default;
$govuk-border-width-mobile: 4px !default;
$govuk-border-width-form-group-error: $govuk-border-width !default;
