/* ==========================================================================
   SETTINGS / #TYPOGRAPHY
   ========================================================================== */

$font-size-64: (
  null : (48px, 1.166),
  tablet: (64px, 1.125),
);

$font-size-48: (
  null : (32px, 1.125),
  tablet: (48px, 1.166),
);

$font-size-32: (
  null : (24px, 1.333),
  tablet: (32px, 1.25),
);

$font-size-24: (
  null : (20px, 1.4),
  tablet: (24px, 1.333),
);

$font-size-22: (
  null : (18px, 1.555),
  tablet: (22px, 1.454),
);

$font-size-19: (
  null : (16px, 1.5),
  tablet: (19px, 1.473),
);

$font-size-16: (
  null : (14px, 1.714),
  tablet: (16px, 1.5),
);
