/* ==========================================================================
   SETTINGS / #TYPOGRAPHY
   ========================================================================== */

$font-size-64: (
  null: (48px, 56px),
  tablet: (64px, 72px),
);

$font-size-48: (
  null: (32px, 40px),
  tablet: (48px, 56px),
);

$font-size-32: (
  null: (24px, 32px),
  tablet: (32px, 40px),
);

$font-size-24: (
  null: (20px, 28px),
  tablet: (24px, 32px),
);

$font-size-22: (
  null: (18px, 28px),
  tablet: (22px, 32px),
);

$font-size-19: (
  null: (16px, 24px),
  tablet: (19px, 28px),
);

$font-size-16: (
  null : (14px, 24px),
  tablet: (16px, 24px),
);
