// Typographic scale
$font-size-48: (
  null : (32px, 1.125),
  tablet: (48px, 1.166),
);
$font-size-32: (
  null : (24px, 1.333),
  tablet: (32px, 1.25),
);
$font-size-24: (
  null : (20px, 1.4),
  tablet: (24px, 1.333),
);
$font-size-22: (
  null : (18px, 1.555),
  tablet: (22px, 1.454),
);
$font-size-19: (
  null : (16px, 1.5),
  tablet: (19px, 1.473),
);
$font-size-16: (
  null : (14px, 1.714),
  tablet: (16px, 1.5),
);

// Mixin for font-size
@mixin font-size($fs-map, $fs-breakpoints: $mq-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    font-size: nth($fs-font-size, 1);
    font-size: govuk-em(nth($fs-font-size, 1), $nhsuk-base-font-size);
    line-height: nth($fs-font-size, 2);
}

// Default styling for semantic headings
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: $nhsuk-font-bold;
  margin-bottom: 0;
}

// Semantic heading sizes
h1 {
  @include font-size($font-size-48);
  @include govuk-responsive-margin(8, "top");
}
h2 {
  @include font-size($font-size-32);
  @include govuk-responsive-margin(7, "top");
}
h3 {
  @include font-size($font-size-24);
  @include govuk-responsive-margin(5, "top");
}
h4 {
  @include font-size($font-size-22);
  @include govuk-responsive-margin(4, "top");
}
h5 {
  @include font-size($font-size-19);
  @include govuk-responsive-margin(4, "top");
}
h6 {
  @include font-size($font-size-16);
  @include govuk-responsive-margin(4, "top");
}

// Semantic font sizes
p, ul, ol, li {
  @include font-size($font-size-19);

  margin-bottom: 0;
}

p {
  @include govuk-responsive-margin(4, "top");
}

ol, ul {
  @include govuk-responsive-margin(3, "top");

  padding-left: 20px; //Need to explain why we have used a random number

  li {
    @include govuk-responsive-margin(2, "top");

    &:first-child {
      @include govuk-responsive-margin(0, "top");
    }
  }
}

tr, th {
  font-weight: $nhsuk-font-normal;
}

strong, b {
  font-weight: $nhsuk-font-bold;
}

// Normal font
.nhsuk-c-font-xl {
  @include font-size($font-size-48);
}
.nhsuk-c-font-l {
  @include font-size($font-size-32);
}
.nhsuk-c-font-m {
  @include font-size($font-size-24);
}
.nhsuk-c-font-s {
  @include font-size($font-size-22);
}
.nhsuk-c-font-xs {
  @include font-size($font-size-19);
}
.nhsuk-c-font-xxs {
  @include font-size($font-size-16);
}