$nhsuk-base-font-size: 16px !default;
$nhsuk-base-line-height: 1.5 !default;
$nhsuk-base-font-size-mobile: 16px !default;
$nhsuk-base-line-height-mobile: 1.5 !default;

$nhsuk-icon-size: 34px;

$nhsuk-base-margin: 8px;
