/* ==========================================================================
   #variables
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

$nhsuk-base-font-size: 19px !default;
$nhsuk-base-line-height: 28px !default;
$nhsuk-base-font-size-mobile: 16px !default;
$nhsuk-base-line-height-mobile: 24px !default;

$nhsuk-icon-size: 34px;

$nhsuk-base-margin: 8px;
