//////////////////////
/// Callout
/////////////////////

.nhsuk-c-panel-wagtail {
  background: $nhsuk-white;
  margin: 72px 0 56px;
  padding: 24px;
  padding-top: 0;
  position: relative;

  @include mq($until: tablet) {
    margin: 40px 0;
  }

  h3 {
    background: $nhsuk-blue;
    color: $nhsuk-white;
    display: inline-block;
    margin: 0 -24px 8px;
    padding: 8px 24px;
    position: relative;
    top: -16px;
    @include mq($until: tablet) {
      top: -8px;
    }

    & + p {
      margin-top: 0;
    }
  }

  &__warning {
    background: $nhsuk-pale-yellow;
    color: $nhsuk-text-colour;
    h3 {
      background: $nhsuk-yellow;
      color: $nhsuk-text-colour;
    }
  }

  @include top-and-bottom();

}

/////////////////////
/// Do & Don't list
////////////////////

.nhsuk-c-panel--check-list-wagtail {

  ul {
    margin-top: 0;
    list-style: none;
    position: relative;

    li {
      padding-left: 20px;

      &:before {
        display: block;
        content: '';
        background: url(/images/Icon-tick-v4.svg);
        background-size: 34px 34px;
        height: 34px;
        width: 34px;
        position: absolute;
        left: -4px;
        margin-top: -5px;
      }

    }

  }

}

.nhsuk-c-panel--cross-list-wagtail {

  ul {
    margin-top: 0;
    list-style: none;
    position: relative;

    li {
      padding-left: 20px;

      &:before {
        display: block;
        content: '';
        background: url(/images/Icon-cross_v2.svg);
        background-size: 34px 34px;
        height: 34px;
        width: 34px;
        position: absolute;
        left: -4px;
        margin-top: -5px;
      }

    }

  }

}

/////////////////////
/// Action Link
////////////////////

.nhsuk-c-action-link-wagtail {
  margin: 32px 16px 32px 0;
  position: relative;

  a {
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 42px;

    @include mq($until: tablet) {
      font-size: 19px;
      padding-left: 36px;
    }
  
    &:hover,
    &:active,
    &:focus {
      background: none;
    }

    &:before {
      display: block;
      content: '';
<<<<<<< HEAD
      background: url(/images/icon-arrow-right-wagtail.svg);
=======
      background: url(/images/Icon-arrow1-right-ALT-circle_v2.svg);
>>>>>>> :bird: wagtail specific component styling
      background-size: 40px 40px;
      height: 40px;
      width: 40px;
      position: absolute;
      left: -3px;
      top: -6px;
    }

<<<<<<< HEAD
    @include mq($until: tablet) {
      &:before {
        background-size: 34px 34px;
        height: 34px;
        width: 34px;
      }
    }

=======
>>>>>>> :bird: wagtail specific component styling
  }

}

<<<<<<< HEAD
.no-svg {
  .nhsuk-c-panel--tick-list-wagtail { 
    ul {
      li {  
        &:before {
          background-image: url(/images/icon-tick.png);
        }
      }
    }
  }
  .nhsuk-c-panel--cross-list-wagtail { 
    ul {
      li {  
        &:before {
          background-image: url(/images/icon-cross.png);
        }
      }
    }
  }
  .nhsuk-c-action-link-wagtail { 
    &:before {
      background-image: url(/images/icon-arrow-right.png); 
    }
  }
}

=======
>>>>>>> :bird: wagtail specific component styling
/////////////////////
/// Care Cards
////////////////////
