.nhsuk-c-breadcrumb {
  background: $nhsuk-white;
  padding: 12px 0;

  &__list {
    @include mq($until: tablet) {
      display: none;
    }

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    font-size: 16px;
    margin: 0;

    .nhsuk-icon__chevron-right {
      fill: $nhsuk-grey-3;
      height: 18px;
      position: relative;
      top: 5px;
      width: 18px;

      @include mq($from: large-desktop) {
        margin: 0 5px;
      }
    }
  }

  &__back {
    font-size: 14px;
    margin: 0;

    .nhsuk-icon__chevron-left {
      fill: $nhsuk-blue;
      float: left;
      height: 24px;
      left: -8px;
      position: relative;
      width: 24px;
    }

    @include mq($from: tablet) {
      display: none;
    }
  }

  &__backlink {
    left: -8px;
    position: relative;
  }
}
