<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
      <li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a> {% include 'partials/icons/icon-chevron-right.svg' %}</li>
      <li class="nhsuk-c-breadcrumb__item"><a href="/examples/health-a-z/health-a-z" class="nhsuk-c-breadcrumb__link">Health A-Z</a> {% include 'partials/icons/icon-chevron-right.svg' %}</li>
      <li class="nhsuk-c-breadcrumb__item"><a href="/examples/test-minihub-amd-v2" class="nhsuk-c-breadcrumb__link">{{parent}}</a></li>
    </ol>
    <p class="nhsuk-c-breadcrumb__back">{% include 'partials/icons/icon-chevron-left.svg' %}<a href="/examples/test-minihub-amd-v2" class="nhsuk-c-breadcrumb__backlink">Back to {{parent}}</a></p>
  </div>
</nav>
