// Primary NHS blues
// =================
$blue: #005eb8;
$blue-50: #76adda;
$blue-10: #e6eff8;
$dark-blue: #003087;
$bright-blue: #0072ce;

$nhs-light-blue: #41B6E6;
$nhs-aqua-blue: #00A9CE;

// NHS greyscale
// =============
// This is an 5 step greyscale
// Uses NHS brand colours as a foundation for the first 2 steps
// and adds three modified greys
$black: #231f20;
$grey: #E8EDEE;
$grey-1: #425563;
$grey-2: #768692;
$grey-3: #aeb7bd;
$grey-4: #d8dde0;
$grey-5: #f0f4f5;
$white: #fff;

// Secondary colours
// =================
$dark-green: #006747;
$green: #007f3b; // modified to comply with WCAG contrast with white
$light-green: #78be20;

$red: #da291c;
$red-50: #e3968a;
$red-10: #f5e6e4;

$yellow: #ffb81c;
$yellow-50: #fada8b;
$yellow-10: #fdf2d5;


// Semantic colour names
// =====================
$nhs-blue: $blue;
$emergency-services-red: $red;

$text-colour: $black;

$link-colour: $blue;
$link-reverse-polarity: $white;

$link-visited-colour: $dark-blue;
$link-visited-reverse-polarity: $white;

$link-hover-colour: #4c92d9;
$link-hover-reverse-polarity: #d4efff;

$link-active-colour: #4c92d9;
$link-active-reverse-polarity: #d4efff;

$focus-colour: $yellow;
