h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: $nhs-font-bold;
  margin-bottom: 0;
  color: inherit;
}

h1,
.nhs-heading-xl{
    font-size:44px;
    line-height:52px;
    margin:56px 0 0;
    @media only screen and (max-width: 481px) {
      font-size:32px;
      line-height:36px;
      margin:32px 0 0;
    }
}

h2,
.nhs-heading-l{
    font-size:32px;
    line-height:40px;
    margin:56px 0 0;
    @media only screen and (max-width: 481px) {
      font-size:24px;
      line-height:32px;
      margin:40px 0 0;
    }
}

h3,
.nhs-heading-m{
    font-size:24px;
    line-height:32px;
    margin:40px 0 0;
    @media only screen and (max-width: 481px) {
      font-size:20px;
      line-height:28px;
      margin:32px 0 0;
    }
}

h4,
.nhs-heading-s{
    font-size:22px;
    line-height:32px;
    margin:32px 0 0;
    @media only screen and (max-width: 481px) {
      font-size:18px;
      line-height:28px;
      margin:24px 0 0;
    }
}

h5,
.nhs-heading-xs{
    font-size:19px;
    line-height:28px;
    margin:32px 0 0;
    @media only screen and (max-width: 481px) {
      font-size:17px;
      line-height:28px;
      margin:24px 0 0;
    }
}

p,
.nhs-body {
  font-weight: $nhs-font-normal;
  line-height:32px;
  margin:20px 0 0;
  @media only screen and (max-width: 481px) {
    line-height:28px;
    margin:16px 0 0;
  }
}

.nhs-body-l{
  font-size:24px;
  line-height:36px;
  margin:32px 0 0;
  @media only screen and (max-width: 481px) {
    font-size:20px;
    line-height:32px;
    margin:24px 0 0;
  }
}

.nhs-body-s{
  font-size:16px;
  line-height:28px;
  margin:20px 0 0;
  @media only screen and (max-width: 481px) {
    font-size:14px;
    line-height:24px;
    margin:16px 0 0;
  }
}

a {
  color: $link-colour;
  &:hover {
    color: $link-hover-colour;
  }
  &:active {

  }
  &:visited {
    
  }
}

ul, ol {
  font-weight: $nhs-font-normal;
  padding-left: 20px;
  margin:20px 0 0;
  @media only screen and (max-width: 481px) {
    margin:1em 0 0;
    margin:16px 0 0;
  }
  li {
    margin:8px 0 0;
    line-height:32px;
    @media only screen and (max-width: 481px) {
      line-height:28px;
      margin:8px 0 0;
    }
  }
}

tr, th {
  font-weight: $nhs-font-normal;
  font-size: 1em;
}

strong {
  font-weight: $nhs-font-bold;
}


//custom style for new template design

.nhs-page-heading{
  margin:26px 0 56px; //margin top reduced by 30px due to padding on container
  @media only screen and (max-width: 481px) {
    margin:25px 0 40px; //margin top reduced by 15px due to padding on container
  }
  h1{
    margin:0;
    //color:$nhs-blue-aaa;
  }
}

.nhs-page-nav{
  *:first-child{
    margin-top:0;
  }
  @media only screen and (max-width: 481px) {
    margin-bottom:40px;
  }
}

.nhs-page-content{
 *:first-child{
   margin-top:0;
 }
}

//heading captions
@mixin caption(){
  font-weight:400;
  display:block;
  color:$secondary-text-colour;
  font-weight:300;
}

.nhs-caption-xl{
  @include caption;
  font-size:24px;
  line-height:32px;
  @media only screen and (max-width: 481px) {
    font-size:20px;
    line-height:28px;
  }
}

//spacing overrides
.nhs-m-t-0{
  margin-top:0;
}

.reading-width{
  @include reading-width();
}

hr.nhs-h-line{
  border:0;
  margin:56px 0 0;//same margin size as a h2
  border-top:1px solid $nhs-border-colour;
  @media only screen and (max-width: 481px) {
    margin:40px 0 0;//same margin size as a h2
  }
}

.nhs-notice{
  background:$nhs-blue-aaa;
  color:white;
  padding:8px 16px;
}