h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: $nhs-font-bold;
  margin-bottom: 0;
  color: inherit;
}

h1,
.h1{
    font-size:2.5263em;
    line-height:1.27;
    margin:1.2500em 0 0;
    font-size:44px;
    line-height:52px;
    margin:56px 0 0;
    @media only screen and (max-width: 641px) {
      font-size:2.25rem;
      line-height:1.2222;
      margin:1.2222em 0 0;
      font-size:32px;
      line-height:36px;
      margin:32px 0 0;
    }
}

h2,
.h2{
    font-size:1.8947em;
    line-height:1.34;
    margin:1.6667em 0 0;
    font-size:32px;
    line-height:40px;
    margin:56px 0 0;
    @media only screen and (max-width: 641px) {
      font-size:1.75em;
      line-height:1.4286;
      margin:1.5714em 0 0;
      font-size:24px;
      line-height:32px;
      margin:40px 0 0;
    }
}

h3,
.h3{
    font-size:1.4737em;
    line-height:1.4286;
    margin:1.5714em 0 0;
    font-size:24px;
    line-height:32px;
    margin:40px 0 0;
    @media only screen and (max-width: 641px) {
      font-size:1.5em;
      line-height:1.5;
      margin:1.3333em 0 0;
      font-size:20px;
      line-height:28px;
      margin:32px 0 0;
    }
}

h4,
.h4{
    font-size:1.2632em;
    line-height:1.5;
    margin:1.3333em 0 0;
    font-size:22px;
    line-height:32px;
    margin:32px 0 0;
    @media only screen and (max-width: 641px) {
      font-size:1.25em;
      line-height:1.6;
      margin:1.4em 0 0;
      font-size:18px;
      line-height:28px;
      margin:24px 0 0;
    }
}

h5,
.h5{
    font-size:1em;
    line-height:1.69;
    margin:1.4737em 0 0;
    font-size:19px;
    line-height:28px;
    margin:32px 0 0;
    @media only screen and (max-width: 641px) {
      font-size:1em;
      line-height:1.75;
      margin:1.5em 0 0;
      font-size:16px;
      line-height:28px;
      margin:24px 0 0;
    }
}

p {
  font-weight: $nhs-font-normal;
  //margin:1.0526em 0 0;
  line-height:32px;
  margin:20px 0 0;
  @media only screen and (max-width: 641px) {
    line-height:1.75;
    margin:1em 0 0;
    font-size:17px;
    line-height:28px;
    margin:16px 0 0;
  }
}

.lead{
  font-size:1.2632em;
  line-height:1.5;
  margin:1.3333em 0 0;
  font-size:24px;
  line-height:32px;
  margin:36px 0 0;
  @media only screen and (max-width: 641px) {
    font-size:1.25em;
    line-height:1.6;
    margin:1.4em 0 0;
    font-size:22px;
    line-height:28px;
    margin:28px 0 0;
  }
}

a {
  color: $link-colour;
  &:hover {
    color: $link-hover-colour;
  }
  &:active {

  }
  &:visited {
    
  }
}

ul, ol {
  font-weight: $nhs-font-normal;
  padding-left: 20px;
  //margin:1.0526em 0 0;
  margin:20px 0 0;
  @media only screen and (max-width: 641px) {
    margin:1em 0 0;
    margin:16px 0 0;
  }
  li {
    margin:0.6316em 0 0;
    margin:8px 0 0;
    line-height:32px;
    @media only screen and (max-width: 641px) {
      margin:0.5em 0 0;
      font-size:17px;
      line-height:28px;
      margin:8px 0 0;
    }
  }
}

tr, th {
  font-weight: $nhs-font-normal;
  font-size: 1em;
}

strong {
  font-weight: $nhs-font-bold;
}


//custom style for new template design

.nhs-page-heading{
  margin:26px 0 56px; //margin top reduced by 30px due to padding on container
  @media only screen and (max-width: 641px) {
    margin:25px 0 40px; //margin top reduced by 15px due to padding on container
  }
  h1{
    margin:0;
    //color:$nhs-blue-aaa;
  }

  //styling for h1 span (long medical terminology in particular)
  /*span{
    display:block;
    font-size:32px;
    line-height:40px;
    font-weight:300;
    color:$secondary-text-colour;
    @media only screen and (max-width: 641px) {
      font-size:24px;
      line-height:32px;
    }
  }*/

  //styling for blue line under header
  /*&:after{
    content:'';
    display:block;
    width:150px;
    height:3px;
    background-color:$nhs-blue-aaa;
    margin-top:56px;
    @media only screen and (max-width: 641px) {
      margin-top:32px;
    }
  }*/

}

.nhs-page-nav{
  *:first-child{
    margin-top:0;
  }
  @media only screen and (max-width: 641px) {
    margin-bottom:40px;
  }
}

.nhs-page-content{
 *:first-child{
   margin-top:0;
 }
}

.nhs-list-nav{
  li{
    margin:8px 0 0;
    @media only screen and (max-width: 641px) {
      margin:8px 0 0;
    }
  }
}