


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="background-color: #f0f4f5;"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - Checkboxes with hint text</title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/favicon.png" rel="icon">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          





  

  
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend">
    <h1 class="nhsuk-fieldset__heading">
      How do you want to sign in?
    </h1>
  </legend>

  <div class="nhsuk-checkboxes">
    
    
    
    
    
    
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="government-gateway" name="gateway" type="checkbox" value="gov-gateway" aria-describedby="government-gateway-item-hint">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="government-gateway">
        Sign in with Government Gateway
      </label>
      <span class="nhsuk-hint nhsuk-checkboxes__hint" id="government-gateway-item-hint">
        You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before.
      </span>
    </div>
    
    
    
    
    
    
    
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="nhsuk-login" name="verify" type="checkbox" value="nhsuk-verify" aria-describedby="nhsuk-login-item-hint">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsuk-login">
        Sign in with NHS.UK login
      </label>
      <span class="nhsuk-hint nhsuk-checkboxes__hint" id="nhsuk-login-item-hint">
        You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.
      </span>
    </div>
    
    
  </div>
  </fieldset>


</div>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
