{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Feedback banner' %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% extends 'layout.njk' %}

{% block body %}

  {{ feedbackBanner({
    "title": "Help us make the NHS website better",
    "content": "Your feedback helps us improve the NHS website.",
    "href": "https://www.nhs.uk",
    "label": "Take our short survey"
  }) }}

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>To view the feedback banner component, wait 3 seconds for it display.</p>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
