{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Hero with image and content' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'layout.njk' %}

{% block body %}

	{{ hero({
    "heading": "We’re here for you",
    "text": "Helping you take control of your health and wellbeing.",
    "imageURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/hero-2.jpg"
  }) }}

{% endblock %}
