{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Panel with label' %}
{% from 'components/panel/macro.njk' import panel %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ panel({
            "label": "Panel heading",
            "HTML": "<p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla\' title='External website\'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href=\"https://www.gov.uk/dizziness-and-driving\" title=\"External website\">driving with vertigo</a></p>"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
