{% set title = 'Breadcrumbs example' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
				<li><a href="#">Health A-Z</a></li>
				<li><a href="#">Your guide to care and support</a></li>
				<li>What social care services are available?</li>
            </ol>
			<p><a href="#">Back to Your guide to care and support</a></p>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>What social care services are available?</h1>
    <div class="reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Many people's first impression or thoughts of social care might be a residential care home. In fact, there's a wide variety of social care services available and most people will be able to have care provided in their home.</p>
    </div>
{% endblock %}
