{% set title = 'Callouts' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Callouts</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__development">Development</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="">
        <li><a href="#callout_warning">Warning</a></li>
        <li><a href="#callout_keypoint">Key point</a></li>
    </ul>
{% endblock %}

{% block content %}
<h1 id="callout_warning">Warning</h1>
<div class="nhsuk-reading-width">
    <h2>User need</h2>
	<p>As a user I need to identify and understand the important content on the page (even if I don't read all the content) so that I get the best outcome for my situation and don't endanger my health.</p>
	<h2>What's being used</h2>
	<h2>Hypothesis</h2>
	<h2>Iterations</h2>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs nhsuk-secondary-text">Version 1</h3>
			<div class="nhsuk-c-callout__warning">
				<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
			</div>
		</div>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs nhsuk-secondary-text">Version 2</h3>
			<h4>Hypothesis</h4>
			<p>We believe that by making the yellow brighter and increasing the font weight, will make it look more like a warning and people will stop and read it.</p>
			<div class="nhsuk-c-callout__warning-v11">
				<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
			</div>
			<h4>Research</h4>
			<p>Lab - 13th June 2018 - Roundhay Research, Leeds.</p><p><a href="https://confluence.service.nhs.uk/pages/viewpage.action?spaceKey=NR&title=User+Research&preview=/20318795/25922797/NHS.uk%20redesign%20-%20usubility%20lab%20-%20Leeds%20-%2020th%20June%202018.pdf">Read the report<span class="visually-hidden"> for 13th June 2018 - Roundhay Research, Leeds</span></a> (NHS staff only)</p>
		</div>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs nhsuk-secondary-text">Version 3</h3>
			<h4>Hypothesis</h4>
			<p>We believe that users scan headings. Adding a heading will make users stop and take notice of the callout. Also, changing the background colour to yellow will make it stand out from the surrounding white boxes.</p>
			<div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab nhsuk-c-panel__warning">
				<h3>Important</h3>
				<p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>
			</div>
			<h4>Research</h4>
			<p>Lab - 13th June 2018 - Roundhay Research, Leeds.</p><p><a href="https://confluence.service.nhs.uk/pages/viewpage.action?spaceKey=NR&title=User+Research&preview=/20318795/25922797/NHS.uk%20redesign%20-%20usubility%20lab%20-%20Leeds%20-%2020th%20June%202018.pdf">Read the report<span class="visually-hidden"> for 13th June 2018 - Roundhay Research, Leeds</span></a> (NHS staff only)</p>
		</div>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
		<div class="nhsuk-c-reveal-group">
			<div class="nhsuk-c-reveal">
				<a href="#" class="nhsuk-c-reveal__header">Other design considerations</a>
				<div class="nhsuk-c-reveal__content">
					<p>All these designs were peer reviewed but not tested with users.</p>
					<div class="nhsuk-c-callout__warning-v2">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v3">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v4">
						<h3 class="nhsuk-heading-xs">Important</h3>
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v5">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v6">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v7">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v8">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v9">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
					<div class="nhsuk-c-callout__warning-v10">
						<p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2>Final version</h2>
	<h2>Code snippet</h2>
	<h2>Accessibility</h2>
	<h2>Usage</h2>
	<p>The warning callout can be used to display information that is:</p>
	<ul>
		<li>time critical</li>
		<li>may have a significant health impact</li>
		<li>addresses a common and/or significant misconception or patient mistake</li>
	</ul>


	<h1 id="callout_keypoint">Key point</h1>
	<h2>User need</h2>
	<p>As a user I need to identify and understand the important content on the page (even if I don't read all the content) so that I get the best outcome for my situation.</p>
	<h2>Versions</h2>
	<div class="nhsuk-reading-width">
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs nhsuk-secondary-text">Version 1</h3>
			<div class="nhsuk-c-callout__info">
				<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>
			</div>
		</div>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs">Version 2</h3>
			<div class="nhsuk-c-keypoint-v1">
				<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>
			</div>
		</div>
		<div class="nhsuk-c-panel nhsuk-c-panel__with-border">
			<h3 class="nhsuk-heading-xs">Version 3</h3>
			<div class="nhsuk-c-keypoint-v2">
				<p>If you drive you must tell the <a href="https://www.gov.uk/contact-the-dvla" title="External website">DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving" title="External website">driving with vertigo</a></p>
			</div>
		</div>
		<h2>Usage</h2>
		<p>The key point callout can be used to highlight a significant point, some important information or advice so that the user is more likely to read and remember it over the body copy.</p>
	</div>

</div>
<script>
	$('.nhsuk-c-reveal__header').click( function() {
		$(this).next("div").toggle();
		$(this).toggleClass("open");
		return false;
	});
</script>
{% endblock %}


