{% set title = 'Colours' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Colours</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="nhsuk-list">
        <li><a href="#contrast">Colour contrast</a></li>
        <li><a href="#variables">Sass variables</a></li>
        <li><a href="#colours">Main colours</a></li>
        <li><a href="#context">Colours in context</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2 id="contrast" class="nhsuk-heading-l">Colour contrast</h2>
    <p>You must make sure that the contrast ratio of text and elements meets <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">level AA of the Web Content Accessibility Guidelines (WCAG 2.0)</a>

    <h2 id="variables" class="nhsuk-heading-l">Sass variables</h2>
    <p>Use the Sass variables listed below, so you’ll automatically get any updates to the colour palette when you update NHS.UK frontend.</p>

    <h2 id="colours" class="nhsuk-heading-l">Main colours</h2>

    <h3 class="nhsuk-heading-m">Primary</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-blue"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-blue">$nhsuk-blue</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-blue"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-white"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-white">$nhsuk-white</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-white"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-black"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-black">$nhsuk-black</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-black"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-green"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-green">$nhsuk-green</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-green"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-red"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-red">$nhsuk-red</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-red"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-yellow"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-yellow">$nhsuk-yellow</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-yellow"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-purple"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-purple">$nhsuk-purple</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-purple"></span></td>
        </tr>
      </tbody>
    </table>

    <h3>Secondary colours</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th>Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-light-blue"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-light-blue">$nhsuk-light-blue</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-light-blue"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-aqua-blue"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-aqua-blue">$nhsuk-aqua-blue</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-aqua-blue"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-pale-yellow"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-pale-yellow">$nhsuk-pale-yellow</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-pale-yellow"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-warm-yellow"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-warm-yellow">$nhsuk-warm-yellow</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-warm-yellow"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Greyscale</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-grey-1"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-grey-1">$nhsuk-grey-1</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-grey-1"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-grey-2"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-grey-2">$nhsuk-grey-2</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-grey-2"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-grey-3"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-grey-3">$nhsuk-grey-3</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-grey-3"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-grey-4"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-grey-4">$nhsuk-grey-4</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-grey-4"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-grey-5"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-grey-5">$nhsuk-grey-5</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-grey-5"></span></td>
        </tr>
      </tbody>
    </table>

    <h2 id="context" class="nhsuk-heading-l">Colours in context</h2>

    <h3 class="nhsuk-heading-m">Text</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-text-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-text-colour">$nhsuk-text-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-text-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-secondary-text-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-secondary-text-colour">$nhsuk-secondary-text-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-secondary-text-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Links</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-colour">$nhsuk-link-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-hover-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-hover-colour">$nhsuk-link-hover-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-hover-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-hover-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-hover-background-colour">$nhsuk-link-hover-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-hover-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-link-focus-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-focus-colour">$nhsuk-link-focus-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-focus-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-focus-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-focus-background-colour">$nhsuk-link-focus-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-focus-background-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-active-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-active-colour">$nhsuk-link-active-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-active-colour"></span></td>
        </tr>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-link-active-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-active-background-colour">$nhsuk-link-active-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-active-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-link-visited-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-link-visited-colour">$nhsuk-link-visited-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-link-visited-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Border</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-border-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-border-colour">$nhsuk-border-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-border-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Buttons</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th>Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-button-background-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-button-background-colour">$nhsuk-button-background-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-button-background-colour"></span></td>
        </tr>
        <tr>
          <td><div class="colour-swatch colour-swatch__nhsuk-button-hover-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-button-hover-colour">$nhsuk-button-hover-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-button-hover-colour"></span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="nhsuk-heading-m">Focus</h3>

    <table class="colour-palette">
      <thead>
        <tr class="visually-hidden">
          <th >Colour</th>
          <th>Sass variable</th>
          <th>Hex code</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td ><div class="colour-swatch colour-swatch__nhsuk-focus-colour"></div></td>
          <td><span class="colour-label colour-swatch__nhsuk-focus-colour">$nhsuk-focus-colour</span></td>
          <td><span class="colour-hex colour-swatch__nhsuk-focus-colour"></span></td>
        </tr>
      </tbody>
    </table>
{% endblock %}
