{% set title = 'Icons' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Icons</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__development">Development</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
        <li><a href="#rules">Rules for icons</a></li>
        <li><a href="#usage">How to use icons</a></li>
        <li><a href="#icons">Icons</a></li>
        <li><a href="#examples">Examples of icons</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2 id="rules">Our rules for using icons are</h2>
    <ul>
      <li>Only use icons when there’s a real user need for them (avoid unnecessary decoration)</li>
      <li>Use icons sparingly - most people won’t understand an icon vocabulary</li>
		  <li>If used, ensure icons are clear, simple and accompanied by relevant text</li>
		  <li>Don’t hide functionality under icons</li>
    </ul>

    <h3>User need</h3>
    <p>As a user I need to easily identify, understand and navigate content, so that I get the best outcome for my situation and don't endanger my health.</p>

    <h2 id="usage">How to use icons</h2>
    <p>We inline SVG icons for performance and to have the ability to control the appearance of icons with CSS. This decision was inspired by <a href="https://css-tricks.com/pretty-good-svg-icon-system/">CSS Tricks - A Pretty Good SVG Icon System</a> and <a href="">CSS Tricks - A Complete Guide to SVG Fallbacks</a>.</p>
    <p>Using a server side or templating language you can include the icons with <span class="example-code-snippet">include 'partials/icons/icon-search.svg'</span>.
    <p>SVG icons have the class <span class="example-code-snippet">.nhsuk-icon</span> which set a default size for the icon and each icon has a specific class such as <span class="example-code-snippet">.nhsuk-icon__search</span> which can modify specific icons with styles such as fill. This means you can change the colour of the SVG for states such as hover, focus and active.</p>
    <p>Each SVG icon has a PNG fallback which means we can support browsers such as Internet Explorer 8. The fallback images have a class such as <span class="example-code-snippet">.nhsuk-icon__search--fallback</span> which can be used to modify sizing and spacing of the PNG fallbacks.</p>
    <p>SVG icons and logos must be accessible, read more about <a href="https://css-tricks.com/accessible-svgs/">accessibile SVGs on CSS Tricks website</a>.</p>

    <h2 id="icons">Icons</h2>

    <table class="nhsuk-table">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Label</th>
          <th>File name</th>
          <th class="th__status">Status</th>
          <th>Example usage</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{% include 'partials/icons/icon-search.svg' %}</td>
          <td>Search</td>
          <td>icon-search.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/examples/header-cookie">Header</a></td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-chevron-right.svg' %}</td>
          <td>Chevron right</td>
          <td>icon-chevron-right.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/examples/header-cookie">Header</a> (Mobile)</td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-close.svg' %}</td>
          <td>Close</td>
          <td>icon-close.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/examples/header-cookie">Header</a> (Mobile)</td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-cross.svg' %}</td>
          <td>Cross (don't)</td>
          <td>icon-cross.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/styles/do-dont-lists">Do and Don't lists</td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-tick.svg' %}</td>
          <td>Tick (do)</td>
          <td>icon-tick.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/styles/do-dont-lists">Do and Don't lists</td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-arrow-right.svg' %}</td>
          <td>Arrow right</td>
          <td>icon-arrow-right.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/styles/action-link">Action link</a></td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-chevron-up.svg' %}</td>
          <td>Chevron up</td>
          <td>icon-chevron-up.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/styles/reveals">Reveals</a></td>
        </tr>
        <tr>
          <td>{% include 'partials/icons/icon-chevron-down.svg' %}</td>
          <td>Chevron down</td>
          <td>icon-chevron-down.svg</td>
          <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
          <td><a href="/styles/reveals">Reveals</a></td>
        </tr>
      </tbody>
    </table>

    <h2 id="examples">Examples of icons</h2>
    <p>To be updated</p>

{% endblock %}
