{% set title = 'Icons' %}
{% set navigation = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Icons</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="">
        <li><a href="#icons_rules">Rules for icons</a></li>
        <li><a href="#icons_icons">Icons</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2 id="icons_rules">Our rules for using icons are</h2>
    <ul>
        <li>Only use icons when there’s a real user need for them (avoid unnecessary decoration)</li>
        <li>Use icons sparingly - most people won’t understand an icon vocabulary</li>
		<li>If used, ensure icons are clear, simple and accompanied by relevant text</li>
		<li>Don’t hide functionality under icons</li>
    </ul>

    <h3>User need</h3>
    <p>As a user I need to easily identify, understand and navigate content, so that I get the best outcome for my situation and don't endanger my health.</p>

    <h2 id="icons_icons">Icons</h2>


                  <table class="nhsuk-table">
                    <thead>
                      <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th class="th__status">Status</th>
                        <th>Component appears</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><img src="/images/Icon-search_v2.svg" width="40px" /></td>
                        <td>Search</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
						  <td><a href="/examples/page">Header</a></td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-warning 1_v2.svg" width="40px" /></td>
                        <td>Warning</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
							<td><a href="/styles/callouts">Warning callout</a></td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-info_v2.svg" width="40px" /></td>
                        <td>Information</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                        <td>No user need identified</td>
                      </tr>						
						<tr>
                        <td><img src="/images/Icon-chevron-right_v2.svg" width="40px" /></td>
						<td>Chevron right</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td><a href="/examples/page">Header</a> (Menu)</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-chevron-down_v2.svg" width="40px" /></td>
						<td>Chevron down</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                        <td>No user need identified</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-close_v2.svg" width="40px" /></td>
						<td>Close</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td><a href="/examples/page">Header</a> (Menu)</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-close open_v2.svg" width="40px" /></td>
						<td>Close (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                        <td>-</td>
                      </tr>						
						
						
						<tr>
                        <td><img src="/images/Icon-close solid_v2.svg" width="40px" /></td>
						<td>Close (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                        <td>-</td>
                      </tr>

                      <tr>
                        <td><img src="/images/Icon-close solid_v2.svg" width="40px" /></td>
						<td>Close (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__backlog">Backlog</span></td>
                        <td>-</td>
                      </tr>

                      <tr>
                        <td><img src="/images/Icon-cross_v2.svg" width="40px" /></td>
						<td>Cross (don't)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td><a href="/examples/chickenpox">Chickenpox</a> (Do's and Don't)</td>
                      </tr>

                      <tr>
                        <td><img src="/images/Icon-tick-v4.svg" width="40px" /></td>
						<td>Tick (do)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td><a href="/examples/chickenpox">Chickenpox</a> (Do's and Don't)</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-tick-do_v2.svg" width="40px" /></td>
						<td>Tick</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-tick-do-circle_v2.svg" width="40px" /></td>
						<td>Tick (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-tick-do-circle-solid_v2.svg" width="40px" /></td>
						<td>Tick (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-calendar1_v2.svg" width="40px" /></td>
						<td>Calendar v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-calendar1-circle_v2.svg" width="40px" /></td>
						<td>Calendar v1 (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-calendar2_v2.svg" width="40px" /></td>
						<td>Calendar v2</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-calendar2-circle_v2.svg" width="40px" /></td>
						<td>Calendar v2 (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-play_v2.svg" width="40px" /></td>
						<td>Play</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-play-circle_v2.svg" width="40px" /></td>
						<td>Play (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-play-solid-circle_v2.svg" width="40px" /></td>
						<td>Play (solid circle)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-pause_v2.svg" width="40px" /></td>
						<td>Pause</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-pause-circle_v2.svg" width="40px" /></td>
						<td>Pause (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-pause-circle-solid_v2.svg" width="40px" /></td>
						<td>Pause (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-stop_v2.svg" width="40px" /></td>
						<td>Stop</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-stop-circle_v2.svg" width="40px" /></td>
						<td>Stop (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

					<tr>
                        <td><img src="/images/Icon-stop-circle-solid_v2.svg" width="40px" /></td>
						<td>Stop (circle outline)</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-arrow1_right_v2.svg" width="40px" /></td>
						<td>Arrow right v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-arrow1_right-circle-open_v2.svg" width="40px" /></td>
						<td>Arrow right (circle outline) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-arrow1_right-circle_v2.svg" width="40px" /></td>
						<td>Arrow right (solid circle) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-arrow1-right-ALT-circle_v2.svg" width="40px" /></td>
						<td>Arrow right (circle outline) v1a</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-arrow2-right_v2.svg" width="40px" /></td>
						<td>Arrow right v2</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-arrow2_right-circle-open_v2.svg" width="40px" /></td>
						<td>Arrow right (circle outline) v2</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>


						<tr>
                        <td><img src="/images/Icon-arrow2_right-circle_v2.svg" width="40px" /></td>
						<td>Arrow right (circle outline) v2</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-menu 1_v2.svg" width="40px" /></td>
						<td>Menu v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-menu 2_v2.svg" width="40px" /></td>
						<td>Menu v2</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-chevron1_down-circle_v2.svg" width="40px" /></td>
						<td>Chevron down (solid circle) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-chevron1_down-circle-outline_v2.svg" width="40px" /></td>
						<td>Chevron down (circle outline) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>
						<tr>
                        <td><img src="/images/Icon-chevron1_up-circle_v2.svg" width="40px" /></td>
						<td>Chevron up (circle) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>

						<tr>
                        <td><img src="/images/Icon-chevron1_up-circle-outline_v2.svg" width="40px" /></td>
						<td>Chevron up (circle outline) v1</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>-</td>
                      </tr>





                      </tbody>
                    </table>

{% endblock %}
