{% set title = 'Images' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Images</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__design">Design</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
		<li><a href="#rules">Rules</a></li>
		<li><a href="#user-needs">User needs</a></li>
    <li><a href="#example">Example</a></li>
    </ul>
{% endblock %}

{% block content %}

	<h2 id="rules">Rules</h2>

	<h2 id="user-needs">User needs</h2>

	<h2 id="example">Example</h2>

  <div class="example">

  </div>

  <div class="example-snippet">

  </div>

{% endblock %}
