{% set title = 'Typography' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Typography</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul class="">
        <li><a href="#typography-spacing">Spacing</a></li>
        <li><a href="#typography-headings">Headings</a></li>
        <li><a href="#typography-paragraphs">Paragraphs</a></li>
        <li><a href="#typography-lists">Lists</a></li>
        <li><a href="#typography-links">Links</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2 id="typograph-spacing">Spacing</h2>
    <p>We have used single-direction margin declarations to easily define <a href="https://www.futurehosting.com/blog/web-design-basics-what-is-vertical-rhythm/" rel="external">vertical rhythm (external link)</a>.</p>
    <p>We currently use pixels (px) for margin spacing however these will be converted to ems after testing.</p>

    <h3>Spacing rules</h3>

    <ul>
      <li>spacing is multiples of 8px</li>
      <li>line heights are multiples of 4px</li>
    </ul>

    <h2 id="typography-headings">Headings</h2>

    <h3>H1 (nhsuk-heading-xl) sizes:</h3>

    <ul>
      <li>Desktop: 48 / 56 - margin 72px</li>
      <li>Mobile: 32 / 36 - margin 56px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-heading-xl</span> to get the sizing and spacing of a h1 on non h1 elements.</p>

    <div class="example">
      <h1>The quick brown fox jumps over the lazy dog</h1>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-1">Copy</button>
     <pre class="language-markup" id="clipboard-1"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span>
</code></pre>
    </div>

    <div class="example-snippet">
    <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-2">Copy</button>
<pre class="language-markup" id="clipboard-2"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-heading-xl<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
</code></pre>
    </div>

    <h3>H2 (nhsuk-heading-l) sizes:</h3>
    <ul>
      <li>Desktop: 32 / 40 - margin 72px</li>
      <li>Mobile: 24 / 32 - margin 56px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-heading-l</span> to get the sizing and spacing of a h2 on non h2 elements.</p>

    <div class="example">
      <h2>The quick brown fox jumps over the lazy dog</h2>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-3">Copy</button>
<pre class="language-markup" id="clipboard-3"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h2</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h2</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-4">Copy</button>
<pre class="language-markup" id="clipboard-4"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-heading-l<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>H3 (nhsuk-heading-m) sizes:</h3>
    <ul>
      <li>Desktop: 24 / 32 - margin 40px</li>
      <li>Mobile: 20 / 28 - margin 32px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-heading-m</span> to get the sizing and spacing of a h3 on non h3 elements.</p>

    <div class="example">
      <h3>The quick brown fox jumps over the lazy dog</h3>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-5">Copy</button>
<pre class="language-markup" id="clipboard-5"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-6">Copy</button>
<pre class="language-markup" id="clipboard-6"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-heading-m<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>H4 (nhsuk-heading-s) sizes:</h3>
    <ul>
      <li>Desktop: 22 / 32 - margin 32px</li>
      <li>Mobile: 18 / 28 - margin 24px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-heading-s</span> to get the sizing and spacing of a h4 on non h4 elements.</p>

    <div class="example">
      <h4>The quick brown fox jumps over the lazy dog</h4>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-7">Copy</button>
<pre class="language-markup" id="clipboard-7"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h4</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h4</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-8">Copy</button>
<pre class="language-markup" id="clipboard-8"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-heading-s<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>H5 (nhsuk-heading-xs) sizes:</h3>
    <ul>
      <li>Desktop: 19 / 28 - margin 24px</li>
      <li>Mobile: 16 / 24 - margin 16px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-heading-xs</span> to get the sizing and spacing of a h5 on non h5 elements.</p>

    <div class="example">
      <h5>The quick brown fox jumps over the lazy dog</h5>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-9">Copy</button>
<pre class="language-markup" id="clipboard-9"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h5</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h5</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-10">Copy</button>
<pre class="language-markup" id="clipboard-10"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-heading-xs<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>Example vertical rhythm</h3>

    <div class="example">
      <h1 class="nhsuk-heading-xl">nhsuk-heading-xl</h1>
      <h2 class="nhsuk-heading-l">nhsuk-heading-l</h2>
      <h3 class="nhsuk-heading-m">nhsuk-heading-m</h3>
      <h4 class="nhsuk-heading-s">nhsuk-heading-s</h4>
      <h5 class="nhsuk-heading-xs">nhsuk-heading-xs</h5>
    </div>

    <h2 id="typography-paragraphs">Paragraphs</h2>

    <h3>Body paragraph</h3>

    <h4 class="nhsuk-heading-xs">Sizes:</h4>
    <ul>
      <li>Desktop: 19 / 28 - margin 24px</li>
      <li>Mobile: 16 / 24 - margin 16px</li>
    </ul>

    <p>You can use the utility class <span class="example-code-snippet">nhsuk-body</span> to get the sizing and spacing of a body paragraphy on non body paragraph elements.</p>

    <div class="example">
      <p>The quick brown fox jumps over the lazy dog</p>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-11">Copy</button>
<pre class="language-markup" id="clipboard-11"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-12">Copy</button>
<pre class="language-markup" id="clipboard-12"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-body<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
</code></pre>
    </div>

    <h3>Lead paragraph</h3>

    <h4 class="nhsuk-heading-xs">Sizes:</h4>

    <ul>
      <li>Desktop: 24 / 32 - margin 32px</li>
      <li>Mobile: 20 / 28 - margin 24px</li>
    </ul>

    <div class="example">
      <p class="nhsuk-body-l">The quick brown fox jumps over the lazy dog</p>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-13">Copy</button>
<pre class="language-markup" id="clipboard-13"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-body-l<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>Body small</h3>

    <h4 class="nhsuk-heading-xs">Sizes:</h4>

    <ul>
        <li>Desktop: 16 / 28 - margin 24px</li>
        <li>Mobile: 14 / 24 - margin 16px</li>
    </ul>

    <div class="example">
      <p class="nhsuk-body-s">The quick brown fox jumps over the lazy dog</p>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-14">Copy</button>
<pre class="language-markup" id="clipboard-14"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-body-s<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h2 id="typography-lists">Lists</h2>

    <h3>Bulleted list</h3>

    <h4 class="nhsuk-heading-xs">Sizes:</h4>

    <ul>
      <li>Desktop: ul - margin 24px / li - margin 8px</li>
      <li>Mobile: ul - margin 16px / li - margin 8px</li>
    </ul>

    <div class="example">
      <ul class="nhsuk-list nhsuk-list-bullet">
        <li>The quick brown</li>
        <li>fox jumps over</li>
        <li>the lazy dog</li>
      </ul>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-15">Copy</button>
<pre class="language-markup" id="clipboard-15"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-list nhsuk-list-bullet<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>The quick brown<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>fox jumps over<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h3>Numbered list</h3>

    <h4 class="nhsuk-heading-xs">Sizes:</h4>

    <ul>
      <li>Desktop: ol - margin 24px / li - margin 8px</li>
      <li>Mobile: ol - margin 16px / li - margin 8px</li>
    </ul>

    <div class="example">
      <ol class="nhsuk-list nhsuk-list-number">
        <li>The quick brown</li>
        <li>fox jumps over</li>
        <li>the lazy dog</li>
      </ol>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-16">Copy</button>
<pre class="language-markup" id="clipboard-16"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ol</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-list nhsuk-list-number<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>The quick brown<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>fox jumps over<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ol</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>

    <h2 id="typography-links">Links</h2>

    <div class="example">
      <p><a href="#section">The quick brown fox jumps over the lazy dog</a></p>
    </div>

    <div class="example-snippet">
     <button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-17">Copy</button>
<pre class="language-markup" id="clipboard-17"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#section<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>The quick brown fox jumps over the lazy dog<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code></pre>
    </div>
{% endblock %}
