/* ==========================================================================
   TOOLS / #FUNCTIONS
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

@function nhsuk-em($value, $context-font-size) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }
  @if (unitless($context-font-size)) {
    $context-font-size: $context-font-size * 1px;
  }
  @return $value / $context-font-size * 1em;
}

@function nhsuk-line-height($line-height, $font-size) {
  @if not unitless($line-height) and unit($line-height) == unit($font-size) {
    $line-height: $line-height / $font-size;
  }

  @return $line-height;
}

@function nhsuk-px-to-rem($value) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }

  @return $value / $nhsuk-base-font-size * 1rem;
}
