// ==========================================================================
// TOOLS / #LINKS
// ==========================================================================

//
// Default link styling
//
// Usage: @include nhsuk-link-style-default;
//

@mixin nhsuk-link-style-default {

  color: $nhsuk-link-color;

  &:visited {
    color: $nhsuk-link-visited-color;
  }

  &:focus {
    background-color: $nhsuk-link-focus-background-color;
    box-shadow: 0 0 0 4px $nhsuk-link-focus-background-color;
    color: $nhsuk-link-focus-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
  }

  &:hover {
    background-color: $nhsuk-link-hover-background-color;
    box-shadow: 0 0 0 4px $nhsuk-link-hover-background-color;
    color: $nhsuk-link-hover-color;
    text-decoration: none;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }

}

//
// Inverted link styling, used in the emergency alert banner.
//
// Usage: @include nhsuk-link-style-inverted;
//

@mixin nhsuk-link-style-inverted {

  color: $nhsuk-link-color;

  &:focus {
    background-color: $color_shade_nhsuk-blue-35;
    box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
    color: $color_nhsuk-white;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
  }

  &:hover {
    background-color: $color_nhsuk-blue;
    box-shadow: 0 0 0 4px $color_nhsuk-blue;
    color: $color_nhsuk-white;
  }

  &:active {
    background-color: $color_shade_nhsuk-blue-50;
    box-shadow: 0 0 0 4px $color_shade_nhsuk-blue-35;
    color: $color_nhsuk-white;
  }

}

//
// White link styling, used in the footer.
//
// Usage: @include nhsuk-link-style-white;
//

@mixin nhsuk-link-style-white {

  color: $color_nhsuk-white;

  &:visited {
    color: $color_nhsuk-grey-5;
  }

  &:focus {
    color: $nhsuk-link-focus-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
    text-decoration: underline;
  }

  &:hover {
    color: $nhsuk-link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }

}

//
// Default link hover only styling
//
// Usage: @include nhsuk-link-style-hover;
//

@mixin nhsuk-link-style-hover {
  &:hover {
    background-color: $nhsuk-link-hover-background-color;
    box-shadow: 0 0 0 4px $nhsuk-link-hover-background-color;
    color: $nhsuk-link-hover-color;
    text-decoration: none;
  }
}

//
// Default link focus only styling
//
// Usage: @include nhsuk-link-style-focus;
//

@mixin nhsuk-link-style-focus {
  &:focus {
    background-color: $nhsuk-link-focus-background-color;
    box-shadow: 0 0 0 4px $nhsuk-link-focus-background-color;
    color: $nhsuk-link-focus-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
  }
}
