// ==========================================================================
// TOOLS / #LINKS
// ==========================================================================

//
// Default link styling
//
// Usage: @include nhsuk-link-style-default;
//

@mixin nhsuk-link-style-default {

  color: $nhsuk-link-color;

  &:visited {
    color: $nhsuk-link-visited-color;
  }

  &:hover {
    color: $nhsuk-link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include nhsuk-focused-text();

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $nhsuk-focus-text-color;
    }

    .nhsuk-icon {
      fill: $nhsuk-focus-text-color;
    }
  }

  &:active {
    color: $nhsuk-link-active-color;
  }

}

//
// White link styling, used in the footer.
//
// Usage: @include nhsuk-link-style-white;
//

@mixin nhsuk-link-style-white {

  color: $color_nhsuk-white;

  &:visited {
    color: $color_nhsuk-grey-5;
  }

  &:focus {
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
    text-decoration: underline;
  }

  &:hover {
    color: $nhsuk-link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }

}

//
// Default link hover only styling
//
// Usage: @include nhsuk-link-style-hover;
//

@mixin nhsuk-link-style-hover {
  &:hover {
    text-decoration: none;
  }
}
