/* ==========================================================================
   TOOLS / #MIXINS
   ========================================================================== */

/**
 * Clearfix mixin
 *
 * Usage: @include clearfix();
 * See utilities/clearfix
 */

@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

/**
 * Reading width mixin, add a maximum width
 * to large pieces of content
 *
 * Usage: @include reading-width();
 * See utilities/reading-width
 */

@mixin reading-width() {
  max-width: 37em;
}

/**
 * Visually hidden mixin, used for hiding
 * content visually but keeping it in the DOM
 *
 * Usage: @include visually-hidden();
 * See utilities/visually-hidden
 */

@mixin visually-hidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Top and bottom margin mixin, remove
 * the top and bottom margin spacing
 *
 * Usage: @include top-and-bottom();
 * See utilities/top-and-bottom
 */

@mixin top-and-bottom() {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

/**
 * Panel mixin
 *
 * Usage: @include panel-with-label($colour_nhsuk-blue, $colour_nhsuk-white);
 * See components/_panel
 */

@mixin panel($panel-background-colour, $panel-text-colour) {

  @include top-and-bottom();
  @include nhsuk-responsive-margin(7, 'bottom');
  @include nhsuk-responsive-margin(7, 'top');
  @include nhsuk-responsive-padding(5);

  background-color: $panel-background-colour;
  color: $panel-text-colour;

  @include mq($media-type: print) {
    border: 1px solid $nhsuk-print-text-colour;
    page-break-inside: avoid;
  }

}

/**
 * Panel with label mixin, inherits panel styling
 * and removes padding top for the label positioning.
 *
 * Used in-conjunction with @mixin heading-label
 *
 * Usage: @include panel-with-label($colour_nhsuk-blue, $colour_nhsuk-white);
 * See components/_warning-component
 */

@mixin panel-with-label($panel-background-colour, $panel-text-colour) {
  @include panel($panel-background-colour, $panel-text-colour);

  padding-top: 0 !important;  // sass-lint:disable-line no-important
}

/**
 * Heading label mixin, adds a tab heading to
 * warning callout, do and don't lists and panel.
 *
 * Used in-conjunction with @mixin panel-with-label
 *
 * Usage: @include heading-label($colour_nhsuk-blue, $colour_nhsuk-white);
 * See components/_warning-component
 *
 * 1. Background colour to be set on the @include.
 * 2. Text colour to be set on the @include.
 * 3. Display inline-block so it does not take up the full width.
 * 4. Margin -24px left and right aligns the heading to the box.
 * 5. Top positioning set to minus to make the heading
 *    sit just outside the box.
 */

@mixin heading-label($heading-background-colour, $heading-text-colour) {
  @include nhsuk-typography-responsive(24);

  background-color: $heading-background-colour; /* [1] */
  color: $heading-text-colour; /* [2] */
  display: inline-block; /* [3] */
  margin: nhsuk-spacing(0) -32px nhsuk-spacing(2);
  padding: nhsuk-spacing(2) nhsuk-spacing(5);
  position: relative;
  top: -16px; /* [5] */

  @include mq($until: tablet) {
    margin-left: -24px;
    margin-right: -24px;
    padding: nhsuk-spacing(2) nhsuk-spacing(4);
    top: -8px; /* [5] */
  }

  @include mq($media-type: print) {
    background: none;
    color: $colour_nhsuk-black;
    top: 0;
  }
}

/**
 * Care card mixin, used for creating
 * different coloured care cards.
 *
 * Usage: @include care-card($colour_nhsuk-blue, $colour_nhsuk-white, 4px);
 * See components/_care-card
 */

@mixin care-card($heading-background-color, $heading-text-colour, $print-border-size) {

  .nhsuk-c-care-card__heading-container {
    background-color: $heading-background-color;
    color: $heading-text-colour;

    &:after {
      border-top: $nhsuk-care-card-triangle-border solid $heading-background-color;
    }
  }

  @include mq($media-type: print) {
    border: $print-border-size solid $nhsuk-print-text-colour;
    color: $nhsuk-print-text-colour;
    page-break-inside: avoid;
  }
}

/**
 * Print colour mixin, sets the text print colour
 * warning callout, do and don't lists and panels.
 *
 * Usage: @include print-colour($nhsuk-print-text-colour);
 * See components/_care-card
 */

@mixin print-colour($print-colour) {

  @include mq($media-type: print) {
    color: $print-colour;
  }

}

/**
 * Print hide mixin, hides the element from print.
 *
 * Usage: @include print-hide();
 * See components/_care-card
 */

@mixin print-hide() {

  @include mq($media-type: print) {
    display: none;
  }

}

/**
 * Flex mixin
 * Usage: @include flex();
 */

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

/**
 * Flex item mixin
 * Usage: @include flex-item();
 */

@mixin flex-item() {
  display: flex;

  @include mq($until: desktop) {
    flex: 0 0 100%;
  }

}

/**
 * Toggle button mixin
 * used to toggle content
 *
 * Usage: @include toggle-button();
 * See components/header
 *
 * 1. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 */

@mixin toggle-button() {
  background-color: transparent;
  border: 1px solid $colour_nhsuk-white;
  border-radius: $nhsuk-border-radius;
  color: $colour_nhsuk-white;
  cursor: pointer;


  &::-moz-focus-inner {
    border: 0; /* [1] */
  }

  &:hover {
    background-color: $colour_shade_nhsuk-blue-35;
    border-color: $colour_nhsuk-grey-5;
    box-shadow: none;
  }

  &:focus {
    background-color: transparent;
    border-color: $nhsuk-focus-colour;
    box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
    outline: 0;
  }

  &:active,
  &.active {
    background-color: $colour_shade_nhsuk-blue-50;
    border-color: $colour_nhsuk-grey-5;
    box-shadow: none;
    color: $colour_nhsuk-grey-5;
  }

  &.active {
    &:focus {
      box-shadow: 0 0 0 ($nhsuk-box-shadow-spread - 1) $nhsuk-focus-colour;
    }
  }

}

/**
 * Close button mixin
 * used to close a content area
 *
 * Usage: @include close-button();
 * See components/header
 *
 * 1. Custom height and width of form items
 * 2. Custom height and width of svg icons
 * 3. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 */

@mixin close-button() {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 40px; /* [1] */
  width: 40px; /* [1] */

  .nhsuk-icon__close {
    fill: $colour_nhsuk-blue;
    height: 40px; /* [2] */
    width: 40px; /* [2] */
  }

  &::-moz-focus-inner {
    border: 0; /* [3] */
  }

  &:hover {
    .nhsuk-icon__close {
      fill: $nhsuk-secondary-button-hover-colour;
    }
  }

  &:focus {
    border-radius: $nhsuk-border-radius;
    box-shadow: 0 0 0 $nhsuk-box-shadow-spread $nhsuk-focus-colour;
    outline: 0;
  }

}
