/* ==========================================================================
   TOOLS / #SASS-MQ
   ========================================================================== */

/**
 * We use sass-mq module for media queries
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */

$sass-mq-already-included: false !default;

@if $sass-mq-already-included {
  $mq-show-breakpoints: ();
}

@import '../../../node_modules/sass-mq/mq';

$sass-mq-already-included: true;
