/* ==========================================================================
   TOOLS / #TYPOGRAPHY
   ========================================================================== */

// Mixin for font-size

@mixin font-size($fs-map, $fs-breakpoints: $mq-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size

@mixin make-font-size($fs-font-size) {
  font-size: nth($fs-font-size, 1);
  font-size: govuk-em(nth($fs-font-size, 1), $nhsuk-base-font-size);
  line-height: nth($fs-font-size, 2);
}

// Typography silent classes

// - Headings

%nhsuk-heading-xl {
  @include font-size($font-size-48);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(7, "bottom");

  font-weight: $nhsuk-font-bold;
}

%nhsuk-heading-l {
  @include font-size($font-size-32);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");

  font-weight: $nhsuk-font-bold;
}

%nhsuk-heading-m {
  @include font-size($font-size-24);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");

  font-weight: $nhsuk-font-bold;
}

%nhsuk-heading-s {
  @include font-size($font-size-22);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");

  font-weight: $nhsuk-font-bold;
}

%nhsuk-heading-xs {
  @include font-size($font-size-19);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");

  font-weight: $nhsuk-font-bold;
}

%nhsuk-heading-xxs {
  @include font-size($font-size-16);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");

  font-weight: $nhsuk-font-bold;
}

// - Body (paragraphs)

%nhsuk-body-l {
  @include font-size($font-size-24);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");
}

%nhsuk-body-m {
  @include font-size($font-size-19);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");
}

%nhsuk-body-s {
  @include font-size($font-size-16);

  display: block;

  margin-top: 0;
  @include nhsuk-responsive-margin(4, "bottom");
}

// Contextual adjustments
// Add top padding to headings that appear directly after paragraphs.

%nhsuk-body-l  + %nhsuk-heading-l {
  padding-top: nhsuk-spacing(1);

  @include mq($from: tablet) {
    padding-top: nhsuk-spacing(2);
  }
}

%nhsuk-body-m  + %nhsuk-heading-l,
%nhsuk-body-s  + %nhsuk-heading-l,
%nhsuk-list + %nhsuk-heading-l {
  @include nhsuk-responsive-padding(4, "top");
}

%nhsuk-body-m + %nhsuk-heading-m,
%nhsuk-body-s + %nhsuk-heading-m,
%nhsuk-list + %nhsuk-heading-m,
%nhsuk-body-m + %nhsuk-heading-s,
%nhsuk-body-s + %nhsuk-heading-s,
%nhsuk-list + %nhsuk-heading-s {
  padding-top: nhsuk-spacing(1);

  @include mq($from: tablet) {
    padding-top: nhsuk-spacing(2);
  }
}
