{% set title = 'Header and Footer example' %}
{% set parent = 'Example' %}
{% set cookieBanner = 'active' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
  {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Header</h1>
    <div class="nhsuk-reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Header with Guide to the General Data Protection Regulation (GDPR) compliant cookie and online consent.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#">Placeholder</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h3>Page content</h3>
{% endblock %}

