{% set title = 'Examples' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                          <h1>NHS.UK example pages</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <ul>
                        <li><a href="/examples/header-cookie">Header</a>: with GDPR compliant cookie and online consent</li>
                        <li><a href="/examples/test-condition-chickenpox-v2">Conditions</a>: 'Chickenpox'</li>
                        <li><a href="/examples/test-condition-gout">Conditions</a>: 'Gout'</li>
                        <li><a href="/examples/test-condition-sciatica">Conditions</a>: 'Sciatica'</li>
                        <li><a href="/examples/test-condition-heel-pain-v1">Conditions</a>: 'Heel pain'</li>
                        <li><a href="/examples/test-condition-slipped-disc">Conditions</a>: 'Slipped disc'</li>
                        <li><a href="/examples/test-condition-vertigo">Conditions</a>: 'Vertigo'</li>
                        <li><a href="/examples/test-condition-blisters-v1">Conditions</a>: 'Blisters'</li>
                        <li><a href="/examples/test-condition-chest-pain">Conditions</a>: 'Chest pain'</li>
                        <li><a href="/examples/test-condition-knee-pain">Conditions</a>: 'Knee pain'</li>
                        <li><a href="/examples/test-hub-nhs-in-england-parent">Hub page</a>: 'The NHS in England'</li>
                        <li><a href="/examples/allergies/test-condition-allergies-treatment">Navigation patterns</a>: 'Allergies'</li>
                        <li><a href="/examples/test-minihub-amd">Condition mini hub</a>: 'Age-related macular degeneration'</li>
                        <li><a href="/examples/test-minihub-amd-v2">Condition mini hub version 2</a>: 'Age-related macular degeneration'</li>
                        <li><a href="/examples/diabetes">Conditions hub page</a>: 'Type 1 diabetes'</li>
                        <li><a href="/examples/test-condition-knee-pain-v2">Conditions</a>: 'Knee pain v2'</li>
                        <li><a href="/examples/medicines/medicines-v4">Medicines</a>: 'Paracetamol for children' v4</li>
                        <li><a href="/examples/medicines/medicines-v3">Medicines</a>: 'Candesartan'</li>
                        <li><a href="/examples/test-condition-sore-throat-v1">Conditions</a>: 'Sore throat'</li>
                        <li><a href="/examples/home-page/nhsuk-home-page">Home page v1</a></li>
                        <li><a href="/examples/home-page/nhsuk-home-page-v5">Home page v2</a></li>
                        <li><a href="/examples/health-a-z/health-a-z">Health A-Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
