{% set title = 'Examples' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                          <h1>NHS.UK example pages</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <ul>
                        <li><a href="/examples/test-condition-gout">Conditions</a>: 'Gout'</li>
                        <li><a href="/examples/test-condition-overactive-thyroid">Conditions</a>: 'Overactive thyroid (hyperthyroidism)'</li>
                        <li><a href="/examples/test-condition-sciatica">Conditions</a>: 'Sciatica'</li>
                        <li><a href="/examples/test-guide-pregnancy">Guides</a>: 'Your pregnancy and baby guide'</li>
                        <li><a href="/examples/test-medicine-amoxicillin">Medicines</a>: 'Amoxicillin'</li>
                        <li><a href="/examples/test-medicine-buscopan">Medicines</a>: 'Buscopan (hyoscine butylbromide)'</li>
                        <li><a href="/examples/header-cookie">Header</a>: with GDPR compliant cookie and online consent</li>
                        <li><a href="/examples/test-condition-heel-pain-v1">Conditions</a>: 'Heel pain'</li>
                        <li><a href="/examples/test-condition-slipped-disc">Conditions</a>: 'Slipped disc'</li>
                        <li><a href="/examples/test-condition-vertigo">Conditions</a>: 'Vertigo'</li>
                        <li><a href="/examples/test-condition-blisters-v1">Conditions</a>: 'Blisters'</li>
                        <li><a href="/examples/test-condition-chest-pain">Conditions</a>: 'Chest pain'</li>
                        <li><a href="/examples/test-condition-knee-pain">Conditions</a>: 'Knee pain'</li>
                        <li><a href="/examples/epilepsy">Multi-page Condition</a>: 'Epilepsy'</li>
                        <li><a href="/examples/test-hub-nhs-in-england-parent">Hub page</a>: 'The NHS in England'</li>
                        <li><a href="/examples/test-home">Live Well hub page</a>: 'Quit smoking'</li>
                        <li><a href="/examples/google">Navigation testing (mobile)</a>: 'Allergies'</li>
                        <li><a href="/examples/test-minihub-amd/google">Condition mini hub</a>: 'Age-related macular degeneration'</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
