{% set title = 'mauro test' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}





<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>





  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>
  </p>
  </div>
</nav>








{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->
<h1>Your pregnancy and baby guide </h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Am I pregnant? What should I be eating? Is it normal to be this tired? How can I help my partner during labour?<br>

Whatever you want to know about getting pregnant, being pregnant or caring for your new baby, you should find it here.</p>
	</div>
<br><br>
  <div class="nhsuk-o-grid" >

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="maurotest" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Work out your due date</h2>
              </div>
          </a>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="/examples/test-general-eye-care" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Make and save your birth plan</h2>
              </div>
          </a>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="/examples/test-general-dental-costs" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Maternity and paternity benefits</h2>
              </div>
          </a>
      </div>

  </div>




          <hr class="nhsuk-hr">

          <h2>Getting pregnant</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Secrets to success</a></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Am I pregnant?</a></li>
              </ul>
            </div>

            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Problems</a></li>
              </ul>
            </div>
          </div>

          <hr class="nhsuk-hr">

          <h2>Pregnancy</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">I'm pregnant</a></li>
                <li><a href="diabetes/page">Week by week</a></li>
                <li><a href="diabetes/page">Twins</a></li>
                <li><a href="diabetes/page">Preparing for birth</a></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Work out your due date</a></li>
                <li><a href="maurotest2">Your pregnancy (antenatal) care</a></li>
                <li><a href="diabetes/page">Vaccinations</a></li>
                <li><a href="diabetes/page">Your health and wellbeing</a></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Existing health problems</a></li>
                <li><a href="diabetes/page">Common pregnancy aliments</a></li>
                <li><a href="diabetes/page">Pregnancy-induced conditions</a></li>
              </ul>
            </div>
          </div>

          <hr class="nhsuk-hr">

          <h2>Labour and birth</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">the start of labour</a></li>
                <li><a href="diabetes/page">The birth</a></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Emotions and worries</a></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Premature babies</a></li>
              </ul>
            </div>
          </div>
          <hr class="nhsuk-hr">

          <h2>Your newborn</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">How to breastfeed</a></li>
                <li><a href="diabetes/page">Breastfeeding problems</a></li>
                <li><a href="diabetes/page">Lifestyle and breastfeeding</a></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Bottle feeding</a></li>
                <li><a href="diabetes/page">Newborn screening tests</a></li>
                <li><a href="diabetes/page">Newborn essentials</a></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">New parents</a></li>
                <li><a href="diabetes/page">New mums</a></li>
                <li><a href="diabetes/page">Twins and multiples</a></li>
              </ul>
            </div>
          </div>
          <hr class="nhsuk-hr">

          <h2>Babies and toddlers</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Weaning and solid foods</a></li>
                <li><a href="diabetes/page">Teething</a></li>
                <li><a href="diabetes/page">Baby health and care</a></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Learning, play and behaviour</a></li>
                <li><a href="diabetes/page">Twins</a></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="diabetes/page">Safety and accidents</a></li>
                <li><a href="diabetes/page">Parenting</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>



{% endblock %}
