{% set title = 'mauro test-2' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy (antenatal) care</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>
  </p>
  </div>
</nav>

{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->
    <h1>Your pregnancy (antenatal) care </h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p>
	</div>
{% endblock %}

{% block content %}<div class="nhsuk-o-grid" >

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="maurotest" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Work out your due date</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="/examples/test-general-eye-care" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Make and save your birth plan</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="/examples/test-general-dental-costs" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Maternity and paternity benefits</h2>
            </div>
        </a>
    </div>

</div>
<div class="nhsuk-reading-width">

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">What is your antenatal care</a></h2>
            <p>Find out about appointments with midwives, or with a doctor who specialises in pregnancy.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Members of the antenatal team</a></h2>
            <p>The NHS will provide you a professional antenatal team to support you through your pregnancy.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-dental-costs">Your antenatal appointments</a></h2>
            <p>What to expect when having your antenatal appointments.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-eye-care">
Test scans and checks</a></h2>
            <p>FWhat to expect when having your antenatal appointments </p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-prescription-costs">Booked appointments</a></h2>
            <p>Find out how the NHS provides you with an appointment time in the right moment.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">First scan</a></h2>
            <p>What to expect during your first pregnancy scan</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Mid-pregnancy scan</a></h2>
            <p>What to expect during your mid-pregnancy scan.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">If screening finds something</a></h2>
            <p>Most antenatal screening tests will not find anything wrong, but there is a chance you will be told there is a possible issue.</p>
        </div>

</div>


{% endblock %}
