{% set title = 'blisters' %}
{% extends "includes/templates/page.html"%}



{% block breadcrumb %}
    <div class="nhsuk-breadcrumb">
        <div class="nhsuk-o-width-container">
            <ol>
                <li><a href="#">Home</a></li>
                <li><a href="#">Conditions</a></li>
                <li>Blisters</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block header %}
    <h1>Blisters</h1>
    <div class="nhsuk-reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Blisters should heal on their own within a week. They can be painful while they heal, but you shouldn't need to see a GP.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-listnav">
      
        <li><a href="#things-you-can-try">Things you can try</a></li>
      
        <li><a href="#how-a-pharmacist-can-help">How a pharmacist can help</a></li>
      
        <li><a href="#symptoms">Symptoms</a></li>
      
        <li><a href="#when-to-get-medical-help">When to get medical help</a></li>
      
        <li><a href="#treatment-from-a-gp">Treatment from a GP</a></li>
      
        <li><a href="#prevention">Prevention</a></li>
      
    </ol>
{% endblock %}

{% block content %}






    <section id="symptoms">

        <h2>Check if you have a blister v1</h2>


        <div class="nhsuk-o-grid" style="margin-top:24px;">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                <div style="background-color:#fff;border-bottom:2px solid #CED4D6;"><img src="https://assets.nhs.uk/prod/images/C0095259-Blister_on_heel_from_new_.2e16d0ba.fill-320x213.jpg"  width="100%">
                    <div style="padding:1em;"><p style="margin-top:0px;">Blisters are small pockets of clear fluid under a layer of skin.</p></div>
                </div>

            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                <div style="background-color:#fff;border-bottom:2px solid #CED4D6;"><img src="https://assets.nhs.uk/prod/images/M7290012-Close-up_of_a_blister_aft.2e16d0ba.fill-320x213.jpg" width="100%">
                    <div style="padding:1em;"><p style="margin-top:0px;">Blood blisters are red or black and filled with blood instead of clear fluid.</p></div>
            </div>
            </div>
        </div>

        <div class="nhsuk-o-grid" style="margin-top:24px;">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                <div style="background-color:#fff;border-bottom:2px solid #CED4D6;"><img src="https://assets.nhs.uk/prod/images/C0197737-Infected_blister-SPL.2e16d0ba.fill-320x213.jpg" width="100%">
                    <div style="padding:1em;"><p style="margin-top:0px;">If the blister is infected it can be red, hot and filled with green or yellow pus.</p></div>
                </div>

            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">

            </div>
        </div>

<!--VERSION 2-->

        <h2>Check if you have a blister v2</h2>


        <div class="nhsuk-o-grid" style="margin-top:24px;">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                <div style="border-bottom:2px solid #CED4D6;">
                        <img src="https://assets.nhs.uk/prod/images/C0095259-Blister_on_heel_from_new_.2e16d0ba.fill-320x213.jpg"  width="100%">
                        <div style="padding-top: 5px !important; padding-bottom: 10px !important;">
                                <p style="margin-top:0px;" class="nhsuk-body-s"><span style="color:#0058AD;">&#9650;</span> &nbsp;Blisters are small pockets of clear fluid under a layer of skin.</p>
                        </div>
                </div>
            </div>
          </div>
          

          <div class="nhsuk-o-grid" style="margin-top:56px;">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                    <div style="border-bottom:2px solid #CED4D6;">
                            <img src="https://assets.nhs.uk/prod/images/M7290012-Close-up_of_a_blister_aft.2e16d0ba.fill-320x213.jpg" width="100%">
                            <div style="padding-top: 5px !important; padding-bottom: 10px !important;">
                                <p style="margin-top:0px;" class="nhsuk-body-s"><span style="color:#0058AD;">&#9650;</span> &nbsp;Blood blisters are red or black and filled with blood instead of clear fluid.</p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="nhsuk-o-grid" style="margin-top:56px;">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                        <div style="border-bottom:2px solid #CED4D6;">
                                <img src="https://assets.nhs.uk/prod/images/C0197737-Infected_blister-SPL.2e16d0ba.fill-320x213.jpg" width="100%">
                                <div style="padding-top: 5px !important; padding-bottom: 10px !important;">
                                    <p style="margin-top:0px;" class="nhsuk-body-s"><span style="color:#0058AD;">&#9650;</span> &nbsp;If the blister is infected it can be red, hot and filled with green or yellow pus.</p>
                            </div>
                        </div>
                    </div>
                  </div>

<!--VERSION 3-->

<h2>Check if you have a blister v3</h2>

<div style="padding-left:16px;padding-right:16px;margin-top:24px;">
    <div class="nhsuk-o-grid" style="background-color: #ffffff;">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half" style="padding-left: 0px !important; padding-right: 0px !important;">
          <img src="https://assets.nhs.uk/prod/images/C0095259-Blister_on_heel_from_new_.2e16d0ba.fill-320x213.jpg"  width="100%">
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                <p style="padding-bottom: 16px !important;"> Blisters are small pockets of clear fluid under a layer of skin.</p>
        </div>
    </div>
</div>   



 

<div style="padding-left:16px;padding-right:16px;margin-top:24px;">
        <div class="nhsuk-o-grid" style="background-color: #ffffff;">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half" style="padding-left: 0px !important; padding-right: 0px !important;">
              <p style="margin-top: 0px !important;">                            <img src="https://assets.nhs.uk/prod/images/M7290012-Close-up_of_a_blister_aft.2e16d0ba.fill-320x213.jpg" width="100%"></p>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                    <p style="padding-bottom: 16px !important;">Blood blisters are red or black and filled with blood instead of clear fluid.</p>
            </div>
        </div>
    </div> 

    <div style="padding-left:16px;padding-right:16px;margin-top:24px;">
            <div class="nhsuk-o-grid" style="background-color: #ffffff;">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half" style="padding-left: 0px !important; padding-right: 0px !important;">
                  <p style="margin-top: 0px !important;"><img src="https://assets.nhs.uk/prod/images/C0197737-Infected_blister-SPL.2e16d0ba.fill-320x213.jpg" width="100%"></p>
                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
                        <p style="padding-bottom: 16px !important;">If the blister is infected it can be red, hot and filled with green or yellow pus.</p>
                </div>
            </div>
        </div> 

<!--VERSION 4-->

<h2>Check if you have a blister v4</h2>


<div class="nhsuk-o-grid" style="margin-top:24px;">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div style="background-color:#212B32;">
                <img src="https://assets.nhs.uk/prod/images/C0095259-Blister_on_heel_from_new_.2e16d0ba.fill-320x213.jpg"  width="100%">
                <div style="padding-top: 5px !important; padding-bottom: 10px;padding-left:1em;padding-right:1em;">
                        <p style="margin-top:0px;color:#ffffff;" class="nhsuk-body-s">Blisters are small pockets of clear fluid under a layer of skin.</p>
                </div>
        </div>
    </div>
  </div>

  <div class="nhsuk-o-grid" style="margin-top:56px;">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                <div style="background-color:#212B32;">
                    <img src="https://assets.nhs.uk/prod/images/M7290012-Close-up_of_a_blister_aft.2e16d0ba.fill-320x213.jpg" width="100%">
                    <div style="padding-top: 5px !important; padding-bottom: 10px;padding-left:1em;padding-right:1em;">
                            <p style="margin-top:0px;color:#ffffff;" class="nhsuk-body-s">Blood blisters are red or black and filled with blood instead of clear fluid.</p>
                </div>
            </div>
        </div>
      </div>

      <div class="nhsuk-o-grid" style="margin-top:56px;">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                    <div style="background-color:#212B32;">
                        <img src="https://assets.nhs.uk/prod/images/C0197737-Infected_blister-SPL.2e16d0ba.fill-320x213.jpg" width="100%">
                        <div style="padding-top: 5px !important; padding-bottom: 10px;padding-left:1em;padding-right:1em;">
                                <p style="margin-top:0px;color:#ffffff;" class="nhsuk-body-s">If the blister is infected it can be red, hot and filled with green or yellow pus.</p>
                    </div>
                </div>
            </div>
          </div>







   


        
    </section>
            
          
            
              
        
        
        
        <section class="callout">
            <div class="nhsuk-c-callout__warning">
                <p>Don't ignore an infected blister. Without treatment it could lead to a skin or blood infection.</p>
        
            </div>
        </section>
        
        
        
            
          
          <div class="clearfix"></div>







        <section id="when-to-get-medical-help">
<!--care card blue-->
<div class="care-card blue" role="alert">
    <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">See a GP if:</h4>
    </div>
    <div class="care-card-content">
        <ul>
            <li>a blister is very painful or keeps coming back</li>
            <li>the skin looks infected – it's red, hot and the blister is filled with green or yellow pus</li>
            <li>a blister is in an unusual place – such as your eyelids, mouth or genitals</li>
            <li>several blisters have appeared for no reason</li>
            <li>a blister was caused by a burn or scald, sunburn, or an allergic reaction</li>
            </ul>
    </div>
</div>
</section>

<section id="treatment-from-a-gp">
  

    <h2>Treatment from a GP</h2>
    
    <p>Your GP might burst a large or painful blister using a sterilised needle. If your blister is infected, they may prescribe antibiotics.</p>
    
    <p>They can also offer treatment and advice if blisters are caused by a medical condition.</p>
    


</section>


<section id="prevention">
  
    
      



    <h2>How to prevent blisters</h2>
    
    <p>Blisters develop to protect damaged skin and help it heal. They are mostly caused by friction, burns and skin reactions, such as an allergic reaction.</p>
    
    <p>Blood blisters appear when blood vessels in the skin have also been damaged. They are often more painful than a regular blister.</p>
    
    <p>If you regularly get friction blisters:</p>
    
    <ul>
    <li>wear comfortable, well-fitting shoes</li>
    <li>gradually break in new shoes</li>
    <li>wear thicker wool socks during exercise</li>
    <li>dust talcum powder in your socks if you get sweaty feet</li>
    <li>wear protective gloves when you exercise or if you use tools at work</li>
    </ul>
    
    
    
    
        
      
        
          
    
    
    
    <details role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="details__summary">Conditions that can cause blisters</span>
        </summary>
        <div class="details__content" id="details-content-0" aria-hidden="true">
            <div class="block-markdown">
    
    
    
    <ul>
    <li><a href="/conditions/chickenpox/">Chickenpox</a> – a childhood illness that causes itchy red spots</li>
    <li><a href="/conditions/cold-sore/">Cold sores</a> – small blisters that develop on the lips or around the mouth, caused by a virus</li>
    <li><a href="/conditions/genital-herpes/">Genital herpes</a> – a sexually transmitted infection (STI) that most commonly affects the groin</li>
    <li><a href="/conditions/impetigo/">Bullous impetigo</a> – a contagious bacterial skin infection</li>
    <li><a href="/conditions/pompholyx/">Pompholyx</a> – a type of eczema</li>
    <li><a href="/conditions/scabies/">Scabies</a> – a skin condition caused by tiny mites</li>
    <li><a href="/conditions/hand-foot-mouth-disease/">Hand, foot and mouth disease</a> – a viral infection that usually affects young children</li>
    </ul>
    
    
    
    </div>
        </div>
    </details>
    
    
    
        
      
      <div class="clearfix"></div>
    </section>




		

        <div class="clearfix"></div>
    </section>
<section id="things-you-can-try">










<!--care card grey-->
<div class="care-card grey" role="alert">
    <div class="care-card-heading">
        <h4 class="nhsuk-heading-m">Call 111</h4>
    </div>
    <div class="care-card-content">
        <p>If you can’t speak to your GP or don’t know what to do next.</p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="nhsuk-o-width-container">
        <a href="#">Test link</a>
    </div>
</footer>
{% endblock %}

