{% set title = 'Eye care entitlements' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
  {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}

	<h1>Eyecare entitlements</h1>
	<div class="nhsuk-reading-width"></div>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->

	<ul class="nhsuk-list-nav">
		<li><a href="/examples/test-hub-nhs-in-england-child" class="nhsuk-heading-m">Help with health costs</a></li>
        <li><a href="#">NHS Low Income Scheme</a></li>
		<li><a href="#">Universal Credit</a></li>
		<li><a href="/examples/test-general-dental-costs">Help with dental costs</a></li>
		<li><strong>Eye care entitlements</strong></li>
		<li><a href="/examples/test-general-prescription-costs">Help with prescription costs</a></li>
		<li><a href="#">Help with travel costs</a></li>
		<li><a href="#">Help for wigs and fabric supports</a></li>
    </ul>
{% endblock %}

{% block content %}

	<div class="nhsuk-c-page-contents-v2">
		<a href="#" class="nhsuk-c-page-contents-v2-reveal">Contents</a>
		<ul class="nhsuk-list-nav nhsuk-c-page-contents-v2-content">
			<li><a href="#free-nhs-eye-tests">Free NHS eye tests</a></li>
			<li><a href="#nhs-optical-vouchers">NHS optical vouchers</a></li>
		</ul>
	</div>

	<script>
		$( ".nhsuk-c-page-contents-v2-reveal" ).click(function() {
			$( ".nhsuk-c-page-contents-v2-content" ).toggle();
			$(this).toggleClass("open");
			return false;
		});
	</script>

    <section class="nhsuk-page-content__section-one">

        <p>Find out if you're entitled to a free NHS sight test or an optical voucher to help reduce the cost of glasses or contact lenses.</p>

		<p>If you're not eligible for NHS-funded sight tests or optical vouchers, you'll have to cover the costs yourself. </p>

		<h2 id="free-nhs-eye-tests">Free NHS eye tests</h2>

		<p>You're entitled to a free NHS sight test if you:</p>

		<ul>
			<li>are under 16</li>
			<li>are 16, 17 or 18 and in full-time education</li>
			<li>are 60 or over</li>
			<li>are registered as partially sighted or blind</li>
			<li>have been diagnosed with diabetes or glaucoma</li>
			<li>are 40 or over and your mother, father, sibling or child has been diagnosed with glaucoma</li>
			<li>have been advised by an eye doctor (ophthalmologist) that you’re at risk of glaucoma</li>
			<li>are a prisoner on leave from prison</li>
			<li>are eligible for an NHS complex lens voucher – your optician can advise you about your entitlement</li>
		</ul>

		<p>You also qualify for a free NHS sight test if  you:</p>

		<ul>
			<li>Income Support</li>
			<li>get Income-based Jobseeker’s Allowance</li>
			<li>get Income-based Employment and Support Allowance</li>
			<li>get Pension Credit Guarantee Credit</li>
			<li>get tax credits and meet the criteria</li>
			<li>get Universal Credit and meet the criteria</li>
			<li>have a low income and are named on a valid NHS HC2 certificate for full help with health costs</li>
		</ul>

		<p>You may be entitled to a reduced cost sight test if you have a low income and are named on a valid NHS HC3 certificate for partial help with health costs. </p>

		<h2 id="nhs-optical-vouchers">NHS optical vouchers</h2>

		<p>You’re entitled to an optical voucher for help towards the cost of your glasses or contact lenses if you:</p>

		<ul>
			<li>are under 16</li>
			<li>are 16, 17 or 18 and in full-time education</li>
			<li>are a prisoner on leave from prison</li>
			<li>are eligible for an NHS complex lens voucher – your optician can advise you about your entitlement</li>
		</ul>

		<p>You also qualify for an optical voucher if you:</p>

		<ul>
			<li>get Income Support</li>
			<li>get Income-based Jobseeker’s Allowance</li>
			<li>get Income-based Employment and Support Allowance</li>
			<li>get Pension Credit Guarantee Credit</li>
			<li>get tax credits and meet the criteria</li>
			<li>get Universal Credit and meet the criteria</li>
			<li>have a low income and are named on a valid NHS HC2 certificate for full help with health costs</li>
		</ul>

		<p>You may be entitled to an optical voucher if you have a low income and are named on a valid NHS HC3 certificate for partial help with health costs.</p>

    </section>

{% endblock %}
