{% set title = 'Get help with dental costs' %}
{% set parent = 'Help with health costs' %}

{% extends 'includes/site-layout.html' %}

{% block body %}

	<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
		<div class="nhsuk-o-width-container">
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="">The NHS in England</a></li>
				<li><a href="">Help with health costs</a></li>
			</ol>
			<p><a href="">Back to Help with health costs</a></p>
		</div>
	</nav>

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">

				<div class="nhsuk-page-heading">
					<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

						<h1>Get help with dental costs</h1>
						<p class="nhsuk-body-l nhsuk-page-intro">This section explains when patients are entitled to free NHS dental care. NHS dental charges depend on the treatment you need to keep your mouth, teeth and gums healthy.</p>

					</div>
					<div style="clear: both;"></div>
				</div>
			
				<div class="nhsuk-page-content">

					<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
									
						<p>You'll only ever be asked to pay one charge for each complete course of treatment, even if you need to visit your dentist more than once to finish it.</p>

						<p>If you're referred to another dentist for another, separate course of treatment, you can expect a second charge. Some minor treatments are free.</p>
				
						<p>Get more guidance in <a href="#">NHS dental services explained</a>.</p>
				
						<p><a href="#">The NHS Low Income Scheme (LIS)</a> may provide partial help with the cost of your dental care for those who don't qualify for full help but still have a low income.</p>
				
						<p>Detailed information is also provided on the <a href="#">NHS Business Services Authority (BSA) website</a>. </p>
				
						<p>Follow the NHS Business Services Authority (BSA) on Facebook or Twitter to get NHS BSA latest updates and answers to your questions about help with health costs.</p>
				
						<p>If you wrongly make a claim for a dental charge, you may be sent a penalty charge notice. You would have to pay the cost of the dental charge, plus a penalty charge of up to £100. You may also be prosecuted for an offence that can lead to a criminal record.</p>
				
						<p>For more information, see <a href="#">Paying NHS charges</a>.</p>
						
						<h2 id="dental-charges">NHS dental charges</h2>
				
						<p><strong>Band 1 course of treatment – £21.60</strong></p>
						<p>This covers examinations, diagnosis (including radiographs), advice on how to prevent future problems, scale and polish if clinically necessary, and preventative care (for example, applications of fluoride varnish or fissure sealant).</p>
						
						<p><strong>Urgent dental treatment – £21.60</strong></p>
						<p>This band covers emergency care, such as pain relief or a temporary filling, in a primary care dental practice. Find out more about <a href="#">dental emergency and out-of-hours care</a>.</p>
						
						<p><strong>Band 2 course of treatment – £59.10</strong></p>
						<p>This covers everything listed in Band 1, plus any further treatment, such as fillings, root canal work, or if your dentist needs to take out one or more of your teeth.</p>
						
						<p><strong>Band 3 course of treatment – £256.50</strong></p>
						<p>This covers everything listed in Bands 1 and 2 above, plus crowns, dentures, bridges, and other laboratory work.</p>
				
						<h2 id="whos-entitled">Who's entitled to free dental care?</h2>
				
						<p>If one or more of the criteria listed below applies to you when your treatment starts, you'll be entitled to free NHS dental care.</p>
				
						<p>You're entitled if you are:</p>
						
						<ul>
							<li>aged under 18, or under 19 and in qualifying full-time education</li>
							<li>pregnant or have had a baby in the previous 12 months</li>
							<li>staying in an NHS hospital and your treatment is carried out by the hospital dentist</li>
							<li>an NHS hospital dental service outpatient – but you may have to pay for your dentures or bridges</li>
						</ul>
						
						<p>You're also entitled if you or your partner – including civil partner – receive, or you're under the age of 20 and the dependant of someone receiving:</p>
						
						<ul>
							<li>Income Support</li>
							<li>Income-related Employment and Support Allowance</li>
							<li>Income-based Jobseeker's Allowance</li>
							<li>Pension Credit Guarantee Credit</li>
							<li>Universal Credit and meet the criteria</li>
						</ul>
						
						<p>If you're entitled to or named on:</p>
						
						<ul>
							<li>a valid NHS tax credit exemption certificate – if you don't have a certificate, you can show your award notice; you qualify if you get Child Tax Credits, Working Tax Credits with a disability element (or both), and have an income for tax credit purposes of £15,276 or less</li>
							<li>a valid HC2 certificate</li>
						</ul>
						
						<p>People named on an NHS certificate for partial help with health costs (HC3) may also get help.</p>
				
						<p>You won't be exempt from paying because you receive Incapacity Benefit, contribution-based Employment and Support Allowance, contribution-based Jobseeker's Allowance, Disability Living Allowance, Council Tax Benefit, Housing Benefit or Pension Credit Savings Credit, when paid on their own.</p>
				
						<p>Medical conditions don't exempt patients from payment for dental treatment. You'll be asked to show your dentist written proof that you don't have to pay for all or part of your NHS treatment. You will also be asked to sign a form to confirm that you don't have to pay.</p>

					</div>

					<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

						<div class="nhsuk-c-page-nav-related">
							<h2 class="nhsuk-heading-s">Help with health costs</h2>
							<ul>
								<li><a href="#">NHS Low Income Scheme</a></li>
								<li><a href="#">Universal Credit</a></li>
								<li><strong>Help with dental costs</strong></li>
								<li><a href="/examples/test-general-eye-care">Eye care entitlements</a></li>
								<li><a href="/examples/test-general-prescription-costs">Help with prescription costs</a></li>
								<li><a href="#">Help with travel costs</a></li>
								<li><a href="#">Help for wigs and fabric supports</a></li>
							</ul>
						</div>

					</div>

					<div style="clear: both;"></div>

				</div>

			</div>
        </main>
	</div>
	
	<div class="nhsuk-c-review-datestamp-v2">
		<div class="nhsuk-o-width-container">
			<p>Page last reviewed: 12/02/2016<br>
			Next review due: 01/02/2019</p>
		</div>
	</div>

{% endblock %}