{% set title = 'The NHS in England' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
      <li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-c-breadcrumb__back">{% include 'partials/icons/icon-chevron-left.svg' %}<a href="../" class="nhsuk-c-breadcrumb__backlink">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->
    <h1>The NHS in England</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Everything you need to know about the health service and what you can get from it.</p>
	</div>
{% endblock %}

{% block content %}
<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">About the NHS</a></h2>
            <p>Find out about the NHS in England: its history and values, governance and regulation, and engagement with the public.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">NHS services</a></h2>
            <p>Find out what to expect from NHS services provided in England, including how to access them and any costs involved, if any.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Personal health budgets</a></h2>
            <p>A personal health budget could help you to manage your care in a way that suits you. Find out where to get started.</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Armed forces</a></h2>
            <p>Find out how the NHS provides care to the UK's armed forces community.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Healthcare abroad</a></h2>
            <p>Have you planned your next holiday yet? Passport, visa and hotel are the obvious things to consider, but what about planning your healthcare?</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">NHS complaints</a></h2>
            <p>If you're not happy with the care or treatment you've received, you have the right to complain. Find out how.</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">NHS waiting times</a></h2>
            <p>How long should you wait to start your treatment? Find out about maximum waiting times and how they are calculated.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
            <div class="nhsuk-c-promo-v1">
                <h2 class="nhsuk-heading-s"><a href="/examples/test-hub-nhs-in-england-child">Health costs</a></h2>
                <p>Sometimes you'll have to pay towards the cost of your NHS care. Find out if you can get help with these costs.</p>
            </div>
        </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Get online</a></h2>
            <p>Find out how to make the most of the internet and live a healthier life. Plus tips on how to keep yourself and others safe online.</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">My NHS: data</a></h2>
            <p>See how local NHS services perform on patient safety, hospital food standards and other indicators, and challenge them to improve.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Antibiotic awareness</a></h2>
            <p>Antibiotics are losing their effectiveness at an increasing rate. Find out what's being done to combat antibiotic resistance. </p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Keogh reviews</a></h2>
            <p>Investigations into the quality of NHS services: the Urgent and Emergency Care Review.</p>
        </div>
    </div>

</div>

{% endblock %}
