{% set title = '' %}
{% set parent = 'The NHS in England' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
  {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <!--<h1>Help with health costs </h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-money.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">The following pages explain in full detail how to claim the money you're entitled to</p>
        </div>
    </div>-->
    <h1>Help with health costs</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">The following pages explain in full detail how to claim the money you're entitled to.</p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid" >

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="/examples/test-general-prescription-costs" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Get help with prescription costs</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="/examples/test-general-eye-care" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Free NHS eye tests</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="/examples/test-general-dental-costs" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Get help with dental costs</h2>
            </div>
        </a>
    </div>

</div>

<div class="nhsuk-reading-width">

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">NHS Low Income Scheme</a></h2>
            <p>If you have a low income, you may be able to get help with NHS costs through the NHS Low Income Scheme (LIS).</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Universal Credit</a></h2>
            <p>On November 1 2015, the arrangements about who's entitled to help with health costs changed. If you receive Universal Credit, make sure you're aware of the new arrangements as you may no longer be entitled to support.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-dental-costs">Help with dental costs</a></h2>
            <p>Dental charges depend on the treatment you need to keep your mouth, teeth and gums healthy. Find out what you're entitled to and how to get help with NHS dental charges.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-eye-care">Eye care entitlements</a></h2>
            <p>Find out if you're entitled to free NHS sight tests or optical vouchers. The section also provides additional information about the current NHS voucher values. </p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/test-general-prescription-costs">Help with prescription costs</a></h2>
            <p>Find out if you're entitled to free prescriptions. Plus learn how to get help with charges, such as through a prescription prepayment certificate (PPC).</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Help with travel costs</a></h2>
            <p>Find out if and when you can claim refunds under the Healthcare Travel Costs Scheme for travelling to hospitals or other NHS premises.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Help for wigs and fabric supports</a></h2>
            <p>Wigs are available on the NHS, but patients are charged for them, unless they qualify for help with charges. Find out if you're eligible for support.</p>
        </div>

</div>

{% endblock %}
