{% set title = 'Sore throat' %}
{% set parent = 'Health A-Z' %}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/action-link.html" import actionLink %}
{% from "macros/care-card.html" import carecard %}
{% from "macros/keypoint.html" import keypoint %}
{% from "macros/image.html" import image %}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}

{% block body %}

{% include 'partials/global-alert/global-alert-new-page.html' %}
	{% include 'partials/breadcrumb/breadcrumb.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading" style="padding-bottom:1em;">

						<h1>Sore throat</h1>
					
                    </div>
                    

                    <section id="things-you-can-try">

                            <p>Sore throats are very common and usually nothing to worry about. They normally get better by themselves within a week.</p>
  
                            <h2>How to treat a sore throat yourself</h2>
                            
                            <p>To help soothe a sore throat and shorten how long it lasts you can:</p>
                            
                            <ul style="padding-bottom:1em;">
                            <li>gargle with warm salty water (children shouldn't try this)</li>
                            <li>drink plenty of water – but avoid hot drinks</li>
                            <li>eat cool or soft foods</li>
                            <li>avoid smoking or smoky places</li>
                            <li>suck ice cubes, ice lollies or hard sweets – but don't give young children anything small and hard to suck because of the risk of choking</li>
                            <li>rest</li>
                            </ul>
                            
                            
                            
                            
                                
                            <script>
                                    // <details> polyfill
                                    // http://caniuse.com/#feat=details
                                    // FF Support for HTML5's <details> and <summary>
                                    // https://bugzilla.mozilla.org/show_bug.cgi?id=591737
                                    // http://www.sitepoint.com/fixing-the-details-element/
                                    ; (function () {
                                      'use strict'
                                      var NATIVE_DETAILS = typeof document.createElement('details').open === 'boolean'
                                      // Add event construct for modern browsers or IE
                                      // which fires the callback with a pre-converted target reference
                                      function addEvent(node, type, callback) {
                                        if (node.addEventListener) {
                                          node.addEventListener(type, function (e) {
                                            callback(e, e.target)
                                          }, false)
                                        } else if (node.attachEvent) {
                                          node.attachEvent('on' + type, function (e) {
                                            callback(e, e.srcElement)
                                          })
                                        }
                                      }
                                      // Handle cross-modal click events
                                      function addClickEvent(node, callback) {
                                        // Prevent space(32) from scrolling the page
                                        addEvent(node, 'keypress', function (e, target) {
                                          if (target.nodeName === 'SUMMARY') {
                                            if (e.keyCode === 32) {
                                              if (e.preventDefault) {
                                                e.preventDefault()
                                              } else {
                                                e.returnValue = false
                                              }
                                            }
                                          }
                                        })
                                        // When the key comes up - check if it is enter(13) or space(32)
                                        addEvent(node, 'keyup', function (e, target) {
                                          if (e.keyCode === 13 || e.keyCode === 32) { callback(e, target) }
                                        })
                                        addEvent(node, 'mouseup', function (e, target) {
                                          callback(e, target)
                                        })
                                      }
                                      // Get the nearest ancestor element of a node that matches a given tag name
                                      function getAncestor(node, match) {
                                        do {
                                          if (!node || node.nodeName.toLowerCase() === match) {
                                            break
                                          }
                                          node = node.parentNode
                                        } while (node)
                                        return node
                                      }
                                      // Create a started flag so we can prevent the initialisation
                                      // function firing from both DOMContentLoaded and window.onload
                                      var started = false
                                      // Initialisation function
                                      function addDetailsPolyfill(list) {
                                        // If this has already happened, just return
                                        // else set the flag so it doesn't happen again
                                        if (started) {
                                          return
                                        }
                                        started = true
                                        // Get the collection of details elements, but if that's empty
                                        // then we don't need to bother with the rest of the scripting
                                        if ((list = document.getElementsByTagName('details')).length === 0) {
                                          return
                                        }
                                        // else iterate through them to apply their initial state
                                        var n = list.length
                                        var i = 0
                                        for (i; i < n; i++) {
                                          var details = list[i]
                                          // Save shortcuts to the inner summary and content elements
                                          details.__summary = details.getElementsByTagName('summary').item(0)
                                          details.__content = details.getElementsByTagName('div').item(0)
                                          // If the content doesn't have an ID, assign it one now
                                          // which we'll need for the summary's aria-controls assignment
                                          if (!details.__content.id) {
                                            details.__content.id = 'details-content-' + i
                                          }
                                          // Add ARIA role="group" to details
                                          details.setAttribute('role', 'group')
                                          // Add role=button to summary
                                          details.__summary.setAttribute('role', 'button')
                                          // Add aria-controls
                                          details.__summary.setAttribute('aria-controls', details.__content.id)
                                          // Set tabIndex so the summary is keyboard accessible for non-native elements
                                          // http://www.saliences.com/browserBugs/tabIndex.html
                                          if (!NATIVE_DETAILS) {
                                            details.__summary.tabIndex = 0
                                          }
                                          // Detect initial open state
                                          var openAttr = details.getAttribute('open') !== null
                                          if (openAttr === true) {
                                            details.__summary.setAttribute('aria-expanded', 'true')
                                            details.__content.setAttribute('aria-hidden', 'false')
                                          } else {
                                            details.__summary.setAttribute('aria-expanded', 'false')
                                            details.__content.setAttribute('aria-hidden', 'true')
                                            if (!NATIVE_DETAILS) {
                                              details.__content.style.display = 'none'
                                            }
                                          }
                                          // Create a circular reference from the summary back to its
                                          // parent details element, for convenience in the click handler
                                          details.__summary.__details = details
                                          // If this is not a native implementation, create an arrow
                                          // inside the summary
                                          if (!NATIVE_DETAILS) {
                                            var twisty = document.createElement('i')
                                            if (openAttr === true) {
                                              twisty.className = 'details__arrow is-open'
                                              twisty.appendChild(document.createTextNode('\u25bc'))
                                            } else {
                                              twisty.className = 'details__arrow is-closed'
                                              twisty.appendChild(document.createTextNode('\u25ba'))
                                            }
                                            details.__summary.__twisty = details.__summary.insertBefore(twisty, details.__summary.firstChild)
                                            details.__summary.__twisty.setAttribute('aria-hidden', 'true')
                                          }
                                        }
                                        // Define a statechange function that updates aria-expanded and style.display
                                        // Also update the arrow position
                                        function statechange(summary) {
                                          var expanded = summary.__details.__summary.getAttribute('aria-expanded') === 'true'
                                          var hidden = summary.__details.__content.getAttribute('aria-hidden') === 'true'
                                          // using a slight delay due to weird bug in Firefox not detecting click on the '+' or '-' correctly
                                          var ariaPause = setTimeout(function () {
                                            summary.__details.__summary.setAttribute('aria-expanded', (expanded ? 'false' : 'true'))
                                            summary.__details.__content.setAttribute('aria-hidden', (hidden ? 'false' : 'true'))
                                          }, 50);
                                          if (!NATIVE_DETAILS) {
                                            summary.__details.__content.style.display = (expanded ? 'none' : '')
                                            var hasOpenAttr = summary.__details.getAttribute('open') !== null
                                            if (!hasOpenAttr) {
                                              summary.__details.setAttribute('open', 'open')
                                            } else {
                                              summary.__details.removeAttribute('open')
                                            }
                                          }
                                          if (summary.__twisty) {
                                            summary.__twisty.firstChild.nodeValue = (expanded ? '\u25ba' : '\u25bc')
                                            summary.__twisty.setAttribute('class', (expanded ? 'details__arrow is-closed' : 'details__arrow is-open'))
                                          }
                                          return true
                                        }
                                        // Bind a click event to handle summary elements
                                        addClickEvent(document, function (e, summary) {
                                          if (!(summary = getAncestor(summary, 'summary'))) {
                                            return true
                                          }
                                          return statechange(summary)
                                        })
                                      }
                                      // Bind two load events for modern and older browsers
                                      // If the first one fires it will set a flag to block the second one
                                      // but if it's not supported then the second one will fire
                                      addEvent(document, 'DOMContentLoaded', addDetailsPolyfill)
                                      addEvent(window, 'load', addDetailsPolyfill)
                                    })()
                                    </script>
                                    <style>
                                    .o-list-sections {
                                      margin-top: 0;
                                    }
                                    .o-section__header:focus {
                                      outline: 0;
                                    }
                                    .c-common-questions__summary::-webkit-details-marker {
                                      display: none;
                                    }
                                    .c-common-questions {
                                      border: 2px #aeb7bd solid;
                                      margin-top: 30px;
                                      padding: 8px 0px 0px 0px;
                                
                                    }
                                    .c-common-questions__summary {
                                      display: block;
                                    }
                                    .c-common-questions__header {
                                      border-top: 1px solid #ccc;
                                      background: url(/images/icon-open_v1.svg) left no-repeat;
                                      color: #0058ad;
                                      cursor: pointer;
                                      font-weight: 600;
                                      line-height: 1.4em;
                                      margin-top: 0;
                                      padding: 18px 8px 18px 36px;
                                      text-decoration: none;
                                      margin-left: 16px;
                                      margin-right: 16px;
                                      width:28px;
                                    }
                                    .c-common-questions__header:hover,
                                    .c-common-questions__header:focus {
                                      text-decoration: underline;
                                    }
                                    .c-common-questions__details:first-child .c-common-questions__header {
                                      border-top: 0;
                                    }
                                    .c-common-questions__summary[aria-expanded="true"] .c-common-questions__header {
                                      background: url(/images/icon-minus_v1.svg) left no-repeat;
                                    }
                                    .c-common-questions__content {
                                      background: #fff;
                                      margin-bottom: 0em;
                                      padding: 1em;
                                    }
                                
                                
                                    .c-reveal__summary::-webkit-details-marker {
                                      display: none;
                                    }
                                    .c-reveal {
                                      border: 2px #aeb7bd solid;
                                      margin-top: 30px;
                                      padding: 8px 16px;
                                    }
                                    .c-reveal__summary {
                                      display: block;
                                    }
                                    .c-reveal__header {
                                      background: url(/images/icon-open_v1.svg) left no-repeat ;
                                      color: #0058ad;
                                      cursor: pointer;
                                      font-weight: 600;
                                      line-height: 1.4em;
                                      margin-top: 0;
                                      padding: 18px 8px 18px 38px;
                                      text-decoration: none;
                                    }
                                    .c-reveal__header:hover,
                                    .c-reveal__header:focus {
                                      text-decoration: underline;
                                    }
                                    .c-reveal__details:first-child .c-common-questions__header {
                                      border-top: 0;
                                    }
                                    .c-reveal__summary[aria-expanded="true"] .c-reveal__header {
                                      background: url(/images/icon-minus_v1.svg) left no-repeat;
                                    }
                                    .c-reveal__content {
                                      margin-top:1em;
                                margin-bottom:1em;
                                    }
                                
                                
                                  .c-reveal-muted__summary::-webkit-details-marker {
                                      display: none;
                                    }
                                    .c-reveal-muted {
                                      border: 2px #aeb7bd solid;
                                      margin-top: 30px;
                                      padding: 8px 16px;
                                    }
                                    .c-reveal-muted__summary {
                                      display: block;
                                    }
                                
                                    .c-reveal-muted__header {
                                      background: url(/images/icon-open_v1.svg)  left no-repeat ;
                                      color: #425462;
                                      cursor: pointer;
                                      font-weight: 600;
                                      line-height: 1.4em;
                                      margin-top: 0;
                                      padding: 18px 8px 18px 36px;
                                      text-decoration: none;
                                    }
                                    .c-reveal-muted__header:hover,
                                    .c-reveal-muted__header:focus {
                                      text-decoration: underline;
                                    }
                                    .c-reveal-muted__details:first-child .c-common-questions__header {
                                      border-top: 0;
                                    }
                                    .c-reveal__summary[aria-expanded="true"] .c-reveal-muted__header {
                                      background: url(/images/icon-minus_v1.svg) left no-repeat;
                                    }
                                
                                        .c-reveal-muted__summary[aria-expanded="true"] .c-reveal-muted__header {
                                      background: url(/images/icon-minus_v1.svg) left no-repeat;
                                    }
                                
                                
                                
                                
                                
                                
                                
                                    .c-common-questions__content p:first-child {
                                      margin-top: 0;
                                    }
                                    .c-pain__header {
                                      border-top: none;
                                      color: #0058ad;
                                      cursor: pointer;
                                      font-size: 19px;
                                      font-weight: normal;
                                      line-height: 1.4em;
                                      margin-top: 0;
                                      padding: 18px 8px 18px 48px;
                                    }
                                
                                    .expand-help__button[aria-expanded="false"]::before {
                                      content: '\25b6\00a0';
                                      speak: none;
                                    }
                                
                                    .expand-help__button {
                                      font-size: 19px;
                                      line-height: 1.3157894737;
                                      color: #005ea5;
                                      -webkit-appearance: none;
                                      background: none;
                                      border: none;
                                      font-family: "nta", Arial, sans-serif;
                                      font-weight: 400;
                                      text-transform: none;
                                      font-size: 16px;
                                      line-height: 1.25;
                                      text-decoration: underline;
                                      padding: 0;
                                      align-items: flex-start;
                                text-align: center;
                                    }
                                
                                .expand-help__button[aria-expanded="false"]::before{
                                      content: '\25b6\00a0';
                                    speak: none;
                                
                                }
                                
                                .expand-help__heading {
                                
                                  font-weight: bold
                                }
                                
                                .form-group:after {
                                  content: "";
                                display: block;
                                clear: both;
                                
                                
                                }
                                
                                details summary:focus {
                                    outline: 3px solid #ffb81c;
                                }
                                
                                ul.painscale  {
                                    list-style-image:url('/images/icon-information.svg');
                                    margin-top:0px;
                                
                                }
                                
                                summary.pain::-webkit-details-marker {
                                  display: none
                                }
                                summary.pain:after {
                                  background: #0058ad;
                                  border-radius: 25px;
                                  content: "i";
                                  color: #fff;
                                  float: left;
                                line-height:1.4em;
                                  font-weight: bold;
                                  margin: -1px 20px 10px 0;
                                  padding: 0;
                                  text-align: center;
                                  width: 30px;
                                  height: 30px;
                                }
                                details.pain[open] summary.pain:after {
                                  content: "-";
                                }
                                
                                
                                
                                    </style>
                                  
                            
                            
                                  <div  style="background-color: #fff;padding: 1em;margin-top:1em;">
                                        <details class="c-reveal__details" role="group" >
                                          <summary class="c-reveal__summary" aria-expanded="false" tabindex="0" aria-controls="question-1" role="button">
                                            <p class="c-reveal__header" >How to gargle with salt water</p>
                                          </summary>
                                          <div class="c-reveal__content" id="question-1" aria-hidden="true">
                                                <ol>
                                                        <li>Dissolve half a teaspoon of salt in a glass of warm water – warm water helps salt dissolve.</li>
                                                        <li>Gargle with the solution then spit it out – don't swallow it.</li>
                                                        <li>Repeat as often as you like.</li>
                                                        </ol>
                                          </div>
                                        </details>
                              
                                      </div>


    <div class="nhsuk-c-image ">

                                            <!--
                                              <img
                                              alt="Picture of allergic conjunctivitis"
                                              src="/images/video_player-4.jpg"
                                              sizes="(min-width: 1020px) 320px, (min-width: 768px) 50vw, 100vw"
                                              srcset="
                                      
                                              /images/video_player-4.jpg 320w,
                                      
                                              /images/video_player-4.jpg 510w,
                                      
                                              /images/video_player-4.jpg 640w,
                                      
                                             /images/video_player-4.jpg 767w,
                                      
                                              /images/video_player-4.jpg 1019w,
                                      
                                              /images/video_player-4.jpg 1125w,
                                      
                                              /images/video_player-4.jpg 1534w,
                                      
                                              "
                                          />-->
                                      
        <div style="display: block; position: relative; max-width: 100%;">
            <div style="padding-top: 56.25%;">
                    <video
                        data-account="79855382001"
                        data-player="ByeoZCFPWQ"
                        data-video-id="5712747328001"
                        data-embed="default"
                        data-application-id
                        class="video-js"
                        controls
                        style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    </video>
                                              
                    <script src="//players.brightcove.net/79855382001/ByeoZCFPWQ_default/index.min.js"></script>
            </div>
        </div>
                                      
                                          
        <div class="nhsuk-c-image-caption" style="padding:1em;">
                                              
            <h3 style="padding-bottom:0em;margin-top:.5em;">How to treat a sore throat</h3>
                                              
            <p class="nhsuk-body-s" style="padding-bottom:1em;margin-top:.5em;">51 seconds</p>
                                              
                                      
                                      
                                                              
            <details role="group">
                                                                
                <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                                                                    
                    <span class="details__summary nhsuk-body-s" style="text-decoration: underline;    color: #005eb8;font-weight:400;">Media review dates</span>
                                                                
                </summary>
                                                                
                <div class="details__content" id="details-content-0" aria-hidden="true">
                                                                    
                    <div class="block-markdown">
                                                                      
                        <p class="nhsuk-body-s" style="margin-top:1em;">Media last reviewed: 1 Jun 2017
                            <br />Media review due: 1 Jun 2020</p>
                                      
                                                                
                    </div>
                                                                
                </div>
                                                            
            </details>
                                      
                                          
        </div>
                                      
                                      


                            

                            
                            
                                
                              
             
                            
                            
                                
                              
                              <div class="clearfix"></div>
                            </section>
				
					<div class="nhsuk-page-content">
										
				
							{{ reviewdate("12/02/2016", "01/02/2019") }}

					</div>

				</div>
			</div>
        </main>
	</div>



{% endblock %}
