{% set title = 'Quit smoking' %}
{% set parent = 'Live Well' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-o-width-container">
        <ol>
            <li><a href="/examples/test-home">Home</a></li>
            <li><a href="/examples/test-hub-live-well-parent">Live Well</a></li>
        </ol>
        <p><a href="/examples/test-home">Back to Home</a></p>
    </div>
</nav>
{% endblock %}

{% block header %}
    <h1>Quit smoking</h1>
{% endblock %}

{% block content %}
<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Smoking facts</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec in varius nisl</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Advice and support</a></h2>
            <p>Nunc efficitur gravida tellus in viverra in mollis varius</p>
        </div>
    </div>
    
</div>

{% endblock %}
