{% set title = 'Your pregnancy and baby guide' %}
{% set parent = 'Guides' %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Your pregnancy and baby guide</h1>
{% endblock %}

{% block sidebar %}
    <h3 class="nhsuk-heading-xs">Page contents</h3>
    <ol>
      <li><a href="#want-to-know-if-youre-really-pregnant">Want to know if you're really pregnant?</a></li>
      <li><a href="#keeping-well-in-pregnancy">Keeping well in pregnancy</a></li>
      <li><a href="#labour-and-birth">Labour and&nbsp;birth</a></li>
      <li><a href="#your-new-baby">Your new baby</a></li>
      <li><a href="#want-to-share-your-pregnancy-and-baby-experiences">Want to share your pregnancy and baby experiences?</a></li>
    </ol>
{% endblock %}

{% block content %}
    <p class="nhsuk-body-l">Am I pregnant?&nbsp;What should I be eating?&nbsp;Is it normal to be this tired? How can I help my partner during labour?</p>
    <p>Whatever you want to know&nbsp;about getting pregnant, being pregnant or caring for&nbsp;your new baby, you should find it here. </p>
    <p>You'll find detailed week-by-week guides and lots of expert videos, parents' tips&nbsp;and interactive tools to&nbsp;explore.</p>
    <p>Before you start, why not:</p>
    <ul>
      <li>work out&nbsp;when your baby is due&nbsp;with our&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/due-date-calculator.aspx">due date calculator</a>&nbsp;&nbsp;&nbsp; </li>
      <li>download a <a href="/Conditions/pregnancy-and-baby/pages/birth-plan.aspx">birth plan template</a> to fill in and save</li>
    </ul>
    <h2 id="want-to-know-if-youre-really-pregnant">Want to know if you're really pregnant?</h2>
    <p>Got any of the <a href="/Conditions/pregnancy-and-baby/pages/signs-and-symptoms-pregnancy.aspx">signs and symptoms of pregnancy</a>? Read our guide on <a href="/Conditions/pregnancy-and-baby/pages/finding-out-pregnant.aspx">finding out if you're pregnant</a>.</p>
    <p>Find out <a href="/Conditions/pregnancy-and-baby/pages/pregnancy-test.aspx">about pregnancy tests</a>, or your next steps if&nbsp;you've had a <a href="/Conditions/pregnancy-and-baby/pages/antenatal-midwife-care-pregnant.aspx">positive pregnancy test</a>.</p>
    <p>Also, find out more about getting <a href="/Conditions/pregnancy-and-baby/pages/help-infertility.aspx">help if you're not getting pregnant</a>.</p>

    <h2 id="keeping-well-in-pregnancy">Keeping well in pregnancy</h2>
    <ul>
    <li>everything you need to know about a&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/healthy-pregnancy-diet.aspx">healthy pregnancy diet</a> and&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/vitamins-minerals-supplements-pregnant.aspx">supplements in pregnancy</a></li>
    <li>smoking and drinking can harm an unborn baby&nbsp;–&nbsp;read our&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/smoking-pregnant.aspx">stop smoking</a> and&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/alcohol-medicines-drugs-pregnant.aspx">alcohol</a> pages&nbsp;for help trying to quit&nbsp; </li>
    </ul>
    <h3>Antenatal care and the baby's development</h3>

    <ul>
      <li>find out as much as you can about what's happening inside you in the&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/pregnancy-weeks-4-5-6-7-8.aspx">first few weeks of pregnancy</a></li>
      <li>how to cope with all those <a href="/Conditions/pregnancy-and-baby/pages/common-pregnancy-problems.aspx">common pregnancy problems</a>, like morning sickness, tiredness and headaches&nbsp; </li>
      <li>find out all about the&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/ultrasound-anomaly-baby-scans-pregnant.aspx">ultrasound scans</a> and&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/antenatal-care-checks-tests.aspx">checks and tests</a> you'll be offered as part of your antenatal care, including <a href="/Conditions/pregnancy-and-baby/pages/screening-amniocentesis-downs-syndrome.aspx">screening for Down's syndrome</a></li>
    </ul>
    <h3>Vaccinations in pregnancy</h3>
    <p>Why it's recommended that women have the <a href="/Conditions/pregnancy-and-baby/Pages/flu-jab-vaccine-pregnant.aspx">flu vaccine in pregnancy</a> and <a href="/Conditions/pregnancy-and-baby/pages/whooping-cough-vaccination-pregnant.aspx">whooping cough vaccine in pregnancy</a>.</p>
    <h2 id="labour-and-birth">Labour and&nbsp;birth</h2>
    <p>Find out all you need to know about labour and birth, including <a href="/Conditions/pregnancy-and-baby/pages/where-can-i-give-birth.aspx">where you can have your baby</a>&nbsp;– for example, either&nbsp;in a hospital, midwife-led unit, or at home&nbsp;–&nbsp;and what&nbsp;<a href="/Conditions/pregnancy-and-baby/pages/pain-relief-labour.aspx">pain relief</a> is available, such as gas and air (entonox) and epidural.</p>
    <h2 id="your-new-baby">Your new baby</h2>
    <p>When your baby arrives, you can find advice on all the essentials of baby care, including <a href="/Conditions/pregnancy-and-baby/Pages/breastfeeding-positioning-attachment.aspx">breastfeeding</a>, <a href="/Conditions/pregnancy-and-baby/Pages/bottle-feeding-advice.aspx">bottle feeding</a>, <a href="/Conditions/pregnancy-and-baby/Pages/nappies.aspx">changing nappies</a>, and <a href="/Conditions/pregnancy-and-baby/Pages/washing-your-baby.aspx">washing your baby</a>. Plus:</p>
    <ul>
      <li>find out how to cope with a <a href="/Conditions/pregnancy-and-baby/Pages/soothing-crying-baby.aspx">crying baby</a> and get tips on settling them into a good <a href="/Conditions/pregnancy-and-baby/Pages/getting-baby-to-sleep.aspx">sleep</a> routine </li>
      <li>as a&nbsp;new mum, find out&nbsp;about&nbsp;the possible changes to <a href="/Conditions/pregnancy-and-baby/Pages/your-body-after-childbirth.aspx">your body</a> and <a href="/Conditions/pregnancy-and-baby/Pages/relationships-after-a-baby.aspx">your relationships</a>, and know how to spot the symptoms of <a href="/Conditions/pregnancy-and-baby/Pages/feeling-depressed-after-birth.aspx">postnatal depression</a></li>
      <li>if you have twins or multiples, find out about <a href="/Conditions/pregnancy-and-baby/Pages/feeding-multiples.aspx">feeding</a>, <a href="/Conditions/pregnancy-and-baby/Pages/multiples-out-and-about.aspx">getting out and about</a>, and <a href="/Conditions/pregnancy-and-baby/Pages/multiples-and-sleep.aspx">sleep issues</a></li>
    </ul>
    <h3>Feeding, teething and tantrums</h3>
    <ul>
      <li>find out about all aspects of <a href="/Conditions/pregnancy-and-baby/Pages/being-a-parent.aspx">parenting</a>, including <a href="/Conditions/pregnancy-and-baby/Pages/services-support-for-parents.aspx">support and services</a>, keeping fit, and going back to work </li>
      <li>know the <a href="/Conditions/pregnancy-and-baby/Pages/spotting-signs-serious-illness.aspx">signs of serious illness</a> in babies and the symptoms of <a href="/Conditions/pregnancy-and-baby/Pages/infectious-illnesses-children.aspx">infectious illnesses</a> such as chickenpox </li>
      <li>find out how to keep your <a href="/Conditions/pregnancy-and-baby/Pages/baby-safety-tips.aspx">baby safe</a> and <a href="/Conditions/pregnancy-and-baby/Pages/accidents-what-to-do.aspx">what to do if they have an accident</a></li>
      <li>at&nbsp;six months old your baby will need&nbsp;to <a href="/Conditions/pregnancy-and-baby/Pages/solid-foods-weaning.aspx">start&nbsp;solid foods</a>, so be prepared with our weaning tips and first food ideas </li>
      <li>as your baby becomes a toddler, get tips on <a href="/Conditions/pregnancy-and-baby/Pages/teething-and-tooth-care.aspx">teething</a>, the <a href="/Conditions/pregnancy-and-baby/Pages/why-play-is-important.aspx">importance of play</a>, <a href="/Conditions/pregnancy-and-baby/Pages/temper-tantrums.aspx">temper tantrums</a> and <a href="/Conditions/pregnancy-and-baby/Pages/potty-training-tips.aspx">potty training</a></li>
    </ul>

    <h2 id="want-to-share-your-pregnancy-and-baby-experiences">Want to share your pregnancy and baby experiences?</h2>
    <p>Connect with others who can offer practical and emotional support about any pregnancy and baby issues on the <a href="http://healthunlocked.com/nct">HealthUnlocked NCT forum</a>.</p>

    <div class="review-dates">
      <p>
        Page last reviewed: 20/04/2016
        <br>
        Next review due: 20/04/2019
      </p>
    </div>

{% endblock %}
