{% set title = 'Vertigo' %}
{% set parent = 'Health A-Z' %}
{% from "macros/keypoint.html" import keypoint %}
{% from "macros/list.html" import list %}
{% extends "includes/templates/page.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Vertigo</h1>
    <div class="nhsuk-reading-width">
        <p class="nhsuk-body-l nhsuk-page-intro">Vertigo gets better in most cases without treatment. See a GP if it keeps coming back or is affecting your daily life.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
		<li><a href="#symptoms">Symptoms</a></li>
		<li><a href="#things-you-can-try">Things you can try</a></li>
		<li><a href="#when-to-get-medical-help">When to get medical help</a></li>
		<li><a href="#treatment">Treatment</a></li>
		<li><a href="#causes">Causes</a></li>
    </ol>
{% endblock %}

{% block content %}

<h2 id="symptoms">Check if it's vertigo</h2>

<p>Vertigo feels like you or everything around you is spinning – enough to affect your balance. It's more than just feeling <a href="/conditions/dizziness/">dizzy</a>.</p>
<p>A vertigo attack can last from a few seconds to hours. If you have severe vertigo it can last for many days or months.</p>


<h2 id="things-you-can-try">Help with vertigo</h2>

<p>There are things you can do to ease vertigo symptoms when they're happening, and to reduce the number of episodes you have.</p>

	{% set doItems = [
			{
				"item"  : "lie still in a quiet, dark room to reduce the spinning feeling"
			},
			{
				"item"  : "move your head carefully and slowly during daily activities"
			},
			{
				"item"  : "sit down straightaway when you feel dizzy"
			},
			{
				"item"  : "turn on the lights if you get up at night"
			},
			{
				"item"  : "use a walking stick if you're at risk of falling"
			},
			{
				"item"  : "sleep with your head slightly raised on 2 or more pillows"
			},
			{
				"item"  : "get out of bed slowly and sit on the edge of the bed for a while before standing up"
			},
			{
				"item"  : "use a walking stick if you're at risk of falling"
			},
			{
				"item"  : "try to relax – anxiety can make vertigo worse"
			}
		]
	%}

	{{ list("Do", "tick", doItems) }}

	{% set dontItems = [
			{
				"item"  : "bend over to pick things up – squat to lower yourself instead"
			},
			{
				"item"  : "stretch your neck – for example, while reaching up to a high shelf"
			}
		]
	%}

	{{ list("Don't", "cross", dontItems) }}


<div class="care-card red" id="when-to-get-medical-help">
	<div class="care-card-heading">
		<h4 class="nhsuk-heading-m">See a GP if you:</h4>
	</div>
	<div class="care-card-content">
		<ul>
		<li>have vertigo that won't go away or keeps coming back</li>
		</ul>

		<p>Ask for an <strong>urgent appointment</strong> if you:</p>

		<ul>
		<li>also have a severe headache</li>
		<li>are vomiting or feel very sick </li>
		<li>have a very high temperature or you feel hot and shivery</li>
		</ul>
	</div>
</div>


<h3>What happens at your appointment</h3>

<p>Your GP will ask about your symptoms to try and find out what type of vertigo you have.</p>
<p>A simple test that involves you moving quickly from a sitting to a lying position might be done to check your balance. This could bring on symptoms.</p>
<p>You might also be referred to a specialist for further tests.</p>

<div class="care-card black">
	<div class="care-card-heading">
		<h4 class="nhsuk-heading-m">Go to A&amp;E if you have vertigo and:</h4>
	</div>
	<div class="care-card-content">
		<ul>
		<li>double vision or loss of vision</li>
		<li>hearing loss</li>
		<li>trouble speaking</li>
		<li>leg or arm weakness, numbness or tingling </li>
		</ul>

		<p>Always take someone who has lost consciousness to A&amp;E or call 999.</p>
	</div>
</div>


<h2 id="treatment">Treatment for vertigo</h2>

<p>Most cases of vertigo get better without treatment.</p>
<p>Treatment will depend on the cause. Your GP might prescribe antibiotics if it's caused by an infection. </p>
<p>You could also be given special exercises to do to try and correct your balance. </p>
<p>Antihistamines can sometimes help with vertigo symptoms.</p>

{{ keypoint("<p>If you drive you must tell the <a href='https://www.gov.uk/contact-the-dvla' title='External website'>DVLA</a> about your vertigo. Visit the GOV.UK website for more information on <a href='https://www.gov.uk/dizziness-and-driving' title='External website'>driving with vertigo</a></p>") }}

<h2 id="causes">What causes vertigo</h2>

<p>Inner ear problems, which affect balance, are the most common causes: </p>

<ul>
<li><a href="http://www.menieres.org.uk/information-and-support/symptoms-and-conditions/bppv" title="External website">benign paroxysmal positional vertigo (BPPV)</a> – where specific head movements cause vertigo</li>
<li><a href="/conditions/labyrinthitis/">labyrinthitis</a> – an inner ear infection caused by a cold or flu virus</li>
<li><a href="/conditions/vestibular-neuronitis/">vestibular neuronitis</a> – inflammation of the vestibular nerve</li>
<li><a href="/conditions/menieres-disease/">Ménière's disease</a> – a rare inner ear condition, which sometimes involves ringing in the ear (tinnitus) or loss of hearing</li>
</ul>

<p>Other things that can cause vertigo:</p>

<ul>
<li><a href="/conditions/migraine/">migraine</a></li>
<li>some types of medicine – check the leaflet to see if it's listed as a side effect</li>
</ul>

<p>Sometimes the cause is unknown.</p>

<div class="care-card grey care-card__extra-spacing">
	<div class="care-card-heading">
		<h2 class="nhsuk-heading-m">Call 111:</h2>
	</div>
	<div class="care-card-content">
		<p>if you can’t speak to your GP or don’t know what to do next.</p>
	</div>
</div>
{% endblock %}

