{% set title = 'Chickenpox v2' %}
{% set parent = 'Conditions' %}
{% from "macros/keypoint.html" import keypoint %}

{% extends "includes/templates/page-v2.html"%}

{% block breadcrumb %}
    {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}
    <h1>Chickenpox</h1>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-list-nav">
        <li><a href="#when-to-get-medical-help">Symptoms</a></li>
        <li><a href="#treatment-for-symptoms">Things you can try</a></li>
        <li><a href="#treatment-to-prevent-it">When to get medical help</a></li>
        <li><a href="#things-you-can-try">How it's spread</a></li>
        <li><a href="#causes">Infection in pregnancy</a></li>
        <li><a href="#whos-at-risk">Vaccination</a></li>
        <li><a href="#complications">Shingles and chickenpox</a></li>
    </ol>
{% endblock %}

{% block content %}

    <section id="when-to-get-medical-help" class="nhsuk-page-content__section-one" style="clear:content;display:table;display:block;">
            <div class="nhsuk-reading-width">
                    <p class="nhsuk-body-l nhsuk-page-intro nhsuk-page-intro-v3">Chickenpox is common and mostly affects children, although you can get it at any age. It usually gets better by itself within a week without needing to see a GP.</p>
                </div>
		<h2>Check if it's chickenpox</h2>


			<div class="nhsuk-o-grid" style="margin-top:24px;">
			  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
				  <div style="background-color:#fff;border-bottom:2px solid #3B4C58;"><img src="/images/img-chickenpox-1.jpg" width="100%">
					  <div style="padding:1em;"><p style="margin-top:0px;">1. Chickenpox starts with red spots. They can appear anywhere on the body.</p></div>
				  </div>

			  </div>
			  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
				  <div style="background-color:#fff;border-bottom:2px solid #3B4C58;"><img src="/images/img-chickenpox-2.jpg" width="100%">
					  <div style="padding:1em;"><p style="margin-top:0px;">2. The spots fill with fluid. The blisters may burst. They might spread or stay in a small area.</p></div>
              </div>
              </div>
			</div>

			<div class="nhsuk-o-grid" style="margin-top:24px;">
			  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">
				  <div style="background-color:#fff;border-bottom:2px solid #3B4C58;"><img src="/images/img-chickenpox-3.jpg" width="100%" >
					  <div style="padding:1em;"><p style="margin-top:0px;">3. The spots scab over. More blisters might appear while others scab over.</p></div>

                    </div>
                    </div>
			  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half">

			  </div>
			</div>

		<h3>Other symptoms</h3>
		<p>You might get symptoms before or after the spots, including:</p>
		<ul>
			<li>a high temperature above 38C</li>
			<li>aches and pains, and generally feeling unwell</li>
			<li>loss of appetite</li>
		</ul>
		<p>Chickenpox is very itchy and can make children feel miserable, even if they don't have many spots. Chickenpox is usually much worse in adults.</p>
    
    {{ keypoint("<p>It's possible to get chickenpox more than once, although it's unusual.</p>") }}

		<h3>If you're not sure it's chickenpox</h3>
		<p>Check other <a href="">rashes in children.</a></p>
        <div class="clearfix"></div>
    </section>
<section id="things-you-can-try">






<section id="treatment-for-symptoms" style="clear:both;display: table;display: block;">
        <h2>Things you can do yourself</h2>




<div class="nhsuk-c-callout__warning-v7">


    <p>You'll need to stay away from school, nursery or work until all the spots have crusted over. This is usually 5 days after the spots first appeared.</p>

</div>





        <div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab">
            <h3 id="do" class="">Do</h3>
            <ul class="list--check">
                <li>drink plenty of fluid (try ice lollies if your child isn't drinking) to avoid dehydration</li>
                <li>take <a href="https://beta.nhs.uk/medicines/paracetamol-for-adults">paracetamol</a> to help with pain and discomfort</li>
                <li>put socks on your child's hands at night to stop scratching </li>
                <li>cut your child's nails</li>
                <li>use cooling creams or gels from your pharmacy</li>
                <li>speak to your pharmacist about using antihistamine medicine to help itching</li>
                <li>bathe in cool water and pat the skin dry (don't rub)</li>
                <li>dress in loose clothes</li>
                <li>check with your airline if you're going on holiday – many airlines won't allow you to fly with chickenpox</li>
            </ul>
        </div>
        <div class="nhsuk-c-panel nhsuk-c-panel__with-header-tab">
            <h3 id="dont" class="">Don't</h3>
            <ul class="list--cross">
                <li>use <a href="https://beta.nhs.uk/medicines/ibuprofen-for-adults">ibuprofen</a> – it can make someone with chickenpox very ill</li>
                <li>give aspirin to children under 16</li>
                <li>be around pregnant women, newborn babies and people with a weakened immune system, as it can be dangerous for them</li>
                </ul>
        </div>



    </section>





  <div class="clearfix"></div>
</section>


<section id="treatment-to-prevent-it">
<!--care card blue-->
<div class="care-card blue" role="alert">
    <div class="care-card-heading">
        <h3 class="nhsuk-heading-m">Speak to a GP if:</h3>
    </div>
    <div class="care-card-content">
        <ul>
		<li>you're not sure it's chickenpox</li>
		<li>the skin around the blisters is red, hot or painful (signs of infection)</li>
		<li>your child is <a href="/conditions/dehydration/">dehydrated</a></li>
		<li>you're concerned about your child or they get worse</li>
		</ul>

		<p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
    </div>
</div>

<!--care card red-->
<div class="care-card red" role="alert">
    <div class="care-card-heading">
        <h3 class="nhsuk-heading-m">Ask for an urgent GP appointment if:</h3>
    </div>
    <div class="care-card-content">
			<ul>
			<li>you're an adult and have chickenpox</li>
			<li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
			<li>you have a weakened immune system and you've been near someone with chickenpox</li>
			<li>you think your newborn baby has chickenpox </li>
			</ul>

			<p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>
    </div>
</div>
</section>



<section id="things-you-can-try">






<h2>It's easy to catch chickenpox</h2>

<p>You can catch chickenpox by being in the same room as someone with it. It's also spread by touching clothes or bedding that has fluid from the blisters on it. </p>

<h3>How long chickenpox is infectious for</h3>

<p>Chickenpox is infectious from 2 days before the spots appear to until they've crusted over, usually 5 days after they first appeared.</p>

<h3>How soon you get symptoms after coming into contact with chickenpox</h3>

<p>It takes 1 to 3 weeks from the time you were exposed to chickenpox for the spots to start appearing.</p>






  <div class="clearfix"></div>
</section>



<section id="causes">






<h2>Chickenpox in pregnancy</h2>

<p>It's rare to get chickenpox when you're pregnant and the chance of it causing complications is low.  </p>

<p>If you do get chickenpox when you're pregnant, there's a small risk of your baby being very ill when it's born. </p>

<p>Speak to your GP if you haven't had chickenpox and you've been near someone with it.</p>






  <div class="clearfix"></div>
</section>


<section id="whos-at-risk">






<h2>The chickenpox vaccine</h2>

<p>You can get the chickenpox vaccine on the NHS if there's a risk of harming someone with a weakened immune system. </p>

<p>For example, a child could be vaccinated if one of their parents was having chemotherapy. </p>

<p>You can pay for the vaccine at some private clinics or travel clinics. It costs between £120 and £200.</p>






  <div class="clearfix"></div>
</section>


<section id="complications">






<h2>Shingles and chickenpox</h2>

<p>You can't catch shingles from someone with chickenpox. You can catch chickenpox from someone with shingles if you haven't had chickenpox before.</p>

<p>When you get chickenpox, the virus stays in your body. It can be triggered again if your immune system is low and cause shingles. </p>

<p>This can be because of stress, certain conditions, or treatments like chemotherapy.</p>






  <div class="clearfix"></div>
</section>

<div class="content-divider content-divider--short"></div>


<div class="care-card grey care-card__extra-spacing" role="alert">
    <div class="care-card-heading">
        <h2 class="nhsuk-heading-m">Call 111</h2>
    </div>
    <div class="care-card-content">
        <p>If you can’t speak to your GP or don’t know what to do next.</p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="nhsuk-o-width-container">
        <a href="#">Test link</a>
    </div>
</footer>
{% endblock %}

