{% set title = 'Help with prescription costs' %}
{% set parent = 'Help with health costs' %}
{% extends "includes/templates/page-right-nav.html"%}

{% block breadcrumb %}
  {% include 'partials/breadcrumb/breadcrumb.html' %}
{% endblock %}

{% block header %}

	<h1>Help with prescription costs</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">Prescription prepayment certificates (PPC) are available in England and can save you money. </p>
	</div>

{% endblock %}

{% block sidebar %}
<!--<h2 class="nhsuk-heading-s">In this section</h2>-->
    <ul class="nhsuk-list-nav">
		<li><a href="/examples/test-hub-nhs-in-england-child" class="nhsuk-heading-m">Help with health costs</a></li>
		<li><a href="#">NHS Low Income Scheme</a></li>
		<li><a href="#">Universal Credit</a></li>
		<li><a href="/examples/test-general-dental-costs">Help with dental costs</a></li>
		<li><a href="/examples/test-general-eye-care">Eye care entitlements</a></li>
		<li><strong>Help with prescription costs</strong></li>
		<li><a href="#">Help with travel costs</a></li>
		<li><a href="#">Help for wigs and fabric supports</a></li>
    </ul>
{% endblock %}

{% block content %}
    <section class="nhsuk-page-content__section-one">

        <h2>NHS prescription costs</h2>

		<ul>
			<li>current prescription charge – £8.80 per item (£17.60 per pair of elastic hosiery)</li>
			<li>three-month PPC – £29.10; this will save you money if you need more than three prescribed items in three months </li>
			<li>12-month PPC – £104.00; this will save you money if you need more than 12 prescribed items in a year</li>
		</ul>

		<p>PPCs are available by 10 monthly direct debit instalment payments. The certificates allow anyone to obtain all the prescriptions they need for £2 a week. </p>

		<p>Find out more about the prescription prepayment certificate.</p>

		<p>If you need to access the services below, the medicines you're prescribed are free:</p>

		<ul>
			<li>medicines administered at a hospital or an NHS walk-in centre</li>
			<li>prescribed contraceptives</li>
			<li>medicines personally administered by a GP </li>
			<li>medicines supplied at a hospital or clinical commissioning group (CCG) clinic for the treatment of a sexually transmitted infection, tuberculosis, or a mental disorder for those subject to a supervised community treatment order </li>
		</ul>

    </section>

{% endblock %}
