.nhsuk-c-page-nav-left{
    padding: 32px 0 0 0;

    @media screen and (max-width: 989px) {
        display: none;
    }

    .nhsuk-heading-s{
        margin-top: 0;
        padding: 0 0 16px 0;
        font-weight: 400;
        border-bottom: $nhsuk-grey-3 1px solid;
        position: relative;
    }

    ul,ol{
        list-style: none;
        padding-left:0;
    }
}

.nhsuk-c-page-nav-bottom{
    padding: 24px 16px;
    margin-top:40px;
    background: $nhsuk-white;
    border-top: $nhsuk-grey-4 2px solid;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -15px;
    display: none;

    @media screen and (max-width: 989px) {
        display: block;
    }

    .nhsuk-heading-s{
        margin-top: 0;
        font-weight: 400;
    }

    ul{
        padding-left: 0;
    }

    li{
        list-style: none;
    }
}

.nhsuk-c-tab-nav{
    display: none;
    position: relative;
    border-top: $nhsuk-grey-5 1px solid;
    border-bottom: $nhsuk-grey-5 1px solid;

    @media screen and (max-width: 640px) {
        padding: 16px;
        margin:24px -16px 0 -16px;
        overflow-x: auto;
        white-space: nowrap;
        display: block;
        background: $nhsuk-white;
        
        ul{
            width: auto;
            padding: 0;
            margin:0;
            list-style: none;
            display: block;

            li{
                margin:0 16px 0 0;
                display: inline-block;
                font-size: 1.1em;

                a{
                    display: block;
                    padding: 4px;
                }
            }
        }
    }
}