.nhsuk-c-inset-text {
  @include top-and-bottom();
  @include reading-width();

  border-left: 12px solid $nhsuk-blue;
  margin: 40px 0;
  padding: 16px;

  .visually-hidden:first-of-type + * {
    margin-top: 0;
  }
}
