.nhsuk-c-inset-text {
  @include top-and-bottom();
  @include reading-width();

  border-left: 16px solid $nhsuk-blue;
  margin: 40px 0;
  padding: 24px;

  @include mq($until: tablet) {
    margin: 40px 0;
    padding: 16px;
  }

}
