{% extends 'includes/site-layout.html' %}

{% block body %}
    {% block breadcrumb %}{% endblock %}
    <div class="nhsuk-o-width-container">
        <main id="main-content" class="nhsuk-o-main-wrapper">

            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-page-heading">
                          {% block header %}{% endblock %}
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}

        </main>
    </div>
{% endblock %}
