{% extends 'includes/site-layout.html' %}

{% block body %}
    {% block breadcrumb %}{% endblock %}
    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-page-heading">
                          {% block header %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third nhsuk-sticky">
                    <div class="nhsuk-page-nav">
                          {% block sidebar %}{% endblock %}
                    </div>
                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
                    <div class="nhsuk-page-content">
                          {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
