// Import anything from globals required for this component (as little as possible)
// @import "../globals/helpers/typography";
@import '../../src/globals/helpers/clearfix';

$nhsuk-grey-1-rgb: rgb(66, 84, 98);
$alpha: .5;

.nhsuk-global-header {
  @include clear();
  background: $nhsuk-blue;

  &__logo {
    float: left;
    padding: 20px 0;

    a {
      display: block;
      height: 40px;
      width: 99px;

      img {
        height: 40px;
        width: 99px;
      }

      &:hover {
        box-shadow: 0 0 0 4px $nhsuk-blue-shade-35;
      }

    }
  }

  &__menusearch {
    float: right;
    position: relative;
  }

  &__menu {
    @include mq($from: large-desktop) {
      display: none;
    }

    float: left;
    margin: 20px;

    .menu-toggle__button {
      border: 1px solid $nhsuk-white;
      border-radius: 4px;
      color: $nhsuk-white;
      display: block;
      font-size: 18px;
      font-weight: 400;
      line-height: $nhsuk-base-line-height;
      padding: 5px 15px;
      text-decoration: none;

      &:hover {
        background: $nhsuk-blue-shade-35;
        border-color: $nhsuk-grey-5;
        box-shadow: none;
      }

      &:focus {
        background-color: transparent;
        border-color: $nhsuk-focus-colour;
        box-shadow: 0 0 0 3px $nhsuk-focus-colour;
      }

      &:active,
      &.active {
        background: $nhsuk-blue-shade-50;
        border-color: $nhsuk-grey-5;
        box-shadow: none;
        color: $nhsuk-grey-5;
      }

      &.active {
        &:focus {
          box-shadow: 0 0 0 3px $nhsuk-focus-colour;
        }
      }

    }
  }

  @include mq($from: tablet) {
    .search-toggle,
    .search-close {
      display: none;
    }

    &__search {
      float: left;
      margin: 20px 0;

      .c-search__input {
        -webkit-appearance: listbox; // sass-lint:disable-line no-vendor-prefixes
        border: 1px solid $nhsuk-white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        display: block;
        float: left;
        font-size: 16px;
        height: 40px;
        padding: 0 15px 0 12px;
        width: 235px;

        &::placeholder {
          color: $nhsuk-grey-2;
          font-size: 16px;
        }

        &::-webkit-search-decoration { // sass-lint:disable-line no-vendor-prefixes
          -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        }

        &.js-search-open {
          border-bottom-left-radius: 0;
        }

        &:focus {
          border: 1px solid $nhsuk-focus-colour;
          box-shadow: 0 0 0 3px inset $nhsuk-focus-colour;
          outline: none;
        }

      }

      .c-search__submit {
        background-color: $nhsuk-grey-5;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='27px' width='27px'><defs><style>.path{fill:%230058ad;}</style></defs><path class='path' d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        display: block;
        float: left;
        font-size: inherit;
        height: 40px;
        line-height: inherit;
        outline: none;
        text-indent: -9999px;
        width: 44px;

        &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
          border: 0;
        }

        &.js-search-open {
          border-bottom-right-radius: 0;
        }

        &:focus {
          box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        }

        &:hover {
          background-color: $nhsuk-blue-shade-35;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='27px' width='27px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 converts single to double quotes
          cursor: pointer;
        }

        &:active {
          background-color: $nhsuk-blue-shade-50;
        }

      }
    }

  }

  @include mq($until: tablet) {

    .nhsuk-o-width-container--global-header {
      margin: 0;
    }

    .search-container {
      display: none;
      width: 100%;

      &.js-show {
        display: flex;
      }

    }

    .c-search {
      flex-grow: 2;
      padding: 15px 0 15px 15px;
      text-align: left;

      &__container {
        display: flex;
      }

      &__input {
        -webkit-appearance: listbox; // sass-lint:disable-line no-vendor-prefixes
        border-bottom: 1px solid $nhsuk-grey-3;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        border-left: 1px solid $nhsuk-grey-3;
        border-right: 0;
        border-top: 1px solid $nhsuk-grey-3;
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        flex-grow: 2;
        font-size: inherit;
        height: 52px;
        margin: 0;
        outline: none;
        padding: 0 10px;
        width: 100%;

        &::-webkit-search-decoration { // sass-lint:disable-line no-vendor-prefixes
          -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        }

        &:focus {
          box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        }

      }

      &::placeholder {
        color: $nhsuk-grey-2;
        font-size: 16px;
      }

      &__submit {
        background-color: $nhsuk-green;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='38px' width='38px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        float: right;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        outline: none;
        padding: 0 26px;
        text-indent: -9999px;

        &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
          border: 0;
        }

        &:hover {
          background-color: $nhsuk-button-hover-colour;
          cursor: pointer;
        }

        &:focus {
          box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        }

        &:active {
          background-color: $nhsuk-button-active-colour;
        }

      }
    }

    .nhsuk-global-header__logo {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      z-index: 1;
    }

    .nhsuk-global-header__menusearch {
      @include clear();
      float: none;
      text-align: right;

      &.js-show {
        border-bottom: 4px solid $nhsuk-grey-5;
      }

    }

    .nhsuk-global-header__menu {
      @include clear();
      display: inline-block;
      float: none;

      .menu-toggle__button {
        margin-right: 52px;
      }

    }

    .nhsuk-global-header__search {
      @include clear();
      background: $nhsuk-white;
      display: flex;

      .search-toggle__button {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='21px' width='21px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid $nhsuk-white;
        border-radius: 4px;
        color: $nhsuk-white;
        cursor: pointer;
        margin: 20px 0;
        min-height: 40px;
        padding: 5px 19px;
        position: absolute;
        right: 16px;
        text-align: left;
        text-indent: -9999px;
        top: 0;

        &:hover {
          background-color: $nhsuk-blue-shade-35;
          border-color: $nhsuk-grey-5;
          box-shadow: none;
        }

        &:focus {
          background-color: transparent;
          border-color: $nhsuk-focus-colour;
          box-shadow: 0 0 0 3px $nhsuk-focus-colour;
        }

        &:active,
        &.active {
          background-color: $nhsuk-blue-shade-50;
          border-color: $nhsuk-grey-5;
          box-shadow: none;
          color: $nhsuk-grey-5;
        }

        &.active {
          &:focus {
            box-shadow: 0 0 0 3px $nhsuk-focus-colour;
          }
        }

      }

    }

    .search-close__link {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><defs><style>.path{fill:%230058ad;}</style></defs><path class='path' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'></path></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      display: block;
      float: right;
      height: 40px;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 22px;
      text-align: left;
      text-indent: -9999px;
      width: 40px;

      &:hover {
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><defs><style>.path{fill:%23003970;}</style></defs><path class='path' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'></path></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        box-shadow: none;
      }

      &:focus {
        background-color: transparent;
        border-radius: 4px;
      }

    }

  }

}

// jquery ui autocomplete temporary styling
.ui-autocomplete {
  -moz-box-shadow: 0 3px 5px 0 rgba($nhsuk-grey-1-rgb, $alpha); // sass-lint:disable-line no-vendor-prefixes, no-color-literals
  -webkit-box-shadow: 0 3px 5px 0 rgba($nhsuk-grey-1-rgb, $alpha); // sass-lint:disable-line no-vendor-prefixes, no-color-literals
  background: $nhsuk-white;
  border-bottom: 1px solid $nhsuk-grey-4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid $nhsuk-grey-4;
  border-right: 1px solid $nhsuk-grey-4;
  border-top: 2px solid $nhsuk-blue;
  box-shadow: 0 0 3px 0 rgba($nhsuk-grey-1-rgb, $alpha); // sass-lint:disable-line no-color-literals
  height: auto;
  list-style: none;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 15px 18px;
  position: absolute;
  z-index: 1;
}

@include mq($until: tablet) {
  .ui-autocomplete {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    left: auto !important; // sass-lint:disable-line no-important
    margin: 0;
    padding-bottom: 20px;
    position: relative !important; // sass-lint:disable-line no-important
    top: auto !important; // sass-lint:disable-line no-important
    width: 100% !important; // sass-lint:disable-line no-important
  }
}

.ui-prepend {
  border-bottom: 1px solid $nhsuk-grey-4;
  color: $nhsuk-text-colour;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 12px;
  text-align: left;
}

.ui-menu-item {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='1 2 24 24' height='21px' width='21px'><defs><style>.path{fill:%23aeb7bd;}</style></defs><path class='path' d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
  background-position: left 5px;
  background-repeat: no-repeat;
  border-bottom: 1px solid $nhsuk-grey-5;
  color: $nhsuk-blue;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 12px;
  padding-left: 23px;
  text-align: left;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    div {
      background: $nhsuk-warm-yellow;
      box-shadow: 0 0 0 4px $nhsuk-warm-yellow;
      color: $nhsuk-black;
      display: inline;
    }
  }

  b {
    font-weight: 600;
  }

  .ui-state-active {
    background: $nhsuk-warm-yellow;
    box-shadow: 0 0 0 4px $nhsuk-warm-yellow;
    color: $nhsuk-black;
    display: inline;
    text-decoration: none;
  }
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
