// Import anything from globals required for this component (as little as possible)
// @import "../globals/helpers/typography";
@import '../../src/globals/helpers/clearfix';

.nhsuk-global-header {
  @include clear();
  background: $nhsuk-blue;

  &__logo {
    float: left;
    padding: 20px 0;

    a {
      display: block;
      height: 40px;
      width: 99px;

      img {
        height: 40px;
        width: 99px;
      }
    }
  }

  &__menusearch {
    float: right;
  }

  &__menu {
    @include mq($from: large-desktop) {
      display: none;
    }

    float: left;
    margin: 20px;


    .menu-toggle {
      border: 1px solid $nhsuk-white;
      border-radius: 4px;
      color: $nhsuk-white;
      display: block;
      font-size: $base-font-size;
      line-height: $base-line-height;
      padding: 5px 15px;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $nhsuk-secondary-button-hover-colour;
        box-shadow: none;
      }
    }
  }

  @include mq($from: tablet) {
    .search-toggle,
    .search-close {
      display: none;
    }

    &__search {
      background: $nhsuk-white;
      border: 1px solid $nhsuk-blue;
      border-radius: 4px;
      float: left;
      margin: 19px 0;

      .c-search__input {
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        border: 1px solid $nhsuk-white;
        font-size: inherit;
        margin-left: 2px;
        min-height: 38px;
        padding: 0 15px 0 13px;
      }

      .c-search__submit {
        background: url(/images/icon-search-small-blue.svg) center no-repeat;
        border: 0;
        border-left: 2px solid $nhsuk-blue;
        font-size: inherit;
        line-height: inherit;
        min-height: 40px;
        padding: 0 20px;
        text-indent: -9999px;

        &:hover,
        &:focus {
          background: $nhsuk-secondary-button-hover-colour url(/images/icon-search-small-white.svg) center no-repeat;
        }
      }
    }

  }

  @include mq($until: tablet) {

    .search-container {
      display: none;
      width: 100%;

      &.js-show {
        display: flex;
      }
    }

    .c-search {
      flex-grow: 2;
      padding: 15px 0 15px 15px;
      text-align: left;

      &__container {
        border: 1px solid $nhsuk-grey-2;
        border-radius: 4px;
      }

      &__input {
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        border: 0;
        flex-grow: 2;
        font-size: inherit;
        margin: 1px;
        padding: 10px;
        width: 75%;
      }

      &__submit {
        background: $nhsuk-green url(/images/icon-search-large.svg) center no-repeat;
        border: 0;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        cursor: pointer;
        float: right;
        font-size: inherit;
        line-height: inherit;
        min-height: 42px;
        padding: 0 24px;
        text-indent: -9999px;

        &:hover,
        &:focus {
          background: $nhsuk-secondary-button-hover-colour url(/images/icon-search-small-white.svg) center no-repeat;
        }
      }
    }

    .nhsuk-global-header__menu {
      @include clear();
      display: inline-block;
      float: none;

    }

    .nhsuk-global-header__search {
      @include clear();
      background: $nhsuk-white;
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }

    .nhsuk-global-header__menusearch {
      @include clear();
      float: none;
      text-align: right;
    }

    .search-toggle__button {
      background: url(/images/icon-search-small-white.svg) center no-repeat;
      border: 1px solid $nhsuk-white;
      border-radius: 4px;
      color: $nhsuk-white;
      cursor: pointer;
      margin: 20px 0;
      min-height: 40px;
      padding: 5px 22px;
      position: absolute;
      right: 15px;
      text-align: left;
      text-indent: -9999px;
      top: 0;

      &:hover,
      &:focus {
        background-color: $nhsuk-secondary-button-hover-colour;
        box-shadow: none;
      }

    }

    .menu-toggle {
      margin-right: 40px;
    }

    .search-close-link {
      background: url(/images/icon-close.svg) center no-repeat;
      cursor: pointer;
      display: block;
      float: right;
      height: 26px;
      margin-left: 15px;
      margin-right: 23px;
      margin-top: 25px;
      text-align: left;
      text-indent: -9999px;
      width: 26px;
    }

  }

}
