{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-skip-link" -%}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif -%}

<a {%- if params.id %} id="{{ params.id }}"{% endif %} class="{{ classNames }}" href="{{ params.href | default("#maincontent", true) }}"
  {{- nhsukAttributes(params.attributes) }} data-module="nhsuk-skip-link">
  {{ params.text | default("Skip to main content", true) }}
</a>
