{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-skip-link" -%}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif -%}

<a
  {{- nhsukAttributes({
    class: classNames,
    id: {
      value: params.id,
      optional: true
    },
    "data-module": "nhsuk-skip-link",
    href: params.href | default("#maincontent", true)
  }) -}}

  {{- nhsukAttributes(params.attributes) -}}>
{% if params.html %}
  {{ params.html | safe | trim | indent(2) }}
{% else %}
  {{ params.text | default("Skip to main content", true) }}
{% endif %}
</a>
