@import '../settings/colours';
@import '../settings/typography';

* {
  box-sizing: border-box;
}

html,
html * {
  font-family: $nhsuk-font-stack;
}

html {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  background-color: $nhsuk-grey-5;
  color: $nhsuk-text-colour;
  min-height: 100%;
}

body {
  background-color: tint($nhsuk-grey-5,30%);;
  font-size: $nhsuk-base-font-size-mobile;
  line-height: $nhsuk-base-line-height-mobile;
  margin: 0;
  @include mq($from: tablet) {
    font-size: $nhsuk-base-font-size;
    line-height: $nhsuk-base-line-height;
  }
}
