{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'A' %}

{% block azList %}
            <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/abdominal-aortic-aneurysm/">Abdominal aortic aneurysm</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/abdominal-aortic-aneurysm-screening/">Abdominal aortic aneurysm screening</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/abortion/">Abortion</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/abscess/">Abscess</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acanthosis-nigricans/">Acanthosis nigricans</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/achalasia/">Achalasia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acid-and-chemical-burns/">Acid and chemical burns</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acne/">Acne</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acoustic-neuroma/">Acoustic neuroma (vestibular schwannoma)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acromegaly/">Acromegaly</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/actinic-keratoses/">Actinic keratoses (solar keratoses)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/actinomycosis/">Actinomycosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acupuncture/">Acupuncture</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-cholecystitis/">Acute cholecystitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-kidney-injury/">Acute kidney injury</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-lymphoblastic-leukaemia/">Acute lymphoblastic leukaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-myeloid-leukaemia/">Acute myeloid leukaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-pancreatitis/">Acute pancreatitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acute-respiratory-distress-syndrome/">Acute respiratory distress syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/addisons-disease/">Addison's disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/adenoids-and-adenoidectomy/">Adenoids and adenoidectomy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/cataracts/">Age-related cataracts</a>
                
            </li>
        
            <li>
                <a href="/examples/test-minihub-amd-v2">Age-related macular degeneration (AMD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/agoraphobia/">Agoraphobia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/air-embolism/">Air or gas embolism</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/albinism/">Albinism</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alcohol-misuse/">Alcohol misuse</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alcohol-poisoning/">Alcohol poisoning</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alcohol-related-liver-disease-arld/">Alcohol-related liver disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alexander-technique/">Alexander technique</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alkaptonuria/">Alkaptonuria</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/allergic-rhinitis/">Allergic rhinitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/allergies/">Allergies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/altitude-sickness/">Altitude sickness</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/alzheimers-disease/">Alzheimer's disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/amniocentesis/">Amniocentesis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/amputation/">Amputation</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/amyloidosis/">Amyloidosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anabolic-steroid-misuse/">Anabolic steroid misuse</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anaesthesia/">Anaesthesia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anal-cancer/">Anal cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anal-fissure/">Anal fissure</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anal-fistula/">Anal fistula</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anal-pain/">Anal pain (proctalgia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anaphylaxis/">Anaphylaxis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/androgen-insensitivity-syndrome/">Androgen insensitivity syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/angelman-syndrome/">Angelman syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/angina/">Angina</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/angioedema/">Angioedema</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/angiography/">Angiography</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/animal-and-human-bites/">Animal and human bites</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ankylosing-spondylitis/">Ankylosing spondylitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anorexia/">Anorexia nervosa</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antacids/">Antacids</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antibiotics/">Antibiotics</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anticoagulants/">Anticoagulant medicines</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antidepressants/">Antidepressants</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antifungal-medicines/">Antifungal medicines</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antihistamines/">Antihistamines</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antiphospholipid-syndrome/">Antiphospholipid syndrome (APS)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/antisocial-personality-disorder/">Antisocial personality disorder</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/anxiety-disorders-in-children/">Anxiety disorders in children</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/aortic-valve-replacement/">Aortic valve replacement</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/aphasia/">Aphasia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/appendicitis/">Appendicitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/arrhythmia/">Arrhythmia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/arterial-thrombosis/">Arterial thrombosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/arthritis/">Arthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/arthroscopy/">Arthroscopy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/asbestosis/">Asbestosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/aspergillosis/">Aspergillosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/aspirin/">Aspirin</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/asthma/">Asthma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/astigmatism/">Astigmatism</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ataxia/">Ataxia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/atherosclerosis/">Atherosclerosis (arteriosclerosis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/athletes-foot/">Athlete's foot</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/atopic-eczema/">Atopic eczema</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/atrial-fibrillation/">Atrial fibrillation</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/attention-deficit-hyperactivity-disorder-adhd/">Attention deficit hyperactivity disorder (ADHD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/auditory-processing-disorder/">Auditory processing disorder</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/autism/">Autism spectrum disorder (ASD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/autosomal-dominant-polycystic-kidney-disease-adpkd/">Autosomal dominant polycystic kidney disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/autosomal-recessive-polycystic-kidney-disease-arpkd/">Autosomal recessive polycystic kidney disease</a>
                
            </li>
        
    </ul>	
{% endblock %}