{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'G' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gallbladder-cancer/">Gallbladder cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gallbladder-removal/">Gallbladder removal</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gallstones/">Gallstones</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ganglion/">Ganglion cyst</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gangrene/">Gangrene</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gastrectomy/">Gastrectomy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gastritis/">Gastritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gastroparesis/">Gastroparesis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gastroscopy/">Gastroscopy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gender-dysphoria/">Gender dysphoria</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/general-anaesthesia/">General anaesthesia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/generalised-anxiety-disorder/">Generalised anxiety disorder in adults</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/genetics/">Genetics</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/genital-herpes/">Genital herpes</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/genital-warts/">Genital warts</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gestational-diabetes/">Gestational diabetes</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/giardiasis/">Giardiasis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gilberts-syndrome/">Gilbert's syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/glandular-fever/">Glandular fever</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/glaucoma/">Glaucoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/glomerulonephritis/">Glomerulonephritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/glue-ear/">Glue ear</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/glutaric-aciduria/">Glutaric aciduria type 1</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/goitre/">Goitre</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gonorrhoea/">Gonorrhoea</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gout/">Gout</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/granuloma-annulare/">Granuloma annulare</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/granulomatosis-with-polyangiitis/">Granulomatosis with polyangiitis (Wegener's granulomatosis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/group-b-strep/">Group B strep</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/growing-pains/">Growing pains (recurrent limb pain in children)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/guillain-barre-syndrome/">Guillain-Barré syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/gum-disease/">Gum disease</a>
                
            </li>
        
    </ul>
{% endblock %}