{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'J' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/japanese-encephalitis/">Japanese encephalitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/jaundice/">Jaundice</a>
                
            </li>
        
            <li>
                <a href="/conditions/jellyfish-and-other-sea-creature-stings/">Jellyfish and other sea creature stings</a>
                
            </li>
        
            <li>
                <a href="/conditions/jet-lag/">Jet lag</a>
                
            </li>
        
            <li>
                <a href="/conditions/joint-hypermobility-syndrome/">Joint hypermobility syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/joint-pain/">Joint pain</a>
                
            </li>
        
    </ul>
{% endblock %}