{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'L' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/labial-fusion/">Labial fusion</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/labyrinthitis/">Labyrinthitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ldh-test/">Lactate dehydrogenase (LDH) test</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lactose-intolerance/">Lactose intolerance</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lambert-eaton-myasthenic-syndrome/">Lambert-Eaton myasthenic syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/laparoscopy/">Laparoscopy (keyhole surgery)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/laryngeal-cancer/">Laryngeal (larynx) cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/laryngitis/">Laryngitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/laxatives/">Laxatives</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lazy-eye/">Lazy eye (amblyopia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/leaky-gut-syndrome/">Leaky gut syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/learning-disabilities/">Learning disabilities</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/leg-cramps/">Leg cramps</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/legionnaires-disease/">Legionnaires' disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/leptospirosis/">Leptospirosis (Weil's disease)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/leukoplakia/">Leukoplakia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lichen-planus/">Lichen planus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lichen-sclerosus/">Lichen sclerosus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/limp-in-children/">Limping in children</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lipoedema/">Lipoedema</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lipoma/">Lipoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/listeriosis/">Listeriosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/liver-cancer/">Liver cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/liver-disease/">Liver disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/liver-transplant/">Liver transplant</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/local-anaesthesia/">Local anaesthesia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/long-qt-syndrome/">Long QT syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/long-sightedness/">Long-sightedness</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/loss-of-libido/">Loss of libido (reduced sex drive)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lost-or-changed-sense-smell/">Lost or changed sense of smell</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/low-blood-pressure-hypotension/">Low blood pressure (hypotension)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/low-blood-sugar-hypoglycaemia/">Low blood sugar (hypoglycaemia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/low-sperm-count/">Low sperm count</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/low-white-blood-cell-count/">Low white blood cell count</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lumbar-decompression-surgery/">Lumbar decompression surgery</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lumbar-puncture/">Lumbar puncture</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lumps/">Lumps</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lung-cancer/">Lung cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lung-transplant/">Lung transplant</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lupus/">Lupus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lyme-disease/">Lyme disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/lymphoedema/">Lymphoedema</a>
                
            </li>
        
    </ul>
{% endblock %}