{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'T' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/transcutaneous-electrical-nerve-stimulation-tens/">TENS (transcutaneous electrical nerve stimulation)</a>
                
            </li>
        
            <li>
                <a href="/conditions/tapeworms/">Tapeworms</a>
                
            </li>
        
            <li>
                <a href="/conditions/tay-sachs-disease/">Tay-Sachs disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/teeth-grinding/">Teeth grinding (bruxism)</a>
                
            </li>
        
            <li>
                <a href="/conditions/temporal-arteritis/">Temporal arteritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/temporomandibular-disorder-tmd/">Temporomandibular disorder (TMD)</a>
                
            </li>
        
            <li>
                <a href="/conditions/tendonitis/">Tendonitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/tennis-elbow/">Tennis elbow</a>
                
            </li>
        
            <li>
                <a href="/conditions/tension-headaches/">Tension-type headaches</a>
                
            </li>
        
            <li>
                <a href="/conditions/testicle-lumps-and-swellings/">Testicle lumps and swellings</a>
                
            </li>
        
            <li>
                <a href="/conditions/testicular-cancer/">Testicular cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/tetanus/">Tetanus</a>
                
            </li>
        
            <li>
                <a href="/conditions/thalassaemia/">Thalassaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/male-menopause/">The 'male menopause'</a>
                
            </li>
        
            <li>
                <a href="/conditions/threadworms/">Threadworms</a>
                
            </li>
        
            <li>
                <a href="/conditions/thrombophilia/">Thrombophilia</a>
                
            </li>
        
            <li>
                <a href="/conditions/thrush-in-men-and-women/">Thrush in men and women</a>
                
            </li>
        
            <li>
                <a href="/conditions/thyroid-cancer/">Thyroid cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/thyroiditis/">Thyroiditis</a>
                
            </li>
        
            <li>
                <a href="/conditions/tick-borne-encephalitis/">Tick-borne encephalitis (TBE)</a>
                
            </li>
        
            <li>
                <a href="/conditions/tics/">Tics</a>
                
            </li>
        
            <li>
                <a href="/conditions/phimosis/">Tight foreskin (phimosis and paraphimosis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/tinnitus/">Tinnitus</a>
                
            </li>
        
            <li>
                <a href="/conditions/tongue-tie/">Tongue-tie</a>
                
            </li>
        
            <li>
                <a href="/conditions/tonsillitis/">Tonsillitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/tooth-decay/">Tooth decay</a>
                
            </li>
        
            <li>
                <a href="/conditions/toothache/">Toothache</a>
                
            </li>
        
            <li>
                <a href="/conditions/topical-steroids/">Topical corticosteroids</a>
                
            </li>
        
            <li>
                <a href="/conditions/tibc-test/">Total iron-binding capacity (TIBC or transferrin) test</a>
                
            </li>
        
            <li>
                <a href="/conditions/total-protein-test/">Total protein test</a>
                
            </li>
        
            <li>
                <a href="/conditions/tourettes-syndrome/">Tourette's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/toxic-shock-syndrome/">Toxic shock syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/toxocariasis/">Toxocariasis</a>
                
            </li>
        
            <li>
                <a href="/conditions/toxoplasmosis/">Toxoplasmosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/tracheostomy/">Tracheostomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/transient-ischaemic-attack-tia/">Transient ischaemic attack (TIA)</a>
                
            </li>
        
            <li>
                <a href="/conditions/transurethral-resection-of-the-prostate-turp/">Transurethral resection of the prostate (TURP)</a>
                
            </li>
        
            <li>
                <a href="/conditions/travel-vaccinations/">Travel vaccinations</a>
                
            </li>
        
            <li>
                <a href="/conditions/tremor-or-shaking-hands/">Tremor or shaking hands</a>
                
            </li>
        
            <li>
                <a href="/conditions/trichomoniasis/">Trichomoniasis</a>
                
            </li>
        
            <li>
                <a href="/conditions/trichotillomania/">Trichotillomania (hair pulling disorder)</a>
                
            </li>
        
            <li>
                <a href="/conditions/trigeminal-neuralgia/">Trigeminal neuralgia</a>
                
            </li>
        
            <li>
                <a href="/conditions/trigger-finger/">Trigger finger</a>
                
            </li>
        
            <li>
                <a href="/conditions/trimethylaminuria/">Trimethylaminuria ('fish odour syndrome')</a>
                
            </li>
        
            <li>
                <a href="/conditions/tuberculosis-tb/">Tuberculosis (TB)</a>
                
            </li>
        
            <li>
                <a href="/conditions/tuberous-sclerosis/">Tuberous sclerosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/turner-syndrome/">Turner syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/twitching-eyes-and-muscles/">Twitching eyes and muscles</a>
                
            </li>
        
            <li>
                <a href="/conditions/type-1-diabetes/">Type 1 diabetes</a>
                
            </li>
        
            <li>
                <a href="/conditions/type-2-diabetes/">Type 2 diabetes</a>
                
            </li>
        
            <li>
                <a href="/conditions/typhoid-fever/">Typhoid fever</a>
                
            </li>
        
            <li>
                <a href="/conditions/typhus/">Typhus</a>
                
            </li>
        
            <li>
                <a href="/conditions/tremor-or-shaking-hands/">tremor</a>
                
            </li>
        
    </ul>
{% endblock %}