{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'M' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/mcadd/">MCADD</a>
                
            </li>
        
            <li>
                <a href="/conditions/mri-scan/">MRI scan</a>
                
            </li>
        
            <li>
                <a href="/conditions/mrsa/">MRSA</a>
                
            </li>
        
            <li>
                <a href="/conditions/macular-hole/">Macular hole</a>
                
            </li>
        
            <li>
                <a href="/conditions/magnesium-test/">Magnesium test</a>
                
            </li>
        
            <li>
                <a href="/conditions/malaria/">Malaria</a>
                
            </li>
        
            <li>
                <a href="/conditions/malignant-brain-tumour/">Malignant brain tumour (brain cancer)</a>
                
            </li>
        
            <li>
                <a href="/conditions/mallet-finger/">Mallet finger</a>
                
            </li>
        
            <li>
                <a href="/conditions/malnutrition/">Malnutrition</a>
                
            </li>
        
            <li>
                <a href="/conditions/maple-syrup-urine-disease/">Maple syrup urine disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/marfan-syndrome/">Marfan syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/mastectomy/">Mastectomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/mastitis/">Mastitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/mastocytosis/">Mastocytosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/mastoiditis/">Mastoiditis</a>
                
            </li>
        
            <li>
                <a href="/conditions/measles/">Measles</a>
                
            </li>
        
            <li>
                <a href="/conditions/medically-unexplained-symptoms/">Medically unexplained symptoms</a>
                
            </li>
        
            <li>
                <a href="/conditions/medicines-information/">Medicines information</a>
                
            </li>
        
            <li>
                <a href="/conditions/memory-loss-amnesia/">Memory loss (amnesia)</a>
                
            </li>
        
            <li>
                <a href="/conditions/meningitis/">Meningitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/menopause/">Menopause</a>
                
            </li>
        
            <li>
                <a href="/conditions/mesothelioma/">Mesothelioma</a>
                
            </li>
        
            <li>
                <a href="/conditions/metabolic-syndrome/">Metabolic syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/metallic-taste/">Metallic taste</a>
                
            </li>
        
            <li>
                <a href="/conditions/metatarsalgia/">Metatarsalgia</a>
                
            </li>
        
            <li>
                <a href="/conditions/migraine/">Migraine</a>
                
            </li>
        
            <li>
                <a href="/conditions/miscarriage/">Miscarriage</a>
                
            </li>
        
            <li>
                <a href="/conditions/mitral-valve-problems/">Mitral valve problems</a>
                
            </li>
        
            <li>
                <a href="/conditions/mobile-phone-safety/">Mobile phone safety</a>
                
            </li>
        
            <li>
                <a href="/conditions/molar-pregnancy/">Molar pregnancy</a>
                
            </li>
        
            <li>
                <a href="/conditions/moles/">Moles</a>
                
            </li>
        
            <li>
                <a href="/conditions/molluscum-contagiosum/">Molluscum contagiosum</a>
                
            </li>
        
            <li>
                <a href="/conditions/mortons-neuroma/">Morton's neuroma</a>
                
            </li>
        
            <li>
                <a href="/conditions/motion-sickness/">Motion sickness</a>
                
            </li>
        
            <li>
                <a href="/conditions/motor-neurone-disease/">Motor neurone disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/mouth-cancer/">Mouth cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/mouth-ulcers/">Mouth ulcers</a>
                
            </li>
        
            <li>
                <a href="/conditions/mucositis/">Mucositis</a>
                
            </li>
        
            <li>
                <a href="/conditions/multiple-myeloma/">Multiple myeloma</a>
                
            </li>
        
            <li>
                <a href="/conditions/multiple-sclerosis/">Multiple sclerosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/multiple-system-atrophy/">Multiple system atrophy</a>
                
            </li>
        
            <li>
                <a href="/conditions/mumps/">Mumps</a>
                
            </li>
        
            <li>
                <a href="/conditions/munchausens-syndrome/">Munchausen's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/muscular-dystrophy/">Muscular dystrophy</a>
                
            </li>
        
            <li>
                <a href="/conditions/myasthenia-gravis/">Myasthenia gravis</a>
                
            </li>
        
            <li>
                <a href="/conditions/mycobacterium-chimaera/">Mycobacterium chimaera infection</a>
                
            </li>
        
            <li>
                <a href="/conditions/myelodysplasia/">Myelodysplastic syndrome (myelodysplasia)</a>
                
            </li>
        
            <li>
                <a href="/conditions/myositis/">Myositis (polymyositis and dermatomyositis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/menieres-disease/">Ménière's disease</a>
                
            </li>
        
    </ul>
{% endblock %}