{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'O' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/obesity/">Obesity</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/obsessive-compulsive-disorder-ocd/">Obsessive compulsive disorder (OCD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/obstructive-sleep-apnoea/">Obstructive sleep apnoea</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/occupational-therapy/">Occupational therapy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/oedema/">Oedema</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/oesophageal-atresia/">Oesophageal atresia and tracheo-oesophageal fistula</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/oesophageal-cancer/">Oesophageal cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/oral-thrush-mouth-thrush/">Oral thrush (mouth thrush)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/oral-thrush-in-babies/">Oral thrush in babies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/orf/">Orf</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/orthodontics/">Orthodontics</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/osteoarthritis/">Osteoarthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/osteomyelitis/">Osteomyelitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/osteopathy/">Osteopathy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/osteophyte/">Osteophyte (bone spur)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/osteoporosis/">Osteoporosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/otosclerosis/">Otosclerosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ovarian-cancer/">Ovarian cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ovarian-cyst/">Ovarian cyst</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/overactive-thyroid-hyperthyroidism/">Overactive thyroid (hyperthyroidism)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ovulation-pain/">Ovulation pain</a>
                
            </li>
        
    </ul>
{% endblock %}