{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'K' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/kaposis-sarcoma/">Kaposi's sarcoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/kawasaki-disease/">Kawasaki disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/keratosis-pilaris/">Keratosis pilaris (chicken skin)</a>
                
            </li>
        
            <li>
                <a href="/conditions/kidney-cancer/">Kidney cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/kidney-infection/">Kidney infection</a>
                
            </li>
        
            <li>
                <a href="/conditions/kidney-stones/">Kidney stones</a>
                
            </li>
        
            <li>
                <a href="/conditions/kidney-transplant/">Kidney transplant</a>
                
            </li>
        
            <li>
                <a href="/conditions/klinefelters-syndrome/">Klinefelter syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/knee-ligament-surgery/">Knee ligament surgery</a>
                
            </li>
        
            <li>
                <a href="/conditions/knee-pain/">Knee pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/knee-replacement/">Knee replacement</a>
                
            </li>
        
            <li>
                <a href="/conditions/knock-knees/">Knock knees</a>
                
            </li>
        
            <li>
                <a href="/conditions/knocked-out-tooth/">Knocked-out tooth</a>
                
            </li>
        
            <li>
                <a href="/conditions/kwashiorkor/">Kwashiorkor</a>
                
            </li>
        
            <li>
                <a href="/conditions/kyphosis/">Kyphosis</a>
                
            </li>
        
    </ul>
{% endblock %}