{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'N' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nhs-screening/">NHS screening</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nsaids/">NSAIDs</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nail-patella-syndrome/">Nail patella syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nail-problems/">Nail problems</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/narcolepsy/">Narcolepsy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nasal-and-sinus-cancer/">Nasal and sinus cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nasal-polyps/">Nasal polyps</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nasopharyngeal-cancer/">Nasopharyngeal cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neck-pain-and-stiff-neck/">Neck pain</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/necrotising-fasciitis/">Necrotising fasciitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neonatal-herpes/">Neonatal herpes (herpes in a baby)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nephrotic-syndrome/">Nephrotic syndrome in children</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neuroblastoma/">Neuroblastoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neuroendocrine-tumours/">Neuroendocrine tumours</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neurofibromatosis-type-1/">Neurofibromatosis type 1</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neurofibromatosis-type-2/">Neurofibromatosis type 2</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neuromyelitis-optica/">Neuromyelitis optica</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/jaundice-newborn/">Newborn jaundice</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/neonatal-respiratory-distress-syndrome/">Newborn respiratory distress syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/night-sweats/">Night sweats</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/night-terrors/">Night terrors and nightmares</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nipple-discharge/">Nipple discharge</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/non-hodgkin-lymphoma/">Non-Hodgkin lymphoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/non-alcoholic-fatty-liver-disease/">Non-alcoholic fatty liver disease (NAFLD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/non-allergic-rhinitis/">Non-allergic rhinitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/non-gonococcal-urethritis/">Non-gonococcal urethritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/noonan-syndrome/">Noonan syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/norovirus/">Norovirus (vomiting bug)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/nosebleed/">Nosebleed</a>
                
            </li>
        
    </ul>
{% endblock %}