{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'H' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/hiv-and-aids/">HIV and AIDS</a>
                
            </li>
        
            <li>
                <a href="/conditions/haemochromatosis/">Haemochromatosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/haemophilia/">Haemophilia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hib/">Haemophilus influenzae type b (Hib)</a>
                
            </li>
        
            <li>
                <a href="/conditions/piles-haemorrhoids/">Haemorrhoids (piles)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hair-dye-reactions/">Hair dye reactions</a>
                
            </li>
        
            <li>
                <a href="/conditions/hair-loss/">Hair loss</a>
                
            </li>
        
            <li>
                <a href="/conditions/hairy-cell-leukaemia/">Hairy cell leukaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hallucinations/">Hallucinations and hearing voices</a>
                
            </li>
        
            <li>
                <a href="/conditions/hamstring-injury/">Hamstring injury</a>
                
            </li>
        
            <li>
                <a href="/conditions/hand-pain/">Hand pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/hand-tendon-repair/">Hand tendon repair</a>
                
            </li>
        
            <li>
                <a href="/conditions/hand-foot-mouth-disease/">Hand, foot and mouth disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/having-surgery/">Having an operation (surgery)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hay-fever/">Hay fever</a>
                
            </li>
        
            <li>
                <a href="/conditions/head-and-neck-cancer/">Head and neck cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/minor-head-injury/">Head injury and concussion</a>
                
            </li>
        
            <li>
                <a href="/conditions/head-lice-and-nits/">Head lice and nits</a>
                
            </li>
        
            <li>
                <a href="/conditions/headaches/">Headaches</a>
                
            </li>
        
            <li>
                <a href="/conditions/headaches-in-children/">Headaches in children</a>
                
            </li>
        
            <li>
                <a href="/conditions/health-anxiety/">Health anxiety</a>
                
            </li>
        
            <li>
                <a href="/conditions/hearing-loss/">Hearing loss</a>
                
            </li>
        
            <li>
                <a href="/conditions/hearing-tests/">Hearing tests</a>
                
            </li>
        
            <li>
                <a href="/conditions/hearing-tests-children/">Hearing tests for children</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-attack/">Heart attack</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-block/">Heart block</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-failure/">Heart failure</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-palpitations/">Heart palpitations and ectopic beats</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-transplant/">Heart transplant</a>
                
            </li>
        
            <li>
                <a href="/conditions/heart-lung-transplant/">Heart-lung transplant</a>
                
            </li>
        
            <li>
                <a href="/conditions/heartburn-and-acid-reflux/">Heartburn and acid reflux</a>
                
            </li>
        
            <li>
                <a href="/conditions/heat-exhaustion-heatstroke/">Heat exhaustion and heatstroke</a>
                
            </li>
        
            <li>
                <a href="/conditions/heat-rash-prickly-heat/">Heat rash (prickly heat)</a>
                
            </li>
        
            <li>
                <a href="/conditions/heavy-periods/">Heavy periods</a>
                
            </li>
        
            <li>
                <a href="/conditions/heel-pain/">Heel pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/suicide/">Help for suicidal thoughts</a>
                
            </li>
        
            <li>
                <a href="/conditions/henoch-schonlein-purpura-hsp/">Henoch-Schönlein purpura (HSP)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hepatitis/">Hepatitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/hepatitis-a/">Hepatitis A</a>
                
            </li>
        
            <li>
                <a href="/conditions/hepatitis-b/">Hepatitis B</a>
                
            </li>
        
            <li>
                <a href="/conditions/hepatitis-c/">Hepatitis C</a>
                
            </li>
        
            <li>
                <a href="/conditions/herbal-medicines/">Herbal medicines</a>
                
            </li>
        
            <li>
                <a href="/conditions/herceptin/">Herceptin (trastuzumab)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hereditary-haemorrahagic-telangiectasia/">Hereditary haemorrhagic telangiectasia (HHT)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hereditary-neuropathy/">Hereditary neuropathy with pressure palsies (HNPP)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hereditary-spastic-paraplegia/">Hereditary spastic paraplegia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hernia/">Hernia</a>
                
            </li>
        
            <li>
                <a href="/conditions/herpes-simplex-eye-infections/">Herpes simplex eye infections</a>
                
            </li>
        
            <li>
                <a href="/conditions/herpetic-whitlow/">Herpetic whitlow (whitlow finger)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hiatus-hernia/">Hiatus hernia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hiccups/">Hiccups</a>
                
            </li>
        
            <li>
                <a href="/conditions/hidradenitis-suppurativa/">Hidradenitis suppurativa (HS)</a>
                
            </li>
        
            <li>
                <a href="/conditions/high-blood-pressure-hypertension/">High blood pressure (hypertension)</a>
                
            </li>
        
            <li>
                <a href="/conditions/high-cholesterol/">High cholesterol</a>
                
            </li>
        
            <li>
                <a href="/conditions/hip-fracture/">Hip fracture</a>
                
            </li>
        
            <li>
                <a href="/conditions/hip-pain/">Hip pain in adults</a>
                
            </li>
        
            <li>
                <a href="/conditions/hip-pain-children-irritable-hip/">Hip pain in children (irritable hip)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hip-replacement/">Hip replacement</a>
                
            </li>
        
            <li>
                <a href="/conditions/hirschsprungs-disease/">Hirschsprung's disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/hirsutism/">Hirsutism</a>
                
            </li>
        
            <li>
                <a href="/conditions/hives/">Hives</a>
                
            </li>
        
            <li>
                <a href="/conditions/hoarding-disorder/">Hoarding disorder</a>
                
            </li>
        
            <li>
                <a href="/conditions/hodgkin-lymphoma/">Hodgkin lymphoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/home-oxygen-treatment/">Home oxygen therapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/homeopathy/">Homeopathy</a>
                
            </li>
        
            <li>
                <a href="/conditions/homocystinuria/">Homocystinuria</a>
                
            </li>
        
            <li>
                <a href="/conditions/hookworm/">Hookworm infection</a>
                
            </li>
        
            <li>
                <a href="/conditions/hormone-headaches/">Hormone headaches</a>
                
            </li>
        
            <li>
                <a href="/conditions/hormone-replacement-therapy-hrt/">Hormone replacement therapy (HRT)</a>
                
            </li>
        
            <li>
                <a href="/conditions/huntingtons-disease/">Huntington's disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/hydrocephalus/">Hydrocephalus</a>
                
            </li>
        
            <li>
                <a href="/conditions/hydronephrosis/">Hydronephrosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/hyperacusis/">Hyperacusis</a>
                
            </li>
        
            <li>
                <a href="/conditions/high-blood-sugar-hyperglycaemia/">Hyperglycaemia (high blood sugar)</a>
                
            </li>
        
            <li>
                <a href="/conditions/hyperparathyroidism/">Hyperparathyroidism</a>
                
            </li>
        
            <li>
                <a href="/conditions/hypnotherapy/">Hypnotherapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/hypoparathyroidism/">Hypoparathyroidism</a>
                
            </li>
        
            <li>
                <a href="/conditions/hypothermia/">Hypothermia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hypotonia/">Hypotonia</a>
                
            </li>
        
            <li>
                <a href="/conditions/hysterectomy/">Hysterectomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/hysteroscopy/">Hysteroscopy</a>
                
            </li>
        
    </ul>
{% endblock %}