{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'V' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vaginal-cancer/">Vaginal cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vaginal-discharge/">Vaginal discharge</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vaginal-dryness/">Vaginal dryness</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vaginismus/">Vaginismus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vaginitis/">Vaginitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/varicose-eczema/">Varicose eczema</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/varicose-veins/">Varicose veins</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vascular-dementia/">Vascular dementia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vasculitis/">Vasculitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/leg-ulcer/">Venous leg ulcer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vertigo/">Vertigo</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vestibular-neuronitis/">Vestibular neuronitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vitamin-b12-or-folate-deficiency-anaemia/">Vitamin B12 or folate deficiency anaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vitamins-and-minerals/">Vitamins and minerals</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vitiligo/">Vitiligo</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vomiting-blood/">Vomiting blood (haematemesis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/von-willebrand-disease/">Von Willebrand disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vulval-cancer/">Vulval cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/vulvodynia/">Vulvodynia (vulval pain)</a>
                
            </li>
        
    </ul>
{% endblock %}