{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'V' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/vaginal-cancer/">Vaginal cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/vaginal-discharge/">Vaginal discharge</a>
                
            </li>
        
            <li>
                <a href="/conditions/vaginal-dryness/">Vaginal dryness</a>
                
            </li>
        
            <li>
                <a href="/conditions/vaginismus/">Vaginismus</a>
                
            </li>
        
            <li>
                <a href="/conditions/vaginitis/">Vaginitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/varicose-eczema/">Varicose eczema</a>
                
            </li>
        
            <li>
                <a href="/conditions/varicose-veins/">Varicose veins</a>
                
            </li>
        
            <li>
                <a href="/conditions/vascular-dementia/">Vascular dementia</a>
                
            </li>
        
            <li>
                <a href="/conditions/vasculitis/">Vasculitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/leg-ulcer/">Venous leg ulcer</a>
                
            </li>
        
            <li>
                <a href="/conditions/vertigo/">Vertigo</a>
                
            </li>
        
            <li>
                <a href="/conditions/vestibular-neuronitis/">Vestibular neuronitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/vitamin-b12-or-folate-deficiency-anaemia/">Vitamin B12 or folate deficiency anaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/vitamins-and-minerals/">Vitamins and minerals</a>
                
            </li>
        
            <li>
                <a href="/conditions/vitiligo/">Vitiligo</a>
                
            </li>
        
            <li>
                <a href="/conditions/vomiting-blood/">Vomiting blood (haematemesis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/von-willebrand-disease/">Von Willebrand disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/vulval-cancer/">Vulval cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/vulvodynia/">Vulvodynia (vulval pain)</a>
                
            </li>
        
    </ul>
{% endblock %}