{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'W' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/warfarin/">Warfarin</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/warts-and-verrucas/">Warts and verrucas</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/watering-eyes/">Watering eyes</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/weight-loss-surgery/">Weight loss surgery</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/west-nile-virus/">West Nile virus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/what-to-do-if-someone-has-a-seizure-fit/">What to do if someone has a seizure (fit)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/whiplash/">Whiplash</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/whooping-cough/">Whooping cough</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/wisdom-tooth-removal/">Wisdom tooth removal</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/wolff-parkinson-white-syndrome/">Wolff-Parkinson-White syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/womb-cancer/">Womb (uterus) cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/worms-in-humans/">Worms in humans</a>
                
            </li>
        
    </ul>
{% endblock %}