{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'R' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/rabies/">Rabies</a>
                
            </li>
        
            <li>
                <a href="/conditions/radiotherapy/">Radiotherapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/rashes-babies-and-children/">Rashes in babies and children</a>
                
            </li>
        
            <li>
                <a href="/conditions/raynauds/">Raynaud's</a>
                
            </li>
        
            <li>
                <a href="/conditions/reactive-arthritis/">Reactive arthritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/rectal-examination/">Rectal examination</a>
                
            </li>
        
            <li>
                <a href="/conditions/red-blood-count/">Red blood cell count</a>
                
            </li>
        
            <li>
                <a href="/conditions/red-eye/">Red eye</a>
                
            </li>
        
            <li>
                <a href="/conditions/reflux-in-babies/">Reflux in babies</a>
                
            </li>
        
            <li>
                <a href="/conditions/repetitive-strain-injury-rsi/">Repetitive strain injury (RSI)</a>
                
            </li>
        
            <li>
                <a href="/conditions/respiratory-tract-infection/">Respiratory tract infections (RTIs)</a>
                
            </li>
        
            <li>
                <a href="/conditions/restless-legs-syndrome/">Restless legs syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/restricted-growth/">Restricted growth (dwarfism)</a>
                
            </li>
        
            <li>
                <a href="/conditions/retinal-migraine/">Retinal migraine</a>
                
            </li>
        
            <li>
                <a href="/conditions/retinoblastoma/">Retinoblastoma (eye cancer in children)</a>
                
            </li>
        
            <li>
                <a href="/conditions/rett-syndrome/">Rett syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/reyes-syndrome/">Reye's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/rhesus-disease/">Rhesus disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/rheumatic-fever/">Rheumatic fever</a>
                
            </li>
        
            <li>
                <a href="/conditions/rheumatoid-arthritis/">Rheumatoid arthritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/rickets-and-osteomalacia/">Rickets and osteomalacia</a>
                
            </li>
        
            <li>
                <a href="/conditions/ringworm/">Ringworm</a>
                
            </li>
        
            <li>
                <a href="/conditions/root-canal-treatment/">Root canal treatment</a>
                
            </li>
        
            <li>
                <a href="/conditions/rosacea/">Rosacea</a>
                
            </li>
        
            <li>
                <a href="/conditions/roseola/">Roseola</a>
                
            </li>
        
            <li>
                <a href="/conditions/roundworm/">Roundworm</a>
                
            </li>
        
            <li>
                <a href="/conditions/rubella/">Rubella</a>
                
            </li>
        
    </ul>
{% endblock %}