{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'S' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sars/">SARS (severe acute respiratory syndrome)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/salivary-gland-stones/">Salivary gland stones</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sarcoidosis/">Sarcoidosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scabies/">Scabies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scarlet-fever/">Scarlet fever</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scars/">Scars</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/schistosomiasis/">Schistosomiasis (bilharzia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/schizophrenia/">Schizophrenia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sciatica/">Sciatica</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scleroderma/">Scleroderma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scoliosis/">Scoliosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/scurvy/">Scurvy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/seasonal-affective-disorder-sad/">Seasonal affective disorder (SAD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/selective-mutism/">Selective mutism</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ssri-antidepressants/">Selective serotonin reuptake inhibitors (SSRIs)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/self-harm/">Self-harm</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sepsis/">Sepsis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/septic-arthritis/">Septic arthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/septic-shock/">Septic shock</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/severe-head-injury/">Severe head injury</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sexually-transmitted-infections-stis/">Sexually transmitted infections (STIs)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/shin-splints/">Shin splints</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/shingles/">Shingles</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/short-sightedness/">Short-sightedness (myopia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/shortness-of-breath/">Shortness of breath</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/shoulder-impingement-syndrome/">Shoulder impingement</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/shoulder-pain/">Shoulder pain</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sick-building-syndrome/">Sick building syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sickle-cell-disease/">Sickle cell disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/silicosis/">Silicosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sinusitis-sinus-infection/">Sinusitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sinusitis-sinus-infection/">Sinusitis (sinus infection)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sjogrens-syndrome/">Sjögren's syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/melanoma-skin-cancer/">Skin cancer (melanoma)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/non-melanoma-skin-cancer/">Skin cancer (non-melanoma)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/skin-cyst/">Skin cyst</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/skin-picking-disorder/">Skin picking disorder</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rashes-in-babies/">Skin rashes in babies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/skin-tags/">Skin tags</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/slapped-cheek-syndrome/">Slapped cheek syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sleep-paralysis/">Sleep paralysis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sleepwalking/">Sleepwalking</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/slipped-disc/">Slipped disc</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/small-bowel-transplant/">Small bowel transplant</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phantosmia/">Smelling things that aren't there (phantosmia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/smelly-urine/">Smelly urine</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/snake-bites/">Snake bites</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/snoring/">Snoring</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/social-anxiety/">Social anxiety (social phobia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/soft-tissue-sarcoma/">Soft tissue sarcomas</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/soiling-child-pooing-their-pants/">Soiling (child pooing their pants)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sore-or-dry-lips/">Sore or dry lips</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sore-or-white-tongue/">Sore or white tongue</a>
                
            </li>
        
            <li>
                <a href="/examples/test-condition-sore-throat-v1">Sore throat</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/spina-bifida/">Spina bifida</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/spinal-muscular-atrophy-sma/">Spinal muscular atrophy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/spirometry/">Spirometry</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/spleen-problems-and-spleen-removal/">Spleen problems and spleen removal</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/spondylolisthesis/">Spondylolisthesis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sports-injuries/">Sports injuries</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sprains-and-strains/">Sprains and strains</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/squint/">Squint</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stammering/">Stammering</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/staphylococcal-infections/">Staph infection</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/statins/">Statins</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stem-cell-transplant/">Stem cell and bone marrow transplants</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/steroid-inhalers/">Steroid inhalers</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/steroid-injections/">Steroid injections</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/steroid-nasal-sprays/">Steroid nasal sprays</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/steroid-tablets/">Steroid tablets</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/steroids/">Steroids</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stevens-johnson-syndrome/">Stevens-Johnson syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stillbirth/">Stillbirth</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stomach-ache/">Stomach ache</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stomach-cancer/">Stomach cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stomach-ulcer/">Stomach ulcer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stop-smoking-treatments/">Stop smoking treatments</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stopped-or-missed-periods/">Stopped or missed periods</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stretch-marks/">Stretch marks</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stroke/">Stroke</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/stye/">Stye</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/subarachnoid-haemorrhage/">Subarachnoid haemorrhage</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/subdural-haematoma/">Subdural haematoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/confusion/">Sudden confusion (delirium)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sudden-infant-death-syndrome-sids/">Sudden infant death syndrome (SIDS)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/sunburn/">Sunburn</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/supraventricular-tachycardia-svt/">Supraventricular tachycardia (SVT)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/swine-flu/">Swine flu (H1N1)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/swollen-glands/">Swollen glands</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/syphilis/">Syphilis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/tremor-or-shaking-hands/">shaking</a>
                
            </li>
        
    </ul>
{% endblock %}