{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'P' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pet-scan/">PET scan</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pip-implants/">PIP breast implants</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pre-menstrual-syndrome/">PMS (premenstrual syndrome)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pacemaker-implantation/">Pacemaker implantation</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pagets-disease-bone/">Paget's disease of bone</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pagets-disease-nipple/">Paget's disease of the nipple</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pancreas-transplant/">Pancreas transplant</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pancreatic-cancer/">Pancreatic cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/panic-disorder/">Panic disorder</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/paracetamol/">Paracetamol</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/paralysis/">Paralysis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/parkinsons-disease/">Parkinson's disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pataus-syndrome/">Patau's syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/peak-flow-test/">Peak flow test</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pelvic-inflammatory-disease-pid/">Pelvic inflammatory disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pelvic-organ-prolapse/">Pelvic organ prolapse</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pelvic-pain/">Pelvic pain</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pemphigus-vulgaris/">Pemphigus vulgaris</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/penile-cancer/">Penile cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/perforated-eardrum/">Perforated eardrum</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pericarditis/">Pericarditis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/period-pain/">Period pain</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/periods/">Periods</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/peripheral-arterial-disease-pad/">Peripheral arterial disease (PAD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/peripheral-neuropathy/">Peripheral neuropathy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/peritonitis/">Peritonitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/persistent-trophoblastic-disease-choriocarcinoma/">Persistent trophoblastic disease and choriocarcinoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/personality-disorder/">Personality disorder</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phaeochromocytoma/">Phaeochromocytoma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phenylketonuria/">Phenylketonuria</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phlebitis/">Phlebitis (superficial thrombophlebitis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phobias/">Phobias</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/phosphate-test/">Phosphate test</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/photodynamic-therapy/">Photodynamic therapy (PDT)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/physiotherapy/">Physiotherapy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pilonidal-sinus/">Pilonidal sinus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pins-and-needles/">Pins and needles</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pityriasis-rosea/">Pityriasis rosea</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pityriasis-versicolor/">Pityriasis versicolor</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/plagiocephaly-brachycephaly/">Plagiocephaly and brachycephaly (flat head syndrome)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/plastic-surgery/">Plastic surgery</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pleurisy/">Pleurisy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pneumococcal-infections/">Pneumococcal infections</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pneumonia/">Pneumonia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/poisoning/">Poisoning</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polio/">Polio</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polycystic-ovary-syndrome-pcos/">Polycystic ovary syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polycythaemia/">Polycythaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polyhydramnios/">Polyhydramnios (too much amniotic fluid)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polymorphic-light-eruption/">Polymorphic light eruption</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/polymyalgia-rheumatica/">Polymyalgia rheumatica</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pompholyx/">Pompholyx (dyshidrotic eczema)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-herpetic-neuralgia/">Post-herpetic neuralgia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-mortem/">Post-mortem</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-polio-syndrome/">Post-polio syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-traumatic-stress-disorder-ptsd/">Post-traumatic stress disorder (PTSD)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-menopausal-bleeding/">Postmenopausal bleeding</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-natal-depression/">Postnatal depression</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/post-partum-psychosis/">Postpartum psychosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/postural-tachycardia-syndrome/">Postural tachycardia syndrome (PoTS)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/potassium-test/">Potassium test</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/prader-willi-syndrome/">Prader-Willi syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pre-eclampsia/">Pre-eclampsia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/predictive-genetic-tests-cancer/">Predictive genetic tests for cancer risk genes</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pressure-sores/">Pressure ulcers (pressure sores)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/priapism-painful-erections/">Priapism (painful erections)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/primary-biliary-cirrhosis-pbc/">Primary biliary cholangitis (primary biliary cirrhosis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/probiotics/">Probiotics</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/problems-swallowing-pills/">Problems swallowing pills</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/progressive-supranuclear-palsy-psp/">Progressive supranuclear palsy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/face-blindness/">Prosopagnosia (face blindness)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/prostate-cancer/">Prostate cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/prostate-problems/">Prostate problems</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/prostatitis/">Prostatitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/psoriasis/">Psoriasis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/psoriatic-arthritis/">Psoriatic arthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/psychiatry/">Psychiatry</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/psychosis/">Psychosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/psychotherapy/">Psychotherapy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pubic-lice/">Pubic lice</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pudendal-neuralgia/">Pudendal neuralgia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pulmonary-embolism/">Pulmonary embolism</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pulmonary-hypertension/">Pulmonary hypertension</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/pyoderma-gangrenosum/">Pyoderma gangrenosum</a>
                
            </li>
        
    </ul>
{% endblock %}