{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'I' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ivf/">IVF</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ibuprofen/">Ibuprofen</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ichthyosis/">Ichthyosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/idiopathic-pulmonary-fibrosis/">Idiopathic pulmonary fibrosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ileostomy/">Ileostomy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/impetigo/">Impetigo</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/indigestion/">Indigestion</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/infertility/">Infertility</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/inflammatory-bowel-disease/">Inflammatory bowel disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ingrown-hairs/">Ingrown hairs</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ingrown-toenail/">Ingrown toenail</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/inguinal-hernia-repair/">Inguinal hernia repair</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/insect-bites-and-stings/">Insect bites and stings</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/insomnia/">Insomnia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/intensive-care/">Intensive care</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/interstitial-cystitis/">Interstitial cystitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/intracranial-hypertension/">Intracranial hypertension</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/artificial-insemination/">Intrauterine insemination (IUI)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/iron-deficiency-anaemia/">Iron deficiency anaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/irregular-periods/">Irregular periods</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/irritable-bowel-syndrome-ibs/">Irritable bowel syndrome (IBS)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/isovaleric-acidaemia/">Isovaleric acidaemia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/itchy-anus/">Itchy anus</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/itchy-skin/">Itchy skin</a>
                
            </li>
        
    </ul>
{% endblock %}