{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'G' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/gallbladder-cancer/">Gallbladder cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/gallbladder-removal/">Gallbladder removal</a>
                
            </li>
        
            <li>
                <a href="/conditions/gallstones/">Gallstones</a>
                
            </li>
        
            <li>
                <a href="/conditions/ganglion/">Ganglion cyst</a>
                
            </li>
        
            <li>
                <a href="/conditions/gangrene/">Gangrene</a>
                
            </li>
        
            <li>
                <a href="/conditions/gastrectomy/">Gastrectomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/gastritis/">Gastritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/gastroparesis/">Gastroparesis</a>
                
            </li>
        
            <li>
                <a href="/conditions/gastroscopy/">Gastroscopy</a>
                
            </li>
        
            <li>
                <a href="/conditions/gender-dysphoria/">Gender dysphoria</a>
                
            </li>
        
            <li>
                <a href="/conditions/general-anaesthesia/">General anaesthesia</a>
                
            </li>
        
            <li>
                <a href="/conditions/generalised-anxiety-disorder/">Generalised anxiety disorder in adults</a>
                
            </li>
        
            <li>
                <a href="/conditions/genetics/">Genetics</a>
                
            </li>
        
            <li>
                <a href="/conditions/genital-herpes/">Genital herpes</a>
                
            </li>
        
            <li>
                <a href="/conditions/genital-warts/">Genital warts</a>
                
            </li>
        
            <li>
                <a href="/conditions/gestational-diabetes/">Gestational diabetes</a>
                
            </li>
        
            <li>
                <a href="/conditions/giardiasis/">Giardiasis</a>
                
            </li>
        
            <li>
                <a href="/conditions/gilberts-syndrome/">Gilbert's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/glandular-fever/">Glandular fever</a>
                
            </li>
        
            <li>
                <a href="/conditions/glaucoma/">Glaucoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/glomerulonephritis/">Glomerulonephritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/glue-ear/">Glue ear</a>
                
            </li>
        
            <li>
                <a href="/conditions/glutaric-aciduria/">Glutaric aciduria type 1</a>
                
            </li>
        
            <li>
                <a href="/conditions/goitre/">Goitre</a>
                
            </li>
        
            <li>
                <a href="/conditions/gonorrhoea/">Gonorrhoea</a>
                
            </li>
        
            <li>
                <a href="/conditions/gout/">Gout</a>
                
            </li>
        
            <li>
                <a href="/conditions/granuloma-annulare/">Granuloma annulare</a>
                
            </li>
        
            <li>
                <a href="/conditions/granulomatosis-with-polyangiitis/">Granulomatosis with polyangiitis (Wegener's granulomatosis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/group-b-strep/">Group B strep</a>
                
            </li>
        
            <li>
                <a href="/conditions/growing-pains/">Growing pains (recurrent limb pain in children)</a>
                
            </li>
        
            <li>
                <a href="/conditions/guillain-barre-syndrome/">Guillain-Barré syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/gum-disease/">Gum disease</a>
                
            </li>
        
    </ul>
{% endblock %}