{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'D' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/dexa-scan/">DEXA (DXA) scan</a>
                
            </li>
        
            <li>
                <a href="/conditions/dandruff/">Dandruff</a>
                
            </li>
        
            <li>
                <a href="/conditions/deafblindness/">Deafblindness</a>
                
            </li>
        
            <li>
                <a href="/conditions/decongestants/">Decongestants</a>
                
            </li>
        
            <li>
                <a href="/conditions/deep-vein-thrombosis-dvt/">Deep vein thrombosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/dehydration/">Dehydration</a>
                
            </li>
        
            <li>
                <a href="/conditions/dementia-with-lewy-bodies/">Dementia with Lewy bodies</a>
                
            </li>
        
            <li>
                <a href="/conditions/dengue/">Dengue</a>
                
            </li>
        
            <li>
                <a href="/conditions/dental-abscess/">Dental abscess</a>
                
            </li>
        
            <li>
                <a href="/conditions/dentures/">Dentures (false teeth)</a>
                
            </li>
        
            <li>
                <a href="/conditions/detached-retina-retinal-detachment/">Detached retina (retinal detachment)</a>
                
            </li>
        
            <li>
                <a href="/conditions/developmental-coordination-disorder-dyspraxia/">Developmental co-ordination disorder (dyspraxia) in children</a>
                
            </li>
        
            <li>
                <a href="/conditions/developmental-dysplasia-of-the-hip/">Developmental dysplasia of the hip</a>
                
            </li>
        
            <li>
                <a href="/conditions/digeorge-syndrome/">DiGeorge syndrome (22q11 deletion)</a>
                
            </li>
        
            <li>
                <a href="/conditions/diabetes/">Diabetes</a>
                
            </li>
        
            <li>
                <a href="/conditions/diabetes-insipidus/">Diabetes insipidus</a>
                
            </li>
        
            <li>
                <a href="/conditions/diabetic-eye-screening/">Diabetic eye screening</a>
                
            </li>
        
            <li>
                <a href="/conditions/diabetic-ketoacidosis/">Diabetic ketoacidosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/diabetic-retinopathy/">Diabetic retinopathy</a>
                
            </li>
        
            <li>
                <a href="/conditions/dialysis/">Dialysis</a>
                
            </li>
        
            <li>
                <a href="/conditions/diarrhoea-and-vomiting/">Diarrhoea and vomiting</a>
                
            </li>
        
            <li>
                <a href="/conditions/diphtheria/">Diphtheria</a>
                
            </li>
        
            <li>
                <a href="/conditions/discoid-eczema/">Discoid eczema</a>
                
            </li>
        
            <li>
                <a href="/conditions/dislocated-kneecap/">Dislocated kneecap</a>
                
            </li>
        
            <li>
                <a href="/conditions/dislocated-shoulder/">Dislocated shoulder</a>
                
            </li>
        
            <li>
                <a href="/conditions/disorders-of-consciousness/">Disorders of consciousness</a>
                
            </li>
        
            <li>
                <a href="/conditions/disorders-sex-development/">Disorders of sex development</a>
                
            </li>
        
            <li>
                <a href="/conditions/dissociative-disorders/">Dissociative disorders</a>
                
            </li>
        
            <li>
                <a href="/conditions/diverticular-disease-and-diverticulitis/">Diverticular disease and diverticulitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/dizziness/">Dizziness</a>
                
            </li>
        
            <li>
                <a href="/conditions/double-vision/">Double vision</a>
                
            </li>
        
            <li>
                <a href="/conditions/downs-syndrome/">Down's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/dry-eyes/">Dry eye syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/dry-mouth/">Dry mouth</a>
                
            </li>
        
            <li>
                <a href="/conditions/dupuytrens-contracture/">Dupuytren's contracture</a>
                
            </li>
        
            <li>
                <a href="/conditions/dysarthria/">Dysarthria (difficulty speaking)</a>
                
            </li>
        
            <li>
                <a href="/conditions/dysentery/">Dysentery</a>
                
            </li>
        
            <li>
                <a href="/conditions/dyslexia/">Dyslexia</a>
                
            </li>
        
            <li>
                <a href="/conditions/swallowing-problems-dysphagia/">Dysphagia (swallowing problems)</a>
                
            </li>
        
            <li>
                <a href="/conditions/developmental-coordination-disorder-dyspraxia-in-adults/">Dyspraxia (developmental co-ordination disorder) in adults</a>
                
            </li>
        
            <li>
                <a href="/conditions/dystonia/">Dystonia</a>
                
            </li>
        
    </ul>
{% endblock %}