{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'F' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/fabricated-or-induced-illness/">Fabricated or induced illness</a>
                
            </li>
        
            <li>
                <a href="/conditions/fainting/">Fainting</a>
                
            </li>
        
            <li>
                <a href="/conditions/falls/">Falls</a>
                
            </li>
        
            <li>
                <a href="/conditions/febrile-seizures/">Febrile seizures</a>
                
            </li>
        
            <li>
                <a href="/conditions/feeling-sick-nausea/">Feeling sick (nausea)</a>
                
            </li>
        
            <li>
                <a href="/conditions/female-genital-mutilation-fgm/">Female genital mutilation (FGM)</a>
                
            </li>
        
            <li>
                <a href="/conditions/femoral-hernia-repair/">Femoral hernia repair</a>
                
            </li>
        
            <li>
                <a href="/conditions/fever-in-children/">Fever in children</a>
                
            </li>
        
            <li>
                <a href="/conditions/fibroids/">Fibroids</a>
                
            </li>
        
            <li>
                <a href="/conditions/fibromyalgia/">Fibromyalgia</a>
                
            </li>
        
            <li>
                <a href="/conditions/first-aid/">First aid</a>
                
            </li>
        
            <li>
                <a href="/conditions/flat-feet/">Flat feet</a>
                
            </li>
        
            <li>
                <a href="/conditions/flatulence/">Flatulence</a>
                
            </li>
        
            <li>
                <a href="/conditions/floaters-and-flashes-in-the-eyes/">Floaters and flashes in the eyes</a>
                
            </li>
        
            <li>
                <a href="/conditions/flu/">Flu</a>
                
            </li>
        
            <li>
                <a href="/conditions/fluoride/">Fluoride</a>
                
            </li>
        
            <li>
                <a href="/conditions/foetal-alcohol-syndrome/">Foetal alcohol syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/food-allergy/">Food allergy</a>
                
            </li>
        
            <li>
                <a href="/conditions/food-colours-and-hyperactivity/">Food colours and hyperactivity</a>
                
            </li>
        
            <li>
                <a href="/conditions/food-intolerance/">Food intolerance</a>
                
            </li>
        
            <li>
                <a href="/conditions/food-poisoning/">Food poisoning</a>
                
            </li>
        
            <li>
                <a href="/conditions/foot-drop/">Foot drop</a>
                
            </li>
        
            <li>
                <a href="/conditions/foot-pain/">Foot pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/frontotemporal-dementia/">Frontotemporal dementia</a>
                
            </li>
        
            <li>
                <a href="/conditions/frostbite/">Frostbite</a>
                
            </li>
        
            <li>
                <a href="/conditions/frozen-shoulder/">Frozen shoulder</a>
                
            </li>
        
            <li>
                <a href="/conditions/fungal-nail-infection/">Fungal nail infection</a>
                
            </li>
        
    </ul>
{% endblock %}