{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'M' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mcadd/">MCADD</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mri-scan/">MRI scan</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mrsa/">MRSA</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/macular-hole/">Macular hole</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/magnesium-test/">Magnesium test</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/malaria/">Malaria</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/malignant-brain-tumour/">Malignant brain tumour (brain cancer)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mallet-finger/">Mallet finger</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/malnutrition/">Malnutrition</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/maple-syrup-urine-disease/">Maple syrup urine disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/marfan-syndrome/">Marfan syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mastectomy/">Mastectomy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mastitis/">Mastitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mastocytosis/">Mastocytosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mastoiditis/">Mastoiditis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/measles/">Measles</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/medically-unexplained-symptoms/">Medically unexplained symptoms</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/medicines-information/">Medicines information</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/memory-loss-amnesia/">Memory loss (amnesia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/meningitis/">Meningitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/menopause/">Menopause</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mesothelioma/">Mesothelioma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/metabolic-syndrome/">Metabolic syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/metallic-taste/">Metallic taste</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/metatarsalgia/">Metatarsalgia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/migraine/">Migraine</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/miscarriage/">Miscarriage</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mitral-valve-problems/">Mitral valve problems</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mobile-phone-safety/">Mobile phone safety</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/molar-pregnancy/">Molar pregnancy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/moles/">Moles</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/molluscum-contagiosum/">Molluscum contagiosum</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mortons-neuroma/">Morton's neuroma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/motion-sickness/">Motion sickness</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/motor-neurone-disease/">Motor neurone disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mouth-cancer/">Mouth cancer</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mouth-ulcers/">Mouth ulcers</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mucositis/">Mucositis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/multiple-myeloma/">Multiple myeloma</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/multiple-sclerosis/">Multiple sclerosis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/multiple-system-atrophy/">Multiple system atrophy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mumps/">Mumps</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/munchausens-syndrome/">Munchausen's syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/muscular-dystrophy/">Muscular dystrophy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/myasthenia-gravis/">Myasthenia gravis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/mycobacterium-chimaera/">Mycobacterium chimaera infection</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/myelodysplasia/">Myelodysplastic syndrome (myelodysplasia)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/myositis/">Myositis (polymyositis and dermatomyositis)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/menieres-disease/">Ménière's disease</a>
                
            </li>
        
    </ul>
{% endblock %}