{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'P' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="/conditions/pet-scan/">PET scan</a>
                
            </li>
        
            <li>
                <a href="/conditions/pip-implants/">PIP breast implants</a>
                
            </li>
        
            <li>
                <a href="/conditions/pre-menstrual-syndrome/">PMS (premenstrual syndrome)</a>
                
            </li>
        
            <li>
                <a href="/conditions/pacemaker-implantation/">Pacemaker implantation</a>
                
            </li>
        
            <li>
                <a href="/conditions/pagets-disease-bone/">Paget's disease of bone</a>
                
            </li>
        
            <li>
                <a href="/conditions/pagets-disease-nipple/">Paget's disease of the nipple</a>
                
            </li>
        
            <li>
                <a href="/conditions/pancreas-transplant/">Pancreas transplant</a>
                
            </li>
        
            <li>
                <a href="/conditions/pancreatic-cancer/">Pancreatic cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/panic-disorder/">Panic disorder</a>
                
            </li>
        
            <li>
                <a href="/conditions/paracetamol/">Paracetamol</a>
                
            </li>
        
            <li>
                <a href="/conditions/paralysis/">Paralysis</a>
                
            </li>
        
            <li>
                <a href="/conditions/parkinsons-disease/">Parkinson's disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/pataus-syndrome/">Patau's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/peak-flow-test/">Peak flow test</a>
                
            </li>
        
            <li>
                <a href="/conditions/pelvic-inflammatory-disease-pid/">Pelvic inflammatory disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/pelvic-organ-prolapse/">Pelvic organ prolapse</a>
                
            </li>
        
            <li>
                <a href="/conditions/pelvic-pain/">Pelvic pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/pemphigus-vulgaris/">Pemphigus vulgaris</a>
                
            </li>
        
            <li>
                <a href="/conditions/penile-cancer/">Penile cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/perforated-eardrum/">Perforated eardrum</a>
                
            </li>
        
            <li>
                <a href="/conditions/pericarditis/">Pericarditis</a>
                
            </li>
        
            <li>
                <a href="/conditions/period-pain/">Period pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/periods/">Periods</a>
                
            </li>
        
            <li>
                <a href="/conditions/peripheral-arterial-disease-pad/">Peripheral arterial disease (PAD)</a>
                
            </li>
        
            <li>
                <a href="/conditions/peripheral-neuropathy/">Peripheral neuropathy</a>
                
            </li>
        
            <li>
                <a href="/conditions/peritonitis/">Peritonitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/persistent-trophoblastic-disease-choriocarcinoma/">Persistent trophoblastic disease and choriocarcinoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/personality-disorder/">Personality disorder</a>
                
            </li>
        
            <li>
                <a href="/conditions/phaeochromocytoma/">Phaeochromocytoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/phenylketonuria/">Phenylketonuria</a>
                
            </li>
        
            <li>
                <a href="/conditions/phlebitis/">Phlebitis (superficial thrombophlebitis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/phobias/">Phobias</a>
                
            </li>
        
            <li>
                <a href="/conditions/phosphate-test/">Phosphate test</a>
                
            </li>
        
            <li>
                <a href="/conditions/photodynamic-therapy/">Photodynamic therapy (PDT)</a>
                
            </li>
        
            <li>
                <a href="/conditions/physiotherapy/">Physiotherapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/pilonidal-sinus/">Pilonidal sinus</a>
                
            </li>
        
            <li>
                <a href="/conditions/pins-and-needles/">Pins and needles</a>
                
            </li>
        
            <li>
                <a href="/conditions/pityriasis-rosea/">Pityriasis rosea</a>
                
            </li>
        
            <li>
                <a href="/conditions/pityriasis-versicolor/">Pityriasis versicolor</a>
                
            </li>
        
            <li>
                <a href="/conditions/plagiocephaly-brachycephaly/">Plagiocephaly and brachycephaly (flat head syndrome)</a>
                
            </li>
        
            <li>
                <a href="/conditions/plastic-surgery/">Plastic surgery</a>
                
            </li>
        
            <li>
                <a href="/conditions/pleurisy/">Pleurisy</a>
                
            </li>
        
            <li>
                <a href="/conditions/pneumococcal-infections/">Pneumococcal infections</a>
                
            </li>
        
            <li>
                <a href="/conditions/pneumonia/">Pneumonia</a>
                
            </li>
        
            <li>
                <a href="/conditions/poisoning/">Poisoning</a>
                
            </li>
        
            <li>
                <a href="/conditions/polio/">Polio</a>
                
            </li>
        
            <li>
                <a href="/conditions/polycystic-ovary-syndrome-pcos/">Polycystic ovary syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/polycythaemia/">Polycythaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/polyhydramnios/">Polyhydramnios (too much amniotic fluid)</a>
                
            </li>
        
            <li>
                <a href="/conditions/polymorphic-light-eruption/">Polymorphic light eruption</a>
                
            </li>
        
            <li>
                <a href="/conditions/polymyalgia-rheumatica/">Polymyalgia rheumatica</a>
                
            </li>
        
            <li>
                <a href="/conditions/pompholyx/">Pompholyx (dyshidrotic eczema)</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-herpetic-neuralgia/">Post-herpetic neuralgia</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-mortem/">Post-mortem</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-polio-syndrome/">Post-polio syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-traumatic-stress-disorder-ptsd/">Post-traumatic stress disorder (PTSD)</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-menopausal-bleeding/">Postmenopausal bleeding</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-natal-depression/">Postnatal depression</a>
                
            </li>
        
            <li>
                <a href="/conditions/post-partum-psychosis/">Postpartum psychosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/postural-tachycardia-syndrome/">Postural tachycardia syndrome (PoTS)</a>
                
            </li>
        
            <li>
                <a href="/conditions/potassium-test/">Potassium test</a>
                
            </li>
        
            <li>
                <a href="/conditions/prader-willi-syndrome/">Prader-Willi syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/pre-eclampsia/">Pre-eclampsia</a>
                
            </li>
        
            <li>
                <a href="/conditions/predictive-genetic-tests-cancer/">Predictive genetic tests for cancer risk genes</a>
                
            </li>
        
            <li>
                <a href="/conditions/pressure-sores/">Pressure ulcers (pressure sores)</a>
                
            </li>
        
            <li>
                <a href="/conditions/priapism-painful-erections/">Priapism (painful erections)</a>
                
            </li>
        
            <li>
                <a href="/conditions/primary-biliary-cirrhosis-pbc/">Primary biliary cholangitis (primary biliary cirrhosis)</a>
                
            </li>
        
            <li>
                <a href="/conditions/probiotics/">Probiotics</a>
                
            </li>
        
            <li>
                <a href="/conditions/problems-swallowing-pills/">Problems swallowing pills</a>
                
            </li>
        
            <li>
                <a href="/conditions/progressive-supranuclear-palsy-psp/">Progressive supranuclear palsy</a>
                
            </li>
        
            <li>
                <a href="/conditions/face-blindness/">Prosopagnosia (face blindness)</a>
                
            </li>
        
            <li>
                <a href="/conditions/prostate-cancer/">Prostate cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/prostate-problems/">Prostate problems</a>
                
            </li>
        
            <li>
                <a href="/conditions/prostatitis/">Prostatitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/psoriasis/">Psoriasis</a>
                
            </li>
        
            <li>
                <a href="/conditions/psoriatic-arthritis/">Psoriatic arthritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/psychiatry/">Psychiatry</a>
                
            </li>
        
            <li>
                <a href="/conditions/psychosis/">Psychosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/psychotherapy/">Psychotherapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/pubic-lice/">Pubic lice</a>
                
            </li>
        
            <li>
                <a href="/conditions/pudendal-neuralgia/">Pudendal neuralgia</a>
                
            </li>
        
            <li>
                <a href="/conditions/pulmonary-embolism/">Pulmonary embolism</a>
                
            </li>
        
            <li>
                <a href="/conditions/pulmonary-hypertension/">Pulmonary hypertension</a>
                
            </li>
        
            <li>
                <a href="/conditions/pyoderma-gangrenosum/">Pyoderma gangrenosum</a>
                
            </li>
        
    </ul>
{% endblock %}