{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'R' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rabies/">Rabies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/radiotherapy/">Radiotherapy</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rashes-babies-and-children/">Rashes in babies and children</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/raynauds/">Raynaud's</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/reactive-arthritis/">Reactive arthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rectal-examination/">Rectal examination</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/red-blood-count/">Red blood cell count</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/red-eye/">Red eye</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/reflux-in-babies/">Reflux in babies</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/repetitive-strain-injury-rsi/">Repetitive strain injury (RSI)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/respiratory-tract-infection/">Respiratory tract infections (RTIs)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/restless-legs-syndrome/">Restless legs syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/restricted-growth/">Restricted growth (dwarfism)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/retinal-migraine/">Retinal migraine</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/retinoblastoma/">Retinoblastoma (eye cancer in children)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rett-syndrome/">Rett syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/reyes-syndrome/">Reye's syndrome</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rhesus-disease/">Rhesus disease</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rheumatic-fever/">Rheumatic fever</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rheumatoid-arthritis/">Rheumatoid arthritis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rickets-and-osteomalacia/">Rickets and osteomalacia</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ringworm/">Ringworm</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/root-canal-treatment/">Root canal treatment</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rosacea/">Rosacea</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/roseola/">Roseola</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/roundworm/">Roundworm</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/rubella/">Rubella</a>
                
            </li>
        
    </ul>
{% endblock %}