{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'C' %}

{% block azList %}
        <ul>
        
            <li>
                <a href="/conditions/ct-scan/">CT scan</a>
                
            </li>
        
            <li>
                <a href="/conditions/caesarean-section/">Caesarean section</a>
                
            </li>
        
            <li>
                <a href="/conditions/cancer/">Cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/carbon-monoxide-poisoning/">Carbon monoxide poisoning</a>
                
            </li>
        
            <li>
                <a href="/conditions/cea-test/">Carcinoembryonic antigen (CEA) test</a>
                
            </li>
        
            <li>
                <a href="/conditions/carcinoid-syndrome/">Carcinoid syndrome and carcinoid tumours</a>
                
            </li>
        
            <li>
                <a href="/conditions/coronary-angiography/">Cardiac catheterisation and coronary angiography</a>
                
            </li>
        
            <li>
                <a href="/conditions/cardiomyopathy/">Cardiomyopathy</a>
                
            </li>
        
            <li>
                <a href="/conditions/cardiovascular-disease/">Cardiovascular disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/carotid-endarterectomy/">Carotid endarterectomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/carpal-tunnel-syndrome/">Carpal tunnel syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/cartilage-damage/">Cartilage damage</a>
                
            </li>
        
            <li>
                <a href="/conditions/cataract-surgery/">Cataract surgery</a>
                
            </li>
        
            <li>
                <a href="/conditions/catarrh/">Catarrh</a>
                
            </li>
        
            <li>
                <a href="/conditions/cavernoma/">Cavernoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/cavernous-sinus-thrombosis/">Cavernous sinus thrombosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cellulitis/">Cellulitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cerebral-palsy/">Cerebral palsy</a>
                
            </li>
        
            <li>
                <a href="/conditions/cervical-cancer/">Cervical cancer</a>
                
            </li>
        
            <li>
                <a href="/conditions/cervical-rib/">Cervical rib</a>
                
            </li>
        
            <li>
                <a href="/conditions/cervical-screening/">Cervical screening</a>
                
            </li>
        
            <li>
                <a href="/conditions/cervical-spondylosis/">Cervical spondylosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/charcot-marie-tooth-disease/">Charcot-Marie-Tooth disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/charles-bonnet-syndrome/">Charles Bonnet syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/chemotherapy/">Chemotherapy</a>
                
            </li>
        
            <li>
                <a href="/conditions/chest-infection/">Chest infection</a>
                
            </li>
        
            <li>
                <a href="/conditions/chest-pain/">Chest pain</a>
                
            </li>
        
            <li>
                <a href="/conditions/chiari-malformation/">Chiari malformation</a>
                
            </li>
        
            <li>
                <a href="/conditions/chickenpox/">Chickenpox</a>
                
            </li>
        
            <li>
                <a href="/conditions/chilblains/">Chilblains</a>
                
            </li>
        
            <li>
                <a href="/conditions/childhood-cataracts/">Childhood cataracts</a>
                
            </li>
        
            <li>
                <a href="/conditions/chipped-broken-or-cracked-tooth/">Chipped, broken or cracked tooth</a>
                
            </li>
        
            <li>
                <a href="/conditions/chiropractic/">Chiropractic</a>
                
            </li>
        
            <li>
                <a href="/conditions/chlamydia/">Chlamydia</a>
                
            </li>
        
            <li>
                <a href="/conditions/cholera/">Cholera</a>
                
            </li>
        
            <li>
                <a href="/conditions/cholesteatoma/">Cholesteatoma</a>
                
            </li>
        
            <li>
                <a href="/conditions/chorionic-villus-sampling-cvs/">Chorionic villus sampling</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-fatigue-syndrome-cfs/">Chronic fatigue syndrome (CFS/ME)</a>
                
            </li>
        
            <li>
                <a href="/conditions/kidney-disease/">Chronic kidney disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-lymphocytic-leukaemia/">Chronic lymphocytic leukaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-myeloid-leukaemia/">Chronic myeloid leukaemia</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-obstructive-pulmonary-disease-copd/">Chronic obstructive pulmonary disease (COPD)</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-pancreatitis/">Chronic pancreatitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/chronic-traumatic-encephalopathy/">Chronic traumatic encephalopathy</a>
                
            </li>
        
            <li>
                <a href="/conditions/circumcision-in-boys/">Circumcision in boys</a>
                
            </li>
        
            <li>
                <a href="/conditions/circumcision-in-men/">Circumcision in men</a>
                
            </li>
        
            <li>
                <a href="/conditions/cirrhosis/">Cirrhosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/claustrophobia/">Claustrophobia</a>
                
            </li>
        
            <li>
                <a href="/conditions/cleft-lip-and-palate/">Cleft lip and palate</a>
                
            </li>
        
            <li>
                <a href="/conditions/clinical-depression/">Clinical depression</a>
                
            </li>
        
            <li>
                <a href="/conditions/clinical-trials/">Clinical trials</a>
                
            </li>
        
            <li>
                <a href="/conditions/clopidogrel/">Clopidogrel</a>
                
            </li>
        
            <li>
                <a href="/conditions/c-difficile/">Clostridium difficile</a>
                
            </li>
        
            <li>
                <a href="/conditions/club-foot/">Club foot</a>
                
            </li>
        
            <li>
                <a href="/conditions/cluster-headaches/">Cluster headaches</a>
                
            </li>
        
            <li>
                <a href="/conditions/coated-or-white-tongue/">Coated or white tongue</a>
                
            </li>
        
            <li>
                <a href="/conditions/tailbone-pain-coccydynia/">Coccydynia (tailbone pain)</a>
                
            </li>
        
            <li>
                <a href="/conditions/coeliac-disease/">Coeliac disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/cognitive-behavioural-therapy-cbt/">Cognitive behavioural therapy (CBT)</a>
                
            </li>
        
            <li>
                <a href="/conditions/cold-sores/">Cold sores</a>
                
            </li>
        
            <li>
                <a href="/conditions/colic/">Colic</a>
                
            </li>
        
            <li>
                <a href="/conditions/colostomy/">Colostomy</a>
                
            </li>
        
            <li>
                <a href="/conditions/colour-vision-deficiency/">Colour vision deficiency (colour blindness)</a>
                
            </li>
        
            <li>
                <a href="/conditions/colposcopy/">Colposcopy</a>
                
            </li>
        
            <li>
                <a href="/conditions/coma/">Coma</a>
                
            </li>
        
            <li>
                <a href="/conditions/common-cold/">Common cold</a>
                
            </li>
        
            <li>
                <a href="/conditions/compartment-syndrome/">Compartment syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/complementary-and-alternative-medicine/">Complementary and alternative medicine</a>
                
            </li>
        
            <li>
                <a href="/conditions/complex-regional-pain-syndrome/">Complex regional pain syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/concussion/">Concussion</a>
                
            </li>
        
            <li>
                <a href="/conditions/congenital-heart-disease/">Congenital heart disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/conjunctivitis/">Conjunctivitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/consent-to-treatment/">Consent to treatment</a>
                
            </li>
        
            <li>
                <a href="/conditions/constipation/">Constipation</a>
                
            </li>
        
            <li>
                <a href="/conditions/contact-dermatitis/">Contact dermatitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cornea-transplant/">Cornea transplant</a>
                
            </li>
        
            <li>
                <a href="/conditions/corns-and-calluses/">Corns and calluses</a>
                
            </li>
        
            <li>
                <a href="/conditions/coronary-angioplasty/">Coronary angioplasty and stent insertion</a>
                
            </li>
        
            <li>
                <a href="/conditions/coronary-artery-bypass-graft-cabg/">Coronary artery bypass graft</a>
                
            </li>
        
            <li>
                <a href="/conditions/coronary-heart-disease/">Coronary heart disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/corticobasal-degeneration/">Corticobasal degeneration</a>
                
            </li>
        
            <li>
                <a href="/conditions/costochondritis/">Costochondritis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cough/">Cough</a>
                
            </li>
        
            <li>
                <a href="/conditions/coughing-up-blood/">Coughing up blood (blood in phlegm)</a>
                
            </li>
        
            <li>
                <a href="/conditions/counselling/">Counselling</a>
                
            </li>
        
            <li>
                <a href="/conditions/cradle-cap/">Cradle cap</a>
                
            </li>
        
            <li>
                <a href="/conditions/craniosynostosis/">Craniosynostosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/creutzfeldt-jakob-disease-cjd/">Creutzfeldt-Jakob disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/crohns-disease/">Crohn's disease</a>
                
            </li>
        
            <li>
                <a href="/conditions/croup/">Croup</a>
                
            </li>
        
            <li>
                <a href="/conditions/cushings-syndrome/">Cushing's syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/cuts-and-grazes/">Cuts and grazes</a>
                
            </li>
        
            <li>
                <a href="/conditions/cyclical-vomiting-syndrome/">Cyclical vomiting syndrome</a>
                
            </li>
        
            <li>
                <a href="/conditions/cyclospora/">Cyclospora</a>
                
            </li>
        
            <li>
                <a href="/conditions/cyclothymia/">Cyclothymia</a>
                
            </li>
        
            <li>
                <a href="/conditions/cystic-fibrosis/">Cystic fibrosis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cystitis/">Cystitis</a>
                
            </li>
        
            <li>
                <a href="/conditions/cystoscopy/">Cystoscopy</a>
                
            </li>
        
            <li>
                <a href="/conditions/cytomegalovirus-cmv/">Cytomegalovirus (CMV)</a>
                
            </li>
        
    </ul>
{% endblock %}