{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'U' %}

{% block azList %}
       <ul>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ulcerative-colitis/">Ulcerative colitis</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/ultrasound-scan/">Ultrasound scan</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/umbilical-hernia-repair/">Umbilical hernia repair</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/underactive-thyroid-hypothyroidism/">Underactive thyroid (hypothyroidism)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/undescended-testicles/">Undescended testicles</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/unintentional-weight-loss/">Unintentional weight loss</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/urinary-catheters/">Urinary catheter</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/urinary-incontinence/">Urinary incontinence</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/urinary-tract-infections-utis/">Urinary tract infections (UTIs)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/urinary-tract-infections-utis-in-children/">Urinary tract infections in children</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/acr-test/">Urine albumin to creatinine ratio (ACR)</a>
                
            </li>
        
            <li>
                <a href="https://www.nhs.uk/conditions/uveitis/">Uveitis</a>
                
            </li>
        
    </ul>
{% endblock %}