{% extends 'partials/health-a-z/health-a-z-results-wrapper.html' %}
{% set letter = 'B' %}

{% block azList %}
        <ul>
            
                <li>
                    <a href="/conditions/back-pain/">Back pain</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bacterial-vaginosis/">Bacterial vaginosis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bad-breath/">Bad breath (halitosis)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bakers-cyst/">Baker's cyst</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/balanitis/">Balanitis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/barium-enema/">Barium enema</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bartholins-cyst/">Bartholin's cyst</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bedbugs/">Bedbugs</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bedwetting/">Bedwetting</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/behcets-disease/">Behçet's disease</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bells-palsy/">Bell's palsy</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/benign-brain-tumour/">Benign brain tumour (non-cancerous)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/prostate-enlargement/">Benign prostate enlargement</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/beta-blockers/">Beta-blockers</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bile-duct-cancer/">Bile duct cancer (cholangiocarcinoma)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/binge-eating/">Binge eating disorder</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/biological-and-biosimilar-medicines/">Biological and biosimilar medicines</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/biopsy/">Biopsy</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bipolar-disorder/">Bipolar disorder</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bird-flu/">Bird flu</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/birthmarks/">Birthmarks</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/black-eye/">Black eye</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bladder-cancer/">Bladder cancer</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bladder-stones/">Bladder stones</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bleeding-from-the-bottom-rectal-bleeding/">Bleeding from the bottom (rectal bleeding)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blepharitis/">Blepharitis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/vision-loss/">Blindness and vision loss</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blisters/">Blisters</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-clots/">Blood clots</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-groups/">Blood groups</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-in-semen/">Blood in semen (haematospermia)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-in-urine/">Blood in urine</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-pressure-test/">Blood pressure test</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-tests/">Blood tests</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blood-transfusion/">Blood transfusion</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blue-skin-or-lips-cyanosis/">Blue skin or lips (cyanosis)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/blushing/">Blushing</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/body-dysmorphia/">Body dysmorphic disorder (BDD)</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/body-odour/">Body odour</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/body-piercing/">Body piercing</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/boils/">Boils and carbuncles</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bone-cancer/">Bone cancer</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bone-cyst/">Bone cyst</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/borderline-personality-disorder/">Borderline personality disorder</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bornholm-disease/">Bornholm disease</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/botulism/">Botulism</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bowel-cancer/">Bowel cancer</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bowel-cancer-screening/">Bowel cancer screening</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bowel-incontinence/">Bowel incontinence</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bowel-polyps/">Bowel polyps</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bowens-disease/">Bowen's disease</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brain-abscess/">Brain abscess</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brain-aneurysm/">Brain aneurysm</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brain-death/">Brain stem death</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brain-tumours/">Brain tumours</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-abscess/">Breast abscess</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-cancer-in-men/">Breast cancer in men</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-cancer/">Breast cancer in women</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-cancer-screening/">Breast cancer screening</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-lump/">Breast lumps</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-pain/">Breast pain</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breast-reduction-on-the-nhs/">Breast reduction on the NHS</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/breath-holding-spells-in-children/">Breath-holding spells in children</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-ankle/">Broken ankle</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-arm-or-wrist/">Broken arm or wrist</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-collarbone/">Broken collarbone</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-finger/">Broken finger</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-leg/">Broken leg</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-nose/">Broken nose</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-or-bruised-ribs/">Broken or bruised ribs</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/broken-toe/">Broken toe</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bronchiectasis/">Bronchiectasis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bronchiolitis/">Bronchiolitis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bronchitis/">Bronchitis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bronchodilators/">Bronchodilators</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brucellosis/">Brucellosis</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/brugada-syndrome/">Brugada syndrome</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bulimia/">Bulimia</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bullous-pemphigoid/">Bullous pemphigoid</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bunions/">Bunions</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/burns-and-scalds/">Burns and scalds</a>
                    
                </li>
            
                <li>
                    <a href="/conditions/bursitis/">Bursitis</a>
                    
                </li>
            
        </ul>
{% endblock %}