@import '../../src/globals/settings/colours';

.example-code-snippet {
  background-color: $nhsuk-white;
  color: $nhsuk-blue;
  padding: 0 5px;
}

.nhsuk-page-intro {
  margin-top: 24px;
}

.nhsuk-page-intro-v2 {
  border-left: 4px solid $nhsuk-blue;
  margin-top: 24px;
  padding: 8px 24px;
}

.nhsuk-page-intro-v3 {
  margin-top: 0;
}

//testing out new page nav style

.nhsuk-page-nav.v2 {
  h2,
  h3 {
    border-bottom: 1px solid $nhsuk-grey-3;
    font-weight: 400;
    margin-top:0;
    padding-bottom: 16px;
  }
  ol {
    margin: 0 !important;
    padding: 0;
    li {
      border-bottom: 1px solid $nhsuk-grey-3;
      list-style: none;
      margin: 0;
      padding:16px 0;
      .active {
        border-left: 4px solid $nhsuk-blue;
        color: $nhsuk-black;
        font-weight: 600;
        padding-left: 12px;
        text-decoration: none;
      }
    }
  }
}

//test out new page heading style
.nhsuk-page-heading.v2 {
  padding: 32px 0;
  @include mq($from: grid-collapse) {
    padding: 34px 0 48px;
  }
  h1 {
    margin: 0;
  }
}

//review dates - bottom of each page in wagtail

.review-dates {
  margin-top:72px;
  &:before {
    content: '';
    border-top: 4px solid #41B6E6;
    display: block;
    width: 25%;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 32px 0 0;
    @include mq($from: tablet) {
      font-size: 16px;
      line-height: 28px;
      margin: 32px 0 0;
    }
  }
}

.care-card + .review-dates {
  margin: 0;
}

// testing increased margin on side nav
.nhsuk-list-nav {
  margin-top: 12px;
  li {
    margin-top: 12px;
  }
}

// helper class for having text coloured with $nhsuk-secondary-text-colour
.nhsuk-secondary-text {
  color: $nhsuk-secondary-text-colour;
}
