@import '../../src/globals/settings/colours';
@import '../../src/globals/helpers/_clearfix';

.example-code-snippet {
  background-color: $nhsuk-white;
  color: $nhsuk-blue;
  padding: 0 5px;
}

.nhsuk-page-intro {
  margin-top: 24px;
}

//test out new page heading style
.nhsuk-page-heading.v2 {
  padding: 32px 0;
  @include mq($from: grid-collapse) {
    padding: 34px 0 48px;
  }
  h1 {
    margin: 0;
  }
}

//review dates - bottom of each page in wagtail

.review-dates {
  margin-top:72px;
  &:before {
    content: '';
    border-top: 4px solid #41B6E6;
    display: block;
    width: 25%;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 32px 0 0;
    @include mq($from: tablet) {
      font-size: 16px;
      line-height: 28px;
      margin: 32px 0 0;
    }
  }
}

// Testing increased margin on side nav

.nhsuk-list-nav {
  margin-top: 12px;
  li {
    margin-top: 12px;
  }
}

// Helper class for having text coloured with $nhsuk-secondary-text-colour

.nhsuk-secondary-text {
  color: $nhsuk-secondary-text-colour;
}

// Helper class for font weight 400

.nhsuk-font-normal {
  font-weight: 400;
}

// List Links

.nhsuk-list-links {
  list-style: none;
  padding-left: 0;
  li {
    margin: 12px 0 0;
  }
  &--two-columns {
    column-count: 2;
    column-gap: 32px;
    @include mq($until: tablet) {
      column-count: 1;
      column-gap: 0;
    }
  }
}

// List Signage

.nhsuk-list-signage {
  list-style: none;
  padding-left: 0;
  li {
    width: 100%;
    margin-top: 2px;
    a {
      background: $nhsuk-blue;
      color: $nhsuk-white;
      display: inline-block;
      padding: 12px 24px;
      position: relative;
      text-decoration: none;
      width: 100%;
      @include mq($until: tablet) {
        padding: 12px 16px;
      }
      &:hover {
        background: $nhsuk-blue-shade-35;
        box-shadow: none;
        text-decoration: underline;
      }
      &:active {
        background: $nhsuk-blue-shade-50;
      }
      &:focus {
        box-shadow: inset 0 0 0 4px $nhsuk-focus-colour;
      }
      .nhsuk-icon {
        fill: $nhsuk-white;
        height: 24px;
        position: absolute;
        right: 12px;
        top: 14px;
        width: 24px;
        @include mq($until: tablet) {
          top: 12px;
        }
      }
    }
  }
}

.nhsuk-list-signage,
.nhsuk-list-links {
  &--two-columns {
    column-count: 2;
    column-gap: 32px;
    @include mq($until: tablet) {
      column-count: 1;
      column-gap: 0;
    }
  }
}

// List Apps

.nhsuk-list-apps {
  padding: 0;
  @include mq($from: tablet) {
    margin-bottom: 16px !important;
  }
  li{
    @include clear();
    list-style: none;
    margin: 0;
    @include mq($until: desktop) {
      border-bottom: 1px solid $nhsuk-grey-4;
      &:last-child {
        border: 0;
        margin-bottom: 0;
      }
    }
    a {
      display: block;
      min-height: 94px;
      padding: 16px 0 16px 92px;
      position: relative;
      text-decoration: none; 
      @include mq($until: desktop) {
        padding-left: 80px;
      }
      .nhsuk-list-apps__icon {
        border: 1px solid $nhsuk-grey-5;
        border-radius: 12px;
        height: 72px;
        margin-right: 20px;
        left: 0;
        position: absolute;
        top: 16px;
        width: 72px;
        @include mq($until: desktop) {
          height: 64px;
          margin-right: 16px;
          width: 64px;
        }
      }
      .nhsuk-list-apps__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        text-decoration: underline;
        @include mq($until: desktop) {
          font-size: 19px;
          line-height: 28px;
        }
      }
      .nhsuk-list-apps__category {
        color: $nhsuk-secondary-text-colour;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px;
        @include mq($until: desktop) {
          font-size: 14px;
          line-height: 24px;
          margin-top: 4px;
        }
      }
    }
  }

  &--two-columns {
    column-count: 2;
    column-gap: 32px;
    @include mq($until: desktop) {
      column-count: 1;
      column-gap: 0;
    }
  }
}

