@import '../../src/globals/settings/colours';
@import '../../src/globals/helpers/_clearfix';

.example-code-snippet {
  background-color: $nhsuk-white;
  color: $nhsuk-blue;
  padding: 0 5px;
}

.nhsuk-page-intro {
  margin-top: 24px;
}

//test out new page heading style
.nhsuk-page-heading.v2 {
  padding: 32px 0;
  @include mq($from: grid-collapse) {
    padding: 34px 0 48px;
  }
  h1 {
    margin: 0;
  }
}

//review dates - bottom of each page in wagtail

.review-dates {
  margin-top:72px;
  &:before {
    content: '';
    border-top: 4px solid #41B6E6;
    display: block;
    width: 25%;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 32px 0 0;
    @include mq($from: tablet) {
      font-size: 16px;
      line-height: 28px;
      margin: 32px 0 0;
    }
  }
}

// Testing increased margin on side nav

.nhsuk-list-nav {
  margin-top: 12px;
  li {
    margin-top: 12px;
  }
}

// Helper class for having text coloured with $nhsuk-secondary-text-colour

.nhsuk-secondary-text {
  color: $nhsuk-secondary-text-colour;
}

// Helper class for font weight 400

.nhsuk-font-normal {
  font-weight: 400;
}