{% set title = 'Getting diagnosed | Age-related macular degeneration (AMD)  | Test page' %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/pages/examples.html",
        text: "Test pages"
      }
    ],
    href: "/test-pages/amd",
    text: "Age-related macular degeneration (AMD)"
  }) }}
{% endblock %}

{% block content %}

<h1>
  <span role="text">Getting diagnosed
    <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Age-related macular degeneration (AMD)
    </span>
  </span>
</h1>

{{ contentsList({
  items: [
    {
      href: "/test-pages/amd",
      text: "What is AMD?"
    },
    {
      href: "/test-pages/amd/symptoms.html",
      text: "Symptoms"
    },
    {
      href: "/test-pages/amd/getting-diagnosed.html",
      text: "Getting diagnosed",
      current: "true"
    }
    ,
    {
      href: "/test-pages/amd/treatment.html",
      text: "Treatments"
    }
    ,
    {
      href: "/test-pages/amd/living-with-amd.html",
      text: "Living with AMD"
    }
  ]
}) }}

<h2>What happens at your opticians appointment</h2>
<p>You'll be seen by a specialist called an optometrist.</p>
<p>They'll use a magnifying glass with a light to look at the back of your eyes and check your vision.</p>
<p>They may put drops in your eyes to make it easier for them to spot any problems. These can make your vision blurry for a few hours.</p>

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Important</h3>
  <p>Don't drive until your vision goes back to normal. This may take 4 to 6 hours.</p>

</div>

<h2>Referral to a specialist</h2>
<p>Sometimes you may be referred to an eye doctor (ophthalmologist) or specialist AMD service. This is usually only necessary if there's a possibility you'll need to start treatment quickly. You should be referred within a day.</p>
<p>You may have more tests, such as a scan of the back of your eyes.</p>

<h2>What happens if you're diagnosed with AMD</h2>
<p>If you're diagnosed with AMD, the specialist will talk to you about what it is, what type you have and what the treatment options are.</p>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Types of AMD
    </span>
  </summary>
  <div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
    <table>
      <thead>
        <tr>
          <th>Dry AMD</th>
          <th>Wet AMD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Caused by a build-up of a fatty substance called drusen at the back of the eyes</td>
          <td>Caused by the growth of abnormal blood vessels at the back of the eyes</td>
        </tr>
        <tr>
          <td>Common</td>
          <td>Less common</td>
        </tr>
        <tr>
          <td>Gets worse gradually – usually over several years</td>
          <td>Can get worse quickly – sometimes in days or weeks</td>
        </tr>
        <tr>
          <td>No treatment – unless it develops into wet AMD</td>
          <td>Treatment can help stop vision getting worse</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>

<p>It might be difficult to take in everything the specialist tells you.</p>
<p>If you're unsure about something later, write down any questions you have and make another appointment to go over them.</p>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>The <a href="https://www.macularsociety.org/" title="External website">Macular Society</a> has information you might find useful. It also has a helpline on 0300 3030 111.</p>
</div>

{{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}

{{ pagination({
  "previousUrl": "/test-pages/amd/symptoms.html",
  "previousPage": "Symptoms",
  "nextUrl": "/test-pages/amd/treatment.html",
  "nextPage": "Treatments"
}) }}

{% endblock %}
