{% set title = 'Treatments | Age-related macular degeneration (AMD)  | Test page' %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/pages/examples.html",
        text: "Test pages"
      }
    ],
    href: "/test-pages/amd",
    text: "Age-related macular degeneration (AMD)"
  }) }}
{% endblock %}

{% block content %}

<h1>
  <span role="text">Treatments
    <span class="nhsuk-caption-xl nhsuk-caption--bottom">
      <span class="nhsuk-u-visually-hidden"> - </span>
      Age-related macular degeneration (AMD)
    </span>
  </span>
</h1>

{{ contentsList({
  items: [
    {
      href: "/test-pages/amd",
      text: "What is AMD?"
    },
    {
      href: "/test-pages/amd/symptoms.html",
      text: "Symptoms"
    },
    {
      href: "/test-pages/amd/getting-diagnosed.html",
      text: "Getting diagnosed"
    }
    ,
    {
      href: "/test-pages/amd/treatment.html",
      text: "Treatments",
      current: "true"
    }
    ,
    {
      href: "/test-pages/amd/living-with-amd.html",
      text: "Living with AMD"
    }
  ]
}) }}

<p>Treatment depends on the type of AMD you have.</p>
<ul>
  <li><strong>Dry AMD</strong> – there's no treatment, but vision aids can help reduce the effect on your life. Read about <a href="/conditions/age-related-macular-degeneration-amd/living-with-amd/">living with AMD</a>.</li>
  <li><strong>Wet AMD</strong> – you may need regular eye injections and, very occasionally, a light treatment called "photodynamic therapy" to stop your vision getting worse.</li>
</ul>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    What the different types mean
    </span>
  </summary>
  <div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
    <table>
      <thead>
        <tr>
          <th>Dry AMD</th>
          <th>Wet AMD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Caused by a build-up of a fatty substance called drusen at the back of the eyes</td>
          <td>Caused by the growth of abnormal blood vessels at the back of the eyes</td>
        </tr>
        <tr>
          <td>Common</td>
          <td>Less common</td>
        </tr>
        <tr>
          <td>Gets worse gradually – usually over several years</td>
          <td>Can get worse quickly – sometimes in days or weeks</td>
        </tr>
        <tr>
          <td>No treatment – unless it develops into wet AMD</td>
          <td>Treatment can help stop vision getting worse</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>

<div class="nhsuk-panel-with-label">
  <h3 class="nhsuk-panel-with-label__label">Eye injections</h3>
  <p class="nhsuk-u-font-weight-bold">Anti-VEGF medicines – ranibizumab (Lucentis) and aflibercept (Eylea)</p>
  <p>Injections given directly into the eyes.</p>
  <ul>
    <li>stops vision getting worse in 9 out of 10 people and improves vision in 3 out of 10 people</li>
    <li>usually given every 1 or 2 months for as long as necessary</li>
    <li>drops numb the eyes before treatment – most people have minimal discomfort</li>
    <li>side effects include bleeding in the eye, feeling like there's something in the eye, and eyes being red and irritated</li>
  </ul>
  <p>The Macular Society has more on <a href="#">injections for wet AMD</a>.</p>
</div>

<div class="nhsuk-panel-with-label">
  <h3 class="nhsuk-panel-with-label__label">Light treatment</h3>
  <p class="nhsuk-u-font-weight-bold">Photodynamic therapy (PDT)</p>
  <p>A light is shined at the back of the eyes to destroy the abnormal blood vessels that cause wet AMD.</p>
  <ul>
    <li>may be recommended alongside eye injections if injections alone don't help</li>
    <li>usually needs to be repeated every few months</li>
    <li>side effects include temporary vision problems, and the eyes and skin being sensitive to light for a few days or weeks</li>
  </ul>
  <p>Read more about <a href="#">photodynamic therapy</a>.</p>
</div>

<h2>Research into new treatments</h2>
<p>Research into new treatments for AMD is ongoing. Your specialist can let you know if there are any studies you could take part in.</p>
<p>You can also <a href="#">search the UK Clinical Trials Gateway (UKCTG)</a> to find studies.</p>


{{ reviewDate({
  "lastReview": "12 February 2017",
  "nextReview": "1 February 2020"
}) }}

{{ pagination({
  "previousUrl": "/test-pages/amd/getting-diagnosed.html",
  "previousPage": "Getting diagnosed",
  "nextUrl": "/test-pages/amd/living-with-amd.html",
  "nextPage": "Living with AMD"
}) }}

{% endblock %}
