{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "nhsuk/macros/icon.njk" import nhsukIcon %}

{#- Set classes for this component #}
{%- set classNames = "nhsuk-do-dont-list" -%}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif -%}

{%- set icon = "cross" if (params.icon or params.type) == "cross" else "tick" %}
{%- set headingLevel = params.headingLevel if params.headingLevel else 3 %}

{%- macro _listItem(params, data, icon) %}
  {% set item = {
    text: data.item if data.item is string,
    html: data.item if data.item is escaped
  } if data.item else data -%}

  {{ nhsukIcon(icon) | trim }}
  {% if not params.hidePrefix and (params.prefixText or icon == "cross") %}
    {{- (params.prefixText if params.prefixText else "do not") ~ " " -}}
  {% endif %}
  {{- item.html | safe | trim | indent(6) if item.html else item.text }}
{% endmacro -%}

<div class="{{ classNames }}" {%- if params.id %} id="{{ params.id }}"{% endif %}
  {{- nhsukAttributes(params.attributes) }}>
  <h{{ headingLevel }} class="nhsuk-do-dont-list__label">{{ params.title }}</h{{ headingLevel }}>
  <ul class="nhsuk-list nhsuk-list--{{ icon }}" role="list">
{% for data in params.items %}
  {% if data %}
    <li>
      {{ _listItem(params, data, icon) | trim | indent(6) }}
    </li>
  {% endif %}
{% endfor %}
  </ul>
</div>
