{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Character Count - with maxlength attribute' %}
{% from 'components/character-count/macro.njk' import characterCount %}
{% extends 'layout.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ characterCount({
        "name": "more-detail",
        "id": "more-detail",
        "maxlength": 11,
        "attributes": {
            "maxlength": 11
        },
        "label": {
          "text": "Can you provide more detail?"
        },
        "hint": {
          "text": "Don't include personal or financial information, eg your National Insurance number or credit card details."
        }
      }) }}
    </div>
  </div>
{% endblock %}
