/* ==========================================================================
   STYLES / #ICONS
   ========================================================================== */

.nhsuk-icon {
  height: $nhsuk-icon-size;
  width: $nhsuk-icon-size;
}

.nhsuk-icon__search {
  fill: $nhsuk-blue;
}
.nhsuk-icon__chevron-left {
  fill: $nhsuk-blue;
}
.nhsuk-icon__chevron-right {
  fill: $nhsuk-blue;
}
.nhsuk-icon__close {
  fill: $nhsuk-blue;
}
.nhsuk-icon__cross {
  fill: $nhsuk-red;
}
.nhsuk-icon__tick {
  fill: none;
  stroke: $nhsuk-green;
}
.nhsuk-icon__arrow-right {
  fill: $nhsuk-blue;
}
.nhsuk-icon__arrow-left {
  fill: $nhsuk-blue;
}
.nhsuk-icon__arrow-right-circle {
  fill: $nhsuk-green;
}
.nhsuk-icon__chevron-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); // sass-lint:disable-line property-sort-order
  fill: $nhsuk-blue; // sass-lint:disable-line property-sort-order
  path {
    fill: $nhsuk-white;
  }
}
.nhsuk-icon__chevron-up {
  fill: $nhsuk-blue;
  path {
    fill: $nhsuk-white;
  }
}

.nhsuk-icon--size-25 {
  height: $nhsuk-icon-size * 1.25;
  width: $nhsuk-icon-size * 1.25;
}
.nhsuk-icon--size-50 {
  height: $nhsuk-icon-size * 1.5;
  width: $nhsuk-icon-size * 1.5;
}
.nhsuk-icon--size-75 {
  height: $nhsuk-icon-size * 1.75;
  width: $nhsuk-icon-size * 1.75;
}
.nhsuk-icon--size-100 {
  height: $nhsuk-icon-size * 2;
  width: $nhsuk-icon-size * 2;
}

.nhsuk-logo {
  height: 40px;
  width: 99px;
}
