////
/// Icons
///
/// @group styles
////

// Default icon size

.nhsuk-icon {
  height: $nhsuk-icon-size;
  width: $nhsuk-icon-size;
}

// Default icon colours

.nhsuk-icon__search {
  fill: currentColor;
  height: 28px;
  width: 28px;
}

.nhsuk-icon__user {
  fill: currentColor;
  height: 22px;
  width: 22px;
}

.nhsuk-icon__chevron-left {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__chevron-right {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__close {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__cross {
  fill: $color_nhsuk-red;
}

.nhsuk-icon__tick {
  stroke: $color_nhsuk-green;
}

.nhsuk-icon__arrow-right {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__arrow-left {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__arrow-right-circle {
  fill: $color_nhsuk-green;
}

.nhsuk-icon__chevron-down {
  fill: currentColor;
  height: nhsuk-spacing(4);
  margin-right: -(nhsuk-spacing(1));
  transform: rotate(90deg);
  width: nhsuk-spacing(4);
}

.nhsuk-icon__emdash {
  path {
    fill: $color_nhsuk-grey-3;
  }
}

.nhsuk-icon__plus {
  fill: $color_nhsuk-blue;
}

.nhsuk-icon__minus {
  fill: $color_nhsuk-blue;
}

// Icon size adjustments

.nhsuk-icon--size-25 {
  height: $nhsuk-icon-size * 1.25;
  width: $nhsuk-icon-size * 1.25;
}

.nhsuk-icon--size-50 {
  height: $nhsuk-icon-size * 1.5;
  width: $nhsuk-icon-size * 1.5;
}

.nhsuk-icon--size-75 {
  height: $nhsuk-icon-size * 1.75;
  width: $nhsuk-icon-size * 1.75;
}

.nhsuk-icon--size-100 {
  height: $nhsuk-icon-size * 2;
  width: $nhsuk-icon-size * 2;
}
