/* ==========================================================================
   STYLES / #LISTS
   ========================================================================== */

.nhsuk-list--bullet {
  @extend %nhsuk-list--bullet;
}

.nhsuk-list--number {
  @extend %nhsuk-list--number;
}

.nhsuk-list {
  @extend %nhsuk-list;
}

.nhsuk-list--check,
.nhsuk-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px;
  position: relative;

  .nhsuk-icon__tick {
    left: -4px;
    margin-top: -5px;
    position: absolute;
  }

  .nhsuk-icon__cross {
    left: -4px;
    margin-top: -5px;
    position: absolute;
  }

}
