.nhsuk-c-image {
  @include nhsuk-responsive-margin(6, "top");
  @include nhsuk-responsive-margin(6, "bottom");

  background: $nhsuk-white;
  border-bottom: $nhsuk-grey-4 2px solid;

  & + {
    .nhsuk-c-image {
      margin-top: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  .nhsuk-c-image__caption {
    padding: 16px;

    p {
      font-size: .9em;
      margin: 0;
    }

  }

}
