/* ==========================================================================
   #images
   ========================================================================== */

/**
 * Long-form comment.
 *
 * If you’d like to create a new Sass file for the project, simply copy and
 * paste this one and fill it in like for like.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line comments like this.
 */
.nhsuk-c-image {
  background: $colour_nhsuk-white;
  border-bottom: $colour_nhsuk-grey-4 2px solid;
  margin: 40px 0 0;

  @include mq($until: tablet) {
    margin: 32px 0 0;
  }

  img {
    display: block;
    width: 100%;
  }

  &__caption {
    padding: 16px;

    p {
      font-size: .9em;
      margin: 0;
    }

  }

}
