@use "../tools" as *;

////
/// Link nowrap
///
/// Prevent text from wrapping on to a new line and preserve 
/// white spaces, for example: to keep the formatting of
/// an NHS number.
///
/// @group utilities
///
/// @example html
///   <a href="#" class="nhsuk-u-nowrap"></a>
////

.nhsuk-u-nowrap {
  white-space: nowrap;
}
