<details class="nhsuk-c-details" role="group">
  <summary class="nhsuk-c-summary" data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="nhsuk-c-summary__title">{{ title }}</span>
  </summary>
  <div class="nhsuk-c-details__content" id="details-content-0" aria-hidden="true">
    {{ content | safe }}
  </div>
</details>
