@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Accordion component
///
/// @group components/accordion
////

@include nhsuk-exports("nhsuk/components/accordion") {
  $nhsuk-accordion-base-colour: nhsuk-colour("black");
  $nhsuk-accordion-hover-colour: nhsuk-colour("light-grey");
  $nhsuk-accordion-icon-focus-colour: $nhsuk-focus-colour;
  $nhsuk-accordion-bottom-border-width: 1px;

  .nhsuk-accordion {
    @include nhsuk-responsive-margin(6, "bottom");
  }

  .nhsuk-accordion__section {
    padding-top: nhsuk-spacing(3);
  }

  .nhsuk-accordion__section-heading {
    // Override browser defaults to ensure consistent element height
    margin-top: 0;
    margin-bottom: 0;

    padding-top: nhsuk-spacing(3);
    padding-bottom: nhsuk-spacing(3);
  }

  .nhsuk-accordion__section-button {
    display: block;
    margin-bottom: 0;
    padding-top: nhsuk-spacing(3);

    @include nhsuk-text-colour;
    @include nhsuk-font(22, $weight: bold);
  }

  // Remove the bottom margin from the last item inside the content
  .nhsuk-accordion__section-content > :last-child {
    margin-bottom: 0;
  }

  // NHS.UK frontend JavaScript enabled
  .nhsuk-frontend-supported {
    .nhsuk-accordion {
      // Border at the bottom of the whole accordion
      border-bottom: $nhsuk-accordion-bottom-border-width solid $nhsuk-border-colour;
    }

    .nhsuk-accordion__section {
      padding-top: 0;
    }

    // Hide the body of collapsed sections by default for browsers that lack
    // support for `content-visibility` paired with [hidden=until-found]
    .nhsuk-accordion__section-content {
      display: none;

      @include nhsuk-responsive-padding(3, "top");
      @include nhsuk-responsive-padding(8, "bottom");
    }

    // Hide the body of collapsed sections using `content-visibility` to enable
    // page search within [hidden=until-found] regions where browser supported
    .nhsuk-accordion__section-content[hidden] {
      // Hide the padding of collapsed sections
      padding-top: 0;
      padding-bottom: 0;

      @supports (content-visibility: hidden) {
        content-visibility: hidden;
        display: inherit;
      }
    }

    // Show the body of expanded sections
    .nhsuk-accordion__section--expanded .nhsuk-accordion__section-content {
      display: block;
    }

    .nhsuk-accordion__show-all {
      position: relative;
      z-index: 1;

      margin-bottom: 9px;
      padding: nhsuk-spacing(1) 2px nhsuk-spacing(1) 0;

      border-width: 0;

      color: $nhsuk-link-colour;
      background: none;

      cursor: pointer;

      -webkit-appearance: none;

      @include nhsuk-font($size: 19);

      @include nhsuk-media-query($from: tablet) {
        margin-bottom: 14px;
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &:hover {
        color: $nhsuk-accordion-base-colour;
        background: $nhsuk-accordion-hover-colour;
        // The focus state adds a box-shadow to the top and bottom of the
        // button. We add a grey box-shadow on hover too, to make the height of
        // the hover state match the height of the focus state.
        box-shadow:
          0 -2px $nhsuk-accordion-hover-colour,
          0 4px $nhsuk-accordion-hover-colour;

        .nhsuk-accordion__section-toggle-text {
          color: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron {
          color: $nhsuk-accordion-base-colour;
          background: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron::after {
          color: $nhsuk-accordion-hover-colour;
        }
      }

      &:focus {
        @include nhsuk-focused-text;

        .nhsuk-accordion-nav__chevron {
          background: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron::after {
          color: $nhsuk-accordion-icon-focus-colour;
        }
      }
    }

    .nhsuk-accordion__section-heading {
      padding: 0;
    }

    // Create Chevron icon aligned with text
    .nhsuk-accordion-nav__chevron {
      box-sizing: border-box;
      display: inline-block;

      position: relative;

      // Set size using rems so icon scales with text
      width: nhsuk-px-to-rem(20px);
      height: nhsuk-px-to-rem(20px);

      border: nhsuk-px-to-rem(1px) solid;
      border-radius: 50%;

      vertical-align: middle;

      // Create inner chevron arrow
      &::after {
        content: "";

        box-sizing: border-box;
        display: block;

        position: absolute;
        bottom: nhsuk-px-to-rem(5px);
        left: nhsuk-px-to-rem(6px);

        width: nhsuk-px-to-rem(6px);
        height: nhsuk-px-to-rem(6px);

        transform: rotate(-45deg);

        border-top: nhsuk-px-to-rem(2px) solid;
        border-right: nhsuk-px-to-rem(2px) solid;
      }
    }

    // Rotate icon to create "Down" version
    .nhsuk-accordion-nav__chevron--down {
      transform: rotate(180deg);
    }

    .nhsuk-accordion__section-button {
      width: 100%;

      padding: nhsuk-spacing(2) 0 0;

      border: 0;

      border-top: $nhsuk-accordion-bottom-border-width solid $nhsuk-border-colour;

      // Visually separate the section from the one underneath when user changes
      // colours in their browser. See
      // https://github.com/alphagov/nhsuk-frontend/issues/2321#issuecomment-924201488
      border-bottom: nhsuk-spacing(2) solid transparent;

      color: $nhsuk-text-colour;
      background: none;

      text-align: left;
      // Section headers have a pointer cursor as an additional affordance
      cursor: pointer;

      -webkit-appearance: none;

      @include nhsuk-media-query($from: tablet) {
        padding-bottom: nhsuk-spacing(2);
      }

      &:active {
        color: $nhsuk-link-active-colour;
        background: none;
      }

      &:hover {
        color: $nhsuk-accordion-base-colour;
        background: $nhsuk-accordion-hover-colour;

        .nhsuk-accordion__section-toggle-text {
          color: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron {
          color: $nhsuk-accordion-base-colour;
          background: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron::after {
          color: $nhsuk-accordion-hover-colour;
        }
      }

      &:focus {
        // Remove default focus border around button as styling is being applied
        // to inner text elements that receive focus
        outline: 0;

        .nhsuk-accordion__section-heading-text-focus,
        .nhsuk-accordion__section-summary-focus,
        .nhsuk-accordion__section-toggle-focus {
          @include nhsuk-focused-text;
        }

        .nhsuk-accordion-nav__chevron {
          color: $nhsuk-accordion-base-colour;
          background: $nhsuk-accordion-base-colour;
        }

        .nhsuk-accordion-nav__chevron::after {
          color: $nhsuk-accordion-icon-focus-colour;
        }
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    // Remove the transparent border when the section is expanded to make it
    // clear that the heading relates to the content below. Adjust padding to
    // maintain the height of the element. See
    // https://github.com/alphagov/nhsuk-frontend/pull/2257#issuecomment-951920798
    .nhsuk-accordion__section--expanded .nhsuk-accordion__section-button {
      padding-bottom: nhsuk-spacing(3);
      border-bottom: 0;

      @include nhsuk-media-query($from: tablet) {
        padding-bottom: nhsuk-spacing(4);
      }
    }

    // As Chevron icon is vertically aligned it overlaps with the focus state
    // bottom border – this adds some spacing
    .nhsuk-accordion__section-button:focus .nhsuk-accordion__section-toggle-focus {
      padding-bottom: 3px;

      @include nhsuk-media-query($from: desktop) {
        padding-bottom: 2px;
      }
    }

    .nhsuk-accordion__section-toggle,
    .nhsuk-accordion__section-heading-text,
    .nhsuk-accordion__section-summary {
      display: block;
      margin-bottom: 13px;

      .nhsuk-accordion__section-heading-text-focus,
      .nhsuk-accordion__section-summary-focus,
      .nhsuk-accordion__section-toggle-focus {
        display: inline;
      }
    }

    // Add toggle link with Chevron icon on left.
    .nhsuk-accordion__section-toggle {
      color: $nhsuk-link-colour;
      @include nhsuk-font($size: 19);
    }

    // Add space between the icon and text. Avoid applying spacing directly to
    // the icon as the use of `transform` will change the placement of any
    // margins.
    .nhsuk-accordion__show-all-text,
    .nhsuk-accordion__section-toggle-text {
      margin-left: nhsuk-spacing(1);
      vertical-align: middle;
    }

    // Background colour adjustment when user changes colours in Firefox
    //
    // When user changes colours in Firefox, text colour inside <button> is
    // always black (regardless of the custom colours the user has set). This is
    // fine when the text in the button is not nested inside another element
    // because when user changes colours in Firefox, the immediate background
    // colour of buttons is always white (again, regardless of user's custom
    // colours).
    //
    // However, when the text inside <button> is wrapped inside another element
    // AND that element sets a background colour, the text colour is still black
    // but the background of that nested element gets the user's custom
    // background colour. When the custom background is a lighter hue, the
    // contrast might be sufficient. But if the user's custom background colour
    // is a darker colour, the contrast with the text might not be sufficient.
    //
    // To ensure sufficient contrast, override the background colour set by the
    // focus state on the nested elements to be transparent.
    //
    // Also override the background colour of the Show/Hide chevrons which set a
    // background colour on hover.
    @media screen and (forced-colors: active) {
      .nhsuk-accordion__show-all:hover,
      .nhsuk-accordion__section-button:hover {
        .nhsuk-accordion-nav__chevron {
          background-color: transparent;
        }
      }

      .nhsuk-accordion__show-all:focus,
      .nhsuk-accordion__section-button:focus {
        .nhsuk-accordion__section-heading-text-focus,
        .nhsuk-accordion__section-summary-focus,
        .nhsuk-accordion__section-toggle-focus,
        .nhsuk-accordion-nav__chevron {
          background: transparent;
          background-color: transparent;
        }
      }
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .nhsuk-accordion__section-header:hover {
        border-top-color: $nhsuk-border-colour;
        box-shadow: inset 0 3px 0 0 $nhsuk-link-colour;

        .nhsuk-accordion__section-button {
          border-top-color: $nhsuk-border-colour;
        }
      }
    }
  }
}
