// Import anything from globals required for this component (as little as possible)
// @import "../globals/helpers/typography";

.c-nav-primary {

  @include mq($until: large-desktop) {
    background: $nhsuk-white;
    display: none;

    &.js-show {
      display: block;
    }

    .nhsuk-o-width-container {
      margin: 0;
      max-width: 990px;
    }

    &__title {
      font-weight: $nhsuk-font-bold;
      margin: 0;
      padding: 12px 38px 12px 30px;
      position: relative;

      @include mq($until: tablet) {
        margin: 0 24px 0 0;
        padding: 16px;
      }

      .c-nav-primary__close-link {
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><defs><style>.path{fill:%230058ad;}</style></defs><path class='path' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'></path></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        height: 40px;
        overflow: hidden;
        position: absolute;
        right: 24px;
        text-indent: -9999px;
        top: 8px;
        white-space: nowrap;
        width: 40px;

        @include mq($until: tablet) {
          right: -8px;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><defs><style>.path{fill:%23003970;}</style></defs><path class='path' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'></path></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        }

        &:focus {
          border-radius: 4px;
          box-shadow: 0 0 0 4px $nhsuk-focus-colour;
          outline: 0;
        }

      }


    }

    &__list {
      border-bottom: 4px solid $nhsuk-grey-5;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      border-top: 1px solid $nhsuk-grey-5;
      margin: 0;

    }

    &__link {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='64px'><defs><style>.path{fill:%23aeb7bd;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
      background-position: center right;
      background-repeat: no-repeat;
      color: $nhsuk-blue;
      display: block;
      padding: 12px 30px;

      @include mq($until: tablet) {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='41px'><defs><style>.path{fill:%23aeb7bd;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        padding: 16px;
      }

      text-decoration: none;

      &:visited {
        color: $nhsuk-blue;
      }

      &:hover {
        background-color: $nhsuk-blue;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='64px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes

        @include mq($until: tablet) {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='41px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: none;
        color: $nhsuk-white;
        text-decoration: underline;
      }

      &:focus {
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='64px'><defs><style>.path{fill:%23aeb7bd;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes

        @include mq($until: tablet) {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='41px'><defs><style>.path{fill:%23aeb7bd;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 4px $nhsuk-focus-colour;
        color: $nhsuk-blue;
      }

      &:active {
        background-color: $nhsuk-blue-shade-35;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='64px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes

        @include mq($until: tablet) {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='32px' width='41px'><defs><style>.path{fill:%23ffffff;}</style></defs><path class='path' d='M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z'/></svg>"); // sass-lint:disable-line quotes // Edge 15 bug converts single to double quotes
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: none;
        color: $nhsuk-white;
      }

    }

  }

  @include mq($from: large-desktop) {

    @include clear();
    background: $nhsuk-blue;

    &__title {
      display: none;
    }

    &__list {
      border-top: 1px solid $nhsuk-secondary-border-colour;
      display: table;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &__item {
      display: table-cell;
      text-align: center;
    }

    &__item--mobile {
      display: none;
    }

    &__link {
      color: $nhsuk-white;
      display: block;
      font-size: 17px;
      line-height: 20px;
      padding: 16px 0;
      text-decoration: none;

      &:visited {
        color: $nhsuk-white;
      }

      &:hover {
        background: $nhsuk-blue-shade-35;
        box-shadow: none;
        color: $nhsuk-white;
        text-decoration: underline;
      }

      &:focus {
        background: $nhsuk-blue;
        box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        color: $nhsuk-white;
      }

      &:active {
        background: $nhsuk-blue-shade-50;
        box-shadow: none;
        color: $nhsuk-grey-5;
      }

      &.active {
        background: $nhsuk-blue-shade-20;
      }

    }
  }
}
