@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Links
///
/// Our basic `<a>` elements only need very minimal styling.
/// Anything more opinionated (e.g. buttons, calls-to-action, etc.) will need a
/// class defining in the Components layer.
///
/// 1. Outputs full link URL for print.
/// 2. Point unit used for print.
///
/// @group elements
////

a {
  @include nhsuk-link-style-default;

  @include nhsuk-media-query($media-type: print) {
    &::after {
      content: " (Link: " attr(href) ")"; // [1]
      color: $nhsuk-text-colour;
      font-size: inherit; // [2]
    }
  }
}

// Variant classes should always be used in conjunction with the .nhsuk-link
// class, so we do not need the common link styles as they will be inherited.

.nhsuk-link--muted {
  @include nhsuk-link-style-muted;
}

.nhsuk-link--text-colour {
  @include nhsuk-link-style-text;
}

.nhsuk-link--reverse {
  @include nhsuk-link-style-reverse;

  @include nhsuk-media-query($media-type: print) {
    &::after {
      color: currentcolor;
    }
  }
}

.nhsuk-link--no-underline {
  @include nhsuk-link-style-no-underline;
}

.nhsuk-link--no-visited-state {
  @include nhsuk-link-style-no-visited-state;
}

// Links that only contain images

.nhsuk-link-image {
  @include nhsuk-link-image;
}
