@use "../settings" as *;
@use "../tools" as *;
@use "../helpers" as *;

////
/// Page
///
/// High-level, page-level styling.
///
/// 1. The reason for this is to prevent "centering jumps" when navigating back
///    and forth between pages with enough content to have a vertical scroll bar
///    and pages that do not.
/// 3. Override the user agent style margin of 8px.
/// 4. Ensure the page always fills at least the entire height of the viewport.
/// 5. On iOS, set font to -apple-system-body to support system level dynamic
///    type for a11y, overriding with fallback font to not use iOS system font-family.
///    font-size-adjust is used to normalise the default size back to our standard.
/// @group elements
////

html {
  overflow-y: scroll; // [1]
  background-color: $nhsuk-template-background-colour;

  // Prevent automatic text sizing, as we already cater for small devices and
  // would like the browser to stay on 100% text zoom by default.
  text-size-adjust: 100%;

  @supports (font: -apple-system-body) and (-webkit-touch-callout: default) {
    & {
      // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
      font: -apple-system-body; // [5]
    }
  }

  @include nhsuk-typography-common;
}

body {
  min-height: 100%; // [4]
  margin: 0; // [3]
  background-color: $nhsuk-body-background-colour;

  // Set the overall text colour, including a suitable override for print.
  @include nhsuk-text-colour;
}
