@use "sass:math";
@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;

////
/// Footer component
///
/// @group components
////

.nhsuk-footer {
  background-color: nhsuk-colour("grey-4");
  border-top: $nhsuk-border-width solid nhsuk-colour("blue");

  @include nhsuk-print-hide;
  @include nhsuk-responsive-padding(5, bottom);
  @include nhsuk-responsive-padding(5, top);
}

.nhsuk-footer__heading {
  margin-bottom: nhsuk-spacing(2);
}

.nhsuk-footer__list {
  list-style-type: none;
  margin-bottom: nhsuk-spacing(4);
  padding: 0;
}

.nhsuk-footer__list-item {
  @include nhsuk-font(16);
}

.nhsuk-footer__list-item-link,
.nhsuk-footer__list-item-link:visited {
  color: nhsuk-colour("dark-blue");
}

.nhsuk-footer__meta {
  .nhsuk-footer__navigation + & {
    border-top: 1px solid nhsuk-colour("grey-3");

    @include nhsuk-responsive-padding(4, top);
  }

  .nhsuk-footer__list-item {
    @include nhsuk-media-query($from: desktop) {
      display: inline-block;
      margin-right: $nhsuk-gutter;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}
