{% from 'components/header/macro.njk' import header %}
{% from 'components/footer/macro.njk' import footer %}

<!DOCTYPE html>
<html lang="en" style="{{ html_style }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{{ title }} - NHS.UK frontend</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    <link href="{{ baseUrl }}assets/nhsuk.css" rel="stylesheet">

    <script src="{{ baseUrl }}assets/nhsuk.js" defer></script>

    <link rel="shortcut icon" href="{{ baseUrl }}assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ baseUrl }}assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="{{ baseUrl }}assets/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="{{ baseUrl }}assets/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="{{ baseUrl }}assets/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="{{ baseUrl }}assets/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="{{ baseUrl }}assets/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="{{ baseUrl }}assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="{{ baseUrl }}assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://nhsuk.github.io/nhsuk-frontend/">
    <meta property="og:title" content="NHS.UK frontend library">
    <meta property="og:description" content="Code you need to start building accessible user interfaces for NHS websites and services.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ baseUrl }}assets/logos/open-graph.png">
    <meta property="og:image:alt" content="NHS">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
  </head>

  <body class="{{ body_class }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      {% block header %}{% endblock %}

      {% block body %}{% endblock %}

      {% block footer %}{% endblock %}
  </body>
</html>
