{% extends 'template.njk' %}
{% block pageTitle %}{{ title }} - NHS.UK Frontend{% endblock %}

{% block head %}
  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
  <link href="{{ baseUrl }}stylesheets/nhsuk-{{ version }}.min.css" rel="stylesheet">
  <script src="{{ baseUrl }}javascripts/nhsuk-{{ version }}.min.js" defer></script>
{% endblock %}
