{% from 'components/header/macro.njk' import header %}
{% from 'components/footer/macro.njk' import footer %}
{% from 'components/skip-link/macro.njk' import skipLink %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/card/macro.njk' import card %}
{% from 'components/contents-list/macro.njk' import contentsList %}
{% from 'components/details/macro.njk' import details %}
{% from 'components/header/macro.njk' import header %}
{% from 'components/hero/macro.njk' import hero %}
{% from 'components/footer/macro.njk' import footer %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/images/macro.njk' import image %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/pagination/macro.njk' import pagination %}
{% from 'components/skip-link/macro.njk' import skipLink %}
{% from 'components/tables/macro.njk' import table %}
{% from 'components/warning-callout/macro.njk' import warningCallout %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'components/button/macro.njk' import button %}
{% from 'components/checkboxes/macro.njk' import checkboxes %}
{% from 'components/date-input/macro.njk' import dateInput %}
{% from 'components/error-message/macro.njk' import errorMessage %}
{% from 'components/error-summary/macro.njk' import errorSummary %}
{% from 'components/fieldset/macro.njk' import fieldset %}
{% from 'components/hint/macro.njk' import hint %}
{% from 'components/input/macro.njk' import input %}
{% from 'components/label/macro.njk' import label %}
{% from 'components/radios/macro.njk' import radios %}
{% from 'components/select/macro.njk' import select %}
{% from 'components/summary-list/macro.njk' import summaryList %}
{% from 'components/textarea/macro.njk' import textarea %}

{% extends 'layout.njk' %}

{% block header %}
  {{ skipLink({
    "URL": "#maincontent",
    "heading": "Skip to main content"
  }) }}

  {{ header({
    "showNav": "false",
    "showSearch": "false",
    "homeHref": baseUrl
    })
  }}
{% endblock %}


{% block body %}

  {% block breadcrumb %}{% endblock %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% block heading %}{% endblock %}
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {% block fullWidthContent %}{% endblock %}
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% block content %}{% endblock %}
        </div>
      </div>

    </main>
  </div>

{% endblock %}

{% block footer %}

  {{ footer({
    "links": [
      {
        "URL": baseUrl,
        "label": "NHS.UK frontend"
      },
      {
        "URL": baseUrl + "pages/install.html",
        "label": "Install"
      },
      {
        "URL": baseUrl + "pages/examples.html",
        "label": "Examples"
      },
      {
        "URL": baseUrl + "pages/about.html",
        "label": "About"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-frontend",
        "label": "GitHub"
      }
    ]
  })}}

{% endblock %}
