


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - </title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="https://www.nhs.uk" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo-white.png" xlink:href=""></image>
        </svg>
        
      </a>
    </div>

    

      

    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="contents-list">Contents list</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/161">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="contents-list">Contents list</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/contents-list.html">Preview the contents list component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;nav class=&quot;nhsuk-contents-list&quot; role=&quot;navigation&quot; aria-label=&quot;Pages in this guide&quot;&gt;
  &lt;h2 class=&quot;nhsuk-u-visually-hidden&quot;&gt;Contents&lt;/h2&gt;
  &lt;ol class=&quot;nhsuk-contents-list__list&quot;&gt;
    &lt;li class=&quot;nhsuk-contents-list__item&quot; aria-current=&quot;page&quot;&gt;
      &lt;span class=&quot;nhsuk-contents-list__current&quot;&gt;What is AMD?&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-contents-list__item&quot;&gt;
      &lt;a class=&quot;nhsuk-contents-list__link&quot; href=&quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/symptoms/&quot;&gt;Symptoms&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-contents-list__item&quot;&gt;
      &lt;a class=&quot;nhsuk-contents-list__link&quot; href=&quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/&quot;&gt;Getting diagnosed&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-contents-list__item&quot;&gt;
      &lt;a class=&quot;nhsuk-contents-list__link&quot; href=&quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/&quot;&gt;Treatments&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-contents-list__item&quot;&gt;
      &lt;a class=&quot;nhsuk-contents-list__link&quot; href=&quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/&quot;&gt;Living with AMD&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/contents-list/macro.njk&#39; import contentsList %}

{{ contentsList({
  items: [
    {
      href: &quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/&quot;,
      text: &quot;What is AMD?&quot;,
      current: &quot;true&quot;
    },
    {
      href: &quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/symptoms/&quot;,
      text: &quot;Symptoms&quot;
    },
    {
      href: &quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/&quot;,
      text: &quot;Getting diagnosed&quot;
    }
    ,
    {
      href: &quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/&quot;,
      text: &quot;Treatments&quot;
    }
    ,
    {
      href: &quot;https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/&quot;,
      text: &quot;Living with AMD&quot;
    }
  ]
}) }}</code></pre><h2 id="nunjucks-arguments">Nunjucks arguments</h2>
<p>The contents list Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>items</strong></td>
<td>array</td>
<td>Yes</td>
<td>Array of items in the contents list.</td>
</tr>
<tr>
<td><strong>items.[].href</strong></td>
<td>string</td>
<td>Yes</td>
<td>Href value of an item in the contents list.</td>
</tr>
<tr>
<td><strong>items.[].text</strong></td>
<td>string</td>
<td>Yes</td>
<td>Text value of an item in the contents llst.</td>
</tr>
<tr>
<td><strong>current</strong></td>
<td>boolean</td>
<td>No</td>
<td>Current active page in the contents list.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes content list container. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to items in the list.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
