{% extends 'includes/site-layout.html' %}

{% block body %}
    <div class="nhsuk-o-width-container-fluid">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-page-heading">
                        {% block header %}{% endblock %}
                    </div>
                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter nhsuk-sticky">
                    <div class="nhsuk-page-nav">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
                    <div class="nhsuk-page-content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
