/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.nhsuk-footer {
  background-color: $colour_nhsuk-blue;
  color: $colour_nhsuk-white;

  @include mq($media-type: print) {
    display: none;
  }

}

.nhsuk-logo {
  border: 0;
  height: 40px;
  max-width: 100%;
  vertical-align: middle;
  width: 99px;
}

.nhsuk-footer__logo {
  padding-bottom: nhsuk-spacing(3);

  @include mq($from: tablet) {
    padding-bottom: nhsuk-spacing(0);
  }

  a {
    display: block;
    height: 40px;
    width: 99px;

    .visually-hidden {
      top: -9999px; // Moves outline on iOS off screen
    }

    &:hover {
      box-shadow: 0 0 0 4px $colour_shade_nhsuk-blue-35;
    }

  }

}

.nhsuk-footer__list {
  list-style-type: none;
  margin: 0;
  padding-bottom: nhsuk-spacing(4);
  padding-left: nhsuk-spacing(0);
  padding-top: nhsuk-spacing(4);

  &:last-child {
    border-top: 1px solid $nhsuk-secondary-border-colour;
  }

}

.nhsuk-footer__list-item {
  @include nhsuk-font(16);

  @include mq($from: tablet) {
    display: inline-block;
    margin-bottom: 0;
    padding-right: nhsuk-spacing(4);
  }

}

.nhsuk-footer__list-item-link {
  @include nhsuk-link-style-white;
}
