/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.nhsuk-footer {
  @include clearfix();
  @include print-hide();
  @include nhsuk-responsive-padding(5, bottom);
  @include nhsuk-responsive-padding(5, top);

  background-color: $color_nhsuk-grey-4;
  border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
  border-bottom: 10px solid $color_nhsuk-grey-1;
}

.nhsuk-footer__list {
  @include nhsuk-responsive-padding(4, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: nhsuk-spacing(0);

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    width: 75%;
  }
}

.nhsuk-footer__list-item {
  @include nhsuk-font(16);

  @include mq($from: desktop) {
    float: left;
    margin-right: nhsuk-spacing(5);
  }
}

.nhsuk-footer__list-item-link {
  color: $nhsuk-secondary-text-color;

  &:visited {
    color: $nhsuk-secondary-text-color;
  }

  &:hover {
    color: $nhsuk-text-color;
  }
}

.nhsuk-footer__copyright {
  @include nhsuk-font(16);

  color: $nhsuk-secondary-text-color;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}

.beta-nhsuk-footer {
  background-color: $color_nhsuk-grey-4;
  // border-top: nhsuk-spacing(1) solid $color_nhsuk-blue;
  margin-bottom: 15px;

  @include mq($from: desktop) {
    display: flex;
  }
}

.beta-nhsuk-footer__list {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 15px;
  }

  @include mq($from: desktop) {
    padding-right: 40px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.beta-nhsuk-footer__list-policies {
  @include mq($until: desktop) {
    border-top: 1px solid #f0f4f5;
    padding-top: 35px;
  }
}

.beta-nhsuk-footer__list-item {
  @include mq($from: desktop) {
    float: none;
    margin-right: 0;
  }
}

$beta-link-aaa: rgb(0, 48, 135);
$beta-copyright-aaa: rgb(35, 31, 32);

.beta-nhsuk-footer__list .beta-nhsuk-footer__list-item-link {
  color: $beta-link-aaa;

  &:hover {
    color: $nhsuk-link-hover-color;
    text-decoration: none;
  }
}

.beta-nhsuk-footer__copyright {
  @include nhsuk-font(16);
  color: $beta-copyright-aaa;
  margin-bottom: 0;
}
