


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - </title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/favicon.png" rel="icon">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  <header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="https://www.nhs.uk" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
        
      </a>
    </div>

    

      

    </div>

    

    

    

    

</header>



      

  

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="nav-a-z">Nav A-Z</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/186">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="nav-a-z">Nav A-Z</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/nav-a-z.html">Preview the nav a-z component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;nav class=&quot;nhsuk-nav-a-z&quot; id=&quot;nhsuk-nav-a-z&quot; role=&quot;navigation&quot; aria-label=&quot;A to Z Navigation&quot;&gt;
  &lt;ol class=&quot;nhsuk-nav-a-z__list&quot; role=&quot;list&quot;&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#A&quot;&gt;A&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;span class=&quot;nhsuk-nav-a-z__link--disabled&quot;&gt;B&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#C&quot;&gt;C&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#D&quot;&gt;D&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#E&quot;&gt;E&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#F&quot;&gt;F&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#G&quot;&gt;G&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#H&quot;&gt;H&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#I&quot;&gt;I&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#J&quot;&gt;J&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#K&quot;&gt;K&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#L&quot;&gt;L&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#M&quot;&gt;M&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#N&quot;&gt;N&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#O&quot;&gt;O&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#P&quot;&gt;P&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#Q&quot;&gt;Q&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#R&quot;&gt;R&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#S&quot;&gt;S&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#T&quot;&gt;T&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#U&quot;&gt;U&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#V&quot;&gt;V&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#W&quot;&gt;W&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#X&quot;&gt;X&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#Y&quot;&gt;Y&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;nhsuk-nav-a-z__item&quot;&gt;
      &lt;a class=&quot;nhsuk-nav-a-z__link&quot; href=&quot;#Z&quot;&gt;Z&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/nav-a-z/macro.njk&#39; import azNav %}

{{ azNav({
  items: [
    {
      label: &quot;A&quot;
    },
    {
      disable: &quot;true&quot;,
      label: &quot;B&quot;
    },
    {
      label: &quot;C&quot;
    },
    {
      label: &quot;D&quot;
    },
    {
      label: &quot;E&quot;
    },
    {
      label: &quot;F&quot;
    },
    {
      label: &quot;G&quot;
    },
    {
      label: &quot;H&quot;
    },
    {
      label: &quot;I&quot;
    },
    {
      label: &quot;J&quot;
    },
    {
      label: &quot;K&quot;
    },
    {
      label: &quot;L&quot;
    },
    {
      label: &quot;M&quot;
    },
    {
      label: &quot;N&quot;
    },
    {
      label: &quot;O&quot;
    },
    {
      label: &quot;P&quot;
    },
    {
      label: &quot;Q&quot;
    },
    {
      label: &quot;R&quot;
    },
    {
      label: &quot;S&quot;
    },
    {
      label: &quot;T&quot;
    },
    {
      label: &quot;U&quot;
    },
    {
      label: &quot;V&quot;
    },
    {
      label: &quot;W&quot;
    },
    {
      label: &quot;X&quot;
    },
    {
      label: &quot;Y&quot;
    },
    {
      label: &quot;Z&quot;
    }
  ]
}) }}</code></pre><h4 id="nunjucks-arguments">Nunjucks arguments</h4>
<p>The nav a-z Nunjucks macro takes the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>items</strong></td>
<td>array</td>
<td>Yes</td>
<td>Array of navigation items.</td>
</tr>
<tr>
<td><strong>items.[].label</strong></td>
<td>string</td>
<td>Yes</td>
<td>The label of the item in the navigation.</td>
</tr>
<tr>
<td><strong>items.[].disable</strong></td>
<td>boolean</td>
<td>No</td>
<td>If set to true, then the navigation item will not be within an anchor element.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the nav a-z. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the nav a-z.</td>
</tr>
</tbody></table>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK frontend</a></li>
        
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown Copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
