.ie9 {

  .nhsuk-global-header__logo {
    a {
      img {
        border: 0;
      }
    }
  }

  .c-search-menu {
    display: none !important; // sass-lint:disable-line no-important
  }

  @include mq($until: tablet) {

    .nhsuk-global-header {

      .search-container {
        &.js-show {
          display: block;
        }
      }

      .c-search {
        float: left;
        width: 85%;
      }

      .search-close {
        float: left;
        width: 15%;
      }

      .c-search__input {
        float: left;
        margin-bottom: 15px;
        width: 78%;
      }

      .c-search__submit {
        float: left;
        height: 52px;
      }

    }

  }

}
