// sass-lint:disable no-important

/* Temporary print stylesheet
   Refactor into individual components 
*/

@include mq($media-type: print) {

  .nhsuk-global-header__menusearch,
  .c-nav-primary,
  .nhsuk-c-breadcrumb,
  .nhsuk-page-nav,
  .nhsuk-global-footer {
    display: none;
  }

  .nhsuk-page-heading {
    padding: 0;
  }


  .nhsuk-c-care-card__heading,
  .nhsuk-c-care-card__content,
  .nhsuk-c-panel h3 { // sass-lint:disable-line force-element-nesting
    color: $nhsuk-black !important;
  }

  .nhsuk-c-care-card__heading,
  .nhsuk-c-care-card__content {
    padding: 10px !important;
  }

  .nhsuk-c-care-card__heading {
    padding-bottom: 0 !important;
    &:after {
      display: none !important;
    }
  }

  .nhsuk-c-panel {
    border: 1px solid $nhsuk-black;
    margin: 40px 0 !important;
    padding: 10px !important;
    .list--check,
    .list--cross {
      padding-left: 0 !important;
    }
  }

  .nhsuk-c-care-card {
    border: 6px solid $nhsuk-black;
    margin: 40px 0 !important;
    .nhsuk-c-care-card__content {
      padding-top: 0;
    }
  }

  .nhsuk-o-grid__item--one-half {
    float: left;
    width: percentage(1 / 2) !important;
  }

  .nhsuk-o-grid__item--one-third {
    float: left;
    width: percentage(1 / 3) !important;
  }

  .nhsuk-o-grid__item--two-thirds {
    float: left;
    width: percentage(2 / 3) !important;
  }

  .nhsuk-o-grid__item--one-quarter {
    float: left;
    width: percentage(1 / 4) !important;
  }

  .nhsuk-o-grid__item--three-quarters {
    float: left;
    width: percentage(3 / 4) !important;
  }

}
