// IE10/11 hacks
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .nhsuk-global-header {

    .nhsuk-global-header__search,
    .c-search__container {
      display: -ms-flexbox;
    }

    .search-container {
      &.js-show {
        display: -ms-flexbox;
      }
    }

    @include mq($from: tablet) {

      .twitter-typeahead {
        width: auto;
      }

    }

    @include mq($until: tablet) {

      .c-search {
        -ms-flex-positive: 2;
      }

      .c-search__input {
        -ms-flex-positive: 2;
      }

    }

  }

  @include mq($from: large-desktop) {

    .c-nav-primary__list {
      -ms-flex-pack: justify;
      display: -ms-flexbox;
    }

    .c-nav-primary__item {
      text-align: left;
    }

  }

}
