// dirty IE10/11 hack to show png icons as they can't handle data uri background image
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // sass-lint:disable-line no-vendor-prefixes

  @include mq($from: tablet) {

    .nhsuk-global-header__search {
      .c-search__submit {
        background-image: url(/images/icon-search-blue-20px.png);

        &:hover {
          background-image: url(/images/icon-search-white-20px.png);
        }

      }
    }

  }

  @include mq($until: tablet) {

    .nhsuk-global-header {

      .c-search__input {
        width: 80%;
      }

      .search-close__link {
        background-image: url(/images/icon-close-blue-24px.png);

        &:hover {
          background-image: url(/images/icon-close-darkblue-24px.png);
        }

      }

      .nhsuk-global-header__search {
        .c-search__submit {
          background-image: url(/images/icon-search-white-28px.png);
        }
        .search-toggle__button {
          background-image: url(/images/icon-search-white-16px.png);
        }
      }

    }

    .c-nav-primary__title {
      .c-nav-primary__close-link {
        background-image: url(/images/icon-close-blue-24px.png);

        &:hover {
          background-image: url(/images/icon-close-darkblue-24px.png);
        }

      }
    }

  }

  @include mq($until: large-desktop) {

    .c-nav-primary__title {
      .c-nav-primary__close-link {
        background-image: url(/images/icon-close-blue-24px.png);

        &:hover {
          background-image: url(/images/icon-close-darkblue-24px.png);
        }

      }
    }

    .c-nav-primary__link {
      background-image: url(/images/icon-chevron-right-grey-10px.png);
      background-position: 96%;

      &:focus {
        background-image: url(/images/icon-chevron-right-grey-10px.png);
        background-position: 96%;
      }

      &:hover,
      &:active {
        background-image: url(/images/icon-chevron-right-white-10px.png);
        background-position: 96%;
      }
    }

  }

  .ui-menu-item {
    background-image: url(/images/icon-search-grey-16px.png);
  }

}
