// IE10/11 hacks
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .nhsuk-global-header {

    .nhsuk-global-header__search,
    .c-search__container {
      display: -ms-flexbox;
    }

    .search-container {
      &.js-show {
        display: -ms-flexbox;
      }
    }

    @include mq($from: tablet) {

      .twitter-typeahead {
        width: auto;
      }

    }

    @include mq($until: tablet) {

      .c-search {
        -ms-flex-positive: 2;
      }

      .c-search__input {
        -ms-flex-positive: 2;
      }

    }

  }

  @include mq($from: large-desktop) {

    .c-nav-primary__list {
      -ms-flex-pack: justify;
      display: -ms-flexbox;
    }

    .c-nav-primary__item {
      text-align: left;
    }

  }

}

.nhsuk-o-flex {
  display: flex;
  flex-wrap: wrap;
  .nhsuk-o-grid__item {
    display: flex;
  }
}

.nhsuk-h-margin-top-0 {
  margin-top: 0;
}

@include mq($until: grid-collapse) {
  .nhsuk-o-flex {
    .nhsuk-o-grid__item {
      flex: 0 0 100%;
    }
  }
}

@include mq($until: grid-collapse) {
  .nhsuk-c-promo {
    &.nhsuk-h-margin-top-0 {
      margin-bottom: 28px;
    }
  }
}
