// Settings
@import 'globals/settings/colours';

.lte-ie8 {

  .nhsuk-global-header__menu,
  .search-toggle,
  .c-nav-primary__title,
  .search-close,
  .c-search-menu {
    display: none !important; // sass-lint:disable-line no-important
  }

  .nhsuk-global-header,
  .nhsuk-global-nav,
  .nhsuk-global-footer {
    .nhsuk-o-width-container {
      margin: 0 auto;
    }
  }

  .c-search {
    margin-top: 20px;
  }

  .c-search__input {
    background: $nhsuk-white !important; // sass-lint:disable-line no-important
    height: 100%;
    padding: 5px;
  }

  .c-nav-primary {

    .nhsuk-global-nav {
      background: $nhsuk-blue;
    }

    &__list  {
      border-top: 1px solid $nhsuk-secondary-border-colour;
      display: table;
      list-style: none;
      margin: 0;
      padding: 0 0 14px;
      width: 100%;
    }

    &__item {
      display: inline;
      padding: 10px;
      text-align: center;

      &--mobile {
        display: none;
      }
    }

    &__link {
      color: $nhsuk-white;
      font-size: 17px;
      line-height: 20px;
      padding: 16px 15px;
      text-decoration: none;

      .nhsuk-icon,
      img {
        display: none;
      }

      &:visited {
        color: $nhsuk-white;
      }

      &:hover {
        background: $nhsuk-blue-shade-35;
        box-shadow: none;
        color: $nhsuk-white;
        text-decoration: underline;
      }

      &:focus {
        background: $nhsuk-blue;
        box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        color: $nhsuk-white;
      }

      &:active,
      &:focus:active, // sass-lint:disable-line force-pseudo-nesting
      &:focus-within {
        background: $nhsuk-blue-shade-50;
        box-shadow: none;
        color: $nhsuk-grey-5;
      }

      &.active {
        background: $nhsuk-blue-shade-20;
      }
    }
  }

  .nhsuk-page-nav {
    margin-bottom: 20px;
  }

  /* breadcrumbs */
  .nhsuk-c-breadcrumb {
    padding-top: 0;
  }

  .nhsuk-c-breadcrumb__back {
    display: none;
  }

  .nhsuk-c-breadcrumb__item {
    display: inline;
  }

  .nhsuk-icon__chevron-right--fallback {
    height: 12px;
    margin: 0 5px;
    top: -3px;
    width: 10px;
  }

  .nhsuk-global-footer {
    ul {
      min-height: 0;
      padding: 25px 0;

      &:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
      }

      &:first-child {
        border-bottom: 1px solid #337ec6; // sass-lint:disable-line no-color-hex no-color-literals
      }

      li {
        float: left;
        margin-right: 25px;
        margin-top: 8px;

        &.nhsuk-global-footer__logo {
          margin-top: 0;
        }

      }
    }
  }

}
