// Settings
@import 'core/common';

// Components
@import 'components/header/header';
@import 'components/navigation/navigation';
@import 'components/breadcrumbs/breadcrumbs';
@import 'components/footer/footer';
@import 'components/callout/callout';
@import 'components/inset-text/inset-text';
@import 'components/action-link/action-link';
@import 'components/care-card/care-card';
@import 'components/images/images';
@import 'components/review-date/review-date';
@import 'patterns/health-a-z/health-a-z';
@import 'components/hero/hero';
@import 'components/promo/promo';
@import 'components/tables/tables';
@import 'components/page-navigation/page-navigation';
@import 'ie-9';
@import 'shame';
@import 'print';
