{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Breadcrumb' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ breadcrumb({
              items: [
                {
                  href: "#",
                  text: "Level one",
                  attributes: {lang: "en"}
                },
                {
                  href: "#",
                  text: "Level two"
                },
                {
                  href: "#",
                  text: "Level three",
                  attributes: {lang: "en"}
                }
              ],
              href: "#",
              text: "Level four",
              classes: "example-class-one example-class-two",
              attributes: {lang: "en"}
            }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}

{% block heading %}
  <h1 class="govuk-heading-l">Page title</h1>
{% endblock %}
