<!DOCTYPE html>
  <html lang="en" style="background-color: #f0f4f5;">
  <head>
    <meta charset="utf-8">
    <title>Warning callout - NHS.UK Frontend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

      <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
      <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
      <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
      <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
      <meta name="msapplication-TileColor" content="#005eb8">
      <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
      <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
      <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" rel="preload" as="font" crossorigin>
  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" rel="preload" as="font" crossorigin>
  <link href="/nhsuk-frontend/stylesheets/nhsuk-9.4.1.min.css" rel="stylesheet">
  <script src="/nhsuk-frontend/javascripts/nhsuk-9.4.1.min.js" defer></script>
  </head>

  <body >
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>



        <div class="nhsuk-width-container">
          <main class="nhsuk-main-wrapper" id="maincontent">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">    Important<span class="nhsuk-u-visually-hidden">:</span>  </h3>
  <p>If you develop symptoms of anaphylaxis, such as difficulty breathing, you should inject yourself in the outer thigh before seeking emergency medical help.</p>
</div>

    </div>
  </div>
          </main>
        </div>


  </body>
</html>
