


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style="background-color: #f0f4f5;"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - Radios with a divider</title>

    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
    <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
    <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

    <link rel="stylesheet" href="/nhsuk-frontend/assets/nhsuk.css">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>
    <script src="/nhsuk-frontend/assets/libraries/jquery.min.js"></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      

      

  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          





  

  

  

  
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
  
  <legend class="nhsuk-fieldset__legend">
    How do you want to sign in?
  </legend>
  

  <div class="nhsuk-radios">
    
    
    
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-divider-1" name="example" type="radio" value="government-gateway">
      <label class="nhsuk-label nhsuk-radios__label" for="example-divider-1">
        Use Government Gateway
      </label>
    </div>
    
    
    
    
    
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-divider-2" name="example" type="radio" value="nhsuk-login">
      <label class="nhsuk-label nhsuk-radios__label" for="example-divider-2">
        Use NHS.UK Login
      </label>
    </div>
    
    
    
    
    
    <div class="nhsuk-radios__divider">or</div>
    
    
    
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="example-divider-4" name="example" type="radio" value="create-account">
      <label class="nhsuk-label nhsuk-radios__label" for="example-divider-4">
        Create an account
      </label>
    </div>
    
    
    
  </div>
  </fieldset>


</div>

        </div>
      </div>

    </main>
  </div>



      
  </body>
</html>
