


<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en" style=""><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>NHS.UK frontend - </title>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <link href="/nhsuk-frontend/assets/nhsuk.css" rel="stylesheet">

    <script src="/nhsuk-frontend/assets/nhsuk.js" defer></script>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link href="/nhsuk-frontend/assets/favicons/favicon.png" rel="icon">
  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      
  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>


  



<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="https://www.nhs.uk" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>

    </div>

    </header>



      

  

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
  
    <h1 id="radios">Radios</h1>
<p>To discuss or contribute to this component, visit the <a href="https://github.com/nhsuk/nhsuk-frontend/issues/224">GitHub issue for this component</a>.</p>
<h2 id="quick-start-examples">Quick start examples</h2>
<h3 id="radios">Radios</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/index.html">Preview the radios component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;example-hint&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      Have you changed your name?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;example-hint&quot;&gt;
    This includes changing your last name or spelling your name differently.
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-radios&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-1&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;yes&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-1&quot;&gt;
        Yes
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-2&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;no&quot; checked&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-2&quot;&gt;
        No
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;example&quot;,
  &quot;name&quot;: &quot;example&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;Have you changed your name?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;This includes changing your last name or spelling your name differently.&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;yes&quot;,
      &quot;text&quot;: &quot;Yes&quot;
    },
    {
      &quot;value&quot;: &quot;no&quot;,
      &quot;text&quot;: &quot;No&quot;,
      &quot;checked&quot;: true
    }
  ]
}) }}</code></pre><h3 id="radios-inline">Radios inline</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/inline.html">Preview the radios inline component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;example-hint&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      Have you changed your name?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;example-hint&quot;&gt;
    This includes changing your last name or spelling your name differently.
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-radios nhsuk-radios--inline&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-1&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;yes&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-1&quot;&gt;
        Yes
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-2&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;no&quot; checked&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-2&quot;&gt;
        No
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;example&quot;,
  &quot;classes&quot;: &quot;nhsuk-radios--inline&quot;,
  &quot;name&quot;: &quot;example&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;Have you changed your name?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;This includes changing your last name or spelling your name differently.&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;yes&quot;,
      &quot;text&quot;: &quot;Yes&quot;
    },
    {
      &quot;value&quot;: &quot;no&quot;,
      &quot;text&quot;: &quot;No&quot;,
      &quot;checked&quot;: true
    }
  ]
}) }}</code></pre><h3 id="radios-disabled">Radios disabled</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/disabled.html">Preview the radios disabled component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot; aria-describedby=&quot;example-disabled-hint&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      Have you changed your name?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;example-disabled-hint&quot;&gt;
    This includes changing your last name or spelling your name differently.
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-radios&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-disabled-1&quot; name=&quot;example-disabled&quot; type=&quot;radio&quot; value=&quot;yes&quot; disabled&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-disabled-1&quot;&gt;
        Yes
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-disabled-2&quot; name=&quot;example-disabled&quot; type=&quot;radio&quot; value=&quot;no&quot; disabled&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-disabled-2&quot;&gt;
        No
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;example-disabled&quot;,
  &quot;name&quot;: &quot;example-disabled&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;Have you changed your name?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;This includes changing your last name or spelling your name differently.&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;yes&quot;,
      &quot;text&quot;: &quot;Yes&quot;,
      &quot;disabled&quot;: true
    },
    {
      &quot;value&quot;: &quot;no&quot;,
      &quot;text&quot;: &quot;No&quot;,
      &quot;disabled&quot;: true
    }
  ]
}) }}</code></pre><h3 id="radios-with-a-divider">Radios with a divider</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/divider.html">Preview the radios with a divider component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      How do you want to sign in?
    &lt;/legend&gt;
    &lt;div class=&quot;nhsuk-radios&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-divider-1&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;government-gateway&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-divider-1&quot;&gt;
        Use Government Gateway
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-divider-2&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;nhsuk-login&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-divider-2&quot;&gt;
        Use NHS.UK login
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__divider&quot;&gt;or&lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-divider-4&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;create-account&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-divider-4&quot;&gt;
        Create an account
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;example-divider&quot;,
  &quot;name&quot;: &quot;example&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;How do you want to sign in?&quot;
    }
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;government-gateway&quot;,
      &quot;text&quot;: &quot;Use Government Gateway&quot;
    },
    {
      &quot;value&quot;: &quot;nhsuk-login&quot;,
      &quot;text&quot;: &quot;Use NHS.UK login&quot;
    },
    {
      &quot;divider&quot;: &quot;or&quot;
    },
    {
      &quot;value&quot;: &quot;create-account&quot;,
      &quot;text&quot;: &quot;Create an account&quot;
    }
  ]
}) }}</code></pre><h3 id="radios-with-hint-text-on-items">Radios with hint text on items</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/hint.html">Preview the radios with hint text on items component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      &lt;h1 class=&quot;nhsuk-fieldset__heading&quot;&gt;
        How do you want to sign in?
      &lt;/h1&gt;
    &lt;/legend&gt;
    &lt;div class=&quot;nhsuk-radios&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;gov-1&quot; name=&quot;gov&quot; type=&quot;radio&quot; value=&quot;gateway&quot; aria-describedby=&quot;gov-1-item-hint&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;gov-1&quot;&gt;
        Sign in with Government Gateway
        &lt;/label&gt;
        &lt;span class=&quot;nhsuk-hint nhsuk-radios__hint&quot; id=&quot;gov-1-item-hint&quot;&gt;
        You&amp;#39;ll have a user ID if you&#39;ve registered for self-assessment or filed a tax return online before.
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;gov-2&quot; name=&quot;gov&quot; type=&quot;radio&quot; value=&quot;verify&quot; aria-describedby=&quot;gov-2-item-hint&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;gov-2&quot;&gt;
        Sign in with NHS.UK login
        &lt;/label&gt;
        &lt;span class=&quot;nhsuk-hint nhsuk-radios__hint&quot; id=&quot;gov-2-item-hint&quot;&gt;
        You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.
        &lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;gov&quot;,
  &quot;name&quot;: &quot;gov&quot;,
  &quot;fieldset&quot;: {
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;How do you want to sign in?&quot;,
      &quot;isPageHeading&quot;: true
    }
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;gateway&quot;,
      &quot;text&quot;: &quot;Sign in with Government Gateway&quot;,
      &quot;hint&quot;: {
        &quot;text&quot;: &quot;You&#39;ll have a user ID if you&#39;ve registered for self-assessment or filed a tax return online before.&quot;
      }
    },
    {
      &quot;value&quot;: &quot;verify&quot;,
      &quot;text&quot;: &quot;Sign in with NHS.UK login&quot;,
      &quot;hint&quot;: {
        &quot;text&quot;: &quot;You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.&quot;
      }
    }
  ]
}) }}</code></pre><h3 id="radios-without-fieldset">Radios without fieldset</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/without-fieldset.html">Preview the radios without fieldset component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group&quot;&gt;
  &lt;div class=&quot;nhsuk-radios&quot;&gt;
    &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
      &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;colours-1&quot; name=&quot;colours&quot; type=&quot;radio&quot; value=&quot;red&quot;&gt;
      &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;colours-1&quot;&gt;
      Red
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
      &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;colours-2&quot; name=&quot;colours&quot; type=&quot;radio&quot; value=&quot;green&quot;&gt;
      &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;colours-2&quot;&gt;
      Green
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
      &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;colours-3&quot; name=&quot;colours&quot; type=&quot;radio&quot; value=&quot;blue&quot;&gt;
      &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;colours-3&quot;&gt;
      Blue
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;name&quot;: &quot;colours&quot;,
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;red&quot;,
      &quot;text&quot;: &quot;Red&quot;
    },
    {
      &quot;value&quot;: &quot;green&quot;,
      &quot;text&quot;: &quot;Green&quot;
    },
    {
      &quot;value&quot;: &quot;blue&quot;,
      &quot;text&quot;: &quot;Blue&quot;
    }
  ]
}) }}</code></pre><h3 id="radios-with-hint-text-and-error-message">Radios with hint text and error message</h3>
<p><a href="https://nhsuk.github.io/nhsuk-frontend/components/radios/hint-error.html">Preview the radios with hint text and error message component</a></p>
<h3 id="html-markup">HTML markup</h3>
<pre><code class="language-html">&lt;div class=&quot;nhsuk-form-group nhsuk-form-group--error&quot;&gt;
  &lt;fieldset class=&quot;nhsuk-fieldset app-fieldset--custom-modifier&quot; aria-describedby=&quot;example-hint example-error&quot; data-attribute=&quot;value&quot; data-second-attribute=&quot;second-value&quot;&gt;
    &lt;legend class=&quot;nhsuk-fieldset__legend&quot;&gt;
      Have you changed your name?
    &lt;/legend&gt;
    &lt;span class=&quot;nhsuk-hint&quot; id=&quot;example-hint&quot;&gt;
    This includes changing your last name or spelling your name differently.
    &lt;/span&gt;
    &lt;span id=&quot;example-error&quot; class=&quot;nhsuk-error-message&quot;&gt;
    Please select an option
    &lt;/span&gt;
    &lt;div class=&quot;nhsuk-radios&quot;&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-1&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;yes&quot;&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-1&quot;&gt;
        Yes
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class=&quot;nhsuk-radios__item&quot;&gt;
        &lt;input class=&quot;nhsuk-radios__input&quot; id=&quot;example-2&quot; name=&quot;example&quot; type=&quot;radio&quot; value=&quot;no&quot; checked&gt;
        &lt;label class=&quot;nhsuk-label nhsuk-radios__label&quot; for=&quot;example-2&quot;&gt;
        No
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
<h3 id="nunjucks-macro">Nunjucks macro</h3>
<pre><code>{% from &#39;components/radios/macro.njk&#39; import radios %}

{{ radios({
  &quot;idPrefix&quot;: &quot;example&quot;,
  &quot;name&quot;: &quot;example&quot;,
  &quot;errorMessage&quot;: {
    &quot;text&quot;: &quot;Please select an option&quot;
  },
  &quot;fieldset&quot;: {
    &quot;classes&quot;: &quot;app-fieldset--custom-modifier&quot;,
    &quot;attributes&quot;: {
      &quot;data-attribute&quot;: &quot;value&quot;,
      &quot;data-second-attribute&quot;: &quot;second-value&quot;
    },
    &quot;legend&quot;: {
      &quot;text&quot;: &quot;Have you changed your name?&quot;
    }
  },
  &quot;hint&quot;: {
    &quot;text&quot;: &quot;This includes changing your last name or spelling your name differently.&quot;
  },
  &quot;items&quot;: [
    {
      &quot;value&quot;: &quot;yes&quot;,
      &quot;text&quot;: &quot;Yes&quot;
    },
    {
      &quot;value&quot;: &quot;no&quot;,
      &quot;text&quot;: &quot;No&quot;,
      &quot;checked&quot;: true
    }
  ]
}) }}</code></pre><h2 id="nunjucks-arguments">Nunjucks arguments</h2>
<p>If you are using Nunjucks, then macros take the following arguments:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Required</th>
<th>Description</th>
</tr>
</thead>
<tbody><tr>
<td><strong>fieldset</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the fieldset component (e.g. legend). See See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/fieldset">fieldset</a> component.</td>
</tr>
<tr>
<td><strong>hint</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the hint component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/hint">hint</a> component.</td>
</tr>
<tr>
<td><strong>errorMessage</strong></td>
<td>object</td>
<td>No</td>
<td>Arguments for the errorMessage component (e.g. text). See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/error-message">error message</a> component.</td>
</tr>
<tr>
<td><strong>idPrefix</strong></td>
<td>string</td>
<td>No</td>
<td>String to prefix id for each radio item if no id is specified on each item. If<code>idPrefix</code> is not passed, fallback to using the name attribute instead.</td>
</tr>
<tr>
<td><strong>name</strong></td>
<td>string</td>
<td>Yes</td>
<td>Name attribute for each radio item.</td>
</tr>
<tr>
<td><strong>items</strong></td>
<td>array</td>
<td>Yes</td>
<td>Array of radio item objects.</td>
</tr>
<tr>
<td><strong>items.{}.text (or) items.{}.html</strong></td>
<td>string</td>
<td>Yes</td>
<td>Text or HTML to use within each radio item label. If <code>html</code> is provided, the <code>text</code> argument will be ignored.</td>
</tr>
<tr>
<td><strong>items.{}.id</strong></td>
<td>string</td>
<td>No</td>
<td>Specific id attribute for the radio item. If omitted, then <code>idPrefix</code> string will be applied.</td>
</tr>
<tr>
<td><strong>items.{}.name</strong></td>
<td>string</td>
<td>Yes</td>
<td>Specific name for the radio item. If omitted, then component global <code>name</code> string will be applied.</td>
</tr>
<tr>
<td><strong>items.{}.value</strong></td>
<td>string</td>
<td>Yes</td>
<td>Value for the radio input.</td>
</tr>
<tr>
<td><strong>items.{}.hint</strong></td>
<td>object</td>
<td>No</td>
<td>Provide optional hint to each radio item. See <a href="https://github.com/nhsuk/nhsuk-frontend/tree/master/packages/components/hint">hint</a> component.</td>
</tr>
<tr>
<td><strong>items.{}.divider</strong></td>
<td>string</td>
<td>No</td>
<td>Optional divider text to separate radio items, for example the text &quot;or&quot;.</td>
</tr>
<tr>
<td><strong>items.{}.checked</strong></td>
<td>boolean</td>
<td>No</td>
<td>If true, radio will be checked.</td>
</tr>
<tr>
<td><strong>items.{}.disabled</strong></td>
<td>boolean</td>
<td>No</td>
<td>If true, radio will be disabled.</td>
</tr>
<tr>
<td><strong>items.{}.attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the radio input tag.</td>
</tr>
<tr>
<td><strong>classes</strong></td>
<td>string</td>
<td>No</td>
<td>Optional additional classes to add to the radios container. Separate each class with a space.</td>
</tr>
<tr>
<td><strong>attributes</strong></td>
<td>object</td>
<td>No</td>
<td>Any extra HTML attributes (for example data attributes) to add to the radios container.</td>
</tr>
</tbody></table>
<h2 id="thanks-to-the-government-digital-service-gds-">Thanks to the Government Digital Service (GDS)</h2>
<p>This component and documentation has been taken from <a href="https://github.com/alphagov/govuk-frontend/tree/master/package/components/radios">GOV.UK Frontend - Radios component</a> with a few minor adaptations.</p>

  

        </div>
      </div>

    </main>
  </div>



      

  <footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend">GitHub - NHS.UK frontend</a></li>
      </ul>
      
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>



  </body>
</html>
