@use "../settings" as *;
@use "../tools" as *;

@include nhsuk-exports("nhsuk/core/objects/form-group") {
  .nhsuk-form-group {
    @include nhsuk-clearfix;
    @include nhsuk-responsive-margin(4, "bottom");

    .nhsuk-form-group:last-of-type {
      margin-bottom: 0; // Remove margin from last item in nested groups
    }
  }

  .nhsuk-form-group-row {
    display: block;

    .nhsuk-form-group {
      // Set max-width to override potential width override class on the input
      max-width: 100%;
    }

    @include nhsuk-media-query($from: tablet) {
      display: flex;
      gap: nhsuk-spacing(2);

      .nhsuk-form-group {
        flex: 0 1 auto;

        &:focus-within {
          // Hack to stop focus style being overlapped by the next group
          z-index: 1;
        }
      }
    }
  }

  .nhsuk-form-group--wrapper {
    @include nhsuk-responsive-margin(5, "bottom");
  }

  .nhsuk-form-group--error {
    padding-left: nhsuk-spacing(3);
    border-left: $nhsuk-border-width-form-group-error solid $nhsuk-error-colour;

    .nhsuk-form-group {
      padding: 0;
      // Reset error styles in nested form groups that might have error class
      border: 0;
    }
  }
}
