@use "../settings" as *;
@use "../tools" as *;

@include nhsuk-exports("nhsuk/core/objects/input-wrapper") {
  .nhsuk-input-wrapper,
  .nhsuk-input__wrapper {
    display: flex;

    .nhsuk-input {
      flex: 0 1 auto;
    }

    .nhsuk-input:focus {
      // Hack to stop focus style being overlapped by the suffix
      z-index: 1;
    }

    // Split prefix/suffix onto separate lines on narrow screens
    @include nhsuk-media-query($until: mobile) {
      display: block;

      .nhsuk-input {
        // Set max-width to override potential width override class on the input
        max-width: 100%;
      }
    }
  }
}
