// sass-lint:disable no-duplicate-properties, property-sort-order

@mixin flexbox() {
  display: flex;
}

@mixin flex($values) {
  flex:  $values;
}

@mixin justify-content($val) {
  justify-content: $val;
}

@mixin align-items($val) {
  align-items: $val;
}

@mixin align-content($val) {
  align-content: $val;
}

@mixin flex-wrap($val) {
  flex-wrap: $val;
}

@mixin flex-direction($val) {
  flex-direction: $val;
}
