@mixin clear(){
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

header{
    .nhs-global-header{
        background:$nhs-blue-aaa;
        .nhs-global-header__inner{
            .nhs-global-header__inner--logo{
                padding:20px 0;
                @include clear();
                a{
                    display:block;
                    float:left;
                    height:32px;
                    width:79px;
                    img{
                        height:32px;
                        width:79px;
                    }
                } 
            }
        } 
    }
}

