.care-card {
  margin: 56px 0;
  width: 100%;
  @media only screen and (max-width: 641px) {
    margin: 40px 0;
  }
  .care-card-heading {
    background: $nhs-blue-aaa;
    color: $white;
    padding: 16px 24px;
    position: relative;
    @media only screen and (max-width: 641px) {
      padding: 16px;
    }
    &:after {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid $nhs-blue-aaa;
      bottom: -16px;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }
  }

  .care-card-content {
    background: $white;
    padding: 36px 24px 28px;
    @media only screen and (max-width: 641px) {
      padding: 32px 16px 24px;
    }
    & > *:first-child {
      margin-top: 0;
    }
  }
  &.grey {
    .care-card-heading {
      background: $nhs-grey;
      &:after {
        border-top: 16px solid $nhs-grey;
        content: '';
      }
    }
  }
  &.blue {
    .care-card-heading {
      background: $nhs-blue-aaa;
      &:after {
        border-top: 16px solid $nhs-blue-aaa;
        content: '';
      }
    }
  }
  &.red {
    .care-card-heading {
      background: $nhs-red-aaa;
      &:after {
        border-top: 16px solid $nhs-red-aaa;
        content: '';
      }
    }
  }
  &.black {
    .care-card-heading {
      background: $nhs-red-aaa-darken-90;
      &:after {
        border-top: 16px solid $nhs-red-aaa-darken-90;
        content: '';
      }
    }
    .care-card-content {
      background: $nhs-red-aaa;
      color: $white;
    }
  }
}
