@use "sass:math";
@use "../../core/settings" as *;
@use "../../core/tools" as *;
@forward "../error-message";
@forward "../fieldset";
@forward "../hint";
@forward "../label";

////
/// Checkboxes component
///
/// @group components/checkboxes
////

$nhsuk-checkboxes-size: nhsuk-spacing(6);
$nhsuk-checkboxes-small-size: nhsuk-spacing(4);

$nhsuk-checkboxes-label-padding-left-right: 12px;
$nhsuk-checkboxes-check-horizontal-position: 12px;

@include nhsuk-exports("nhsuk/components/checkboxes") {
  $nhsuk-touch-target-gutter: 4px;
  $nhsuk-touch-target-size: $nhsuk-checkboxes-size + $nhsuk-touch-target-gutter;

  .nhsuk-checkboxes__item {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: nhsuk-spacing(2);
  }

  .nhsuk-checkboxes__item:last-child,
  .nhsuk-checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .nhsuk-checkboxes__input {
    // Allow the input to sit above the label, enabling its proper detection
    // when exploring by touch or using automation tools like Selenium
    z-index: 1;

    width: $nhsuk-touch-target-size;
    height: $nhsuk-touch-target-size;
    margin: 0;

    opacity: 0;

    cursor: pointer;
  }

  .nhsuk-checkboxes__label {
    align-self: center;

    // Ensure that the width of the label is never more than the width of the
    // container minus the input. This prevents the label from wrapping due to
    // __item using flex-wrap because we want hints on a separate line
    max-width: calc(100% - $nhsuk-touch-target-size);
    margin-bottom: 0;
    padding: (nhsuk-spacing(1) + $nhsuk-border-width-form-element) $nhsuk-checkboxes-label-padding-left-right;

    cursor: pointer;
    // remove 300ms pause on mobile
    touch-action: manipulation;
  }

  // [ ] Check box
  .nhsuk-checkboxes__label::before {
    content: "";

    box-sizing: border-box;

    position: absolute;
    top: math.div($nhsuk-touch-target-gutter, 2);
    left: math.div($nhsuk-touch-target-gutter, 2);

    width: $nhsuk-checkboxes-size;
    height: $nhsuk-checkboxes-size;

    border: $nhsuk-border-width-form-element solid $nhsuk-input-border-colour;

    background: $nhsuk-input-background-colour;
  }

  // ✔ Check mark
  //
  // The check mark is a box with a border on the left and bottom side (└──),
  // rotated 45 degrees
  .nhsuk-checkboxes__label::after {
    content: "";

    box-sizing: border-box;

    position: absolute;

    // Use "magic numbers" to define shape and position of check mark because
    // the complexity of the shape makes it difficult to calculate dynamically.
    top: 15px;
    left: $nhsuk-checkboxes-check-horizontal-position;

    width: 22px;
    height: 10px;

    transform: rotate(-45deg);

    border: solid;
    border-width: 0 0 4px 4px;
    // Fix bug in IE11 caused by transform rotate (-45deg).
    // See: alphagov/nhsuk_elements/issues/518
    border-top-color: transparent;

    opacity: 0;

    background: transparent;
  }

  .nhsuk-checkboxes__hint {
    display: block;
    width: 100%;
    margin-top: nhsuk-spacing(-1);
    padding-right: $nhsuk-checkboxes-label-padding-left-right;
    padding-left: ($nhsuk-checkboxes-label-padding-left-right + $nhsuk-touch-target-size);
  }

  // This is to bypass nhsuk-hint's specificity on hints following labels having
  // a margin bottom of 10px (nhsuk-spacing(2)). Because checkboxes are flexbox,
  // the margin doesn't collapse so we have to do this manually.
  .nhsuk-label:not(.nhsuk-label--m):not(.nhsuk-label--l):not(.nhsuk-label--xl) + .nhsuk-checkboxes__hint {
    margin-bottom: 0;
  }

  // Focused state
  .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label::before {
    @include nhsuk-focused-checkbox;
  }

  // Selected state
  .nhsuk-checkboxes__input:checked + .nhsuk-checkboxes__label::after {
    opacity: 1;
  }

  // Disabled state
  .nhsuk-checkboxes__input:disabled,
  .nhsuk-checkboxes__input:disabled + .nhsuk-checkboxes__label {
    cursor: not-allowed;
  }

  .nhsuk-checkboxes__input:disabled + .nhsuk-checkboxes__label,
  .nhsuk-checkboxes__input:disabled ~ .nhsuk-hint {
    opacity: 0.5;
  }

  // =========================================================
  // Dividers ('or')
  // =========================================================

  .nhsuk-checkboxes__divider {
    $nhsuk-divider-size: $nhsuk-checkboxes-size !default;
    width: $nhsuk-divider-size;
    margin-bottom: nhsuk-spacing(2);
    text-align: center;
    @include nhsuk-text-colour;
    @include nhsuk-font($size: 19);
  }

  // =========================================================
  // Conditional reveals
  // =========================================================

  // Calculate the amount of padding needed to keep the border centered against the checkbox.
  $conditional-border-padding: math.div($nhsuk-touch-target-size, 2) - math.div($nhsuk-border-width, 2);
  // Move the border centered with the checkbox
  $conditional-margin-left: $conditional-border-padding;
  // Move the contents of the conditional inline with the label
  $conditional-padding-left: $conditional-border-padding + $nhsuk-checkboxes-label-padding-left-right;

  .nhsuk-checkboxes__conditional {
    margin-left: $conditional-margin-left;
    padding-left: $conditional-padding-left;
    border-left: $nhsuk-border-width solid $nhsuk-input-border-colour;
    @include nhsuk-responsive-margin(4, "bottom");

    .nhsuk-frontend-supported &--hidden {
      display: none;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  // =========================================================
  // Small checkboxes
  // =========================================================

  .nhsuk-checkboxes--small {
    $input-offset: math.div($nhsuk-touch-target-size - $nhsuk-checkboxes-small-size, 2);

    .nhsuk-checkboxes__item {
      margin-bottom: 0;
    }

    // Shift the touch target into the left margin so that the visible edge of
    // the control is aligned
    //
    //   ┆What colours do you like?
    //  ┌┆───┐
    //  │┆[] │ Purple
    //  └┆▲──┘
    //  ▲┆└─ Check box pseudo element, aligned with margin
    //  └─── Touch target (invisible input), shifted into the margin
    .nhsuk-checkboxes__input {
      margin-left: $input-offset * -1;
    }

    .nhsuk-checkboxes__label {
      // Create a tiny space between the small checkbox hover state so that it
      // doesn't clash with the label
      padding-left: 1px;
    }

    // [ ] Check box
    //
    // Reduce the size of the check box [1], vertically center it within the
    // touch target [2]
    // Left here is 0 because we've shifted the input into the left margin
    .nhsuk-checkboxes__label::before {
      top: $input-offset; // 2
      left: 0;
      width: $nhsuk-checkboxes-small-size; // 1
      height: $nhsuk-checkboxes-small-size; // 1
    }

    // ✔ Check mark
    //
    // Reduce the size of the check mark and re-align within the checkbox
    .nhsuk-checkboxes__label::after {
      top: 18px;

      // Horizontal position is just the normal sized left value accounting for
      // the new width of the smaller checkbox
      left: (18px - $nhsuk-checkboxes-check-horizontal-position);
      width: 12px;
      height: 6px;
      border-width: 0 0 3px 3px;
    }

    // Fix position of hint with small checkboxes
    //
    // Do not use hints with small checkboxes – because they're within the input
    // wrapper they trigger the hover state, but clicking them doesn't actually
    // activate the control.
    //
    // (If you do use them, they won't look completely broken... but seriously,
    // don't use them)
    .nhsuk-checkboxes__hint {
      padding-left: ($nhsuk-checkboxes-small-size + $input-offset);
    }

    // Align conditional reveals with small checkboxes
    .nhsuk-checkboxes__conditional {
      $margin-left: math.div($nhsuk-checkboxes-small-size, 2) - math.div($nhsuk-border-width, 2);
      margin-left: $margin-left;
      padding-left: ($nhsuk-touch-target-size - $input-offset) - ($margin-left + $nhsuk-border-width);
    }

    .nhsuk-checkboxes__divider {
      width: $nhsuk-checkboxes-small-size;
      margin-bottom: nhsuk-spacing(1);
    }

    // Hover state for small checkboxes.
    //
    // We use a hover state for small checkboxes because the touch target size
    // is so much larger than their visible size, and so we need to provide
    // feedback to the user as to which checkbox they will select when their
    // cursor is outside of the visible area.
    .nhsuk-checkboxes__input:not(:disabled):hover + .nhsuk-checkboxes__label::before,
    .nhsuk-checkboxes__input:not(:disabled) + .nhsuk-checkboxes__label:hover::before {
      // Forced colours modes tend to ignore box-shadow.
      // Apply an outline for those modes to use instead.
      outline: $nhsuk-focus-width dashed transparent;
      outline-offset: 1px;
      box-shadow: 0 0 0 $nhsuk-hover-width $nhsuk-hover-colour;
    }

    // Because we've overridden the border-shadow provided by the focus state,
    // we need to redefine that too.
    //
    // We use two box shadows, one that restores the original focus state [1]
    // and another that then applies the hover state [2].
    .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
    .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
      // prettier-ignore
      box-shadow:
        0 0 0 $nhsuk-focus-width $nhsuk-focus-colour, // 1
        0 0 0 $nhsuk-hover-width $nhsuk-hover-colour; // 2

      // Set different HCM colour when we have both hover/focus applied at once
      @media screen and (forced-colors: active), (-ms-high-contrast: active) {
        outline-color: Highlight;
      }
    }

    // For devices that explicitly don't support hover, don't provide a hover
    // state (e.g. on touch devices like iOS).
    //
    // We can't use `@media (hover: hover)` because we wouldn't get the hover
    // state in browsers that don't support `@media (hover)` (like Internet
    // Explorer) – so we have to 'undo' the hover state instead.
    @media (hover: none), (pointer: coarse) {
      .nhsuk-checkboxes__input:not(:disabled):hover + .nhsuk-checkboxes__label::before,
      .nhsuk-checkboxes__input:not(:disabled) + .nhsuk-checkboxes__label:hover::before {
        box-shadow: initial;
      }

      .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
      .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
        box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-colour;
      }
    }
  }
}
