.nhsuk-c-pagination{
    margin:40px 0;
    padding: 24px 0 0 0;
    border-top:$nhsuk-border-colour 1px solid;

    a{
        max-width: 49%;
        font-size: 0.9em;
        display: block;
        text-decoration: none;
        position: relative;
    }
    .nhsuk-c-pagination-prev{
        float: left;
        padding-left:32px;

        &:after{
            content:'\2190';
            color: $nhsuk-black;
            font-size: 1.5em;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .nhsuk-c-pagination-next{
        float: right;
        padding-right:32px;

        &:after{
            content:'\2192';
            color: $nhsuk-black;
            font-size: 1.5em;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .nhsuk-c-pagination-title{
        display: block;
        color: $nhsuk-black;
    }
    .nhsuk-c-pagination-link{
        display: block;
        text-decoration: underline;
    }
    .clear{
        clear: both;
    }
}