{% set title = 'Home' %}
{% set navigation = 'transactional' %}
{% from "macros/callout.html" import callout %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                            <h1>NHS.UK redesign project</h1>
                            <p>Our latest progress and examples, including our problems, decisions and findings so far.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

                  <h2>Design &amp; development progress</h2>

                  <table class="nhsuk-table">
                    <thead>
                      <tr>
                        <th>Component</th>
                        <th class="th__status">Status</th>
                        <th>Description</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><a href="/styles/layout">Layout</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Page layout, grid, breakpoints and spacing.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/typography">Typography</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Headings, text, lists and links.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/colours">Colours</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Colour palettes.</td>
                      </tr>
                      <tr>
						            <td><a href="/styles/icons">Icons</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td>Iconography, SVG images and fallbacks.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/header-footer">Header &amp; Footer</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Site navigation and search &amp; Footer information and links.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/breadcrumbs">Breadcrumbs</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Responsive breadcrumb trail for all pages.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/callouts">Callouts</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Warning and information boxes.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/care-cards">Care Cards</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>Advice for users on when to get care.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/do-dont-lists">Do &amp; Don't lists</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>What to do and what not to do lists.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/action-link">Action links</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></td>
                        <td>A link to start an important or transactional journey.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/images">Images</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td>Images and videos within content.</td>
                      </tr>
                      <tr>
                      <tr>
                        <td><a href="/styles/tables">Tables</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a href="/styles/reveals">Reveals</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a href="/styles/video">Video</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a href="/styles/review-date">Page review date</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a href="/styles/multi-page-nav">Multi-page nav</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Homepage</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Health A-Z</td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a href="/styles/beta-banner">Banners: This service is new and feedback</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="nhsuk-reading-width">
                        <h2>Useful information</h2>
                        <ul>
							              <li>our <a href="examples">example pages</a> for user testing and visual examples.</li>
                            <li>the <a href="https://github.com/nhsuk/frontend.git">public GitHub repository</a> of our design code.</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
