{% set title = 'Home' %}
{% from 'components/hero/macro.njk' import hero %}
{% extends 'includes/layout.njk' %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "https://www.nhs.uk/conditions",
          "label" : "Health A-Z"
        },
        {
          'url' : 'https://www.nhs.uk/live-well/',
          'label' : 'Live Well'
        },
        {
          'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
          'label' : 'Care and support'
        },
        {
          'url'  : 'https://www.nhs.uk/news/',
          'label' : 'Health news'
        },
        {
          'url' : 'https://www.nhs.uk/service-search',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

{% block body %}
	{{ hero({
  "heading": "NHS.UK Frontend",
  "text": "Find out how to use NHS.UK Frontend, how to use the code in your services and contribute changes."
  }) }}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    <h2>Components</h2>

    <ul>
      <li><a href="/pages/components">All</a></li>
      <li><a href="/pages/components/action-link">Action link</a></li>
      <li><a href="/pages/components/breadcrumb">Breadcrumb</a></li>
      <li><a href="/pages/components/care-card-grey">111 Care Card</a></li>
      <li><a href="/pages/components/care-card-blue">Primary Care Card</a></li>
      <li><a href="/pages/components/care-card-red">Emergency Care Card</a></li>
      <li><a href="/pages/components/care-card-black">Urgent Care Card</a></li>
      <li><a href="/pages/components/details">Details</a></li>
      <li><a href="/pages/components/do-dont-list">Do and Don't list</a></li>
      <li><a href="/pages/components/emergency-alert">Emergency alert</a></li>
      <li><a href="/pages/components/expander">Expander</a></li>
      <li><a href="/pages/components/expander-group">Expander group</a></li>
      <li><a href="/pages/components/feedback-banner">Feedback banner</a></li>
      <li><a href="/pages/components/footer">Footer</a></li>
      <li><a href="/pages/components/header">Header</a></li>
      <li><a href="/pages/components/header-transactional">Header transactional</a></li>
      <li><a href="/pages/components/header-navigation">Header with navigation</a></li>
      <li><a href="/pages/components/header-search">Header with search</a></li>
      <li><a href="/pages/components/hero">Hero</a></li>
      <li><a href="/pages/components/hero-image">Hero with image</a></li>
      <li><a href="/pages/components/hero-image-content">Hero with image with content</a></li>
      <li><a href="/pages/components/images">Images</a></li>
      <li><a href="/pages/components/inset-text">Inset text</a></li>
      <li><a href="/pages/components/pagination">Pagination</a></li>
      <li><a href="/pages/components/panel">Panel</a></li>
      <li><a href="/pages/components/panel-grey">Panel with grey background</a></li>
      <li><a href="/pages/components/panel-with-label">Panel with label</a></li>
      <li><a href="/pages/components/promo">Promo</a></li>
      <li><a href="/pages/components/promo-no-description">Promo with no description</a></li>
      <li><a href="/pages/components/promo-small">Promo small</a></li>
      <li><a href="/pages/components/promo-with-image">Promo with image</a></li>
      <li><a href="/pages/components/review-date">Review date</a></li>
      <li><a href="/pages/components/skip-link">Skip link</a></li>
      <li><a href="/pages/components/tables">Tables</a></li>
      <li><a href="/pages/components/warning-callout">Warning callout</a></li>
    </ul>

  </main>
</div>
{% endblock %}

{% block footer %}
  {% set primaryLinks = [
    {
      'URL'  : 'https://www.nhs.uk/Pages/nhs-sites.aspx',
      'label' : 'NHS sites'
    },
    {
      'URL' : 'https://www.nhs.uk/about-us',
      'label' : 'About us'
    },
    {
      'URL'  : 'https://www.nhs.uk/Pages/contact-us.aspx',
      'label' : 'Contact us'
    },
    {
      'URL'  : 'https://www.nhs.uk/Personalisation/Login.aspx',
      'label' : 'Profile editor login'
    }
  ]
  %}

  {% set secondaryLinks = [
      {
        'URL'  : 'https://www.nhs.uk/choices/pages/sitemap.aspx',
        'label' : 'Sitemap'
      },
      {
        'URL' : 'https://www.nhs.uk/accessibility/',
        'label' : 'Accessibility'
      },
      {
        'URL'  : 'https://www.nhs.uk/our-policies/',
        'label' : 'Our policies'
      }
    ]
  %}

  {{ footer(primaryLinks, secondaryLinks) }}
{% endblock %}
