{% set title = 'Home' %}
{% from 'components/hero/macro.njk' import hero, heroImage, heroImageContent %}
{% from 'components/promo/macro.njk' import promo %}
{% extends 'includes/site-layout.njk' %}

{% block body %}
<div class="nhsuk-width-container-fluid">
	{{ hero('NHS.UK frontend', '') }}
</div>

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
  </main>
</div>
{% endblock %}
