{% set title = 'Home' %}
{% from 'components/hero/macro.njk' import hero %}
{% from 'components/promo/macro.njk' import promo %}
{% extends 'includes/page-layout.njk' %}

{% block body %}
	{{ hero({
  "heading": "NHS.UK frontend",
  "text": "Find out how to use NHS.UK frontend, how to use the code in your products and contribute changes."
  }) }}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
  </main>
</div>
{% endblock %}
