{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "nhsuk/macros/icon.njk" import nhsukIcon %}

{# There are 2 variants of this component, one for content pages which
has only previous and next links including the titles of those pages,
and one for navigating between pages of items, like search results.

The numbered variable sets which variant is being used, based on the
presence of items (pages). #}
{% set numbered = true if params.items %}

{# Numbered page - included as a link within a list item. #}
{%- macro _pageItem(item) -%}
  <li class="nhsuk-pagination--numbered__item {%- if item.current %} nhsuk-pagination--numbered__item--current{% endif %} {%- if item.ellipsis %} nhsuk-pagination--numbered__item--ellipses{% endif %} {%- if item.classes %} {{ item.classes }}{% endif %}">
  {% if item.ellipsis %}
    &ctdot;
  {% else %}
    <a class="nhsuk-pagination--numbered__link" href="{{ item.href }}" aria-label="{{ item.visuallyHiddenText | default("Page " + item.number) }}"
      {%- if item.current %} aria-current="page"{% endif %}
      {{- nhsukAttributes(item.attributes) }}>
      {{ item.number }}
    </a>
  {% endif %}
  </li>
{%- endmacro -%}

{# Link for the previous or next or next page, displayed at either end of
the numbered variant only, and including an arrow pointing left or right. #}
{%- macro _arrowLink(link, type = "next") %}
  {% set iconName = "arrow-left" if type == "prev" else "arrow-right" %}
  <div class="nhsuk-pagination--numbered__{{ type }}">
    <a class="nhsuk-pagination--numbered__link" href="{{ link }}" rel="{{ type }}">
      {%- if type == "prev" -%}
        {{ nhsukIcon(iconName) | indent(4, true) }}
      {%- endif -%}
      {{ caller() | safe }}
      {%- if type == "next" -%}
        {{ nhsukIcon(iconName) | indent(4, true) }}
      {%- endif -%}
    </a>
  </div>
{% endmacro -%}

<nav class="nhsuk-pagination {{ "nhsuk-pagination--numbered" if numbered }}
{%- if params.classes %} {{ params.classes }}{% endif %}" role="navigation" aria-label="Pagination"
{{- nhsukAttributes(params.attributes) }}>

  {%- if numbered %}

    {% if params.previousUrl %}
      {% call _arrowLink(params.previousUrl, "prev") -%}
        Previous<span class="nhsuk-u-visually-hidden"> page</span>
      {% endcall %}
    {% endif %}

    <ul class="nhsuk-pagination__list--numbered">
    {% for item in params.items %}
      {{ _pageItem(item) | indent(2) }}
    {% endfor %}
    </ul>

    {% if params.nextUrl %}
      {% call _arrowLink(params.nextUrl, "next") -%}
        Next<span class="nhsuk-u-visually-hidden"> page</span>
      {%- endcall %}
    {% endif %}

  {%- else %}

    <ul class="nhsuk-list nhsuk-pagination__list">
      {%- if params.previousUrl and params.previousPage %}
        <li class="nhsuk-pagination-item--previous">
          <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="{{ params.previousUrl }}">
            <span class="nhsuk-pagination__title">Previous</span>
            <span class="nhsuk-u-visually-hidden">:</span>
            <span class="nhsuk-pagination__page">{{ params.previousPage }}</span>
            {{ nhsukIcon("arrow-left") | indent(12, true) }}
          </a>
        </li>
      {%- endif %}
      {%- if params.nextUrl and params.nextPage %}
        <li class="nhsuk-pagination-item--next">
          <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="{{ params.nextUrl }}">
            <span class="nhsuk-pagination__title">Next</span>
            <span class="nhsuk-u-visually-hidden">:</span>
            <span class="nhsuk-pagination__page">{{ params.nextPage }}</span>
            {{ nhsukIcon("arrow-right") | indent(12, true) }}
          </a>
        </li>

      {%- endif %}
    </ul>
  {%- endif %}
</nav>
