@use "../../core/settings" as *;
@use "../../core/tools" as *;
@use "../../core/helpers" as *;
@forward "../button";
@forward "../input";

////
/// Search input component
///
/// @group components/search-input
////

@include nhsuk-exports("nhsuk/components/search-input") {
  .nhsuk-search-input__input {
    // Hide search input clear button (IE)
    &::-ms-clear {
      display: none;
    }

    // Hide search input icons and buttons (WebKit, Blink)
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::-webkit-search-cancel-button {
      align-self: center;

      width: nhsuk-px-to-rem(28px);
      height: nhsuk-px-to-rem(28px);
      margin: 0;

      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23212b32'><path d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'/></svg>");

      cursor: pointer;

      appearance: none;
    }
  }

  @include nhsuk-media-query($from: mobile) {
    .nhsuk-search-input__input {
      margin-right: -$nhsuk-border-width-form-element;

      .nhsuk-search-input--large & {
        height: nhsuk-px-to-rem(52px);
        padding-right: nhsuk-px-to-rem(nhsuk-spacing(2));
        padding-left: nhsuk-px-to-rem(nhsuk-spacing(2));
      }
    }

    // Remove border radius from left side
    .nhsuk-search-input__button,
    .nhsuk-search-input__button::before,
    .nhsuk-search-input__button::after {
      border-radius: 0 $nhsuk-border-radius $nhsuk-border-radius 0;
    }

    .nhsuk-search-input__button {
      height: nhsuk-px-to-rem(36px);

      &.nhsuk-button--reverse:not(:focus):not(:hover):not(:active) {
        background-color: nhsuk-tint($nhsuk-reverse-button-hover-colour, 30%);
      }

      .nhsuk-search-input--large & {
        height: nhsuk-px-to-rem(52px - $nhsuk-button-shadow-size);
      }

      // Prevent height change when pressed
      &:active,
      &:active:focus {
        top: 0;
        height: nhsuk-px-to-rem(36px + $nhsuk-button-shadow-size);
        margin-bottom: 0;

        .nhsuk-search-input--large & {
          height: nhsuk-px-to-rem(52px);
        }
      }
    }

    // Remove inner box shadow from left side
    .nhsuk-search-input__button:not(:focus)::after {
      left: -2px;
    }

    // Remove margin from left side
    .nhsuk-input-wrapper .nhsuk-search-input__button {
      margin-left: 0;
    }
  }

  @include nhsuk-media-query($from: tablet) {
    .nhsuk-search-input--large .nhsuk-search-input__input {
      height: nhsuk-px-to-rem(56px + $nhsuk-button-shadow-size);
    }

    .nhsuk-search-input--large .nhsuk-search-input__button {
      height: nhsuk-px-to-rem(56px);

      // Prevent height change when pressed
      &:active,
      &:active:focus {
        height: nhsuk-px-to-rem(56px + $nhsuk-button-shadow-size);
      }
    }
  }
}
