.nhsuk-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 24px 0;
  width: 100%;
  th,
  td {
    border-bottom: 1px solid $nhsuk-grey-3;
    padding: 1em 0.5em 1em 0;
    text-align: left;
    text-transform: none;
    &.td__status,
    &.th__status {
      width: 175px;
    }
  }
  th {
    font-weight: 600;
  }
}


.nhsuk-table2 {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 3em 0;
  width: 100%;
  background-color: $nhsuk-white ;
  border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
    padding-bottom:1em;
    border: 1px solid $nhsuk-grey-4;
    
  th,
  td {
    border-bottom: 1px solid $nhsuk-grey-2;
    padding: 1em 1em 1em 1em;
    text-align: left;
    text-transform: none;
    vertical-align: top;
    &.td__status,
    &.th__status {
      width: 175px;
    }
  }
caption {
font-weight: 600;
text-align: left;
padding: 0 0 1em 0;

}
  th {
    font-weight: 600;
    display: table-cell;
    background-color: #f0f4f5;
    border-bottom:2px solid black;
  }
}





/*COOP TABLE*/


.nhsuk-table3-card {
  background: #fff;
  border: 1px solid #d8dde0;
  margin: 56px 0 0;
  overflow: hidden;
  padding: 1em;
  position: relative;
}
.nhsuk-table3 {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  margin-top: 0em;
 }
caption {
  font-weight: 600;
  text-align: left;
  padding: 0 0 0 0;
    }
td {
  border-bottom: 1px solid $nhsuk-grey-4;
    }
tr {
  border-bottom: 1px solid $nhsuk-grey-4;
    }
.nhsuk-table3 caption {
  text-align: left; }
.nhsuk-table3 th { 
  font-weight: 600;
  display: table-cell;
    }
.nhsuk-table3 th,
.nhsuk-table3 td {
  padding: 1em 1em 1em 0em;
  text-align: left;
  vertical-align: top;
 }
.nhsuk-table3 thead { 
  border-bottom:2px solid #41B6E6;
  color: $nhsuk-grey-1;
    }
.nhsuk-table3 tbody th {
  position: relative; }
.nhsuk-table3 tbody th:after {
content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      width: 80%; }
    .nhsuk-table3 ul {
    margin-bottom: 0; }
@media (max-width: 480px) {
  .table-smallscreen--stacked th,
  .table-smallscreen--stacked td {
    padding: 1em 0.5em 1em 1em;
    text-align: left; }
  .table-smallscreen--stacked thead,
  .table-smallscreen--stacked tfoot {
    border-bottom: 0; }
    .table-smallscreen--stacked thead th,
    .table-smallscreen--stacked thead td,
    .table-smallscreen--stacked tfoot th,
    .table-smallscreen--stacked tfoot td {
      border: 0;
      clip: rect(0 0 0 0);
      height: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 0;
      opacity: 0;
      letter-spacing: 0; }
  .table-smallscreen--stacked tbody th {
    display: block;
    margin-top: 1em;
    border-bottom:2px solid #41B6E6;
    background-color: $nhsuk-grey-5;
  }
  .table-smallscreen--stacked tbody .table-smallscreen--stacked_hidden {
    display: none; }
  .table-smallscreen--stacked tbody td {
    display: block;
    border-bottom: 0; }
    .table-smallscreen--stacked tbody td:before {
      content: attr(data-th) "";
      vertical-align: top;
      width: 40%;
      display: inline-block;
      font-weight: 600; }
  .table-smallscreen--stacked tbody th:after {
    border-bottom: 0; }
  .table-smallscreen--stacked tbody ul {
    display: inline-block;
    margin-left: -5px; }
  .table-smallscreen--stacked tbody a {
    margin-left: -5px; } }

.unstyled-table {

  margin-bottom: 0; }
  .unstyled-table th, .unstyled-table td {
    padding: 8px 0; }
    @media (min-width: 750px) {
  .unstyled-table th, .unstyled-table td {
    padding: 16px; } }
  .unstyled-table thead th {
    background: #FFFFFF; }
  .unstyled-table tbody th,
  .unstyled-table tbody td {
    background: #FFFFFF;
    border-bottom: 0;
    font-weight: normal; }

