// Core
@import 'core/all';

// Components
@import 'components/action-link/action-link';
@import 'components/back-link/back-link';
@import 'components/breadcrumb/breadcrumb';
@import 'components/button/button';
@import 'components/care-card/care-card';
@import 'components/checkboxes/checkboxes';
@import 'components/contents-list/contents-list';
@import 'components/date-input/date-input';
@import 'components/details/details';
@import 'components/do-dont-list/do-dont-list';
@import 'components/emergency-alert/emergency-alert';
@import 'components/error-message/error-message';
@import 'components/error-summary/error-summary';
@import 'components/feedback-banner/feedback-banner';
@import 'components/fieldset/fieldset';
@import 'components/footer/footer';
@import 'components/header/header';
@import 'components/hero/hero';
@import 'components/hint/hint';
@import 'components/images/images';
@import 'components/input/input';
@import 'components/inset-text/inset-text';
@import 'components/label/label';
@import 'components/list-panel/list-panel';
@import 'components/nav-a-z/nav-a-z';
@import 'components/pagination/pagination';
@import 'components/panel/panel';
@import 'components/promo/promo';
@import 'components/radios/radios';
@import 'components/review-date/review-date';
@import 'components/select/select';
@import 'components/skip-link/skip-link';
@import 'components/summary-list/summary-list';
@import 'components/tables/tables';
@import 'components/textarea/textarea';
@import 'components/warning-callout/warning-callout';

// Organisational Header

.app-header--organisation {
  background-color: $color_nhsuk-white;

  .nhsuk-header__link {
    height: auto;
    text-decoration: none;
    width: auto;
  }

  .nhsuk-icon__search {
    fill: $color_nhsuk-white;
  }
  .nhsuk-search__submit {
    background: $color_nhsuk-blue;
  }
  .autocomplete__input {
    border: 1px solid $nhsuk-border-color;
  }

  .nhsuk-header__logo .nhsuk-logo {

    @include mq($until: tablet) {
      height: 20px;
      width: 50px;
    }
  }

  .nhsuk-header__navigation {
    max-width: 100%;
  }

  .nhsuk-header__search-toggle,
  .nhsuk-header__menu-toggle {
    border-color: $color_nhsuk-blue;
    color: $color_nhsuk-blue;

    .nhsuk-icon {
      fill: $color_nhsuk-blue;
    }
  }

  .nhsuk-header__search-form {
    @include mq($until: tablet) {
      padding-top: 0;
    }
  }

  .nhsuk-header__menu-toggle:hover, .nhsuk-header__menu-toggle:active, .nhsuk-header__menu-toggle.is-active,
  .nhsuk-header__search-toggle:hover, .nhsuk-header__search-toggle:active, .nhsuk-header__search-toggle.is-active {
      background-color: #f0f4f5;
      border-color: #002f5c;
      box-shadow: none;
      color: #002f5c;

      .nhsuk-icon {
        fill: #002f5c;
      }
  }
}

.app-header-nav {
  background: $color_nhsuk-blue;
}

.app-org-title {
  display: block;
  font-weight: bold;
  color: #000;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.2px;
  margin-top: -2px;

  @include mq($until: tablet) {
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.1px;
  }

  @media (max-width:375px) {
    font-size: 13px;
    line-height: 13px;
  }

  .app-org-title--split {
    display: block;
  }

}

.app-org-description {
  color: $color_nhsuk-blue;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;

  @include mq($until: tablet) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width:375px) {
    font-size: 8px;
    line-height: 13px;
  }
}
