/* ==========================================================================
   COMPONENTS / #CONTENTS-LIST
   ========================================================================== */

.nhsuk-c-contents-list {
  @include nhsuk-responsive-margin(7, 'bottom');
}

.nhsuk-c-contents-list__list {
  list-style: none;
  padding: 0;
}

.nhsuk-c-contents-list__item {
  padding: 0 0 0 nhsuk-spacing(5);
  position: relative;

  &:before {
    color: $colour_nhsuk-grey-3;
    content: '\2014';
    left: 0;
    position: absolute;
    top: 0;
  }

}

.nhsuk-c-contents-list__link {
  display: inline-block;
}

.nhsuk-c-contents-list__current {
  font-weight: $nhsuk-font-bold;
}
