/* ==========================================================================
   COMPONENTS / #CONTENTS-LIST
   ========================================================================== */

/**
 * 1. Creates a grey line before each list
 *    item using a ASCII number for the symbol.
**/

.nhsuk-contents-list {
  @include nhsuk-responsive-margin(7, 'bottom');
}

.nhsuk-contents-list__list {
  list-style: none;
  padding: 0;
}

.nhsuk-contents-list__item {
  padding: 0 0 0 nhsuk-spacing(5);
  position: relative;

  &:before {
    color: $color_nhsuk-grey-3;
    content: '\2014'; /* [1] */
    left: 0;
    position: absolute;
    top: 0;
  }

}

.nhsuk-contents-list__link {
  display: inline-block;
}

.nhsuk-contents-list__current {
  font-weight: $nhsuk-font-bold;
}
