/* ==========================================================================
   COMPONENTS / #DETAILS
   ========================================================================== */

/**
 * Details component.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Style the summary to look like a link...
 * 2. Make the focus outline shrink-wrap the text content of the summary
 * 3. Absolutely position the marker against this element
 * 3. Allow for absolutely positioned marker and align with disclosed text
 * 4. Only underline the text, not the arrow
 * 5. Remove the default details marker so we can style our own consistently and
 *    ensure it displays in Firefox
 */

.nhsuk-details {
  @include nhsuk-text-colour;
  @include nhsuk-responsive-margin(6, 'bottom');
  @include nhsuk-typography-responsive(19);
  display: block;
}

.nhsuk-details__summary {
  color: $colour_nhsuk-blue; // [1] //
  cursor: pointer;
  display: inline-block; // [2] //
  margin-bottom: nhsuk-spacing(1);
  padding-left: nhsuk-spacing(4);
  position: relative; // [3] //

  @include nhsuk-link-style-hover();
  @include nhsuk-link-style-focus();

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;

    @include govuk-shape-arrow($direction: right, $base: 14px);

    .nhsuk-details[open] > & { // sass-lint:disable-line force-attribute-nesting
      @include govuk-shape-arrow($direction: down, $base: 14px);
    }
  }

}

.nhsuk-details__summary-text {
  text-decoration: underline; // [4] //
}

.nhsuk-details__summary::-webkit-details-marker { // sass-lint:disable-line force-pseudo-nesting
  display: none; // [5] //
}

.nhsuk-details__text {
  border-left: 4px solid $colour_nhsuk-blue;
  margin-top: 8px;
  padding: nhsuk-spacing(3);
  padding-left: nhsuk-spacing(4);

  p {
    margin-bottom: nhsuk-spacing(4);
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

}
