name: Deploy

on:
  push:
    branches:
      - main

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest

    env:
      PUPPETEER_SKIP_DOWNLOAD: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/workflows/actions/install

  build:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [install]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Restore dependencies
        uses: actions/cache/restore@v5
        with:
          fail-on-cache-miss: true
          key: npm-install-${{ hashFiles('package-lock.json') }}
          path: node_modules

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          package-manager-cache: false

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: packages/nhsuk-frontend-review/dist

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
