name: Sass

on:
  workflow_call:
  workflow_dispatch:

jobs:
  sass:
    name: Dart Sass ${{ matrix.package.version }}
    runs-on: ubuntu-latest

    env:
      PUPPETEER_SKIP_DOWNLOAD: true

      RULE_1: '@import "nhsuk";'
      RULE_2: '@use "nhsuk" as *;'
      RULE_3: '@forward "nhsuk";'
      RULE_4: '@forward "node_modules/nhsuk-frontend/dist/nhsuk";'
      RULE_5: '@forward "node_modules/nhsuk-frontend/dist/nhsuk/core";'
      RULE_6: '@forward "node_modules/nhsuk-frontend/dist/nhsuk/core/all";'
      RULE_7: '@forward "pkg:nhsuk-frontend";'

    strategy:
      fail-fast: false

      matrix:
        package:
          # Release without major deprecations
          - version: 1.77.6

          # Release with `mixed-decls` deprecated
          - version: 1.77.7

          # Release with `color-functions` deprecated
          - version: 1.79.0

          # Release with `import` deprecated
          - version: 1.80.0

          # Release with `misplaced-rest` deprecated
          - version: 1.91.0

          # Release with `if-function` deprecated
          - version: 1.95.0

          # Dart Sass latest major version
          - tag: latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install and build
        uses: ./.github/workflows/actions/build

      - name: Install package
        run: |
          npm install -g sass@${{ matrix.package.version || matrix.package.tag }}
          sass --version

      - name: Create test files
        run: |
          mkdir -p .tmp
          echo '${{ env.RULE_1 }}' > .tmp/input1.scss
          echo '${{ env.RULE_2 }}' > .tmp/input2.scss
          echo '${{ env.RULE_3 }}' > .tmp/input3.scss
          echo '${{ env.RULE_4 }}' > .tmp/input4.scss
          echo '${{ env.RULE_5 }}' > .tmp/input5.scss
          echo '${{ env.RULE_6 }}' > .tmp/input6.scss
          echo '${{ env.RULE_7 }}' > .tmp/input7.scss

      - name: Check compilation
        run: |
          time sass packages/nhsuk-frontend/dist/nhsuk/nhsuk.scss ${{ format(matrix.package.version && '--fatal-deprecation {0}' || '', matrix.package.version) }} --load-path . .tmp/check.css

      - name: Check load paths
        run: |
          time sass .tmp/input1.scss --load-path packages/nhsuk-frontend/dist .tmp/check1.css
          time sass .tmp/input2.scss --load-path packages/nhsuk-frontend/dist .tmp/check2.css
          time sass .tmp/input3.scss --load-path packages/nhsuk-frontend/dist .tmp/check3.css
          time sass .tmp/input4.scss --load-path . .tmp/check4.css
          time sass .tmp/input5.scss --load-path . .tmp/check5.css
          time sass .tmp/input6.scss --load-path . .tmp/check6.css

      - name: Check package importer
        run: |
          time sass .tmp/input7.scss --pkg-importer node .tmp/check7.css

      # Check output for uncompiled Sass
      - name: Check output
        run: |
          ! grep "\$nhsuk-" .tmp/check.css
          ! grep "\$nhsuk-" .tmp/check1.css
          ! grep "\$nhsuk-" .tmp/check2.css
          ! grep "\$nhsuk-" .tmp/check3.css
          ! grep "\$nhsuk-" .tmp/check4.css
          ! grep "\$nhsuk-" .tmp/check5.css
          ! grep "\$nhsuk-" .tmp/check6.css
          ! grep "\$nhsuk-" .tmp/check7.css
