{% set title = 'Input with error message, prefix and suffix' %}
{% from 'components/input/macro.njk' import input %}
{% extends 'layout.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ input({
        "label": {
          "text": "What is the cost per item, in pounds?",
          "classes": "nhsuk-label--l"
        },
        "id": "input-with-error-message-and-prefix-and-suffix",
        "name": "test-name-7",
        "prefix": "£",
        "suffix": "per item",
        "classes": "nhsuk-input--width-5",
        "errorMessage": {
          "text": "Enter a cost per item, in pounds"
        }
      }) }}
    </div>
  </div>
{% endblock %}
