{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Input' %}
{% from 'components/input/macro.njk' import input %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ input({
            "label": {
              "text": "National Insurance number"
            },
            "id": "input-example",
            "name": "test-name"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
