{% set title = 'Input with suffix' %}
{% from 'components/input/macro.njk' import input %}
{% extends '_templates/example.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ input({
        "label": {
          "text": "What is the weight in kilograms?",
          "classes": "nhsuk-label--l"
        },
        "id": "input-with-suffix",
        "name": "test-name-5",
        "suffix": "kg",
        "classes": "nhsuk-input--width-5"
      }) }}
    </div>
  </div>
{% endblock %}
