@import '../../src/globals/helpers/clearfix';

.nhsuk-c-panel__blockquote {
    @include clear();
    border-top: 4px solid $nhsuk-blue;
    margin: 64px 0 40px;
    padding: 48px 32px 32px;

    @include mq($until: tablet) {
        margin: 52px 0 32px;
        padding: 40px 24px 24px;
    }

    &:before {
        content:'';
        background: url(/images/blockquote/icon-quote.svg) no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 48px;
        left: 0;
        position: absolute;
        top: -26px;
        width: 48px;

        @include mq($until: tablet) {
            height: 40px;
            left: 0;
            top: -22px;
            width: 40px;
        }
    }

    blockquote {
        @include top-and-bottom();
        float: left;
        margin: 0;
        max-width: 60%;

        p {
            font-weight: 600;
        }

        footer {
            color: $nhsuk-secondary-text-colour;
            font-size: 16px;
            line-height: 24px;
            margin-top: 32px;

            @include mq($until: tablet) {
                font-size: 14px;
                line-height: 24px;
                margin-top: 24px;
            }
        }
    }
    img {
        border-radius: 50%;
        height: 100px;
        float: right;
        margin: -8px 0 0;
        width: 100px;

        @include mq($until: tablet) {
            height: 80px;
            width: 80px;
        }
    }

}

.nhsuk-section--white {
    .nhsuk-c-panel__blockquote {
        background: $nhsuk-grey-5;
    }
}
