{% set title = 'Home' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                            <h1>NHS.UK redesign project</h1>
                            <p>Our latest progress and examples, including our problems, decisions and findings so far.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

                  <div class="nhsuk-c-callout__warning" role="alert">
                        <p>This is work in progress. Our code, examples and styles are being iterated. Do not use in live services.</p>
                        <p><a href="mailto:dan.brayshaw@nhs.net">Liaise with our delivery manager Dan Brayshaw</a> before using them in your prototypes. This will allow us to work together and get your feedback.</p>
                  </div>

                  <h2>Design &amp; development progress</h2>

                  <table class="nhsuk-table">
                    <thead>
                      <tr>
                        <th>Component</th>
                        <th class="th__status">Status</th>
                        <th>Description</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><a href="/styles/layout">Layout</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td>Page layout, grid, breakpoints and spacing.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/typography">Typography</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td>Headings, text, lists and links.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/colours">Colours</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td>Colour palettes.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/header-footer">Header &amp; Footer</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__development">Development</span></td>
                        <td>Site navigation and search &amp; Footer information and links.</td>
                      </tr>
                      <tr>
						            <td><a href="/styles/icons">Icons</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__testing">Testing</span></td>
                        <td>Iconography, SVG images and fallbacks.</td>
                      </tr>
                      <tr>
                        <td><a href="/styles/callouts">Callouts &amp; Care Cards</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>Information, warning and instruction boxes.</td>
                      </tr>
					            <tr>
                        <td><a href="/styles/breadcrumbs">Breadcrumbs</a></td>
                        <td class="td__status"><span class="nhsuk-tag nhsuk-tag__design">Design</span></td>
                        <td>Responsive breadcrumb trail for all pages.</td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="reading-width">
                        <h2>Useful information</h2>
                        <ul>
							              <li>our <a href="examples">example pages</a> for user testing and visual examples.</li>
                            <li>our <a href="https://trello.com/b/uMdaerUp/standards-hitlist">Trello board</a>, for collaborating with NHS.UK designers and developers</li>
                            <li>the <a href="https://github.com/nhsuk/frontend.git">public GitHub repository</a> of our design code.</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
