// Import anything from globals required for this component (as little as possible)
// @import "../globals/helpers/typography";

.c-nav-primary {

  @include mq($until: large-desktop) {
    background: $nhsuk-white;
    display: none;

    &.js-show {
      display: block;
    }

    .nhsuk-o-width-container {
      margin: 0;
    }

    &__title {
      font-weight: $nhsuk-font-bold;
      margin: 0;
      padding: 12px 38px 12px 30px;
      position: relative;

      @include mq($until: tablet) {
        margin: 0 24px 0 0;
        padding: 16px;
      }

      .c-nav-primary__close-link {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" height="24px" width="24px"><defs><style>.cls-1{fill:none;stroke:%230058AD;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line class="cls-1" x1="1" y1="1" x2="11" y2="11"/><line class="cls-1" x1="1" y1="11" x2="11" y2="1"/></g></g></svg>');
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        position: absolute;
        right: 24px;
        text-indent: -9999px;
        top: 8px;
        width: 40px;

        @include mq($until: tablet) {
          right: -8px;
        }

        &:hover {
          background-color: transparent;
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" height="24px" width="24px"><defs><style>.cls-1{fill:none;stroke:%23002c57;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line class="cls-1" x1="1" y1="1" x2="11" y2="11"/><line class="cls-1" x1="1" y1="11" x2="11" y2="1"/></g></g></svg>');
          box-shadow: none;
        }

        &:focus {
          background-color: transparent;
          border-radius: 4px;
        }

      }


    }

    &__list {
      border-bottom: 4px solid $nhsuk-grey-5;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      border-top: 1px solid $nhsuk-grey-5;
      margin: 0;

    }

    &__link {
      background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="64px"><defs><style>.cls-1{fill:%23aeb7bd;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');
      background-position: center right;
      background-repeat: no-repeat;
      color: $nhsuk-blue;
      display: block;
      padding: 12px 30px;

      @include mq($until: tablet) {
        background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="41px"><defs><style>.cls-1{fill:%23aeb7bd;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');
        padding: 16px;
      }

      text-decoration: none;

      &:visited {
        color: $nhsuk-blue;
      }

      &:hover {
        background-color: $nhsuk-blue;
        background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="64px"><defs><style>.cls-1{fill:%23ffffff;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');

        @include mq($until: tablet) {
          background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="41px"><defs><style>.cls-1{fill:%23ffffff;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: none;
        color: $nhsuk-white;
      }

      &:active {
        background-color: $nhsuk-blue-shade-35;
        background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="64px"><defs><style>.cls-1{fill:%23ffffff;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');

        @include mq($until: tablet) {
          background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="41px"><defs><style>.cls-1{fill:%23ffffff;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: none;
        color: $nhsuk-white;
      }

      &:focus {
        background-color: transparent;
        background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="64px"><defs><style>.cls-1{fill:%23aeb7bd;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');

        @include mq($until: tablet) {
          background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32px" width="41px"><defs><style>.cls-1{fill:%23aeb7bd;}</style></defs><path class="cls-1" d="M15.5,12a1,1,0,0,1-.29.71l-5,5a1,1,0,0,1-1.42-1.42L13.09,12,8.79,7.71a1,1,0,0,1,1.42-1.42l5,5A1,1,0,0,1,15.5,12Z"/></svg>');
        }

        background-position: center right;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 4px $nhsuk-focus-colour;
        color: $nhsuk-blue;
      }

    }

  }

  @include mq($from: large-desktop) {

    @include clear();
    background: $nhsuk-blue;

    &__title {
      display: none;
    }

    &__list {
      border-top: 1px solid $nhsuk-secondary-border-colour;
      display: table;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &__item {
      display: table-cell;
      text-align: center;
    }

    &__link {
      color: $nhsuk-white;
      display: block;
      font-size: 17px;
      line-height: 20px;
      padding: 16px 0;
      text-decoration: none;

      &:visited {
        color: $nhsuk-white;
      }

      &:hover {
        background: $nhsuk-blue-shade-35;
        box-shadow: none;
        color: $nhsuk-white;
      }

      &:focus {
        background: $nhsuk-blue;
        box-shadow: 0 0 0 4px inset $nhsuk-focus-colour;
        color: $nhsuk-white;
      }

      &:active {
        background: $nhsuk-blue-shade-50;
        box-shadow: none;
        color: $nhsuk-grey-5;
      }

      &.active {
        background: $nhsuk-blue-shade-20;
      }

    }
  }
}
